[2019-11-14 19:34] brandonroberts commented on #2260
Waiting for a reproduction, or more context about the environment.

[2019-11-14 22:41] Fry-kun opened #2261 "Style guide is missing"
https://ngrx.io/guide/style-guide doesn't have any info

## Other information:

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-11-14 22:45] jonrimmer commented on #1826
@Odonno I don't see the reducer/selectors as replacing the effect so much as automatically reflecting its opaque, internal state in a way that you can bind to within the UI. E.g if you have an effect, but don't have a reducer/state, how would you know when to show the loading component?

[2019-11-15 02:32] brandonroberts commented on #2261
The style guide is not active yet

[2019-11-15 02:32] #2261 closed

[2019-11-15 07:33] Odonno commented on #1826
Well. Yes, you have to incorporate it in the root state. But, now I get it. The `lifecycle` will always be a layer on top of `Effect`. That's smart. But to make it work, you clearly need a unique identifier that will be used to store lifecycles as a key-value dictionary, like it is done with `@ngrx/entity`. And so you can query a single lifeycle or all the lifycles running in the app.

[2019-11-15 11:30] zakhenry opened #2262 "Effects documentation should explicitly state that decorated @Effect members must be public"
Recent changes to the `@Effect` decorator has now forced effect members to be public on the class, causing a very confusing error:

[code]

will result in a TS error:

[code]
The fix is to simply omit the `private` keyword, or make it `public`.

If there is more than one effect in the class, you get a different error, which is equally confusing:

[code]
Gives error:
[code]

The docs don't use `pub

[2019-11-15 12:00] eddietisma opened #2263 "Store: MockReducerManager crashes with reducerManager.addFeatures is not a function"
## Minimal reproduction of the bug/regression with instructions:

_provideMockStore_ crashes when using forFeature imports.

1. Add a module that imports using ngrx forFeature.
[code]

2. Writing a unit test with _provideMockStore_ and import the module.

`TypeError: reducerManager.addFeatures is not a function`

**Stackblitz with repro:**
https://stackblitz.com/edit/ngrx-seed-wrbv4t

## Expected

[2019-11-15 12:29] SenthilKumaranC commented on #1326
I can able to retain state now with lazy loading reducers but not using update reducers. I have maintained a deferred action collection , on module load ngOnit executing the action collection. For time being , this is ok for me.

One drawback is for each action call ,  there will be two failed action call and success action call while replaying.

[2019-11-16 18:01] jordanpowell88 commented on #2221
Sorry for the long mess here, my forked branch got all jacked up. Should be good now

[2019-11-16 18:36] jordanpowell88 commented on #2236
@brandonroberts Where should the documentation go?

[2019-11-16 20:24] JoostK commented on #2260
Hi folks, I have a fix here: https://github.com/angular/angular/pull/33875

Thanks @brandonroberts and others who helped with providing reproductions!

[2019-11-17 11:55] #2221 closed

[2019-11-18 08:09] DoanVanThuong commented on #186
Hi, How i can unsubscribe ngrx router selector

[2019-11-18 10:22] free-easy commented on #2205
I'm facing the same problem

[2019-11-18 17:09] harm-less commented on #2205
I tried figuring out the original issue but to no avail. This is such a weird problem because every time I try to isolate the issue, I get stuck.

[2019-11-18 17:36] JoostK commented on #2260
Another update: angular/angular#33875 was just merged and should be available in a release later this week.

[2019-11-18 17:45] timdeschryver commented on #2260
Thanks @JoostK 👍

[2019-11-18 18:28] timdeschryver commented on #2227
I think you're right @Jefiozie

[2019-11-18 18:47] timdeschryver commented on #2262
@alex-okrushko should we partially revert the commit to allow private members, because this seems like a breaking change. We can re-add add this as a breaking change for v9, or leave it as previously because it doesn't add anything(?) for the dev creating an effect.

The cause is `K extends EffectPropertyKey<T>`:
https://github.com/ngrx/platform/blob/master/modules/effects/src/effect_decorator.ts#

[2019-11-18 21:11] Jefiozie commented on #2227
Okay, if @brandonroberts also agree on this we can close the ticket. 😊

[2019-11-20 00:43] #2260 closed

[2019-11-20 13:32] #2228 closed

[2019-11-20 13:33] #2263 closed

[2019-11-20 13:35] Jefiozie commented on #2206
Hi @timdeschryver and @maartentibau, did one of you guys already worked on this?
I would like to help or pick up this ticket, however, I'm not exactly sure what I need to do.

My understanding of this ticket is that we would like to have migrated the default actions based on the new `createAction` ticket. Is this correct?

[2019-11-20 17:09] httpete commented on #2077
This isn't documented https://ngrx.io/guide/data/extension-points#replace-the-httpurlgenerator

But it is really needed, I can't imagine anyone's real world rest api follows the out of the box conventions.

I had success by:

`import { DefaultHttpUrlGenerator, HttpResourceUrls, normalizeRoot, Pluralizer } from '@ngrx/data';
import { Injectable } from '@angular/core';

@Injectable()
export class Ap

[2019-11-20 17:57] timdeschryver commented on #2206
I'm not working on this.

We want to have both options (action type enum and action creator), familiar to https://github.com/ngrx/platform/pull/2219.

[2019-11-20 18:28] Jefiozie commented on #2206
Okay, if @maartentibau doesn't mind I can have a look at this issue. ☺️

[2019-11-20 18:36] maartentibau commented on #2206
@Jefiozie I don't mind if you have a look. I didn't really have a lot of time to look at it. But I'm certainly willing to help out if need be.

Sadly ... the time I can spend on OSS is very very limited these days, but since I'm using the creator methods now on a very frequent base I thought I could help out. But again... finding the time to do it is the hardest part.

So sure... feel free to star

[2019-11-20 19:23] Jefiozie commented on #2206
So I  added a draft PR, should we update the docs (https://ngrx.io/guide/router-store/actions) as well?

[2019-11-20 19:55] timdeschryver commented on #2206
I think we should, we're going to make the creator functions the default in v9.x so I think it will be helpful to add it to the docs.

I think we should update the docs with the emphasis on the creator function, and add a note that the action types can still be used.
Similar to actions/reducers/effects in the [current docs](https://ngrx.io/guide/effects#writing-effects):

![image](https://user-ima

[2019-11-21 02:39] PhilippeRoy commented on #1496
Hi @Teebo,

I had a similar issue. The issue was I had two node_module folders, one at the root and one nested. As well as package.json for the project at the root and another package.json nested for the library. I removed the nested node modules and let the nested package.json inherit the nodule_modules from the root and this resolved it.

Hope this helps.

[2019-11-21 03:48] brandonroberts commented on #2077
@httpete would you like to submit a PR to add the example to the docs?

[2019-11-21 05:38] Teebo commented on #1496
@PhilippeRoy thank you, I have noted that

[2019-11-21 20:18] omaracrystal commented on #170
CODE:

index.ts (for state)
[code]

core.module.ts:
[code]

ERROR:
[code]

[2019-11-23 14:34] lalosh commented on #1054
For me I was shocked to find out the commenting the code for StoreDevToolsModule in app.module fixed the problem of two actions being dispatched instead of one
[code]
can anyone help find a fix, so we can keep using the dev tool?

[2019-11-23 17:33] brandonroberts commented on #1054
@lalosh open a new issue with a reproduction of the issue. Include the version of NgRx you're using.

[2019-11-23 17:40] wundo commented on #994
Hi @leonardochaia
were you able to dig into this? what were your findings?

Cheers

[2019-11-24 23:53] jemerald commented on #1993
This only hides the problem, which is to do with `@ngrx/data` trying to pass the `HttpErrorResponse` object in the action payload. The `HttpErrorResponse` object contains function definitions that cannot be serialized.

`@ngrx/data` should either map the `HttpErrorResponse` to simple object, or provide an override for HTTP error response mapping, or both.

[2019-11-25 14:55] leonardochaia commented on #994
Hi @wundo, unfortunately I was delayed with other projects and haven't been able to dig into this. It's still on the backlog so I'll definitively take a look soon.

[2019-11-27 11:39] alex-okrushko commented on #2262
In TS, everything is `public` by default, and explicit keyword is not necessary (https://www.typescriptlang.org/docs/handbook/classes.html#public-by-default). Personally, I think enforcing this with lint is strange.

Technically, these props are used outside of the Effect Classes and `private` means that they should be only used within the class, so making them `private` doesn't make sense to me.

[2019-11-27 12:57] DenisValcke opened #2279 "Can't use export default for reducers (AOT issue)"
## Minimal reproduction of the bug/regression with instructions:
I have create a reducer following most documentation:
[code]

But if I do the above, in production, the AOT compiler can't handle the export default and will leave the store with an empty object instead of an initial-state. This causes the selectors that the adapter generates to break.

If I change the from export default to a named

[2019-11-27 13:35] timdeschryver commented on #2279
This is due to the Angular AOT compiler.
I'm not sure, but this might be resolved with the ngcc compiler and Ivy.

[2019-11-27 13:35] #2279 closed

[2019-11-27 13:53] DenisValcke commented on #2279
I understand, yet it might be a good idea to highlight this in the docs because this one is very hard to figure out tbh. 😅

[2019-11-27 13:58] richardbrammer opened #2280 "ngrx/data documentation for Sub-class EntityServices for application class convenience"
I try to create a Sub-class EntityServices for application class convenience according to the NGRX/data documentation at https://ngrx.io/guide/data/entity-services#sub-class-entityservices-for-application-class-convenience

Unfortunately the provided example doesn't seem to work with the version of ngrx/data 8.5.2. The example looks like:

[code]

When I use the example with my project, I get the

[2019-11-27 18:06] Jefiozie commented on #2206
I missed your comment for some reason, I will make some changes to the docs in upcoming days. Did you have some time to see if the PR is what you expected?

[2019-11-28 05:53] SanderElias commented on #2051
Because of option `c` we should not be doing `b`.
Creating a new view every time is a very costly operation. (relatively speaking)

We only can use option `A`. If we destroy the view at all, we will break references people are counting on. The most common use-case for this is that people want to use `@viewChild`, recycling the view (option `b`) will do unexpected (to most) things then.

[2019-11-28 09:31] Stephenradams commented on #2236
Should this type of doc go under the **Recipes** section? As someone who has come from outside of the project when I first went to the docs and saw the Recipes section I was hoping to see some examples/docs on some common patterns I may need to follow when using NgRx.

This seems like a great example of what could go in this section of the docs.

[2019-11-28 17:31] webTheGiant opened #2282 "Save different state of same child component"
`Hello` everybody,
I work on a simple component (container or parent component) with two same child component, I need to save different state of them. I read something to use metadata but I don't know if it is the best or right way to make it.
Can you help me to solve it
An example of project:

[code]

[2019-11-29 10:46] maxime1992 opened #2283 "Support non Angular architectures (node for example)"
## Describe any alternatives/workarounds you're currently using

https://redux-observable.js.org

## Other information:

The core concept of ngrx is completely framework agnostic. It's a BehaviorSubject managing state.
But a lot of work has been put into that project to get nice type safety features and performances.
I think it'd be awesome to have that extracted and reusable for React, Vue, NestJ

[2019-11-29 12:05] VladMstv commented on #1948
I've managed to replace DefaultDataServiceFactory with custom implementation so that now I can use pagination sending TotalCount additional data from service, f.e. response can be:

[code]
So, I think this can solve your problem, @majo44

Custom dataservice factory
[code]

Custom dataservice:
[code]

And register it like this:

[code]

[2019-12-01 15:42] Odonno commented on #2283
Yes, had the same thoughts recently. What if I want to use the same logic within a react application? I am not really a fan of Angular but I think @ngrx applications are really well designed, using rxjs + `createAction` + `on` reducers + `createSelector` + `createEffect`.

If it should be done, the `core` should have these features.

[2019-12-02 10:51] Stephenradams commented on #2283
Isn't NgRx an implementation of Redux for Angular? If so, then the core parts are based on the patterns of Redux, can't they be used by other languages/frameworks?
I'm not sure a release of NgRx without Angular (similar to what has happened in Ionic) is the way to go. Maybe a separate project that has a helper library providing interfaces for these type of classes (`createAction` or `createSelecto

[2019-12-02 10:56] harm-less commented on #2205
I'm sure I don't understand some of the internal working on NgRx, so hopefully this question makes sense.
But I noticed it a bit hard to work with both `MemoizedSelector`/`Selector` and `MemoizedSelectorWithProps`/`SelectorWithProps`, shouldn't they simple be one thing and making props optional? Because I don't see any way of reconciling them in a nice fashion.

I can imagine this was done because

[2019-12-02 11:59] Edouardbozon commented on #2283
As far as I know the core concept of ngrx only rely on RxJS Observables, which can be used in any framework. I agree with @maxime1992 it could be a game changer to make ngrx framework agnostic. But I think it requires a lot of work since every modules are tiny coupled with Angular.

[2019-12-02 14:20] bjornharvold opened #2285 "e not a function / e.lift not a function when building for prod"
## Minimal reproduction of the bug/regression with instructions:

Repo that shows the error.
https://github.com/bjornharvold/ngrx-prod-issue

- Verify that it works with "ng serve" by running ./runDeveloper.sh
- Verify that it does not work when building to prod with ./buildDeveloperProd.sh. (run static assets on some server)

## Expected behavior:
Have spent the whole day trying to figure out why

[2019-12-02 15:55] arangelp commented on #2285
Hi, my platform in production is experiencing the same issue.  Could it be a dependency of a library that changed?

[2019-12-02 15:57] erodriguezh commented on #2285
Confirming the issue

[2019-12-02 20:29] timdeschryver commented on #2285
Is there a dependency that is updated recently?

[2019-12-02 20:38] timdeschryver commented on #2282
You will have to create a reference to each child component in the store: e.g.

[code]

Support questions should be asked on [stackoverflow (with a ngrx tag)](https://stackoverflow.com/questions/tagged/ngrx) or the [gitter channel](https://gitter.im/ngrx/platform).

[2019-12-02 20:38] #2282 closed

[2019-12-02 21:15] timdeschryver commented on #2285
Seems related to `ofType`, leave these out and it does work ... not sure why.

[2019-12-02 22:37] hrbernardic commented on #395
Hi, can you maybe give an example or point me in the right direction how to do this?

[2019-12-02 22:54] markhus-aurelius commented on #2285
Also having the same issue with our prod build. Looks like an action string is triggering the 'not a function' error
![Screen Shot 2019-12-02 at 3 11 50 PM](https://user-images.githubusercontent.com/11519613/70001969-93c21e80-15c3-11ea-8a17-2338905deff6.png)

[2019-12-03 02:01] brandonroberts commented on #2285
This was a bug in an upstream package that has been fixed. Pin the `terser` package to `4.4.0` or `4.4.2` as a workaround.

https://github.com/angular/angular/pull/34179

[2019-12-03 02:01] #2285 closed

[2019-12-03 03:18] bjornharvold commented on #2285
@brandonroberts Great detective work!! My eyes were burning last night after having tried to resolve this one. How did you figure this one out? Yes, @timdeschryver - the only dep update was Angular CLI 8.3.20.

[2019-12-03 03:42] brandonroberts commented on #2285
😉 Whenever I see errors that point back to build optimizer, its usually an upstream issue with the CLI, as we haven't changed the way we package and distribute the libraries. I reached out to the CLI team, and they pointed me to the cause.

[2019-12-03 03:54] brandonroberts commented on #2283
Thanks everyone. We have discussed doing this previously, but it would not be under the NgRx "brand" if we did do it. There is some value there, but it would be a significant effort, and I don't know if there is enough demand for it outside of just using the Redux Toolkit that has a good bit of API parity and Redux Observable. There's nothing stopping you from creating an instance of NgRx Store us

[2019-12-03 04:12] brandonroberts commented on #2236
@jordanpowell88 @Stephenradams yep, that seems like a good place to me.

[2019-12-03 10:52] maxime1992 commented on #2283
I completely get that

Not sure either

The original point I was trying to make is that another library would basically re do what ngrx has already done (for store, actions and effects). It'd then end up in maintaining 2 code bases that are very similar which means probably more bugs, potentially one diverging from the other, etc. If it was a thing, I think it'd be a shame to end up with two code

[2019-12-03 17:01] evgenyfedorenko commented on #2225
I could take this one, likely will need more info

[2019-12-03 18:24] timdeschryver commented on #2225
The short answer is to update the docs and update the [default serializer](https://github.com/ngrx/platform/blob/master/modules/router-store/src/router_store_module.ts#L97) to be the [minimal router serializer](https://github.com/ngrx/platform/blob/master/modules/router-store/src/serializers/minimal_serializer.ts#L21).

But I'm assuming we would also want to update the [action's](https://github.co

[2019-12-04 10:54] Nosfistis opened #2288 "Data: Cannot find NO_TRACK actions"
I am trying to update the local store after manually performing a nested object update. Thus, change tracking should be disabled for that action, since the object is persisted remotely already.

Docs [mention](https://ngrx.io/guide/data/entity-change-tracker#enabling-and-disabling-change-tracking) that I can use one of the `NO_TRACK` variations of `EntityOp`, but these are not listed in the enum.

[2019-12-05 03:22] ikemtz commented on #1054
So I w

I was doing an NgRx migration and my effects were firing twice, but that's because I had neglected to remove the @Effect decorator.  I was able to reproduce this behavior using unit tests with Jest, and subsequently validate the fix.
Thanks!

[2019-12-05 10:56] jssum commented on #1054
Encounter the same issue, commenting the code for StoreDevToolsModule in app.module fixed the problem.

[2019-12-05 17:24] manklu commented on #1054
@jssum Either one of the solutions here fixes your problem or you should open a new issue with a reproduction.

[2019-12-05 23:19] philly-vanilly commented on #895
@shyamal890

`export const userAdapter: EntityAdapter<User> = createEntityAdapter<User>({
    selectId: (user: User) => user.userId
});`

If by property you mean a JS Object (since you wrote UserId as a type in capital), this will not work, an id (just as in any database) needs to be a primitive

[2019-12-06 08:16] jssum commented on #1054
I finally found the root caused of my issue - trigger twice when I using StoreDevToolsModule.

I inject my service - AuthService in my Effects class.

`export class UserEffects {
    constructor(private auth: AuthService, private actions$: Actions, private router: Router) { }
.....
}`

But in my AuthService class, I use the state to get the value of the store, check my code below:
`
import { Injec

[2019-12-06 17:08] evgenyfedorenko commented on #2225
I am playing with router store in ngrx example app and passing in full serializer

[code]

getting an error
[code]

[2019-12-06 17:56] manklu commented on #1054
@brandonroberts @timdeschryver Maybe the API documentation for State should contain a big warning not to use it, unless you know what you are doing.

[2019-12-06 17:59] Edouardbozon commented on #2225
@evgenyfedorenko Hi, the `routerState` configured to `RouterState.Full` isn't compatible with these runtime checks:

[code]

It's due to the prototypes chain from `paramMap`, `queryParamMap` and `component` properties. That's why the `MinimalRouterStateSerializer` should be set by the default I think.

[2019-12-06 20:38] evgenyfedorenko commented on #2225
@timdeschryver Do we want to be able to invoke `StoreRouterConnectingModule` with 0 passed in config options and default serializer to RouterState.Minimal? Currently `serializer` param is optional and is derived from `routerState` param. If only `serializer` is passed but not `routerState` it breaks if `strictActionSerializability` enabled. This does not make sense to me since serializer is explic

[2019-12-08 17:21] timdeschryver commented on #2288
@wardbell I first thought this was forgotten in the migration, but I can't find the `NO_TRACK` actions in the `ngrx-data` repo either.
Could you help to clarify this?

[2019-12-10 00:46] wardbell commented on #2288
Yikes. That documentation is incorrect and I'm not sure how this error escaped into the wild.

**That's not correct at all. I must update the documentation.**.

You control how (or whether) the changes are tracked by supplying the optional `mergeStrategy` among the `EntityOptions` that you can pass in the action payload.

If you were dispatching an action with `EntityDispatcher` and you didn't wan

[2019-12-11 16:57] Jefiozie commented on #2227
Pinging @brandonroberts to see if this is resolved, if not I will have a look at it 😁

[2019-12-12 16:55] #2288 closed

[2019-12-14 04:35] #2206 closed

[2019-12-14 08:44] maartentibau commented on #1470
@brandonroberts @timdeschryver @alex-okrushko is there still interest to add this? If so I might be able to have a look at this.

[2019-12-14 11:29] sumitparakh commented on #1563
Hi @brandonroberts . Is this issue still relevant? I would like to work on it.

[2019-12-14 15:38] schuchard commented on #1563
Interesting timing, i just published a [monorepo](https://github.com/schuchard/ng-tools) that has some sandbox testing. I still haven't found a clean solution to testing multiple schematics across multiple packages that seems maintainable. So far it's just a collection of shell scripts. Maybe that's OK? Would be nice to have some sort of config file that orchestrates everything together but maybe

[2019-12-14 16:51] jordanpowell88 opened #2293 "docs: add link to Diagram PSD"
## Other information:

Their has been several requests to share the PSD I created for the Lifecycle diagram used on the getting started page https://ngrx.io/guide/store.

Not sure where we want to add this link? Issue #2287 suggested we create a "Press Kit" link on the ngrx.io website. Anyone have thoughts where it could go? Maybe under the contribution page? or something maybe even a little more

[2019-12-16 00:35] brandonroberts commented on #1470
@maartentibau yea, its still open for contribution.

[2019-12-16 10:41] Maximaximum commented on #2244
Wow, I had to spend a couple of hours in order to find this issue and realize that `overrideSelector()` does not properly handle the `undefined` value. Indeed, this is a huge problem and has to be fixed

[2019-12-17 13:30] OlaviSau commented on #2052
How about something like this?

[code]

[2019-12-17 22:38] JeffryGonzalez commented on #835
Leaving a comment in case someone ends up here - had a similar problem. The custom serializer in the original issue:

[code]
doesn't expose a `root` property on the result, and the selectors need that/assume that. Just replacing the custom serializer with the minimal made it go away for me.

[2019-12-18 11:53] OlaviSau commented on #2052
After thinking a bit more, I realized that moving the implementation to construction time will provide a better solution. It's a rough draft.

[code]

[2019-12-18 17:17] zakhenry opened #2294 "RFC: Ability to customise resubscribeInCaseOfError functionality to allow for user interaction with errors"
Currently the `resubscribeInCaseOfError` function is not configurable, and it simply calls `errorHandler.handleError(error)` and resubscribes. This behavior is not sufficient in the case that the application has a custom error handler that allows users to decide whether or not to retry the failure.

The cleanest solution would likely be to `provide` the `resubscribeInCaseOfError` function using an

[2019-12-18 17:50] timdeschryver commented on #2294
The `resubscribeInCaseOfError` was added as a safety for when an Effect stream would complete (and thus not receiving new actions) when an inner stream error occurred without catching the error with `catchError`.

I think a custom RxJS operator would be more suitable if you want this customized.

[2019-12-18 17:55] timdeschryver commented on #2293
I think it can be added to the resources list in the footer of ngrx.io (see angular.io for an example)?

[2019-12-18 18:05] zakhenry commented on #2294
@timdeschryver yep I understand the usefulness of `resubscribeInCaseOfError`, but in my case I don't want to have to remember to explicitly add the custom rxjs operator - rather I'd like to attach the error handling to my global error handler that is able to selectively decide whether or not to retry a behavior (it opens an error dialog that the user can choose to retry or not)

[2019-12-18 18:58] zakhenry commented on #2294
I've created a draft PR that I've verified works with my use case, I'd like feedback on the general strategy before I add tests for this use case as there's a significant amount of tests missing in the area of https://github.com/ngrx/platform/pull/2295

[2019-12-18 20:58] tomschreck commented on #1054
I was experiencing a scenario where only 1 of my effects was firing multiple times, which lead me to this thread.  It turns out 2 of my actions had the exact same Type:

[code]

Clipboard inheritance was to blame for the error.  It was not immediately obvious what the issue was.    Hopefully this will help someone not paying attention to pasting...

[2019-12-20 08:20] jonuojha commented on #250
Things were working perfectly in DEV mode, then it became a nightmare when I deployed my application to production with the AOT flag on. It took me 2 days to figure out the solution for my specific case.

So I was using Object.assign to combine all my reducers.

**Before**
`
export const AppReducers = Object.assign({
    APP_REDUCER: AppReducer
  },
  OtherReducers
);
`

**After**
`
export const A

[2019-12-20 12:25] autozoom opened #2298 "ngrx/data: best way to have multiple api roots?"
Hello,
I would need to target different api endpoint roots from different angular modules.

For example
http://server:port/user-api  from User module
http://server:port/admin-api from Admin module
http://server:port/checkout-api from Cart module
and so on.

From what I see, the api root called by ngrx/data can be changed but only globally, by means of DefaultDataServiceConfig in app.module

How ca

[2019-12-20 17:39] evgenyfedorenko commented on #2225
@timdeschryver in case you missed it.

[2019-12-23 01:11] johnny-mh commented on #2205
I'm facing the same problem too.

[2019-12-23 20:25] kdshop commented on #669
https://github.com/ngrx/platform/issues/468#issuecomment-335797420

[2019-12-25 14:35] ikurilov commented on #295
Try to move @ngrx/store into peerDependencies in package.json of library. Seems like your library installs its own @ngrx/store.

[2019-12-30 16:07] alex-okrushko commented on #2052
This is an interesting approach, however accessing properties by strings e.g. `"isLoading"` is not property-renaming safe, as some JS code optimizers rename them.

[2019-12-31 01:22] zee85 commented on #2298
I currently have the same set-up where each micro service is available via a different host and port. I put off implementing an api gateway until now. I think using an api gateway makes much more sense than adding custom code to handle mapping each api to a different host/port. Not to mention you will eventually need to consider managing all those services and an api gateway is prefect for that. I

[2019-12-31 03:49] zee85 commented on #2298
I've been looking through the source code to facilitate this easier without having the api gateway in place. It looks like you can easily register your own instance of the data service. The data service constructor accepts the config which includes the api end-points. So each data service can have a separate url but it requires registering the service manually probably with a factory function.

ht

[2019-12-31 04:44] zee85 commented on #2298
This what worked for me.

Create custom data service.

`import { Injectable, Inject } from '@angular/core';
import { HttpClient } from '@angular/common/http';
import { DefaultDataService, HttpUrlGenerator, Logger } from '@ngrx/data';

import { ADS_SETTINGS } from '../ads.tokens';
import { AdListItem, AdsSettings } from '../models/ads.models';

@Injectable({
  providedIn: 'root'
})
export class AdL

[2019-12-31 10:49] autozoom commented on #2298
thanks a lot I will try it

[2020-01-02 03:03] alex-okrushko commented on #2294
Would providing custom `ErrorHandler` be not enough?

[2020-01-02 04:01] zakhenry commented on #2294
@alex-okrushko that was my initial thought but no actually - the existing implementation only invokes the `handleError` method of the error handler, not allowing a custom error handler to control the subscription in order to retry (or not).

https://github.com/ngrx/platform/blob/de703f06eab27316216ad41edf1ba6074d30aec8/modules/effects/src/effects_resolver.ts#L54-L65

[2020-01-02 16:11] alex-okrushko commented on #2294
Here are my thoughts on this:
- I would definitely prefer to avoid additional tokens, since that unnecessarily increases API surface, puts additional burden on maintainability and limits flexibility for future potential refactoring
- If one needs to conditionally prevent re-subscription there are at least two options:
  - Handle the error within the effect itself (use `catchError` yourself) - good

[2020-01-03 01:03] alex-okrushko opened #2300 "store: ActionCreator unable to take the union of types in props"
## Minimal reproduction of the bug/regression with instructions:

[code]

Within conditional type of `PropsReturnType` the union type was unwrapped as `{_as: 'prop', _p: A} | {_as: 'prop', _p: B}` that creates issues further in `createAction` implementation.

## Expected behavior:
Unions should be allowed

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

## Other i

[2020-01-03 11:14] sapabg opened #2302 "DOCS: @ngrx/data Reducer example"
Can you please, please, please provide an example for a reducer for @ngrx/data.
https://ngrx.io/guide/data/entity-reducer

How and where do I initialize the EntityCacheReducerFactory when the constructor requires entityCollectionCreator: EntityCollectionCreator, entityCollectionReducerRegistry: EntityCollectionReducerRegistry, logger: Logger

It is all a blur for me...

[2020-01-03 12:18] yuliankarapetkov commented on #646
When chaining multiple requests, I cannot catch an error occurring in the first one (mock1). See here: https://stackoverflow.com/questions/59578148/how-to-catch-ngrx-effects-errors-properly

[code]

[2020-01-03 16:15] alex-okrushko commented on #646
@yuliankarapetkov You got the correct response at stackoverlow (that's why it's a better avenue for questions like this).
https://stackblitz.com/edit/ngrx-effects-example-jtvmjn?embed=1&file=src/app/services/mockapi.service.ts

The issue is indeed in the service method as it throws error when it's called, and not in the Observable that is returned.

[2020-01-03 20:33] alex-okrushko opened #2303 "Effects: resubscribeOnError for "broken" effect results in infinite loop and ends with "RangeError: Maximum call stack size exceeded""
## Minimal reproduction of the bug/regression with instructions:

This one ended up being very hard to debug. (Resulted from the recent merge to Google attempt).

There is a test that imports a Module that imports many other Modules. Some of them import `EffectsModule.forFeature(...)`.
The author of the test tried hard to substitute all the Effects Classes with empty objects, so that effects are n

[2020-01-04 03:28] alex-okrushko commented on #2244
Yeah, I knew about this issue, and still spent a few hours debugging... 🤦‍♂️

[2020-01-04 14:17] then3rdman opened #2304 "DOCS: In no way match the example application"
It seems that documentation is from a previous iterations of NgRx. Whilst they do work and get you a working application, they are not even close to the demo application. Is this intentional? The readme of the demo app states "showcasing common patterns and best practices." Is the documentation on the main site intentionally different?

For example the demo app uses action and reducer creator func

[2020-01-04 22:39] alex-okrushko commented on #2304
Hi @then3rdman
They are documented, for example here: https://ngrx.io/guide/store/actions

Which documentation are you referring to?

[2020-01-04 23:09] then3rdman commented on #2304
Seems I just missed large amounts of the docs... Guess I'm the idiot.

[2020-01-04 23:09] #2304 closed

[2020-01-05 08:42] Martinn2 opened #2307 "ngrx/data: immutability of store broken after calling upsertOneInCache() of EntityCollectionService"
## Minimal reproduction of the bug/regression with instructions:

Repro can be found here: https://github.com/Martinn2/ngRxUpserInCacheIssue

## Expected behavior:

After calling upsertOneInCache() and then loading data from backend (using getByKey()), store immutability should not be broken

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):
node: v12.13.1
NgRx: 8.6.

[2020-01-05 10:27] OlaviSau commented on #2052
@alex-okrushko In addition to that there is the issue of using a setter for another prop. If that prop already has accessors those will be lost. `getOwnPropertyDescriptor` would have to be used to get the previous accessors.

About the property renaming - I am not sure how to solve that **well**. In theory a symbol / string could be used to define the prop itself, but that would create boilerplate

[2020-01-05 14:47] alex-okrushko commented on #2300
Btw, this is due to conditional types being distributive (https://www.typescriptlang.org/docs/handbook/advanced-types.html#distributive-conditional-types)
Thanks to @cartant for pointing me to that link.

[2020-01-06 12:06] zohar1000 commented on #898
I used a different approach.  I created an object in the reducer.ts file which holds the sort fields, those fields are being updated whenever the user changes the sort field/order.  This object is being imported in the entity-metadata.ts file and is being used by the sortComparer function.

The example below is for user entity, the object is _usersSelectedSort_ and it holds _key_ and _order_ field

[2020-01-06 18:58] timdeschryver commented on #2294
I'm going to close this issue because we share the same thoughts here @alex-okrushko .
We can re-evaluate later if this pops up again.

(or if @brandonroberts thinks otherwise)

[2020-01-06 19:01] timdeschryver commented on #2298
Answered in https://github.com/ngrx/platform/issues/2298#issuecomment-569862941

[2020-01-06 19:01] #2298 closed

[2020-01-06 19:15] timdeschryver commented on #2303
I was thinking the same thing the other day but for the "loop of death", where the same action is continuously dispatched. I wondered if this could be a desired behavior in some cases, so a 👍 for making it configurable.

Would this also cover the "loop of death"?

Instead of `{provide: FooEffects, useValue: {}}` what about a `MockEffects` feature? I was fiddling with this idea the other day - http

[2020-01-06 19:30] alex-okrushko commented on #2303
I was thinking about it as well 😃
We need a carefully thought-out solution though - looking back at MockStore - it's wasn't a smooth merge with a number of changes in behavior. People tend to adopt them quickly, so any changes in them lead to a long refactoring.

How about starting a doc? 😎

[2020-01-06 23:15] dalu commented on #467
Is this the state of the art right now or have there been any improvements meanwhile?

[2020-01-07 01:34] alex-okrushko commented on #467
[code]

@dalu Does that work for you?

[2020-01-07 13:32] #2211 closed

[2020-01-07 13:38] #2210 closed

[2020-01-07 13:39] #2250 closed

[2020-01-07 13:44] #2217 closed

[2020-01-07 13:48] #2248 closed

[2020-01-07 13:50] #2223 closed

[2020-01-07 13:55] zakhenry commented on #2294
@alex-okrushko I disagree with your second statement, which is pivotal to the point of this issue and associated PR.

I understand the desire to keep the API surface minimal, however we're in a position that the only options available to us are cumbersome and error prone, or wrapping the ngrx framework in something that is usable for our needs. To me this tells me that there is room for minor cust

[2020-01-07 14:00] zakhenry commented on #2294
Also regarding wrapping `createEffect` is undesirable in my specific situation as we use the `@Effect` decorator currently (173 usages) and I'm really not keen to have to constantly tell developers to not follow the ngrx documentation because it  has unsafe error handling behavior

[2020-01-07 14:17] zakhenry commented on #2303
@timdeschryver @alex-okrushko hah this isthe class of error that I hit, and attempted to resolve in #2294

[2020-01-07 14:25] tyroneneill commented on #2294
In the case of a framework is it not usually the point of frustration when you can only configure up to a

It seems to be a trade-off between customisation and API surface, as a framework I would be far more frustrated not being able to change the behaviour rather than having to deal with the consequences of a large API.

This will be the second large project using ngrx I will have to monkey-patch

[2020-01-07 15:42] chrisguttandin opened #2308 "Pass NavigationStart event to Custom Router State Serializer"
I think it would be helpful if the actual navigation event would be passed to a Custom Router State Serializer of the router-store module. The [NavigationStart](https://angular.io/api/router/NavigationStart) event has for example a [navigationTrigger](https://angular.io/api/router/NavigationStart#navigationTrigger) property which is not available in the [RouterStateSnapshot](https://angular.io/api

[2020-01-07 15:44] alex-okrushko commented on #2294
@zakhenry @tyroneneill
Ok, let's reopen this one.
I'm think that `EFFECTS_ERROR_HANDLER` might be a better name for this token - it would be up to the user to determine if it should be resubscribed or not (and if so, then after how many attempts) or any other custom logic.

Now the `resubscribeOnError` Effect config won't sound good, if such token is provided... it probably should be named as `use

[2020-01-07 17:45] timdeschryver commented on #2303
To not mix the maximum number of retries and the mock effects, I will create a separate issue for it so it's not forgotten (with a doc later).

[2020-01-07 18:51] timdeschryver commented on #2294
Apologies, perhaps I was too eager to close this issue now that I've read the responses.
How would this overlap with #2303, do we need #2303 after this change?

My understanding is that #2303 adds the number of retries in the default behavior (in dev mode?) - if a error handler is provided the NgRx effect uses the custom handler (thus will not retry automatically). I think this is also what you me

[2020-01-07 19:17] talohana opened #2310 "Docs: @ngrx/entity overview page contains broken link to redux's FAQ"
## Info

The [overview page](https://ngrx.io/guide/entity) of @ngrx/entity contains a [broken link](https://redux.js.org/faq/organizingstate#can-i-put-functions-promises-or-other-non-serializable-items-in-my-store-state) when referring to redux's FAQ when instead should be [this](https://redux.js.org/faq/organizing-state/#can-i-put-functions-promises-or-other-non-serializable-items-in-my-store-sta

[2020-01-07 19:30] timdeschryver commented on #2310
Feel free to grab this one @talohana if you want (mention it here if you do)

[2020-01-07 19:33] talohana commented on #2310
@timdeschryver yeah I will create PR for that

[2020-01-07 19:35] timdeschryver commented on #2310
Awesome, thanks! If there's something that we can help with, feel free to ask for help.

[2020-01-07 20:02] talohana commented on #2310
I see it's already fixed at b1e1bee188112c46b5918e68e9f9a214acc6ee4d, somehow I couldn't find issue linked to it.
I'll have my first PR next time :sweat_smile:

[2020-01-08 01:11] #2244 closed

[2020-01-08 07:45] timdeschryver commented on #2310
From what I can see that PR does not fix the broken link @talohana

[2020-01-08 08:07] talohana commented on #2310
@timdeschryver okay then, I'll open or later today/tomorrow

[2020-01-08 12:14] LinBoLen commented on #2052
it seems that lots of things is on the board

[2020-01-08 18:28] timdeschryver commented on #2310
Fyi, the page that we have to edit can be found at https://github.com/ngrx/platform/edit/master/projects/ngrx.io/content/guide/entity/index.md?message=docs%3A%20describe%20your%20change...

[2020-01-08 20:55] talohana commented on #2310
I inspected the code again, de703f0 fixed it, somehow I got the wrong commit hash
Sorry about that!

[2020-01-09 01:16] samyue commented on #1179
I wonder why the documentation for combineReducers is missing?  I need combineReducers for a two level structure, so some common code logic can be reused. CombineReducers is really important for more complex real world problems

[2020-01-09 08:31] anno1985 opened #2312 "Docs: does state in @ngrx/entity require manual deep copy?"
The docs for @ngrx/store point out that the spread operator only makes shallow copies of objects and direct users to look into using deep copy libraries.

My understanding is that they only make sense if state contains nested objects or collections of objects.

From what I've read, deep copies seem to be required only for time travel functionality. Change detection is done via shallow comparison o

[2020-01-10 01:29] #2300 closed

[2020-01-11 16:19] #2251 closed

[2020-01-12 13:14] timdeschryver opened #2316 "RFC: a `MockEffects` provider during test setup"
## Describe any alternatives/workarounds you're currently using

Manually mock effect instances

## Other information:

TODO (created the issue to not forget about it)

## If accepted, I would be willing to submit a PR for this feature

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

A WIP can be found at https://github.com/ngrx/platform/compare/master...provide

[2020-01-12 15:37] zakhenry commented on #2294
@timdeschryver Hmm I'm not sure that this fix would directly resolve that issue, however it would at least provide the mechanism for downstream projects to implement this behavior. I suppose a strategy might be to introduce the customisation capability, then later add a more developer friendly devmode-only implementation as the default behavior?

I'll make updates to the PR now to make the naming

[2020-01-12 15:50] zakhenry commented on #2294
@alex-okrushko I agree with you on the naming not really making sense now, do you think the change should be done now (and make this a breaking change for 9.x)? Given 9.x seems to be just around the corner that might be practical

[2020-01-12 18:55] alex-okrushko commented on #2294
Breaking change should be fine. Surprisingly (or maybe not so much), I haven't found even a single case where `resubscribeOnError` was turned off within Google's codebase.

[2020-01-12 20:30] #2240 closed

[2020-01-12 20:51] brandonroberts commented on #2104
Going to close this along with the PR for now. We may revisit it at some point.

[2020-01-12 20:51] #2104 closed

[2020-01-12 23:47] zakhenry commented on #2294
!2295 has now been updated to incorporate the breaking change and now includes tests.

[2020-01-14 19:35] dzonatan opened #2317 "No type-safety for selector's projector function"
<img width="735" alt="image" src="https://user-images.githubusercontent.com/5166666/72372715-83977600-370f-11ea-9d66-c3c00e51ddf6.png">

Is there a reason why projector function does not have a type-safety for its parameters yet?
This quickly becomes a nightmare when having a lot of unit tests for complicated projectors.
I've looked into internals and found that for some reason the [`MemoizedSelec

[2020-01-14 19:57] timdeschryver commented on #2317
The change looks good to me!

[2020-01-15 04:00] alex-okrushko commented on #2317
So even the usage of `DefaultProjectorFn` I had to revert within Google's repo to `AnyFn`, because  some of the quirks of the TS. For example, in TS accessing Array by Index always gives you the result with the type and never `undefined`, which is clearly not what it should be (microsoft/TypeScript#13778)

I tried to demonstrate [the problem here](https://www.typescriptlang.org/play/index.html#cod

[2020-01-15 08:45] dzonatan commented on #2317
I hear you and agree that this is kinda a breaking-change. Even the example-app tests in this repo has a few usages of projector func that would break. But by not having type-safety here we're losing other perks like language-service support - rename and other stuff.. now when refactoring you have to do it in old way with find & replace. As you said - most of the time this will result in a runtime

[2020-01-15 12:02] timdeschryver commented on #2225
The default options should be `RouterState.Minimal` and the serializer `MinimalRouterStateSerializer`.

If the `serializer` is passed, this change will most likely be a breaking change.
The fix for it would be to set the routerState to `Default`. This is what https://github.com/ngrx/platform/pull/2291 solves.

[2020-01-15 19:58] kamenminkov commented on #1054
Can confirm that removing a `private store: Store<AppState>` from a component's constructor args (and making sure that no other components have it) fixes the issue - otherwise it manifested for me too with angular 9.0.0-rc.8 and ngrx 8.6.0.

[2020-01-16 00:26] #2242 closed

[2020-01-16 00:36] #2106 closed

[2020-01-16 10:18] autozoom opened #2318 "ngrx/data: how to pass dynamic config to EntityDataModule.forRoot()?"
Hello,
I would need to pass a dynamic configuration to `EntityDataModule.forRoot`.

Instead of being forced to declared `entityMetadata` and `pluralNames` statically I need to calculate them from a common, and statically declared, object.
Something like:

[code]

From this I can calculate the `EntityDataModuleConfig` instance need by `EntityDataModule.forRoot`.
Nothing fancy, no services or http r

[2020-01-16 13:33] nicumaxian commented on #770
How can we get the right Store object? I tried injecting StoreFeatures and finding it by the key.

[code]

This code fails inside `ngOnInit` because the ReducerManager expects the feature to have `reducers` property, but it's `undefined` actually.

[2020-01-17 13:32] ClientsideDesign commented on #1834
Thanks - pointed me in the right direction.

Alternatively, you can disable serializability runtime checks as per: [https://ngrx.io/guide/store/configuration/runtime-checks]

[2020-01-17 18:00] born2net opened #2321 "make createAction unique value to avoid duplication of actions"
I often find myself copying pasting actions before editing the new action name.
if by mistake I forgot to rename the action param I end up with two actions and actions should always be unique. I did this as a workaround to avoid issues:

[code]
but would be great if ```createAction``` would just append a unique value to the string as no two actions should ever be same when defined.

this will also

[2020-01-17 22:01] timdeschryver commented on #2321
I consider adding a unique string a bad practice, imho.

- an action should describe a unique event in the application
- it would be hard to debug

You can try [ngrx-tslint-rules](https://github.com/timdeschryver/ngrx-tslint-rules#rules) which has a TSLint rule that checks if an action name is unique.

But now that I'm thinking of it.

Should we add a check inside `createAction` that checks if act

[2020-01-18 02:41] born2net commented on #2321
my 2 cents is that Actions should be appended with uniqueness

[2020-01-18 15:10] ersimont opened #2322 "Inconsistent dispatch synchronization"
## Minimal reproduction of the bug/regression with instructions:

Here is a jasmine test demonstrating the inconsistency. Run this, where `backingStore` is just a `Store` object.

[code]

## Expected behavior:

I expect `setAndGet` to either always pass or always fail. Having the behavior depend on when it is called leads to surprising and hard to find bugs. Personally, I thought it would always p

[2020-01-19 00:03] alex-okrushko commented on #2321
I agree with @timdeschryver - Actions should be describing unique events and thus have unique string names.

But you can easily create your own action creator if you choose.

[code]

I don't think we'll be able to check within createAction, but we could add some unique property to each Action and then within a store keep a map of actionName -> uniqueId and if we run into the same actionName and di

[2020-01-19 16:59] alex-okrushko commented on #2225
@timdeschryver btw, I find it a bit confusing that both `routerState` and `serializer` are present in the config, and they could be contradicting each other. I think I have a solution for that.

[2020-01-19 17:56] timdeschryver commented on #2225
@alex-okrushko I agree, if I remember correctly it was done like this to not have a breaking change.

I also want to point out that it's not just setting the serializer, it's also used to dispatch the router events. With minimal, it will only dispatch the router event id and the url.

https://github.com/ngrx/platform/blob/master/modules/router-store/src/router_store_module.ts#L319-L339

[2020-01-20 06:35] luchillo17 opened #2324 "[Bug] @ngrx/data additionalCollectionState selectors not allowed by typings"
## Minimal reproduction of the bug/regression with instructions:

## Expected behavior:

Typings should allow to call the custom selectors created for additionalCollectionState props in EntityMetadata.

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):
Ngrx: 8.6.0
Angular: 8.3.2
Node: 12.12.0
Browser: Any
OS: Windows (presumably any, typings issue)

## Other informat

[2020-01-20 22:24] aravindfz commented on #433
@rupeshtiwari your link throws 404

[2020-01-21 05:18] MagnusBrzenk commented on #1488
@Vallerious suggestion of downgrading to rxjs 6 worked for me (thanks!)

[2020-01-22 01:55] luchillo17 commented on #2324
Ping @brandonroberts @alex-okrushko mind if i do a PR for this? not that hard to allow random named selectors in there, though it would use `Observable<any> | Store<any>` and dev would have to cast it to get the specific type of that property.

[2020-01-22 02:19] luchillo17 commented on #2324
Funny thing is `CollectionSelectors<T>` does have what it needs to allow the selectors themselves, but `EntitySelectors$<T>` is the one missing one alike:
![image](https://user-images.githubusercontent.com/9698639/72859225-09c43700-3c91-11ea-9c66-a7aa1fb42303.png)

[2020-01-22 10:22] jackgllghr commented on #2107
I've hit this issue too, importing our state fails this every time. Any workarounds?

[2020-01-22 14:15] Nosfistis commented on #859
Are there any active plans for this? It's a cool major feature, and causing a lot of custom wiring which contradicts the ease of use @ngrx/data provides.

[2020-01-22 20:57] timdeschryver commented on #2321
See @alex-okrushko 's snippet.
We can revisit this later if needed.

[2020-01-22 20:57] #2321 closed

[2020-01-22 21:28] alex-okrushko opened #2328 "feat(store): testing - should provide MockStore itself"
## Describe any alternatives/workarounds you're currently using

Currently when we use `provideMockStore()` we need to get the `Store` and cast it to `MockStore`

[code]

## If accepted, I would be willing to submit a PR for this feature

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2020-01-22 21:31] alex-okrushko opened #2329 "feat(store): testing - we should have the ability to push new values into overridden Selector"
Currently we can override selector with `overrideSelector(...)` only once before Component is bootstrapped.
For any further changes we'd have to `setState(...)`

## If accepted, I would be willing to submit a PR for this feature

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2020-01-23 06:52] timdeschryver commented on #2318
What about the following?

[code]

[2020-01-23 08:58] twittwer commented on #2062
@timdeschryver How can I propose a recipe? Simply adding `docs/router-store/selectors.md` or is there a special place/convention for recipes?

[2020-01-23 10:09] autozoom commented on #2318
Unfortunately this code will not execute before the @NgModule annotation, this is the whole point of the problem.

[2020-01-23 10:37] timdeschryver commented on #2318
And what if it's been done in `main.ts` and stored as a global variable, before the execution of `platformBrowserDynamic.bootstrapModule()`

[2020-01-23 10:40] autozoom commented on #2318
That is what I've done, as explained.
Do you have a better idea for where to store it globally?

[2020-01-23 10:41] timdeschryver commented on #2062
The `docs` folder is for the v6 documentation, so not there.

You can add it the ngrx.io project with the documentation of [@ngrx/router-store](https://github.com/ngrx/platform/tree/master/projects/ngrx.io/content/guide/router-store).
Currently router-store does not have recipes, but you can take a look at the [@ngrx/store](https://github.com/ngrx/platform/tree/master/projects/ngrx.io/content/guid

[2020-01-23 16:44] eric-simonton-sama commented on #2322
We've been using `@ngrx/store` for quite a while on my team (wrapped with [`ng-app-state`](https://github.com/simontonsoftware/ng-app-state)), so I'm surprised that we're just now running into this. We just hit another snag that traces back to this (sometimes) asynchronous behavior.

I'm eager to hear any thoughts about this from the ngrx team before I start thinking about rearchitecting or workar

[2020-01-23 18:52] timdeschryver commented on #2318
🤦‍♂️  ofcourse, you're right.

I'm still not sure why `EntityDataModule.forRoot(extractConfig(myConfig))` won't work tho. Besides that, I'm out of ideas.

[2020-01-23 19:00] elvisun opened #2330 "Rename entity addAll to replaceAll"
## Describe any alternatives/workarounds you're currently using
This is what `addAll` documentation says:
[code]
Then this really should be called `replaceAll` so people know their existing entities are being removed.

## If accepted, I would be willing to submit a PR for this feature

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2020-01-23 19:00] elvisun commented on #2330
@alex-okrushko

[2020-01-23 19:03] timdeschryver commented on #2322
Correct, correct me if I'm wrong but what you're seeing is because we're [using a queueScheduler](https://github.com/ngrx/platform/blob/master/modules/store/src/state.ts#L32).

We also have [a spec](https://github.com/ngrx/platform/blob/master/modules/store/spec/edge.spec.ts) for this specific behavior.

I expect this to be the desired result, but I'm not 100% sure.

[2020-01-23 22:16] eric-simonton-sama commented on #2322
Thank you for looking at this.

I'm not familiar enough with ngrx internals to know if the `queueScheduler` explains the behavior, I'm sorry to say. I could try to experiment with that tomorrow if it would be helpful.

The intent of that spec you linked seems to be to ensure one can dispatch an event while handling another event. It does not seem to specifically test that it synchronous at times,

[2020-01-24 01:42] alex-okrushko commented on #2330
Yeah, we had a case where `addAll` was used by accident instead of `addMany` and that lead to hours of debugging 😵

[2020-01-24 01:46] alex-okrushko commented on #2330
Maybe alias `replaceAll` to `addAll` and depreciate it?
`removeAll` can also be renamed to `clearAll`, but it's less error-prone, I think.

[2020-01-24 02:13] #2293 closed

[2020-01-24 03:34] #2328 closed

[2020-01-24 03:36] brandonroberts commented on #2324
@luchillo17 seems reasonable to me.

[2020-01-24 04:58] Rush commented on #2052
I like @MikeRyanDev's approach. Why not a have purely functional approach? (similar to markDirty)
[code]

Way shorter, fits on one page. Note; it does not wait for ngOnInit - but it could be added similar to ngx-take-until-destroy

[2020-01-24 06:35] BioPhoton commented on #2052
2 thinks you should consider:

- You have to call CD when the value is already in the template.
- If you subscribe it's over with reactive programming. 😁

[2020-01-24 08:04] LayZeeDK commented on #2052
I'm telling you, we have to lobby the Angular team/decision makers to expose component features 😄
https://indepth.dev/component-features-with-angular-ivy/

[2020-01-24 09:39] PsychoPflanze commented on #2330
I don't know, i like `addAll` 😢 . Or at least don't use `replaceAll` but `setAll` instead, makes it easier to write 👍

[2020-01-24 10:13] dummdidumm commented on #2052
I think we should provide both a push pipe and a connect function to let the user decide. I think it is ok to subscribe earlier than in the template. I don't feel I lose a lot of reactivity then, mostly it makes the code easier to read also for devs not confortable with indepth rxjs.

[2020-01-24 11:39] BioPhoton commented on #2052
So it's a technical problem. You have to have the value in the template otherwise you are one off. (gets very clear if u disable zone)

Loosing reactivity:
At the moment of subscription you lost All reactive. The connect approach in the template is a very good way to avoid reactive programming. But this package should leverage it.

If you want to get rid of subscriptions you can read my last resea

[2020-01-24 13:45] Rush commented on #2052
While I love defining observables and using them in the template (as long as I don't have to reach for hacks such as *ngLet) ... there are times when subscribe is needed in the component code. In those cases it seems very wrong to have to do `.pipe(take(1)).toPromise()` to get a simple feature flag.

Besides .. there needs to be a subscribe somewhere. `| async` is just short for `.subscribe`. If w

[2020-01-24 13:48] dummdidumm commented on #2052
Exactly my thoughts!

I don't think that I lose "all" reactivity if I subscribe in typescript rather than in the template. Everything above, the services etc. can still leverage rxjs. For me the component is the sink, and it is mainly syntactical if I subscribe in the template or in typescript. It also makes stuff easier a lot of the time if I need to make method calls for a certain item of that s

[2020-01-24 15:34] BioPhoton commented on #2052
That's called a side effect. A good example would be a tick to refresh http.
This process has nothing to do in the template.

- A side effect always belongs to a component or the app it's self.
- A side effect has a start and may have an end before the app ends
- A side effect needs to get cleaned up after it's not used anymore

How about a method that is named 'hold' or 'holdEffect' or 'connectEf

[2020-01-24 15:41] dummdidumm commented on #2052
I think the discussion is derailing a little into personal preferences (I'm guilty of that, too). From a library perspective I think we should definitely support both subscribing via `*ngxLet` in the template and something like `connect` in typescript, because both have their valid use cases.

[2020-01-24 16:17] BioPhoton commented on #2052
Sure! As you see from the provided examples it will at least land in the PR.

There as also no personal discussion. The off by one error and other things are facts.
Also both solutions are already in the PR.

I crarified certain problems. Where to detect changes, where to subscribe.

[2020-01-24 16:30] dummdidumm commented on #2052
Could you clarify what you mean with "off by one error"? If I disable zone.js and do change detection myself, it works as expected https://stackblitz.com/edit/angular-5b4whw?file=src/app/app.component.ts . So a `connect` function should work, too.

[2020-01-24 16:39] timdeschryver commented on #2330
👍 for `setAll` if we're going to rename this.

[2020-01-24 16:39] wardbell commented on #2324
LGTM

[2020-01-24 16:46] BioPhoton commented on #2052
I'll sit down on Monday.

Question, connect means subscribe and assign value to class prop?
If not you are covered. If yes, I assume it can be part of hmmm maybe store?

I see the use for cases where I want to receive a value from store and only directly render it without anything in between.

[2020-01-24 16:51] dummdidumm commented on #2052
Yes, `connect` would mean something like that, basically what @MikeRyanDev proposed in his talk. This is what me and @Rush mean by subscribing in the component-typescript and not the template.

[2020-01-24 17:59] BioPhoton commented on #2052
Well... It's avoiding rxjs. The main ideas of that package is leverage rx.  No clue what will happen. I hope there is the right place to put this.

Would you be ok with assign the value in your own? Because than you can use the mentioned hold effect method. It's basically the same without assignment. (side effects never change state directly in a component)

If this is not fine for you, you need s

[2020-01-24 18:02] LayZeeDK commented on #2052
No, it's very much also about unsubscribing when the embedded view is destroyed. Preventing us from having to do manual subscription management is one of the major benefits, @BioPhoton is trying to achieve.

[2020-01-24 18:23] luchillo17 commented on #2324
Should we close it or once we get a release?

[2020-01-24 18:25] Rush commented on #2052
Agreed. It's just that for a long while I've been using an operator `untilDestroyed(this)` for all of my components.

[2020-01-24 18:58] brandonroberts commented on #2324
We'll close it, and it will go with the next release. Thanks luchillo17!

[2020-01-24 18:58] #2324 closed

[2020-01-24 20:02] alex-okrushko commented on #2330
@brandonroberts @MikeRyanDev any thoughts on this? It wasn't the first time 🕵️‍♀️

[2020-01-24 20:22] brandonroberts commented on #2330
Sounds good to me. Let's introduce the new one, and deprecate the old one.

[2020-01-24 20:39] exeleon commented on #2159
@jordanpowell88 @sergey-karlo
I think this would be a desirable option. My API accepts query params to expand the result (ex: include relational models from DB). As a workaround I am doing this:
[code]

[2020-01-24 21:44] alex-okrushko commented on #2329
I noticed we are missing the test for overriding **string** selector that is accessed with `store.pipe(select('string selector'))`.
We are missing it because there is no way we can override that without `spy`ing for `selector` operator. My understanding is that we don't want to introduce `jasmine` or tie ourselves to any test framework.

We can continue to support `store.select('string selector')`

[2020-01-24 22:00] LayZeeDK commented on #2052
The most important piece of logic in the `AsyncPipe` is the call to `ChangeDetectorRef#markForCheck`. However, that's also what makes it incompatible with `NoopNgZone`.

[2020-01-25 00:09] markerikson opened #2333 "Consider making ngrx/entity framework-agnostic"
## Problem

The `@ngrx/entity` package provides some useful utilities for dealing with normalized state.

Looking through the source files, most of the logic is actually not specific to NgRX.  The type definitions and such seem very reusable, and it's almost completely framework-agnostic (as confirmed by @MikeRyanDev at https://twitter.com/MikeRyanDev/status/1216820265658789888 ).

The only framew

[2020-01-25 03:15] BioPhoton commented on #2052
I thought about the *let hack not hack opinion...

I wrote quickly about the initial goal of  `*ngrxLet`.

I hope it provides an idea of where it is used.
Please let me know if this makes sense.

# NgRxLet Structural Directive

The `*ngrxLet` directive serves a convenient way of binding observables to a view context (a dom element scope).
It also helps with several internal processing under the ho

[2020-01-25 08:53] edbzn commented on #2333
Here is a similar discussion about this idea ( https://github.com/ngrx/platform/issues/2283 ).

[2020-01-25 09:34] Liovareg opened #2334 "Fix loadCollection action in example app to fit good actions hygiene"
## Context
We are discussing implementing Good Actions Hygiene from @MikeRyanDev in our project and found one place in example app that seems does not fit this pattern.

Here is the place: https://github.com/ngrx/platform/blob/master/projects/example-app/src/app/books/containers/collection-page.component.ts#L43

It's a common practice to dispatch some action in component's onInit. So, from actions

[2020-01-25 15:03] ve2m commented on #2318
Can you please provide an example to reproduce your problem? I just tried it locally and it worked fine.

[2020-01-25 19:09] BioPhoton commented on #2187
The minimal version is included in this PR: https://github.com/ngrx/platform/pull/2046

[2020-01-25 19:11] BioPhoton commented on #2051
The first version of the let pipe is included here:
https://github.com/ngrx/platform/pull/2046

Please check @SanderElias

[2020-01-25 19:15] BioPhoton commented on #2050
Now this situation is implemented as:

[code]

see PR: https://github.com/ngrx/platform/pull/2046

[2020-01-25 19:15] #2050 closed

[2020-01-25 19:19] BioPhoton commented on #2049
Thanks @dummdidumm!

ATM the state service which handles the primitive functionality of observables like set or connect streams and subscription handling can hook into un composable functions.

When ivy features land we can implement proper behavior.

Find the current status of release candidates functionality here: https://github.com/ngrx/platform/pull/2046

[2020-01-26 16:45] BioPhoton commented on #2322
Hi @ersimont

I started to analyze the code. As some things are not at the top of my head now you have to insert some console.logs to check which of my assumptions are correct and then go on with the given process of analyzing.

Here something that you can use as a starter document. I hope it helps!

Your code with line numbers:
[code]

Order of execution:
0. `StateObservable`, `ActionsSubject`, `

[2020-01-26 16:47] BioPhoton commented on #2322
Furthermore, here a demo to understand the scheduling behavior:
https://stackblitz.com/edit/rxjs-notification-reentrance

[2020-01-27 09:44] AbdallahBedir commented on #1104
The following solves the issue,
`
	StoreRouterConnectingModule.forRoot({
		stateKey: 'router',
		routerState: RouterState.Minimal,
	}),
`
https://stackoverflow.com/questions/51410091/angular-and-error-of-attempting-to-configure-source-for-routeroutlet-and-ngif

[2020-01-27 14:27] #2294 closed

[2020-01-27 14:49] autozoom commented on #2318
I am very sorry but I forgot to mention that the issue only arises when you build for production, using AOT compilation.
I cannot provide an example on stackblitz as it only uses JIT compilation.

Could you please try and compile you example with --prod and see if it stops working?

[2020-01-27 15:33] ersimont commented on #2322
Thank you for looking at this. You came up with slightly different behavior than I remember. Specifically, I didn't think any macro tasks were being scheduled. Trying to google around about `queueScheduler`, it seems it doesn't try to use the macro task. I suspect it is the root of the behavior I'm seeing, but documentation seems sparse so that's harder to verify.

@timdeschryver How do you see th

[2020-01-27 19:53] tonivj5 commented on #2109
I have found this error too, updating to angular 9. Why was it closed? It was hard to relate to `ngrx`.

I have opened an issue at angular repo (https://github.com/angular/angular/issues/34993) because the error pointed me to it at first instance. Once, I have found that `@ngrx/router-store` was the culprit I have found this issue :sob: (it has been a very long day...)

[2020-01-27 22:34] danielhdz56 commented on #2126
@peterbsmith2 or @SerkanSipahi I can't seem to follow the documentation and was hoping you could shed some light on the following:

how to modify a reducer so that when passing a key to `getByKey` the value for selectedId gets updated.

[code]

[2020-01-28 01:34] wardbell commented on #2126
This should be more clearly documented.

Before I tell you how to do it, I'd like to suggest that you keep this information outside of NgRx Data. At least that's what I do. I fallback on regular NgRx. My apps have a mix of NgRx Data for entity data management and regular NgRx for session data (data that goes away when the app closes) such as the currently selected customer.  I have a "Session" mod

[2020-01-28 03:26] BioPhoton commented on #2052
Hi, @dummdidumm thanks you kept poking for the off by on error!!!
I ( as always :D ) was wrong! It was related to the *let directive! Also, I remember a second situation related to input bindings too when I used angular elements (in some version :D ).

For the connect thing:

I  list some psudo like code on how to deal with it and don't need to care about subscription handling. It should show that

[2020-01-28 09:40] b-shanovskyi-andersen opened #2337 "[@ngrx/data] - wrong type of filter$"
## Minimal reproduction of the bug/regression with instructions:

In EntityCollectionServiceBase:

[code]

But filter can have `any` type:
[code]

## Expected behavior:

[code]

## I would be willing to submit a PR to fix this issue

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[X] No

[2020-01-28 09:59] zakhenry opened #2338 "Add tooling to documentation generation to ensure quality & ease maintenance of example code"
## Other information:

Currently documentation sample code is maintained within markdown files only, with some limitations - we have to escape everything that looks like html (e.g. `Observable<T>` needs to be written as `Observable&lt;T&gt;`, plus rendered markdown (what you possibly review) doesn't end up being very readable due to a lack of whitespace preformatting.

I'd suggest that we update t

[2020-01-28 11:53] StephenCooper opened #2339 "RFC: Add a dev-only debug check for events running outside of NgZone"
## Describe any alternatives/workarounds you're currently using
I have just experience a change detection bug where an event was being triggered in such a way that it was running outside of NgZone. The event would trigger actions and update the store but the template would not be updated.  The bug only surfaced as a setInterval was removed which had the effect of ensuring ChangeDetection was consi

[2020-01-28 17:04] timdeschryver commented on #2339
Will you create a PR for this @StephenCooper ?

[2020-01-28 20:23] StephenCooper commented on #2339
I can take a look and see if I can! I haven't looked under the hood yet.

[2020-01-29 01:29] brandonroberts commented on #2338
Thanks @zakhenry. We already have tooling in place to generate documentation from code snippets. I am however looking at retooling our underlying docs generation to be less custom, and easier to maintain by someone other than myself.

I have looked at embedme and am interested in using it as a potential solution to accomplish this. For documentation generation it works well, although I wish it had

[2020-01-29 08:21] fxck commented on #2052
I'm slightly confused at this whole component situation. I've seen @MikeRyanDev talk about that higher order zoneless component quite a few times (ie. https://www.youtube.com/watch?v=rz-rcaGXhGk). Yet this issue seems to be talking about quite a few different concepts. Is this like a separate thing? Is there any order issue for Mike's thing?

[2020-01-29 09:37] zakhenry commented on #2338
can you clarify this please? - do you mean that you wish the source code could mark a labelled start and end point for insertion? That is [currently an open issue](https://github.com/zakhenry/embedme/issues/48), but it would be useful to know that other people want that feature too.

My thinking with this issue is specifically for the guide. I haven't looked into the API generation, but I was real

[2020-01-29 10:53] LayZeeDK commented on #2052
I don't know about "quite a few times". Did he present it elsewhere?

If you listen carefully, he says that he doesn't know what will be the right solution, that the code snippets were just a suggestion and that he needs the community's feedback. This is that feedback. An implementation **without** inheritance (thanks for that by the way @BioPhoton!)

[2020-01-29 11:20] Nosfistis opened #2340 "Data: testing and helpers"
While there is a nice effort to simplify and assist testing of components using store, via `store/testing` package, I think that the data package also has significant effort and difficulty to mock, especially for unit tests.

It would certainly be nice to have a testing module, accepting some entity metadata and providing mock entity services, with spies/Subjects replacing normal properties.

Curr

[2020-01-29 11:23] alexdor commented on #102
Now that the web workers have landed should this be revisited?

[2020-01-29 12:20] Bobrovskih opened #2341 "@ngrx/entity with strictStateImmutability. State not spread entities in reducer"
## Minimal reproduction of the bug/regression with instructions:
in reducer
case LOAD: { ...state, pending: true };
case LOAD_COMPLETE: adapter.addAll(action.items, { pending: false });

1) dispatch action LOAD_COMPLETE = items added in state ok
2) dispatch action LOAD = fail. Because in state entities become empty array (same ids). Expect entities remain in state.

if remove flag strictStateImmut

[2020-01-29 12:22] fxck commented on #2052
Yeah, couple of local confs, it's mostly the same presentation.

What are cons to what Mike was proposing then? [Is it losing reactivity?](https://github.com/ngrx/platform/issues/2052#issuecomment-541440165)

I might have misunderstood something, but I don't think that's a problem at all, you'd only connect the final result of a combination of whatever streams you have. At the point of `connect`in

[2020-01-29 12:56] evgeniyefimov commented on #2333
We are using @ngrx/entity with ngxs, works great but it requires @ngrx/store as a dependency in package.json.

[2020-01-29 14:51] brandonroberts commented on #2338
Yes, a start and end point for insertion. Our current tooling is based on the Angular Docs infrastructure, which uses a `docregion` to specify code fences, named and unnamed. Here is an example https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/examples/store/src/app/app.module.ts

We could create a general "snippets" area for each package, and put the snippets there and use it

[2020-01-29 15:49] dummdidumm commented on #2052
@BioPhoton yes this is the direction I feel it should go in. Just some helpers that make (un)subscribing easy, so as @fxck said in his post above once we are done composing we can just use those helpers. If it's in the form of a component extension, or a service, or a decorator, or a base class -> guess this depends how easy to use those options are.

- decorators: seems nice, but likely not possi

[2020-01-29 16:51] LayZeeDK commented on #2052
We share the same perspective. It's not called ngComponentDef anymore though.

Component definitions would allow a framework like this to create some nice APIs. However, there's currently no indication of intent to expose component definitions in public Angular APIs and they are marked as internal, meaning that they could have breaking changes in any version.

In the end, we can't do better than w

[2020-01-29 16:55] LayZeeDK commented on #2052
Don't forget about base classes demanding any dependencies be injected through its constructor from the subclass. How would we access the Store if not through constructor injection? A service hides collaborating dependencies. A component feature can use directiveInject.

[2020-01-29 16:56] fxck commented on #2052
Yeah, this is a little unfortunate, but I think I read about a way to hack around it.

[2020-01-29 21:46] Odonno opened #2342 "createDenormalizedSelector"
## Describe any alternatives/workarounds you're currently using

Create selectors and making the denormalization by hand (selecting different parts of the state and 'merging' them).

However, it can simplified by using the source selector and a function with denormalizations to apply. I would like to see something like that:

[code]

## If accepted, I would be willing to submit a PR for this featu

[2020-01-30 15:24] timdeschryver commented on #2342
How would the behavior be if `selectCountries` or `selectPeople` would emit a new output?

[2020-01-30 15:41] timdeschryver commented on #2341
Can you elaborate more and create a reproduction?
I'm not sure what the issue is here, `LOAD` does not use an entity functionality.

[2020-01-30 16:01] noylev commented on #1546
happens for me as well, I tried to add `afterEach(() => {
    fixture.destroy();
});` in one test and it helped for more tests to pass, but then another random test had failed...

[2020-01-30 20:04] Odonno commented on #2342
Like a regular selector. I imagine it is some kind of `combineLatest`.

[2020-01-30 20:37] RobertAKARobin opened #2343 "`npx ng generate container` yields "merge conflicted" error"
## Minimal reproduction of the bug/regression with instructions:

- Using `@angular/cli@9.0.0-rc.11`, create an Angular app with `ng new`
- `npm i -D @ngrx/schematics`
- `npx ng config cli.defaultCollection @ngrx/schematics`
- `npx ng generate ng-add`
- Attempt to `npx ng generate container something`
- Observe the error `A merge conflicted on path "/src/app/something/something.component.spec.ts"`

[2020-01-30 21:03] timdeschryver commented on #2343
This should be resolved when we release version 9 of NgRx.
We ran into the same problem when we upgraded to Angular 9rc. The cause is the renamed `skipTest` flag.

[2020-01-31 14:48] Bobrovskih commented on #2341
so far, cant reproduce
I will write more if I can reproduce it

[2020-01-31 20:52] brandonroberts commented on #2333
Hey @markerikson, I think we might be able reasonably support that. What did you have in mind as far as changes to make that work?

[2020-01-31 21:04] markerikson commented on #2333
I'm not entirely sure what the desired implementation should actually look like.

As mentioned, the only real framework-specific references here are the imports of `createSelector` and `isDevMode`.

It looks like the import of `createSelector` in `create_adapter.ts` isn't even being used.  It _is_ being used in `state_selectors.ts`, which is understandable.

Perhaps `createAdapter` could take a `c

[2020-02-01 09:47] kushal-azilen opened #2344 "Need a separate local storage by angular base url"
![image](https://user-images.githubusercontent.com/30619709/73590219-efe2e980-4505-11ea-8411-02bab271a8a2.png)

## Support Requests should not be opened as issues and should be handled in the following ways:

### On [StackOverflow](https://stackoverflow.com/questions/tagged/ngrx) using the `ngrx` tag

### In our gitter support channel at https://gitter.im/ngrx/platform

[2020-02-01 11:57] timdeschryver commented on #2344
NgRx does nothing with localstorage.
Open up a question on stackoverflow or the gitter channel with more information and a reproduction, so we can help you.

Support questions should be asked on [stackoverflow (with a ngrx tag)](https://stackoverflow.com/questions/tagged/ngrx) or the [gitter channel](https://gitter.im/ngrx/platform).

[2020-02-01 11:57] #2344 closed

[2020-02-01 22:01] manklu commented on #2050
@BioPhoton AFAIK ɵdetectChanges and ɵmarkDirty are considered as part of the private API and are subject to change without notice.

[2020-02-02 01:40] BioPhoton commented on #2052
Here the first draft of the documentation for the `ngrxPush` pipe.
Please let me know if this makes sense and I don't miss anything.

# NgRxPush Pipe
The `ngrxPush` pipe serves a drop-in replacement for the async pipe.
It contains intelligent handling of change detection to enable us
running in zone-full as well as zone-less mode without any changes to the code.

The current way of binding an obse

[2020-02-02 02:01] LayZeeDK commented on #2052
the whole component tree. This draws performance.

To be precise, `AsyncPipe` only sets a dirty flag on the view and all parent views so that they will be dirty checked no matter their change detection strategy.

Since it only marks views, but doesn't actually trigger a change detection cycle, it relies on logic initialized in `ApplicationRef` to run `detectChanges` on the root view which causes a

[2020-02-02 14:12] BioPhoton commented on #2052
Here the design doc for the `ngrxPush` pipe:
https://hackmd.io/Uus0vFu3RmWRVGgmtzuUWQ?both=

[2020-02-02 16:13] stupidawesome commented on #2052
I'm experimenting with a combination of base class + service injection + proxies.

Stackblitz example is here: https://stackblitz.com/edit/angular-9-0-0-rc-1-1qxbvs

All reactive state logic is handled by an effects class. The two parts to note here are the Reactive base class, and the effects provider.

[code]

In the effects class, each property marked by the `@Effect()` decorator should map ont

[2020-02-02 22:53] BioPhoton commented on #2052
Here the design doc for the `*ngrxLet` directive:
https://hackmd.io/8_3rp0A7RweSYJiulsifbQ?both

[2020-02-02 23:44] BioPhoton commented on #2052
Here a collection of terms used in the document and their explanation:
https://gist.github.com/BioPhoton/e8e650dc3b8a7798d09d3a66916bbe10

[2020-02-03 08:10] StephenCooper commented on #2339
Trying to decide on the default status of this runtime check.

 Defaulting on would mean higher uptake of this feature and potentially help catch more issues. My assumption would be that 'most' apps are written without an explicit need to run events outside of NgZone, meaning any events this catches would be of use to users.

On the flip side defaulting on would cause errors to start being thrown

[2020-02-03 10:00] bfwg commented on #2001
Hi @Samywamy10 , do you happen to know how to work with `File` type Action parameters? I'm trying to do
[code]
I tried the spreading method but no luck.

[2020-02-03 15:08] vbourdeix opened #2346 "@ngrx/data/save/delete-one/error does not remove the change from the changeState"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## What is the current behavior?
As described in [this stackoverflow](https://stackoverflow.com/questions/59992454/ngrx-data-undoing-an-optimistic-delete-should-an-undo-one-action-revert-the), whe

[2020-02-03 16:16] Rush commented on #2052
Looks good @BioPhoton

btw. not sure if it's relevant but I feel having inputs as observables natively would be of help for the overall solution. I recently found this nifty library https://github.com/Futhark/ngx-observable-input

[2020-02-03 17:57] LayZeeDK commented on #2052
Why this? Just pass an observable to the input property. Even change detection works by default when new values are emitted through input observables.

[2020-02-03 20:23] fxck commented on #2052
Because you might be passing data down from a dumb component to a component that wants to utilise reactivity.

[2020-02-03 21:01] LayZeeDK commented on #2052
You decide the data binding API, not your parent components 👴

[2020-02-04 16:35] fpl1976 commented on #2176
+1

[2020-02-05 02:59] #2225 closed

[2020-02-05 03:04] #2227 closed

[2020-02-05 03:05] brandonroberts commented on #2227
This one is already done.

[2020-02-05 03:27] brandonroberts commented on #2342
This seems like a duplicate of https://github.com/ngrx/platform/issues/859

[2020-02-05 03:30] brandonroberts commented on #2316
Would you ever use `provideMockActions()` and `provideMockEffects()` together?

[2020-02-05 03:31] brandonroberts commented on #2310
Fixed via https://github.com/ngrx/platform/pull/2297

[2020-02-05 03:31] #2310 closed

[2020-02-05 03:34] brandonroberts commented on #2262
Do we still need to do anything here?

[2020-02-05 03:35] brandonroberts commented on #2249
Closing as wont fix

[2020-02-05 03:35] #2249 closed

[2020-02-05 03:36] brandonroberts commented on #2212
Archive site is at https://v8.ngrx.io

[2020-02-05 03:36] #2212 closed

[2020-02-05 03:37] brandonroberts commented on #2192
I think we've updated the stuff on our end to fix this.

[2020-02-05 03:37] #2192 closed

[2020-02-05 03:37] #2173 closed

[2020-02-05 03:38] brandonroberts commented on #2137
Going to close this for now as it will be the default in version 9

[2020-02-05 03:38] #2137 closed

[2020-02-05 03:41] brandonroberts commented on #1614
Closing as this is still supported

[2020-02-05 03:41] #1614 closed

[2020-02-05 03:42] brandonroberts commented on #1482
Not going to do this after all

[2020-02-05 03:42] #1482 closed

[2020-02-05 03:44] brandonroberts commented on #2343
Just leaving a note to close this after we cut the first 9.0 beta

[2020-02-05 03:46] brandonroberts commented on #2334
I think `[Collection Page] Enter` would fit there

[2020-02-05 03:47] brandonroberts commented on #2322
I think we will keep the behavior as is for now

[2020-02-05 03:47] #2322 closed

[2020-02-05 03:52] RobertAKARobin commented on #2343
I assume that will happen after Angular 9 is released?

[2020-02-05 03:52] brandonroberts commented on #2246
I think what you're looking for is https://ngrx.io/api/router-store/StoreRouterConfig#navigationActionTiming

[2020-02-05 03:52] #2246 closed

[2020-02-05 03:58] #1123 closed

[2020-02-05 03:59] brandonroberts commented on #1541
Closing as we won't be adding this to effects

[2020-02-05 03:59] #1541 closed

[2020-02-05 04:00] #2224 closed

[2020-02-05 04:03] #1876 closed

[2020-02-05 04:05] brandonroberts commented on #1548
Closing this for now.

[2020-02-05 04:05] #1548 closed

[2020-02-05 04:06] brandonroberts commented on #1544
I think we'll table this for now

[2020-02-05 04:06] #1544 closed

[2020-02-05 04:07] brandonroberts commented on #951
Re-open this if its still an issue with the latest version

[2020-02-05 04:07] #951 closed

[2020-02-05 04:08] brandonroberts commented on #866
Closing with example reference

[2020-02-05 04:08] #866 closed

[2020-02-05 04:11] #2112 closed

[2020-02-05 04:12] brandonroberts commented on #2343
The plan is to cut the first beta this week

[2020-02-05 08:49] santoshyadav198613 commented on #2337
Hi @timdeschryver/ @brandonroberts  ,
I will work on it.

[2020-02-05 13:26] BioPhoton commented on #2322
Yes definitely! The queue scheduler thing is kinda avoiding an antipattern, but I created the local state thing without it and the 3rd person using i ran into the problem.

IMHO the current behavior and the usage of queueScheduler is perfect.

[2020-02-05 13:29] BioPhoton commented on #1123
Hi @brandonroberts!
Any feedback on why this is closed?

[2020-02-05 16:09] timdeschryver commented on #2339
@StephenCooper the default can be be `off`

[2020-02-05 17:35] eric-simonton-sama commented on #2322
I'm interested to hear what y'all's thoughts are on the issue it is causing me. An unforunate, necessary evil to avoid worse problems if you change it? Or is what I'm observing actually desirable in itself for some reason?

[2020-02-05 18:59] timdeschryver commented on #2001
@bfwg a `File` is not serializable.

[2020-02-05 19:12] bfwg commented on #2001
So there is no way to pass a `File` as the parameter of an Action while the `strictActionSerializability` is true?

[2020-02-05 19:44] timdeschryver commented on #2001
Correct @bfwg

[2020-02-05 19:47] bfwg commented on #2001
Thanks!

[2020-02-06 01:12] AndrewKushnir commented on #2109
Hi,

I'd like to followup [on the issue](https://github.com/angular/angular/issues/34993) @tonivj5 created in Angular Framework repo and provide more info after additional investigation. You can repro this issue using this repo: https://github.com/tonivj5/angular-issue-34993 (thanks @tonivj5).

The problem appears when the `strictActionImmutability` flag is set in the `StoreModule.forRoot` call, t

[2020-02-06 08:14] stupidawesome commented on #2052
Here's take 2 on my last post with comments on how it deals with the various features desired from a reactive component. For brevity I will only refer to components here, but this pattern could also be applied to directives and modules (anywhere you can add providers).

# Summary
The main goal of this implementation is to develop a reactive API for Angular components with the following characteris

[2020-02-06 09:00] santoshyadav198613 commented on #2307
I will get it checked @timdeschryver .

[2020-02-06 14:43] tehZeno commented on #2308
@chrisguttandin  info on your custom router store? (kind of in need of this feature)

[2020-02-06 16:11] AdditionAddict commented on #2346
Mimicking the undoMany test located at data/spec/reducers/entity-change-tracker-base.spec.ts below is a failing test.
[code]

[2020-02-06 17:05] kmaraz commented on #219
Hi!, Is this issue solved? I have the latest NgRx and I can replicate this issue in my project. When I change the order, state is undefined. Thanks

[2020-02-06 18:32] #2330 closed

[2020-02-06 19:38] Zarepheth commented on #632
A manually implemented poly fill may also work: [Store-DevTools #64](https://github.com/ngrx/store-devtools/issues/64#issuecomment-314889392)

[code]

[2020-02-06 20:43] AdditionAddict commented on #2307
@santoshyadav198613 `entity-change-tracker-base.ts` in general looks suspicious (`undoMany` is definitely buggy - PR #2352 opened), and `trackUpsertMany` is used in this case. All the methods in `entity-change-tracker-base.ts` return `collection` directly. Should these be returning `{ ...collection }` (assuming user deep clones entity)?

[2020-02-06 20:52] initplatform commented on #951
Good call @papiliond ... that was a huge pain... I can't imaging most people would be able to even figure this out with this help

[2020-02-06 21:25] LayZeeDK commented on #2052
Please, not more decorators 🙁

[2020-02-06 23:12] BioPhoton commented on #2052
Imho reactive hooks is definitely a component feature in the future.

[2020-02-07 09:14] cherryland opened #2355 "Over-optimized, over-blown"
I use the example-app from time to time to remind myself how ngrx works. Because I do all kind of other things besides working with Angular. And I am with ngrx since the day one. Now this is a perfect opportunity for you to gather insights from developers and measure the developer experience.

The example-app has become a mess and is totally overblown and over-optimized.

In fact, you can clearly

[2020-02-07 10:42] debuggerpk opened #2356 "EntityDataModule.forRoot returns a ModuleWithProviders type without a generic type argument."
## Minimal reproduction of the bug/regression with instructions:

After upgrading to angular 9 with ngrx/data, I get the error

Digging this up, I landed on this from angular documentation. https://angular.io/guide/deprecations#moduleWithProviders

Currently, the @ngrx/data module code does not support the angular9 style `ModuleWithProviders`. I will be submitting the PR for this.

## Expected beh

[2020-02-07 13:39] #2356 closed

[2020-02-07 16:42] AlexAegis commented on #2355
I just checked it and it even has an ellipsisPipe. Why would anyone write something like that when the css solution works better. We rarely use monospaced fonts on the web, relying on string length is inconsistent.

I'd make a simpler example app and rename this to something else (I still wouldn't throw it away completely)

[2020-02-07 17:00] brandonroberts commented on #2355
@cherryland @AlexAegis

Thank you for being with NgRx since our early days, the team is really appreciating that you remained with us through all our changes, and improvements.

We are sorry that you **feel** that the example-app is no longer up to your standards, and we are open to your suggestions on how we can improve it.

We are always looking for ways to make the example-app better for those

[2020-02-07 17:19] stupidawesome commented on #2052
[code]

How about this? [Example code here](https://github.com/stupidawesome/ng-effects/blob/master/apps/ng9/src/app/test/test.component.ts)

[2020-02-07 17:45] BioPhoton commented on #2052
Welcome to the party:
https://dev.to/rxjs/research-on-reactive-ephemeral-state-in-component-oriented-frameworks-38lk

[2020-02-07 21:41] sharozmirza opened #2358 "Is there any way to stop auto sorting by id?"
My model has an `id` field and the adapter is sorting the HTTP response array by id automatically. I would like to know how I can stop it.

Here is my adapter:
`const adapter: EntityAdapter<SampleModel> = createEntityAdapter<SampleModel>();`

and here is the reducer:
[code]

[2020-02-08 10:00] stupidawesome commented on #2052
First pass at implementing a `whenRendered` hook:

- [Code here](https://github.com/stupidawesome/ng-effects/blob/master/libs/ng-effects/src/lib/internals/render-factory-observer.ts)
- [Usage here](https://github.com/stupidawesome/ng-effects/blob/master/libs/ng-effects/src/lib/internals/effects.ts#L46)

It is invoked once immediately after the first round of change detection finishes.

[2020-02-08 10:55] BioPhoton commented on #2052
Here @trotyl hook
https://github.com/trotyl/ng-reactive/blob/master/README.md

[2020-02-08 13:47] chrisguttandin commented on #2308
Hi @tehZeno, it's just a property on my state object which I update on each NavigationStart event.

Hi @timdeschryver, do you think it makes sense when I start a pull request for this. Or is this something you would rather not like to add to the library?

[2020-02-08 16:17] brandonroberts commented on #2358
@sharozmirza the default adapter behavior is to leave the list unsorted. If you need further support, see the [gitter channel](https://gitter.im/ngrx/platform)

[2020-02-08 16:17] #2358 closed

[2020-02-08 16:21] #2337 closed

[2020-02-08 17:00] #2346 closed

[2020-02-08 17:12] brandonroberts commented on #2241
Example detection from the Angular schematics https://github.com/angular/angular-cli/blob/524bff6f43f4cf94c9c6e8c26efd514e52ec7455/packages/schematics/angular/migrations/update-9/utils.ts#L111

[2020-02-08 17:14] brandonroberts commented on #2205
@harm-less I think they should remain separate

[2020-02-08 18:30] AdditionAddict commented on #994
@leonardochaia any update on progress or findings?

Personally I think if we're going to look at offline, let's do it properly with an offline storage like indexeddb. At least that's my opinion. And thinking more fully about offline (imagine 8 hours offline rather than intermittent) forces us to cover more bases.

page 45 of [Online and Offline Operation ofJ2EE Enterprise Applications](https://web

[2020-02-08 19:22] AdditionAddict opened #2359 "@ngrx/data - add entity op actions for offline support"
I've laid out my thoughts more fully in a post on [NGRX Offline patterns
](https://github.com/ngrx/platform/issues/994#issuecomment-583763989) but I propose the following new actions to support offline capabilities:

UPDATE_CACHE_SERVER_VALUE - overwrites the `originalValue` in `changeState` creating it if necessary and if the entity in the collection differs update the `changeType` to **Updated**

[2020-02-08 21:34] alex-okrushko commented on #2355
I'll close this for now. Some further possible actions are outlined above 👆

[2020-02-08 21:34] #2355 closed

[2020-02-09 13:11] alex-okrushko commented on #2262
@zakhenry  Would you consider this resolved?

[2020-02-09 13:23] zakhenry commented on #2262
@alex-okrushko I think possibly this issue itself may serve as a good enough search result in case anyone else hits the issue. I’m happy to close for now, but it would be helpful if anyone else in future that hits this issue would comment so we can see that the docs need clarity.

On the topic of lint enforcement of explicit publicity declaration, I understand that public is the default, which is

[2020-02-09 13:23] #2262 closed

[2020-02-09 14:00] alex-okrushko commented on #2262
@zakhenry Thanks. If you keep them private, how would you test them? Only through e2e?

[2020-02-09 14:01] zakhenry commented on #2262
@alex-okrushko yep in this particular case it was a mistake in an effect that was only tested e2e. It should have been public anyway

[2020-02-09 18:26] stupidawesome commented on #2052
I've pushed the first unstable release of `ng-effects` to NPM.

[Documentation here](https://github.com/stupidawesome/ng-effects)

[2020-02-10 01:54] Tecayehuatl commented on #664
Check your module settings, do you have something like this?

	StoreModule.forRoot(reducers, {
			metaReducers,
			runtimeChecks: {
				strictStateImmutability: true,
				strictActionImmutability: false,
				strictStateSerializability: true,
				strictActionSerializability: true
			}
		})

I disabled the `strictActionImmutability` property, another alternative is to run `ng serve --prod` with the

[2020-02-10 02:36] markerikson commented on #2333
FWIW, I'm playing around with copy-pasting the `@ngrx/entity` logic over into Redux Toolkit directly, and modifying it based on our own needs.

The first tweaks were just replacing the Angular imports I've mentioned.  I'm now looking at the update logic and seeing if there's ways to simplify it using Immer.  (I've already updated `state_adapter.ts` to skip the preemptive copying before running `mu

[2020-02-10 02:55] brandonroberts commented on #2333
Cool. Let us know how that goes. We'd still like to make this work and share some core code if possible.

[2020-02-10 03:00] markerikson commented on #2333
Sure.  My first impression is that use of Immer would allow us to drop all the `DidMutate` logic entirely, which would be a fairly drastic change in internal implementation.

[2020-02-10 03:06] alex-okrushko commented on #2329
To address the initial issue - we can `mockStore.overrideSelector` and then call `mockStore.refreshState`. Might not be ideal, but that allows us to set multiple selectors at the same time and "tigger" them with `refreshState` all at the same time.

So I'll use this as a cleanup bug.

P.S.: I've looked into supplying `BehaviorSubject` and implemented but it was quite intrusive, so I'll leave it as

[2020-02-10 03:07] #2329 closed

[2020-02-10 03:55] alex-okrushko commented on #2333
@markerikson WFIW, adding multiple deps freaks people out. e.g. Angular has the only dep right now, which is `rxjs`... and so does `ngrx`. Adding `immer` won't be something that is taken lightly.

I'll all for reusable lib and would really like to see `@ngrx/entity` being able to be used in redux, or any other state management 👍, but adding deps to `entity` itself could be problematic.

[2020-02-10 04:50] markerikson commented on #2333
Right, there's multiple thoughts here.

One is that if `@ngrx/entity` is generic and reusable, it might just be usable as-is.

Another is that as I just found out, the logic in `@ngrx/entity` can be simplified considerably by using Immer instead of all the manual "did we mutate?" bookkeeping.  That's not an issue for RTK, which already heavily depends on Immer, but may not be acceptable for NgRx,

[2020-02-10 08:01] timdeschryver opened #2362 "TestBed.inject Mockstore"
## Minimal reproduction of the bug/regression with instructions:

@tomastrajan was busy with the upgrade of Angular 9 and NgRx 9 and encountered the following problem.

With the introduction of `TestBed.inject` instead of `TestBed.get`, we receive the following error when we get the Store and assign it to a MockStore.

[code]

Because we're now exposing the `MockStore`, I also tried to get the `Mo

[2020-02-10 08:03] tomastrajan commented on #2362
Thx @timdeschryver !

[2020-02-10 09:20] timdeschryver opened #2363 "MockStore selectors resulting in warning logs"
## Minimal reproduction of the bug/regression with instructions:

Currently all the tests that use a mockstore with mocked selectors, [will log the warning that the state does not exists](https://github.com/ngrx/platform/blob/master/modules/store/src/selector.ts#L618).

This is normal because when we define a mocks store, we don't define the state object.

## Expected behavior:

It should not be l

[2020-02-10 12:42] MikeRyanDev commented on #2333
@markerikson I want to give you a lengthier response later and help make sharing @ngrx/entity a success. One thing I want to say now is that if you do pull in @ngrx/entity logic I'd shy away from refactoring the implementation details. One of the earliest design decisions I made with the library is that @ngrx/entity should be extremely fast under the hood. That's why the implementation is so bizar

[2020-02-10 12:59] markerikson commented on #2333
Sure.  Nothing I'm doing so far is final - I'm just playing around with things atm.

I _am_ curious about:

- the perf characteristics of always copying both `entities` and `ids` up front
- the perf impacts of using Immer
- the completely separate code paths for sorted vs unsorted collections
- what the net bundle size changes would be for RTK based on the Immer-ified version I was playing around

[2020-02-10 13:08] MikeRyanDev commented on #2333
@markerikson

GC pauses for managing `ids` and `entities` in an immutable way becomes unbearably slow when performing large upserts or patches to the collections.

The implementations have always differed just enough that they had to be separate. @ngrx/entity sorts a collection at time of modification rather than in a selector. I've always had the itch to take this a step further and swap the sort

[2020-02-10 13:11] MikeRyanDev commented on #2333
Oh, another thing about the sorted collection implementation being different: IIRC when I created @ngrx/entity `array.sort()` wasn't guaranteed to be a stable sort across browsers. Sorting the collection by hand let me guarantee resorting the collection was stable. This felt important to me from a UX perspective if you built a UI that rendered the collection as a list.

[2020-02-10 13:15] markerikson commented on #2333
The Immer docs on overall perf are here:

https://immerjs.github.io/immer/docs/performance

Part of my observation is that while Immer _will_ have additional overhead in comparison to doing things at the "raw JS" level (snicker), there are benefits in that:

- We don't have to pre-copy `ids` and `entities` up front, because they'll only get copied at the end by Immer _if_ the update logic actually

[2020-02-10 13:28] rickvandermey commented on #2362
Does this mean NGRX 8.6.x is not compatible with Angular 9 yet?
will patch `store = TestBed.inject(Store)` to `store = TestBed.inject(Store) as MockStore<any>;` for now

[2020-02-10 14:26] timdeschryver commented on #2362
@rickvandermey NgRx 8.6.x should be compatible with Angular 9.
`inject` works as it did before, but became deprecated.

[2020-02-10 14:27] rickvandermey opened #2365 "Unit Test ngrx/entity update will fail for single entity"
## Minimal reproduction of the bug/regression with instructions:

After upgrading to Angular 9, Unit test will fail when using actions which dispatch an Update on a single entity, the unit test will fail. multi `entities` still works.

action:
[code]
effect.spec
[code]

error:
[code]

## Expected behavior:
It still works

## Versions of NgRx, Angular, Node, affected browser(s) and operating system

[2020-02-10 14:41] rickvandermey commented on #2362
We did something similair for Actions, because NgRx doesnt have MockActions itself, maybe it can be applied on MockStore as well.
[code]

[2020-02-10 15:14] #2365 closed

[2020-02-10 15:15] alex-okrushko commented on #2362
The cleanup here already addresses this issue :)
https://github.com/ngrx/platform/pull/2361/files#diff-dd898c9bfa6998c4353faa87d4286c62R21

[2020-02-10 15:15] rickvandermey commented on #2365
does work as intended

[2020-02-10 15:35] timdeschryver commented on #2362
@alex-okrushko I think that doesn't resolve this?
An end-user should be able to retrieve the (mock)store from testbed.

[2020-02-10 15:47] stupidawesome commented on #2052
Misko's Ivy design docs are interesting
- [Render API Proposal](https://hackmd.io/@mhevery/BkDUxaW84/%2F5Yy1ZuXLRneK3A5OMVus7w?type=book)
- [Zoneless Change Detection](https://hackmd.io/@mhevery/BkDUxaW84/%2FK7MLVYSDQKKaMKJXW_KZAw?type=book)

Looks like zones are going away eventually.

[2020-02-10 16:38] markerikson commented on #2333
One other API design thought:

Right now, the `EntityAdapter` API methods all seem to take an item first, and a state value second.  From the usage example in the docs:

[code]

It would be _really_ nice if the adapter arguments were flipped, so that the adapter methods could be used as reducers directly.  Similarly, it would be great if the outer adapter wrapper function could check to see if the

[2020-02-11 02:36] #2339 closed

[2020-02-11 02:40] debuggerpk opened #2367 "@ngrx/data: TS-996002: Appears in the NgModule.imports of AppModule, but could not be resolved to an NgModule class"
Related to #2356, #2357 and #2366 . After installing from nightly builds, as @brandonroberts suggested, I started getting the error

[code]

Digging deep and looking up various issues, it appears the error is somewhat related to deep imports so i linked library from the local source using `file:` in my projects `package.json`. Doing so gave me the error below.

[code]

## Versions of NgRx, Angular

[2020-02-11 02:45] brandonroberts commented on #2367
What's the fix here? I thought `EntityDataModuleWithoutEffects` is already being exported

[2020-02-11 02:59] brandonroberts commented on #2215
Fixed via #2360

[2020-02-11 02:59] #2215 closed

[2020-02-11 03:05] brandonroberts commented on #1470
Closing for now. Will reopen if there is interest in the future

[2020-02-11 03:05] #1470 closed

[2020-02-11 04:47] markerikson commented on #2333
This evening's experimentation:

- Swapped the argument order for `stateOperator` so that it's now `(state, arg)`
- Added logic to check if `arg` is actually a Flux Standard Action, and if so, call `mutator(arg.payload, state)` instead
- Verified that I could now use `usersAdapter.addOne` as a Redux reducer directly, by passing it to `createSlice`

I did run into some weird behavior with Immer, wh

[2020-02-11 05:32] debuggerpk commented on #2367
@brandonroberts i am all out of ideas. have the experience of other side of the fence i.e. consuming libraries but the contributing to one.

Having said that, the closes i got to investigating this issue is https://github.com/angular/angular/issues/29361#issuecomment-546069203 and did set

[code]

but still got the error. The exports appear to be right. If you can point to the documentation on how

[2020-02-11 06:52] stupidawesome commented on #2052
Pushed a new version of `ng-effects`. It adds experimental support for [zoneless change detection](https://github.com/stupidawesome/ng-effects#experimental-features).

[2020-02-11 07:35] brandonroberts commented on #2367
There is documentation here on how to setup and build locally https://ngrx.io/contributing#setup-1

[2020-02-11 11:24] AdditionAddict opened #2368 "@ngrx/data - mergeQuerySet does not use PreserveChanges strategy"
## Minimal reproduction of the bug/regression with instructions:

see `mergePreserveChanges()` in `app.component.ts` in this [stackblitz](https://stackblitz.com/edit/angular-entitycachedispatcher-g8xk3t-preservechanges)

after some setup the state (1 x added, 1 x updated, 1 x deleted) is:
[code]

I'm dispatching a `mergeQuerySet` with `MergeStrategy.PreserveChanges` strategy
[code]

Here I've upda

[2020-02-11 13:23] garrappachc commented on #2109
+1 for this. In my project I neede to disable the `strictActionImmutability` check: https://github.com/tf2pickup-pl/client/commit/81a82c8e85d71eb90059446cdb1fc30ac253c3e5
With this check disabled, everything works fine.
I have no idea why this issue is closed, it is obviously still affecting all projects that want to move to Angular 9.

[2020-02-11 14:03] brandonroberts commented on #2109
@garrappachc this issue has been fixed in master, and will go out with the next release soon. If we need to cut a bug fix for NgRx 8.x before then we will do that also.

[2020-02-11 14:28] AdditionAddict commented on #2368
Full chain following the source code:

mergeQuerySet
→ this.dispatch(new MergeQuerySet(querySet, mergeStrategy, tag)); (entity-cache-dispatcher.ts)
→ this.mergeQuerySetReducer(entityCache, action as MergeQuerySet); (entity-cache-reducer.ts)
→ this.applyCollectionReducer(entityCache, act); (entity-cache-reducer.ts)

Where applyCollectionReducer is run for each entityName with entityOp UPSERT_MANY +

[2020-02-11 14:57] AdditionAddict commented on #2368
within `mergeQuerySetReducer` all current tests pass changing from `const entityOp = EntityOp.UPSERT_MANY;` to `const entityOp = EntityOp.QUERY_ALL_SUCCESS;` and this uses the happier path `mergeQueryResults` → `mergeServerUpserts`

[2020-02-11 16:34] alex-okrushko commented on #2362
Oops... I didn't read the issue correctly.

I'm surprised that `spyOn(store, 'dispatch')` is not caught. To solve that we can add `dispatch` to `MockStore` that would be calling `super.dispatch`.

[2020-02-11 17:07] dmytro-gokun opened #2369 "@ngrx/entity add setOne (replaceOne?) method"
Currently, the only way to replace an item is by using upsertOne. That does not work well with 'undefined' though (which is the case when the backend omits nulls when serializing to JSON). For example, i have an entity in the collection: {id: 1, name: 'foo', note: 'lorem ipsum'}. I want to replace it with {id: 1, name: 'foo'}. Obviously, upsertOne does not do the job well. Since the object  is alr

[2020-02-11 18:56] AdditionAddict commented on #2359
I believe `MergeChanges` tracking will cover this requirement (after bugfixes).

I'll be exploring ways of implementing offline capabilities using current framework

[2020-02-11 18:56] #2359 closed

[2020-02-11 22:54] stupidawesome commented on #2052
Another update to `ng-effects`, this time bridging the gap with [Custom effect handlers](https://github.com/stupidawesome/ng-effects#custom-effect-handlers)

This is how you can link this lib with NgRx or other action dispatchers:

[code]

[code]

As of this update we probably don't need separate ngrx/effects or component facades anymore.

[2020-02-11 22:56] AdditionAddict commented on #2369
Note `upsertOne` treats the passed entity as an update as does `@ngrx/entity`. In fact, previous interface was that the payload was an `Update<T>`. I'd say this is intended behaviour which has been addressed in previous issues - https://github.com/ngrx/platform/issues/1604 (closed) https://github.com/ngrx/platform/issues/2061 (open)

I think upsertOne should have `Partial <T>` though.

Also every

[2020-02-12 01:03] BioPhoton commented on #2052
I try to get an opinion on passing the context. What are the pros and cons for you?

[2020-02-12 03:16] amithegde commented on #1951
please fix this, it's kind of let down!

[2020-02-12 03:50] stupidawesome commented on #2052
Local effects should be able to compose or connect Observables/EventEmitters in the component instance such as `FormGroup` and `@Ouput()`. This can be combined with the observable state (when component properties change) and observable services. [This example](https://github.com/stupidawesome/ng-effects#compose-multiple-observable-sources) demonstrates all the observable sources at play. Outputs i

[2020-02-12 04:32] wardbell commented on #2359
@AdditionAddict  We had offline scenarios in mind when we designed NgRx Data.

I must begin with cautionary observations. I've been at this for two decades and I can assure you that data synchronization is really tricky.  I've never seen a solution that (a) was simple or (b) didn't stumble spectacularly at least some of the time.

I do not believe I have the genius to solve a problem that has bewi

[2020-02-12 06:44] dmytro-gokun commented on #2369
@AdditionAddict I do not think there is any issue with `upsertOne`. It behaves in accordance with `ngrx`'s update semantic. All is well here. It's just that it does not cover all possible scenarios. That's why i think `setOne` is needed.

As to name, i chose `setOne` to follow the pattern which is already here after a recent rename of `addAll` to `setAll`: https://github.com/ngrx/platform/pull/234

[2020-02-12 07:22] AdditionAddict commented on #2369
@dmytro-gokun I agree

[2020-02-12 10:46] dmytro-gokun opened #2371 "@ngrx/data uses PUT for partial updates"
I'm not sure if this has been already discussed elsewhere.. At least I was not able to find such a discussion. If there is one, please point me at it.

It appears that the default HTTP implementation in @ngrx/data uses PUT verb for updates (https://github.com/ngrx/platform/blob/master/modules/data/src/dataservices/default-data.service.ts#L110). And those are 'partial updates' because that is the s

[2020-02-12 12:24] AdditionAddict commented on #2371
I've found too many conflicting recommendations online - I'd say whichever HTTP verb to use is too dynamic to dictate and should be fully configurable (as should the url e.g. /user/userID/report/reportID). But I write my own api so I can change to suit @ngrx/data. Is @ngrx/data ready for non-api writers? IMHO not yet

[2020-02-12 14:20] DmitriyIvanko opened #2372 "[Ivy] @ngrx/store-devtools included in bundle in production mode"
## Minimal reproduction of the bug/regression with instructions:
import { StoreDevtoolsModule } from '@ngrx/store-devtools';

import { environment } from 'environments';

const STORE_DEV_TOOL_MAX_AGE = 25;

@NgModule({
  imports: [
   // other imports
    StoreDevtoolsModule.instrument({
      logOnly: environment.production,
      maxAge: STORE_DEV_TOOL_MAX_AGE,
    }),
  ],
})
export class AppMo

[2020-02-12 15:09] AdditionAddict commented on #2359
@wardbell Thank you for the above.

...is really tricky. I'm getting that :)

I agree everthing is there (I overlooked the [EntityDispatcher](https://ngrx.io/api/data/EntityDispatcher) API esp. use of mergeStrategy - your 2nd to last point) and offline could be built on top off this but not inside @ngrx/data which is why I closed the issue.

Big fixes - see PR #2370. I've not had a in depth look a

[2020-02-12 15:50] jerryorta-dev opened #2373 "[Ivy] 9.0.0-beta.0 - Life Cycle Effects Hook loses context"
## NgRX 9.0.0-beta.0 , Angular 9.0.0, Node 12.3.0:

The lifecycle ngrxOnInitEffects is broken - it loses the context of "this" so code inside that hook doesn't understand the class properties, methods, constructor injections -- Rolling back to 8.6.0 works.

## Other information:

## I would be willing to submit a PR to fix this issue

[ ] Yes (Assistance is provided if you need help submitting a p

[2020-02-12 16:30] AdditionAddict opened #2374 "@ngrx/data - mergeServerUpserts - can't define property "originalValue": Object is not extensible"
## Minimal reproduction of the bug/regression with instructions:

[Stackblitz](https://stackblitz.com/edit/angular-cyj4jjve-ngrx-data-merge-server-upserts) - see `mergeServer()`

Here after setup of initialState the state is
[code]

## Expected behavior:
Would expect state to be the same (merge values are the same) with no errors

## Versions of NgRx, Angular, Node, affected browser(s) and operati

[2020-02-12 16:45] GuateDevIO commented on #2373
Experiencing the same issue. This can be reproduced by adding an ngrxOnInitEffects to the NgRx example-app repo.

[code]

[2020-02-12 17:30] timdeschryver commented on #2372
See the [docs](https://ngrx.io/guide/store-devtools/recipes/exclude) on how to exclude devtools from a production build.

[2020-02-12 17:30] #2372 closed

[2020-02-12 17:42] timdeschryver commented on #2373
I haven't verified if this is the culprit, but there has been a change to `OnInit` in the v9 release - https://github.com/ngrx/platform/commit/a528320dc05fbe91959f91870535b1bd7487d142

[2020-02-12 17:51] AdditionAddict commented on #2302
@sapabg can you give a concrete example of what you are trying to achieve in order to focus the mind?

[2020-02-12 18:43] jasonhodges commented on #2362
@timdeschryver
Should

instead be "With the introduction of TestBed.inject instead of TestBed.get" ?

According to the Angular docs, `TestBed.get` is deprecated and `TestBed.inject` is the replacement. https://angular.io/api/core/testing/TestBed#get

[2020-02-12 20:04] alex-okrushko commented on #2362
@jasonhodges Yeah, that's what I initially referred to in my first comment, that I was cleaning that up.

[2020-02-12 20:52] timdeschryver commented on #2362
Sorry for the confusion (I've just updated the issue), thanks for catching this.

[2020-02-12 20:54] timdeschryver commented on #2362
@alex-okrushko I tried calling `super.dispatch`, but ended up with the same result.
I will verify it later to be sure.

[2020-02-13 04:36] luchillo17 commented on #1993
@peimelo I'm using `@ngrx/data` and getting control of the error is harder here, though I do understand the issue is with the error itself not being serializable at some point.

I was going to override the DefaultPersistenceResultHandler to cast the error into a serializable object to work around this issue, however, it seems like it's part of the architecture to transform the error (which I'm thr

[2020-02-13 06:08] prewk commented on #632
Here's a simple one for Sets:

[code]

[2020-02-13 08:24] cjkumaresh opened #2377 "AngularInDepth link in ngrx/resources is broken"
The **AngularInDepth** link in [https://ngrx.io/resources](https://ngrx.io/resources) is broken. It should be updated to this new link [https://admin.indepth.dev/tag/ngrx/](https://admin.indepth.dev/tag/ngrx/)
## Other information:

## I would be willing to submit a PR for the docs :heart:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2020-02-13 08:32] santoshyadav198613 commented on #2377
Hi @cjkumaresh,

It should be https://indepth.dev/tag/ngrx/, just wait for sometime, I will get it checked with team why this URL gives 404. So you can get it changed.

[2020-02-13 08:33] stupidawesome commented on #2052
[New minor release](https://github.com/stupidawesome/ng-effects).

Biggest change: No more property interceptors! Internal state is now hooked directly into the change detection process. State is checked both before and after a change detection run, and any effects that depend on component state will be triggered if those properties have changed. State is also checked again after each effect has e

[2020-02-13 08:46] cjkumaresh commented on #2377
@santoshyadav198613 Sure

[2020-02-13 09:09] AdditionAddict commented on #2374
Can't replicate on pure mergeServerUpserts unit tests.
Same as #2307 and related to immutability? `trackUpsertMany` used in both cases

[More minimal stackblitz](https://stackblitz.com/edit/angular-cyj4jjve-ngrx-data-merge-server-upserts-pay8pv)

[2020-02-13 11:45] santoshyadav198613 commented on #2377
Hi @cjkumaresh,
The URL is https://indepth.dev/ngrx/.
Thanks for bringing this up, if you are interested you can change the URL in Angular repo as well.

[2020-02-13 13:00] brandonroberts commented on #1993
We've added a feature to ignore runtime checks for actions that originate from NgRx libraries that should help with this. See the PR here https://github.com/ngrx/platform/pull/2351

[2020-02-13 13:15] brandonroberts commented on #2052
@stupidawesome thank you for putting these ideas into a library, but we're getting off-topic here with the updates. If you would like to discuss that library further, open an issue in your repo so people can continue discussing it there.

[2020-02-13 13:16] luchillo17 commented on #1993
I see, so it will be fixed in next release, any ETA on it? will it be for angular 9 up?

[2020-02-13 13:19] brandonroberts commented on #1993
Soon-ish 😉. It will be for Angular 9 up, as that's our official support policy on major releases.

[2020-02-13 14:12] #2377 closed

[2020-02-13 14:43] #2303 closed

[2020-02-13 14:46] Maximaximum commented on #1179
It's really pity that this function has not been documented yet. In my app, I need a multilevel reducer tree, to break complex state handling into multiple reducers. This is not achievable via `StoreModule.forFeature()`, because it only lets to register top-level child reducers - this does not help with multilevel scenarios.

[2020-02-13 17:32] timdeschryver commented on #2362
@alex-okrushko I just verified that having calling `super.dispatch` does not help.

[2020-02-13 19:22] evgenyfedorenko commented on #2363
I can take this one.

[2020-02-14 00:31] jpduckwo commented on #2193
The schematics generates reducers using ActionReducerMap however this doesn't compile with AOT unless you change this to a combineReducers function like

e.g. change:
[code]
TO
[code]
@alex-okrushko Should schematics be updated to generate reducers/index.ts files like this maybe? I can raise a new issue if you think it should.

[2020-02-14 02:14] alex-okrushko commented on #2362
https://github.com/ngrx/platform/pull/2381 should fix this. Sorry 🙈

[2020-02-14 06:51] #2362 closed

[2020-02-14 08:19] talohana opened #2382 "@ngrx/store mutating object from selector mutates the store"
## Minimal reproduction of the bug/regression with instructions:
Reproduction in [this stackblitz](https://stackblitz.com/edit/ngrx-8-playground-uzkppa?file=src%2Fapp%2Fapp.component.ts)

In `ngOnInit` I select a slice from the store, mutates it and after 1 second logging the mutated state.

## Expected behavior:
Correct me if i'm wrong, but I expected the store or the selector return some kind of

[2020-02-14 08:50] cjkumaresh commented on #2382
@talohana Can you enable the runtime checks in root module and confirm ? [runtime checks](https://ngrx.io/guide/store/configuration/runtime-checks)

e.g.
`StoreModule.forRoot(reducers, {
      runtimeChecks: {
        strictStateImmutability: true,
        strictActionImmutability: true
      }
    }),`

[2020-02-14 10:44] talohana commented on #2382
Yup that solves it, somehow I forgot about this option..
Thank you!

[2020-02-14 10:44] #2382 closed

[2020-02-14 15:10] AdditionAddict commented on #2374
@timdeschryver can I borrow your knowledge on **immutability** and check my thinking on this before submitting a PR?

it concerns mergeServerUpserts https://github.com/ngrx/platform/blob/master/modules/data/src/reducers/entity-change-tracker-base.ts#L296

Is the reason this throws because in the `case MergeStrategy.PreserveChanges` the line `const change = chgState[id];` is still referencing the o

[2020-02-14 18:24] Wildhammer commented on #2373
@timdeschryver @brandonroberts what's the release date of NGRX 9 stable?

[2020-02-14 19:55] abnemo commented on #2367
Hello guys! Any udpates on this topis?
Did anybody find any workaround?

[2020-02-14 19:57] brandonroberts commented on #2367
Not yet. I'll try to take a look at this soon.

[2020-02-14 20:30] abnemo commented on #2367
@brandonroberts Thank you very much. I appreciate it.

[2020-02-14 20:51] debuggerpk commented on #2367
I don't know if it might help or not, but my EntityDataModule is very customized where I do the following for imports

[code]

and then in constructor

[code]

[2020-02-14 21:50] brandonroberts commented on #2373
No specific release date yet, but soon-ish.

[2020-02-15 16:18] jonstelly opened #2384 "@ngrx/data - master branch - ERROR in node_modules/@ngrx/data/src/entity-data.module.d.ts:12:22 - error NG6002: Appears in the NgModule.imports of AppStoreModule, but could not be resolved to an NgModule class"
## Minimal reproduction of the bug/regression with instructions:
I'm testing out moving my application to angular 9 after I saw the @ngrx 9.0 beta.  I couldn't get it running with those packages, tried building directly against the ngrx/data-builds, store-builds, repositories, and that's not working either.

1. clone: https://github.com/jonstelly/ng-resolve-module-class
2. `npm i`
3. `ng serve`

[

[2020-02-15 16:21] jonstelly commented on #2384
I had searched before creating this issue but didn't see anything... But I just saw this other issue: https://github.com/ngrx/platform/issues/2367

It's technically a different angular cli error (NG6002 vs TS-996002) so I'm not sure if it's the exact same issue but we can close it and track there if you'd prefer.

[2020-02-15 20:39] jonstelly commented on #2384
If it helps at all, I took all of the @ngrx code from master and threw it into my example's repository and got things working.

I created libraries using the angular cli, then replaced source code for each of them with the code from ngrx/platform.  It's in that same repository under the [local-ngrx-build branch](https://github.com/jonstelly/ng-resolve-module-class/tree/local-ngrx-build).

You can

[2020-02-15 20:48] jonstelly commented on #2367
I'm not sure if it helps anyone here but I moved all the ngrx code into angular cli generated libraries: [local-ngrx-build branch on this repo](https://github.com/jonstelly/ng-resolve-module-class/tree/local-ngrx-build) and was able to build and run.

If anyone wants to try this out, hopefully you should be able to drop your app into this structure, tweak the angular.json if needed, then run (powe

[2020-02-15 21:31] timdeschryver commented on #2373
@jerryorta-dev fyi, this wasn't the cause of Ivy - see #2386 for more info

[2020-02-15 22:08] timdeschryver commented on #2384
This seems like a duplicate of #2367 ?

[2020-02-16 02:59] #2367 closed

[2020-02-16 05:47] debuggerpk commented on #2367
Thanks @brandonroberts

[2020-02-16 09:03] timdeschryver commented on #2384
Closed by #2387

[2020-02-16 09:03] #2384 closed

[2020-02-16 09:30] timdeschryver commented on #2343
I verified this is working with the v9 beta release.
If this is not the case for you @RobertAKARobin , feel free to re-open the issue.

[2020-02-16 09:30] #2343 closed

[2020-02-16 09:36] timdeschryver commented on #2341
@Bobrovskih I'm going to close this issue for now.
If you can reproduce it, feel free to re-open this issue with the reproduction.

[2020-02-16 09:36] #2341 closed

[2020-02-16 09:50] montella1507 commented on #1541
Why? IT IS Common usecase.

[2020-02-16 10:12] timdeschryver commented on #2374
@AdditionAddict correct, because it has the same reference it will throw.

[code]

I think your proposed fix should resolve this.

[2020-02-16 10:14] timdeschryver commented on #2369
I think adding a `setOne` makes sense, now that we have `setAll`.
Also, this is an issue that comes up regurarly (as pointed out)

[2020-02-16 10:14] timdeschryver commented on #2061
Closing in favor of #2369

[2020-02-16 10:14] #2061 closed

[2020-02-16 15:41] dmytro-gokun commented on #2369
@timdeschryver Great, i'll work on a PR

[2020-02-16 16:07] timdeschryver commented on #2369
@dmytro-gokun can you hold it off for a bit?
I want to hear @brandonroberts 's thought about this first.

[2020-02-16 16:32] dmytro-gokun commented on #2369
@timdeschryver sure

[2020-02-16 17:11] brandonroberts commented on #2369
Sounds good to me

[2020-02-17 01:18] AdditionAddict commented on #2052
My 2 cents as a new programmer (just over a year now) for a small business as a one person team. One of the reasons I’ve fell in love with the ngrx modules has been that the code writers are not afraid to address complex ideas to newcomers through ng-conf talks, tonnes of examples and are willing to be explicit about what is good code and what is misuse and bad form. The time to learn is a much un

[2020-02-17 07:52] sapabg commented on #2302
Well I basically want to modify the rest of the store on an action completion.
Let's say I have a @ngrx/data/query-by-key/success action triggered, how do I make a reducer that updates a different part of the store not the entityCache?
I don't really remember what exactly I needed it for a month ago...

[2020-02-17 14:18] temka1234 commented on #858
Is there any progress on this feature?

I want to make web application with multigroup architecture.
Group can be added or removed to app dynamically at runtime.
Each group must have its own snapshot of global state and react to effects and reducers.

Example:
[code]

User opened two groups of panels at same time.

First group: `User info panel` + `Selected order panel`
[code]

Second group: `User

[2020-02-18 12:07] julianobrasil opened #2394 "Lazy loading finished notification"
I'm not sure if this is a fair thing to ask for. After updating my projects to angular 9 and the latest version of NgRx, I introduced a behavior that was inexistent before. Basically, in one of my lazy loaded modules, I was accessing, in the constructor of the module declaration class, the store declared on that same module (using `forFeature`). I didn't have problems with that in the previous ver

[2020-02-18 13:19] brandonroberts commented on #2394
@julianobrasil can you provide a small reproduction of the issue?

[2020-02-18 13:23] #2373 closed

[2020-02-18 13:45] #2307 closed

[2020-02-18 13:45] #2374 closed

[2020-02-18 13:50] julianobrasil commented on #2394
I'll work on that.

[2020-02-18 14:14] Zonnex commented on #395
I'm also looking at implementing this. We have an admin module that is lazy loaded, and that module is responsible for Create/Update/Delete of entities in the application. The entities live in an eagerly loaded slice because they are used frequently in the application.

So eagerly we have a reducer that reads from our backend, but lazily we want admin functionality.
If this isn't possible, I guess

[2020-02-18 17:55] kevinbeal commented on #1054
You'll also get effects firing twice if you subscribe it the effect subscription, like by composing effects out of other effects (rather than the actions they dispatch).

You can solve it by subscribing to the actions the effects dispatch, or you can also use `shareReplay()` or other similar "hot" observable solution.

[2020-02-18 18:46] AdditionAddict commented on #2192
@brandonroberts should the docs be updated? I'm still getting a lot of traffic to my [stackoverflow answer](https://stackoverflow.com/a/57612215/4711754) on this

[2020-02-18 18:55] brandonroberts commented on #2192
Yes, if there are any examples that aren't unwrapped, they should be updated

[2020-02-18 19:10] julianobrasil commented on #2394
@brandonroberts, I've built up something on stackblitz (https://stackblitz.com/edit/angular-ngrx-issue-repro), but it worked smoothly, without the need for the timeout. So it's apparently not a general problem of `@ngrx`. It's really happening in 2 of my projects though (one occurrence in each project). Maybe it's something related to a more complex structure than the one I built on the stackblitz

[2020-02-18 19:10] #2394 closed

[2020-02-18 19:16] brandonroberts commented on #2394
Thanks for the update @julianobrasil

[2020-02-18 19:36] AdditionAddict commented on #2222
I referenced this in [a stackoverflow answer](https://stackoverflow.com/questions/60282687) as I personally found the above explanation better than the docs.

With regards to the RFC, I think this is needed. Whilst you would guess `ofType` is a filter the behaviour above is still surprising and not what you would expect and try first.

[2020-02-18 20:19] Inunor opened #2395 "EffectsModule question"
Hi, I need to include or not include in the EffectsModule.forRoot() one of the effects based on the result from the service. I didn’t find any injection token to do it as with INITIAL_STATE for example. Is there any way to do this somehow?

[2020-02-18 22:31] jonstelly commented on #295
I started getting this when upgrading to angular 9.  I've got a framework angular app with a couple libraries, and an application angular app that uses `tsconfig.json` paths in the app to point to the libraries from the framework.

I had to add The tsconfig.json paths fix to the consuming application like others have mentioned, but I had to do it for several libraries that are used in both the fra

[2020-02-19 12:12] dalu opened #2396 "Cannot add property originalValue, object is not extensible at data.js:4416"
## Support Requests should not be opened as issues and should be handled in the following ways:

### On [StackOverflow](https://stackoverflow.com/questions/tagged/ngrx) using the `ngrx` tag

### In our gitter support channel at https://gitter.im/ngrx/platform

Still, I'm trying to find out if it's a bug or neglect in ngrx data or my mistake.

![Screenshot from 2020-02-19 12-31-19](https://user-ima

[2020-02-19 12:22] dalu commented on #2396
I double checked, the $loading false -> true is what's causing the error.
This is what happens without the error:
![Screenshot from 2020-02-19 13-20-50](https://user-images.githubusercontent.com/2694548/74833958-c81fbe00-531a-11ea-95a1-4ced8d733e4f.png)

[2020-02-19 14:53] eduardmarcinco opened #2398 "9.0.0-beta.1 Effects - ngrxOnRunEffects - no context"
## Minimal reproduction of the bug/regression with instructions:

`this.actions$` inside ngrxOnRunEffects() returns undefined.

The issue is very similar to #2373

[code]

## Expected behavior:

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

NgRx: 9.0.0-beta.1
Angular: 9.0.1
Angular CLI: 9.0.2
Node: 10.15.3
OS: win32 x64

## Other information:

## I would be will

[2020-02-19 16:52] timdeschryver commented on #2395
We're working on adding tokens to effects, see #2231 for more info

[2020-02-19 16:52] #2395 closed

[2020-02-19 16:56] timdeschryver commented on #2396
@dalu can you provide a small reproduction of the issue?

[2020-02-19 17:14] timdeschryver commented on #2398
I got a fix for this 👀

[2020-02-19 17:22] alex-okrushko opened #2400 "Warning about "The feature name \"${featureName}\" does not exist" creates a lot of noise in tests"
When running tests this message happens a lot:

https://github.com/ngrx/platform/blob/379ddfbe9d17d017e16bc1fc8e78e05d537f590b/modules/store/src/selector.ts#L618-L624

Prior issue: https://github.com/ngrx/platform/issues/2116

## Minimal reproduction of the bug/regression with instructions:

## Expected behavior:

I think we should remove it.

## I would be willing to submit a PR to fix this issue

[2020-02-19 19:47] alex-okrushko commented on #2400
I'll close this one in favor of https://github.com/ngrx/platform/issues/2363 which is exactly the same :)

[2020-02-19 19:47] #2400 closed

[2020-02-19 20:13] AdditionAddict commented on #2396
This is fixed by #2389

[2020-02-19 21:27] timdeschryver commented on #2396
@dalu feel free to re-open the issue if the issue still occurs.
thanks @AdditionAddict

[2020-02-19 21:27] #2396 closed

[2020-02-20 19:10] ChrisMeeusen commented on #2109
Updated to ng 9.0.2 today and this workaround got me running.  Thanks!

[2020-02-20 22:02] RobertAKARobin commented on #2312
I would like to know this too.

[2020-02-21 01:46] alex-okrushko commented on #2398
I've ran into the same issue when merging it at google.
Thanks for bug report @eduardmarcinco

[2020-02-21 11:18] dalu commented on #2396
thank you, seems like this PR is tagged in 9.0.0-beta.1
I'll open a new issue should this PR not resolve this issue here.

[2020-02-21 12:07] dalu commented on #2371
I found this data project solves many headaches. Altough yeah PATCH should be used for partial updates, PUT to replace is good enough IMHO. And one can always extend the DefaultDataService or write their own.
An updatePartial function could be added, like the getByQuery. Where you have key value pairs.

However.. in the current project I'm working on I have forum threads that have a viewcount.
Thr

[2020-02-21 12:29] dalu commented on #2369
will the cache updating method names be changed as well then or will they remain the same?
addOneToCache
updateOneInCache
removeOneFromCache
and others

[2020-02-21 14:19] rickvandermey opened #2403 "Unit Test Caching caches NGRX functions / data"
# 🐞 bug report

Recreated from: https://github.com/angular/angular/issues/35365

After some digging, it seems like all test that fail, has to do something with NGRX. sometimes `actions.pipe`, sometimes data which differ from the expected or initialState.
_______________
After upgrading from Angular 8 to 9 there is an issue while running `ng test`. Because of the randomness of the unit test, the hi

[2020-02-21 17:00] AdditionAddict commented on #2371
The point to partial updates isn’t about size. You update my email to yyy from xxx and at I update my phone to 111 from 000. How can server implement both updates if you replace the whole entity?

[2020-02-21 18:17] dalu commented on #2371
That's the thing if you change 1 field or 100, the entity in question is getting an update.
And if you have 100 fields and 90 of them are updated on a regular basis, why aren't they a separate entity?
So it doesn't matter if you complicate your life with doing partial updates, the entity is still getting changed and the view is getting re-rendered.

[2020-02-22 15:49] #2398 closed

[2020-02-22 22:45] pburkindine commented on #2109
@brandonroberts @AndrewKushnir  I am still experiencing this issue in A9.  I have tried disabling both strictState and strictAction, and also upgrading to ngrx@9.0.0-beta.1

Our use case is this: various nx modules are passing a Type<SomeComponent> through state to the app.component, where the component is factoried into a MatSidenavContainer.

I also tried passing the factory instead and received

[2020-02-22 22:45] pburkindine opened #2404 "reopen: TypeError: Cannot assign to read only property 'tView' of object '[object Object]'"
revisiting: https://github.com/ngrx/platform/issues/2109

@brandonroberts @AndrewKushnir  I am still experiencing this error in A9.  I have tried disabling both strictState and strictAction, and also upgrading to ngrx@9.0.0-beta.1

Our use case is this: various nx modules are passing a Type<SomeComponent> through state to the app.component, where the component is factoried into a MatSidenavContain

[2020-02-22 22:55] tonivj5 commented on #2109
besides disabling strictAction and strictState try using minimal router state:
[code]

[2020-02-22 23:19] pburkindine commented on #2404
(I am attempting to work around this with a service, but feel the use case is important either way)

[2020-02-23 02:08] pburkindine commented on #2404
A small bus service served in place of ngrx here; less than ideal but until freeze is updated to work with ivy this worked

[2020-02-23 02:10] brandonroberts commented on #2404
@pburkindine we fixed the issue of actions coming from NgRx libraries being filtered from immutability checks, but other actions are not, which is probably what you're seeing here.

[2020-02-23 09:03] timdeschryver commented on #2404
@pburkindine did you had the immutability checks on or off in the previous version of NgRx?

[2020-02-23 16:03] rryter opened #2406 "@ngrx/data: how to configure the use of plural resource names for all http requests"
Our rest api was designed to always use the plural name for the resource(s). How can I configure @ngrx/data to always use the plural resource name for any http requests? I feel like I'm probably missing the obvious.

## I would be willing to submit a PR for the docs :heart:

[x ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2020-02-23 16:16] timdeschryver commented on #2406
I think we go through this in our [docs](https://ngrx.io/guide/data/extension-points#add-plurals).
If this doesn't provide enough information, please feel free to re-open the issue.

[2020-02-23 16:16] #2406 closed

[2020-02-24 04:07] evgenyfedorenko commented on #2363
@timdeschryver can you please give me the example of the test which produces that warning?

[2020-02-24 07:03] timdeschryver commented on #2363
@evgenyfedorenko the example tests log them, run

[code]

[2020-02-24 22:41] alex-okrushko commented on #1604
FYI, for anyone looking for solution, you can explicitly set the fields with `undefined` to erase them with `upsert`, here is the adjusted demo: https://stackblitz.com/edit/ngrx-seed-yxhcjm?file=src/app/app.component.ts

[2020-02-25 11:13] rickvandermey commented on #2403
Any update on this issue. Is this something the team recognizes as a bug and will be on the roadmap?

[2020-02-25 12:15] timdeschryver commented on #2403
Isn't this an issue because `actions$` doesn't get assigned in some specs?

[code]

[2020-02-25 12:24] rickvandermey commented on #2403
It does seem this brings back the stability for this use case.
I need to try this out on a bigger project if this will fix the stability on all 1500 unit tests

[2020-02-25 14:51] StretchTitan opened #2412 "Automatic type checking for the state that is returned by the on function in createReducer"
It would be great to have the state type that is supplied to createReducer function enhanced to guard against additional properties being added. Here is an example where the state becomes different than the AccountState model but it is not caught and builds/runs fine.

[code]

## Describe any alternatives/workarounds you're currently using
The only way to get the strong typing guard against proper

[2020-02-25 15:58] #2216 closed

[2020-02-25 17:25] timdeschryver commented on #2412
This should work if you explicitly provide a generic for the reducer:

[code]

[2020-02-25 18:16] timdeschryver commented on #2412
Oh, you're right. I always thought that would catch these.
But now I think of it, I remember Alex mentioning you have to do it like the second example you provided.

[2020-02-26 02:20] brandonroberts commented on #2371
This would a better discussion to have in the [gitter channel](https://gitter.im/ngrx/platform)

[2020-02-26 02:20] #2371 closed

[2020-02-26 02:32] brandonroberts commented on #1993
Closing as resolved

[2020-02-26 02:32] #1993 closed

[2020-02-26 02:34] brandonroberts commented on #2302
Support questions should be asked in the [gitter channel](https://gitter.im/ngrx/platform)

[2020-02-26 02:34] #2302 closed

[2020-02-26 02:36] brandonroberts commented on #2159
Closing as a duplicate of #1934

[2020-02-26 02:36] #2159 closed

[2020-02-26 02:51] brandonroberts commented on #1843
Closed via https://github.com/ngrx/platform/pull/2391. I updated it while updating the dependencies for the next release. We are still evaluating docs app options.

[2020-02-26 02:51] #1843 closed

[2020-02-26 04:56] wardbell commented on #2280
Well ... that's embarrassing.

What you cited is documentation from an earlier era in NgRx Data history. I'll be updating that page ASAP.

No need to wait for that update. The correct implementation would be as follows:
[code]

[2020-02-26 09:39] #2280 closed

[2020-02-26 12:46] Mysq commented on #931
This is *still* an problem in `8.6.0` version. Please reopen this issue.

[2020-02-26 15:18] AdditionAddict opened #2415 "RFC @ngrx/data - general route guards / resolvers"
NgRx Data maintains a `loaded` state for each entity and provides a `EntityServices` that can load a `CollectionService` based on a string of the `entityName`. This provides the basics for general route guards / resolvers.

Is there interest in adding general routing guards / resolvers as a feature to ngrx data?

## Describe any alternatives/workarounds you're currently using

It's a bit basic but

[2020-02-27 12:53] rickvandermey commented on #2403
Well, in the end I was able to fix it. The problem is that TestBed gets cache across different spec files.
This means that `provideMockStore({ initialState }),` gets cached aswell.

We've created a dummyStore which is a complete blueprint of the store and use this for our testcases. but the funny part is, when you update the mockstore with `store.setState()` the output is cached aswell across diff

[2020-02-27 12:53] #2403 closed

[2020-02-27 14:13] #2369 closed

[2020-02-27 15:00] AdditionAddict opened #2417 "example-app - is removeBookFailure reducer correct?"
Basically this SO post https://stackoverflow.com/questions/60417722/ngrx-handle-api-failure

Should line below be removed given it has no effect / should `removeBook` optimistically remove the book?
Happy to create PR whichever way

[code]

## Describe any alternatives/workarounds you're currently using

## Other information:

## If accepted, I would be willing to submit a PR for this feature

[ x

[2020-02-28 06:51] samratarmas commented on #994
Hello @AdditionAddict , I have been following this thread of offline and sync design and recently looked at the issue number 2359 that you closed on the @ngrx/data side, after the team showing no interest in adding the sync capabilities. Just out of curiosity have you been still working on it? Would love to hear about it, regards!

[2020-02-28 11:36] AdditionAddict commented on #1934
There's a hacky way using `EntityCacheDispatcher`

- Create your custom action e.g. type "[OrderProductsPage ONINIT] ONINIT"
- Create effect that calls saveEntities
[code]
-  a. Extend `EntityCacheDataService` and override the `saveEntities` method to first check if tag is CUSTOM_GET_PRODUCTS otherwise call `super.saveEntities(changeSet, url)`
- b. If tag is CUSTOM_GET_PRODUCTS than call get http

[2020-02-28 11:44] AdditionAddict commented on #1934
@GreedyA1

Yes.
Extend `DefaultDataService`
Within a pipe map nested data to entities (I use normalizr)
[code]
Sadly `this.entityCacheDispatcher.mergeQuerySet()` isn't working with mergeStrategy

[2020-02-28 13:57] AdditionAddict commented on #994
@samratarmas I'm currently exploring ideas. To be fair to the team they can't work with wishy washy proposals that are already covered by change tracking (didn't know this in depth at the time). They need concrete ideas that won't affect current users negatively and falls within reactive scope. I still think @ngrx/data is the basis on which to proceed rather than start from scratch, but it may be

[2020-02-29 10:55] vmotornyi opened #2419 "RFC store: ActionCreator, ability to add context dynamically"
According to #1734 there is no consistent way to reuse actions without some "extra job" and compromises.

## Possible solution
Add an extra field to Action interface, something like `baseType`.
For `empty` and `props` ActionCreators add an ability to pass an optional argument.
As a result of creator's function call, we should have an object like this:
[code]
For compare incoming actions `on` and `

[2020-02-29 14:24] alexssantos commented on #1026
I had the same errors. Just keep your Angular CLI version in line with node how @zachpappalau  said.

How I solved:
`npm i --save-dev @angular/cli@latest`

ran like a charm. <3

credits: https://stackoverflow.com/a/44526528/8941680

[2020-02-29 15:40] alex-okrushko commented on #2419
@vmotornyi thanks for the issue. We are encouraging not to reuse actions. It is very easy to create them.
Also, we do not plan to split the `type` and will continue to _log_ (in redux-devtools) and _handle_ actions (in effects/reducers) by the same `type` property.

Personally, I feel it would be very very hard to track the actions with the split.

[2020-03-02 06:58] #2419 closed

[2020-03-02 09:37] minijus commented on #2176
Is anyone looking into this already?
I have same issue and would be willing to submit a PR.

[2020-03-02 21:30] pburkindine commented on #2404
@timdeschryver They've been turned on since we upgraded to ngrx 8 along with A8 last year

[2020-03-02 21:36] Andrei0872 commented on #2412
Hello @StretchTitan, it seems to be working fine [here](https://stackblitz.com/edit/ngrx-8-playground-msd8bk?file=src%2Fapp%2Fstore%2Fcounter%2Fcounter.reducer.ts). The extra prop is caught.

Did I miss something?

[2020-03-02 21:41] StretchTitan commented on #2412
Your example does work and it is applying the AccountState within the on function like I have it in my workaround example. I brought this issue up because I think it would be a nice enhancement to have the State type automatically applied to the on functions since we are supplying the state to the createReducer function.

[2020-03-03 07:51] rkkp1023 commented on #2404
Facing Same Issue @timdeschryver
Any Solution For this

[2020-03-03 08:06] timdeschryver commented on #2404
Can we have a reproduction of this behavior?

[2020-03-03 09:00] Andrei0872 commented on #2412
I see. I think I found a way to solve this without explicitly typing the **on-reducer**.

I modified the `on`'s signature like this:

[code]

A working example:

[code]

[2020-03-03 15:39] rkkp1023 commented on #2404
@timdeschryver  I resolved the issue . In my case, this is because of ngrx-Store-freeze.
after removing ngrx-store-freeze it works. Hope This Works for all.

[2020-03-03 16:22] pburkindine commented on #2404
@timdeschryver  @brandonroberts  I created a repro:

https://github.com/pburkindine/ngrx-tview-issue

[2020-03-03 17:02] Maximaximum opened #2423 "Possibility to override a selector with an observable"
## Suggestion
Currently, we can use `store.overrideSelector(selector, value)` and `selector.setResult(value)` to emit arbitrary values for a selector, which is great.

However, it would be awesome if we could also _provide an observable instead_ of calling `setResult()` each time we need to emit a new value.

It could be used like this: `store.overrideSelectorWithObservable(selector, obs)`.

## Wh

[2020-03-03 17:14] alex-okrushko commented on #2423
Hey @Maximaximum. I've actually spent a good chunk of time looking into what you are asking for (I opened https://github.com/ngrx/platform/issues/2329 for that), but it ends being a very intrusive change.

[2020-03-03 17:41] Brian611 opened #2424 "Ngrx not compatible with angular v9"
Error on ng add @ngrx/store :

"The package that you are trying to add does not support schematics. You can try using a different version of the package or contact the package author to add ng-add support."

Updating ngrx/store with ng update @ngrx/store :

"Package "@ngrx/store" has an incompatible peer dependency to "@angular/core" (requires "^8.0.0", would install "9.0.2")"

[2020-03-03 17:46] brandonroberts commented on #2424
For others trying to use Angular v9 with NgRx v8, use the `@latest` tag when using `ng add` to get the latest released version according to npm. The Angular CLI tries to figure out the version to install, taking into account the peer dependencies. This is why NgRx 1.2.1 is being chosen without using the `@latest` tag. This issue is not present if you are installing NgRx v9 after it goes final.

[c

[2020-03-03 17:46] #2424 closed

[2020-03-04 12:32] AdditionAddict commented on #2415
Closed for lack of interest, like to reopen

[2020-03-04 12:32] #2415 closed

[2020-03-04 18:26] allan2 commented on #951
This is still an issue in latest.
@papiliond's workaround is excellent though.

[2020-03-04 18:29] treebeardcpu commented on #951
This is still an issue in latest.
@papiliond's workaround is excellent though.

[2020-03-04 18:54] timdeschryver commented on #2417
This does seem weird.

I expect it to revert the removal of a book if the API call failed.
What is missing from the example app is the removal of the book in the collection when the `removeBook` action is dispatched.

The same counts for the `addBook` and `addBookFailure`  actions.

[2020-03-04 19:01] timdeschryver commented on #2404
The problem is that a component is being dispatched as meta data on the action.
If I've understood it correctly, Ivy will mutate the component - which is causing errors with the immutability checks.

I'm just not sure if we should change this behavior.
For example, in the repro I would rather prefer a different type, e.g. a string, instead of the component itself.

[2020-03-04 19:03] treebeardcpu commented on #951
Just wanted to mention that @rkirov's method is just as good. Thanks to both @rkirov and @papiliond

[2020-03-04 20:16] aravindfz commented on #931
@brandonroberts - can you please help us by fixing this?

[2020-03-05 12:46] alex-okrushko commented on #2415
@AdditionAddict thanks for feature suggestion. Many of the core contributors are not using `data` in their day-to-day work (we were building project with _raw_ NgRx for a long time), so it's harder to relate and evaluate if this actually a feature that solves problems for `data` users.
As I see it, the best way to check for interest would be to tag @wardbell and maybe @SerkanSipahi with @JiaLiPass

[2020-03-05 14:36] StretchTitan commented on #2412
Thanks for working on this enhancement @Andrei0872!

[2020-03-05 19:03] wardbell commented on #2415
Hi @AdditionAddict

You raise an interesting question. Now I really DO use Ngrx Data in my daily work and I have guards that are like the one you describe. So I feel the need that you are expressing.

But I'm not convinced that we have an abstraction that works for everyone. It might be OK for the happy path, when the data for all source load successfully.

Where this breaks down, for me, is _What

[2020-03-06 01:33] maxipaolucci commented on #2214
When is the release date?

[2020-03-06 09:56] pedy711 commented on #1077
@maxisam but it is not right for the libraries to have dependency on the main app. it would be great if someone shares how to use store in a library without importing store from the main app

[2020-03-06 10:27] AdditionAddict commented on #2214
@maxipaolucci expected soonish, waiting on #2231 - see Projects tab

[2020-03-06 15:20] maxisam commented on #1077
Well, don't you think in that case, using ngrx/store is not a good idea? Users need to download ngrx/store just because using this library?  If my library use ngrx/store, I expect users are using it in their main app, otherwise, it doesn't make sense to use my library.

[2020-03-08 18:10] pedy711 commented on #1077
I want to use just a single source of truth (store) in my main app and also in the library without having my library depend on my main app. The store will be used in both main app and the library, but how to use the store into the library without importing it from the main app module?

[2020-03-09 11:22] pedy711 commented on #2012
Hi everyone, I also want to use the store in my libraries without them having dependencies on main app. Could you please guide me through?

[2020-03-09 14:17] kameelyan opened #2431 "Entities updateOne documentation inaccurate?"
Attempt to use entities, I had an updateOne method call that was extremely simple and followed the documentation almost to a T:

https://ngrx.io/guide/entity/adapter
adapter.updateOne(user, state)

However, I found that it wasn't updating my data. After some searching, I found some examples where users were passing an object with "id" and "changes". Updated my code, and viola! It started working.

[2020-03-09 18:05] AdditionAddict commented on #2431
@kameelyan what version are you using? The api changed between versions

[2020-03-09 18:09] kameelyan commented on #2431
@AdditionAddict 8.6

[2020-03-09 18:51] timdeschryver commented on #2431
@kameelyan what do you do to make your code work?
And how can we make the docs better, so that it will be clear for the next person.

[2020-03-09 18:52] AdditionAddict commented on #2431
@kameelyan sorry, I was thinking of `upsertOne` (whose api has changed). Yes, api for `updateOne` is an `Update<t>` supporting partial updates.

Docs are correct...if you look at the props type for the `updateUser` action it's `props<{ user: Update<User> }`.

Should this be `props<{ update: Update<User> }` to make this clearer?

[2020-03-09 18:59] kameelyan commented on #2431
Thanks @AdditionAddict, I see that now!

 I think this could be made more clear @timdeschryver by either changing the property name "user" in the reducer, or by adding a comment. Right now it looks like the reducer variable user for upsertUser is the same as updateUser if you just look at the reducer first, not looking at any of the actions.

My personal use case was that I was familiar enough wit

[2020-03-10 22:31] misaizdaleka commented on #2236
This is exactly what I was looking for, thanks!

[2020-03-10 23:59] sachin27sharma commented on #1342
Hi.
Am getting below error when ngrx effect is getting evaluated -
Using NgRx 9.0.0-rc0 with Angular 9.
When debugging the userInfo.effect, am seeing below error, due to Actions and another service NOT getting injected.
"Uncaught TypeError: Cannot read property 'pipe' of undefined"

Below is the setup

Angular Library Project -
effects/export -
export {UserInfoEffects} from './userInfo.effect';

p

[2020-03-11 07:06] AdditionAddict commented on #2012
Mainly commenting to watch this issue.

Is this related to #1734?
I think together this explains why there isn’t a bigger number of libraries based on NgRx despite relatively large take up. It hasn’t been a good “mother”.

I’ve recently been doing a deeper dive into what NgRx Data is doing under the hood and it’s not easier to see how it could form a quick recipe...facade pattern that dispatches a

[2020-03-11 12:19] brandonroberts commented on #2214
https://medium.com/ngrx/announcing-ngrx-version-9-immutability-out-of-the-box-customizable-effects-and-more-e4cf71be1a5b

[2020-03-11 12:19] #2214 closed

[2020-03-11 12:22] #2417 closed

[2020-03-11 12:24] #2431 closed

[2020-03-11 14:12] dalu commented on #2109
This issue is closed but it's still an issue, even with ngrx* v9.0.0

[2020-03-11 18:16] timdeschryver commented on #1342
@sachin27sharma this was fixed in one of the later `rc` release.
Could you try and upgrade to NgRx 9?

[2020-03-11 18:17] timdeschryver commented on #2109
@dalu see #2404

[2020-03-12 01:55] luchillo17 commented on #1993
@brandonroberts I've just updated to NG9 and the error keeps happening, wasn't the fix deployed with version 9.0.0?

[2020-03-12 04:15] hoang-innomizetech opened #2434 "@ngrx/data - Need help on customization state and actions"
I am trying to apply the @ngrx/data module into my application. But there are a couple of things I am trying to figure out the best way (or right way) to implement custom behavior for my applications. So I want to raise this issue to seek help from the community and NGRX team. I can spend time learning and study but I am not sure whether it complies with NGRX team principal and design best practic

[2020-03-12 06:01] AdditionAddict commented on #2434
The issue with the docs is not necessarily that things are missing but that it’s too abstract with links back and forth so you end up missing the “point”.  I’m planning on getting more involved in the docs so I’m interested specific pain points with a preference for smaller changes (no one likes it when the supermarket changes where everything is located). That being said I think there needs to be

[2020-03-12 06:51] hoang-innomizetech commented on #2434
@AdditionAddict  Thank you for the quick reply.

I think we should add more items into the **Advanced** section so that readers can read more instructions for a certain point. I give you more idea about which items we need, I think I should give you some cases that we need to custom the ngrx/data module:

- **API handling:** each team should have different API schema so that we need a way to the c

[2020-03-12 07:10] hoang-innomizetech commented on #2415
Between entity collection and entity item, what if the user fetches the single entity but not fetch the list. For example, they enter the URL and go to the edit/view page and then come back to the list (option). Should we fetch the collection or not?

[2020-03-12 09:36] miguel-leon commented on #2096
Same as with using `on(types, reducer)` to replace `case` clauses, there should exist something like `onAnythingElse(reducer)` to replace the `default` clause for when you want a reducer to operate in any other type of action not covered. And so, consistently and thoroughly replace usage of the `switch` statement.

[2020-03-12 10:40] hoang-innomizetech commented on #2434
@AdditionAddict I also noticed a few issues as below:

- The **loaded** prop always set to false even after the collection is loaded
- **optimistic** seems not working correctly for **update** operation, when updating entity with this flag is enabled (isOptimistic: true), our API returns an error but the state didn't reset to the original state
- our API returns 404 error when deleting entity, but

[2020-03-12 11:21] hoang-innomizetech commented on #2434
On issue #2 as the above, dispatch an undo action will revert entity to the original state, but why we don't just dispatch it by default? Our team implemented our own CRUD store library and they did it. So I am curious why we didn't do it.

[2020-03-12 14:42] jonstelly opened #2435 "Docs: Missing v8 from https://ngrx.io/docs"
The [documentation site](https://ngrx.io/docs) has a version selection dropdown that has (v4, v5, v6, v7, v9, next).  v8 is missing from the list.

## Other information:

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[x] No

[2020-03-12 15:42] sridhar-natuva opened #2436 "provideMockActions doesn't exist"
[code]

[2020-03-12 16:02] brandonroberts commented on #2436
Its `@ngrx/effects/testing` for the import.

[2020-03-12 16:02] #2436 closed

[2020-03-13 12:10] vially commented on #2371
@brandonroberts I think this was closed prematurely. While there are some parts that are still up for discussion (and those could be taken to the gitter channel) I think the original issue that `@ngrx/data` should at least provide an option for `PATCH` requests is a valid feature-request.

[2020-03-13 12:40] AdditionAddict commented on #2415
@hoang-innomizetech

You don't fetch collection you use guard / resolver that checks `id` is in the cache, similar to following:
[code]

[2020-03-13 13:55] hoang-innomizetech commented on #2415
@AdditionAddict Actually, I am not a fan of using resolver for the collection container component. So if we have a way to custom the effect for a given EntityOp that would be great.

By the way, in relation to my previous concern about how to define and add custom actions (or Entity Op). Do you have any guidelines or ideas? Right now I am stuck on the EntityOp, it isn't extendable.

[2020-03-13 14:00] hoang-innomizetech commented on #2434
@AdditionAddict Regarding my concern about adding custom actions (or Entity Op) for a given entity name. Do you have any guidelines or ideas? Right now I am stuck on the EntityOp, it isn't extendable. If I used hard handcrafted action, how do I can implement reducer that can use existing data entity service as well as implement the effect.

[2020-03-13 14:33] hlpupo commented on #295
I had the same problem and my solution was the same @haldunatar recommended

[code]

[2020-03-13 15:50] AdditionAddict commented on #1993
@luchillo17 please can you produce a reproduction in stackblitz or a github link

[2020-03-13 20:22] adornala commented on #229
Me too. It didn't work.

[2020-03-14 13:02] timdeschryver commented on #2435
Thanks for raising this issue @jonstelly !

[2020-03-14 19:02] luchillo17 commented on #1993
Is there a base StackBlitz link from where to start?

[2020-03-14 23:14] #2435 closed

[2020-03-15 08:58] Brian611 commented on #974
i dont understand why we dont have this feature as well.

[2020-03-15 17:37] AdditionAddict commented on #974
I don’t understand the need for aggregator....just add as many actions into the `on` method in the reducer (or switch case fall though in earlier ngrx) as you need and similarly in the `ofType` method for effects. Example above isn’t using actions as intended... _unique events that are dispatched from components and services_, but as commands.

See this talk on good action hygiene —> https://www.y

[2020-03-15 19:20] Brian611 commented on #974
@AdditionAddict you seem to not understand the purpose of the aggregate pattern, it wouldn't have been created if it didn't solve a particular issue.

Go through this presentation where Victor Savkin ex google developer who explains the usage.

https://youtu.be/FQ6fzkHvCEY?list=WL

[2020-03-17 11:51] kkuriata commented on #2109
Are you going to fix this issue? The app keeps crashing with newest Angular 9.0.6 and NgRx 9.0.0. Setting `strictActionImmutability` solves a problem, but this workaround is not a proper solution...

[2020-03-17 11:58] #2232 closed

[2020-03-17 16:18] jbale commented on #1781
I ran into this problem today and thought i would throw my 2 pence worth in in case it can help.

I found that the router state is serialised using "`this.router.routerState.snapshot`"

https://github.com/ngrx/platform/blob/ba37ad8a3e03186305087540b853475cf72a63e9/modules/router-store/src/router_store_module.ts#L245-L253

Then when `navigateIfNeeded` is called on state change `this.router.url` is

[2020-03-17 16:46] dalu commented on #2109
If the fix was that simple it would've been done by now, seeing that this is an active project.
Did you bother to read 1 line above your comment and see that issue and the comments in there?
[code]

[2020-03-18 11:49] AdditionAddict commented on #2434
query many success actions leave the loaded state as it is.
query all success sets loaded to true

Can you clarify this? What is your error and what version of ngrx data are you using?

[2020-03-18 14:18] hoang-innomizetech commented on #2434
On the optimistic issue, I checked the document again and noticed that we have to implement undo action. I just concern why we don't just dispatch undo action by default

[2020-03-19 13:41] alex-vg commented on #1868
![ngrx race](https://user-images.githubusercontent.com/22611767/77073378-7b99d200-69ef-11ea-9bfe-ef90ae20260e.png)
A little update here, I just tried setting `trace=true and type='redux'` and got some traces. Not enough to see the origin but somewhat useful.

[2020-03-20 17:19] BioPhoton opened #2441 "@ngrx/component roadmap"
# @ngrx/component roadmap

## Vision
My personal BIG vision, that IMHO fits very well with this project, is:

## Nightly's
General code quality and tests. Documentation as well as examples.

**General Docs**
- [x] Add docs overview #2442

**Core**
- [x] cdAware creation factory #2443 #2473
  - [x] Ensure that it is in line with the current project

**Push Pipe**
  - [x] Ensure typing in the templa

[2020-03-20 18:14] BioPhoton opened #2442 "@ngrx/component Add docs overview page content"
## Other information:
Add content for the overview page for the component package

Related: #2441

## I would be willing to submit a PR for the docs :heart:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2020-03-20 18:18] BioPhoton opened #2443 "@ngrc/component Refactor cdAware factory"
Make sure it is aligned with the current way of creating factories.
It would be good to consult @alex-okrushko for detailed requirements.

**Todo**

-  [ ] Refactored out things related to ngZone or optimizations in Ivy
   - [ ] Change pipe config argument to a string
  - [ ] Adopt pipe and let
- [ ] Updte tests
  - [ ] Remove ivy and zone related tests

Related: #2441

## I would be willing to su

[2020-03-21 16:13] BioPhoton opened #2445 "@ngrx/component Implement tests work for Ivy, ViewEngine, NgZone, NgNoopZone, zone free environment"
@ngrx/component Make tests work for Ivy, ViewEngine, NgZone, NgNoopZone, no zone environment

## Minimal reproduction of the bug/regression with instructions:
We neep proper unit tests to ensure the cone works in:
- Ivy in:
  - ZoneFull environment where Angulars zone service is of type `NgZone`
  - ZoneLess environment where Angulars zone service is of type `NgNoopZone`
  - ZoneFree environment w

[2020-03-22 20:59] BioPhoton opened #2446 "@ngrx/component implement generateFrames observable projection function"
# Problem

**See demo [here](https://stackblitz.com/edit/ng-zone-af-tests)**

For the coalesce operator we use the animationFrame as durationSelector.
RxJS in v7 provides an observable projection function called `animationFrames` that would solve the problem. However, Angular uses zone.js and zone.js patchen all async functions in the browser.

We needed to create an observable same as `animationF

[2020-03-22 21:17] BioPhoton commented on #2446
Docs Draft:

# generateFrames

Observable creation functions helpful in environments with patched global APIs like zone.js environments.

## Description

Like `animationFrames` this function returns an observable emitting the passed milliseconds with every animationFrame starting from the moment of subscription.
In comparison to `animationFrames`, `generateFrames` is more generic and is able to ta

[2020-03-23 20:07] satanTime commented on #859
Hi guys, I was struggling with the same issue and implemented a lib that tries to solve it:
https://www.npmjs.com/package/ngrx-entity-relationship

let me know your thoughts.

[2020-03-24 12:58] Alexei000 commented on #103
In @ngrx/store 8.6.0 I was able to make work without any tricks (defer or asyncScheduler):

[code]

This works only if this effect belongs to an Effects class registered in root. [Reference](https://ngrx.io/guide/effects/lifecycle).

[2020-03-24 18:55] chan-dev commented on #68
any updates on this one? i'm  using the current version and it has issues with guards as well

[2020-03-24 20:25] BioPhoton opened #2448 "@ngrx/component implement coalesce observable operator function"
# Problem

**See demo [here](https://stackblitz.com/edit/ng-af-coalescing-tests)**

Multiple emissions of different observables at the same time as well as values from the same observable emitted synchronously trigger rendering too often.

[code]

What we need is an extended version of the throttle operator.

For the coalesce we need an adopted version of throttle that:
- allows trailing true
- al

[2020-03-24 20:51] curiouscod3 commented on #2109
In my case, I had to set to false both to get rid of the error:

But, this wouldn't be alternative solution.

[2020-03-24 21:02] curiouscod3 commented on #2404
This can be happend when using "[(ngModel)]"

[2020-03-25 01:56] #2334 closed

[2020-03-25 11:04] MrCube42 opened #2449 "Docs: Use async method when testing effects without TestBed"
# Background
I decided to test my effects without using the Angular TestBed because this should be faster then using the entire TestBed when I only want to test the effect in isolation (https://ngrx.io/guide/effects/testing#setup-without-testbed). I am using [Jest](https://jestjs.io) as test runner.

# Repro-Steps
Consider this simplified, generic approach I used.
[code]

# What's the problem?
Unf

[2020-03-25 12:27] Maximaximum commented on #2423
Hi @alex-okrushko! Not sure if #2329 is actually about the same thing.

As far as I understand, your issue was about being able to push new values to an overriden selector. And it already works by using `store.overrideSelector(selector, value);` and then `selector.setResult(newValue); store.refreshState()`, so you closed that issue.

My issue, however, is about being able to use a specific pattern

[2020-03-25 14:09] johannesMatevosyan commented on #1940
It is not related with NgRx, it's a [**retry** operator](https://www.learnrxjs.io/learn-rxjs/operators/error_handling/retry) from RxJs.  Retry()  operators does not treat initial request as the first try. Therefore the request will be repeated (count + 1) times.

[2020-03-25 14:57] Maximaximum commented on #2423
I've created a helper function to workaround this issue:

[code]

Which has to be used like this:

[code]

However, it's very far from being perfect:
1. There's no way to get rid of the initialValue. We need to provide an initial value yet before the effect/service/component code under test calls `store.select(selector)`. And there is **no way to delay the initial value emission**. This is quite i

[2020-03-25 18:40] BioPhoton opened #2450 "@ngrx/component add schematics"
## ngrx/components schematics
Implement schematics and migration scripts for the new features of ngrx/component.

Related: #2441

**Todos**
- [x] Implement schematics
  - [x] ng add @ngrx/components
- [x] Implement migration scripts
   - [x] factor-rule to replace `async` with `ngrxPush` see [angular/material example](https://github.com/angular/components/blob/master/src/material/schematics/ng-upd

[2020-03-26 16:18] karptonite commented on #951
@brandonroberts I'm not sure if the original poster is still active to reactivate this, but it is still an issue (workarounds notwithstanding). I could report it as a new issue, but probably it is better if this one is reopened.

[2020-03-27 12:26] REDDJF opened #2454 "Navigation missing link to Selector Schematic"
[Selector schematics doc ](https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/guide/schematics/selector.md) is missed off of the [nav](https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/navigation.json)

## Other information:

## I would be willing to submit a PR for the docs :heart:

[x] Yes (Assistance is provided if you need help submitting a pull request)

[2020-03-27 20:04] timdeschryver commented on #2454
Thanks for creating this issue @REDDJF
Feel free to open a PR if you want

[2020-03-27 20:17] timdeschryver commented on #2404
@curiouscod3 the example you posted does indeed throw an error but it's unrelated to this issue.
It throws an error because it's using two-way binding, which is modifying the state.

[2020-03-28 19:28] BioPhoton opened #2458 "@ngrx/component implement strategies"
**UPDATE the coalescing stuff is irrelevant**

# Problem

In the alpha release, the optimization should be opt-in.
Also, the implementation needs a way to change the strategy in `CdAware`.

**Actual**
[code]

**Usage**

[code]

The problem here is `work` and `configurableBehaviour` depend on each other, the compositin of work is done outside they rely on the environment.
`resetContextObserver` and

[2020-03-29 04:02] innovation-stack commented on #1707
@brandonroberts do we have an update on this? Thank you.

[2020-03-29 17:27] Dilski commented on #2454
@timdeschryver Here we go: #2459
Hope i've interpreted the contributing guidelines properly ^^

[2020-03-29 17:57] #2454 closed

[2020-03-29 20:57] #2442 closed

[2020-03-30 12:43] BioPhoton commented on #2443
Hi @alex-okrushko

please have a look at #2458. If this incorporates all your wished I would be working directly on that and we could close both.

Thanks for you time!

[2020-03-31 11:12] PuffPastry commented on #467
This solution does not work very well for router store. I get a lot of state is not defined errors.

[2020-03-31 20:26] sergeysatori opened #2464 "ngrx data not compiling in ng 7.2.0 project"
## Minimal reproduction of the bug/regression with instructions:

## Expected behavior:

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):
[code]
## Other information:
[code]
## I would be willing to submit a PR to fix this issue

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ x] No

[2020-03-31 20:48] timdeschryver commented on #2464
It's best to keep the `@ngrx` packages on the same version (same counts for Angular).
Data has been migrated to an ngrx package in NgRx version 8, for earlier versions of data see https://github.com/johnpapa/angular-ngrx-data.

[2020-03-31 20:48] #2464 closed

[2020-04-01 09:40] Hanawa02 opened #2465 "navigationActionTiming Alternatives"
Right now the only possibilities for the navigationActionTiming is pre guards/resolver, or post guards/resolvers, in my application we cant use PostNavigation strategy because of offline functionalities, but for the canDeactivate guards the ideal is the PostNavigation, since some form data is lost when the navigation is done before the canDeactivate guards.

I would like to request an intermediate

[2020-04-01 15:33] istibekesi commented on #2249
@timdeschryver

How can I do that?

Background story:
I'm working on an application, where we use factory selectors almost everywhere. Is this considered to be a bad practice?
The app consists of widgets, several instances of the same components using several instances of the same selectors. The main reason behind the different instances of the selectors is to optimize and leverage the onPush chan

[2020-04-02 04:15] hoang-innomizetech opened #2466 "Angular app cannot load when disable sideEffects"
We have applied the tree shaking feature of webpack by adding _sideEffects: false_ to the package.json file. After bundling the AOT build, the Angular app cannot load, it just display a blank page without any error. Does anyone encounter this issue and find out solutions to fix it?

Steps to replicate:
1. Generate latest angular app `ng new my-ivy-app`
2. Add @ngrx/store module and configure store

[2020-04-02 08:22] vdelamarre commented on #2298
Hi.
I do not find the comment that explain the way to do it.

Is there a documentation anywhere ?

Thanks

[2020-04-02 09:20] bradacina commented on #1541
@brandonroberts  It would be nice to know if you would be adding this to a separate library? or what's the plan around it?

[2020-04-02 12:17] montella1507 commented on #1541
in my opinion, you should have been able to create this functionality with something like :

// custom action creator
createActionWithCorrelationId(...) {  return createAction(.../add props and corrId/.. }

// custom effect creator
createCorrelatedEffect() {  .. it has to take correlatino ID from input to observable stream and add it to output actions.. }

submitData$ = createCorrelatedEffect(() =

[2020-04-02 13:02] SpellChucker opened #2468 "No provider for MockStore"
## Other information:

I am trying to setup testing using the store for one of my components and it seems that the `provideMockStore` function is not actually providing the `MockStore`. I have to also include `MockStore` in my providers.

I am unsure if this is expected (as the docs do not show this) or if I am implementing testing incorrectly.

The error I am getting is this:

[code]

However, if

[2020-04-02 14:18] timdeschryver commented on #2468
Hi, what version of NgRx are you using?
This should be fixed in NgRx v9.

[2020-04-02 14:27] timdeschryver commented on #1541
FWIW, I implemented correlation at [ngrx-etc](https://github.com/timdeschryver/ngrx-etc/blob/master/tests/correlate/correlate-effect.spec.ts).
You can see if this fits your needs, be aware that this is untested code (that's why it isn't documented)

[2020-04-02 15:42] Godrules500 opened #2469 "Ngrx/Data Trying to make a call similar to localhost/Access/UserPermissions/{appid}/{employeeId}"
How can I make a similar to localhost/Access/UserPermissions/{appid}/{employeeId} with ngrx/data?  GetAll won't let me modify the route
GetByKey expects one item to be returned so I get a "select id not implemented"
GetWithQuery expects a query selector.

So how can I make a call passing multiple parameters in the route?

[2020-04-02 15:52] SpellChucker commented on #2468
You're right, thank you. Closing!

[2020-04-02 15:52] #2468 closed

[2020-04-02 17:42] louie-succio commented on #2176
Is there any update on this?

[2020-04-02 19:30] geo242 commented on #2404
This error happens to me in v8 and v9 when using the `StoreRouterConnectingModule` in any configuration and `strictStateImmutability` set to `true`. Is this a known issue, or do I need to change something? Any tips to diagnose this would be greatly appreciated. The stack trace doesn't seem to help much.

[2020-04-02 19:43] epaitz opened #2470 "Change TestBed.inject(CollectionEffects) to TestBed.get(CollectionEffects)"
https://github.com/ngrx/platform/blob/e30cbe2b9a89df85408432a98c19438f1b5d01e9/projects/example-app/src/app/books/effects/collection.effects.spec.ts#L54

I am very new to NgRx and I have been reading up on testing. Not that it matters but shouldn't

`TestBed.inject(CollectionEffects) `

 ...really be...

`TestBed.get(CollectionEffects)`

The CollectionEffects is already injected into the TestBed o

[2020-04-02 21:07] timdeschryver commented on #2469
Support questions should be asked on [stackoverflow (with a ngrx tag)](https://stackoverflow.com/questions/tagged/ngrx) or the [gitter channel](https://gitter.im/ngrx/platform).

[2020-04-02 21:07] #2469 closed

[2020-04-02 21:07] timdeschryver commented on #2470
[TestBed.inject](https://angular.io/guide/testing#testbedinject) is used in Angular to get the instance of an injected service, in this example to retrieve the instance of `CollectionEffects`.

In Angular 9 `TestBed.get` got deprecated and got replaced with `TestBed.inject`

[2020-04-02 21:07] #2470 closed

[2020-04-02 21:24] Godrules500 commented on #2469
I did on both yesterday and haven't received an answer so I figured I would reach out here. I'll wait to see if it gets answered.

Thanks!

[2020-04-04 12:30] amina-ahmed opened #2472 "Using NgRx Data for non-CRUD operations"
Hi,

Could you guide me on how to use NgRx Data for non-CRUD operations like:

1.  Implementing and storing navigation between different pages?

2. Adding more methods to an entity service like sorting?

[2020-04-04 16:26] pburkindine commented on #2404
Hi, @timdeschryver

I generally understand this response, but in our case passing a Component was much less problematic than passing a string.  Passing a string would require us at a minimum to maintain a map of loadable components that we didn't have to keep up with before; this is dozens of components and changing all the time, etc etc.  But I'm fine with doing the same thing with a bus service.

[2020-04-04 19:38] pburkindine opened #2474 "ngrx9 - setResult fail"
ref failed repro attempt:
https://github.com/pburkindine/ngrx9-mockselectors

We are unable to upgrade to ngrx 9 because our ngOnDestroy tests for selector streams in Angular components all fail with:

[code]

Important Note - The test passes when run in isolation.

I think the problem relates to the value already having been set by the previous test and not cleared successfully, as though possibl

[2020-04-05 02:44] ianjamieson commented on #2340
In case it helps anyone I have a (non working0 StackBlitz setup to attempt to be able  to test my CustomDataService (I wanted to build an integration test that would mock my Backend service but then use the EntityData module and resolvers

https://stackblitz.com/edit/ngrxdata-testing-not-working-pxfmkb?file=src/main.ts

[2020-04-05 10:01] minijus commented on #2176
@louie-succio it works fine overriding MemoizedSelectorWithProps statically - the mock value can't be conditional based on passed prop.

The scenario that is not possible to mock today would be similar to this:
[code]

[2020-04-05 17:16] timdeschryver commented on #2474
AFAIK the selectors [should be reset](https://github.com/ngrx/platform/blob/master/modules/store/testing/src/mock_store.ts#L18), and there are also some tests that verify this.

A reproduction here would be useful, as I'm unsure where to start looking.

Have you tried using selectors or function selectors in the real code base, or string selector in the reproduction?

[2020-04-05 18:50] pburkindine commented on #2474
[code]

I'm not following the question, sorry?

[2020-04-05 19:39] timdeschryver commented on #2474
In the issue you're mentioning that you've used string selectors, but in the reproduction I see that a real selector is being used.

[2020-04-05 19:42] timdeschryver commented on #2466
Could you create a reproduction for this?
It seems to be working just fine here.

Also make sure you're in the dist folder, `./dist/project-name`.

[2020-04-05 22:43] pburkindine commented on #2474
@timdeschryver

Sorry, I mean that the selector is selecting a simple string from state (as in, simplest possible case, not an object or anything complicated)

[2020-04-06 01:40] pburkindine commented on #2474
@timdeschryver the code you pointed me to finally got clear what was happening.  We had extended MockStore when v8 first came out so that we could implement a `fireSelector` function (overrideSelector, setState) (see https://github.com/ngrx/platform/issues/2000)).  The problem was that the code you pointed to was trying to pull the base MockStore from state, finding it missing, and so not resettin

[2020-04-06 01:40] #2474 closed

[2020-04-06 06:09] timdeschryver commented on #2474
Awesome! Glad we were able to figure it out.

[2020-04-06 07:07] hegedis-andor opened #2476 "Add example of unit testing selector which uses props"
## Other information:
https://ngrx.io/guide/store/testing#testing-selectors
It is not clear how to test ngrx selector which uses props

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[x] No

[2020-04-06 07:23] timdeschryver commented on #2476
I think this is a duplicate of #2176
If this is not the case, feel free to re-open the issue

[2020-04-06 07:23] #2476 closed

[2020-04-06 15:23] hoang-innomizetech commented on #2466
@timdeschryver Sorry, this seems an issue of Angular itself, so I am closing this issue. Thank you for your attention.

[2020-04-06 15:23] #2466 closed

[2020-04-07 09:08] PooSham opened #2478 "ng add @ngrx/store -> Unexpected token / in JSON at position 173"
## Minimal reproduction of the bug/regression with instructions:

When I run `ng add @ngrx/store`, I get the following error:

and StoreModule is not added to my imports in the app module.

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

Here's the output from `ng version`

## I would be willing to submit a PR to fix this issue

[ ] Yes (Assistance is provided if

[2020-04-07 16:13] timdeschryver commented on #2478
I hope https://github.com/ngrx/platform/pull/2455 fixes this issue.
When a new version is released, I will give it a spin and see what happens.

[2020-04-07 19:19] timdeschryver commented on #2478
@PooSham we just release v9.1 and this issue seems resolved.
If this is not the case, fee free to reopen this issue.

[2020-04-07 19:19] #2478 closed

[2020-04-09 07:36] PooSham commented on #2478
I still get this issue in v9.1

[2020-04-09 16:24] tiaguinho commented on #2109
Hi @brandonroberts this is still happening with me in the latest version of NGRX.
Could you please reopen the issue?

[2020-04-10 12:29] brandonroberts commented on #2465
Thanks @Hanawa02, I think listening to router events and populating the store within a separate reducer with what you need would be an option here, as opposed to providing too many options for when the navigation action is dispatched.

[2020-04-10 12:33] brandonroberts commented on #2449
@MrCube42 what are you proposing in terms of docs, as we don't have any Jest-specific examples in the testing guide.

[2020-04-10 12:39] brandonroberts commented on #2404
Hi @pburkindine,

From what I can tell, the issues come in when you're dispatching an action not owned by an NgRx library that contains a component, with immutability checks enabled. I see a couple of potential options here.

- We know the properties that are attached on components compiled with Ivy, so we could exclude those from being frozen internally. Assuming these don't change, this would so

[2020-04-10 13:01] brandonroberts opened #2485 "RFC: Add more information to Redux Devtools from Effects"
## Other information:

Effects are very opaque when it comes to seeing how they fit into the reactive cycle when building apps with NgRx. In most cases

- You have to trust that they "just work" when you dispatch an action
- Developers often get the timing of Effects wrong, in that they are handled _after_  state has already reduced, and then dispatch a new action.
- Developers can't easily see in

[2020-04-10 14:08] joshuakeel opened #2486 "Built-in router-store selectors can't be mocked"
## Minimal reproduction of the bug/regression with instructions:

It seems impossible to properly mock the built-in router-store selectors with `mockStore.overrideSelector`. Look at the `user-greeting.component.spec.ts` in the StackBlitz below. One of the tests doesn't compile because the types are not compatible on line 22:

`mockStore.overrideSelector(selectRouteParams, { id: 5 });`

The other t

[2020-04-10 17:58] inunotaisho26 opened #2487 "No documentation for the on function in Website"
There is no documentation for the `on` function within the NgRx website. I'm not sure if this is intentional or not, but newbies need that documentation. No matter how small, inconsequential or stupid it may sound. The `on` function is very easy to use, but I need to know precisely what it does.

[2020-04-11 11:23] MrCube42 commented on #2449
**To summarize, my proposal is**: Adding the `async()` wrapper from `@angular/core/testing` to the test example `my.effects.spec.ts` in the docs because of the asynchronous nature of this effects test.

---

I tried to reproduce the scenario with standard Jasmine/Karma setup of Angular.
Consider the following test:

[code]

In this case, the test is green and the error due to the missing mock impl

[2020-04-11 12:49] cgatian opened #2488 "@ngrx/component max call stack error with getter accessor property"
Exposing a public observable through a getter accessor property causes a max call stack error. If I change to a public property, the code works as intended.

Accessing an observable through a getter accessor property seems to be the issue.

Use `ngrxLet` or `ngrxPush` in a simple hello world app.
* Disable ZoneJS
* Import `ReactiveComponentModule`
* Use `ngrxLet` with an observable

[code]
[code]

[2020-04-11 13:11] cgatian commented on #2488
I could be wrong, but because `asObservable()` returns a new reference the `distinctUntilChanged` [calls in `CdAware`](https://github.com/ngrx/platform/blob/master/modules/component/src/core/cd-aware.abstract.ts#L62) fail to notice that its actually the same observable. To fix I think we could perform a comparison on the `source` property within the observable.

[2020-04-11 13:39] cgatian commented on #2488
I believe this is functioning as intended, but may be worth noting in the docs.

Async pipe works because it never invokes a change detection on the component. `ngrxPush`/`ngrxLet`  do invoke changes which cause the template checks to run. If you use a function to return an observable (without memoizing that return value) you get into this situation.

[2020-04-11 15:51] timdeschryver commented on #2404
@brandonroberts I was hoping we shouldn't have to check for ivy components.
But it seems like we have no choice, I'm not a fan of the exclude function.
Either you're using them, or not, because otherwise I'm afraid it might lead to weird behavior while replaying/rehydrating the state.

[2020-04-11 18:13] jqsjqs commented on #2222
I agree. The official docs weren't clear on this and needs this type of explanation. Good job @brandonroberts (and thanks).

[2020-04-12 02:50] nasreddineskandrani commented on #467
@PuffPastry can you share a stackblitz with an example of the issues "state is not defined errors." ?

[2020-04-13 05:34] alex-okrushko opened #2489 "RFC: Add ComponentStore for managing local component state"
This could be a stand-alone solution for local state management that is now handles with "Service with a Subject".

Note: this solution is not tied to `@ngrx/store`.

## Design Doc
https://okrushko.dev/component-store-dd
Originally designed and implemented by Kevin Elko (my Firebase teammate).
Feedback is welcomed.

## Simple Demo
https://stackblitz.com/edit/ngrx-component-store-simple-demo?file=s

[2020-04-13 12:07] brandonroberts commented on #2404
@timdeschryver I agree with your hesitation with the exclude function. I agree that passing components through the store if you're also needed to replay/rehydrate the state will cause weird behavior. I also think Ivy components are an exception to the rule as they are provided by the upstream framework. If its outside of that use case, I would recommend using a different mechanism to pass componen

[2020-04-13 16:56] pburkindine commented on #2404
Hi @brandonroberts,

Thanks for the reply!  The first option seems reasonable to me as it will be totally transparent versus a flag.

In a more general way it's hard for me to think of a reason to make a class immutable in state (in modern TS land, why would you be messing with the class itself?). (I guess theoretically someone would mutate a prototype and screw up another consumer?  Would the sto

[2020-04-13 17:21] BioPhoton commented on #2489
You may want to add my issue on the proposal as well #2187 ? :)

[2020-04-13 17:22] BioPhoton commented on #2489
Hi @alex-okrushko

Thanks for putting this together!

I took my time to read the document, here my feedback:

**Reactivity**

I believe the goal of the component package is reactivity.
In this proposal, I miss it a lot. You may consider more reactive possibilities here.

The only thing reactive is the result form a createSelector. And the selector itself is not compatible with RxJS operators.

**G

[2020-04-13 19:45] LMFinney commented on #2406
Thanks for the example. I'm glad there's an example in the docs.

Two notes:

1. There are a couple compilation issues with the example (pluralizer is misspelled as pluralizzer once, and the private pluralizer can't override the parent's private pluralizer). I just submitted https://github.com/ngrx/platform/pull/2490 to fix these.
2. It would be nice if this were a simple config option, like the `

[2020-04-14 00:31] alex-okrushko commented on #2489
Thanks for the feedback @BioPhoton.

I'll structure the responses to some of the questions that were raised, let me know if I missed any.

### Questions raised:
1. Reactivity - "not reactive enough".
2. Explain what low-level problems your service solves.
3. Initial state - should we initialize?
4. createReducer and setting state directly from Component.
5. createSelector composition, and "why we

[2020-04-14 13:33] timdeschryver commented on #2412
@Andrei0872 That seems to be what we're looking for.
@alex-okrushko, thoughts?

[2020-04-14 16:27] timdeschryver commented on #2488
@BioPhoton do you got any ideas here? 🙂

[2020-04-14 16:33] timdeschryver commented on #2487
The docs for `on` can be found at https://ngrx.io/api/store/On.

[2020-04-14 16:33] #2487 closed

[2020-04-15 09:42] nileshzala005 opened #2493 "Register effects with NGRX"
How To register CompanyEffects in AppModule, After AppConfigService response received from server.

effect registration in AppModule
`EffectsModule.forRoot([CompanyEffects]),`

CompanyEffects
[code]

AppConfigService
[code]

[2020-04-15 22:04] BioPhoton commented on #2446
closed because of https://github.com/ngrx/platform/pull/2473#discussion_r409032031

[2020-04-15 22:04] #2446 closed

[2020-04-16 09:42] timdeschryver opened #2494 "NgRx 9 migration compilation error"
## Minimal reproduction of the bug/regression with instructions:

The router-store schematic, adds a serializer to the config but doesn't import the serializer. This breaks the app.

## Expected behavior:

The migration should also add the serializator to the imports.

## I would be willing to submit a PR to fix this issue

[x] Yes (Assistance is provided if you need help submitting a pull request

[2020-04-16 13:43] damienwebdev opened #2495 "docs(store): add docs for using `FEATURE_REDUCERS` token with ReducerManager"
I'm trying to work out a solution to #1734 and I have a pretty decent solution that I'd like to document for `@ngrx`. Unfortunately, I'm currently facing some issues surrounding accessing `FEATURE_REDUCERS` across root, child, and lazy-loaded injector hierarchies.

Specifically, I'm trying to merge an application developer's feature reducers into an existing reducer via the `ReducerManager`.

In m

[2020-04-16 14:40] mfabioe commented on #2441
can't wait to use it! seems promising! would solve a lot of problems with ngIf

[2020-04-16 18:41] LMFinney commented on #2077
We have a case where we need the root to be `/api`, not `api`, so the existence of `normalizeRoot()` in the flow caused us a bit of grief. Fortunately, once we understood what was happening, it was easy for us to skip past it because we had already replaced the [HttpUrlGenerator](https://ngrx.io/guide/data/extension-points#replace-the-httpurlgenerator), but it would have been onerous to change thi

[2020-04-16 19:35] montella1507 commented on #1541
Unfortunately action created with this Is not handled correctly in standard effect :/ not catched.

[2020-04-17 05:30] ramesh-yadav opened #2496 "window.ngrx.store is empty object when using umd files of ver. 8 and above"
## Minimal reproduction of the bug/regression with instructions:

I am using this (https://www.angulararchitects.io/aktuelles/6-steps-to-your-angular-based-microfrontend-shell/) approach to create Microfrontends.

When I use UMD files of @ngrx/store 8 and above window.ngrx.store is empty object. With Ver. 7 it is working fine.

## Expected behavior:

window.ngrx.store should not give empty object

[2020-04-18 02:48] Bretto opened #2497 "selectFilteredEntities doesn't return expected results"
## Minimal reproduction of the bug/regression with instructions:
[code]

## Expected behavior:
when i use the instance of the EntityCollectionServiceBase GeoPointService in my case it works as expected.
[code]
So the selector with ```selectFilteredEntities``` doesn't work but accessing ```filteredEntities$``` works
I would like this to work in both cases.

## Versions of NgRx, Angular, Node, affec

[2020-04-18 11:27] isaak92 commented on #438
I think the problem is that an effect with operator startWith can dispatch an action before others effects will have subscriptions.
It depends on order declaration of effects in effect class.
The solution is to use any sceduler(e.g. asyncScheduler) for startWith operator
[see an example](https://stackblitz.com/edit/angular-rszjya?file=src%2Fapp%2Fapp.module.ts)

[2020-04-18 17:40] #2486 closed

[2020-04-18 17:41] #2404 closed

[2020-04-19 18:36] alex-okrushko commented on #2489
The Design Doc got many updates, as well as APIs were expanded to take `Observables` for state updates.
Please check let out at https://hackmd.io/zLKrFIadTMS2T6zCYGyHew?view#APIs

Also ["Open Questions"](https://hackmd.io/zLKrFIadTMS2T6zCYGyHew?both#Open-Questions) were updated - those are the questions that are being actively discussed. If anyone has feedback about those - I'd like to hear them.

[2020-04-19 18:49] alex-okrushko commented on #2412
Thanks @timdeschryver  and @Andrei0872
I've been following this issue opened for Typescript for a while now: https://github.com/microsoft/TypeScript/issues/12936

The initial solution from TS team was to use the following:
[code]

Another solution further down in the comments is:
[code]

We could experiment with those.

Some problems appear when `State` is a union or intersection of types. We shou