[2019-04-01 14:33] wesleygrimes commented on #1621
@santoshyadav198613 any luck on the app? I was thinking about taking a crack at this, but don't want to steal your thunder.

[2019-04-01 14:36] #1669 closed

[2019-04-01 14:46] brandonroberts opened #1684 "Example: Clean up barrel imports"
In multiple places we have individual imports for components, containers, effects.

- Create an `index.ts` file in each grouping folder, for example (components/index.ts)
- Export modules from files in the grouping in the `index.ts` file, for example (export * from './login-page.component')
- Update imports in the application to use the barrel imports

[2019-04-01 14:57] #1657 closed

[2019-04-01 15:15] santoshyadav198613 commented on #1621
Hey @wesleygrimes,
I am travelling right now, will start working from tomorrow, you will have something to review by this weekend.

Regards,
Santosh

[2019-04-01 15:16] wesleygrimes commented on #1621
Sounds good my friend!

[2019-04-01 16:35] King-i commented on #1683
i can do this if you want?

[2019-04-01 16:38] King-i commented on #1684
i can pick this up?

[2019-04-01 16:44] brandonroberts commented on #1684
Sure

[2019-04-01 17:11] timdeschryver opened #1687 "Example: update ofType"
With https://github.com/ngrx/platform/pull/1676 merged we can update the example app.

E.g. :

[code]

And also how the `Actions` are inject:

[code]

[2019-04-01 18:28] #1674 closed

[2019-04-01 18:39] wesleygrimes commented on #1687
I'm on it

[2019-04-02 04:08] osnoser1 commented on #1661
Hi, can I take this?

[2019-04-02 04:27] dkosasih commented on #1661
@osnoser1 let me know if you are taking it so there will be no double work, I was planning to work on this some time this week.

[2019-04-02 06:09] timdeschryver commented on #1661
Sure @osnoser1 , it's all yours.

Sorry @dkosasih, but as already mentioned there are a few issues open 😄

[2019-04-02 07:44] allens commented on #1481
Please maintain @ngrx/db rather than replace it with localStorage. This change has made the example app a poorer example. @ngrx/db uses IndexedDb which is very different to localStorage. When I first came across NgRx I found the use of @ngrx/db very useful.

What was wrong with @ngrx/db anyway? It doesn't need much support besides upgrading Angular version once in a while. If you'd put a request o

[2019-04-02 13:51] jsonod opened #1690 "Missing comma in docs"
1. Open https://ngrx.io/guide/store/selectors
2. Scroll to the bottom
3. Inside code snippet: select-last-state-transition.ts, at line 10
4. `} [] as {foo: number; bar: string}[])`
   should be
    `}, [] as {foo: number; bar: string}[])`
## Other information:

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ]

[2019-04-02 13:52] timdeschryver commented on #1690
Do you want to submit a PR with a fix? 😄

[2019-04-02 14:22] jsonod commented on #1690
No problem.

[2019-04-02 18:45] santoshyadav198613 commented on #1621
Hi @wesleygrimes ,
You can access the code here stackblitz URL : https://stackblitz.com/github/santoshyadav198613/ngRxElementDemo

Repo : https://github.com/santoshyadav198613/ngRxElementDemo

[2019-04-02 19:14] wesleygrimes commented on #1621
@santoshyadav198613 this is looking good! Can you take it a step further and make each piece a separate custom element? Right now it's all together in one counter element, but I think the end goal is to show multiple counter elements communicating with each other through the Store.

[2019-04-02 19:18] santoshyadav198613 commented on #1621
@wesleygrimes

thanks sure will start working on it.

[2019-04-02 19:25] #1683 closed

[2019-04-03 03:01] allens commented on #1481
PS there is an open issue to move @ngrx/db to the platform #42 so it was a bit of a surprise that @ngrx/db  has been removed from the example app!

[2019-04-03 03:05] allens commented on #1481
Also it would be much more enlightening to see the correct way for the store to be rehyrdated from indexeddb rather than localStorage (because former is async and therefore a much trickier proposition).

[2019-04-03 12:38] #1659 closed

[2019-04-03 15:46] peterbsmith2 opened #1693 "Example Output in docs for Schematics"
It would be helpful to see the sample output of generate commands that are defined in ngrx schematics, right on ngrx.io

Other information:
I would be willing to submit a PR for the docs

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-04-03 16:40] brandonroberts commented on #1693
How much sample output are you wanting to see? Generating a feature, or an entity would still be pretty verbose. We discussed this previously in https://github.com/ngrx/platform/issues/758, but we didn't have a dedicated place for docs then.

[2019-04-03 16:48] peterbsmith2 commented on #1693
I think the full thing, perhaps in an expandable in case verbosity issues are about space on a page.

I would say that there is a benefit to those people who are already using ngrx regularly. Its an enticement to them to see what would otherwise be manually written by hand. In that context verbosity could even be an asset.

It also may drive adoption if it were clear what the benefit of the comman

[2019-04-03 17:30] santoshyadav198613 commented on #1621
Hi @wesleygrimes ,
Please verify now, we have 4 elements.

[2019-04-03 18:02] wesleygrimes commented on #1621
@santoshyadav198613 This is looking good!

@timdeschryver @brandonroberts What do you think? Should the example go any further like showing the elements being used in a non-angular, vanilla js scenario? Or is this good enough?

[2019-04-03 20:36] stianmorsund commented on #414
I've found the best way to do this is to use a [Facade](https://medium.com/@thomasburlesonIA/ngrx-facades-better-state-management-82a04b9a1e39) instead of injecting the Store into the effects. That way, you can easily mock only the things you want without having to deal with the whole Store.

In effect:

[code]

In effect.spec:
[code]

[2019-04-03 20:48] brandonroberts opened #1694 "Docs: Add section to testing guide for Effects that select state"
Follow-up for https://github.com/ngrx/platform/issues/414 that got closed in discussion about the Mock Store.

- Adds example snippets of testing an effect that injects Store and uses withLatestFrom
- Example should use the `MockStore` to set the state for the test

[2019-04-03 22:19] nhhockeyplayer commented on #1488
this seems to be a persistent issue with latest angular/ngrx

[2019-04-04 01:42] jtcrowson commented on #1694
I can pick this up.

[2019-04-04 10:13] tja4472 opened #1697 "example:cypress:open requires agreeing to Applitiools Terms & Conditions??"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## What is the current behavior?

Am unable to run example:cypress:open script as I have not agreed to Applitiools Terms & Conditions
[code]

## Expected behavior:

To be able to run script withou

[2019-04-04 11:53] Derpai commented on #31
You can access your specific action constructor iff you make your Action in reducer Typed.

![image](https://user-images.githubusercontent.com/49275978/55553582-dbb13e80-56e0-11e9-8011-33ec71a415d3.png)

[2019-04-04 11:56] #1504 closed

[2019-04-04 13:53] Hermel opened #1698 "Support in offline documentations"
I would like to run a clone of the NGRX docs on a local pc (that has no internet access), is it possible to get support for such procedure?
Thanks.

[2019-04-04 15:27] jonrimmer commented on #1104
I encountered this and spent a while debugging it. It happens because:

1. By default the `StoreRouterConnectingModule` serializes the whole activated route into the store. The router state includes a reference to the current route config, which has a reference to the component for that route, which has a reference to the component's metadata, which has a reference to the dependency injection toke

[2019-04-04 20:43] #1661 closed

[2019-04-04 20:47] #1687 closed

[2019-04-05 02:46] brandonroberts opened #1701 "Docs: add migration guide for version 8 release"
Documents

- [ ] CLI Update instructions
- [ ] New Features/Breaking Changes
- [ ] Provided Migrations
- [ ] Latest dependencies

[2019-04-05 02:48] brandonroberts commented on #1693
Sounds reasonable to me

[2019-04-05 03:26] brandonroberts opened #1702 "Docs: create example from stackblitz fork in tutorial"
Currently we link to a forked StackBlitz here https://stackblitz.com/fork/ngrx-start. This should be placed under the ngrx.io/content/examples folder so we can modify it and send the user to a generated stackblitz link.

- Download the example from StackBlitz
- Extract the folder contents into the ngrx.io/content/examples/ngrx-start folder
- Create an empty `example-config.json` file
- Create a `s

[2019-04-05 04:23] santoshyadav198613 commented on #1702
Hi @brandonroberts ,
can i take this up.

[2019-04-05 04:26] santoshyadav198613 commented on #1698
Hi @Hermel ,
The ngrx.io portal is available as PWA, you can get it installed and you do not need internet access after that.

[2019-04-05 04:38] brandonroberts opened #1703 "Docs: update example dependencies to version 8"
The dependencies for the generated examples need to be updated with the upcoming release. The `package.json` file is located in the `projects/ngrx.io/tools/examples/shared` folder.

- [ ] Update the Angular dependencies to latest
- [ ] Update the NgRx dependences to latest
- [ ] Run yarn in the `shared` folder to update the `yarn.lock` file

[2019-04-05 06:15] dollyshah-02 opened #1705 "Docs: V7 update guide needs to mention minimum dependencies"
## Support Requests should not be opened as issues and should be handled in the following ways:

### On [StackOverflow](https://stackoverflow.com/questions/tagged/ngrx) using the `ngrx` tag

### In our gitter support channel at https://gitter.im/ngrx/platform

ERROR in node_modules/@ngrx/store/src/models.d.ts(31,43): error TS1005: ';' expected. node_modules/@ngrx/store/src/models.d.ts(31,67): erro

[2019-04-05 07:14] go2theG commented on #1705
I had the same when using Angular 6 with ngrx/store 7.

Downgrade ngrx/store to Version 6. Or upgrade Angular to version 7.

[2019-04-05 07:43] Hermel commented on #1698
@santoshyadav198613
Could you please explain in more detail how can I make it happen? Maybe with the code or the commands I should run?

[2019-04-05 08:22] santoshyadav198613 commented on #1698
Hi @Hermel ,

1. On Desktop open chrome click on 3 dots icon, you will see an option Install NgRX.
2. On Mobile devices once you open ngrx.io you will get an option to Add NgRx.io to Home Screen.

Once it is done, the documentation will work offline as well.

Let me know if it helps.

[2019-04-05 10:26] Hermel commented on #1698
@santoshyadav198613 I tried to install and run the app but it didn't work when I switched the internet off. It works only with working internet connection.

Also, when "installing" NGRX via chrome - is it possible to copy the installation to another machine? I would like to download the offline docs at one computer (the one with internet connection) and run it at the other one that has no internet

[2019-04-05 11:50] brandonroberts commented on #1705
@go2theG is correct. If you are using V7, you must upgrade to Angular V7. V6 works with Angular 6 and 7, but you'll get a peer dependency warning with Angular 7.

Would either one of you like to submit a PR to add the minimum dependencies to the V7 update guide similar to what's in the V6 update guide?

[2019-04-05 13:45] peterbsmith2 commented on #1693
I'm going to be less than fast on this one, though I am starting planning over the weekend.

[2019-04-05 13:51] Stephane-Peyroutet opened #1707 "Docs: Ngrx Entity - Nested/Relational data and Normalization"
Since ngrx.io has opened, some issues have been closed regarding the community interest in more detailed recipes or stories, such as this one : #692.

The ngrx.io site is really nice and goes quite deep on explaining the mechanics of @ngrx.

But it does not answer or give any resource, regarding some quite frequent general questions, such as : **what would be the recommended approach on how to han

[2019-04-05 14:15] santoshyadav198613 commented on #1698
Hi @Hermel,

I tested it as well, looks like few resources are not available when offline, @brandonroberts I will look into this, if you have any pointers please share.

Regards,
Santosh

[2019-04-05 15:38] brandonroberts commented on #1693
No rush

[2019-04-05 19:17] jtcrowson commented on #1703
Should we wait until 8.0 is released?  Or use the beta version?

[2019-04-05 19:19] brandonroberts commented on #1703
Beta is fine. We'll do another pass once 8.0 goes final

[2019-04-05 19:20] brandonroberts commented on #1702
Sure!

[2019-04-05 19:31] timdeschryver commented on #1698
I haven't tested this, but you should be able to clone this repository, `cd` into `projects/ngrx.io` and follow the [CI steps](https://github.com/ngrx/platform/blob/master/.circleci/config.yml#L121) in order to build the website.

Or maybe the easiest way would be to just download the build version of the website at https://github.com/ngrx/ngrx-io-builds

[2019-04-05 19:38] jtcrowson commented on #1703
Cool, I'll update with Angular 8.0.0-beta.11 and NgRx 7.4.0

[2019-04-05 19:44] timdeschryver commented on #1670
What about making `actionCreators` the default (and make it our recommended way)?
We already have refactored the example app and are currently busy updating the docs.

[2019-04-05 19:47] brandonroberts commented on #1670
I'd rather it be opt-in for 8 and the default for 9.

[2019-04-05 19:53] brandonroberts commented on #1697
Applitools is what we're using for now. You shouldn't need to run the E2E tests unless you're changing something visually to the example app. We will revisit this once we diagnose the flakyness.

[2019-04-05 19:53] #1697 closed

[2019-04-06 02:45] #1673 closed

[2019-04-06 08:14] santoshyadav198613 commented on #1621
Hi @timdeschryver  @brandonroberts ,

Any update to move forward with this task.

[2019-04-06 08:15] santoshyadav198613 commented on #1698
Yes this is another way, but if we are providing the site as PWA and most if the contents are static, it should work offline.

[2019-04-06 08:20] itayod commented on #1682
hi @brandonroberts ,
I can start with this.

[2019-04-06 15:19] brandonroberts commented on #1621
I think it's a good start. Probably would be better to build the components in a separate lib and use them in the example.

[2019-04-06 15:25] santoshyadav198613 commented on #1621
Sounds good, will make the changes.

[2019-04-06 15:27] brandonroberts commented on #1682
👍🏿

[2019-04-06 17:41] santoshyadav198613 commented on #1702
Hi @brandonroberts,
PR open for review.

[2019-04-06 17:44] timdeschryver commented on #1698
Yea, but the problem is that the computer he wants to use doesn't have an internet connection. Thus he can't visit the page and install the PWA.

[2019-04-07 03:00] brandonroberts opened #1712 "Docs: Fix links to example app readme to point to ngrx.io"
Update all links to NgRx packages in https://github.com/ngrx/platform/tree/master/projects/example-app to their respective pages on https://ngrx.io

[2019-04-07 07:33] santoshyadav198613 commented on #1712
Hi @ksgaurang,

This is good issue to start with.

[2019-04-08 13:01] montella1507 opened #1713 "Strange withLatestFrom behavior"
## Minimal reproduction of the bug/regression with instructions:
Lets have very common Effect + Selector code:

[code]

## Expected behavior:
withLatestFrom should take last value from this.store when and ONLY WHEN the first observable emits value (XYZAction dispatched).  However...  selector is called before any action..

I think this should work, because i am subscribing to store/select/selector

[2019-04-08 14:21] alex-okrushko commented on #1713
withLatestFrom would **combine** the values only when action is dispatched, however it starts **listening** for the `this.store.pipe(select(anySelector))` right away, so this is the expected behavior unrelated to NgRx.

[2019-04-08 14:24] alex-okrushko commented on #1713
@montella1507, are you getting the error somewhere, because it's undefined? There are solutions for that, if that's the case.

[2019-04-08 14:27] montella1507 commented on #1713
@alex-okrushko  well.. so it emits final value ONLY WHEN FIRST observable emits value ($actions.oftype()) but it subscribe to second one (store) right away... right?

So:

is the only solution.. -> " Do not rely that subscriber is subscribed only after action is dispatched".

[2019-04-08 14:34] alex-okrushko commented on #1713
A few solutions (for ngrx/router case):
- Provide the initial state for the `ngrx/router` - this is [my recommended solution](https://github.com/alex-okrushko/ngrx-workshop/blob/b26ddbab032f8165f192353a17964c588ebc771a/src/app/router/routing.module.ts#L36)
- Add checks in the the selector
- instead of `withLatestFrom(store.select(...)),` do something like `concatMap(action => of(action).pipe(withL

[2019-04-08 14:36] #1713 closed

[2019-04-08 15:05] brandonroberts opened #1714 "Docs: Add section to Effects overview about using state with effects"
A section on using state with effects would be useful.

- Include an explanation that Effects in general, should only rely on the Action and associated metadata for handling the Effect.
- When you need to use state, use a flattening operator into another Observable so that the selector isn't immediately fired
- Include an example

Based on conversation from https://github.com/ngrx/platform/issues/

[2019-04-08 15:05] brandonroberts commented on #1713
I filed a new issue in #1714 to cover this in the docs

[2019-04-08 15:09] montella1507 commented on #1713
@brandonroberts  thank you very much!

[2019-04-08 17:11] montella1507 commented on #1713
@alex-okrushko  so this may be the solution as well:

[code]

[2019-04-08 17:33] brandonroberts commented on #1707
Hi @Stephane-Peyroutet, this is on our list of things to add to the docs for entity. The Redux doc you mentioned is a good reference point though

[2019-04-08 18:02] santoshyadav198613 commented on #1621
Hi @brandonroberts ,

Added a library project, the only problem is it is not working on stackblitz.
But verified locally works fine.

[2019-04-08 18:04] wesleygrimes commented on #1621
Yeah I would expect issues on Stackblitz. This kind of edge case doesn’t always work there. I will pull locally and test out.

-Wes

[2019-04-08 18:27] brandonroberts commented on #1621
@santoshyadav198613 looks good to me!

[2019-04-08 18:29] santoshyadav198613 commented on #1621
thanks @brandonroberts  So where we want the documentation to be added.

[2019-04-08 18:45] timdeschryver commented on #1621
I wasn't up to date with Angular elements, but this is neat!
Good job @santoshyadav198613 😄
You should consider writing a post about this, I'm sure Angular in Depth would publish it if you would like to.

[2019-04-08 18:50] santoshyadav198613 commented on #1621
Thanks @timdeschryver ,

Sure will start writing in weekend, would be happy if you can review it before i publish.

[2019-04-08 18:54] brandonroberts commented on #1621
Definitely agree. A post on this would be good

[2019-04-08 19:03] wesleygrimes commented on #1621
Feel free to send any draft of the post my way (and I'm sure the other guys too) and we will be happy to review, edit, etc... before you publish.

[2019-04-09 03:33] alex-okrushko commented on #1713
@montella1507 Interesting that you mentioned that, because I have the operator that buffers incoming action until the store selector returns non-null value - meaning something was set and it's not the initial one anymore:
[code]

I would still recommend setting the initial value for router state

[2019-04-09 04:11] #1671 closed

[2019-04-09 04:14] #1694 closed

[2019-04-09 04:15] #1712 closed

[2019-04-09 04:18] #1702 closed

[2019-04-09 04:20] #1703 closed

[2019-04-09 05:25] genu opened #1717 "devtools doesn't work"
## Minimal reproduction of the bug/regression with instructions:

## Expected behavior:

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

## Other information:

## I would be willing to submit a PR to fix this issue

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-04-09 05:25] #1717 closed

[2019-04-09 07:59] Stephane-Peyroutet commented on #1707
Hi @brandonroberts ,

Thanks for the quick reply and it's good to know this will be added to the docs.

I'm also really interested and excited with the upcoming integration of ngrx-data within the  @ngrx/platform.

I'm closing this one to keep the issues clean as this is or will be taken care of.

[2019-04-09 07:59] #1707 closed

[2019-04-09 08:15] Edouardbozon opened #1718 "Adding documentation about dispatching multiple actions in Effects"
Hi, I noticed that there is no documentation about dispatching multiple actions in an Effect. I had to deal with that in my code and I found many related questions on StackOverflow.

It's possible by using the `switchMap` or `mergeMap` operator returning an array of actions.

What are your thoughts about providing explanation and example on documentation about this ?

## I would be willing to subm

[2019-04-09 12:48] alex-okrushko commented on #1718
It is possible, and there are multiple ways to do it, depending if you want to dispatch the effect right away, or wait until the service call is complete.

When you want to dispatch one right away:
[code]

When you want to dispatch on success:
[code]

When you want to dispatch when service call is done, regardless if it's Error or Success:
[code]

[2019-04-09 13:15] jtcrowson commented on #1714
I can take this.  Should we just increase the scope of the documentation created in #1708?

[2019-04-09 13:18] brandonroberts commented on #1714
Just create a new PR instead. That one has already been merged

[2019-04-09 13:20] jtcrowson commented on #1714
Will do.  I'll add this documentation in the same section of the Effects -> Testing.

[2019-04-09 13:21] brandonroberts commented on #1714
It should go in the overview guide and possibly link to the testing section

[2019-04-09 14:06] nukec commented on #931
I ended up loading config with root effects before feature effects are loaded.

[2019-04-09 16:31] santoshyadav198613 commented on #1698
May be he wants to download it for the one time using internet @Hermel am i right?

[2019-04-09 18:13] #1705 closed

[2019-04-09 18:37] brandonroberts commented on #1718
Dispatching multiple actions is considered an anti-pattern, so I'm obligated to show you this video 😉  https://www.youtube.com/watch?v=JmnsEvoy-gY&t=36s

[2019-04-09 18:48] timdeschryver commented on #1718
Oh snap. Busted, you're right.

[2019-04-09 20:24] alex-okrushko commented on #1718
Yeah, I've seen that video a number of times and shared that link even more time :)
But I've also seen code like
[code]

Not sure what's worse 🤷‍♂️

Also, if there is a chain of actions sometimes it's unavoidable to have the need to dispatch multiple.
But I'd have to agree that it's probably not the best practice.

[2019-04-10 05:39] Hermel commented on #1698
Hey,
I'll clarify the request more -
I would like to download the pwa/runnable version of the docs in computer A (which has a working internet connection) and transfer it by DOK to computer B which has no internet connection at all. Therefore it is not possible to download one time with internet connection as @santoshyadav198613 suggested

[2019-04-10 06:53] itayod commented on #1682
@brandonroberts
by "use a different set of files" you mean just the [template](https://github.com/ngrx/platform/tree/master/modules/schematics/src/effect/files/__name%40dasherize%40if-flat__) ?

[2019-04-10 07:05] Edouardbozon commented on #1718
At first I wasn't comfortable adding complexity in my Effects but then I saw many example doing this trick, even blog article. The video is quite interesting maybe we can add a pitfall section to the documentation to prevent users from doing this ?

In the video you shared Mike discouraged this because it bring useless complexity into our app. Well I'm agree but in my case I had to deal with backe

[2019-04-10 08:35] timdeschryver commented on #1682
I'm not Brandon, but yes these will be different templates.

[2019-04-10 08:44] santoshyadav198613 commented on #1698
Ok @Hermel ,

In that case the below option works fine. tested locally only issue you may get is the bootstrap css url which will not be loaded on other machine, i would suggest make some changes in index.html by downloading the bootstrap and referring the same from your local folder. Than you can copy it on other machine and it will work.

Or maybe the easiest way would be to just download the bu

[2019-04-10 11:22] LuukMoret commented on #1717
It is not working for me either when using `createAction()`, did you manage to solve this?

[2019-04-10 11:51] alex-okrushko commented on #1717
@LuukMoret example-app that is packaged with NgRx is using `createAction`. I just double checked and devtools show all the action in both JiT and AoT modes.
What's exactly not working?

[2019-04-10 12:04] LuukMoret commented on #1717
I refactored a small part of my application from Actions with Enums and classes to the createAction function with ngrx 7.4. The Redux DevTools plugin is saying "No Store found". When I revert these changes the DevTools plugin is working again. I think the example app is based on the master branch and not 7.4, not sure if this has anything to do with it.

I'll try to find any other difference betwe

[2019-04-10 12:10] izmaylovdev opened #1722 "Router-store initialization remove all data from the store."
## Minimal reproduction of the bug/regression with instructions:
"@ngrx/router-store/request" action removes all data from store
![image](https://user-images.githubusercontent.com/14952947/55877208-24b23880-5ba2-11e9-8548-1b72d6273753.png)

## Expected behavior:
All data not related to the router will remain untouched.

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s

[2019-04-10 12:13] LuukMoret commented on #1717
Nevermind, I found the problem. In one of my map functions inside an effect I just referenced the actionCreator instead of actually invoking it!

[2019-04-10 13:05] brandonroberts commented on #1722
Router Store on its own does not alter state. Please provide a reproduction of the issue

[2019-04-10 13:08] brandonroberts commented on #1698
I think this issue would be better discussed in the chat room https://gitter.im/ngrx/platform

[2019-04-10 13:08] #1698 closed

[2019-04-10 13:11] brandonroberts opened #1723 "Blog: Write post for version 8 release"
For future reference. Will be published at https://medium.com/ngrx

[2019-04-10 13:17] brandonroberts commented on #1718
As with most things, this is a guideline you should follow and there are use cases for doing it, but in general it shouldn't be considered standard practice.

[2019-04-10 13:34] izmaylovdev commented on #1722
Found mistake in my code... sorry for disturb...

[2019-04-10 13:35] brandonroberts commented on #1722
👍

[2019-04-10 13:35] #1722 closed

[2019-04-10 13:47] brandonroberts commented on #1682
Different set of files. I have a WIP branch here for action creators https://github.com/ngrx/platform/compare/schematics-action-creators?expand=1

[2019-04-10 14:10] itayod commented on #1682
Thanks @brandonroberts  and @timdeschryver
I actually done about the same thing in my [wip branch](https://github.com/ngrx/platform/compare/master...itayod:feature/effect-creator-schematics?expand=1
) :)

but I think this solution might be an overkill for the effect case.
since most of the content in the effect file is not the method of creating effect, most of the template will be similar.

anywa

[2019-04-10 14:13] brandonroberts commented on #1682
I agree in the effects case that its reasonable to keep it in the same template

[2019-04-10 14:37] brandonroberts opened #1724 "RFC: Add reducer factory to Store"
We've discussed this in other places, and was mentioned here with the introduction of action creators.  https://blog.angularindepth.com/ngrx-action-creators-redesigned-d396960e46da

This is to open up the discussion about rationale. We've introduced two functions recently: `createAction` and `createEffect`, both with the purpose of preserving the type-safety of the things they create, while making

[2019-04-10 16:35] timdeschryver opened #1726 "docs: Runtime checks"
## Other information:
Follow up to #1613.

- Document the three built in run time checks: [actionSerializationCheckMetaReducer](https://github.com/ngrx/platform/blob/master/modules/store/src/meta-reducers/action_serialization_reducer.ts), [immutabilityCheckMetaReducer](https://github.com/ngrx/platform/blob/master/modules/store/src/meta-reducers/immutability_reducer.ts), [stateSerializationCheckMet

[2019-04-10 17:23] santoshyadav198613 commented on #1621
Hi @wesleygrimes @timdeschryver @brandonroberts ,
Here is the draft https://medium.com/@santosh.yadav198613/using-angular-elements-with-ngrx-bc655e1eb212

Please suggest the changes

[2019-04-10 17:36] wesleygrimes commented on #1621
@santoshyadav198613  we will review. Certainly has potential to be a great read!

[2019-04-10 17:37] wesleygrimes commented on #1621
We should also think about getting this or similar content into a recipes page in the docs for NgRx now that you have proved it works.

[2019-04-10 18:03] adrienpsl opened #1727 "the best practice, exemple app or website documentation"
## Support Requests should not be opened as issues and should be handled in the following ways:

### On [StackOverflow](https://stackoverflow.com/questions/tagged/ngrx) using the `ngrx` tag

### In our gitter support channel at https://gitter.im/ngrx/platform

[2019-04-10 18:04] #1727 closed

[2019-04-10 19:00] timdeschryver commented on #1724
To play the devils advocate here, what benefits would `createReducer` bring us, because the benefits of `createAction` and `createEffect` were known before we started the implementation.

This is my list:

- No default return case needed, resulting in no more "frustrations" when one would forget to handle it
- We could add a check that every (intended) action is being handled within the reducer
-

[2019-04-10 19:01] brandonroberts commented on #1727
The example app follows best practice, which should be reflected on the website. We're in process of updating the docs right now for version 8, so there may be differences.

[2019-04-10 19:03] adrienpsl commented on #1727
ok ! thanks ! the ngrx is amazing !!

[2019-04-10 19:06] Edouardbozon commented on #1718
Thanks for pointing this, I close the issue since it's not a good practice.

[2019-04-10 19:06] #1718 closed

[2019-04-10 19:23] alex-okrushko commented on #1724
my list would include the ability to drop Action unions entirely 🎉

We discussed this during Firebase's design review and came to the conclusion that it is not the problem that needs fixing. I would cause a lot more friction with little benefit. On top of that, with action union dropped there would be no 'intended' actions :)

[2019-04-10 21:09] jtcrowson commented on #1670
Happy to pick this up if it's still up for grabs.

[2019-04-10 21:31] rezord opened #1729 "How to use data store in route resolver"
How can I use the NGRX store in route resolver? I have a route resolver and before it loads an Id from service and then it calls several API calls and adds them as observable with fork-join. But know I need to wait for the result of the store and then call these APIs.

I have the following code in my resolver and it works fine but the only problem is in the component I should subscribe for this da

[2019-04-11 14:42] ultraMIND commented on #187
Iconfir `EffectsModule.forRoot([])` in the appModule worked just fine :)

[2019-04-11 15:43] jtcrowson opened #1730 "Docs: example-app stackblitz link is broken in README"
## Minimal reproduction of the bug/regression with instructions:

The stackblitz link in the [example-app README](https://github.com/ngrx/platform/blob/master/projects/example-app/README.md) leads to a 404 page.

Broken link: https://ngrx.github.io/platform/stackblitz.html

## Expected behavior:

Should lead to the example-app in stackblitz.

## I would be willing to submit a PR to fix this issue

[2019-04-11 16:30] dejooo13 opened #1731 "Set delay to Effects"
Hello, i have a question how could i make some delay for GetShop effect because i need token for http request to be valid? Dunno if there is any other way of doing it.. Thanks in advance
`@Effect()
  Login: Observable<any> = this.actions
    .ofType(AuthenticationActionTypes.LOGIN)
    .pipe(
      map((action: Login) => action.payload),
      mergeMap(payload => {
        return this.authenticati

[2019-04-11 16:59] siddharthpal commented on #1621
@brandonroberts @wesleygrimes Can we have one example of custom element's exposed method where we call a ngrx action. I was trying to work with custom elements + NgRX and tried to integrate the custom element in an angularjs app. Amazed to see everything working seamlessly!!! But I am stuck at one place. Whenever from my angularjs app I am calling the custom element exposed method change detection

[2019-04-11 18:05] timdeschryver commented on #1730
I think this might be my fault when I accidentally deleted the `gh-pages` branch.
@brandonroberts I can't set the github pages branch in the project settings, I think this should be resolved if you could enable it 😄

[2019-04-11 18:22] timdeschryver commented on #1731
Support questions should be asked on [stackoverflow (with a ngrx tag)](https://stackoverflow.com/questions/tagged/ngrx) or the [gitter channel](https://gitter.im/ngrx/platform).

[2019-04-11 18:22] #1731 closed

[2019-04-11 18:23] timdeschryver commented on #1729
See Todd Motto's post [https://ultimatecourses.com/blog/preloading-ngrx-store-route-guards](https://ultimatecourses.com/blog/preloading-ngrx-store-route-guards).

Support questions should be asked on [stackoverflow (with a ngrx tag)](https://stackoverflow.com/questions/tagged/ngrx) or the [gitter channel](https://gitter.im/ngrx/platform).

[2019-04-11 18:23] #1729 closed

[2019-04-11 18:50] timdeschryver commented on #1621
Happy to hear this also works for AngularJS 😄
I agree that you'll have to trigger Angular's CD here.

I think currently the only options would be to listen to actions inside the component itself or a better way would to trigger the CD when the select emits a new value.

[code]

[2019-04-11 18:54] timdeschryver commented on #1670
If I'm not mistaken, I think @brandonroberts has started on this.

[2019-04-11 18:57] timdeschryver commented on #1466
See #1621

[2019-04-11 18:57] #1466 closed

[2019-04-11 19:59] brandonroberts commented on #1670
Yep, I have a branch here. https://github.com/ngrx/platform/tree/schematics-action-creators

If you want to take it, that's fine with me. It will need to land after #1725

[2019-04-11 20:28] jtcrowson opened #1732 "docs: update anchor color to have more contrast"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## What is the current behavior?

Links are difficult to identify due to low contrast between standard text color (#000000, black) and anchor text color (#412846, very dark purple).

<img width="5

[2019-04-11 20:48] #1714 closed

[2019-04-11 23:43] damienwebdev opened #1734 "Docs: provide examples regarding stateful encapsulation and "Good Action Hygiene""
I was watching the [talk on Good Action Hygiene](https://www.youtube.com/watch?v=JmnsEvoy-gY) @MikeRyanDev gave at ngConf and it led me to a few obvious questions that I don't think are well documented or described by existing documentation.

## Example
To illustrate some of these questions, I propose the following example:

1. I have a sidebar in my application that has the following state change

[2019-04-12 06:27] mare25 opened #1735 "Please replace in example-app: books$: Observable<Book[]>; with books$: Observable<(Book|undefined)[]>;"
## Minimal reproduction of the bug/regression with instructions:

## Expected behavior:

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

## Other information:

## I would be willing to submit a PR to fix this issue

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-04-12 08:55] santoshyadav198613 commented on #1621
Hi Guys,
Let me know where we can add this in guide section, also reviews for blog please.

[2019-04-12 10:35] alex-okrushko commented on #1735
I think this is related to the change in the Dictionary.
I'll take a look.

[2019-04-12 12:41] #1553 closed

[2019-04-12 14:24] #1682 closed

[2019-04-12 14:31] brandonroberts opened #1739 "Docs: Add instructions for using ng add for schematics"
Similar to what we have on the installation page for the other libraries:

- Document that you can use `ng add @ngrx/schematics`
- It prompts you to make them your default
- The changes that occur after the schematics are run

[2019-04-12 15:46] jonrimmer opened #1740 "Stop recommending jasmine-marbles and remove it from docs examples"
## Minimal reproduction of the bug/regression with instructions:

The NgRx documentation recommends the use of the [jasmine-marbles]() library, while also pointing the user to the [official RxJS docs](https://github.com/ReactiveX/rxjs/blob/master/docs_app/content/guide/testing/marble-testing.md) on marble test syntax.

However `jasmine-marbles` is [silently broken](https://github.com/synapse-wirel

[2019-04-12 16:02] siddharthpal commented on #1621
@timdeschryver
Finally could get the change detected by running inside ngZone like below:
[code]
Tried firing change detection on every emit value after
[code]
but it doesn't work!!!. I am not sure why. Can anyone please have an explanation.
Thanks

[2019-04-12 16:08] damienwebdev commented on #1724
To tack on here, re: #1734 it may be nice for `createReducer` to optionally accept a `prefix` and `createAction` to also optionally accept a `prefix` so that you can reuse reducers for multiple instances of a state. E.g. multiple instances of a sidebar.

[2019-04-12 16:55] brandonroberts commented on #1740
We won't be removing `jasmine-marbles` from the example app just because its missing that feature. Would you like to submit a PR to `jasmine-marbles` to add that feature instead? If so, I can possibly help you get it landed.

[2019-04-12 18:07] brandonroberts commented on #1444
Fixed via #1704

[2019-04-12 18:07] #1444 closed

[2019-04-12 18:12] #1681 closed

[2019-04-12 19:16] brandonroberts opened #1741 "Example: Reorganize into feature folders for state management"
Related to #861

Currently, the example app is structured where the entire state management infrastructure is included in each particular feature folder. The proposed change is to restructure the state management parts into separate feature folders under `src/app/shared/state` instead of `src/app/reducers`. The rationale being that `reducers` are an implementation detail of how you manage state ch

[2019-04-13 00:05] jtcrowson commented on #1741
I agree it would be clearer that shared state is the main purpose, but it might be less clear that some state (books) can and should be lazy-loaded along with a given feature module.

[2019-04-13 01:36] Malvolio opened #1744 "Sharing a store over a message channel"
Here's a general question: how could two different processes, connected by a message channel, share part of a store?

Here is specific case: I am (hypothetically) writing a portal app; that is, I have a web-application and other developers are allowed to install "modules" within it.  A module is a web-app that runs in same window as my app but in an iframe, served from the developer's own web-serv

[2019-04-13 09:25] jonrimmer commented on #1740
@brandonroberts I can "fix" it as per this PR: synapse-wireless-labs/jasmine-marbles/pull/38, but I don't see any way it will ever be much more than a hack, as the design of `jasmine-marbles` is not sympathetic to how RxJS want you to use `TestScheduler` nowadays. You're not supposed to be  creating hot and cold observables at any point, you're only supposed to create them within the context a `ru

[2019-04-13 18:54] brandonroberts commented on #1740
I think the fix is fine for the purpose of `jasmine-marbles`. `jasmine-marbles` has been syntax sugar on top of the `TestScheduler` that wasn't relatively easy to use. If you want to use the vanilla `TestScheduler`, `jasmine-marbles` shouldn't prevent you from doing that.

[2019-04-13 19:53] #1735 closed

[2019-04-14 14:28] SheriffKhan commented on #634
When I am importing StoreModule in app module
[code]

Below error is coming, kindly help me to resolve this....
[code]

[2019-04-14 14:34] SheriffKhan commented on #949
When I am importing StoreModule in app module
[code]

Below error is coming, kindly help me to resolve this....
[code]

[2019-04-14 14:54] SheriffKhan commented on #184
When I am importing StoreModule in app module
[code]

Below error is coming, kindly help me to resolve this....
[code]

[2019-04-14 15:54] alex-okrushko commented on #184
@SheriffKhan please open a new issue (I don't think it's related to the discussion above).
Also, provide the code snippet for your action creator - this is where the error is coming from.

[2019-04-14 16:00] alex-okrushko commented on #1741
[code]
Any reason why actions are put into their own folder? Why not flatten them and drop the `index.ts`:
[code]
Or even drop the prefixes altogether  (we see the folder name in the file path):
[code]
That's what I already do in my project 😛

[2019-04-15 12:30] #1732 closed

[2019-04-15 13:27] #1740 closed

[2019-04-15 14:29] santoshyadav198613 commented on #1621
HI @wesleygrimes  @timdeschryver ,
Should i publish it.

[2019-04-15 15:40] mfrieling commented on #1554
How long will it probably take after the release of Angular 8 until this will be solved and ngrx-data 8 be released?

[2019-04-15 16:10] santoshyadav198613 commented on #1621
Thanks for review @brandonroberts , i have made the changes.

[2019-04-15 16:11] santoshyadav198613 commented on #1739
Hi @brandonroberts ,
Taking this up.

[2019-04-15 16:33] brandonroberts commented on #1621
I didn't make it all the way through. I will leave more feedback later today

[2019-04-15 16:37] brandonroberts commented on #1554
`@ngrx/data` will be released as part of version 8. The plan is to release the first beta soon so developers can test it out installed as a primary package.

[2019-04-15 16:44] jtcrowson commented on #1684
@King-i are you still picking this up?

[2019-04-15 16:50] brandonroberts opened #1749 "Docs: Add overview page for @ngrx/data"
Similar to our other pages, `@ngrx/data` needs general doc pages.

What `@ngrx/data` is, why you might want to use it
Key concepts
Initial Usage

All this information can be ported from https://github.com/johnpapa/angular-ngrx-data

Create a new folder under `projects/ngrx.io/content/guide` named `data`.
Create an `index.md` for the overview page.
Add a section in the `projects/ngrx.io/content/nav

[2019-04-15 16:54] brandonroberts opened #1750 "Docs: Add installation page for @ngrx/data"
Follow-up to #1749

How to install it using

- ng add
- npm install
- yarn add

No schematics yet.

Create a new folder under `projects/ngrx.io/content/guide` named `data`.
Create an `installation.md` for the installation page.

[2019-04-15 16:57] jtcrowson commented on #1749
I can pick this up

[2019-04-15 17:01] brandonroberts commented on #1749
👍

[2019-04-15 17:28] SheriffKhan opened #1751 "Getting error when Importing StoreModule in app.module.ts File"
@brandonroberts Kindly look into this..

@alex-okrushko I have opened the new issue, kindly help me to resolve this.

Thanks in advance.

When I am importing StoreModule in app module
[code]

Below error is coming, kindly help me to resolve this....
[code]

[2019-04-15 19:13] timdeschryver commented on #1751
What are the installed versions of Angular and TypeScript?

[2019-04-15 19:37] timdeschryver commented on #1744
Here's my take on the question.

Like usually, it depends.

If you're dealing with a simple/small store, always have to keep the state in sync no matter what, communicate between a "parent app" and a "child app" in an iframe, the easiest solution is to just send the whole state from one app to another. Once the application receives the new state it should just swap out the old state with the new s

[2019-04-15 19:45] timdeschryver commented on #1741
Would an effect also qualify as shared? Could it be compared with a reducer, as it also listens to all dispatched actions?

[2019-04-16 05:07] dollyshah-02 commented on #1705
It is working fine after upgrading my angular version..Thank you guys.

[2019-04-16 13:14] brandonroberts opened #1753 "Docs: Update examples of injecting reducers with InjectionToken"
We currently use a two-step process when injecting reducers.

- Create an InjectionToken and factory function to return its value.
- Use the provider object syntax to provide the factory function

We can consolidate this into the token itself.

Before:

[code]

After:

[code]

[2019-04-16 13:19] #1726 closed

[2019-04-16 14:54] alex-okrushko commented on #1751
@SheriffKhan the error is coming from Action creator, please provide the code snippet for it.

[2019-04-16 14:56] SheriffKhan commented on #1751
Hi @alex-okrushko this is package.json file.

![package](https://user-images.githubusercontent.com/30168475/56220300-d7443880-6085-11e9-914e-9db9d2743c0c.PNG)

[2019-04-16 15:07] brandonroberts commented on #1751
@SheriffKhan looks like your application dependencies are out of date. If you need further support, ask in the [gitter chatroom](https://gitter.im/ngrx/platform)

[2019-04-16 15:07] #1751 closed

[2019-04-16 22:07] alex-okrushko opened #1758 "Store: new reducer creator should warn users about duplicate actions within the same reducer"
https://github.com/ngrx/platform/pull/1746

## Describe any alternatives/workarounds you're currently using

## Other information:

## If accepted, I would be willing to submit a PR for this feature

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-04-16 22:53] alex-okrushko commented on #1684
Can we revisit barrel imports? What value do they add in the example app?

[2019-04-17 09:55] jbenezech opened #1759 "Async pipe not triggering change detection unless debounce is used"
## Minimal reproduction of the bug/regression with instructions:
Started from a working sample app for simplicity.
I modified it to reproduce the issue.
https://github.com/jbenezech/angular-ngrx/tree/ngrx_async_issue

A component emits an event, the container dispatches the action.
The reducer changes a boolean in the state to true
The effect dispatch a success action
The reducer changes the boole

[2019-04-17 11:23] ryansand20 commented on #1759
Hey jb, I think the issue here is that ngOnChanges only gets called after change detection notices a change, and your effect changes the value back before change detection runs. When you have a debounce on the effect, Angular change detection has time to run before the boolean is changed back.

[2019-04-17 11:28] frontr-uk commented on #1091
Please best to link this stuff to docs where everybody can find the latest, instead of leaving breadcrumbs in PR :(

[2019-04-17 11:35] frontr-uk opened #1760 "How do you add a store to a library if you are following Angular 6+ structure of creating libs?"
How do you add a store to a library if you are following Angular 6+ structure of creating libs?

I've tried for example `ng generate @ngrx/schematics:store Organisation --feature --module ../../projects/exui-organisation/src/lib/exui-organisation.module.ts`

[2019-04-17 13:30] jbenezech commented on #1759
Hi. Thanks for your reply. I get what you're saying but does that mean I
need to purposely slow down my app, and add debounce, timeout... everywhere
so that angular has time to "do his stuff" ?
I'm new to Angular but it sounds like a broken design

On Wed, 17 Apr 2019, 18:23 Ryan Sandberg, <notifications@github.com> wrote:

[2019-04-17 14:15] #1724 closed

[2019-04-17 14:29] brandonroberts opened #1761 "Docs: Add section to Store testing guide on using mock selectors"
Follow-up to #1688

You can mock selectors along with mocking the store for a fully isolated unit test.

- Document supported selectors
- Add examples to `projects/ngrx.io/content/examples/testing-store` to use in guide

Here is a StackBlitz example for testing with NgRx https://stackblitz.com/edit/ngrx-testing-template

[2019-04-17 14:36] brandonroberts opened #1762 "Docs: Add docs for reducer creators"
Follow-up to #1746

- Document usage of `createReducers`
- Keep references to using a reducer function with a switch case for current users

[2019-04-17 14:48] ryansand20 commented on #1759
You're correct, adding debounce everywhere isn't the right way to go about this. My first thought is that you probably don't need to dispatch a success action. Most examples that dispatch success actions do so in response to something that passes or fails after some amount of time passes, like an API call. If you remove that effect, you should see your ngOnChanges get called.

[2019-04-17 14:51] brandonroberts commented on #1759
I don't consider this a bug. If you need further support visit the [Angular](https://gitter.im/angular/angular) or [NgRx](https://gitter.im/ngrx/platform) gitter channels

[2019-04-17 14:51] #1759 closed

[2019-04-17 15:16] alex-okrushko commented on #1762
I'll take it

[2019-04-17 15:20] brandonroberts commented on #1762
👍

[2019-04-17 15:26] brandonroberts opened #1764 "Schematics: add schematics for reducer creators"
Follow up to #1480

1. Adds an `reducerCreators` option to the `reducer`, `feature`, `entity` schematics that uses the new reducer creator functions instead of switch case
2. The `reducerCreators` flag will use a different set of files for scaffolding. This keeps our current structure with `files` intact.
3. Adds tests to verify the behavior of the previously mentioned schematics
4. Also needs to

[2019-04-17 15:32] brandonroberts opened #1766 "Schematics: Simplify flags for using *creators"
Consolidate flags to using just `creators` for simplicity. Either you use them all the way through or use the previous ways.

[2019-04-17 15:39] #1670 closed

[2019-04-17 16:21] #1701 closed

[2019-04-17 17:36] timdeschryver opened #1768 "docs: remove ngrx-data and ngrx-store-freeze from resouces"
## Other information:

Remove `angular-ngrx-data` and `ngrx-store-freeze` from the resources page at https://ngrx.io/resources because these are now built into ngrx.

The data from the resources pages comes from https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/marketing/resources.json

Put a comment here if you're willing to pick this one up.

[2019-04-17 18:26] monsij commented on #1768
Interested! @timdeschryver

[2019-04-17 18:30] timdeschryver commented on #1768
It's all yours @monsij 😄

[2019-04-17 18:32] jtcrowson commented on #1750
I can grab this!

[2019-04-17 18:45] monsij commented on #1768
The issue title has a typo btw :-) --: resources

[2019-04-17 22:24] #1690 closed

[2019-04-18 01:00] #1768 closed

[2019-04-18 02:36] alex-okrushko commented on #1730
It's working now

[2019-04-18 03:46] santoshyadav198613 commented on #1739
Hi @brandonroberts ,
Open for review, hope i made the change to correct file.

[2019-04-19 05:45] duluca commented on #947
@SpeedoPasanen I was having the same issue. Try generating with the command below:
[code]
Worked for me.

[2019-04-19 09:37] mikezks opened #1774 "Schematics: Missing type for Union"
## Minimal reproduction of the bug/regression with instructions:

Using `ng g @ngrx/schematics:feature +state/app --group -c` to generate a feature state with new `createAction()` results in following code:

`export Union = typeof all;`

## Expected behavior:

Should be:

`export type Union = typeof all;`

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

`"@ngrx/sc

[2019-04-19 22:03] jtcrowson commented on #1750
Done, just waiting on merge of #1767

[2019-04-20 02:30] #1753 closed

[2019-04-20 12:43] timdeschryver opened #1777 "Data: rename NgRxDataModule to EntityDataModule"
To stay consistent across our modules we have to rename the following:

`NgrxDataModule`
`NgrxDataModuleWithoutEffects`
`NgrxDataModuleConfig`

[2019-04-20 12:53] #1730 closed

[2019-04-20 12:55] timdeschryver commented on #1774
Before picking this up, do we want to use `union` to export the actions or are we simply going to export the action creators?

[2019-04-20 13:12] mikezks commented on #1774
Good point, the new ``createReducer()`` does not need to have the action union type definition.

Maybe it would avoid possible errors to use the union type in the reducer function as well.

See https://github.com/ngrx/platform/pull/1746 discussion about the state type.

[2019-04-20 18:53] damienwebdev opened #1778 "Docs: Provide usage examples of `MockStore#overrideSelectors` in component tests"
## Other information:

@brandonroberts new `MockStore.overrideSelectors` API needs further documentation, as using it is a bit of a pain at the moment.

#915 #1504 #1688 #1761

## Goal
As a developer, I would like to write an integration test that asserts that I've properly passed my State data down into a subcomponent. Specifically, I would optionally like to be able to test additional cases surr

[2019-04-20 19:00] damienwebdev commented on #1778
I'm closing this as a duplicate of #1761, but this should be covered as a case in both tests & documentation there.

[2019-04-20 19:00] #1778 closed

[2019-04-20 19:47] timdeschryver commented on #1778
`form.errors` is an Observable, you should use `toBeObservable` to assert the expected output.

[code]

[2019-04-20 19:48] damienwebdev commented on #1778
@timdeschryver `form.errors` is off the dumb component, and is not an observable, it is a string array.

[2019-04-22 03:56] jtcrowson commented on #1777
I can take it

[2019-04-22 04:29] BuairtRi opened #1781 "Lazy Loading Feature Module with Guards causing Infinite Navigation Loop"
I have a problem where, if the initial request I make to my application is to a route that requires you to be authenticated, and you're *not* authenticated - the guard shoots you to the login page, which is inside the Authentication feature module - fairly run-of-the-mill logic.

The problem is, the router store is running code which - before the feature module routes are loaded/recognized - attem

[2019-04-22 12:14] mtuzinskiy commented on #229
Hi! Why is it closed? Is it fixed?

[2019-04-22 12:16] mtuzinskiy commented on #1054
@brandonroberts  Hi! I hope that you don't mean that we should avoid injecting State in all the app?  Only in Effects?
It still looks like a bug to me (very annoying, as it takes a lot of time to figure out the cause), this issue needs to be reopened.

[2019-04-22 13:23] #1749 closed

[2019-04-22 14:00] damienwebdev commented on #1761
@brandonroberts I can tackle this, but I need a little more information to cover what I think will be a common case I described in #1778.

[2019-04-22 20:32] #1777 closed

[2019-04-23 01:44] MaximSagan opened #1784 "Router Store: Store confirmed state (state on NavigationEnd) explicitly"
We should be able to differentiate tentative router state (state on RoutesRecognized, that can be reverted in the case of NavigationCancel/NavigationError) and confirmed state (state on NavigationEnd, that we can be sure will not changed until we have a new navigation cycle).

The reason this is beneficial is that there are cases where we need to deal with both the tentative router state and the c

[2019-04-23 03:39] brandonroberts commented on #1774
This adds reducers with `createReducers` and doesn't include any unions as we don't explicitly need them. https://github.com/ngrx/platform/pull/1785

[2019-04-23 03:40] #1750 closed

[2019-04-23 11:18] santoshyadav198613 opened #1786 "Gettting warning on pre-cmmit hook"
## Minimal reproduction of the bug/regression with instructions:

commit any files using git bash, you will notice below warning.

Warning: Setting pre-commit script in package.json > scripts will be deprecated
Please move it to husky.hooks in package.json, a .huskyrc file, or a husky.config.js file
Or run ./node_modules/.bin/husky-upgrade for automatic update

## Expected behavior:
Should not get

[2019-04-23 11:51] santoshyadav198613 commented on #1786
![image](https://user-images.githubusercontent.com/11923975/56578811-28a37900-65ec-11e9-9e40-23a17fc2ab68.png)

After changes.

[2019-04-23 12:05] #1764 closed

[2019-04-23 12:05] brandonroberts commented on #1766
Fixed via #1785

[2019-04-23 12:05] #1766 closed

[2019-04-23 12:07] #1786 closed

[2019-04-23 12:25] brandonroberts opened #1788 "Build: Update TypeScript to 3.4.x and RxJS to 6.5.x"
Update the versions for the dependencies so we'll be using the latest that the Angular framework uses upon release.

- Update necessary `package.json` files for the repo and examples
- Update Bazel [dependency versions](https://github.com/ngrx/platform/blob/master/tools/defaults.bzl#L10)
- Update the [migration guide](https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/guide/migr

[2019-04-23 12:30] brandonroberts opened #1789 "Docs: Add @ngrx/data to packages on docs page"
NgRx Data needs a link and description in the bulleted list on the docs intro page https://ngrx.io/docs

Add an entry under `Entity`

File to edit: https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/marketing/docs.md

[2019-04-23 12:32] brandonroberts opened #1790 "Docs: Add link to blog in nav bar and update footer link"
Make blog link more prominent in top bar

- Add link to nav bar to https://blog.ngrx.io
- Update link in footer to point to https://blog.ngrx.io instead of https://medium.com/@ngrx

[2019-04-23 12:34] santoshyadav198613 commented on #1788
Hi @brandonroberts ,

Should i give it a try.

[2019-04-23 13:18] jtcrowson commented on #1789
Got it 💯

[2019-04-23 13:37] jtcrowson commented on #1790
Got it 👍

[2019-04-23 13:48] Edouardbozon commented on #1790
Oops I made a PR at the same time :confused:

[2019-04-23 14:11] brandonroberts commented on #1790
💣

[2019-04-23 14:25] santoshyadav198613 commented on #1788
Hi @brandonroberts ,
Should i also remove "core-js": "^2.5.4", as Angular Cli 8 does not depends on it anymore.

[2019-04-23 14:27] #1790 closed

[2019-04-23 14:28] #1789 closed

[2019-04-23 14:46] #1739 closed

[2019-04-23 14:47] brandonroberts commented on #1788
Not yet. We'll update that in a separate pass once CLI goes final

[2019-04-23 15:52] jtcrowson commented on #1761
@damienwebdev are you interested in pairing on this?  I could document the supported selectors and you could follow with the example in #1778 when you get it figured out?

[2019-04-23 16:05] damienwebdev commented on #1761
@jtcrowson yea, for sure. I already have a working example, so I'm good to add it to whatever docs you start. Let me know how you want to address merging them together. I figure I can just branch off your starting point when you submit your PR.

[2019-04-23 16:19] amitcdubey opened #1794 "....@ngrx/entity: The entity passed to the selectId implementation returned undefined. You should probably provide your own selectId implementation. The entity that was passed:"
this is my model

export interface SampledataModel {
uuidValue?: string;
id?: number;
name?: string;
surname?: string;
age?: number;
mail?: string;
size?: number;
page?: number;
searchTerms?: any;
sort?: any[];

}

my reducer

export interface SampleDataState extends EntityState<SampledataModel> {
selectedSampleId?: number;
loaded: boolean;
loading: boolean;
textMessage: string;
}
export const ada

[2019-04-23 16:42] brandonroberts commented on #1794
Support questions should be asked in the [gitter chatroom](https://gitter.im/ngrx/platform)

[2019-04-23 16:42] #1794 closed

[2019-04-23 17:37] amitcdubey commented on #1794
i posted but no one answering me there thatsy i posted here ,since 2 days am trying but now able to understand that what is happening in my code

[2019-04-23 22:08] jtcrowson commented on #1761
@damienwebdev sounds good to me!

[2019-04-24 10:39] timdeschryver commented on #1774
This is resolved via #1785.

[2019-04-24 10:39] #1774 closed

[2019-04-24 13:22] dakipro opened #1800 "Inconsistency between documentation, code, angular schematic and example app"
First I must say I very much appreciate hard work everyone is contributing to the library, I really love the concept of it and try to use it where it makes sense.
I also like that effort is being put into reducing the setup code, f.eks. using the "createAction" to reduce the amount of code needed for initial setup and maintaining. https://github.com/ngrx/platform/blob/87b895aa56e79485f75779204ab47

[2019-04-24 13:37] timdeschryver commented on #1800
Hi, we're currently working on version 8 of NgRx, with the first beta just released last week.

The example-app is built in the `master` branch, which contains the code for the new features like the `createReducer` function.

We're also busy updating our docs, the version on ngrx.io are the docs for NgRx version 7.4.0 (which had the `createAction`). You can take a look at https://next.ngrx.io to a

[2019-04-24 13:37] #1800 closed

[2019-04-24 14:27] dakipro commented on #1800
Thank you for your answer @timdeschryver , I somehow assumed that the master branch was actually stable (7.4).

[2019-04-24 15:12] #1554 closed

[2019-04-24 15:25] Spawnrad commented on #1521
Thank you

[2019-04-24 18:57] timdeschryver opened #1802 "Wrong package name in the `ng-add` schematic to replace ngrx-data"
## Minimal reproduction of the bug/regression with instructions:
Create a new application, install `ngrx-data`, run `ng add @ngrx/data --beta --migrateNgrxData`

## Expected behavior:

It should replace the `ngrx-data` to `@ngrx/data` in the `package.json` but this isn't the case.

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

v8-beta.1

## Other information:

I

[2019-04-24 22:44] alex-okrushko commented on #1224
Reviving this thread.
With `mapToAction` fn we'll have the following changes (using the pre-8.0 action creators):

BEFORE:
[code]

AFTER:
[code]

It's not as 'in your face' as I'd like it to be (given how often I see this error), but at least promoting this new operator might bring some awareness.

**Alternatively**, or in addition to it,  we can have 4 operators that will wrap the flattening oper

[2019-04-25 02:12] #1758 closed

[2019-04-25 05:22] fxck commented on #1741
I would stick with prefixes, makes it easier to search. And I also use a flat structure, as long as there is only a single file for a type, I nest it where there are more.

ie.

[code]

[2019-04-25 07:40] amitcdubey commented on #721
hi brandonroberts

below url for my store
https://stackblitz.com/edit/angular-mqjmzf

Hi am getting this error while am going to ngrx entity ....@ngrx/entity: The entity passed to the selectId implementation returned undefined. You should probably provide your own selectId implementation. The entity that was passed:

[2019-04-25 12:39] brandonroberts commented on #1224
I'd like to keep the API surface small, keep the number of operators to update/add low, and not make users have to decide on which *MapToAction to use. I propose a separate option that combines the two ideas, with a default of `concatMap` if its the most common choice out of the box. In most cases, users won't deviate from the default. If you want to use something other than concatMap, provide you

[2019-04-25 12:46] zetsnotdead commented on #1762
I think it would be beneficial to mention providing the reducers for AoT.

[code]

[2019-04-25 12:50] brandonroberts commented on #1762
Just for clarity, we're generating the reducer outside the exported function in the schematics, but the point still remains.

[code]

[2019-04-25 12:53] brandonroberts commented on #1760
Provide the `project` and relative path to the module

[code]

[2019-04-25 12:53] #1760 closed

[2019-04-25 14:19] alex-okrushko commented on #1762
Putting it for myself so I don't forget all the info that's needed:
- before/after of simple reducer
- explain the need for proper typing of `initialState`
- add the note to always pass `state` into `on`-reducers (so that the return type is inferred correctly)
- explain how many actions could be provided for a single `on`-function
- explain how to wire it up for `forFeature` - including the case i

[2019-04-25 14:23] alex-okrushko commented on #1741
I think searching for `auth/actions` is as easy as `auth.actions`, at the same type imports look nicer:

`import * actions from 'path/to/auth/actions'`
vs
`import * actions from 'path/to/auth/auth.actions'`

[2019-04-25 22:47] robwormald commented on #102
With Web Worker support landing in CLI, we should revisit this.

[2019-04-26 06:26] montella1507 opened #1804 "Split alternative implementations to alternative example app / documentation"
Due to version 8.0 and alternative implementations of reducers , actions and effects (createReducer, createAction, createEffect) there may be two versions of example-app + 2 versions of documentation:

Reasons:
- if is is alternative syntax (as it is explained in pull requests etc), there should be 2 example apps / documentations
- it may be difficult for newbies in functional programming / new ty

[2019-04-26 12:05] #1802 closed

[2019-04-26 12:16] brandonroberts commented on #1804
Thanks for the feedback @montella1507 .The example app contains best practices and is what we generally recommend. There are other alternatives provided by the community that offer different types of example apps. The choice is still up to the developers on which is most suitable for them. The documentation will highlight the differences between the previous and current approaches, but maintaining

[2019-04-26 12:16] #1804 closed

[2019-04-26 12:38] rickvandermey commented on #1545
are these errors common when try to use the Ivy Renderer in Angular 8 rc.0?

[code]

[2019-04-26 15:45] brandonroberts opened #1807 "Docs: Add guide on adding NgRx to an existing app"
Have seen this asked more than a few times. We need a guide that takes a relatively small app (maybe similar to the new Angular tutorial 😉) that is just using services, and walk through introducing NgRx into the app, and migrating the state from the services to the Store.

[2019-04-26 17:30] wesleygrimes commented on #1224
+1 to the `mapToAction` solution

[2019-04-26 22:30] LeVadim commented on #1054
Hello!
Same issue here

[2019-04-27 13:21] montella1507 commented on #1804
@brandonroberts  are you sere you are all to mark that as best practice already? I have seen your 7-15days old discussions and i have realized you are still not sure it will be better?

[2019-04-27 18:10] timdeschryver commented on #1781
Could you provide a reproduction for this?
I would have expected the same outcome in the example app https://github.com/ngrx/platform/blob/master/projects/example-app/src/app/auth/services/auth-guard.service.ts

[2019-04-29 09:04] fxck commented on #1762
Could `on` accept different kinds of the first param? Say if I wanted to catch any action that has `entities` on it? Should I handle this outside `createReducer`?

How about something like

[code]

[2019-04-29 17:30] mikezks commented on #1684
Some kind of connected to this issue:

What is your opinion on generating an index.ts file with schematics that exports a fromFeature namespace. This would lead to a better IDE experience in components, directives, services, modules that need to import reducers, actions, selectors, state.

I can provide an example repo if you like this idea.

[2019-04-29 20:16] timdeschryver commented on #1762
I don't think this is something we would add @fxck .

We're still reacting to **unique** actions.

[2019-04-29 20:47] fxck commented on #1762
Yeah, well since you have to do this anyway https://github.com/ngrx/platform/issues/1762#issuecomment-486658862 I can live without that. :)

[2019-04-30 03:17] nhhockeyplayer commented on #974
so how do we make a contiguous set of actions synchronous ?

this is not synchronous

 switchMap((state: EStates) => [
     new myActions.Find(),
     new yourActions.Find(),
     new statesActions.ChangeSuccess(state)
 ]),

I find is strange the lead tech on this would do a series of presentation and article and the core omit the whole idea totally

is there a solution to this ?

[2019-04-30 04:32] alex-okrushko commented on #1762
@fxck I think that could result in more brittle logic. `type` should be the only thing that defines reducer behavior, I think.
At least that's how I see it ATM.

[2019-04-30 13:14] osnoser1 commented on #1545
Hello @brandonroberts, I left a comment on the repo. 😄

https://github.com/brandonroberts/ngrx-ivy-runtime-error/issues/1

[2019-04-30 20:02] BuairtRi commented on #1781
@timdeschryver - I'll work on writing up a reproduction for you.

But looking at the example app, I am fairly sure the reason you don't see it there is that the AuthModule is imported into the AppModule directly. It's not lazy loaded as a feature via the router's lazy loading syntax. That means that the routes for the login page are already loaded and configured BEFORE the guard triggers the redir

[2019-04-30 22:44] wesleygrimes commented on #1621
@santoshyadav198613 Now that you have the blog posted, would you be willing to work on submitting a PR that morphs that into a guide for the docs? I suspect there will be a lot of back and forth, but it would be helpful to get this started.

[2019-04-30 22:49] wesleygrimes commented on #1601
I love the idea of moving off of Medium. What are your thoughts on making this another repo like @ngrx/blog? We could then decouple the blog posts, which will have frequent edits and updates, from the release of ngrx.

We still gain some of the benefits you mention like peer reviews via PR, and guest posts via PRs.

We could then clone a extremely trimmed down version of the docs app and use that

[2019-04-30 22:51] wesleygrimes commented on #1601
To quell @timdeschryver concern of losing subscribers on Medium, you could still cross post to Medium, and even Dev.To as they have import capabilities. Probably a way to automate this via REST api calls. You would just need to set the `canonical_url` to point back to the ngrx.io site so that Google properly indexes searches.

[2019-05-01 06:53] santoshyadav198613 commented on #1621
Sure @wesleygrimes PR coming soon.

[2019-05-01 15:14] alexxxxOG opened #1811 "Filter effects based on route"
I have the following scenario:

I want some of the effects to trigger only when that module/component is active. Is there any more global way for a set of effects (specifically related to a feature module) not to trigger based on some logic (eg. the current route)?

Thanks.

[2019-05-01 17:09] santoshyadav198613 commented on #1621
One thing guys, if we add this example, we have already seen Angular Libraries are not supported on StackBlitz. We can give only download option.

[2019-05-01 18:29] timdeschryver commented on #1811
Hi, I think what you're looking for is [OnRunEffects](https://ngrx.io/guide/effects/lifecycle#onruneffects).

If you have a question about it feel free to join our [gitter channel](https://gitter.im/ngrx/platform).

[2019-05-01 18:29] #1811 closed

[2019-05-01 18:31] jtcrowson commented on #1807
I can take this. @brandonroberts Under which directory would you like it added?

[2019-05-02 16:38] brandonroberts commented on #1807
Under `guide/store/recipes` will work.

[2019-05-02 19:34] santoshyadav198613 opened #1812 "Usage of incorrect @params tag"
Few tags are incorrect like one below jsdoc has @param, not @params tag
https://github.com/ngrx/platform/blob/master/modules/data/src/dispatchers/entity-commands.ts#L75
## Other information:

## I would be willing to submit a PR for the docs :heart:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-05-03 11:27] montella1507 opened #1813 "Dependencies on Material and Angular?"
Why does NGRX 8.0 beta depend on @angular/material and concrete version of angular?   I think only one thing needed may be router?

https://github.com/ngrx/platform/blob/master/package.json#L89

I have got we have dependencies on angular, but why Material, why to force user to update 80% of libraries with new NGRX?

[2019-05-03 13:03] FillScheers opened #1814 "lazy loading router store does not include params"
## Minimal reproduction of the bug/regression with instructions:

when lazy loading a module with routing and router parameters.

the router store won't display the parameters because of angulars routing separation

## Expected behavior:

router params should be included

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

angular 7.2.14
@ngrx/router-store 7.4.0

## O

[2019-05-03 13:10] goenning commented on #1813
That package.json is used by this repository for many things, including the example-app, which uses Full Angular and Material

The package.json you’re probably looking for is this one https://github.com/ngrx/platform/blob/master/modules/store/package.json which doesn’t have any dependency

NPM registry is also not reporting any dependency for version 8 https://www.npmjs.com/package/@ngrx/store/v/8

[2019-05-03 13:55] montella1507 commented on #1813
Thank you very much!

[2019-05-03 13:55] #1813 closed

[2019-05-03 21:07] PhelanHarris commented on #1781
I have this same issue. The problem seems to definitely be in the `navigateIfNeeded` function during that moment where angular is loading the lazy loaded module and the router state's url is an empty string.
This statement:
[code]
evaluates true because `url` is `""` and `this.router.url` is `"/"`.

I was able to come up with a workaround in my code by implementing a custom route state serializer

[2019-05-03 21:15] timdeschryver commented on #1812
Thanks for noticing this @santoshyadav198613 , feel free to create a PR with the needed changes.

[2019-05-04 16:07] santoshyadav198613 opened #1816 "Rename schematics-core\build.bazel to BUILD"
## Minimal reproduction of the bug/regression with instructions:

## Expected behavior:

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

## Other information:

## I would be willing to submit a PR to fix this issue

[X] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-05-04 16:39] zak905 commented on #951
I got pretty the same issue as @gregjacobs. I solved it by changing the type from `ActionReducerMap<State>` to `ActionReducerMap<any, Action>`. This was not clear from any of the official examples.

[2019-05-04 18:21] santoshyadav198613 commented on #1621
Hi @brandonroberts , @wesleygrimes  where to add the guide, should I add it in Getting Started section of Store a new section for Store With Angular Elelments

[2019-05-04 18:26] santoshyadav198613 commented on #1622
Will take this next.

[2019-05-04 23:49] wesleygrimes commented on #1621
Hi Santosh,

How about under Store > Recipes > Custom Elements

Thanks,
Wes

[2019-05-05 05:17] MarkoSulamagi commented on #1781
I have the same issue. @PhelanHarris workaround fixed it for me as well.
Thanks!

[2019-05-05 13:38] timdeschryver commented on #1608
There is a tool `all-contributors` that can generate contributors in the README.
Yesterday I discovered that there's also a bot for this, so for example if one would create a PR and is a new contributor we can say `please add username for docs` and it will create a new PR with an entry for the new contributor. It will also keep track of the users in a separate file, that we could use to generate t

[2019-05-05 13:50] timdeschryver opened #1821 "Remove @angular/http dep"
The `@angular/http` package has been deprecated.
From what I can see we're not depending on it, thus this can be removed?

[2019-05-05 15:23] timdeschryver commented on #1781
@BuairtRi could you try out @PhelanHarris 's fix?
Maybe we should default to `/` instead of an empty string because Angular's first route navigation is to `/` if I'm not mistaken.

[2019-05-05 16:45] santoshyadav198613 commented on #1821
@timdeschryver let me try this one.

[2019-05-05 17:10] santoshyadav198613 commented on #1821
Hi @timdeschryver ,
We need to wait I think till Angular 8 or update to angular 8.0 rc  as platform-server still depends on @angular/http.

https://github.com/angular/angular/blob/8.0.0-beta.10/packages/platform-server/package.json#L20

[2019-05-05 18:10] #1761 closed

[2019-05-05 18:26] #1812 closed

[2019-05-05 18:42] timdeschryver commented on #1821
The RC version has removed the dep - https://github.com/angular/angular/blob/8.0.0-rc.2/packages/platform-server/package.json

[2019-05-05 18:48] santoshyadav198613 commented on #1821
Ok, I as not sure, but in that case, we need to update everything to rc.

[2019-05-05 20:15] erhise commented on #1677
I think the release of version 8 will make this request obsolete (https://next.ngrx.io/guide/store/actions#creating-action-unions)

[2019-05-05 20:18] santoshyadav198613 commented on #1816
Closing this .

[2019-05-05 20:18] #1816 closed

[2019-05-06 13:53] clundberg1 opened #1823 "Effects: only interested in first emission of an action"
## Expected behavior:
My auth state is loaded asynchronously, and I'd like to dispatch an action whenever it's loaded. The problem is that I'm only interested in the first emission. Once I signOut, I've noticed it's dispatching the action once more even though I've used the take operator to complete observable.

[code]

The action should be dispatched only the first time LoadState is dispatched.

[2019-05-06 14:39] #1823 closed

[2019-05-06 18:33] brandonroberts opened #1824 "Store: Add mutation checks for selectors in development"
This was a feature solicited from feedback during ng-conf.
We'll cover incoming mutations with runtime checks, but don't cover mutations inside selectors, where the same rules still apply.

[2019-05-06 19:00] timdeschryver commented on #1684
The auth module has been refactored in #1808, you can use this a reference to refactor the books module.

[2019-05-06 19:01] #1788 closed

[2019-05-06 19:13] wesleygrimes commented on #1224
As an addition to this discussion, having a `mapToAction` operator would allow for a "higher order effect" concept as such:

We could create a new higher order effect, named `createAPIEffect` that could be used as follows:

`effects.ts`
[code]

with the following as an example `createAPIEffect` function:

`create-api-effect.ts`
[code]

[2019-05-06 19:15] brandonroberts commented on #1482
Apologies for the delay. A description of the example app and what's in it would be a good start. I don't think we'll move it from where it is now. We'll take another look at the tooling in time so see if we can include snippets of it in the guide.

1. You can create an `example-app.md` in this folder https://github.com/ngrx/platform/tree/master/projects/ngrx.io/content/guide
2. No specific conven

[2019-05-06 19:21] alex-okrushko opened #1825 "document createSelectorFactory"
Currently docs are missing that info:
- how `createSelectorFactory` can be used to better select arrays
- what could be used instead of `defaultMemoize`

## Other information:

## I would be willing to submit a PR for the docs :heart:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-05-06 19:47] timdeschryver commented on #1825
Is this a dup of #1217 ?

[2019-05-06 19:48] brandonroberts commented on #1821
Fixed via #1795

[2019-05-06 19:48] #1821 closed

[2019-05-06 19:53] alex-okrushko commented on #1825
Interesting. I think that issue was open with the intention of adjusting the API. I think that one can be closed.

I updated this issue with what would ideally be mentioned in the docs. :)

[2019-05-06 20:17] wesleygrimes opened #1826 "RFC: Add new Higher Order Effect - createApiEffect"
## Scenario

Most apps that use NgRx for API requests involve effects that handle a `request`, `success` and `failure` action.

- The `request` effect listens for a `request` ofType and then makes an API call that returns an `Observable`.
- If that `Observable` successfully emits a `success` action is returned with the `Observable` value as the payload.
- If the `Observable` throws an error a `fai

[2019-05-06 20:22] wesleygrimes commented on #1224
I'm also proposing a new higher-order effect called `createApiEffect` here #1826 that will utilize `mapToAction`

[2019-05-06 20:36] alex-okrushko commented on #1684
![giphy](https://user-images.githubusercontent.com/2830407/57253566-031b6400-701d-11e9-9633-c253bb45419b.gif)

[2019-05-06 20:42] newprogrammer1991 commented on #662
Any ETA on this?

[2019-05-06 20:57] alex-okrushko commented on #1224
I was thinking more about @jnorkus suggestion from https://github.com/ngrx/platform/issues/1224#issuecomment-460564810 and I think I like it now.

`ErrorHandler` is already used to [catch any unhandled error coming from effects](https://github.com/ngrx/platform/blob/master/modules/effects/src/effect_sources.ts#L52) but re-subscribing by default could be a good idea.

If anything, users would be ab

[2019-05-06 21:12] alex-okrushko commented on #662
@newprogrammer1991 Is this what you are looking for?

[code]

from: https://github.com/alex-okrushko/ngrx-workshop/blob/b26ddbab032f8165f192353a17964c588ebc771a/src/app/router/routing.module.ts#L28-L31

[2019-05-06 21:41] jtcrowson opened #1827 "RFC: mock selectors in MockStoreConfig"
I'd like to open a pull request to add a mock selectors option to the `MockStoreConfig`.  This will enable developers to mock selectors up front in the testing module configuration, similar to how you can provide an initial state.

This enables developers who do not need to update the state or selector to omit creating a `MockStore` instance.

## Current example

[code]

## Future example

[code]

[2019-05-06 22:11] newprogrammer1991 commented on #662
Thank you, but it should work with transferstate( Angular universal and ngrx)

[2019-05-07 03:38] alex-okrushko opened #1828 "Add test runs against g3 for each PR"
Similar to how Angular PRs are validated against g3 we could add tests runs for NgRx. That would make my life somewhat easier when merging master syncs and would validate PR against huge codebase that's using NgRx during review time.

### If accepted, I would be willing to submit a PR for this feature

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-05-07 03:50] #1217 closed

[2019-05-07 12:16] mhamel06 commented on #861
Looking at the latest createAction function and other helpers in NgRx 8, my comment above can be disregarded.

I do have a best practice question about selectors that I think could be addressed a little more clearly in the example app. For naming selectors, when should the get prefix be used instead of the select prefix?

They seem to be used interchangeably in the example app. For my own apps, I

[2019-05-07 12:49] brandonroberts commented on #1827
Good idea, I'm assigning this issue to you for tracking.

[2019-05-07 12:51] brandonroberts commented on #1828
Do you know much time this will add to our CI turnaround?

[2019-05-07 13:06] alex-okrushko commented on #1828
Not sure. Internally to run all the tests it takes about 2 hours to get on a train and then about an hour (maybe more) to ride it with all the tests.
We can look at the post-submit option - if it's available.
Or at non-blocking operation.

[2019-05-07 13:10] brandonroberts opened #1829 "Docs: Update team page for members"
Update the https://ngrx.io/about page so its current

- Add a picture for Mike 😂
- Move @timdeschryver to Core section
- Add @alex-okrushko and @wesleygrimes to Core section
- Eventually, related to #1608, add community contributors to the Contributor section.

[2019-05-07 14:03] jtcrowson commented on #1827
Sounds good, I'll pick it up.

[2019-05-07 14:23] wesleygrimes commented on #1829
I'll take this one

[2019-05-07 14:24] michael-lang commented on #861
@mhamel06 I use the 'get' prefix for pure functions that feed selectors, and 'select' prefix for selectors. A selector is the result of 'createFeatureSelector' or 'createSelector'. I thought at one point the ngrx sample followed this guideline. It may have deviated since it was not a documented standard.

[code]

https://github.com/michael-lang/book-sample-ngrx/blob/master/src/app/core/store/layou

[2019-05-07 14:34] mhamel06 commented on #861
@michael-lang  Thanks for the reply. I think I do remember the older examples following this pattern and it feels like a good distinction.

[2019-05-07 14:44] brandonroberts opened #1830 "Example: Add examples of effects not based on the Actions stream"
Add more Observable based effects to show that Effects aren't restricted to listening to the `Actions` stream in order to return new actions. Some ideas:

- A session timeout effect that is trigger when the user is idle for some amount of time. If the timeout expires, it dispatches an action to log out the user that is handled in `AuthEffects`
- Listening to router events to update the page title

[2019-05-07 15:00] jasonhodges commented on #1684
Is there anyone currently assigned this task? If not, I'd love the opportunity to jump in and help

[2019-05-07 15:41] timdeschryver commented on #1684
You can go ahead and take this one @jasonhodges, or are you currently working on this @King-i ?

[2019-05-07 16:03] jtcrowson commented on #1827
@brandonroberts do you know why the example-app test files are being compiled and tested with jest using a typescript version < 3.4?  I'm trying out using a typescript 3.4+ feature for enforcing the mock value type matches the selector type.

[2019-05-07 16:48] brandonroberts commented on #1827
Not sure. Do you have TypeScript globally installed?

From running `npm list @microsoft/api-extractor`, it looks like `@angular/bazel@8.0.0-rc.1` is pulling in `@microsoft/api-extractor@7.0.33` that has a dependency on TS ~3.1. What we normally do is use the `resolutions` object in the `package.json` to force version resolutions. You can try that for TypeScript to resolve to 3.4+.

[2019-05-07 17:33] adrianfaciu opened #1834 "`strictActionSerializability` does not work with RouterModule (and custom serializer)"
## Minimal reproduction of the bug/regression with instructions:

Steps to reproduce:
- create a new angular project and add ngrx store & router modules
- use the router module with a custom serializer (the one from the docs is perfect)
- trigger any router navigation

Due to #1630, `strictActionSerializability` cannot be used with the DefaultRouterStateSerializer, but it should work with a custom

[2019-05-07 17:35] adrianfaciu commented on #1834
Would like to fix this, but not sure of a good approach. @timdeschryver if you have any hints, they will be more than welcome 😃

[2019-05-07 17:51] timdeschryver commented on #1834
Yes, we're aware of this and decided to hold of this because it would be a **major** breaking change. The Nx package also makes use of the unserializable properties. We made these checks opt-in so devs would have the time to transition.

For more info see #1613 and #1630.

I'm going to close this issue, but if you have any ideas or remarks feel free to share them 😃

[2019-05-07 18:34] adrianfaciu commented on #1834
My bad @timdeschryver, I was following the PR and the issue, but somehow I've missed this 😞. I thought it's just about the snapshot, just noticed the relevant part with:

[code]

I was not affected by the snapshot, I am using a custom serializer, but the router event still prevents me from using this.

Is there any breaking change if only the part from above would be added ? That might be safe and

[2019-05-07 18:42] #1829 closed

[2019-05-07 18:43] timdeschryver commented on #1834
If I remember correctly, I have tried that but sadly it did not work. There are some properties that just aren't serializable.

[2019-05-07 18:59] timdeschryver commented on #1834
As a solution we could use the spread operator, only if the runtime check is on.
What do you think @brandonroberts ?

[2019-05-07 19:24] adrienpsl opened #1835 "createFeatureSelector -> undefined / beta 8-1 / angular 7"
Hello,
I need some help with  __createFeatureSelector__

1. I copy the entire feature Auth repo from the exemple-app,
2. Import lazy this module, with the path 'auth'
3. When I go to http://localhost:4200/auth/login I get :
    core.js:15724 ERROR TypeError: Cannot read property 'status' of undefined
    at index.ts:31

``` export const selectAuthState = createFeatureSelector<State, AuthState>("au

[2019-05-07 19:26] brandonroberts commented on #1834
Something feels weird about modifying the router state in development based on runtime checks. If I recall correctly, the router events have a `toString()` method on them. Maybe we using the stringified version through configuration. I don't know if people actually use those events as they are today.

[2019-05-07 19:27] timdeschryver commented on #1835
I believe this is indeed a compatibility problem.
Have you tried upgrading Angular?

[2019-05-07 20:29] jasonhodges commented on #1684
Thanks @timdeschryver
Anything that needs to be done to mark this as claimed?

[2019-05-07 20:30] timdeschryver commented on #1834
I do like your proposition more.
After a quick look, I think we only use `navigationId` from the router event. This is inside the `routerReducer` - https://github.com/ngrx/platform/blob/master/modules/router-store/src/reducer.ts#L34

Instead of stringifying the event, could we just have the `navigationId` on the event?  I'm not sure what one could do with a stringified version of the event, and we

[2019-05-07 20:35] timdeschryver commented on #1684
No, we already have the community watch as label so we're all good. Maybe just wait 2-3 days before working on this, giving @King-i the opportunity the time to answer.

[2019-05-07 20:40] brandonroberts commented on #1834
Yea, I like that option better also to encourage usage of the checks.

[2019-05-07 23:34] jtcrowson commented on #1827
@brandonroberts I decided against type checking the selector return type against the mock value type due to the added complexity and lack of clarity in expected type it provided the developer.  If you're curious, I can explain more.

[2019-05-08 03:16] brandonroberts commented on #1835
Below are the valid combinations.

- NgRx version 8, and Angular version 8
- NgRx version 7, and Angular version 8

[2019-05-08 03:16] #1835 closed

[2019-05-08 03:17] brandonroberts commented on #1824
Already covered here with runtime checks

[2019-05-08 03:19] brandonroberts commented on #1677
Yes, with the creator functions, action type enums are longer needed. This won't change for the existing action classes.

[2019-05-08 03:19] #1677 closed

[2019-05-08 03:53] brandonroberts opened #1837 "Example: App fails at runtime due to existing type check in createReducer"
## Minimal reproduction of the bug/regression with instructions:

## Expected behavior:

Found this issue when trying to re-enable e2e tests for the example app.

The createReducer function checks to make sure duplicate action creators aren't being used in the same `on` method in development mode. This causes the example app to fail at runtime.

[code]

https://github.com/ngrx/platform/blob/master

[2019-05-08 08:51] adrienpsl commented on #1835
ok, I will upgrade my Angular version !
thanks !

[2019-05-08 09:05] timdeschryver commented on #1837
🤦‍♂️ This is not the first time I get burned by it, and I keep forgetting it so it won't be the last time... I think we can't have this check available due to this.
The only way I see is to have this check in the reducer and not in the create function and we would need to change the `Map<string, ActionReducer<S>>` implementation.

Is this something we want, or should we remove the check?

[2019-05-08 09:49] timdeschryver commented on #1834
👍 I will make the necessary changes.

[2019-05-08 10:44] adrianfaciu commented on #1830
I can look into adding the examples for the ideas mentioned above.

[2019-05-08 15:14] SerkanSipahi commented on #1482
Perfect, hopefully this weekend i will start:)

[2019-05-08 18:23] UserGalileo commented on #1825
I'm sorry, I didn't have enough time at the time I opened that issue. I had started to put down some lines but I stopped because of 1) lack of time, 2) was still trying to figure out part of the source code, 3) I saw some commits that made me believe that module would have changed relatively fast (don't know why but it gave me the feeling to be something internal and not ready for the public yet,

[2019-05-08 18:49] santoshyadavdev opened #1840 "Warning during compiling doc portal"
## Minimal reproduction of the bug/regression with instructions:

Run yarn serve-and-sync you will notice below warning

WARNING in ./src/app/custom-elements/code/pretty-printer.service.ts 16:12-50
System.import() is deprecated and will be removed soon. Use import() instead.
For more info visit https://webpack.js.org/guides/code-splitting/
i ｢wdm｣: Compiled with warnings.

## Expected behavior:

S

[2019-05-08 19:22] santoshyadav198613 opened #1843 "Update doc portal to Angular 8"
## Other information:

Doc portal is on Angular 7, let's update to Angular 8.

## I would be willing to submit a PR for the docs :heart:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-05-08 19:26] brandonroberts commented on #1843
Good idea. We'll hold off on this until after 8 goes final, as it will be part of a larger change to sunc up the infrastructure stuff.

[2019-05-09 00:26] alex-okrushko commented on #1825
I think [Asif](https://twitter.com/iamAsifRahman) is looking into contributing to this part of the docs.

[2019-05-09 08:34] pawelgur opened #1846 "Transferred (initial) state is cleared for lazy loaded modules"
## I'm submitting a...
<pre><code>
[ ] Regression
[X] Bug report
[X] Feature request
[ ] Documentation issue or request
</code></pre>

## Prerequisites
Server side rendering set up with state transfer as per #101 - server state is set on client with custom action (triggered by effect) on app init by meta reducer:
[code]

App includes lazy loaded modules which are loaded on server side and their st

[2019-05-09 13:29] #1837 closed

[2019-05-09 18:24] daem0ndev commented on #1825
Working on this!

[2019-05-09 22:43] jasonhodges commented on #1684
No reply. I should be able to get started on this tomorrow.

[2019-05-10 19:26] alex-okrushko opened #1849 "store: createSelectorFactory should be returning MemoizedSelector instead of Selector"
That causes some issues with testing these selectors, because `Selector` signature does not provide `projector` method, even those technically it exists.

Current workaround is to cast it.

## I would be willing to submit a PR to fix this issue

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-05-11 15:04] alex-okrushko opened #1851 "Resubscribe to the Effects stream after unhandled error"
Based of https://github.com/ngrx/platform/issues/1224#issuecomment-489773880

We would have the `mapToAction` operator to make it harder to miss errors, however it would be beneficial to still re-subscribe to the Effect if the unhandled error did go throw.

New behavior is helpful in 90% of the use cases, however, there are some where it might be surprising, for example if the stream has `startWit

[2019-05-11 19:25] itayod opened #1852 "Docs: add "Why Ngrx" section to the docs"
Lately I had many discussion with people from the community about **"why"**  or **"if"** they should use Ngrx as their state management...

From what I have seen, I think most of the people were missing the core principle benefits of Ngrx and **Redux** pattern, staff like:
Decouple the state and its side effects from the UI layer, performance boosts as a result of state immutability, code explicit

[2019-05-12 19:30] santoshyadav198613 commented on #1622
Hi @timdeschryver , @brandonroberts ,

I have created a SSR app with NgRx support its very simple App where you can see multiple routes with the same state.

https://github.com/santoshyadav198613/NgRxSSRDemo

[2019-05-13 07:25] newprogrammer1991 commented on #101
please help with ngrx-router - I have router error with
this.transferState.onSerialize(NGRX_STATE, () => {
            let state;
            this.store.subscribe( ( saveState: any ) => {
                // console.log('Set for browser', JSON.stringify(saveState));
                state = saveState;
            }).unsubscribe();

            return state;
        });
    }

[2019-05-13 07:25] newprogrammer1991 commented on #662
please help with ngrx-router - I have router error with
this.transferState.onSerialize(NGRX_STATE, () => {
            let state;
            this.store.subscribe( ( saveState: any ) => {
                // console.log('Set for browser', JSON.stringify(saveState));
                state = saveState;
            }).unsubscribe();

            return state;
        });
    }

[2019-05-13 12:43] alex-okrushko commented on #662
My understanding is that URL is the actual source of truth for the router-store, meaning that it should use ANY date for it from angular universal (or any other ssr).
Personally, I didn't have a chance to try out Angular Universal, but could you **not**  include router-store's state when passing it to the web app?

[2019-05-13 13:22] #1827 closed

[2019-05-13 14:07] timdeschryver opened #1853 "Update code samples"
## Other information:

The code samples in the docs are using a switch-case reducer and are creating union types for the actions. We should update the docs to use `createReducer` and to only export the actions. Otherwise it could be confusing because there would be a mismatch between the docs and the example app.

![image](https://user-images.githubusercontent.com/28659384/57627761-e3de8280-7598-1

[2019-05-13 14:09] santoshyadav198613 commented on #1853
Leave upto me.

[2019-05-13 23:52] jtcrowson commented on #1814
@FillScheers can you provide reproduction steps?

[2019-05-14 12:02] #1684 closed

[2019-05-14 12:21] jasonhodges commented on #1684
@brandonroberts @timdeschryver are there still other sections I can clean up barrel imports for? Thanks

[2019-05-14 12:31] brandonroberts commented on #1684
@jasonhodges I think the only one left is the `core` folder

[2019-05-14 12:41] jasonhodges commented on #1684
Ok, I’ll take it 👍🏽

[2019-05-14 12:47] spookgit commented on #1814
We thought we had the same problem, with our route params being lost in the lazy loaded routing.

Turns out that our issue was actually with the router serializer that are in the ngrx Router docs, where each child route would overwrite the previous child route and so we'd end up with an empty params object (the last one).

We found a good solution in [this article](https://medium.com/simars/ngrx-r

[2019-05-14 13:39] brandonroberts opened #1854 "Router Store: Expose some selectors for selecting router info"
We already have a reducer to add router state on navigations, but don't provide any selectors to get the data out. We should provide a minimum set of selectors out of the box to get:

- query params
- route params
- route data
- url

The initial idea is that this would be a function that returns selectors for the items mentioned above, similar to `getSelectors()` in Entity.

[2019-05-14 17:42] santoshyadav198613 commented on #1853
Hi @timdeschryver ,
One question, sample apps use an older version of typescript, zone, and rxjs, as we need to update all ngrx packages to beta for this change, should I update of the packages, we are already using Angular Beta, should I update to rc?

[2019-05-14 19:20] timdeschryver commented on #1853
@santoshyadav198613 aren't the examples  using the latest version of NgRx (v8-beta.1)? If that's the case, you don't have to update the packages.

[2019-05-14 19:41] santoshyadav198613 commented on #1853
Please ignore, I got confused with packages in doc portal.

[2019-05-14 19:51] jtcrowson opened #1855 "RFC: MockStore dispatch spy"
Following up on @MikeRyanDev's comment in #915:

It is very common to spyOn dispatch in action-dispatching tests.

## Describe any alternatives/workarounds you're currently using

- Manually set up the spy in each test:
`spyOn(store, 'dispatch');`

## Possible implementations:

1. make dispatch a spy (breaking change, will error if spy already exists within a test).
2. Add option to spy on dispatc

[2019-05-14 19:57] jtcrowson commented on #1854
I can take it

[2019-05-14 20:10] timdeschryver commented on #1855
This can be tricky because this would depend on the user's test framework.

[2019-05-14 20:55] santoshyadav198613 commented on #1853
Stackblit for reference: https://yrgvpdlbmkn.angular.stackblitz.io

[2019-05-14 21:09] santoshyadav198613 opened #1857 "docs: remove deprecated Buffer function from stackblitz generator"
## Other information:
 Buffer function is deprecated.
## I would be willing to submit a PR for the docs :heart:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-05-15 00:00] brandonroberts commented on #1855
I agree because of the variation between test frameworks. This is why it wasn't in the original design. With the MockStore, we're only spying to see if an action was dispatched, which we could alternatively do by listening to the ActionsSubject in the test.

[2019-05-15 02:18] #1857 closed

[2019-05-15 06:52] kanafghan commented on #1642
I can try to submit a PR for this.

[2019-05-15 07:23] FillScheers commented on #1814
thank you @spookgit.

[2019-05-15 07:23] #1814 closed

[2019-05-15 11:44] Abhay-Joshi-Git commented on #1152
Does [documentation of the selectors](https://ngrx.io/guide/store/selectors) reflect this change ? I tried to check there but couldn't find it out.

[2019-05-15 12:00] timdeschryver commented on #1152
It's documented at https://ngrx.io/guide/store/selectors#using-selectors-with-props @Abhay-Joshi-Git . Are the docs missing something?

[2019-05-15 13:24] santoshyadav198613 opened #1860 "Add search functionality for api similar to Angular"
## Describe any alternatives/workarounds you're currently using

Looking into code samples.

## Other information:

## If accepted, I would be willing to submit a PR for this feature

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-05-15 13:31] santoshyadav198613 opened #1861 "update example in Effects Module"
## Other information:

Effects example is missing import to catchError and  MoviesService

## I would be willing to submit a PR for the docs :heart:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-05-15 17:11] Abhay-Joshi-Git commented on #1152
ok, thanks for sharing this.

[2019-05-15 17:51] #1224 closed

[2019-05-15 19:23] #1861 closed

[2019-05-16 00:03] zakhenry opened #1863 "Inconsistent/missing docs on sources of effects"
## Other information:

## I would be willing to submit a PR for the docs :heart:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

Hello, I've been thinking for a while about what valid sources of effects can be, and recently this topic has brought up opposing views within my team. Consulting the docs, I find conflicting information. The question is *Should effec

[2019-05-16 02:02] jtcrowson commented on #1855
Should I use this issue to include listening to the ActionsSubject in the MockStore documentation?

[2019-05-16 07:00] timdeschryver commented on #1642
👍 @kanafghan feel free to ping us when you some guidance

[2019-05-16 18:01] alex-okrushko opened #1864 "MockStore: props are dropped when MockStore is passing selectors to actual Store"
Uncovered during the merge: selectors with Props were getting `undefined` instead of the prop values.
This is happening because MockStore wasn't taking Props in the `select` implementation, so it's not passing anything down to the Store as well.

https://github.com/ngrx/platform/blob/4a5153cac00f9ad0e9df64b3191c8d093faa5341/modules/store/testing/src/mock_store.ts#L98

## I would be willing to subm

[2019-05-16 18:31] wesleygrimes commented on #1860
@santoshyadav198613 Just clarifying... You are requesting the ability to search the docs similar to how you can search on https://angular.io with the searchbox in the upper-right hand corner of the page?

[2019-05-16 18:47] santoshyadav198613 commented on #1860
Yes @wesgrimes, if you think it makes sense, I will start working on it, once I close my existing PR.

[2019-05-16 18:56] brandonroberts commented on #1855
Possibly. We could also look at exposing some test API that keeps a list of the dispatched actions that you can assert against it, and clear it if needed.

[2019-05-16 19:24] alex-okrushko opened #1865 "Store should fail synchronously when dispatching an action that triggers reducer to throw error"
That was the behavior that we had in v7

https://github.com/ngrx/platform/blob/4a5153cac00f9ad0e9df64b3191c8d093faa5341/modules/store/src/state.ts#L50-L55

We should also add the test like this:
[code]

[2019-05-17 02:16] NachoVazquez opened #1866 "Docs: home page isn't responsive on some mobile screens"
## Other information:

Texts are cropped and aligned to the right at the home page of the documentation app for some mobile screens.

Reported on:

- Huawei P20 Lite
- iPhone XS Max
- Samsung Galaxy S5 (Chrome Dev Tools)
- iPhone5 (Chrome Dev Tools)
- iPhone6/7/8 (Chrome Dev Tools)

There is a similar issue that was closed: #1536

## I would be willing to submit a PR for the docs :heart:

[x] Yes

[2019-05-17 02:36] wesleygrimes commented on #1866
We will help you with the PR once you submit. Just reference this issue when you create it.

[2019-05-17 07:53] somnathsaha opened #1867 "ERROR in node_modules/@ngrx/store/src/models.d.ts(30,58): error TS2304: Cannot find name 'unknown'."
Getting below error,
ERROR in node_modules/@ngrx/store/src/models.d.ts(30,58): error TS2304: Cannot find name 'unknown'.
node_modules/@ngrx/store/src/models.d.ts(30,82): error TS2370: A rest parameter must be of an array type.
node_modules/@ngrx/store/src/models.d.ts(31,52): error TS2370: A rest parameter must be of an array type.
node_modules/@ngrx/store/src/models.d.ts(31,73): error TS2304: Cann

[2019-05-17 08:55] sampathivema commented on #947
thanks duluca !

[2019-05-17 09:47] timdeschryver commented on #1867
What's the version of NgRx?

[2019-05-17 10:19] somnathsaha commented on #1867
This is the package.json,

{
  "name": "@com-delta-idp/idp-flight-status",
  "version": "0.1.0-0",
  "scripts": {
    "ng": "ng",
    "init": "npm prune && npm install",
    "start-local": "ng serve --configuration=local",
    "start-local-node": "node --max_old_space_size=8000 ./node_modules/@angular/cli/bin/ng serve --configuration=local",
    "build": "ng build",
    "test": "ng test",
    "lin

[2019-05-17 12:49] negue opened #1868 "DevTools: Test-View not visible"
## Minimal reproduction of the bug/regression with instructions:
1. Add `StoreDevtoolsModule` to your Module
[code]
2. Open DevTools in the Browser
3. No Test-View available

Go to: https://ngrx-seed.stackblitz.io/ and open your DevTools and see that there is no `Test`-View visible

But, if you open the edit view of stackblitz (https://stackblitz.com/edit/ngrx-seed?file=src%2Fapp%2Fapp.module.ts)

[2019-05-17 14:18] timdeschryver commented on #1867
If you're using NgRx v7.x, you should use Angular v7.x

[2019-05-17 14:18] #1867 closed

[2019-05-17 15:17] mpnewcomb commented on #877
This is my biggest hangup with the whole NGRX action pattern... it smells badly. I dispatch an action but have no direct way to know if it succeeded or failed. Furthermore, if the same action can be dispatched from multiple components they all have to monitor the success/failure and somehow magically determine if they were the one to dispatch that event so they can clean up...

[2019-05-17 16:56] adrianfaciu commented on #1868
Cannot reproduce this. If I go to the [StackBlitz example](https://ngrx-seed.stackblitz.io/), the instance is visible in DevTools. Both router and counter properties are present.

[2019-05-17 17:23] negue commented on #1868
DevTools Views

with NgRx Seed:
![image](https://user-images.githubusercontent.com/842273/57944954-d3037900-78d8-11e9-8988-8cf8047b9efd.png)

with Stackblitz itself:
![image](https://user-images.githubusercontent.com/842273/57945042-16f67e00-78d9-11e9-9f4b-5a6a658aead2.png)

As you see `Trace` and `Test` are missing

[2019-05-17 17:40] santoshyadav198613 commented on #1854
Hi @jtcrowson ,
Should I take it, I am done with my existing PRs.

[2019-05-17 17:40] adrianfaciu commented on #1868
Yeah, there is something here. If I open dev tools and have a look they are there:

![Screenshot 2019-05-17 at 20 34 34](https://user-images.githubusercontent.com/2067101/57945751-5a55ea00-78e3-11e9-8a55-b291166a1c7c.png)

However, if I refresh the page they dissapear. Closing and opening dev tools again will make them show up.

[2019-05-17 17:41] brandonroberts commented on #1854
@jasonhodges is working this one already

[2019-05-17 17:43] santoshyadav198613 commented on #1854
Hi @brandonroberts ,
He updated the comments, so just wanted to check with him.

[2019-05-17 18:32] #1865 closed

[2019-05-17 18:47] negue commented on #1868
I don't get any on the NgRx Seed, using Vivaldi / Chrome on both Mac and Windows. 🙁

Both browser have the latest version of the dev tools installed

[2019-05-17 19:51] itayod commented on #1860
@santoshyadav198613 consider use algolia its a nice search engine and its free for open sources

[2019-05-17 19:59] timdeschryver opened #1873 "Move MockStore tests to a separate file"
Currently the `MockStore` tests are added to the `Store` tests, this makes them harder to find. That's why we want to extract the `MockStore` tests at https://github.com/ngrx/platform/blob/master/modules/store/spec/store.spec.ts#L450 to their own file.

[2019-05-17 19:59] timdeschryver commented on #1873
This one is picked up by @deli6z.

[2019-05-17 23:43] jtcrowson commented on #1855
Agreed.  I also don't think we need to reuse the store provided ActionsSubject.  Right now we have to `skip(1)` to get passed the `@ngrx/store/init` action.  If we had a separate, non-ActionsSubject Subject, we wouldn't need to skip everywhere.  Implementation would be simple:
[code]

[2019-05-18 19:34] timdeschryver commented on #1868
Weird that you see this @adrianfaciu, it shouldn't show up AFAIK.

To have these features available we must identify ourselves as a redux app, see https://github.com/zalmoxisus/redux-devtools-extension/blob/master/npm-package/logOnly.js#L9 for ref.

For us, this would mean adding a `type` property at https://github.com/ngrx/platform/blob/55818268bac6048fbb972dacbf41c0bedd3da809/modules/store-devto

[2019-05-19 23:07] norato opened #1876 "[@ngrx/data] Set HttpClient options"
The default option for response in HttpClient is **body**, if I need to map the full response do we have some config to it?
In a case that we receive the total elements at the response headers, how can I get it using the @ngrx/data?

## If accepted, I would be willing to submit a PR for this feature

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-05-20 07:05] dinhlambcs opened #1877 "Call 2 async functions in an effect?"
in auth.effect.ts, I saw the code:
[code]
How to implement getSalt functions in this effect, I want get some data before call login functions? Thank for any helps

[2019-05-20 12:16] adrianfaciu commented on #1868
Hmm, that is weird.
If no one else is working on it, I can pick it up next and try to sort it out.

[2019-05-20 17:18] timdeschryver commented on #1877
Support questions should be asked on [stackoverflow (with a ngrx tag)](https://stackoverflow.com/questions/tagged/ngrx) or the [gitter channel](https://gitter.im/ngrx/platform).

[2019-05-20 17:18] #1877 closed

[2019-05-20 17:31] timdeschryver commented on #1876
You can create your own custom [data service](https://next.ngrx.io/guide/data/entity-dataservice), which will allow you to do so if I'm not mistaken.

[2019-05-20 20:09] #1834 closed

[2019-05-20 23:21] aFarkas commented on #877
By not allowing a feature that might be used incorrectly my code now is less maintainable and more error prone. well done!

[2019-05-21 00:29] alex-okrushko commented on #877
@mxchange has the right suggestion:

NgRx is not for all the cases and when you just need a result from a simple call, don't need to store it or share with any other components, then doing it via injected service is perfectly fine.

Otherwise it feels like trying to stretch the pattern to fit the needs that it's not designed for.

[2019-05-21 06:12] aFarkas commented on #877
@alex-okrushko

You assume a lot here. It's probably the best example why to use a store for data. In my case it's about the user data that is coming from the user service and portions of this data are used by multiple components on every page. But some editing errors of the user data should only be displayed by the component that triggered the failed change-attempt.

For me the solution is to not

[2019-05-21 10:27] Pranav50 commented on #508
Try removing Redux Chrome Developer Tool and reinstall it and you will get the tool again

[2019-05-21 12:35] kanafghan commented on #1638
I would like to take this one @brandonroberts :-)

[2019-05-21 13:21] brandonroberts opened #1879 "Example: Re-enable E2E tests in CI"
Our E2E tests are currently disabled due to some flakiness in Applitools. We still need them to be run to catch example app bugs due to changes and refactoring.

We need to turn them back on here

- https://github.com/ngrx/platform/blob/master/.circleci/config.yml#L110

Comment out the Applitools eyes references

- https://github.com/ngrx/platform/blob/master/projects/example-app-cypress/support/i

[2019-05-21 13:22] brandonroberts commented on #1638
Thanks @kanafghan. We don't need to do this one anymore because we're using cypress for E2E testing (which is currently disabled). If you want to look re-enabling the E2E tests that would help.

I filed an issue here #1879

[2019-05-21 13:22] #1638 closed

[2019-05-21 14:09] #1830 closed

[2019-05-21 14:19] brandonroberts commented on #1879
👍

[2019-05-21 15:09] alex-okrushko commented on #1873
Did n't realize this issue was opened - I moved the tests as part of https://github.com/ngrx/platform/pull/1878

[2019-05-21 15:14] deli6z commented on #1873
@alex-okrushko stole my chance to shine.

[2019-05-21 16:38] #1864 closed

[2019-05-21 16:38] brandonroberts commented on #1873
Fixed via #1878

[2019-05-21 16:38] #1873 closed

[2019-05-21 18:17] timdeschryver commented on #1868
Yes, that's fine by me Adrian thanks!

[2019-05-21 18:18] alex-okrushko commented on #1873
@deli6z there's plenty more! :)

[2019-05-21 21:32] andrewseguin opened #1880 "Getting Started - Step 6 is overloaded"
The step 6 of the [Getting Started guide](https://ngrx.io/guide/store) may need to be broken down into a few extra steps.

### Current Documentation

### Feedback

The step tells you to create a new component, but does not tell you which files to create (e.g. template, styles, logic).

It tells you to inject the Store before telling you what your component logic looks like, and the next paragraph

[2019-05-22 21:09] #1849 closed

[2019-05-22 21:13] #1853 closed

[2019-05-22 22:12] #1866 closed

[2019-05-23 04:15] santoshyadav198613 opened #1884 "Pending review comments from createReducer() function"
## Other information:

## I would be willing to submit a PR for the docs :heart:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-05-23 12:07] brandonroberts commented on #1855
I think we should still push values into both. The non-ActionsSubject would be returned through a method on the MockStore.

[code]

[2019-05-23 12:10] brandonroberts commented on #1880
Thanks for the feedback @andrewseguin. I think those are some good changes to make also.

[2019-05-23 18:45] timdeschryver commented on #1851
Resolved by #1881

[2019-05-23 18:45] #1851 closed

[2019-05-24 08:37] montella1507 opened #1887 "Selector behavior when no map function provided is not well documented"
## Other information:
I think there is not any information about selector's behavior when no map function is provided.

![image](https://user-images.githubusercontent.com/10418323/58314349-96bba580-7e0f-11e9-9177-3a0496a7ffe2.png)

If no mapping function (projector) is provided it behaves like:
[code]

i think it is not so obvious and it acts like little magic for newbies.

To be honest i think it

[2019-05-25 09:39] adrienpsl opened #1888 "effects not dispatched with build --prod"
## Minimal reproduction of the bug/regression with instructions:

Github repo :  https://github.com/adrienpsl/test-ngrx-data-effects

## Expected behavior:

With ng build --prod :
1. I call service.getAll() from my component
2. data/action that extend EntityCollectionServiceBase are logged.
3. data/effects that extends EntityCollectionServiceBase are not triggered or logged
in the storeDevTool (th

[2019-05-25 10:33] ludicast opened #1890 "splitting up strictImmutability into separate store/action checks"
## Describe any alternatives/workarounds you're currently using

Not mutating store anyway.

## Other information:

In cases where an action has a mutable payload, setting strictImmutability throws an error when the payload mutates.  This is by design, and an overall good thing.

Here is an example where the Increment class has a payload that mutates after a timeout:

https://stackblitz.com/edit/n

[2019-05-25 21:13] timdeschryver commented on #1888
This seems like the same problem as in https://github.com/johnpapa/angular-ngrx-data/issues/156.
I tried to reproduce it in the example app but wasn't possible to do so.

[2019-05-26 05:42] adrienpsl commented on #1888
I compile with macos mojave : 10.14.5  may be that osx is the problem ?
What is your operating system ?
I will try to compile on a vm linux

[2019-05-26 06:48] timdeschryver commented on #1888
It isn't OS specific, if I run your repro it does in fact not run the effect.

[2019-05-26 06:54] timdeschryver commented on #1890
Thanks for opening this issue.
If you don't mind I would like to assign this to myself, as we want to create the meta reducers slightly different.

[2019-05-26 20:46] #1879 closed

[2019-05-27 11:02] MaximSagan commented on #1325
Is there anything we can do about this? A lot of us rely on `StoreDevtoolsModule` for debugging, and this really muddies up the output.

From what I've observed, when you have non-lazily-loaded modules using `Store.forFeature`, the `@ngrx/store/update-reducers` action seems to be fired every time a lazily-loaded module loads (regardless of whether or not that lazily loaded module uses `Store.forFe

[2019-05-28 21:16] #1890 closed

[2019-05-28 21:25] brandonroberts opened #1896 "Store: add migration to move users off ngrx-store-freeze"
The majority of our users are probably using `ngrx-store-freeze` to guard against state mutations. We have built-in run-time checks in version 8 to guard against those. This migration would

- Check to see if they are using `ngrx-store-freeze`
  - Remove `ngrx-store-freeze` from imports and the meta-reducers array
  - Remove `ngrx-store-freeze` from their `package.json` dependencies.
- Update Stor

[2019-05-28 21:27] jtcrowson opened #1897 "RFC: More verbose error message for unprovided feature state"
**TL;DR: Add helpful error when the developer attempts to access feature state that has not been provided.**

As a newer NgRx developer, I occasionally had a bug where I was attempting to access state via a selector, but got a console error `ERROR TypeError: Cannot read property 'books' of undefined`.  The issue was, I was using the selector in a module in the app where the StoreModule had not yet

[2019-05-28 23:50] jtcrowson commented on #1855
@brandonroberts what would you think about the mockstore maintaining a synchronous array instead?  Using asynchronous streams like `scannedActions$` is tricky and often leads to falsely passing tests if the test runs without a callback.

This is the case in our own MockStore tests in fact, this test incorrectly passes no matter action it is expected to equal:
[code]
Original test passes, but unfor

[2019-05-29 01:20] brandonroberts commented on #1897
This could also be a false positive in the case of using `router-store` where everything is connected correctly, but the state isn't populated until the first router event happens.

[2019-05-29 03:39] jtcrowson commented on #1897
Would the developer get an error about the undefined property in that case?
`ERROR TypeError: Cannot read property 'router' of undefined`

[2019-05-29 12:10] dummdidumm commented on #1868
You will not be able to change this, I ran into this problem as well, and it's basically a bug in the redux devtools https://github.com/zalmoxisus/remotedev-app/issues/40

[2019-05-29 16:56] timdeschryver commented on #1868
@dummdidumm We can make it a redux app, https://github.com/ngrx/platform/issues/1868#issuecomment-493701654

But then you're getting some other problems 😂

[2019-05-29 19:35] #1884 closed

[2019-05-29 20:07] ankemp commented on #1641
Hey @alex-okrushko would it be possible to send me that workaround as well?

[2019-05-29 22:56] #1854 closed

[2019-05-30 00:48] paustint opened #1899 "Add support for Angular 8"
## Describe any alternatives/workarounds you're currently using
Waiting to upgrade my project.

## Other information:
Now that Angular 8 is final, all `@ngrx` libraries need to be updated to ensure that the peer dependency uses `@angular/core` 8.0.0.

https://github.com/angular/angular/blob/master/CHANGELOG.md

![image](https://user-images.githubusercontent.com/5461649/58600548-52326e80-8242-11e9-

[2019-05-30 02:13] brandonroberts commented on #1899
Betas for NgRx version 8 are already out until final release is ready

[2019-05-30 02:13] #1899 closed

[2019-05-30 02:44] santoshyadav198613 commented on #1896
Hi @brandonroberts ,
Taking this next.

[2019-05-30 02:48] santoshyadav198613 commented on #1880
HI @andrewseguin ,

Are you planning to open the PR, please let us know.

[2019-05-30 08:38] adrianfaciu commented on #1868
Sorry for the delay, I traveled a lot and did not have time. I'll pick this up in the weekend and see what can be done.

[2019-05-30 11:36] brandonroberts commented on #1896
@santoshyadav198613 hold off on doing anything with this one yet

[2019-05-30 12:11] santoshyadav198613 commented on #1896
Cool, let me know once we want to proceed.

[2019-05-30 20:05] timdeschryver commented on #1896
We discussed this internally and I already started to work on this feature in #1901. I'm sorry @santoshyadav198613.

[2019-05-31 13:35] alex-okrushko commented on #1641
@ankemp I had the internal specific solution.
The main idea is to turn/serialize the class into an object.

[2019-05-31 14:50] ankemp commented on #1641
@alex-okrushko thanks, I'll play around with that idea. For now I ended up modifying the entity adapter

[2019-05-31 19:37] adrogon opened #1902 "Issue upgrading to 8.0.0-rc.0"
## Minimal reproduction of the bug/regression with instructions:

App working under `8.0.0-beta.2`, upgrading to `8.0.0-rc.0` make serving the app fail with the following message:

[code]

## Expected behavior:

The app to work again ; the listed breaking changes don't seem like they should impact the ability to serve the app.

## Versions of NgRx, Angular, Node, affected browser(s) and operating

[2019-05-31 20:07] timdeschryver commented on #1902
Do you provide your own serializer by any chance @adrogon ?
Could you share your usage of `StoreRouterConnectingModule.forRoot`?

[2019-05-31 20:18] Domratchev commented on #1902
Broken either way, with serializer specified or with any routerState, e.g.
StoreRouterConnectingModule.forRoot({
  routerState: RouterState.Full
})

[2019-05-31 20:21] Domratchev commented on #1902
BTW, it only affects AOT, JIT seems to be Ok, if I am not mistaken.

[2019-05-31 20:36] brandonroberts commented on #1902
Will someone provide a small reproduction of the issue?

[2019-05-31 23:04] adrogon commented on #1902
@Domratchev is correct, this happens when AOT is enabled.

@brandonroberts Here is a simple reproduction:

### Generate a dummy application

`ng new repro && cd repro && ng update rxjs @angular/cli @angular/core && npm i @ngrx/store@8.0.0-rc.0 @ngrx/router-store@8.0.0-rc.0 --save`

### Load NgRx modules

`src/app/app.module.ts`
[code]

### Serve the app with AOT enabled
`ng serve --aot`

### ????

[2019-06-01 03:37] METACEO commented on #1621
I read the title thinking of a different scenario, maybe it's easier to implement?
For example, if I had `counter-ng-element` that keeps its own state, say `{ counter: number; }` - how can element instances get a new store instance? I would like to develop a component knowing that I don't have to worry about multiple instances interfering or sharing each other's states.

[2019-06-01 07:55] vpcom commented on #1091
Also, in https://ngrx.io/guide/schematics/install, there should be a mention about setting the Schematics as default so that following examples match.

`ng config cli.defaultCollection @ngrx/schematics`

In https://ngrx.io/guide/schematics/store, and same with others,  the command is only
`ng generate store State [options]`
but it generates the error
`Schematic "store" not found in collection "@sc

[2019-06-01 08:04] timdeschryver commented on #1091
Thanks for the feedback @vpcom , I believe has this covered https://next.ngrx.io/guide/schematics/install.

[2019-06-01 08:14] vpcom commented on #1091
Yes, well done! But I was meaning for the current stable v7.

[2019-06-01 08:44] SerkanSipahi commented on #1902
@brandonroberts @timdeschryver

I can confirm that issue. It only occurs in AOT. Had the same problem when activating the AOT flag.

There are two different mistakes.

#### 1.) Just loading (without any assignment in a module, etc) something from `'@ngrx/router-store'`:
[code]
error:
[code]

#### 2.) This error occurs when using it in context of a module.

[code]
error:
[code]

[2019-06-01 10:47] tml123 commented on #1377
I'm running into the same problem with maybe a slightly different issue.  I have a reducer that is basically the same across all of my different modules, so I tried to abstract it by creating a function that returns the reducer function.

My `NgModule`:
[code]

Module Reducer:

[code]

And my factory:

[code]

[2019-06-01 12:30] timdeschryver commented on #1902
Repro: https://github.com/timdeschryver/sandbox-version-eight

[2019-06-01 18:28] #1902 closed

[2019-06-02 08:31] kichnan commented on #1554
Can't wait for this to be available! I've been using [angular-ngrx-data](https://github.com/johnpapa/angular-ngrx-data) (in Production!) for more than 8 months now. Saves a LOT of boiler plate code and brings a lot of consistency in development practices too. A few issues/hurdles here n there but overall, pretty AWESOME!

Thank you @johnpapa and @wardbell for this, again!

[2019-06-03 03:56] santoshyadav198613 commented on #1880
Hi @brandonroberts ,

Will work on it.

Regards,

[2019-06-03 06:26] santoshyadav198613 commented on #1896
No problem.

[2019-06-03 09:20] DenisSemionov opened #1905 "Regression? Some effects not working as before in prod mode."
## Minimal reproduction of the bug/regression with instructions:

I have a custom library, which contains some global modules, for example AuthModule. Until I have updated my projects to angular 8, everything worked fine. After I did that, most effects in my custom library don't work. Actions are dispatched, reducers are called, but effects.. Not really. However, one effect is called and it return

[2019-06-03 09:30] SerkanSipahi opened #1906 "Strange behavior when passing action function into store.dispatch"
## Minimal reproduction of the bug/regression with instructions:
I called someAction (see below simple example code) without function call "()" when it passed to store.dipatch(....)! The problem, it has not become an error. The action even arrived the reducer. Unfortunately it was not logged in the ReduxDevTools (it freezed, all other actions e.g. router will be ignored in the ReduxDevTools). Only

[2019-06-03 10:10] adrogon commented on #1905
Hello @DenisSemionov, have you looked at https://github.com/ngrx/platform/issues/1888, is it the same behavior?

[2019-06-03 10:14] DenisSemionov commented on #1905
Hello, @adrogon, looks very similar, but that author didn't mention `buildOptimizer` setting, so can't say for sure.

[2019-06-03 11:41] brandonroberts commented on #1880
@santoshyadav198613 wait until #1819 lands before opening another PR.

[2019-06-03 11:42] santoshyadav198613 commented on #1880
Ok all the comments are taken care,but let me check with Wes and Tim

[2019-06-03 11:47] MikeRyanDev opened #1907 "RFC: Hold back on releasing mapToAction"
I've been playing with `mapToAction` since it landed and I have some concerns about the ergonomics of this utility function:
1. It doesn't meaningfully reduce lines-of-code (some effects may increase in size)
2. It abstracts over too many parts of rxjs. I don't think it should be selecting a merge operator for you. As designed, it makes it awkward to use an unusual merging operator like `groupBy`

[2019-06-03 11:54] MikeRyanDev opened #1908 "RFC: Capture the type of a selector's projector function in the MemoizedSelector type"
When testing a memoized selector's projector function we default the type of the projector to be `any`. This makes it difficult to catch type changes of the projector function in unit tests.

I recommend the type of `MemoizedSelector` be extended to have a third type parameter that captures the type of the projector function:
[code]

## Describe any alternatives/workarounds you're currently using

[2019-06-03 12:25] DenisSemionov commented on #1902
I'm getting the same error with `^8.0.0-beta.2` on build.

[2019-06-03 12:46] timdeschryver commented on #1905
Could you create a small reproduction of this issue?
I couldn't be able to reproduce this issue.

[2019-06-03 13:25] timdeschryver commented on #1888
@adrienpsl does this also occur with `@ngrx/*@8.0.0-rc.0`?

[2019-06-03 13:26] timdeschryver commented on #1902
@DenisSemionov the fix for this issue hasn't been released yet.
You can install it from our [nightlies](https://ngrx.io/guide/nightlies)

[2019-06-03 13:31] DenisSemionov commented on #1905
@timdeschryver , I will try to create a repro during this week. I'm not sure yet what causes the problems, ngrx works well as previously, but after I updated my projects to angular 8 effects in my custom library are behaving strangely.

[2019-06-03 13:33] #1555 closed

[2019-06-03 13:40] #1896 closed

[2019-06-03 13:49] brandonroberts opened #1909 "Docs: Add status badges for CircleCI and NPM to README"
Could be useful to have in the [README.md](https://github.com/ngrx/platform) along with the gitter and commitizen badges
For reference: https://raw.githubusercontent.com/angular/angular/master/README.md

[2019-06-03 14:02] timdeschryver commented on #1909
@deli6z do you want to pick this one up?

[2019-06-03 14:02] brandonroberts opened #1910 "CI: Add test app for integration checks"
Opened as a result of https://github.com/ngrx/platform/issues/1902. This only only surfaced when using the distributed packages from NPM. We run our suite of unit tests against source, unit and E2E tests against the example app. We don't currently run any tests using the built packages from source.

Adding a small integration app with some tests could guard against this happening in the future.

[2019-06-03 14:05] Edouardbozon commented on #1909
Hi, can I take this ?

[2019-06-03 14:08] deli6z commented on #1909
@timdeschryver I am on it!

[2019-06-03 14:15] MikeRyanDev commented on #1906
It is likely that the same thing could happen in effects. Whatever the fix ends up being for `store.dispatch` should be done for effects as well.

[2019-06-03 14:22] timdeschryver commented on #1909
Let's assign this to @deli6z as it's hes first contribution 🙂

[2019-06-03 14:44] SerkanSipahi commented on #1906
@MikeRyanDev alright

[2019-06-03 15:17] alex-okrushko commented on #1908
Having the projector to be any bothered me as well. Would this be a better solution?

[code]

I'd rather not add third parameter to the MemoizedSelector (that doesn't have a default value) - it would break the world for me.

[2019-06-03 15:31] brandonroberts commented on #1908
I would propose adding a default value of `AnyFn` for `ProjectorFn` for version 8, and revisit the breaking change for version 9.

[2019-06-03 15:50] MikeRyanDev commented on #1908
@brandonroberts, @alex-okrushko To follow on, I would say that the _interface_ provides a default value for the new third generic parameter:
[code]
but using inference from `createSelector` you get a more specific type for the third parameter.

[2019-06-03 16:18] timdeschryver commented on #1906
Feel free to take this one @SerkanSipahi 👍

[2019-06-03 16:34] alex-okrushko commented on #1908
This looks like a non-breaking change (unless some code erroneously was relying on a different return type).
We could change to the following:
[code]

WDYT?

[2019-06-03 17:11] SerkanSipahi commented on #1906
Thanks, i take it :)

[2019-06-03 18:01] DenisSemionov commented on #1905
@timdeschryver , I have reproduced it. Build the library `ng build disastrous-library`,  then `ng serve angular-ngrx`. Try to press the buttons (you will see text with explanation) and see the browser log. Then build `ng build angular-ngrx --prod` and deploy it. You will see that effects in library stopped working, they are not triggered anymore.

https://github.com/DenisSemionov/ngrx-bug-repro

[2019-06-04 14:39] #1583 closed

[2019-06-04 14:58] brandonroberts commented on #1908
👍

[2019-06-04 15:03] damienwebdev opened #1913 "Error: No test scheduler initialized after upgrading to ng8."
## Minimal reproduction of the bug/regression with instructions:

[code]
## Expected behavior:
I would expect not to get the following errors:

[code]

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):
[code]

## Other Information
This bug breaks all the described effect tests in the docs, as the same model of test no longer works

## I would be willing to submit a P

[2019-06-04 18:17] Rlcolli4 commented on #1913
I am having the same problem, we ran `ng update @angular/cli @angular/core` and everything else worked with out an issue, but after running our unit tests, we saw all our effects tests failing. We get stack traces similar to the following.

<img width="1110" alt="Screen Shot 2019-06-04 at 11 16 11 AM" src="https://user-images.githubusercontent.com/12074293/58903459-559e7d80-86ba-11e9-85f0-4296475d

[2019-06-04 18:22] #1642 closed

[2019-06-04 19:23] jasonhodges commented on #1908
I will take this one 👍

[2019-06-04 20:26] xinlongli2018 opened #1915 "How to register single reducer using StoreModule.forFeature with ngrx 8.0.0 beta"
Hi,

in my feature module, im using the createReducer method to create my reducer as follow:

**export const reducer = createReducer(
  new InitState(),
  on(loadData, state => {
    return {
      ...state,
      isLoading: true
    };
  })
);**

but when i register the above reducer in the module class as following:

  **StoreModule.forFeature('my-module', reducer),**

im getting the following e

[2019-06-04 21:16] alex-okrushko commented on #1915
You have two options:
- register reducers with `InjectionToken`: https://github.com/ngrx/platform/blob/d81ddeb3938cb5768cf76a815c956a78de4df057/projects/example-app/src/app/reducers/index.ts#L37-L44

- wrap with function
https://github.com/ngrx/platform/pull/1746#issuecomment-483779662

[2019-06-04 21:25] alex-okrushko commented on #1907
For anyone following this issue - after having a team discussion we decided to rename the operator to `act` (similar to what @cartant named it) and not promote it for the time being (until `8.1.0`+) and review it one more time.

[2019-06-04 21:43] #1915 closed

[2019-06-04 22:38] xinlongli2018 commented on #1915
thanks second option works! and Is wrapping the single reducer in a function a long term solution, or will createReducer() just work in the production version of ngrx 8.x?  and when do we expect the production version of ngrx 8.x to be released?

[2019-06-04 22:40] alex-okrushko commented on #1905
I think this is related to https://github.com/ng-packagr/ng-packagr/issues/1307

[2019-06-05 06:52] alan-agius4 commented on #1905
Hi all, this issue is caused by the Angular Devkit Build Optimizer.

See here for more context: https://github.com/angular/angular-cli/issues/14613#issuecomment-498960867

I have already landed a fix for this.

[2019-06-05 06:54] alan-agius4 commented on #1888
@adrienpsl, does this occur if you disable the angular cli build optimizer?

`ng build --prod --no-build-optimizer`

As this might be related to https://github.com/angular/angular-cli/issues/14613

[2019-06-05 07:46] popoleeMaster opened #1916 "having an observable in the featureEntity break ngrx"
**I'm submitting a...**

[ ] Regression
[X] Bug report
[] Feature request
[ ] Documentation issue or request
(I think it is a bug cause at least it shouldn't crash)

**Information**
I have a ngrx store where I store a list of object from a class `Line`.

in the class `Line` there is the following

      export class Line {
           lineId: string
           points: Points[]
      }

and in the p

[2019-06-05 12:07] brandonroberts commented on #1916
This is not a bug. You should be using plain JavaScript objects in your state. Storing an observable in your state that has circular references should be avoided.

[2019-06-05 12:07] #1916 closed

[2019-06-05 12:51] brandonroberts commented on #1888
I think they are related and consider this issue resolved. We will close it once the fix in the CLI is merged

[2019-06-05 13:15] alex-okrushko opened #1917 "RFC: Disallow `type` to be passed to props of action creators"
`type` property would be overridden by the action creator itself, which could lead to time lost to debugging.

## Describe any alternatives/workarounds you're currently using

## Other information:

## If accepted, I would be willing to submit a PR for this feature

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-06-05 15:54] bryanrideshark opened #1918 "Can we bump the number of actions in createReducer?"
Can we bump the number of generics in `createReducer` to be higher?

Some reducers can get bigger than 10 actions.

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[x] No

[2019-06-05 17:19] timdeschryver commented on #1915
No sadly not, this is how the AOT compiler works.

We're laying the last stones for the ngrx 8 release.
Besides that we've hit a problem with `prod` builds https://github.com/ngrx/platform/issues/1905

[2019-06-05 17:31] xinlongli2018 commented on #1915
@timdeschryver, ok thank you for the update! so far i really like the ngrx library

[2019-06-05 17:48] Trent-Matthias commented on #1913
Adding "target": "es5" to tsconfig.spec.json fixed it for me as a workaround.

[2019-06-05 18:27] jtcrowson commented on #1918
Can you provide an example where it limits you?  From looking at the code `/modules/store/src/reducer_creator.ts` line 182, it doesn't look like there is any limitation to the number of actions a createReducer can handle.

[2019-06-05 19:16] timdeschryver commented on #1918
Correct, it will support an unlimited amount of `on`'s but you lose the type safety.

[2019-06-06 03:51] #1908 closed

[2019-06-06 03:52] #1909 closed

[2019-06-06 13:32] dsebastien opened #1926 "The version selection dropdown on ngrx.io is not user friendly"
Hello,

I'm not sure if this has been mentioned before, but it took me some time to notice the documentation version selection dropdown in the docs section of the NGRX Website.

Also, after selecting a version in the dropdown, we end back on the homepage, but there is no clear indication that we are now seeing a different version of the documentation.

Now that I get it I get it... But I suppose o

[2019-06-06 18:43] deli6z commented on #362
Should this one  be closed then @alex-okrushko ?

[2019-06-06 19:00] stumbino commented on #1899
Can I get a link or package.json example of the dependencies for version 8? Thanks!

[2019-06-06 20:23] timdeschryver commented on #1899
These are visible at https://next.ngrx.io/guide/migration/v8

[2019-06-06 20:26] #1907 closed

[2019-06-06 20:29] #1917 closed

[2019-06-06 20:33] #1762 closed

[2019-06-06 23:08] brandonroberts commented on #1905
This fix has been verified with Angular CLI 8.0.2 and NgRx 8.0.0.

[2019-06-06 23:08] #1905 closed

[2019-06-07 02:20] alex-okrushko commented on #362
Yes, it should be closed.

[2019-06-07 02:20] #362 closed

[2019-06-07 03:08] deli6z commented on #1897
Maybe there should be more generic message then which covers the router case too ?

[2019-06-07 03:19] jtcrowson commented on #1897
Definitely should make the message more generic.  I think any error raises suspicion, so even getting a `ERROR TypeError: Cannot read property 'router' of undefined` because the router state isn't populated is helpful so devs don't think there's an issue.  Also, think it makes sense to limit the error to non-production builds only.

[2019-06-07 03:26] jtcrowson commented on #1926
Version is displayed in the URL:
next: https://next.ngrx.io/
stable: https://ngrx.io/
v7: https://v7.ngrx.io/

It's possible that your browser cached the old version of https://ngrx.io/, I know mine did.  When I navigated to https://ngrx.io/ today, I got version 7.4, and by using the dropdown and selecting next, I got version 8, which is https://ngrx.io/.  But after that, navigating to https://ngr

[2019-06-07 07:26] kekel87 commented on #1913
Hi, there is another workaround to keep "es2015": https://github.com/synapse-wireless-labs/jasmine-marbles/issues/40#issuecomment-499785967

It also link to this issue: https://github.com/synapse-wireless-labs/jasmine-marbles/issues/37

[2019-06-07 14:10] deli6z commented on #1926
I think @dsebastien saying that it would be good to see the current version information on the homepage. Once user is changing the version it brings you back to homepage where URL is the only indication your selection worked - so the question is whether that is enough?

[2019-06-07 14:23] brandonroberts commented on #1926
I think a straightforward fix would be to redirect to the `/docs` page when changing from stable or next here instead of the homepage. https://github.com/ngrx/platform/blob/master/projects/ngrx.io/src/app/app.component.ts#L178

That way, once you navigate, the side menu is displayed with the current version you are looking at.

[2019-06-07 14:25] deli6z commented on #1926
I can try to fix that if that is ok?

[2019-06-07 17:24] brandonroberts commented on #1926
Sure. Some docs tests maybe need to be updated also.

[2019-06-07 17:27] deli6z commented on #1926
alright sign me up, may ask more questions.

[2019-06-07 17:49] brandonroberts commented on #1926
Cool! Just let us know and we'll assist.

[2019-06-07 17:57] deli6z commented on #1897
So this is a non blocking error? Store can recover from it easily?

[2019-06-07 18:23] jtcrowson commented on #1897
Well in the case of router-state, store is fine.  But the most common case, the store has not yet been set up but it is trying to be accessed.

[2019-06-08 01:37] jsonberry commented on #1713
Crazy that this has caused problems for people :o I've yet to have any issues with what was described here, maybe because that's how I architect my stores/actions/effects?

I had found the note in the new v8 docs about this and wanted to track down why this was being suggested, good job getting it added! 👍

Also if commenting on old closed issues is a no-no just lemme know and I'LL SHOW MYSELF THE

[2019-06-08 02:20] varghesep commented on #1915
Wrapping the ```createReducer``` in a function is not working for me.

[code]
It gives me an error ```entiry map can't be executed on undefined```.

[2019-06-08 04:06] alex-okrushko commented on #1713
@jsonberry it shows up in my notifications, so it's completely fine to comment on closed issues 😂

This case is very frequent in Firebase Console, mostly because we have router data as part of the store. For example, I'm navigating to one of the pages and the project details are used to query the info needed for that page. Project details are not available yet - I have only the project id as part

[2019-06-08 10:18] pegaltier opened #1930 "Incorrect ngrx/data module on ngrx.io/guide"
You can see on the link below there is still the old module 'NgRxDataModule' used but it should be replaced by the new one 'EntityDataModule'

https://ngrx.io/guide/data/entity-metadata

## I would be willing to submit a PR for the docs :heart:

[X] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-06-08 11:30] pegaltier opened #1931 "Update live demo (stackblitz) to last release on ngrx.io/guide"
Currently the stackblitz live demo given on the ngrx.io/guide uses the beta version. It should be updated with the official release. See link below:

https://ngrx.io/guide/store#tutorial

[2019-06-08 14:35] timdeschryver commented on #1930
Good catch and thanks for opening the issue.
Do you want to pick this one up @pegaltier ?

[2019-06-08 16:56] jsonberry commented on #1713
@alex-okrushko ah okay, absolutely, I read over the issue conversation more and it all makes sense. I'm a little puzzled by your example so I want to just clarify some things.

☝️ When you say **query**, are you referring to a selection from the store, or something like a network call for data? Are you using details of an entity in order to make subsequent network requests (more than the entity ID

[2019-06-08 17:05] montella1507 commented on #1713
I use this:

`import { Observable, of } from 'rxjs';
import { concatMap, withLatestFrom } from 'rxjs/operators';

export function withLatestCached<TSource, TSecond>(second: (input: TSource) =>  Observable<TSecond>) {
  return function latestFromisBad(source: Observable<TSource>) {
    return Observable.create(subscriber => {
      const subscription = source
        .pipe(
          concatMap(acti

[2019-06-08 17:33] pegaltier commented on #1930
@timdeschryver Yes I would like to pick this one but i have no idea where the doc is located. Can you help me? Thanks!

[2019-06-08 17:53] timdeschryver commented on #1930
You can take a look at our new contributing page at https://ngrx.io/contributing.

To answer your question, the docs are made so you can click on the pencil on the website to go straight to editing mode of the docs 🙂

![image](https://user-images.githubusercontent.com/28659384/59150657-fd071180-8a26-11e9-87de-0d926a1edf4c.png)

Feel free to ping us if you need some guidance, we're here to help.

[2019-06-08 18:19] pegaltier commented on #1930
@timdeschryver thanks for your help! I did it! I hope it's correct!

[2019-06-08 18:43] timdeschryver commented on #1930
@pegaltier Yes that's it!

I left a comment in the PR because there is another import 🙈

[2019-06-08 18:56] pegaltier commented on #1930
@timdeschryver Good find! it's done so it should be fine now!

[2019-06-08 20:01] timdeschryver commented on #1888
This issue is resolved in https://github.com/angular/angular-cli/pull/14585

[2019-06-08 20:01] #1888 closed

[2019-06-08 23:02] wbhob opened #1934 "@ngrx/data doesn't seem to tolerate parameters"
## Other information:
_Many_ apps have relational data, as well as child structures, and I'm surprised an issue hasn't been opened about this before. Essentially, our use case is as follows.

We have a base object, say "vendors", which have products and events. Managing the vendors with @ngrx/data is relatively simple, but as soon as I try to write a data wrapper for events or products, type-check

[2019-06-09 02:45] wbhob commented on #1934
For clarity:

All we need is to pass a parameter in to, say, `getAll`. In my container code, I am already aware of the `vendor_id`, and the only thing stopping me is that I can't pass a parameter to `getAll()` or any other method. It would be life saving to allow for parameterized methods in the Collection and Data service models, and to pass them accordingly under the hood.

[2019-06-09 03:31] #1926 closed

[2019-06-09 07:57] dsebastien commented on #1926
Great, thank you guys. Keep up the great work!

[2019-06-09 12:19] chaouiy opened #1935 "Can we dispatch actions from reusable components ?"
[This video ](https://www.youtube.com/watch?v=JmnsEvoy-gY) says that it is a bad practice to reuse actions. is dispatching actions from reusable components mean reusing actions ?

[2019-06-10 11:27] #1930 closed

[2019-06-10 13:34] #1906 closed

[2019-06-10 14:54] wbhob commented on #1935
You're supposed to bubble `@Output`s up from reusable components to smart components, who then dispatch the actions.

[2019-06-10 15:28] alex-okrushko commented on #1915
@varghesep updated the comment.

[2019-06-10 15:31] chaouiy commented on #1935
Sorry. I don't understund your comment. Can you be more explicit ?

On Mon, Jun 10, 2019, 16:55 Wilson Hobbs <notifications@github.com wrote:

[2019-06-10 16:44] jonr-elsewhen opened #1937 "Default router serialization is not compatible with immutability check"
## Minimal reproduction of the bug/regression with instructions:

The "strictStateImmutability" runtime check is enabled by default in NgRx 8. This check is not compatible with `@ngrx/router-store`, because the default router state cannot be safely made immutable: https://github.com/ngrx/platform/issues/1104#issuecomment-479945199

1. Create a Angular project without routing enabled.
2. Add `@ngrx

[2019-06-10 17:22] timdeschryver commented on #1937
To make router-store serializable you will have to use [`RouterState.Minimal`](https://next.ngrx.io/guide/router-store/configuration).

[2019-06-10 17:22] #1937 closed

[2019-06-10 18:31] wbhob commented on #1935
1. You DO reuse actions.
2. You DO NOT dispatch them from reusable (dumb) components.
3. You DO dispatch them from top-level container (smart) components.
	3a. You use top-level components to handle data, like selectors and action dispatchers.

[2019-06-10 19:06] timdeschryver commented on #1723
Post can be found at https://medium.com/ngrx/announcing-ngrx-version-8-ngrx-data-create-functions-runtime-checks-and-mock-selectors-a44fac112627

[2019-06-10 19:06] #1723 closed

[2019-06-11 10:01] chaouiy commented on #1935
@wbhob the speaker on[ this video](https://www.youtube.com/watch?v=JmnsEvoy-gY&t=303s) would not agree with you about "Do reuse actions" .

another issue, What to write between brackets when resugin action from multiple sources ?

[2019-06-11 10:55] timdeschryver commented on #1931
If someone wants to grab this, you can change the versions at

https://github.com/ngrx/platform/blob/master/projects/ngrx.io/tools/examples/shared/package.json
and
https://github.com/ngrx/platform/blob/master/projects/ngrx.io/tools/examples/shared/boilerplate/cli/package.json

[2019-06-11 11:26] adrienpsl commented on #1888
Yes, it works !
I use the following :  angular 8 / cli 8 / ngrx 8.0.1
:) .

[2019-06-11 15:23] deli6z commented on #1931
I guess I could grab this one.

[2019-06-11 17:49] deli6z commented on #1931
@timdeschryver stackblitz has the right versions now, am I missing something?

[2019-06-11 18:17] Rlcolli4 opened #1938 "Documentation for How to Unit Test Selectors using passed in properties"
I was reviewing your documentation on unit testing slices of the store (https://ngrx.io/guide/store/testing) and realized that there was no documentation for taking a selector that has the added `properties` parameter (IE `getFilteredItems = createSelector(getItemsState, (state: fromFeatures.ItemsState, props: any)`. Currently, attempting to unit test this with current documentation causes the "st

[2019-06-11 19:41] JiaLiPassion commented on #1934
@wbhob, I have the same use cases with you, and I am working on the documentation and PR of those issues, for the `pagination`, you can reference to my updated doc here https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/guide/data/entity-metadata.md

[2019-06-11 20:14] wbhob commented on #1935
That's not quite what he means. If two situations in your app have the same result, they should use the same action, because they're the same event. For example, if your app loads data on pageload, and has a refresh button, the two actions would be the same. Making two actions to do the _exact_ same thing should be avoided, but if two actions have distinct meanings/events/behaviors, they should be

[2019-06-11 22:07] Odonno commented on #1826
I am not sure if it should be about effects or actions but there is not only API calls that use this pattern of `request`, `success` and `failure`.

I would suggest something like `createAsyncEffect` or `createAsyncActions` depending on the feasibility of this feature. Reducing the amount of code to create 3 actions with 1 function can be a great start like that:

[code]

Of course, the creation o

[2019-06-11 22:10] #1678 closed

[2019-06-12 00:48] jsgoupil opened #1939 "Docs: Explain what should the DataService server respond for ngrx/data to work properly"
The documentation is lacking how should the DataServer, responding to ngrx/data, actually respond in order for the client to work properly. You talk a little bit about DELETE returning a 404, but you don't talk about what should be returned for add(), delete(), getAll().

For instance, should add() return the whole instance added or just the ID? Looking at the code, it seems that the ID might be s

[2019-06-12 10:00] usarskyy opened #1940 "HttpClient with "pipe" sends multiple GET requests even if the first one did not fail"
## Minimal reproduction of the bug/regression with instructions:

My Angular 8 app is hosted on http://localhost:4200/
My API is hosted on http://localhost:6002/

I am trying to send a HTTP GET request from Angular app to API. Before GET request is issued, browser sends preflight OPTIONS request to get CORS policy.

The problem is that when I add "retry" to my "pipe", I start getting multiple API

[2019-06-12 11:23] pegaltier opened #1941 "docs: add ngrx/data to Recipes - Nightly builds"
Add ngrx/data to Recipes - Nightly builds

https://ngrx.io/guide/nightlies

## Other information:

## I would be willing to submit a PR for the docs :heart:

[X] Yes (see PR #1942 below)
[] No

[2019-06-12 12:15] jtcrowson commented on #1931
@deli6z you'll need to update both package.json to use the new NgRx version.   Those generate the stackblitz dependencies.

[2019-06-12 13:21] #1941 closed

[2019-06-12 13:41] dummdidumm commented on #1940
The HttpClient is from Angular. I don't think this issue has anything to do with Ngrx.

[2019-06-12 13:57] usarskyy commented on #1940
From my point of view, the problem is in "retry". It should not be executed because the first request was successful.

[2019-06-12 14:03] dummdidumm commented on #1940
`retry` is also not part of `ngrx`. It's a function from the library `rxjs`.

[2019-06-12 14:08] usarskyy commented on #1940
So, who can decide if this is ngrx or rxjs issue? I can also create an issue there

[2019-06-12 14:40] deli6z commented on #1931
@timdeschryver just so I understand can you please point me to the script which picks these jsons up when generating the stackblitz code. Thanks.

[2019-06-12 14:57] brandonroberts commented on #1940
This is not an issue with NgRx or RxJS specifically. With CORS being a browser-based security restriction, your best option is to proxy your API requests through the CLI so everything is served from the same port. See https://angular.io/guide/build#proxying-to-a-backend-server

[2019-06-12 14:57] #1940 closed

[2019-06-12 14:57] usarskyy commented on #1940
Ok, it looks like this is Angular's fault https://github.com/angular/angular/issues/20879

Thank you for your help! This ticket can be closed.

[2019-06-12 15:01] usarskyy commented on #1940
Brandon, unfortunately this is not always possible. API is often hosted on "api." subdomain and this is completely OK.
CORS is browser specific functionality, you are right. But exactly in this case this is Angular's bug.
BTW, since Angular 1.* had absolutely no problems with CORS, as well as other frameworks, means that this is purely software bug and not browser's.

[2019-06-12 15:03] brandonroberts commented on #1940
👍

[2019-06-12 21:36] kanafghan commented on #1622
I have done NgRx and SSR in a project before by following the technics discussed in #101. I would love to help @santoshyadav198613, @brandonroberts with the PR.

I guess that by

you mean a Stackblitz app like those under `projectx/ngrx.io/content/examples`, right @brandonroberts ?

[2019-06-13 02:48] ghiden opened #1945 "Question: pipe inside pipe"
This is an example snippet from the offical page https://next.ngrx.io/guide/effects

[code]

This seems to work too but is there any particular reason the above is preferred or better?
[code]

[2019-06-13 07:03] timdeschryver commented on #1945
We explain it in the docs at [Handling Errors](https://ngrx.io/guide/effects#handling-errors).

[2019-06-13 07:03] #1945 closed

[2019-06-13 07:19] timdeschryver commented on #1934
@JiaLiPassion, this is #1944 right?

[2019-06-13 08:15] JiaLiPassion commented on #1934
@timdeschryver. #1944 is another use case. @wbhob 's use cases are.
1. pagination, this can be resolved by my earlier PR, #1921.
2. nested data, such as products belongs to vendor, so get products need to pass vendor id, this one is not supported by `@ngrx/data` now.

#1944 resolved another use case, which is we may have multiple backend endpoints return the similar data, such as `getMostPopularPr

[2019-06-13 08:18] thanikc commented on #1266
The example with ReplaySubject doesn't work either:

[code]
The `expect` statement is never called. This test would only pass, because the `done` callback is missing.

[2019-06-13 08:25] timdeschryver commented on #1934
Ok, thanks for clarifying this.

[2019-06-13 12:34] wbhob commented on #1934
Thanks for the help guys! I'll keep an eye out for this issue, as this would help a lot with our development.

[2019-06-13 15:12] pegaltier opened #1946 "docs: EntityCollectionService or EntityServices"
The current documentation contains 2 references to the same subject:
https://ngrx.io/guide/data/entity-collection-service
https://ngrx.io/guide/data/entity-services

## Other information:
We need to choose which one is the correct one and merge the useful information from the other one. Please help me for that and I will be able to create the PR.

## I would be willing to submit a PR for the docs

[2019-06-13 15:47] michaeljota commented on #994
Do you think this can be doable with the new pipe in `@ngrx/effects`, the [`act`](https://github.com/ngrx/platform/blob/master/modules/effects/src/act.ts) pipe? Or maybe a similar pipe, that allows to dispatch an optimistic action, and then a revert action if anything went wrong after retrying.

What do you think?

[2019-06-13 17:15] timdeschryver commented on #1938
Because selectors are functions, you can invoke the selector just like a normal function.

[StackBlitz demo](https://stackblitz.com/edit/jasmine-testing-nk1pnv?file=test/jasmine-setup.ts)
[code]

[2019-06-14 07:30] JiaLiPassion commented on #1946
I think we should use `EntityCollectionService`.

[2019-06-14 07:34] JiaLiPassion commented on #1939
I would like to add the documentation and the sample code, basically you can get those information from the `typescript d.ts`.

[code]
- for the methods return `Observable<T>`, the data server should return the whole entity, of course you can return only the `id` and in your customized EntityCollectionService, you can merge the `id` with the existing entity in memory.
- for the method return `Obse

[2019-06-14 20:32] mwamufiya opened #1947 "Docs Suggestion: Add examples of multi-entity stores"
## Other information:
In getting familiar with the ngrx ecosystem, I found that examples of how to use the store with multiple entities challenging.
I eventually landed here ->  [https://stackoverflow.com/questions/48621298/angular-ngrx-multiple-entities-in-one-entityadapter-possible](url)

this helped me a great deal to understand how a store can work with multiple entities.

Just a suggestion

t

[2019-06-16 10:57] majo44 opened #1948 "@ngrx/data Allows to provide custom DataService for all entity types."
As @ngrx/data is not supports by self entity pagination, and is no way to simple take the `total` entity count from server side response, I tried to write own `DataService` which will allows me to take that number from response (eg. in case of json-server it is in `X-Total-Count` header) and to smuggle it as a additional property:

[code]

The problem is that I want to use that DataService for eac

[2019-06-16 12:48] julianobrasil opened #1949 "Types and autocompletion in createReducer"
## Describe any alternatives/workarounds you're currently using

The old way to build actions (with classes) + the switch-based reducers allowed the editor to infer the action payload types and show the developer an autocompletion list as heshe typed. I think that was lost (forgive me if I'm wrong).

Given this example code:

[code]

In the old way, it was easy to infer the `payload` parameter typ

[2019-06-16 12:52] julianobrasil commented on #1918
@timdeschryver, I've just opened a new issue asking for the type safety thing. Well, I'm not aborting it. Even if I use one `createReducer` per `action` to keep the type safety, I lost code editor autocompletion as the action payload seems to be `any` from the editor's point of view (VSCode). The issue I've just opened: #1949

[2019-06-16 17:35] julianobrasil commented on #1949
Messing a little bit arround, It's a little better if you do (so I'm closing this issue):

[code]

[2019-06-16 17:35] #1949 closed

[2019-06-17 07:13] timdeschryver opened #1950 "RFC: schematics should toggle immutability checks on by default"
When using the schematics to create a `root` store, I think it would be a good practice to turn the immutability checks on.

[code]

And what about the serializability checks?

## Describe any alternatives/workarounds you're currently using

Now the user needs to add it manually.

[2019-06-17 08:07] RomainWeb opened #1951 "@ngrx/entity Migration to 8 "Detected unserializable action""
Hi team,

I have migrated to version 8 but i have trouble with a serialization. I dispatch an object with date property and i have this error. i searched on PR and issues but i didn't found some solutions.

**Error**
`ERROR Error: Detected unserializable action at "notification.date_created"
    at throwIfUnserializable (http://localhost:4200/vendor.js:168370:19)
    at http://localhost:4200/vendo

[2019-06-17 08:10] timdeschryver commented on #1951
A `Date` is not serializable: https://ngrx.io/guide/store/configuration/runtime-checks#strictstateserializability

[2019-06-17 08:10] #1951 closed

[2019-06-17 08:12] timdeschryver commented on #1918
Should we bump up the number, and if so how many do we see fit?

[2019-06-17 08:13] timdeschryver commented on #1947
Personally, I'm not sure if I would recommend handling multiple entities in a single reducer.
A reducer should be scoped to one entity, imho.

[2019-06-17 09:49] RomainWeb commented on #1951
oh thx for information and your quick answer

[2019-06-17 12:26] JiaLiPassion commented on #1948
@majo44, I just created some documentation  https://github.com/ngrx/platform/pull/1921 about how to create customize `EntityCollection` level property, the motivation that I did that is also to add `pagination`, I am working on some other PRs to make it simpler. One of those PR is https://github.com/ngrx/platform/pull/1944, there is a `tag` work as the `option` which will live in the full lifecycl

[2019-06-17 13:46] brandonroberts commented on #1947
I agree with @timdeschryver, managing multiple entities within a single reducer will be hard to maintain.

[2019-06-17 13:46] #1947 closed

[2019-06-17 18:29] jtcrowson opened #1952 "docs: Clean Up Integration Testing Examples"
Now that we have updated the documentation with using MockStore + mock selectors, we should revisit the existing testing examples (prior to v6) that have been moved to "Integration Testing" to more accurately represent an integration test.  It looks like the [v6 testing docs](https://github.com/ngrx/platform/blob/6.1.2/docs/store/testing.md) were just moved into this section without updating them.

[2019-06-17 18:58] znikola opened #1953 "Example: Update book search failure action with only error message"
## Minimal reproduction of the bug/regression with instructions:

strictActionSerializability throws error in case of an @angular/common/http/HttpErrorResponse

The goal is to cause an http error.
Modifying `searchBooks()` in `google-books.service.ts` in the ngrx's `example-app` is enough:

[code]

## Expected behavior:

Since the `xxx` endpoint doesn't exist, the `search$` effect in `book.effects

[2019-06-17 19:47] timdeschryver commented on #1953
This is the desired result. To address your concern, you shouldn't store the error in the store.

For example, you could only use the message:

[code]

[2019-06-17 20:11] znikola commented on #1953
That's certainly possible, but I think there's should be a similar solution for this case, as it's similar to the router state problem which has been solved with `RouterState.Minimal` config.

[2019-06-17 23:45] #1931 closed

[2019-06-18 01:54] jsgoupil opened #1956 "Docs: Add more explanation that you can only have one distinct action type per on function with createReducer"
It is possible to have 2 effects looking at one action. But it seems impossible to have 2 `ons` looking at one action.

https://github.com/ngrx/platform/blob/b07ae4ee835cbc2e9ac9a923c46ca64966c75270/modules/store/src/reducer_creator.ts#L189

It is not obvious and it will override my previous action reducer.

After thinking about it, a selector combining 2 variables will do the job, but it's just n

[2019-06-18 06:27] timdeschryver commented on #1956
If you mean that your using the same action in one reducer, then yes you're right (this also true for a reducer with switch cases).

[code]

If you listen to the same action in multiple `createReducers` then the answer is no, both reducers will listen to the action.

[code]

In the example above, both reducers will react to the action and update there state.

[2019-06-18 06:56] timdeschryver commented on #1952
👍 I agree the testing docs can be enhanced.
I've been keeping a "to document" list to test effects but hadn't have the time to start writing it.

[2019-06-18 13:58] Frad opened #1957 "Impossible to use constructors in initial states"
## Minimal reproduction of the bug/regression with instructions:
I create an initial state of the feature state by calling a constructor like this:

[code]

This causes an error -
[code]

If I use the following syntax, no error appear:

[code]

## Expected behavior:

I expect I can freely create any kind of state objects via constructors.

## Versions of NgRx, Angular, Node, affected browser(s) an

[2019-06-18 14:59] jsgoupil commented on #1956
Thanks for confirming. It's just not intuitive with the "on" keyword that we know for events coming from multiple frameworks.

I was actually doing:

[code]

Granted, this example is quite contrived and can be converted to a selector like I mentioned earlier. But, because it is not explained and fail silently, it is not simple to debug.

[2019-06-18 15:27] jtcrowson commented on #1956
I agree, we all know how switch statements will work, but when using the createReducer method, it's not intuitive.  Two options I can think of:
1. Add documentation to the createReducer function.
2. Add a console warning in development mode:
[code]

[2019-06-18 15:38] timdeschryver commented on #1956
@jtcrowson unfortunetaly we can't add a `dev` check - #1837

[2019-06-18 15:53] Artvic opened #1958 "Ununderstandable unit testing effects error using Jest"
I'm working on two nearly identical test cases where I should assert expect that two NgRx effects return a stream of booleans.
Everything works as expected in the first test case, and although doing the same for the second test case I can't make it to work as expected. Whatever I do, the received value is always an empty array:
[code]
## Working test
**logger.effects.spec.ts:**

[code]

**logger.e

[2019-06-18 15:56] timdeschryver commented on #1957
A class is not serializable, to make it serializable you can use the spread operator:
[code]

[2019-06-18 15:58] timdeschryver commented on #1958
Support questions should be asked on [stackoverflow (with a ngrx tag)](https://stackoverflow.com/questions/tagged/ngrx) or the [gitter channel](https://gitter.im/ngrx/platform) (you can ping me, @timdeschryver).

[2019-06-18 15:58] #1958 closed

[2019-06-18 16:07] jtcrowson commented on #1956
@timdeschryver is there any way to infer whether the app is in production mode?

[2019-06-18 18:15] jtcrowson commented on #1956
Ah okay got it, it's because the reducers get created before `enableProdMode()` is called.  That's because the reducers are just constants in a plain .ts file.  However, `isDevMode()` can be used when the code is not executed until after the app is bootstrapped, which is the case in my issue that contributes error logging for selecting missing feature states: #1897 (btw, shameless plug, I'd love y

[2019-06-18 18:39] jtcrowson commented on #1952
Cool, after discussing with @timdeschryver offline, I'll be working with him on revamping the integration testing sections.

[2019-06-19 06:29] joe-mills opened #1959 "Allow runtime checks to ignore 3rd party dependencies"
I use the ng-oidc-client npm package in my project and it violates the strictActionSerializability rule.  This is good to know and I can submit a request on their github repo but in the meantime I don't want the runtime error being thrown for that library.  Can we disable checks for dependencies or selectively ignore?

## If accepted, I would be willing to submit a PR for this feature

[ ] Yes (As

[2019-06-19 08:17] timdeschryver commented on #1956
Yes exactly @jtcrowson, I'm not sure if there's another way to know if it's a prod build or not. This can be added to the documentation, like you proposed.

[2019-06-19 08:19] timdeschryver commented on #1897
I'm not certain but would this give errors because of the `isDevMode() ` mode?

[2019-06-19 08:21] timdeschryver commented on #1953
I'm not sure if this would be in the same alley as `RouterState.Minimal`, we have the router state in our hands which is not the case if you would like to store an `Error` in to the store.

[2019-06-19 08:27] timdeschryver commented on #1959
Personally I think this change wouldn't have a lot of benefit, in contrary...
If one of the actions is not serializable, you won't have the benefit of having serializable actions. This change would only verify that your own actions are valid, but it misses the whole point of having serializable actions. I would rather know that all my actions are serializable or not, and not make assumptions which

[2019-06-19 11:01] joe-mills commented on #1959
I agree that you need to know the problems exist, even in a dependency, and the checks have really helped a lot with my own architecture but this is not something I can fix immediately myself.

So should I turn the runtime checks off until the maintainer updates their project or I have time to replace it with something else?

[2019-06-19 12:09] jtcrowson commented on #1897
@timdeschryver It should not give errors, because the block of code containing `isDevMode()` would not get executed until after the application has been initialized.  Tested it to verify as well 👍

[2019-06-19 16:56] jimbarrett33 opened #1961 "Share the Entity Change Tracking of NgRx-Data so it can be used with "regular" NgRx-Entity Entities"
## Describe any alternatives/workarounds you're currently using
Without using NgRx-Data the changes in an NgRx Entity collection need to be tracked manually - very similarly to what NgRx-Data does (and what ORMs do on the server).

## Other information:
Not sure if it would be difficult to share the Entity Change Tracking code of NgRx-Data with "regular" NgRx-Entity entities but it seems like this

[2019-06-20 01:19] phillipCouto commented on #1956
Does it matter if prod or dev. It is an error. I think it is justified to print the message so it can be resolved.

[2019-06-20 02:07] alex-okrushko commented on #1956
Maybe we should indeed have the error in regardless prod or dev.

Someone on my team ran into a similar issue - while transitioning onto new Action Creators, they copy-pasted and duplicated the action `type` by accident. They were very puzzled why "order of `on` functions mattered" not realizing that under the hood reducer was mapping to the same type.

[2019-06-20 02:09] #1935 closed

[2019-06-20 09:14] jonrimmer commented on #1826
This would be cool. We have some a helper in our codebase that does something very similar. Some suggestions from our implementation:

- Maybe call these "tasks"? E.g. `createTaskEffect()`
- We automatically dispatch show / hide busy spinner actions at the beginning and end of each task, so it would be useful to expose `onStart` and `onComplete` properties as well.
 - Sometimes you want to cancel

[2019-06-20 11:15] rickvandermey opened #1964 "Http interceptor finalize, when all (side)Effects are done, anyway to check on HTTP request only"
I would like to check wether an HTTP request is being processed or done. I'm using the following setup:

[code]

[code]

this works, but the finalize completes when `RouteHelper.redirectToExternalUrl` has been dispatched, I would expect it would finalize when the `createPayment` service has a response. Is there another way to check this.

(above is a cleaner version, not sure if it actually is cor

[2019-06-20 14:23] brandonroberts commented on #1964
Support questions should be asked in our [gitter channel](https://gitter.im/ngrx/platform)

[2019-06-20 14:23] #1964 closed

[2019-06-20 16:54] timdeschryver commented on #1959
Yes that would be my advice.

[2019-06-20 16:54] #1959 closed

[2019-06-21 12:43] Dutchboy commented on #856
@brandonroberts When do you think it is going to work?

[2019-06-21 14:15] wesleygrimes commented on #1826
@jonrimmer I like the concept of a `task` effect. Much more universal, I think I will refactor the above proposal to follow this convention, as well as providing a way to supply as cancel stream. That is a very common use case.

[2019-06-22 07:37] artem-galas commented on #102
Just friendly reminder

Angular 8.* have Web Workers

- https://angular.io/guide/web-worker

[2019-06-22 15:07] whisher commented on #1834
Hi there,
sorry to bother you but I'd like to know
what's the state of the issue my app is broken :(
using route-store stop my reducers working :((
Best regards :)

[2019-06-22 16:32] SerkanSipahi commented on #1946
@pegaltier When im not wrong is `entity-collection-service` and `entity-services` are two different things (they do almost the same but they're a little different.):

entity-services (interface):
[code]

entity-collection-service (interface):
[code]

This is the only thing with the same behavior:
[code]

[2019-06-22 17:25] SerkanSipahi commented on #1951
@RomainWeb you can dispatch moment (https://momentjs.com/) date object. This works well :)

[2019-06-23 15:13] timdeschryver opened #1968 "Schematics: deprecated usage of Type<T> or InjectionToken<T>"
The schematics are currently generating deprecated versions of `TestBed.get`

[code]

## Other information:

For example:

[code]

Should become:

[code]

## If accepted, I would be willing to submit a PR for this feature

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-06-23 18:04] itayod commented on #1968
@timdeschryver may I take this?

[2019-06-23 18:13] itayod commented on #856
@brandonroberts may I take this?

[2019-06-23 21:27] brandonroberts commented on #856
@Dutchboy @itayod we're going to put together a design for this first, which we have on our list to look at since version 8 has launched.

[2019-06-23 21:29] brandonroberts commented on #1968
It's yours

[2019-06-23 21:48] brandonroberts commented on #1950
Good idea

[2019-06-23 22:01] brandonroberts commented on #1913
Verified that the reproduction is fixed with the `0.6.0` release of `jasmine-marbles`.

[2019-06-23 22:01] #1913 closed

[2019-06-24 07:56] itayod commented on #856
@brandonroberts sounds great!
meanwhile, I have posted a blog that might help users to implement it:
https://medium.com/better-programming/sync-your-state-in-local-storage-with-ngrx-9d6ceba93fc0

[2019-06-24 08:19] biesbjerg commented on #856
I'm using [ngrx-store-sync](https://github.com/biesbjerg/ngrx-store-sync) that I hacked together. Seems to work for my use case.

Putting it here to maybe give you some ideas how to do it (or not do it :D)

[2019-06-24 13:13] rickvandermey commented on #856
@itayod maybe update your article and repo to 8, because of breaking changes in meta reducer

[2019-06-24 13:53] itayod commented on #856
@rickvandermey Thanks for noticing me! but I think most of the users are still on version 7.X. so I guess update it now could lead to some confusion at this point :)

[2019-06-25 06:43] timdeschryver opened #1972 "Store: runtime checks token typo"
## Minimal reproduction of the bug/regression with instructions:

There is a typo at:

https://github.com/ngrx/platform/blob/master/modules/store/src/tokens.ts#L76

It should be:

[code]

[2019-06-25 08:39] laurentgoudet opened #1973 "USER_RUNTIME_CHECKS public injection token"
Providing configuration through an injection token vs. a `forRoot` object allows to more easily (cleanly) configure the `StoreModule`, especially when it's wrapped into another `NgModule` itself being imported by an application.

Meta reducers can be provided through `USER_PROVIDED_META_REDUCERS`, but for some reason `_USER_RUNTIME_CHECKS` is flagged as internal. If it was renamed to `USER_RUNTIME

[2019-06-25 14:50] #1968 closed

[2019-06-25 19:24] jtcrowson commented on #1972
Nice and easy!  I got it.

[2019-06-26 01:46] jtcrowson commented on #1897
@brandonroberts could I get more information on the router-state?  I was unable to reproduce.  Would the user still get an undefined error?  Do we think this message would be worth adding in development?

[2019-06-26 07:29] rosstimothy commented on #1835
Am seeing something similar with
   -  "@ngrx/store": "^8.0.1",
   -  "@angular/common": "^8.0.2",

I have a lazy loaded module, and createFeatureSelector for that module is returning undefined. If I import the module directly into app.module everything works fine.

[2019-06-26 15:48] timdeschryver commented on #1835
@rosstimothy could you create a reproduction for the problem, so we can investigate it?

[2019-06-26 17:30] timdeschryver commented on #1897
(sorry to interrupt)
@jtcrowson the router reducer doesn't have an initial state (so it's still undefined) and will build up a new state on navigation. https://github.com/ngrx/platform/blob/master/modules/router-store/src/reducer.ts#L21

Thus the selector will first receive the `undefined` state (because this is before the first navigation), and logging the message.

[2019-06-27 01:39] jtcrowson opened #1977 "docs: API level documentation for Creator Functions"
I'd like to help NgRx achieve better API level documentation, similar to [angular.io/api](https://angular.io/api).

I'd like to submit a PR to create JSDocs for createAction, createReducer, and createEffect.

This would be a good place to put implementation details, like for createReducer, the fact that only 10 actions can be provided per `on`, and duplicated action type handling (#1956).

## If a

[2019-06-27 02:08] #1972 closed

[2019-06-27 02:12] #1952 closed

[2019-06-27 05:23] minijus opened #1978 "docs: testing changes with overridden selector and setResult"
It feels that there is documentation missing for a case on testing change in selector value using overridden selector.

In a given scenario below the selection from `store` for ready state only receives `false` (initial value of overridden selector), but never receives `true` (the updated value from `setResult`).

There is a small repo with reproduction of scenario: https://github.com/minijus/ngrx

[2019-06-27 18:24] evgenyfedorenko commented on #1953
@timdeschryver what should be done in this one? I can take it if nobody is working on it already.

[2019-06-27 19:39] znikola commented on #1953
Since ngrx is forcing objects provided to actions to be serializable, my proposal would to at least implement and expose a utility method that will make these angular's objects serializable.

[2019-06-28 04:50] agugan opened #1981 "Lifecycle Diagram for NGRX"
The idea is to create a complete life-cycle diagram for ngrx that depicts the structure of ngrx workings. This would include dispatching actions, reducing state, effects triggered, selectors re-triggered.
This diagram would give the developers more in-depth understanding on how ngrx works and also helps to form a mental model before implementing them into their projects.

source: from a conversati

[2019-06-28 05:21] itayod commented on #1950
@timdeschryver @brandonroberts I am available for this one.

[2019-06-28 05:54] timdeschryver commented on #1953
@evgenyfedorenko see https://github.com/ngrx/platform/issues/1953#issuecomment-502824730, the change would be to store the error message, not the error object.

@znikola this isn't an Angular object, it's the JavaScript `Error` object. Imho it's up to you to decide what you want to store.

[2019-06-28 07:00] timdeschryver commented on #1950
Go for it @itayod

[2019-06-28 14:13] znikola commented on #1953
I believe it's an instance of Angular's `HttpErrorResponse` coming from `@angular/common/http` package.

[2019-06-28 14:44] brandonroberts opened #1982 "Docs: add some guidance on when to use strict serializability for actions"
Maintaining serializable actions is something we enforce with run-time checks. In most cases, users may not need to follow such strict guidelines unless they are storing/replaying these actions using external resources.

This would include updating the guide and the API docs for that configuration option.

[2019-06-28 15:28] majo44 commented on #1054
Hello! I have same issue on 8.0.1, ng: 8.0.1, rxjs: 6.5.2
:(

[2019-06-28 16:26] wesleygrimes commented on #1981
For reference, this was the original diagram that I had put together, which was a twist on what @timdeschryver had put together.

The issue with this diagram as @brandonroberts stated, is that it doesn't make it clear that effects receive actions AFTER state has been updated. This ensures that effects receive the latest state value.

We need to have a diagram similar to the below that illustrates

[2019-06-28 18:51] jordanpowell88 commented on #1981
Like @wesleygrimes mentioned, I am fairly new to ngrx but would happy to create the branded diagram to assist other newbies on the lifecycle flow of ngrx. Is the above diagram accurate? What changes need to be made?

[2019-06-29 02:06] alex-okrushko commented on #1981
This is what I've been using myself:

![](https://cdn-images-1.medium.com/max/1600/1*qGx1vqtm-2U_T8Vn0cdzmA.gif)

[2019-06-29 02:12] wesleygrimes commented on #1981
That’s pretty slick @alex-okrushko. I love the way it shows the flow of actions. The only thing I would say is it is still a little unclear that actions hit the reducer first so that state is updated before effects run. Correct?

[2019-06-29 11:24] dkosasih commented on #1918
@timdeschryver, I stumbled upon this thread. let me know if I can work on this

[2019-06-30 19:01] santoshyadav198613 commented on #1843
I will start this by next week.

[2019-06-30 19:15] brandonroberts commented on #1843
Don't start this one yet

[2019-06-30 19:16] santoshyadav198613 commented on #1843
cool.

[2019-07-01 16:03] Frayion commented on #1190
This also solve my issue as well thanks @timdeschryver

[2019-07-01 16:54] timdeschryver commented on #1918
I don't have a strong opinion on this.
Thoughts @brandonroberts / @alex-okrushko ?

[2019-07-01 17:07] brandonroberts commented on #1918
I think 10 is an acceptable number for now. We can revisit if it becomes more common or provide some guidance in the API docs on what to do if you have more than 10

[2019-07-01 18:28] wesleygrimes opened #1985 "Docs: Add example to createReducer of destructuring actions with props"
We need to add more documentation around using actions with `props` with destructuring in the `createReducer` examples here: [createReducer docs](https://ngrx.io/guide/store/reducers).

Maybe consider adding an additional action that has `props` and then update the `createReducer` to use those new props in the `on` method.

An example would be:

[code]

[2019-07-01 23:15] #1953 closed

[2019-07-01 23:19] #1950 closed

[2019-07-02 08:43] moniuch opened #1986 "File structure suggestion"
FEATURE REQUEST

Could we (what I'd call:) improve the folder structure that is being created by the ng add schematics?

IMO, this sort of organization:

[code]

would be much clearer than what we actually get:

[code]

By _clearer_ I mean two things:
- for a dev jumping on a project: it would be one glimpse to notice: oh, ok, they use **store**, so this is where I should expect to find all the re

[2019-07-02 13:46] jordanpowell88 commented on #1981
![flow2](https://user-images.githubusercontent.com/3605268/60517769-3a6d6080-9cae-11e9-9a65-90a624b626dc.png)

[2019-07-02 15:53] allout58 opened #1988 "ChangeItemSetFactory Update does not allow entities with Number IDs"
## Minimal reproduction of the bug/regression with instructions:

https://stackblitz.com/edit/ngrx-seed-data-update-bug

See the type error in the `example()` function, compared with an entity with a String ID

## Expected behavior:

ChangeSetItemFactory.update should allow for updating entities with a Number type ID

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

[2019-07-02 16:22] timdeschryver commented on #1988
The typings are wrong(?) at https://github.com/ngrx/platform/blob/master/modules/data/src/actions/entity-cache-change-set.ts#L88

[2019-07-02 17:23] Riccardo-Andreatta commented on #1020
I am getting the same error when I am upgrading from version 5 to version 6 but running ng update @angular/core --next --force is forcing update to the latest release: is there a workaround to update just to the version I want?

[2019-07-03 07:46] agugan commented on #1981
@jordanpowell88 It looks promising . Since it is not compulsory to call new action from the dispatched action, is there any way to describe that.  Developers might get confused because of that.
I would like to suggest this:
From Action1, -> Reducer  and then Effects -> Action2 -> Reducer
What do you think?

[2019-07-03 11:59] jordanpowell88 commented on #1981
![flow2](https://user-images.githubusercontent.com/3605268/60589825-6b11d080-9d68-11e9-9ed0-51e42e96ee72.png)
@wesleygrimes I agree with you. I believe this seams more readable to me.

[2019-07-03 12:42] wesleygrimes commented on #1981
Looking better! Can you make the line dotted from reducer to effects? This shows you don’t have to have effects as they are optional.

[2019-07-03 13:04] brandonroberts commented on #1981
@jordanpowell88 thanks for working on this! There should be 3 distinct boundaries IMO that we should nail down before iterating on the diagram more.

- Interaction with UI Components - Selecting Data from, and Dispatching Actions to the Store
- Interaction with State - Actions to State Changes (Reducer being mentioned as an implementation detail)

We could have a diagram just for managing state it

[2019-07-03 13:28] brandonroberts commented on #1986
Duplicate of https://github.com/ngrx/platform/issues/1741

[2019-07-03 13:28] #1986 closed

[2019-07-03 13:30] brandonroberts opened #1989 "Store: add runtime checks to ng-add schematic"
When using @ngrx/schematics to generate the root store, the default runtime checks are included. The behavior should be the same when using `ng add @ngrx/store`

[2019-07-03 13:34] pburkindine commented on #1978
More generally, setResult should cause the observable to emit.  As it stands we cannot make any use of the MockStore for long-lived streams in components, for example.

[2019-07-03 13:48] a88zach opened #1990 "Cannot generically handle actions with new creator functions"
With previous version of NGRX we could easily extend a base class when creating new Actions and then ensure those actions are handled in a generic way.  A good example for this scenario is handling FAIL actions.

[code]

Then we could create an effect like:
[code]

With the new creator methods, this becomes much more complicated.  We need the ability to handle similar actions in a generic way with

[2019-07-03 13:56] jonr-elsewhen opened #1991 "Immutability check reducer is not compatible with IE11"
## Minimal reproduction of the bug/regression with instructions:

Can't include a repro as StackBlitz does not work in IE11.

Trying to run an app that uses NgRx in 11 in non-prod mode produces the following error:

[code]

It occurs here: https://github.com/ngrx/platform/blob/c59c21150293ad2c9ee5b03782b4fda7ce9f15c7/modules/store/src/meta-reducers/immutability_reducer.ts#L23

Seems to be the same

[2019-07-03 14:27] brandonroberts opened #1992 "Store: add minimal setup option for schematics"
Adds a `minimal` flag when using `ng-add` or `@ngrx/schematics` for store.

- Registers an empty object with `StoreModule.forRoot()` with default runtime checks
- No initial `reducers/index.ts` file

[2019-07-03 14:53] minijus commented on #1978
Exactly, `setResult` could internally re-apply current state on store. Maybe by calling setState on store instance internally.

[2019-07-03 15:02] KrzysztofKarol opened #1993 "@ngrx/store, @ngrx/data Detected unserializable action at "payload.data.error" (DataServiceError)"
## Minimal reproduction of the bug/regression with instructions:

https://stackblitz.com/edit/data-service-error?file=src%2Fapp%2Fpost-data.service.ts

## Expected behavior:

DataServiceError is somehow serializable or I can catch it and serialize on my own

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

@angular/common: 8.1.0
@angular/compiler: 8.1.0
@angular/co

[2019-07-03 15:09] brandonroberts opened #1994 "Effects: add minimal setup option for schematics"
Adds a `minimal` flag when using `ng-add` or `@ngrx/schematics` for effects.

- Only applies when `--root` flag is used
- Registers an empty array with `EffectsModule.forRoot()`
- No generated effects file

[2019-07-03 15:40] santoshyadav198613 commented on #1994
Can I take it @brandonroberts .

[2019-07-03 15:41] brandonroberts commented on #1994
@santoshyadav198613 I'm working this one already. Just opened an issue for tracking

[2019-07-03 15:45] santoshyadav198613 commented on #1994
Ok thanks.

[2019-07-03 16:03] brandonroberts opened #1996 "Schematics: Add and import feature key for reducer state"
Currently, when we register a feature, we tie to it the reducer using a string, such as:

`StoreModule.forFeature('users', fromUsers.reducer)`

This would add an exported "feature key" to the reducer file and import it to prevent typos.

In the reducer file:

[code]

Where the feature is registered

[code]

Where the top-level selector is used

[code]

I'd propose updating the docs, and example ap

[2019-07-03 17:26] timdeschryver commented on #1991
Can you reproduce it with the ngrx example-app located in this project?
If I open up the example app, I can't reproduce this behavior.

[2019-07-04 06:20] timdeschryver commented on #1990
The closest solution to the current one that you're using would be to create a fail action helper.

[code]

Another possibility is to create higher-order function that wraps your effects. This higher-order effect will process the errors.

[2019-07-04 06:20] #1990 closed

[2019-07-04 07:19] MaoScut commented on #1948
still don't know how to custom http url for entity.

Say I have entities group by sidebar menu. The backend api urls are '/api/menu1/hero', '/api/menu2/book'.
if use 'EntityCollectionDataService', just
[code]
because 'EntityCollectionDataService'  doesn't dispatch actions, so I turn to use EntityCollectionService.
But how to config the root url?

[2019-07-04 10:49] jonr-elsewhen commented on #1991
The underlying issue was that one of the objects in our store had a function property. You can reproduce it in the example app by adding a function to the initial state of some some reducer.

See the PR I submitted for more info. This bug also showed up in ngrx-store-freeze: https://github.com/brandonroberts/ngrx-store-freeze/issues/7

[2019-07-04 13:54] #1918 closed

[2019-07-05 13:53] a88zach commented on #1990
Thanks @timdeschryver for the response, but this doesn't solve the issue.  Think about a FAIL action where the failure is handled in an effect in a generic way, but the FAIL action also needs to do something specific in a reducer.  For instance an http failure when paging in a result set would update the results state in the reducer to an empty array and the effect would be responsible for showing

[2019-07-05 16:46] timdeschryver commented on #1990
The described scenario can be handled:

- use `__isFailure` in effects
- use `.type` in reducers, or `loadBookFailure` with `createReducer` (the above action has `[Book Exists Guard] Load Book` as type)

[2019-07-05 19:37] #1991 closed

[2019-07-05 21:46] dmitry-kostin commented on #348
Did anybody find appropriate solution for this problem? Just looking here if this scheme for shared store and two apps could work?

[2019-07-07 16:33] jasedwards commented on #931
The provideBootsrapEffects works fine for root effect but when used in a feature module the ngrxOnInitEffects is never called for that effect.    Is there any plan to have an actual solution built in for this?

[2019-07-07 17:47] jtcrowson commented on #1996
I can take this.  I noticed Schematics is labelled, do we want the schematics updated, along with the docs and example app?

[2019-07-07 18:04] #1977 closed

[2019-07-07 18:21] #1852 closed

[2019-07-07 18:27] #1988 closed

[2019-07-07 18:30] brandonroberts commented on #1996
Yes, all of those should be updated

[2019-07-07 18:37] #1938 closed

[2019-07-08 08:09] agugan commented on #1981
@brandonroberts I am not clear with point 2.

Should we demonstrate the state changes?

Also for this

I am thinking we can have two flows one with effects - { dispatch : false }, and one with { dispatch: true },

So Summarizing, we will have 3 diagrams.
1. UI Interaction  with state changes demonstration (no effects)
2. UI Interaction  with state changes demonstration (with effects with dispatch:

[2019-07-08 16:28] pburkindine opened #2000 "MockStore .setResult() does not emit on observable"
* `MockStore` mock selectors created with `overrideSelector` do not emit on the stream when `.setResult` is called

* This is essential functionality for testing long-lived streams, e.g. `| async` streams, and replacing Store in component tests

* If another approach is preferred, it needs to be indicated in the documentation

## Minimal reproduction of the bug/regression with instructions:

https

[2019-07-08 16:50] jtcrowson commented on #2000
@pburkindine I don't see the `sample-component` folder in the linked repo.

[2019-07-08 17:04] pburkindine commented on #2000
@jtcrowson 	D'oh!  Try again please :D

[2019-07-08 18:06] timdeschryver commented on #2000
To retrigger a state change, you must set a result on the store.
AFAIK we can't do this for you because a selector is just a pure function:

[code]

[2019-07-08 18:06] #2000 closed

[2019-07-08 18:25] timdeschryver commented on #1978
See https://github.com/ngrx/platform/issues/2000#issuecomment-509331815

[2019-07-09 01:32] Samywamy10 opened #2001 "Detected unserializable action at..."
## Minimal reproduction of the bug/regression with instructions:

If you click 'Trigger Unserializable Action' and have a look in the console you will see the error, with `strictActionSerializability` set to true in `app.module.ts`. Full example:

https://stackblitz.com/edit/ngrx-unserializable-action-bug

## Expected behavior:

There are no unserializable types in the action I am dispatching. I w

[2019-07-09 06:02] timdeschryver commented on #2001
A `class` instance is unserializable.
You could solve this by spreading it into a JS object:

[code]

[2019-07-09 06:02] #2001 closed

[2019-07-09 12:04] molily opened #2003 "Store: provideMockStore(), frozen initialState with a Date object"
## Minimal reproduction of the bug/regression with instructions:

- Set up a component spec that uses `provideMockStore()`.
- Pass an initialState that has a frozen Date object (e.g. `Object.freeze(new Date())`).
- Run spec
- Angular fails while compiling the test module with this exception:

Failed: Cannot add property __anonymousType, object is not extensible
at <Jasmine>
at identifierName (@ang

[2019-07-09 13:28] brandonroberts opened #2004 "Schematics: Schematic fails with cryptic error when a project is not specified"
Copied from: https://github.com/nrwl/nx/issues/1545

_[Please make sure you have read the submission guidelines before posting an issue](https://github.com/nrwl/nx/blob/master/CONTRIBUTING.md#-submitting-issue)_

## Expected Behavior
Please describe the behavior you are expecting

When running the below command without a `--project` flag, I expect the error message to reflect the missing flag, ins

[2019-07-09 15:32] #1985 closed

[2019-07-09 16:42] #1992 closed

[2019-07-09 16:44] brandonroberts commented on #1994
Fixed via https://github.com/ngrx/platform/pull/1998

[2019-07-09 16:44] #1994 closed

[2019-07-09 16:44] brandonroberts commented on #1989
Fixed via https://github.com/ngrx/platform/pull/1998

[2019-07-09 16:44] #1989 closed

[2019-07-09 17:53] timdeschryver commented on #2003
The issue that you're encountering is due to the angular compiler - https://github.com/angular/angular/blob/master/packages/compiler/src/compile_metadata.ts#L43

The value of `new Date()` is `'Tue Jul 09 2019 19:49:49 GMT+0200 (Central European Summer Time)'`. Because it has a `)` in it, the compiler threats this as a function.

I'm not sure if it's smart to make `new Date()` your root state.