[2022-07-10 22:56] markostanimirovic commented on #3481
Hi @moniuch,

You can use the `createFeature` function to get selectors for feature state properties. Together with `@ngrx/entity`, its usage would look like this:

[code]

---

[code]

[2022-07-11 19:48] moniuch commented on #3481
@markostanimirovic Thank you very much for providing such an elaborate answer! In fact I completely forgot about `createFeature`. Appreciated!

[2022-07-11 19:48] #3481 closed

[2022-07-12 05:50] timdeschryver opened #3482 "Component-store effect type issue"
### Minimal reproduction of the bug/regression with instructions

https://gist.github.com/yharaskrik/63a178b0561f4a867e20458f7db0d83c

### Minimal reproduction of the bug/regression with instructions

V14.0.1 broke the snippet

### Versions of NgRx, Angular, Node, affected browser(s) and operating system(s)

NgRx: v14.0.1

### Other information

Coming from a twitter conversation https://twitter.c

[2022-07-12 11:33] #3482 closed

[2022-07-13 06:01] Harpush opened #3486 "component-store: Add immutability check to updater"
### Information

Ngrx store allows enforcing immutability in reducers by freezing the state after each reducer update in dev mode. This way you can't accidently mutate the state.

Component store updater is intended to be a reducer case (written in documentation) thus mutating is not intended. By adding the same freeze state in component store in dev mode this can be enforced.

In ngrx store there

[2022-07-13 08:53] omarboulbaze commented on #2831
This fixed the issue for me

[2022-07-15 09:43] markostanimirovic opened #3491 "Add migration for replacing `ReactiveComponentModule` with `LetModule` and `PushModule` on `ng update`"
### Information

Add migration that replaces `ReactiveComponentModule` with `LetModule` and `PushModule` on `ng update`.

It should cover the following scenarios:

1. Import/export in Angular module:

**Before:**

[code]

**After:**

[code]

2. Import in standalone component:

**Before:**

[code]

**After:**

[code]

[2022-07-17 13:37] david-shortman commented on #3491
I'll take this!

[2022-07-17 14:08] markostanimirovic commented on #3491
Thanks @david-shortman!

[2022-07-17 20:39] markostanimirovic opened #3495 "Router state is not serializable when custom title Resolver is used"
### Minimal reproduction of the bug/regression with instructions

If a route uses custom title Resolver:

[code]

The router state won't be serializable because the value of `routeConfig.title` will be `TestResolver` class.

### Minimal reproduction of the bug/regression with instructions

The value of the `routeConfig.title` property should be resolved title.

### Versions of NgRx, Angular, Node,

[2022-07-18 14:37] pkobakov commented on #2831
for me as well . Thank you very mouch

[2022-07-21 23:36] ZahraRahmani opened #3497 "Make the remote redux devtool work for physical devices or emulators"
### Information

Is there a way to set up redux devtool for android/ios physical devices? Running an app with ionic serve will show the state and actions on the browser, I was looking for a way to make it work for the actual devices or emulators. I have been following https://gist.github.com/rob3c/c2c4dcc1116f94901ace179722c5f6d4 and https://medium.com/nextfaze/remote-debugging-ngrx-store-with-ion

[2022-07-22 07:54] smorandi commented on #3165
yes exactely. we use ngrx also as data-cache, so that we dont alwayys have to call backend endpoint again and again for data we already have loaded. thats when we used the loaded$ observable.when it was set we knew tat at some pont „somebody“ requests ALL the data from a certain endpoint and dont have to load it again…unless forced to (e.g. a forced reload).
so i think a curent workaround could be

[2022-07-25 17:46] blove opened #3500 "RFC: Instrumented Selector"
### Information

# Summary

NgRx's `createSelector` and `createSelectorFactory()` functions currently do not support developer instrumentation for debugging the performance of a selector. the goal of this RFC is to propose the creation of an ergonomic API for instrumenting memorized selectors with no breaking changes that further has zero impact on the current performance of memorized selectors.

[2022-07-26 06:43] MotassemJa opened #3501 "Add extra source to the actions that wont affect the type"
### Information

One rule of the good action hygine is not to reuse actions. The reason for this is clear, when we reuse actions, we wont be able to detect the source of this action, which makes debugging really harder.

However, there are some scenarios in which reusing actions is the cleanest approch (in my opinion). For example consider the following two cases:

**1. Handling api errors in a ce

[2022-07-26 12:05] brandonroberts commented on #3501
Thanks @MotassemJa. We aren't looking to add additional data to actions as they are. You can wrap action creators and the dispatch to do this in userland code.

[2022-07-26 12:05] #3501 closed

[2022-07-26 12:53] eggbeard commented on #3501
You might find this article useful:

https://indepth.dev/posts/1407/force-good-action-hygiene-and-write-less-actions-in-ngrx-with-the-prepared-events-pattern

[2022-07-26 13:45] david-shortman commented on #3501
Consider reacting to metadata in actions for common behavior like errors- https://dev.to/davidshortman/describe-your-ngrx-actions-more-to-write-less-code-1fij

[2022-07-26 17:30] timdeschryver commented on #3421
Closing this for now because I can't reproduce it on various devices.
If this is still happening, feel free to open a PR with a fix.

[2022-07-26 17:30] #3421 closed

[2022-07-29 13:00] brandonroberts commented on #3500
Thanks Brian for the interesting use case. I'm of the opinion that instead of adding another way to create a selector, we should allow the instrumentation of an existing selector if possible. That way we could have some sort of `instrumentSelector` function that's generic enough to be customized.

Thoughts?

[2022-07-30 08:54] DibyodyutiMondal commented on #3345
[code]

The function `timeSlice.mergeCells.month(period)` returns an array of objects that I want to iterate over.
But I also need the full array, because I need the array length to get the array's last item's index and use that to apply a certain class if it is the last item.

However, if I do not wrap the call in square braces and make an artificial array, then I cannot use `ngFor` inside the `n

[2022-07-30 11:22] Harpush opened #3507 "component-store: Make selectors debounce better and easier to use"
### Information

Currently debounce can be used by passing to select `{ debounce: true }`. That means a selector must be either debounced or not.
This creates a few problems:
1. Any debounced selector cannot be used easily in effects
2. Any selector based on debounced selector is actually kind of debounced too - but not always how you would expect. That makes even one debounced selector a dangerou

[2022-07-31 08:26] adlion commented on #835
In my case  I will get state undefined when calling the selector or AppComponent.
If I ask for it inside one of route components there is no error.
Also the solution @PuffPastry  mentioned works for AppComponent but it will cause some issues with guards and resolvers.

[2022-08-02 00:10] blove commented on #3500
@brandonroberts agreed; that was the proposed `createInstrumentSelector()` function that would accept a `MemoizedSelector` instance and instrument with the provided callback function.

[2022-08-02 02:49] brandonroberts commented on #3500
Oh ok, I see. There would need to be some tweaking on the types, tests, and docs to move it forward. My other question is an instrumented selector throwaway code after the performance analysis is done?

Also would like some thoughts from @timdeschryver @markostanimirovic

[2022-08-02 18:38] timdeschryver commented on #3497
I'm converting this to a discussion because this is more a question than a bug/feature.

[2022-08-02 18:51] timdeschryver commented on #3500
First, I like the idea.

My initial thought is that the developer needs to first suspect that there's an issue, and that it's caused by a selector. What if we make this the default behavior while running in non-prod mode.
For example, we could warn if a selector takes more than X ms and/or if it's running excessively.

If we don't want that, we could also opt for adding a config option to a select

[2022-08-03 17:26] markostanimirovic opened #3509 "Add missing imports to the "Using Dependency Injection" guide"
### Information

1. The `inject` function import is missing in the ["Injecting Reducers" example](https://ngrx.io/guide/store/recipes/injecting#injecting-reducers).
2. The `ActionReducer` type import is missing in the ["Injecting Meta-Reducers" example](https://ngrx.io/guide/store/recipes/injecting#injecting-meta-reducers).

### Documentation page

https://ngrx.io/guide/store/recipes/injecting

##

[2022-08-04 09:48] yurakhomitsky opened #3511 "Incorrect behavior of @ngrx/avoid-mapping-selectors lint rule"
### Minimal reproduction of the bug/regression with instructions

![image](https://user-images.githubusercontent.com/54478076/182818233-5ea777af-5dc4-424d-82f8-5a9db4761e14.png)

### Minimal reproduction of the bug/regression with instructions

1. install ngrx-eslint-plugin: "@ngrx/eslint-plugin": "^14.0.2",
2. add to eslint config :			```extends: ['plugin:@ngrx/recommended'],```
3. Use this.store

[2022-08-04 13:11] yurakhomitsky opened #3513 "Incorrect behavior of @ngrx/avoid-dispatching-multiple-actions-sequentially"
### Minimal reproduction of the bug/regression with instructions

![image](https://user-images.githubusercontent.com/54478076/182854312-a1ccb2d1-ab37-4f8f-b424-7544c6f435f9.png)

### Minimal reproduction of the bug/regression with instructions

1. install ngrx-eslint-plugin: "@ngrx/eslint-plugin": "^14.0.2",
2. add to eslint config : extends: ['plugin:@ngrx/recommended'],
3. In the ngOnInit dispat

[2022-08-04 16:37] brandonroberts opened #3514 "Docs: Add page on createActionGroup"
### Information

Add a documentation page explaining `createActionGroup` in NgRx Store and embed the YouTube video about it also.

### Documentation page

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-08-04 16:50] santoshyadavdev commented on #3514
Can I take this.

[2022-08-04 16:53] brandonroberts commented on #3514
Check with @markostanimirovic to be sure he hasn't started it yet

[2022-08-04 17:02] santoshyadavdev commented on #3514
Cool @markostanimirovic let me know, if you are already doing it.

[2022-08-04 17:54] #3509 closed

[2022-08-04 20:50] markostanimirovic commented on #3514
I haven't started it yet. You can take it @santoshyadavdev 🙂

[2022-08-04 21:06] markostanimirovic commented on #3514
Here is a list of resources that may be helpful for writing a page about `createActionGroup`:

- [API](https://ngrx.io/api/store/createActionGroup)
- [Creating Actions with NgRx Just Got Even Easier](https://youtu.be/rk83ZMqEDV4)
- [NgRx Action Group Creator](https://dev.to/ngrx/ngrx-action-group-creator-1deh)
- [The TypeScript Gluten Behind NgRx createActionGroup](https://liveloveapp.com/blog/202

[2022-08-04 21:54] blove commented on #3500
I would generally be in favor of:
- Warnings when a selector's projection function computation exceeds X ms, provided there was a boolean flag to disable the warnings.
- Warnings when a selector is invoked X times in Y interval, again, provided there was a boolean flag to disable the warnings.
- Further enabling the instrumentation of a selector as necessary.

Would adding a configuration option t

[2022-08-05 12:18] timdeschryver commented on #3511
Could you elaborate this use case a bit more please?
In the snippet shown, the map that's giving the error isn't doing anything with the selector's result, so I would move it to the map  logic of the switchMap

[2022-08-05 13:38] yurakhomitsky commented on #3511
@timdeschryver, sorry for the lousy screenshot, here is another one.
In my case, the map logic could be moved to switchMap's map.

However what if the logic in the switchMap's map would be hard to read and I would want to  move  it to a separate `map`

I was thinking about whether it is possible to not show a warning if there is a switchMap/mergeMap before the map operator in the store selector pi

[2022-08-06 15:32] #3513 closed

[2022-08-07 15:36] ogolan-ig opened #3517 "store-devtools trace tab not working"
### Information

hi,
currently the trace tab displays the message: "To enable tracing action calls, you should set `trace` option to `true` for Redux DevTools enhancer. Refer to [this page](chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/window.html#) for more details"

i could not find any option like trace: boolean in the docs or typescript file. is there an option for tracing? if not will t

[2022-08-08 16:40] timdeschryver commented on #3517
It must be added to our config [here](https://github.com/ngrx/platform/blob/master/modules/store-devtools/src/config.ts) and passed along to the devtools.

Feel free to create a PR for this.

[2022-08-08 19:01] MikeRyanDev commented on #3500
@timdeschryver One challenge to overcome with built-in performance monitoring for selectors is that we don't have a name or symbol to point developers to when a selector has bad performance. `someSelector.name` yields `"memoized"`. Any thoughts on how we might overcome this?

[2022-08-08 19:08] MikeRyanDev commented on #3500
Implementation decisions in the algorithms of projector functions have stood out as a unique source of performance issues in NgRx apps that I've helped review. What I'd like to see achieved with this RFC is an API that lets me monitor the performance characteristics of a single selector function that I believe to be performing slowly. Additionally, I'd like this API o understand the selector graph

[2022-08-09 10:03] Felexonyango opened #3520 "createFeatureSelector' is deprecated"
### Information
Hi am new to Ngrx an i have been trying to create A selector function only to realize that  CreateFeatureSelector is not working. Is there different ways to achieve this ? Thanks

![Screenshot from 2022-08-09 13-03-12](https://user-images.githubusercontent.com/58067903/183622099-fe87cf83-d1d8-49dd-b54b-fb86813abbdf.png)

### Describe any alternatives/workarounds you're currently us

[2022-08-09 10:05] Felexonyango commented on #3520
Any help on this

[2022-08-09 11:19] timdeschryver commented on #3500
@MikeRyanDev to be honest, haven't thought that far 😅
I think you're right that it would be hard (impossible?) to retrieve the name of the selector.
The closest we can get here would be to monitor `store.select` instead of selectors, here we can find the callee. But this would make it harder to monitor the performance of a selector, and the selector tree.

![image](https://user-images.githubuserco

[2022-08-09 11:57] timdeschryver commented on #3520
Hi, we're trying to keep GitHub issues for bug reports and feature requests.
Support questions should be asked on the [NgRx Discord Server](https://discord.com/invite/ngrx), or on [stackoverflow (with a ngrx tag)](https://stackoverflow.com/questions/tagged/ngrx).

https://ngrx.io/guide/migration/v13#createfeatureselector

[2022-08-09 11:57] #3520 closed

[2022-08-09 16:46] rishabhmhjn commented on #2699
Here is a helper abstract class that can be extended to create a ComponentStore with Entity Support using @brandonroberts's example

[code]

[2022-08-09 23:20] brandonroberts commented on #3500
If we add some type of configuration object, we could potentially use that to identify the selector, and provide a default for existing selectors. It would also allow some flexibility in overriding the default projector, and memoization without having to use createSelectorFactory.

[2022-08-10 14:08] yodiaz87 commented on #395
@brandonroberts thanks for your answer, could you be more explicit in the solution that you propose with a simple code example, I am wondering if your are suggesting call StoreModule.forFeature twice in the module. Thanks in advance.

[2022-08-11 19:14] alvipeo commented on #3431
Just spent hours finding this problem. Here's the working example - https://stackblitz.com/edit/angular-ivy-nxf2la?file=src/app/app.component.html.

[2022-08-11 23:50] markostanimirovic opened #3522 "Effects: Introduce Standalone API for NgRx Effects"
### Information

`provideEffects` function should have the same behavior as `EffectsModule.forRoot` and `EffectsModule.forFeature` methods, but it should provide a "module-free" developer experience. This function should have the same signature as `EffectsModule` methods - it should accept an array of effect source classes.

Related discussion: https://github.com/ngrx/platform/discussions/3399

##

[2022-08-12 00:01] markostanimirovic opened #3523 "Remove `entryComponents` from example app"
### Information

`entryComponents` are not needed anymore and should be removed. In the example app, there is one use of `entryComponents` [here](https://github.com/ngrx/platform/blob/master/projects/example-app/src/app/auth/auth.module.ts#L36).

[2022-08-12 02:04] brandonroberts commented on #3522
I don't know if there is an existing type we can use, but we should have types in place that prevent these provider functions to be added to Component providers where they won't register correctly.

[2022-08-12 11:12] brandonroberts opened #3526 "Store: Introduce Standalone API for NgRx Store"
### Information

Introduce standalone APIs for registering the Store and pieces of state for the `@ngrx/store` package. This should allow developers to use Store in a "module-free" application.

Based on the discussion in #3399 we are looking at adding two new functions

`provideStore(reducerMap, rootConfig)` - Registers the root-level providers for the global Store, and initial setup
`provideStat

[2022-08-12 11:19] brandonroberts opened #3527 "StoreDevtools: Introduce Standalone API for NgRx StoreDevtools"
### Information

Introduce standalone APIs for instrumenting the Store with the `@ngrx/store-devtools` package. This should allow developers to use StoreDevtools in a "module-free" application.

Based on the discussion in #3399

[code]

This function will make use of the [ENVIRONMENT_INITIALIZER](https://angular.io/api/core/ENVIRONMENT_INITIALIZER) token to perform any init logic that was previous

[2022-08-12 11:22] brandonroberts opened #3528 "RouterStore: Introduce Standalone API for NgRx RouterStore"
### Information

Introduce standalone APIs for using the `@ngrx/router-store` package. This should allow developers to use RouterStore in a "module-free" application.

Based on the discussion in #3399

[code]

This function will make use of the [ENVIRONMENT_INITIALIZER](https://angular.io/api/core/ENVIRONMENT_INITIALIZER) token to perform any init logic that was previously done in the NgModule con

[2022-08-12 11:32] brandonroberts opened #3529 "Data: Introduce Standalone API for NgRx Data"
### Information

Introduce standalone APIs for using the `@ngrx/data` package. This should allow developers to use NgRx Data in a "module-free" application.

Based on the discussion in #3399

[code]

This function will make use of the [ENVIRONMENT_INITIALIZER](https://angular.io/api/core/ENVIRONMENT_INITIALIZER) token to perform any init logic that was previously done in the NgModule constructor.

[2022-08-12 12:39] brandonroberts commented on #2897
I'll be taking a look at this soon to improve the cleanup of instances when used with HMR

[2022-08-12 15:20] markostanimirovic commented on #3522
@brandonroberts

Good idea! The `importProvidersFrom` function uses `ImportedNgModuleProviders` as return type to show a compilation error if its result is passed to the `providers` array of `NgModule`, `Component`, or `Directive`.

The name `ImportedNgModuleProviders` is not appropriate in our case. I left the comment [here](https://github.com/angular/angular/pull/47010#discussion_r944555004) to

[2022-08-12 15:23] brandonroberts commented on #3522
I like that idea

[2022-08-13 01:46] balajibadly commented on #3431
what is the solution for this? any work around @markostanimirovic?

[2022-08-14 04:40] mauromattos00 commented on #3523
I can do it if it's ok @markostanimirovic 🙂

[2022-08-14 19:07] alex-okrushko commented on #3431
Even through there is an expectation that `next` callback doesn't throw an error, we can adjust to catch errors in the `next` as well, I don't think there's a problem.

The question that I have is would you expect an error in the `error` callback to be handled somehow as well?

[2022-08-14 20:56] alvipeo commented on #3431
In my opnion, whatever happens in both - no exception must be swallowed. If it throws in `next` => `error` should be fired. If it's thrown in `error` => console.error by default. But add the option to override this.

[2022-08-14 22:43] markostanimirovic commented on #3523
Thank you @mauromattos00!

[2022-08-14 22:45] #3523 closed

[2022-08-15 17:41] yharaskrik commented on #3529
Dangit santosh!

[2022-08-15 17:43] santoshyadavdev commented on #3529
Take this one https://github.com/ngrx/platform/issues/3528

[2022-08-15 17:44] yharaskrik commented on #3529
Haha I was just working on it! Great minds think alike!

[2022-08-15 17:47] yharaskrik commented on #3528
@brandonroberts how do we want to handle all of the private/init functions that are currently in the `StoreRouterConnectingModule`? Refactor them to plain functions and then use them in both places? Or should we leave the existing module as it is and then rewrite the logic so that it can be used in the environment initializer?

[2022-08-15 17:51] yharaskrik commented on #3528
OR I guess, make a `StoreRouterConnectingService` that is initialized using an environment initializer in both the provider function and the forRoot method that essentially takes all the init logic from the module and moves it into a service?

[2022-08-15 17:52] brandonroberts commented on #3528
This is what I was thinking, just move the NgModule class into a separate service and initialize it with the initializer, and just inject it into the constructor of the NgModule

[2022-08-15 17:52] yharaskrik commented on #3528
Perfect! Already begun.

[2022-08-15 17:53] yharaskrik commented on #3528
Actually, should I use the same environment injection in both the provider function and ngModule? Or should the ngmodule `init` it by injecting into the constructor? (they should be equivalent?)

[2022-08-15 18:02] brandonroberts commented on #3528
Yea, they should be equivalent. Using the Environment Initializer token in both seems reasonable to me

[2022-08-15 18:17] yharaskrik commented on #3528
Inital PR done, I have some meetings for the rest of the day but will come back and update the documentation.

[2022-08-15 18:28] alex-okrushko commented on #3500
`createSelectorFactory` is a way to extend or adjust the behavior of selectors. Instead of increasing the API surface of selectors I'd suggest to use this function instead.

e.g. for measuring selector's performance one can create the following (one time implementation):

[code]

now any selector can be instrumented in the app:
[code]

This approach allows teams to implement the instrumentation lo

[2022-08-15 19:46] #3266 closed

[2022-08-16 00:25] brandonroberts opened #3536 "Schematics Core: Add ability to add providers to bootstrapApplication function"
### Information

Support adding providers to the bootstrapApplication function in preparation for NgRx APIs for Angular apps using standalone components for bootstrapping.

This will be added to the `ng-add` schematic for each library with a `--standalone` flag

Before:

[code]

After

[code]

### Describe any alternatives/workarounds you're currently using

Manual

### I would be willing to submi

[2022-08-16 05:17] yharaskrik commented on #3527
I got this one.

[2022-08-16 05:42] yharaskrik commented on #3526
@brandonroberts did you start this? 👀

[2022-08-16 11:57] demike opened #3538 "Selector Release with Props"
### Information

There is no way to selectively remove memoized selector results based on arguments.

Think of a big tree where a selector returns a node.   getNode(id: string)

In addition we can remove a specific node: removeNode(id: string)
In this case i would like to call `reset(id)` on the getNode selector, to just remove one memoized call (not all).

Imagine the selector would have to do mo

[2022-08-16 12:03] markostanimirovic commented on #3431
Closed by #3533

[2022-08-16 12:03] #3431 closed

[2022-08-16 13:05] KylerJohnsonDev commented on #2616
This is one of the most common issues I see with the implementation of NgRx. People tend to use `switchMap` even for database writes and, under the right circumstances, it causes subtle issues. @brandonroberts are you still planning to work on this? I'd be happy to take a crack at it.

[2022-08-16 19:05] armodev opened #3540 "ng add schematics has a directory assumption which breaks adding to a specific project"
### Minimal reproduction of the bug/regression with instructions

👀 Please provide instructions how to reproduce schematics behavior in Stackblitz.

### Minimal reproduction of the bug/regression with instructions

1. In an ng cli app created with `--create-application false`, create a library `ng g lib whatever-works` (you should end up having a directory `projects/whatever-works`
2. As per [docs

[2022-08-17 06:28] alexrutkov opened #3541 "Missed provide ENTITY_METADATA_TOKEN in EntityDataModuleWithoutEffects"
### Minimal reproduction of the bug/regression with instructions

Should add in [entity-data-without-effects.module.ts](https://github.com/ngrx/platform/blob/master/modules/data/src/entity-data-without-effects.module.ts)
`{
          provide: ENTITY_METADATA_TOKEN,
          multi: true,
          useValue: config.entityMetadata ? config.entityMetadata : [],
        },
 `
as in [entity-data.module

[2022-08-17 11:49] #2991 closed

[2022-08-17 11:52] timdeschryver commented on #3541
Hi @alexrutkov it's hard to follow here.
What are you trying to do that resolves in this error?

If I'm not mistaken, the `ENTITY_METADATA_TOKEN` token is missing from `EntityDataModuleWithoutEffects` ?

[2022-08-17 12:16] timdeschryver commented on #3540
Hi, did you try to provide the module option?

[code]

[2022-08-17 13:04] KylerJohnsonDev commented on #3507
In my option, the selector should provide the ability to read a value from store, but it shouldn't control when the value gets emitted. Instead, it's better for the consumer of the selector to control when it listens. You can always create a reusable RxJS pipe  if multiple consumers need to do this the same way like:

[code]

In effects, if you need the latest value from a selector, you can use th

[2022-08-17 17:14] Harpush commented on #3507
Your examples are about the global store and this issue is about component store. In the global store the debounce flag does not exist as you can listen to the same action in multiple places thus forming a single update and a single emission (it have its own SRP problems though...). In ComponentStore you don't have this privilege as two updates to two different ComponentStores can't be batched. Th

[2022-08-17 20:02] KylerJohnsonDev commented on #3507
@Harpush Oh, right. My mistake. I removed my comment so that it doesn't distract from any discussion about this issue. I'm sorry for the trouble.

[2022-08-17 20:47] armodev commented on #3540
No, I did not. Will try it next time, now I had to move on with my stuff.

When I read in the docs that I can provide the name of the project to _help locating the module_, I prefer this over providing a long path, prone to typos.
Why isn't it enough to provide name of the project?

Probably there is some reasoning behind this convoluted syntax and redundant-looking flags. It would be good to expl

[2022-08-19 09:55] bogdan-panteleev commented on #3264
Hello guys, is it possible to implement this logic
'afterEach(() => {
  getTestBed().inject(MockStore, null)?.resetSelectors();
});'
inside the ngOnDestroy hook of mock store?

[2022-08-19 14:03] stefaanderoeck opened #3542 "Walkthrough"
### Information

Following the walkthrough at https://ngrx.io/guide/store/walkthrough does not yield a working end result.

Starting from https://ngrx.io/generated/live-examples/ngrx-start/stackblitz.html and following the instructions results in errors.
The link to the already completed example https://ngrx.io/generated/live-examples/store-walkthrough/stackblitz.html however does work correctly.

[2022-08-19 16:40] timdeschryver commented on #3542
Good catch @stefaanderoeck , feel free to create a PR with the needed changes.

[2022-08-20 19:12] timdeschryver commented on #3540
I tried this, the correct command is the following.
You need to provide the project (from angular.json) and the name of the module's file.

[code]

[2022-08-20 19:12] #3540 closed

[2022-08-21 04:46] alexrutkov commented on #3541
I want use just EntityDataModuleWithoutEffects, but can't...get a lot mistakes.
Start use native Store.

[2022-08-21 13:14] billyjov opened #3543 "Add ability to generate actions with createActionGroup using schematics"
### Information

We are currently be able to generate actions using schematics.

https://ngrx.io/guide/schematics/action

The generated file contains all actions  like this:

[code]

It will be helpful if the developer have the ability to group them using the new `createActionGroup` function to reach following result directly during file generation.

[code]

## Proposal

`ng generate action Action

[2022-08-22 16:59] MikeRyanDev commented on #3500
@alex-okrushko This is the solution Brian and I use with clients right now. There are several drawbacks to this approach:
1. Documentation on how to use `createSelectorFactory` is lacking
2. Using `createSelectorFactory` in this way is non-intuitive
3. This approach doesn't trace input selectors as this RFC suggests

It's point #3 that I think best demonstrates the need to bring this into the libr

[2022-08-23 00:59] markostanimirovic opened #3545 "RFC: Use `*ngrxLet` to create a view model object in the template"
### Information

The `*ngrxLet` directive could be used to create a view model object in the template as follows:

[code]

It would be possible to pass a dictionary of observables whose results will be stored in a template variable (`vm` in this example). ~~If an observable name contains the `$` suffix, then the suffix will be removed:~~

- ~~`books$` => `vm.books`~~
- ~~`books` => `vm.books`~~

*

[2022-08-23 13:08] brandonroberts commented on #3543
Good idea. I'd like to take this a step further and make `createActionGroup` the default when using schematics to generate actions/features

[2022-08-23 13:23] timdeschryver commented on #3543
@brandonroberts I think that would be great, but maybe with that until we release v15?

[2022-08-23 13:28] brandonroberts commented on #3543
Yep, we can pick this back up after the last 14.x release

[2022-08-23 16:37] #3526 closed

[2022-08-24 06:24] e-oz commented on #3545
combineLatest is not the same - it will not emit until every source is emitted at least once. It's not an issue when all the sources are from some store, but it might not always be the case.

ngIf map is not quite reliable - in some circumstances, it might ignore the emitted value. I’m from mobile and forgot the exact case - I’ll check later from my laptop. Something related to lifecycle, 100% rep

[2022-08-24 11:46] #3528 closed

[2022-08-24 11:53] #3527 closed

[2022-08-24 18:08] markostanimirovic commented on #3545
I'd like to see the case when `*ngIf` map ignores emitted value, thanks @e-oz!

Btw, `*ngrxLet` with an observable dictionary will have the same behavior as an alternative with `combineLatest`.

[2022-08-24 18:55] #3522 closed

[2022-08-24 19:11] e-oz commented on #3545
Is it possible to make it safe, like
[code]
?

Then for streams with values, nothing will be changed - they'll emit their values first (BehaviorSubject, or non-empty ReplaySubject). And values for other streams would be presented as "undefined" (and it's true). This way we can know for sure that vm$ will not be stuck.

[2022-08-26 05:12] jon-armen commented on #3385
@sod , I'm a little late to this discussion, but I understand your point.  I too was recently frustrated tracking down bugs caused by not strongly typing the root state.

[2022-08-26 10:14] AleksanderMerhar opened #3547 "[@ngrx/effects] Throws errors with typescript@4.8.2"
### Minimal reproduction of the bug/regression with instructions

Install "typescript" 4.8.2 with  "@ngrx/effects" 14.3.0 using npm.

### Minimal reproduction of the bug/regression with instructions

Should not throw any errors in node_modules

### Versions of NgRx, Angular, Node, affected browser(s) and operating system(s)

All versions are latest.
Angular: 14,
Node: latest
OS: Windows,
Browser:

[2022-08-28 16:30] #3514 closed

[2022-08-28 17:14] #3511 closed

[2022-08-29 13:47] #3547 closed

[2022-08-29 13:54] timdeschryver commented on #3543
@danielkleebinder that isn't possible.
`createActionGroup` requires a source, and the event description doesn't accept string values with `[` or `]`.

The actions should be combined per source, in your example this becomes `booksListPageActions` and `booksApiActions`. This still follows the best practices because actions are grouped, and are prefixed with the source of the group.

[2022-08-29 14:50] danielkleebinder commented on #3543
@timdeschryver I see, thank you for you response!

[2022-08-29 23:26] markostanimirovic commented on #3545
@e-oz In this case, all view model properties need to have `| undefined` in their type (similar to `ngIf` + `async` alternative) if we want a type-safe result.

I'd rather avoid this behavior because the idea for "`*ngrxLet` + observable dictionary" is to be used with "state" observables (observables that emit the first value synchronously) so we don't need to use the non-null assertion operator i

[2022-08-30 06:33] e-oz commented on #3545
Most of my "state" object fields are T|undefined, because I usually have no initial values for them. But maybe it's just me :)

But you are right - there are workarounds.

[2022-08-30 14:02] aldrashan opened #3554 "Component-store: Debounce stops working correctly with RXJS 7.5.x"
### Minimal reproduction of the bug/regression with instructions

Will try to create a minimal example that displays the problem later.
Our code library isn't quickly exportable right now.
https://stackblitz.com/edit/rxjs-htf8tz?file=index.ts should show this as well (from the issue linked below).

### Minimal reproduction of the bug/regression with instructions

See https://github.com/ReactiveX/r

[2022-08-30 18:11] timdeschryver commented on #3538
How do you see this being implemented?

A selector instance holds its own state, and by using props there will be multiple selector instances (one per invocation).

This should work:

[code]

[2022-08-30 18:27] demike commented on #3538
@timdeschryver thanks for the clarification!

[2022-08-30 18:27] #3538 closed

[2022-09-01 11:52] pheetah opened #3555 "ngrx effects, incompatible with Typescript"
### Minimal reproduction of the bug/regression with instructions

After I updated my Angular application to 14, I had these errors on ngrx/effects:

[code]

### Minimal reproduction of the bug/regression with instructions

If you just download or clone the online-repository, you will get the errors: [Stackblitz](https://stackblitz.com/edit/ngrx-seed-3qgbwa?file=package.json,src%2Fapp%2Freducers%2F

[2022-09-01 11:55] moniuch opened #3556 "Provide adapter method to allow sorting from within reducer"
### Information

I find it unclear how to dynamically change the adapter's sortComparer function in response to table header click in a component.

The example provided in docs:

[code]

and lack of any adapter method to change the sorter afterwards (in response to an action) sounds like a limitation.

My suggestion would be to provide adapter with a method: `adapter.setSortComparer(fn: SortCompar

[2022-09-01 11:55] pheetah commented on #3555
I was able to eliminate the problem just by extending generic functions like this:

[code]

and I can create a PR if you will.

[2022-09-01 12:13] markostanimirovic commented on #3555
@pheetah

Support for TypeScript 4.8 is already merged (see https://github.com/ngrx/platform/pull/3548). It will be released soon.

[2022-09-01 12:13] #3555 closed

[2022-09-01 13:03] markostanimirovic commented on #3556
Hi @moniuch

Changing the sort comparer on the fly would lead to performance issues. See [this comment](https://github.com/ngrx/platform/issues/898#issuecomment-450151217).

You can use the selector to recalculate sorted entity collection when unsorted entity collection, sort column, or sort order changes:

[code]

[2022-09-01 13:03] #3556 closed

[2022-09-01 13:09] moniuch commented on #3556
@markostanimirovic Thanks for explaining, I appreciate that :) Somehow my brain got stuck at thinking about the adapter/reducer part rather than selectors. Could I ask you what is the purpose of this sortComparer then?

[2022-09-02 21:46] edezekiel commented on #3545
I really like this idea. A few thoughts that come to mind:
- This wouldn't be limited to NgRx derived state, right? Could you use it for any dictionary of 'state' observables?
- Are there advantages/drawbacks to this approach compared to [component view model selectors](https://brandonroberts.dev/blog/posts/2020-12-14-maximizing-simplifying-component-views-ngrx-selectors/)?  *ngrxLet seems to save

[2022-09-03 16:30] alvipeo opened #3558 "tapResponse still swallows Errors"
### Minimal reproduction of the bug/regression with instructions

We had [this issue](https://github.com/ngrx/platform/issues/3431) some time ago and it was fixed. But I updated my [stackblitz](https://stackblitz.com/edit/angular-ivy-pzhjks) example and it still doesn't work as expected I think. What am I missing?

### Minimal reproduction of the bug/regression with instructions

see stackblitz

#

[2022-09-04 08:18] sergidt commented on #3558
It looks like the finalize operator is never called when service throws the error, can be a signal!!??

[code]

the string 'finalize' is never shown

[2022-09-04 11:42] alvipeo commented on #3558
I don't want to point to any repo/product here. The guys do a GREAT job. But when it comes to real code, this is what makes it difficult.

In this case `finalize` shouldn't be called as `doSomeProcessing` itself throws. But expecting a service to throw errors is normal, and there must be a clean way of catching them. I just don't see it, which is why I ask.

[2022-09-04 12:56] timdeschryver commented on #3558
@alvipeo There's a difference here.
`tapResponse` catches errors that happen during the request, or while processing the response.

The problem in the stackblitz is that the service throws a JS error, this is something you should handle because it happens outside of the stream (before the stream is created).

If the throw is replaced with a `throwError` (rxjs) or when a request returns a non-succe

[2022-09-04 13:58] alvipeo commented on #3558
@timdeschryver thank you! that's what I thought but I think there might be a construct for this. I may be wrong. It's just if you wrap the `doSomeProcessing` with try-catch, it's going to be too cluttered I think.

[2022-09-04 13:58] #3558 closed

[2022-09-04 14:29] alex-okrushko commented on #3554
I don't think we can do anything about it - it's a broken upstream dependency.

[2022-09-04 16:57] alvipeo opened #3560 "ComponentStore - parameterless effect does not run"
### Minimal reproduction of the bug/regression with instructions

Here's the [stackblitz](https://stackblitz.com/edit/angular-ivy-sjvksu). Please see the working sample.

### Minimal reproduction of the bug/regression with instructions

Run stackblitz.

### Versions of NgRx, Angular, Node, affected browser(s) and operating system(s)

NgRx: 14.3.0

### Other information

_No response_

### I would

[2022-09-04 16:59] alvipeo commented on #3560
As a sidenote - can anyone explain to me why the effect runs just on load? I mean I did not invoke the effect anywhere, only selectors are defined. The only place where the effect is invoked is on `click`...

[2022-09-04 17:42] timdeschryver commented on #3560
@alvipeo the effect should still have a trigger.
It's this piece of code that gets invoked when it's been called.

It runs on load, because that's the initialization code to create the effect.

For more info see #3384

[code]

[2022-09-04 17:42] #3560 closed

[2022-09-04 17:53] alvipeo commented on #3560
@timdeschryver can somebody please write a blog post about it?

[2022-09-04 17:53] alvipeo commented on #3384
This thread deserves a BLOG POST!

[2022-09-04 17:58] alvipeo commented on #3560
@timdeschryver so, if I have multiple effects they all run on load??? I don't get it...

[2022-09-05 22:10] markostanimirovic commented on #3545
Hi @edezekiel,

I'm glad you like it. :)

1. Yes, it could be used with any dictionary of 'state' observables.
2. I also prefer view model selectors/observables, but that's a preference. Using view model selectors is more efficient compared to creating view models via `combineLatest`. On the other hand, there will be no performance difference when creating view models via the `*ngrxLet` directive

[2022-09-07 00:10] edezekiel commented on #3545
Thanks for the response! Based on that I would definitely use ngrxLet except in cases where my component has a facade. When there's a facade I need the typed view model exposed from the facade to the container component.

[2022-09-07 15:47] spierala commented on #3560
Hi @alvipeo, all effects are wired up when the class is instantiated.

This line of code will run when the effect is wired up:
![image](https://user-images.githubusercontent.com/1272446/188919465-cf465c05-2f97-4411-879f-a35c7bb6078c.png)
But that line of code should not be at that place...

As Tim pointed out, you have to pass in the trigger$, also if there is no real parameter.
All your effect lo

[2022-09-07 18:45] alvipeo commented on #3560
Thank you. That must be added to the docs! Both:
- you have to pass in the trigger$, also if there is no real parameter
- All your effect logic should be inside trigger$.pipe()

It's also not very clear where is this `trigger$` coming from. I mean I still don't have a clear pic about what actually trigger is. I probably need to look at the sources for that.

[2022-09-07 19:21] Harpush commented on #3560
You can use the standalone pipe approach which won't have those possible problems

[2022-09-07 19:44] labeled opened #3562 "@ngrx/effects@14.3 not compatible with latest typescript 4.8"
### Minimal reproduction of the bug/regression with instructions

npm install typescript@latest
Attempt to build project

### Minimal reproduction of the bug/regression with instructions

Would expect no compilation errors

### Versions of NgRx, Angular, Node, affected browser(s) and operating system(s)

NgRx: 14.3.0
Angular: 14.6.5
Node: 16.7.0
Browser(s): Chrome
Operating system(s): Windows 10

[2022-09-07 21:07] Harpush opened #3563 "component-store: tap parameter loses type safety in effect if last operator"
### Minimal reproduction of the bug/regression with instructions

It seems that because the effect trigger function return type is `Observable<unknown>` any operator without explicit return type will lose type safety (mono operator).

StackBlitz: https://stackblitz.com/edit/angular-ivy-26zukl?file=src/app/store.service.ts
Code sample:
[code]
Hovering `value` will show `unknown` and not `number`. I

[2022-09-07 21:28] SebastianPodgajny commented on #3562
This is already fixed [here](https://github.com/ngrx/platform/pull/3548). Any information when we can expect ngrx with this fix to be released?

[2022-09-07 21:36] markostanimirovic commented on #3563
Hi @Harpush

Take a look at [this comment](https://github.com/ngrx/platform/issues/3217#issuecomment-957298087). This happens in non-strict or partially strict TS mode - when `strictFuctionTypes` flag is `false`. It can be fixed by setting the `strictFunctionTypes` flag to `true` in `tsconfig.json`.

[2022-09-07 21:42] alvipeo commented on #3560
@Harpush link to docs/blog post?

[2022-09-07 21:44] Harpush commented on #3563
My bad - didn't see that issue. Anyway that really solved it. Maybe add docs about it?

[2022-09-07 21:59] markostanimirovic commented on #3554
Replacing `asapScheduler.schedule` with `queueMicrotask` would most likely solve this issue. If the `asapScheduler` bug is not resolved soon, we can investigate alternatives.

[2022-09-08 05:17] Harpush commented on #3560
It's just a convention I usually use. @timdeschryver referenced an issue with that option there. It's almost impossible to do that mistake:
[code]

[2022-09-08 06:11] alvipeo commented on #3560
Oh, got it! yes, that's much cleaner in my opinion. No "miracles".

[2022-09-08 10:06] rezawikan opened #3564 "EnvironmentProviders is not found"
### Minimal reproduction of the bug/regression with instructions

<img width="963" alt="errror" src="https://user-images.githubusercontent.com/6703691/189095259-c95d144a-c136-48fe-872e-b07ff57b283d.png">

### Minimal reproduction of the bug/regression with instructions

I got the issue when running the unit test
It seems like they can't find EnvironmentProviders
`import { EnvironmentProviders } fr

[2022-09-08 11:08] #3564 closed

[2022-09-08 11:35] rezawikan commented on #3564
@brandonroberts Thanks mate, it works 👍

[2022-09-08 12:01] yurakhomitsky opened #3565 "@ngrx/avoid-combining-selectors not working"
### Minimal reproduction of the bug/regression with instructions

The @ngrx/avoid-combining-selectors rule is not working for some reason.

As you can see I wrote code that is incorrect for another rule to show that my eslint plugin is working.

![image](https://user-images.githubusercontent.com/54478076/189115767-a8a2741a-295f-453b-9741-a7c47daded6f.png)

### Minimal reproduction of the bug/regre

[2022-09-08 16:21] timdeschryver commented on #3562
[v14.3.1](https://github.com/ngrx/platform/compare/14.3.0...14.3.1) Is release 5 hours ago.
Could you retry and validate if it's working for you?
If that's not the case feel free to reopen this issue.

[2022-09-08 16:21] #3562 closed

[2022-09-08 16:22] timdeschryver commented on #3563
I think that's a good idea @Harpush .
The issue has popped up several times in the past :)

[2022-09-09 02:23] robertabramski commented on #3401
I'm seeing the same issue with the arrow function. When subscribing to `getAll` and adding an error function, I have to call the argument passed in to get the whole `DataServiceError`.

[code]

This will return a populated error after calling the function. If there is a reason for the function wrapper, I'm afraid I'm not seeing it. It's not too much trouble to just call the function to get the err

[2022-09-09 17:01] drk-mtr commented on #3562
The 14.3.1 update resolves this issue for me - thanks for the fast fix!

[2022-09-11 19:24] Harpush opened #3568 "component-store: selectors recalculate order and amount cause inconsistencies"
### Minimal reproduction of the bug/regression with instructions

https://stackblitz.com/edit/ngrx-seed-xboxzw?file=src/app/store.service.ts
Open console and see the logs

### Minimal reproduction of the bug/regression with instructions

Due to `combineLatest` usage inside component store select each dependent selector emission invokes recalculation. That means even a single update to the reducer

[2022-09-11 19:55] markostanimirovic commented on #3568
Hi @Harpush,

This is the expected behavior of the `ComponentStore.select` method without `debounce`. In cases like this, you can add `{ debounce: true }` as the last argument of the `select` method, so the projector function will be executed when all the state changes within the current microtask occur:

[code]

I will convert this bug report to a discussion because the reported default behavior

[2022-09-12 10:31] timdeschryver opened #3571 "Selectors: typed projector methods"
### Information

This issue comes from a discussion https://github.com/ngrx/platform/discussions/3097

Currently when using the `selector.projector` method, we can pass it any argument(s) and it won't complain. With this change we want to make the projectors type-safe so that mistakes can be caught earlier.

### Describe any alternatives/workarounds you're currently using

/

### I would be willin

[2022-09-12 10:33] timdeschryver opened #3572 "Migration: typed projector methods"
### Information

This issue is dependent on #3571.
When #3571 is resolved, we want to add a migration so that we don't break any existing codebases.

@david-shortman proposed a migration plan at https://github.com/ngrx/platform/discussions/3097#discussioncomment-3540950, which we can implement.

### Describe any alternatives/workarounds you're currently using

_No response_

### I would be willing

[2022-09-14 02:44] #3565 closed

[2022-09-16 05:26] amakhrov opened #3573 "Error: 1 periodic timer(s) still in the queue when testing a store with fakeAsync"
### Which @ngrx/* package(s) are the source of the bug?

component-store

### Minimal reproduction of the bug/regression with instructions

[code]
Running this unit test produces

### Minimal reproduction of the bug/regression with instructions

The test above should pass.

### Versions of NgRx, Angular, Node, affected browser(s) and operating system(s)

NgRx: 14.0.2
Angular: 14.2

### Other infor

[2022-09-16 10:39] markostanimirovic commented on #3573
Hi @amakhrov,

Replacing `asyncScheduler` with `asapScheduler` [here](https://github.com/ngrx/platform/blob/master/modules/component-store/src/component-store.ts#L325) (scheduling lifecycle hooks check to the microtask queue instead of macrotask) should solve this issue. Do you want to open the PR?

[2022-09-16 13:52] alex-okrushko opened #3576 "Broken type of `on` function when created outside of `createReducer` factory function"
### Which @ngrx/* package(s) are the source of the bug?

store

### Minimal reproduction of the bug/regression with instructions

(Discovered as a result of the attempted NgRx merge into g3)

Since https://github.com/ngrx/platform/issues/2982 when `on` function was created outside of the `createReducer`, the `State` type is being incorrectly inferred as `unknown`.

E.g. the following code:
[code]

[2022-09-16 19:18] amakhrov opened #3579 "Use ngDevMode instead of isDevMode() to facilitate tree-shaking"
### Which @ngrx/* package(s) are relevant/related to the feature request?

component-store, entity, router-store, store

### Information

The packages have a bunch of run-time warnings, guarded by Angular's `isDevMode()` check. While this guard suppresses respective warnings at run time, the related code is still included in the generated bundles.

Angular's own approach for this is using the glob

[2022-09-16 20:20] amakhrov commented on #3573
Yep, here is the PR: https://github.com/ngrx/platform/pull/3580

[2022-09-17 23:22] david-shortman commented on #3571
Started a PR, feel free to assign

[2022-09-19 07:17] maxime1992 commented on #374
@Lobaton2020 the recommended way is now documented here: https://ngrx.io/guide/store-devtools/recipes/exclude

I've been using this for a long time and it works perfectly too :)

[2022-09-19 15:20] #3573 closed

[2022-09-19 18:05] #3576 closed

[2022-09-20 01:08] david-shortman commented on #3579
I'd be willing to submit a PR. Nice catch!

[2022-09-20 02:38] kenatwex opened #3582 "NgRX StoreDevtoolsModule.instrument() is broken refuses to log or function"
### Which @ngrx/* package(s) are the source of the bug?

router-store, store-devtools

### Minimal reproduction of the bug/regression with instructions

SUBJECT: NgRX StoreDevtoolsModule.instrument() is broken refuses to log or function

If someone tries to launch this repo and run nothing works

https://github.com/salimchemes/ngrx-router-state

Nothing will log in the console

not interested in a

[2022-09-20 03:37] brandonroberts commented on #3582
The repo you shared is for NgRx v9. Please add a relevant reproduction if you're going to share your frustration along with it

[2022-09-20 03:37] #3582 closed

[2022-09-20 13:38] michahell opened #3583 "ng schematic does not recognise .eslintrc.cjs files"
### Which @ngrx/* package(s) are the source of the bug?

eslint-plugin

### Minimal reproduction of the bug/regression with instructions

1. have any project
2. with a `.eslintrc.cjs` file (see: https://eslint.org/docs/latest/user-guide/configuring/configuration-files)
3. try to install ngrx-eslint-plugin using schematics (https://ngrx.io/guide/eslint-plugin/install)
4. boom!

<img width="899" alt

[2022-09-21 07:42] LosD commented on #2980
Totally agree with @alex-vg. A feature deprecation should never, ever, be considered without clear and full documentation of the way forward for those using it. Referencing a Github issue does NOT cut it.

@timdeschryver

[2022-09-21 11:28] timdeschryver commented on #3583
Drop your name here if you want to pick this up.

[2022-09-24 00:36] david-shortman commented on #3563
Is it worth individually calling out type issues in the docs? I wonder if instead the docs should recommend configuring a project tsconfig with the same strict rules under which the library is written. Any deviation may cause unexpected problems.

[2022-09-29 05:46] Harpush commented on #3393
Any news concerning this?

[2022-09-29 14:36] SebastianPodgajny opened #3591 "NgrxLet animationFrameScheduler can stop working"
### Which @ngrx/* package(s) are the source of the bug?

component

### Minimal reproduction of the bug/regression with instructions

Looks like animationFrameScheduler can stop working https://github.com/ReactiveX/rxjs/issues/7018 because of this appRef.tick() is not called and view is not refreshed

Workaround is to use patch that will swap animationFrameScheduler with asyncScheduler
[code]

Ano

[2022-09-30 06:20] #3591 closed

[2022-09-30 06:21] #3495 closed

[2022-09-30 10:52] sarancruzer commented on #2980
The word "deprecated" in the notice is actually a link, though a hard one to notice due to the color of the banner it's in. It links to [a GitHub Issue discussing selectors with props](https://github.com/ngrx/platform/issues/2980).

That issue raises the concern that, with Angular 12+ being in [strict mode](https://angular.io/guide/strict-mode) by default, developers are likely to run into a short

[2022-09-30 11:06] alex-vg opened #3594 "clear instructions for MemoizedSelectorWithProps deprecation"
### Information

The following line references an issue on github: https://github.com/ngrx/platform/blob/8eb400129ae5fe8d6f995986eb407b4393621c71/modules/store/src/selector.ts#L32

The docs should instead give clear instructions like the ones here: https://github.com/ngrx/platform/issues/2980#issuecomment-1263422402

### Documentation page

https://github.com/ngrx/platform/blob/8eb400129ae5fe8d6f9

[2022-10-01 15:01] jrstrayhorn commented on #3542
I'd like to take this one if that's ok?

[2022-10-01 16:52] markostanimirovic commented on #3542
Sure @jrstrayhorn! :)

[2022-10-02 00:05] jrstrayhorn commented on #3542
@markostanimirovic - I noticed the store walkthrough app didn't work without CommonModule (b/c of ngFor and async pipe) so added instruction around that as well as addressing the missing imports.  Plus removed HttpClient import from app.module.ts as it's not needed.

[2022-10-02 11:09] moniuch commented on #2767
Very much so.

[2022-10-02 21:18] markostanimirovic commented on #3542
Hi @jrstrayhorn 👋

`BrowserModule` already re-exports `CommonModule` so we don't need to explicitly add it. I just checked the current version of the store walkthrough app and it worked: https://stackblitz.com/edit/angular-9arttf?file=src%2Fapp%2Fapp.module.ts

[2022-10-04 11:01] #3542 closed

[2022-10-07 07:53] alan-agius4 commented on #3579
Couple of small observations.

- `ngDevMode` is a private API that is not intended to be used outside of the `@angular/` packages. The meaning of this can change without warning.
- It is expected that the `isDevMode()` does not cause dead-code to be eliminated, this is because optimizers such as terser and esbuild are unable to statically analyse it's value.

There is some discussion around this i

[2022-10-12 13:49] vpallathu opened #3603 "Type {...} does not satisfy the constraint 'extends Object'"
### Which @ngrx/* package(s) are the source of the bug?

store

### Minimal reproduction of the bug/regression with instructions

I started seeing the error in the actions list of my application. An example is below:

`export const LoadUser = createAction('[LoadUser] Load User', props<{ id: string }>());`

The error is `Type { id: string } does not satisfy the constraint 'extends Object'`

### Min

[2022-10-12 15:22] timdeschryver commented on #3603
This seems to be working here, https://stackblitz.com/edit/ngrx-seed-vehcne?file=src%2Fapp%2Factions%2Fcounter.actions.ts.

Feel free to reopen when you have a reproduction.

[2022-10-12 15:22] #3603 closed

[2022-10-12 16:58] vpallathu commented on #3603
The compiler does not generate any error. I'm using **ReSharper** plugin in **Visual Studio Community Edition 2020**.

This is what I see in the Visual Studio IDE:

![image](https://user-images.githubusercontent.com/72323243/195403394-9f0e6b44-8e6a-4e0b-b21a-c95afd7de335.png)

I also have opened a question in StackOverflow at https://stackoverflow.com/questions/74034777/type-does-not-satisfy-the-c

[2022-10-12 18:09] ampmonteiro opened #3604 "[CHANGELOG.md] missing v13.2.0"
### Information

In CHANGELOG.md  file is missing info about minor version v13.2.0

### Documentation page

https://github.com/ngrx/platform/blob/master/CHANGELOG.md#1310-2022-03-28

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [x] No

[2022-10-13 12:42] #3604 closed, assigned to nobody

[2022-10-13 12:43] brandonroberts commented on #3579
Closing as wontfix for now

[2022-10-13 21:31] ampmonteiro commented on #3604
Hi,
but when anyone goes to https://github.com/ngrx/platform/blob/master/CHANGELOG.md, which is what is in master / main branch, the info is not there.

[2022-10-15 15:28] brandonroberts opened #3605 "Build: Update to Nx 15 release"
### Which @ngrx/* package(s) are relevant/related to the feature request?

store

### Information

Update to the latest version of Nx v15 and run any necessary migrations

https://nx.dev/core-features/automate-updating-dependencies

### Describe any alternatives/workarounds you're currently using

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-10-17 12:02] #3491 closed

[2022-10-19 07:31] sameh-g opened #3611 "We want to use ngrx/component, is it posible? since its in development still."
### Which @ngrx/* package(s) are relevant/related to the feature request?

component

### Information

We are aiming in the team to start using nrx/component, it says that it still under development. Is it possible to use it for production ?

### Describe any alternatives/workarounds you're currently using

We are aiming in the team to start using nrx/component, it says that it still under develop

[2022-10-19 11:07] brandonroberts commented on #3611
Hey @sameh-g, yes you can start using it. It's been under development and is being used in production already. The current plan is to mark it as stable in the v15 release

[2022-10-19 11:19] brandonroberts opened #3612 "Docs: Document usage of Standalone APIs for each package"
### Information

Each package will have a standalone API. We should document how to use the standalone APIs from initial setup to additional usage.

### Documentation page

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-10-19 11:19] brandonroberts opened #3613 "Docs: Create archive site for 14.x docs"
### Information

Should be hosted at v14.ngrx.io and published before v15 goes live. Latest published version is 14.3.2

### Documentation page

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-10-19 11:24] brandonroberts opened #3614 "Build: Update to latest Angular v15 RC"
### Which @ngrx/* package(s) are relevant/related to the feature request?

component-store, component, data, effects, entity, router-store, schematics, store-devtools, store

### Information

Update necessary dependencies manually using ng update through Nx.

[code]

### Describe any alternatives/workarounds you're currently using

_No response_

### I would be willing to submit a PR to fix this i

[2022-10-19 11:26] brandonroberts opened #3615 "Docs: Add migration guide for version 15 release"
### Information

Includes:

- Minimum requirements
- Breaking changes
- Notable features
- Provided Migrations

### Documentation page

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-10-19 11:26] brandonroberts opened #3616 "Docs: Write/publish blog post for version 15 release"
### Information

Features, breaking changes, other announcements

### Documentation page

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-10-19 11:34] brandonroberts opened #3617 "Effects: Remove Effect decorator"
### Information

We deprecated this feature many versions ago, no longer have any usage of it with our largest consumers, and have a migration to automatically update any usage. This effort will:

- Remove the decorator from the `effects` package
- Simplify registration of effect metadata where possible
- Add relevant information to v15 migration guide

### Documentation page

_No response_

### I

[2022-10-19 13:03] fmalcher opened #3618 "Store Devtools: Missing environment files with Angular 15"
### Which @ngrx/* package(s) are the source of the bug?

store-devtools

### Minimal reproduction of the bug/regression with instructions

As of Angular 15.0.0 the `environments` folder and the related `fileReplacements` will *not* be configured in new projects anymore. However, the schematics for `store-devtools` generate code that relies on the `production` flag.

The `ng-add` schematics for `st

[2022-10-20 00:51] markostanimirovic opened #3620 "Add missing import of `on` function to "Feature Creators" page"
### Information

The `on` function import is missing in the [`books.reducer.ts` code snippet](https://ngrx.io/guide/store/feature-creators#using-feature-creator).

[code]

### Documentation page

https://ngrx.io/guide/store/feature-creators

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-10-20 13:20] #3620 closed

[2022-10-20 15:43] markostanimirovic opened #3622 "Router Store: Return resolved route title via `selectTitle` selector"
### Which @ngrx/* package(s) are relevant/related to the feature request?

router-store

### Information

The `selectTitle` selector should return resolved route title when a custom title resolver is used. In v14, it selects the title defined as a static string in route configuration.

### Describe any alternatives/workarounds you're currently using

_No response_

### I would be willing to submit

[2022-10-20 16:01] markostanimirovic opened #3623 "Component: Remove `ReactiveComponentModule`"
### Which @ngrx/* package(s) are relevant/related to the feature request?

component

### Information

`ReactiveComponentModule` is deprecated in v14 and will be removed in v15. The migration guide is available [here](https://ngrx.io/guide/migration/v14#reactivecomponentmodule).

### Describe any alternatives/workarounds you're currently using

_No response_

### I would be willing to submit a PR

[2022-10-20 16:04] alex-okrushko opened #3624 "Component-store: Add selector object for `selector`"
### Which @ngrx/* package(s) are relevant/related to the feature request?

component-store

### Information

the View Model selectors, that are selecting from multiple Observables and grouping into an object can have a lot of repetitions, e.g.:

[code]

Let's add an easier way, e.g.:
[code]

RxJS' `combineLatest` already allows to do just that https://rxjs.dev/api/index/function/combineLatest
[cod

[2022-10-20 17:33] timdeschryver opened #3625 "Remove TSDoc comments about the AOT engine"
### Information

Remove the notion and example of declaring reducers that are compatible with View Engine AOT.

This can be done by removing the following example:

https://github.com/ngrx/platform/blob/863673452c9964f1606089435194329c1c508c4a/modules/store/src/reducer_creator.ts#L115-L131

And also. by rewording the following notion:

https://github.com/ngrx/platform/blob/863673452c9964f160608943

[2022-10-20 22:44] AHMET-EMREBAS commented on #2112
It might be useful!

Dataservice is using HttpUrlGenerator to create URLs for each entity. We can create our own URLGenerator and provide it in the scope.

[code]

[code]

[2022-10-21 10:37] SilasParker commented on #3625
Hi Tim, I'd like to take a shot at taking this on as a first issue

[2022-10-21 11:37] timdeschryver commented on #3625
Go for it @SilasParker !
Don't hesitate if you need some help.

[2022-10-21 11:53] SilasParker commented on #3625
Thanks @timdeschryver !

I'm having an issue opening a PR for this repo
`Permission to ngrx/platform.git denied to SilasParker.`

As far as I can tell it's because I need to be added as a collaborater. If this isn't the case and there's something else I need to do please let me know, thanks

[2022-10-21 12:23] timdeschryver commented on #3625
You first need to fork the NgRx repository, this creates a `silasparker/platform` repository.
It's here where you need to make changes and push your changes against.
When you've pushed the changes then you can create a Pull Request to `ngrx/platform`.

![image](https://user-images.githubusercontent.com/28659384/197194769-f66edf6d-354b-43b6-8f70-2f7d948acf29.png)

[2022-10-21 12:25] timdeschryver commented on #3625
This course by Kent C Dodds helped me when I started contributing, maybe that it can be of help for you too.
https://egghead.io/lessons/javascript-how-to-fork-and-clone-a-github-repository

[2022-10-21 13:28] SilasParker commented on #3625
Thanks so much! Think I've got it right this time round
Have opened the PR here https://github.com/ngrx/platform/pull/3627
Let me know if any further issues, I appreciate the help

[2022-10-22 08:57] #3605 closed

[2022-10-22 09:00] #3625 closed

[2022-10-22 23:12] david-shortman commented on #3572
This can be closed since we're only doing a breaking change

[2022-10-23 06:39] #3572 closed

[2022-10-24 06:40] #3614 closed

[2022-10-24 09:43] #3545 closed

[2022-10-24 19:14] tortuc commented on #2171
Did you test it? It's not working.

[2022-10-24 19:26] tortuc commented on #2171
@timdeschryver
overrideSelecor() is not working in it().
[code]

[2022-10-25 11:33] fmalcher commented on #3618
The Angular PWA features use `isDevMode()` to enable the service worker config:

[code]

[2022-10-25 16:22] timdeschryver commented on #3617
There are also a few eslint rules that work with `@effect`, I think that these can be removed as they no longer serve a purpose.

If no one is busy with this one, I can pick it up.

[2022-10-26 08:52] fatsu opened #3633 "createEffect migration not working when initialization is done in constructor"
### Which @ngrx/* package(s) are the source of the bug?

schematics

### Minimal reproduction of the bug/regression with instructions

Running the createEffect migration on classes for which the effect initialization is done inside the constructor, removes the @Effect annotation from the declaration, but doesn't wrap the initialization with createEffect(() => ...)

[code]
Currently becomes:
[code]

[2022-10-26 09:27] gethari commented on #3010
why are we preventing the search engine from indexing the site ? How do we get proper SEO then ? I'm just wondering how is the SEO performance here as the site is built on `Angular` ?  Asking because I want to have a similar docs site but worried about the SEO & performance

[2022-10-26 17:31] timdeschryver commented on #3633
Hi, thanks for reporting this.

[2022-10-27 07:46] fatsu commented on #3633
Hi, I'm not sure if I fully agree that this is out of scope.
It shouldn't matter whether the assignment is done at declaration time or in the constructor, as long as it's done during instantiation.

I'll have a look as well. Seems fun. But give me some time.

[2022-10-27 09:49] timdeschryver commented on #3633
Sounds good @fatsu !
Thanks for the help 😀

[2022-10-28 09:45] MikeDabrowski opened #3636 "Cannot import saved store state using devtools package"
### Which @ngrx/* package(s) are the source of the bug?

store-devtools

### Minimal reproduction of the bug/regression with instructions

Using chrome redux dev tools, export the state to .json and import it again.

![image](https://user-images.githubusercontent.com/17836911/198557654-693a680a-d7ce-4e39-9376-0d0278b02b65.png)

### [Minimal reproduction of the bug/regression with instructions](htt

[2022-10-28 15:41] #3617 closed

[2022-10-28 15:54] #3624 closed

[2022-11-02 08:46] timdeschryver opened #3637 "update TS docs for provideEffects"
### Information

The signature of `provideEffects` has been changed in #3587 from an array to a spreaded array.

For example:

[code]

becomes

[code]

In the referenced PR I made a typo with the TS Doc annotations
https://github.com/ngrx/platform/blob/5f74e61b7b463a3e4489a21f2734db68712904b6/modules/effects/src/provide_effects.ts#L27

This should become

[code]

### Documentation page

_No respon

[2022-11-02 12:44] akiik commented on #931
Still a real issue, I used a workaround provided by @michael-lang, updated to the latest apis:
main.ts
[code]
environment-config.service.ts
[code]

[2022-11-02 12:46] #3571 closed

[2022-11-02 15:30] NicBright opened #3641 "Router Store: VERY unexpected behavior: navigateIfNeeded"
### Which @ngrx/* package(s) are the source of the bug?

router-store

### Minimal reproduction of the bug/regression with instructions

It's obvious when looking at NgRx' source code.

### Minimal reproduction of the bug/regression with instructions

It's obvious when looking at NgRx' source code.

### Versions of NgRx, Angular, Node, affected browser(s) and operating system(s)

NgRx: 12.5.1
Angu

[2022-11-03 12:08] #3623 closed

[2022-11-03 14:18] Samoji commented on #3554
Any updates on this issue?
What's the recommended workaround?  { debounce: false }?

Thanks

[2022-11-05 14:30] #3622 closed

[2022-11-05 14:32] #3618 closed

[2022-11-06 22:28] #3615 closed

[2022-11-07 05:40] mattbodman opened #3652 "Changelog formatting is broken for v14"
### Information

Looks like the v14 block of the changelog has been caught by the v15 code formatting.

### Documentation page

https://github.com/ngrx/platform/blob/master/CHANGELOG.md

### I would be willing to submit a PR to fix this issue

- [X] Yes
- [ ] No

[2022-11-07 12:05] timdeschryver commented on #3652
Thanks @mattbodman

[2022-11-07 12:22] #3652 closed

[2022-11-07 12:28] #3529 closed

[2022-11-07 12:57] #3613 closed

[2022-11-07 13:45] Coly010 opened #3654 "Pre-initialized class fields with a TSConfig target set to ES2022 with useDefineForClassFields set to true will cause runtime issues"
### Information

## The Problem

Using TS with a TSConfig which has the `target` set to `ES2022`.

[code]

When TS compiles code with this target, it aims to make it TC39 Compliant.

This introduces a runtime issue on modern browsers when we try to write classes that follow this pattern:

[code]

[code]

Following this pattern of initializing class properties by using a class property that is adde

[2022-11-07 14:05] nartc commented on #3654
I'd like to add another note on "Workaround" is that if you use `inject()`, you'll likely **not** run into this issue.

[2022-11-07 14:34] eneajaho commented on #3654
Reproduction: https://stackblitz.com/edit/angular-ivy-6ayd4a?file=src%2Fapp%2Fapp.component.ts

[2022-11-07 15:49] Coly010 commented on #3654
This is true for anything that can be _injected_.  Which is the case for NgRx. It won't erase the issue for non-injectable classes.

[2022-11-07 16:52] JeanMeche commented on #3654
FYI, there is an open ticket about this on microsoft/typescript#50971.

When targeting `ES2022 `the compiler doesn't throw an error, but does it when targeting `ESNext`

[2022-11-07 17:53] alex-okrushko commented on #3654
TS team says that it works ["as expected"](https://github.com/microsoft/TypeScript/issues/50971#issuecomment-1260047959), so we'll need to add `"useDefineForClassFields": false` to compiler options.

The current issue that TS is not highlighting it as an issue without the flag, and that will be fixed.

[2022-11-07 19:09] alan-agius4 commented on #3654
The `useDefineForClassFields` is used as part to allow users to migrate to the upcoming standard version of class fields.

New applications using the Angular CLI will also have `useDefineForClassFields` set to `false`. But eventually we do want to disable this and generate TC39 compliant output.

I think for starters the NGRX docs should be updated to be TC39 spec complaint so at least new users d

[2022-11-07 19:14] brandonroberts commented on #3654
@alan-agius4 that seems like a pretty big ask across the entire Angular ecosystem, not just NgRx. We've discussed moving away from class-based grouping for effects but  it wasn't prompted by this recent change. Feels like this should be handled by the compiler or somewhere else upstream and not the developer.

[2022-11-07 20:35] alex-okrushko commented on #3654
@alan-agius4

With `useDefineForClassFields` flag set either to `true` or `false` TS generates TC39 compliant code. IHMO, TS should continue to be more than just "typing" and still support some of the language features. I **do** understand that continuing with the current behavior might mean that it would be more confusing for future JS devs adopting TS.

[2022-11-07 21:05] nawlbergs commented on #2577
This is in the [docs for effects](https://ngrx.io/guide/effects):
[code]
Throws errors for me... what am I suppose to return if I don't want to trigger another action?
[code]

[2022-11-07 21:05] Coly010 commented on #3654
@alan-agius4 in that case. I should change this issue to state a future version, not Angular 15

[2022-11-07 21:20] alan-agius4 commented on #3654
Right, got confused both outputs are spec compliant although now in the latest spec it has a different runtime behavior.

[2022-11-07 23:13] JeanMeche commented on #3654
It's as expected, but the compiler should error, like it does with the EsNext target.

[2022-11-08 06:30] e-oz commented on #3654
Nice to finally see some discussion, because when I raised a discussion about this issue it went unnoticed: https://github.com/ngrx/platform/discussions/3405

Also I want to remind you all, that Angular 15 does not allow us to control “target” and “useDefinedForClassFields”: https://github.com/angular/angular-cli/pull/23936

[2022-11-08 07:36] alan-agius4 commented on #3654
You can control `useDefinedForClassFields` and `target` if you target ES2022 or later.

[2022-11-08 07:54] e-oz commented on #3654
It's nice that we can control “target” if the target is exactly ES2022 (because the only option left is “esnext” and you should not use it in prod).

[2022-11-08 16:44] timdeschryver commented on #2577
@nawlbergs That's why we have an ESLint rule for this

https://ngrx.io/guide/eslint-plugin/rules/prefer-effect-callback-in-block-statement

[2022-11-09 09:58] jbardon opened #3657 "Effects dispatching multiple actions don't reach reducer before other effects"
### Which @ngrx/* package(s) are the source of the bug?

effects

### Minimal reproduction of the bug/regression with instructions

https://stackblitz.com/edit/ngrx-effect-multiple-actions?file=src%2Fapp%2Fstore.ts

### Minimal reproduction of the bug/regression with instructions

Hi,
I work on a codebase which have effects dispatching multiple actions. Usually, we expect actions dispatched to the

[2022-11-09 13:31] DaSchTour opened #3658 "Missing documentation on eslint-plugin"
### Information

The documentation about the eslint-plugin is missing some information about how to actually add the recommended rules.

I tried to add the following to extends

- "plugin:@ngrx:recommended-requiring-type-checking"
- "plugin:@ngrx/eslint-plugin:recommended-requiring-type-checking"
- "@ngrx/eslint-plugin:recommended-requiring-type-checking"
- "@ngrx/eslint-plugin/recommended-requiri

[2022-11-09 20:53] alex-okrushko commented on #2577
@nawlbergs some IDEs will should it correctly (e.g. Webstorm), however VS Code does not.
That's why I suggest to use `createEffect(() => { return this.actions$.pipe(....)});`, basically to have a function body there.

See https://github.com/ngrx/platform/issues/2192

[2022-11-10 15:56] diegovsil opened #3659 "Effect initialised before APP_INITIALIZER in Angular v14"
### Which @ngrx/* package(s) are the source of the bug?

effects

### Minimal reproduction of the bug/regression with instructions

In angular v14 when effects are used together with APP_INITIALIZER any service used in these effects is initialized before APP_INITIALIZER, therefore any configuration that is retrieved with APP_INITIALIZER and is necessary for any service of these effects will not be

[2022-11-10 16:05] jbardon commented on #3657
After talking with a coworker, we might have figured out NgRx behavior when an effect emits multiple actions.
* Actual behavior: take first action, dispatch to store (execute reducer), execute effects, do the same for next action in the list sequentially
* Expected: dispatch all actions at once to the store (execute reducers), execute effects, done

Can't say if the expected behavior makes sense s

[2022-11-11 11:10] hizliemre commented on #3659
This bug brings too many troubles for us too.I am  watching!

[2022-11-11 11:46] dzonatan opened #3661 "Weird `component-store` initialization problem in route guards"
### Which @ngrx/* package(s) are the source of the bug?

component-store

### Minimal reproduction of the bug/regression with instructions

https://stackblitz.com/edit/angular-ivy-hupmyu?devToolsHeight=33&file=src/app/local-store.ts

In the console: `Error: LocalStore has not been initialized yet. Please make sure it is initialized before updating/getting.`

### Minimal reproduction of the bug/reg

[2022-11-11 13:07] diegovsil commented on #3659
yes, I had already read it, the fact is that somehow it was fixed in version 13, don't know if it also worked with a previous version, but with version 14 of angular works wrong again

[2022-11-11 14:19] hizliemre commented on #3659
It can be related angular new feature named ENVIRONMENT_INITIALIZER. I am not sure. We should focus on that part.

[2022-11-11 14:39] timdeschryver commented on #3658
Hi @DaSchTour that would be valuable to add to the docs, thanks for bringing it up!

Simply added the rules is not enough.
The trick is to import the plugin via `plugins` or `extends`, then you can tweak the rules via the `rules`.

For example:

[code]

or

[code]

To use a preconfigured configuration, you can add it to `extends`:

[code]

Feel free to add this to the docs

[2022-11-12 08:56] timdeschryver opened #3662 "Update container schematics"
### Which @ngrx/* package(s) are relevant/related to the feature request?

schematics

### Information

We should update the options that can be passed to the container schematic.
This includes adding the `--standalone` flag, so we can pass it to the angular schematic.

We are also missing the `--display-block` flag, I would suggest adding this as well.

These should be added to the schema definit

[2022-11-15 04:27] cam-m opened #3663 "RFC: Add HttpOptions to EntityActionOptions to allow finer control over HttpClient requests"
### Which @ngrx/* package(s) are relevant/related to the feature request?

ngrx/data

### Information

Currently it is difficult to influence http requests sent in response to dispatched `EntityAction`s.  Simple requirements such as adding query parameters or headers require multiple ngrx/data classes to be overriden and provided. Often those implementing ngrx/data have an existing api they need t

[2022-11-16 08:30] smorandi commented on #3663
Honestly, while i get your point of not oversharing information, my original usecase was to be able to access data from url‘s which deviate from the current pattern required by ngrx data in certain conditions, e.g. accessing subressources which do not work with query-parameters. so thats why passing in the action itself (which can be customized, i.e. extended to carry additional data as of how to

[2022-11-16 09:15] smorandi commented on #3663
i see that https://github.com/ngrx/platform/discussions/3093 deals with the exact use-case i was mentioning. yeah that‘s the issue i thought could be resolved by passing in a customized action into the data-service…

[2022-11-16 10:26] JohannesHoppe commented on #3654
The simplest workaround should be the following. We perform a general search and replace for both the demo and the schematics according to the following pattern:

1. search for constructors
2. Locate all properties where declaration & initialisation is done together
    --> `this.XXX: MyInjectable` is changed to `inject(MyInjectable)`
3. Keep constructor with constructor injection if the property

[2022-11-16 11:14] cam-m commented on #3663
Don't be @smorandi,  thanks for taking the time to comment :)

I'm in the process of migrating to ngrx/data and I have similar endpoints I will have to deal with, like `/parent-resources/:id/related-resources`.

As I'm in control of these endpoints I'll probably use routes like `/related-resources/?parent-resource-id=:id` , which is still semantically correct but fit better with ngrx/data's 'norma

[2022-11-16 12:32] smorandi commented on #3663
yes sure it would be fine, as long as i can pass „arbitrary“ data into the data service it would be absolutely fine. using httpoptions -> httpparams as the container for additional information works certainly well enough.

[2022-11-16 15:50] jkyoutsey commented on #3543
As a note, the keys in the events configuration violate default eslint rules:
/* eslint-disable @typescript-eslint/naming-convention */
It might be nice if the schematic block disabled this section.
[code]

[2022-11-16 18:19] timdeschryver commented on #3659
Please use the solution provided in [#931](https://github.com/ngrx/platform/issues/931#issuecomment-379318528), this still works

https://stackblitz.com/edit/angular-ivy-wzemdw?file=src%2Fapp%2Fapp.module.ts,src%2Fapp%2Futils.ts

[2022-11-16 18:19] #3659 closed

[2022-11-17 01:50] #3662 closed

[2022-11-17 11:30] markostanimirovic opened #3668 "RFC: Add ability to create functional effects"
### Which @ngrx/* package(s) are relevant/related to the feature request?

effects

### Information

Add the ability to create functional effects (without classes). Similar to functional guards, we would be able to use `inject` within the `createEffect` function:

[code]

In order not to break the current behavior of the `createEffect` function, for functional effects we need to add `functional: t

[2022-11-17 12:09] manfredsteyer commented on #3668
I love it for two reasons:
- It nicely fits to other trends in Angular like functional interceptors, guards, and resolvers
- For me, it also removes an ambiguity: In the past, we used to call two different things an effect: the service (class), and the property set up with `createEffect`

[2022-11-17 13:04] Armenvardanyan95 commented on #3668
Is it possible to make the first argument for the callback function the injected `Actions` class instance by default? Something like

`const myEffect = createEffect(actions$ => actions$.pipe(/* etc) */)`

Of course I think the users themselves will be able to do this manually, but would be nice to have.

Other than this. absolutely love the idea, removes boilerplate, removes ambiguity, also easier

[2022-11-17 15:12] Felexonyango commented on #3668
This is cool ,I cant wait

[2022-11-18 13:07] stefanoslig commented on #3668
That's very nice!
What about the effect's lifecycle hooks? I find them very useful in some projects! It will be possible to use them only in class effects?

[2022-11-18 13:16] brandonroberts commented on #3668
@stefanoslig yes that will still be possible. Being able to use effects in a class isn't changing at all.

[2022-11-18 16:53] timdeschryver commented on #3668
@phhien203 yes, that would be possible.

[2022-11-18 17:02] phhien203 commented on #3668
Thank @timdeschryver

[2022-11-18 20:45] markostanimirovic commented on #3668
RFC description updated ☝️

[2022-11-18 21:02] markostanimirovic commented on #3668
@Armenvardanyan95

I'd rather not provide `Actions` by default because we'd need to provide them as well when testing effects that don't use actions. In my opinion, there is not much difference between:

[code]

compared to:

[code]

while the first option gives more flexibility.

[2022-11-20 08:00] Armenvardanyan95 commented on #3668
@markostanimirovic I get you idea. How about a factory function that allows creating predefined effect creator functions? Like this:

[code]

Just feels kinda neater. In testing, we can still provide whatever mock values we want by calling it with mock args, can we? I think we should be able to do that

[2022-11-24 08:26] liesahead commented on #3668
Reminds me of angularjs 🤕

[2022-11-24 08:28] Armenvardanyan95 commented on #3668
@liesahead how come? We use factories in Angular and also in NgRx all the time. We have selector factory functions, for example. This is not a separate configuration, but a factory function to return a preconfigured effect creator

[2022-11-24 08:33] liesahead opened #3672 "Reusable feature module with unique state."
### Which @ngrx/* package(s) are relevant/related to the feature request?

store

### Information

It would be nice to have some setting like `shared: boolean` (true by default, like current behavior) when registering `StoreModule.forFeature`, so when I import some `CarSelectorModule` with its own actions/effects/reducer the state would be unique in every place where it's imported.

https://stacko

[2022-11-24 08:53] Armenvardanyan95 commented on #3672
I may suggest using factory functions for creating reducers that do the same thing but with unique states + action group factory. For example, imagine you have a search functionality that can be in three different modules, like "users", "orders", "payments", and then create a reducer factory for this:

[code]

Then use those factories to create different-but-same reducers and actions for different

[2022-11-24 09:01] liesahead commented on #3668
But in each effect you would need to inject all services as function arguments `createUserEffects((actions, userService, someOtherService)` at least from what I see, this reminds me of angularjs. If you inject 10 services in your effect then it will be 10 arguments listed. Looks bulky.

[2022-11-24 09:26] Armenvardanyan95 commented on #3668
@liesahead
While I think what you mentioned is a bit limited (you usually use 1-2 services in 1 effects class from my experience), this still can be mitigated using an object instead of an array:

[code]

[2022-11-24 11:59] liesahead commented on #3668
@Armenvardanyan95 , this one I like more 😄 anyway, if this doesn't replace current behavior (with services injection in the constructor) and comes as an additional feature then I think it might be a good idea for some people.

[2022-11-24 17:03] samuelfernandez opened #3673 "New selector factory for route data"
### Which @ngrx/* package(s) are relevant/related to the feature request?

router-store

### Information

Right now the router seletors provide `selectRouteParam` and `selectQueryParam`, which are factory functions to resolve those types of params. This request is to do the same with route data, providing a selector factory for `selectRouteDataParam` or something similar.

### Describe any alterna

[2022-11-25 09:46] badnutz opened #3674 "Error while installing dependencies in Live Example"
### Information

When I open the StackBlitz LiveExample for the store tutorial the example fails in the dependency installation step
![image](https://user-images.githubusercontent.com/4920326/203950893-47b2b368-117f-4456-971f-20b3a22ed2cc.png)

### Documentation page

https://ngrx.io/guide/store

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-11-25 21:51] #3517 closed

[2022-11-27 07:48] timdeschryver commented on #3674
Hi thanks for raising this issue.
We'll get this sorted when we upgrade the examples to v15.

[2022-11-27 18:56] #3637 closed

[2022-11-27 19:49] markostanimirovic opened #3677 "Store: Use `createSelector` with a dictionary of selectors"
### Which @ngrx/* package(s) are relevant/related to the feature request?

store

### Information

Provide the ability to use the `createSelector` function with a dictionary of selectors. This signature would remove repetitive code when creating view model selectors:

[code]

Recently, we added a similar feature to the `ComponentStore.select` method (#3624).

---

Related discussion: #3650

### De

[2022-11-28 03:07] soufianerafik commented on #1054
I had the same issue too, everything was firing twice.

I fixed it by **commenting out** the StoreDevtoolsModule

[code]

[2022-11-28 09:35] liesahead commented on #3672
@Armenvardanyan95 , thanks! Looks quite good, but I would also need a unique effects. And this becomes too complicated to manage without official way.

Our current decision is to reduce usage of `ngrx` in the project and in such components with `unique state` no state manager will be used or maybe some other.

[2022-11-28 09:55] Armenvardanyan95 commented on #3672
@liesahead do the effects differ only with the service called? You can introduce an adapter service that will make the "same" call to different URLs depending on the kind of module you use them in, and have one single effect to handle those.  I've written an article about such dependency injection tricks (https://codeburst.io/angular-dependency-injection-tips-ddb24b8244be), scroll to the "Providin

[2022-11-29 10:45] liesahead commented on #3672
@Armenvardanyan95 , effects do not differ. What is needed in this case is a separate state. Effects, actions, reducers are the same. State is the only one that needs to be unique so the module could be fully re-usable. But, as I said, until this isn't supported officially, the easiest way to get rid of app state manager in such modules.

[2022-11-29 19:05] cedricduffournet commented on #3674
I think this is more a stackblitz issue. Sometimes installation failed.

Anyway I submited a [PR](https://github.com/ngrx/platform/pull/3679) to upgrade the examples to V15

[2022-11-30 13:11] brandonroberts commented on #3673
Seems reasonable to me

[2022-11-30 13:15] brandonroberts opened #3681 "Docs: Update walkthrough to use createActionGroup"
### Information

The walkthrough guide is more in-depth than the getting started. We should try to introduce `createActionGroup` as soon as possible.

https://ngrx.io/guide/store/walkthrough

### Documentation page

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-11-30 13:44] cedricduffournet commented on #3681
@brandonroberts i can take this one

[2022-11-30 13:57] brandonroberts opened #3682 "Docs: remove environment import from store-devtools overview"
### Information

Import is not used and won't be there in new Angular v15 projects

<img width="994" alt="image" src="https://user-images.githubusercontent.com/42211/204814749-c1e08382-2ddb-4fee-b34f-06819d5f2712.png">

### Documentation page

https://ngrx.io/guide/store-devtools

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-11-30 16:53] samuelfernandez commented on #3673
Thanks! Will submit a PR

[2022-11-30 18:57] timdeschryver commented on #3672
This feature would add an additional complexity, and I think we don't want to add that now.
We could look into this when it becomes a feature that more peoples are asking for.
The current API should allow you to build something on top of it and create a reusable feature.

[2022-11-30 18:57] #3672 closed

[2022-11-30 19:48] e2video opened #3685 "Module '"@ngrx/effects"' has no exported member 'Effect'."
### Which @ngrx/* package(s) are the source of the bug?

effects

### Minimal reproduction of the bug/regression with instructions

When imported  (import { Effect, ofType, Actions } from '@ngrx/effects';)
Code shows me this message:
Module '"@ngrx/effects"' has no exported member 'Effect'.

Installed latest version on 11/29/2022:
"name": "@ngrx/effects",
  "version": "15.0.0",
  "description": "S

[2022-11-30 21:07] timdeschryver commented on #3685
This is intended.
We removed `@Effect` in v15.

For more info see the migration guide.
https://ngrx.io/guide/migration/v15#removal-of-effect

[2022-11-30 21:07] #3685 closed