[2019-07-09 17:53] #2003 closed

[2019-07-09 18:08] timdeschryver commented on #1502
I'm closing this issue due to inactivity, feel free to re-open an issue with a reproduction.

[2019-07-09 18:08] #1502 closed

[2019-07-09 18:11] timdeschryver commented on #1342
I'm closing this issue because I believe this is due to `ng-packagr` (and might already be resolved by now), plus we've listed some work-arounds.

Also, `createEffect` solves this problem.

[2019-07-09 18:11] #1342 closed

[2019-07-09 18:17] timdeschryver commented on #1599
Closing this issue, it shouldn't matter how the items are stored in the store state.
For more complex sorting, you can use a selector.

[2019-07-09 18:17] #1599 closed

[2019-07-09 18:27] timdeschryver commented on #950
Closing this issue, library owners can now use the `META_REDUCERS` token to provide a reducers. See https://github.com/ngrx/platform/pull/1970 for more info.

[2019-07-09 18:27] #950 closed

[2019-07-09 18:28] timdeschryver commented on #1016
Closing this issue because this became obsolete with the introduction of `createAction`, introduced in NgRx 8.

[2019-07-09 18:28] #1016 closed

[2019-07-09 18:28] timdeschryver commented on #1075
Closing this issue because this became obsolete with the introduction of `createAction`, introduced in NgRx 8.

[2019-07-09 18:28] #1075 closed

[2019-07-09 19:12] mjh5153 commented on #1064
which version of ngrx schematics is this?

[2019-07-09 19:23] timdeschryver commented on #1542
This is because `jasmine-marbles` is using the `TestScheduler`, to fire the actions you'll have to `flush` the actions:

[code]

The RxJS version of this would be the following:

[code]

[2019-07-09 19:23] #1542 closed

[2019-07-09 19:27] timdeschryver commented on #1744
Closing this issue as this one is answered.

[2019-07-09 19:27] #1744 closed

[2019-07-10 07:51] SamVerschueren commented on #1325
This is what happens with dev tools

![image (2)](https://user-images.githubusercontent.com/1913805/60950817-2b169480-a2f8-11e9-80af-472aab593123.png)

This is what happens without

![image (3)](https://user-images.githubusercontent.com/1913805/60950834-35d12980-a2f8-11e9-8a9f-499f9a95151a.png)

At first I thought it was a bug in a meta reducer or something, but apparently it's a bug in devtools.

[2019-07-10 19:28] lslocum opened #2005 "turning on runtimeChecks strictStateImmutability or strictActionImmutability throws errors input parameters"
I tried to turn on state and action immutability since it will be opt out in NGRX 9. The problem is that it is throwing errors on input parameters in my components. We are passing form groups around and we would like them to stay mutable so the parent holds all eventing control.

## Minimal reproduction of the bug/regression with instructions:
I tried to re-produce with the StackBlitz, but I faile

[2019-07-10 21:04] timdeschryver commented on #2005
You will probably have to make a clone of your store state before binding it to the form.
Feel free to join the [gitter channel](https://gitter.im/ngrx/platform) and ping me if you need guidance.

[2019-07-10 21:04] #2005 closed

[2019-07-10 21:37] lslocum commented on #2005
@timdeschryver It is not using the store. It is just the inputs in my component. That is the problem I tried cloning the form group input variable but that had it's own problems. and as I stated above, I don't want to create a new memory reference. I want the form group to be mutable.

[2019-07-11 11:58] bhalash opened #2007 "@ngrx/store: StoreConfig interface missing from exports."
## Minimal reproduction of the bug/regression with instructions:
This does not require StackBlitz. It appears to be a simple case of either a missing export or incorrect documentation.

## Expected behavior:
In the guide, [Using Dependency Injection -> Injecting Feature Config](https://ngrx.io/guide/store/recipes/injecting#injecting-feature-config) states that you should import `StoreConfig`:

[co

[2019-07-11 12:44] brandonroberts commented on #2007
Good catch. Go for it

[2019-07-11 12:46] timdeschryver commented on #2007
While we're at it we also should export `RootStoreConfig`

[2019-07-11 13:03] bhalash commented on #2007
Done and done, PR open.

[2019-07-11 13:25] udi101 opened #2010 "Angular 7 navigationTrigger support with the @ngrx/route"
## Other information:
I need to get the navigationTrigger of the last route that was activated. When I register to the router.events I get this data from the NavigationStart events. The ngrx/router-store doesn't trigger an action on browser navigations (back, forward) and the navigationTrigger is not a part of the route state.

## Versions of NgRx, Angular, Node, affected browser(s) and operating

[2019-07-11 13:56] timdeschryver commented on #2010
We add the Angular router event in the payload:

[code]

If I use the back button the trigger is also correct:

[code]

Could you elaborate a bit more, because it seems to just work.
This is NgRx 8 with Angular 8 tho.

[2019-07-11 16:06] jtcrowson commented on #1996
@brandonroberts do you have any setup steps for testing the schematics against a sample project in development?  I've tried some of the steps provided on angular.io but can't seem to get the link to work correctly.

[2019-07-11 17:43] jtcrowson commented on #1996
Also, should the State interface take advantage of this as well?

[code]

[2019-07-11 17:56] brandonroberts commented on #1996
@jtcrowson i don't have any automated steps at the moment. If you can't link the built schematic, just build the package and copy into your `node_modules`. And yes to the state interface, as we're already importing everything from the reducer.

[2019-07-11 17:57] #1887 closed

[2019-07-11 18:06] diego-unanue-globant opened #2011 "Cannot find module '@ngrx/store/testing'"
I have installed ngrx and I want to use '@ngrx/store/testing' but when I try to import:

import { provideMockStore, MockStore } from '@ngrx/store/testing'
ir says module not found.

I tried to do a npm install @ngrx/store/testing but it says "as it does not contain a package.json file."

[2019-07-11 18:21] jtcrowson commented on #1996
@brandonroberts Excuse my inexperience with the schematics library, how do I build?  Then in my sample app, just `npm install $BUILT_LIBRARY` and then `ng generate @ngrx/schematics:store State`?

[2019-07-11 19:08] itayod commented on #2011
@diego-unanue-globant have you tried to install `@ngrx/store`?

[2019-07-11 23:24] jtcrowson commented on #2011
Also double check that your installed `@ngrx/store` version is 7.0.0 or above (check `package-lock.json`).  `@ngrx/store/testing` ships inside `@ngrx/store`, but the sub-package was introduced in version 7.0.0.

[2019-07-12 00:18] montella1507 opened #2012 "Missing important recipe to use store for "library" modules"
We can find in documentation nice info about common usage  of NGRX/Store. However, it is scoped to "root" and "feature" modules - it is subconsciously connected to AppModule (or CoreModule) and LazyLoaded modules.

 I think one of the biggest power of Store is, it can be used similar to NGRX/Data for custom libraries.

To explain my proposal, lets have following parts in an application:
- generic

[2019-07-12 03:12] brandonroberts commented on #1996
You build schematics using `yarn bazel build //modules/schematics/...`. The built package will be in `dist/bin/modules/schematics/npm_package`

[2019-07-12 06:20] mrucelum opened #2013 ""Cannot read property 'tree' of undefined" when using "resultMemoize" after updating to 8.1.0"
## Minimal reproduction of the bug/regression with instructions:

Just open: https://stackblitz.com/edit/angular-qmbwzq and see this error in the console:

``` ERROR Error: Cannot read property 'tree' of undefined ```

The issues seems to be in this part in tree.reducer.ts

[code]

If I remove the memoizer, everything works fine (the app works anyways btw, so this errors seems to be not affecting

[2019-07-12 11:01] tyroneneill commented on #1863
In agreement with `optionOne$`, definitely interested in drumming up healthy debate around this, anyone with more than a todo application must be having to have the same (sometimes internal) debate.

It seems reasonable to react directly to changes to the store rather than to the actions that are used to derive the new state, it is also safer given the following example:

`
    1. user dispatches

[2019-07-12 12:32] timdeschryver commented on #2011
The testing package is included with `@ngrx/store`.

As @itayod said, you should install `@ngrx/store`.
`@ngrx/store/testing` was added in NgRx 7, so make sure you have this version (or a later version) installed, as @jtcrowson mentioned.

[2019-07-12 12:32] #2011 closed

[2019-07-12 16:26] dcanning commented on #646
Is there a reason or preference for using @metasong vs @brandonroberts solution to catching errors?  These both work and _appear_ equally valid, but I'm not intimately familiar with inner workings, so should we be using one over the other?

[2019-07-12 18:24] timdeschryver commented on #2013
A selector should always have a projector function, in your case it would be:

[code]

[2019-07-12 18:24] #2013 closed

[2019-07-12 18:36] jordanpowell88 commented on #1981
I understand that their are multiple ways to demonstrate state changes in ngrx (with effects, no effects etc). As a new user to ngrx I understood the premise of the redux pattern but was uncertain as to what pieces ngrx added or removed from that pattern. I think as a new user, too many diagrams could be more confusing than helpful.

Is it possible to create one diagram that represents the "majori

[2019-07-12 18:50] jtcrowson commented on #1996
I couldn't get the build to work, might be due to my proxy settings.

@brandonroberts just to be sure: **If the feature is not registered, we do not need to generate the feature key, right?**

**Example:**
For the schematics with a module flag (is registered):
`ng generate reducer User --module app.module.ts`

In reducer file:
[code]
in module file:
[code]

For the schematics **without** a module

[2019-07-12 19:41] wesleygrimes commented on #1981
Good points @jordanpowell88, I am thinking pie in the sky here, but what if we had a "base" diagram that showed the main parts of NgRx that are sort of "required", and then some type of button you click, or other tab that is like "here's NgRx with side-effects added into the mix". Almost like an interactive chart.

[2019-07-12 20:32] jordanpowell88 commented on #1981
@wesleygrimes I like the idea. I think we could find a way to do this if everyone is ok with this concept.

[2019-07-12 21:20] jtcrowson commented on #1996
I'm going to submit the PR under that assumption.  The goal is to limit the hardcoded strings, and adding the featureKey only when module is passed for the reducer and entity schematics accomplishes that.

[2019-07-12 22:52] brandonroberts commented on #1996
I think the feature key should be added either way.  When you eventually register the reducer you should use the key instead of the string.

[2019-07-13 10:30] Odonno opened #2015 "Effect devtools"
## Describe any alternatives/workarounds you're currently using

None

## Other information:

The goal would be to provide a devtools/visualizer for @ngrx/effects in the relatively same way we do with state/reducers by the useful @ngrx/store-devtools package.

Indeed, I think that being able to visualize effects in realtime can help developers a lot by:

* visualizing the behavior of a single effe

[2019-07-13 11:20] luchsamapparat opened #2016 "strictStateImmutability + RouterState.Full incompatible with each other"
Enabling `strictStateImmutability` together with `RouterState.Full` as router state serialization leads to errors that are very hard to track down (see angular/angular#31523, ngrx/platform#1937), so the [runtime check documentation](https://ngrx.io/guide/store/configuration/runtime-checks) should probably include a warning that those to configurations are not compatible with each other.

And for f

[2019-07-13 15:04] #2007 closed

[2019-07-13 15:17] BuntyBru commented on #1026
ng g component --name component-name
gives
Invalid rule result: Instance of class Promise.
![image](https://user-images.githubusercontent.com/17709720/61173317-67bfe580-a5af-11e9-803f-189883fef179.png)

[2019-07-13 18:07] #1973 closed

[2019-07-14 15:50] jtcrowson commented on #1996
My thought was that in the cases you weren't used the module flag, you weren't planning on registering it.  But I can see it either way, I'll go ahead and add that back in.

[2019-07-15 09:47] timdeschryver commented on #1956
What about wrapping the `isDevMode` check in a `try catch` block?
If we get an error during the AOT build we can assume it's a prod build.

[2019-07-15 12:49] alex-okrushko commented on #646
@brandonroberts solution is preferred (handle before flattening). If error stays unhandled then a variation of @metasong solution would be automatically applied (https://ngrx.io/guide/effects/lifecycle#resubscribe-on-error)

[2019-07-15 13:59] jtcrowson commented on #1956
@timdeschryver That's an interesting approach.

Also note that this issue is now explained in the docs (#1980).

[2019-07-15 14:58] jordanpowell88 commented on #1956
I agree that #1980 explains this more clearly now. I think it would be valuable to have a console error throw in @alex-okrushko example where the user accidentally duplicates.

[2019-07-15 16:58] timdeschryver commented on #2016
This is not the first time I see this question, so I agree that it would good to add a warning here.

Do you want to pick this one up @luchsamapparat ?

[2019-07-15 17:59] ben-henoida opened #2018 "schematics should not ignore sourceRoot"
## Minimal reproduction of the bug/regression with instructions:

https://github.com/ben-henoida/ngrx-generate-sourceRoot-bug

1. ng new app
2. cd app
3. ng add @ngrx/store
4. move src to src/main/webapp and update sourceRoot in angular.json
5. ng add @ngrx/store-devtools
6. ng add @ngrx/schematics
7. ng generate store State

==> reducers are created under src/app

## Expected behavior:

should cr

[2019-07-15 20:19] brandonroberts commented on #2018
Usage of source root was deprecated in the CLI, which is why we moved away from it.

[2019-07-15 20:19] #2018 closed

[2019-07-16 08:39] AdditionAddict commented on #1834
In case any one else ends up here I fixed a bug `ERROR Error: "Detected unserializable action at "payload.event` with this message using
[code]
See docs - https://ngrx.io/guide/router-store/configuration#router-state-snapshot

[2019-07-16 09:26] bhalash opened #2019 "Docs: Improve example for dependency injection."
## Other information:
My recent work has taken me into dependency injection. The `getConfig` used class in section [Dependency Injection -> Injecting Feature Config](https://ngrx.io/guide/store/recipes/injecting#injecting-feature-config) could be expanded to have more information about the object.

Current:

[code]

Proposed:

[code]

## I would be willing to submit a PR for the docs :heart:

[x]

[2019-07-16 11:47] ben-henoida commented on #2018
Thank you for your reply.
Angular does not mentionned it being deprecated... (cf https://angular.io/guide/workspace-config)
Can you clarify ?
Is there a way to use @ngrx/schematics if we use a source path different from 'src/app' ?

[2019-07-17 07:48] luchsamapparat commented on #2016
I'll create a PR on Friday 👍

[2019-07-17 10:32] vinothbabu commented on #741
This is not fixed right? any next releases have this one addressed.

[2019-07-17 12:09] brandonroberts commented on #2019
An expanded example would be good, but I don't think the `reducerFactory` needs to be included.

[2019-07-18 01:22] #1860 closed

[2019-07-18 01:27] #1996 closed

[2019-07-18 01:35] #1545 closed

[2019-07-19 16:00] peterreisz opened #2023 "Resubscribe on Error should work multiple times"
## Minimal reproduction of the bug/regression with instructions:

[code]

The console log shows only twice.

On the first error it switches to a new observable, but without any safeguard for the next error.
https://github.com/ngrx/platform/blob/master/modules/effects/src/effects_resolver.ts#L32

## Expected behavior:

The resubscribe should work multiple times in case error happens in the stream
T

[2019-07-19 16:04] Odonno opened #2024 "Selector does not work when the props parameter is undefined"
I created a selector with props and I used it but it did not work as expected. When I passed an "existing" value to the props param, it works like a charm but when I passed `undefined`, the selector did not work at all.

## Minimal reproduction of the bug/regression with instructions:

[code]

When `filter` is a valid string, it works. When `filter` is `undefined`, it does not even pass in the sel

[2019-07-19 18:07] alvipeo opened #2025 "Error: Schematic "store" not found in collection "@schematics/angular""
I just tried to add NgRx to my project reading this [https://ngrx.io/guide/schematics/store](url) and I get error when run the command `ng generate store State --root --module app.module.ts`:

I did install it with `npm install @ngrx/schematics --save-dev`.

What am I doing wrong?

Windows 10 x64, node 10.16.0, angular 8.1.0

[2019-07-19 18:13] alvipeo commented on #2025
Log:

-------------------
[error] Error: Schematic "store" not found in collection "@schematics/angular".
    at SchematicEngine.createSchematic ([path]\node_modules\@angular-devkit\schematics\src\engine\engine.js:232:23)
    at CollectionImpl.createSchematic ([path]\node_modules\@angular-devkit\schematics\src\engine\engine.js:69:29)
    at GenerateCommand.getSchematic ([path]\node_modules\@angula

[2019-07-19 18:49] alvipeo commented on #2025
uninstalled it with `npm`. And then installed it with `ng add @ngrx/schematics`. Now it works!

[2019-07-20 09:42] bhalash commented on #2019
@brandonroberts Sure, can do, so this?

[code]

[2019-07-20 11:42] timdeschryver commented on #2025
`ng add` sets the [default collection](https://ngrx.io/guide/schematics#default-schematics-collection), if you install it via `npm` or `yarn`, you need to do this manually.

[2019-07-20 11:42] #2025 closed

[2019-07-20 11:43] timdeschryver commented on #2024
Can you define "did not work at all" please and provide a reproduction?
From what I can see, it behaves correctly.

[2019-07-20 11:52] timdeschryver commented on #2023
Do you want to create a PR for this @peterreisz ?

[2019-07-20 13:51] peterreisz commented on #2023
Yes, done.

[2019-07-20 15:43] harmnot opened #2027 "defaultDataServiceConfig configurations example"
I want to set the url DefaultDataServiceConfig on NgRx/data, but the documentation not clear
can u all give example ? because when I getData the api hit the localhost which my localhost angular e.g http://localhost:4200/api/myentity
my server is on port 3000 tho, but I saw that I could change it with this documentation :
https://ngrx.io/api/data/DefaultDataServiceConfig
but still not clear

[2019-07-20 16:02] Odonno commented on #2024
Well, I assumed we could pass `any` object to the selector props but `undefined` is checked to see if we are using a `Selector` or a `SelectorWithProps`..

https://github.com/ngrx/platform/blob/136c5eb1e7ba45adc7d8c105e21a45fed7546ab6/modules/store/src/selector.ts#L511

@timdeschryver So, per my previous example, when you apply the `selectFilteredValues` selector with an `undefined` value, it crea

[2019-07-20 22:57] brandonroberts commented on #2019
👍🏿

[2019-07-21 20:32] jtcrowson opened #2028 "Schematics: Use MockStore in container generated tests"
The test file generated by the container schematic is currently importing the StoreModule:
[code]

Instead, the schematic should use MockStore:
[code]

## If accepted, I would be willing to submit a PR for this feature

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-07-22 06:29] timdeschryver commented on #2024
I'm still not sure, if `props` undefined it does execute the selector with `undefined` `props` because there are no `props`.
From what I can see [it does work as intended](https://stackblitz.com/edit/ngrx-seed-urpzqc?file=src/app/app.module.ts).

[2019-07-22 06:52] Odonno commented on #2024
Well, I made a fresh new test project and tried with an `undefined` filter. It does work as expected.

But on my current work project, it works if I set a valid string as props but it does not pass into the selector at all when the props are `undefined` but again if I create an object like `{ filter: undefined }`, it works...

Maybe it is due to the migration from ng7 to ng8 or something else. I n

[2019-07-22 08:16] agugan commented on #1981
@jordanpowell88  My idea was to let the developers know that these things are also possible with ngrx in a visual way. But I see your point. We can go with interactive idea mentioned by @wesleygrimes .

[2019-07-22 16:24] timdeschryver commented on #2024
Closing this issue, feel free to re-open if you have a reproduction.

[2019-07-22 16:24] #2024 closed

[2019-07-22 18:55] EM-LilianaIturribarria commented on #1026
Hi guys, any news about this issue? i'm having the same result as @BuntyBru

[2019-07-22 21:09] grok commented on #2005
It would seem we are experiencing the same issue. We are not touching state.

@timdeschryver This feel prematurely closed instead of having a conversation when someone has obviously put the time in to provide detail and start a dialogue.

For the moment, our dev team has actually had to disable runtimeChecks because of this issue.

Interestingly enough, our timeframe is the same as @lslocum -- thi

[2019-07-23 01:46] #2023 closed

[2019-07-23 04:14] mrucelum commented on #2013
Ah damn... of course! Thank you - and sorry for bothering you with this... :/

[2019-07-23 05:43] timdeschryver commented on #2005
I'm happy to take a look if you have a reproduction @grok
Was your team using `ngrx-store-freeze` before?

[2019-07-23 14:49] grok commented on #2005
Yes sir, we still are.

Let me see if we can spin up a test repo and send you a link. This may take a day or two.

[2019-07-23 22:42] peimelo commented on #1993
Hi, I haven't used `@ngrx/data` yet, but when I used `@ngrx/effects` I had the same problem:

[code]
`ERROR Error: Detected unserializable action at "error"`

I resolved by returning the `error.message` instead of `error`:

[code]

[2019-07-23 23:14] KrzysztofKarol commented on #1993
Thank you, @peimelo!
I'll try it today.

[2019-07-24 06:08] rip222 commented on #1794
so why did you get that warning? what was the cause?

[2019-07-24 16:28] KrzysztofKarol commented on #1993
Yes, somethink like this (https://stackblitz.com/edit/data-service-error-workaround?file=src%2Fapp%2Fpost-data.service.ts) can work but it's better to handle it in @ngrx

[2019-07-25 00:46] jordanpowell88 commented on #1981
![ngrx-flow](https://user-images.githubusercontent.com/3605268/61837742-1851a300-ae54-11e9-97ed-9fb862d0bbf8.png)
Here is an updated design based upon some of the feedback received. Thoughts?

[2019-07-25 00:51] wesleygrimes commented on #1981
This looks great @jordanpowell88, I think it more accurately reflects that effects are optional, and that they can in turn return new actions. Also good to show that the actions (action stream) is really the source in effects (in this example) and not the reducer.

[2019-07-25 00:54] jordanpowell88 commented on #1981
Thanks @wesleygrimes. I will work on adding this diagram to the docs and creating a PR

[2019-07-25 03:36] evgenyfedorenko commented on #1981
I was making a presentation for a talk I am going to give at a local meetup and created this diagram ( inspired by a @toddmotto youtube video about NgRx). Let me know what you think.
<img width="1679" alt="Screen Shot 2019-07-24 at 11 35 36 PM" src="https://user-images.githubusercontent.com/6563379/61843964-c1f05e80-ae6b-11e9-9542-800c34a1a2f9.png">

[2019-07-25 07:39] rickvandermey opened #2032 "initialState in reducer is not the initialState in createReducer (createReducer mutates initialState)"
I have a action which resets the current State, when the reducer is triggered, i update the state with the initialState, but the initialState is mutated.

[code]

when i just copy the deeper object of the initialState, it works.

[2019-07-25 07:49] jakeprins commented on #2032
Having the same problem. For the moment, we fixed it using `JSON.parse(JSON.stringify(initialState))` as the first argument of the createReducer

[2019-07-25 15:13] stemda commented on #1951
I'm facing the same issue. Unfortunately, using moment like you suggested @SerkanSipahi didn't solve the problem for me. Did I get you wrong?

start_date: Moment {_isAMomentObject: true, _i: Array(3), _isUTC: false, _pf: {…}, _locale: Locale, …}

[2019-07-25 18:00] timdeschryver commented on #2032
Can this be reproduced in https://stackblitz.com/edit/jasmine-testing-idgz66?file=src%2Ftodos.spec.ts ?

[2019-07-25 23:59] vicki2576 commented on #1993
Thank you

A-"74=HiwB8-^=d

On Tue, Jul 23, 2019, 6:15 PM Krzysztof Karol <notifications@github.com>
wrote:

[2019-07-25 23:59] vicki2576 commented on #1993
Thank you

A-"74=HiwB8-^=d

On Tue, Jul 23, 2019, 5:42 PM Paulo Melo <notifications@github.com> wrote:

[2019-07-26 00:57] Tabares commented on #498
@frontr-uk  Because is deprecated I have changed the approach using the _provideMockActions_, the action would be an let _actions$: Observable<any>_;

import { provideMockActions } from '@ngrx/effects/testing';

fdescribe('PizzaEffects', () => {
    let actions$: Observable<any>;;
    let service: Service;
    let effects: PizzaEffects;
    const data = gePizzaMockData();

    beforeEach(() => {

[2019-07-26 05:40] rickvandermey commented on #2032
Hmm, can't seem to reproduce in an empty project. this is weird. Will try and debug my code some more. But because it is a very large project, it could take some time

[2019-07-26 06:13] #2032 closed

[2019-07-26 14:39] evgenyfedorenko commented on #2027
@timdeschryver should we take this one?

[2019-07-26 14:41] evgenyfedorenko commented on #1982
I can take this one if it is ok

[2019-07-27 21:05] BobobUnicorn commented on #1604
@brandonroberts Can this be explicitly documented? It's rather unexpected behaviour, especially given that the signature does nothing to imply it will merge the provided objects with existing state.

[2019-07-29 03:23] varghesep opened #2034 "How to handle a long running effect?"
This is not a defect, but a question only.

An effect in my application takes 2 to 3 minutes to complete, and it can further be more slower in the future due to the data in the datasore is growing. Right now a ```http``` request is made and wait for that call to be succeeded and then a success action is sent. The reducer catches that action and navigate to a ```home``` page. during that time of st

[2019-07-29 13:00] timdeschryver commented on #2034
Support questions should be asked on [stackoverflow (with a ngrx tag)](https://stackoverflow.com/questions/tagged/ngrx) or the [gitter channel](https://gitter.im/ngrx/platform).

Maybe web workers? - [Running in Parallel: NgRx with WebAssembly, Web Workers and Worklets by Vitalii Bobrov](https://www.youtube.com/watch?v=AJsDy_45Yuc)

[2019-07-29 13:00] #2034 closed

[2019-07-30 10:00] guyng commented on #2027
@evgenyfedorenko Yeah i aswell need a custom port and i can't find any documentation how/where should i config it

[2019-07-30 10:01] guyng commented on #2027
@timdeschryver .

[2019-07-30 17:59] timdeschryver commented on #1956
Fyi, I'm listing some typescript rules that are useful (in my opinion) with NgRx.
It has a rule exactly for this case, for more info see [ngrx-tslint-rules](https://github.com/timdeschryver/ngrx-tslint-rules)

[2019-07-30 18:00] timdeschryver commented on #2027
We're always looking for documentation improvements.
Feel free to take this one @evgenyfedorenko 👍

[2019-07-30 20:22] techyaura opened #2036 "Attempting to configure '__@ngrx/effects_create__' with descriptor '{"value":{"dispatch":true,"resubscribeOnError":false}}' on object 'undefined' and got error, giving up: TypeError: Object.defineProperty called on non-object"
## Minimal reproduction of the bug/regression with instructions:
1. Open app
2. Home page leads to login page
3. Enter email & password
4. Click on login.
Observed result : -
On Dispatching the login action, corresponding effect is not executing.

## Expected behavior:
Should able to call the effect when dispatch the login action.

## Versions of NgRx, Angular, Node, affected browser(s) and operat

[2019-07-31 00:03] #2019 closed

[2019-07-31 00:05] #2016 closed

[2019-07-31 03:00] jtcrowson commented on #2036
@techyaura Would you mind editing this issue to provide a summarized title and detailed reproduction steps?  I'm having a hard time interpreting the issue with it's current structure.  Thanks!

[2019-07-31 03:23] #2028 closed

[2019-07-31 08:39] bohdanzhylavskyi commented on #877
:(

[2019-07-31 11:07] Zonnex commented on #1951
+1, date nor moment works

[2019-07-31 12:09] Adam-Michalski opened #2038 "Production build fails with initial configuration."
Production build fails with initial configuration.

[Get Started StackBlitz Example](https://stackblitz.com/edit/angular-ngrx-8-fail)

Download sources, install packages `npm i` and build with `ng build --prod`

[code]
## Expected behavior:

Build without errors

## Assumptions

I have found few issues pointing to:

[Docs](https://github.com/ngrx/platform/blob/master/docs/store/api.md#injecting-re

[2019-07-31 13:35] techyaura commented on #2036
Sure @jtcrowson.

[2019-07-31 13:58] techyaura commented on #2036
Hi @jtcrowson ,

I have updated the issue & here is the repo URL. If you need some more info from my side, Please let me know.

Thanks

[2019-07-31 17:05] timdeschryver commented on #2036
I don't want to sound harsh but please don't type everything as `any`, because this is the problem of why you haven't "caught" the mistakes.

- if you dispatch the action from the component, don't use `loginSuccess`, but use `login`
- return the actions stream in the effect: `return this.actions$.pipe(...)`
- don't return the dispatch in the effects, but return the success action:  `return loginSu

[2019-07-31 17:05] #2036 closed

[2019-07-31 17:17] timdeschryver commented on #2038
This is not redundant, but needed in order to be able to compile in AOT.

Instead of creating injection tokens, you can also wrap your reducer inside a "function reducer":

[code]

The appmodule would use this reducer, as:

[code]

[2019-07-31 17:17] #2038 closed

[2019-07-31 20:47] techyaura commented on #2036
Thanks a lot @timdeschryver. You saved me.

Definitely Just from now. I will try to make out my best when using types.

Here i had used the login only but `loginsuccess` tried for testing only.

That's was the thing `return`, which let me to take my head on the wall for the whole night. Thanks again for this quick response.

Sure, will not going happen from today.

_**Thanks a lot for your valuabl

[2019-08-02 06:56] colinskow opened #2039 "Code unclear in demo app (book.effects.ts)"
I am a bit perplexed by this line in the demo code. I've never seen this type of syntax before. It looks a bit like a curried function, but I see nothing about it in the `createEffect` documentation.

`() => ({ debounce = 300, scheduler = asyncScheduler } = {}) =>`

https://github.com/ngrx/platform/blob/master/projects/example-app/src/app/books/effects/book.effects.ts#L35

Perhaps this could be ex

[2019-08-02 11:20] manklu commented on #2039
It's a destructuring operation: https://basarat.gitbooks.io/typescript/content/docs/destructuring.html

Yep

[2019-08-02 11:56] timdeschryver commented on #2039
This is touched on in our docs of testing effects.

https://ngrx.io/guide/effects/testing#effects-with-parameters

[2019-08-02 11:56] #2039 closed

[2019-08-02 20:07] evgenyfedorenko commented on #2027
Alright, on it.

[2019-08-02 20:54] colinskow commented on #2039
Thanks @manklu I didn't know it was possible to set default values inside object destructuring. It is indeed a curried function.

[2019-08-02 21:44] alvipeo opened #2041 "When --strict feature selector does not compile"
I have an angular 8.2.0 app with ngrx 8.2.0 and I enabled `--strict` option for typescript (3.5.3).
My app has a feature module (lazy loading) and I use the standard technique to extend AppState and creating selectors:

**app.state** (global):
[code]

and **feature state** (pageBlock.reducer.ts):

[code]

and here's **the usage of the selector** in my component:
[code]
**Notice the ERROR** which i

[2019-08-03 00:49] onebrother21 commented on #683
The "startsWith, take(1)" solution is pretty solid. To achieve the desired effect, add an init action:

`export const TOOLS_EFFECTS_INIT = createAction('[Tools] Init');`

Then use a switchMap to dispatch the init action followed by the real actions needed upon init:

`init$ = createEffect(() => this.actions$.pipe(
    startWith({type:"INIT_TRIGGER"}),
    take(1),
    switchMap(() => [
      TOOLS

[2019-08-03 02:43] onebrother21 commented on #683
Quick note/correction. If you are using the router store, you may notice that your init actions will fire but the actual effect is not triggered due to the router-store effects registration. Adding a slight delay will ensure that side effects of your initial effects/actions fire as well.

`init$ = createEffect(() => this.actions$.pipe(
    startWith({type:"INIT_TRIGGER"}),
    take(1),
    delay(1

[2019-08-03 08:06] iamkdev opened #2042 "StoreModule.forFeature description is repeated in the docs."
![ngrx io_api_store_StoreModule](https://user-images.githubusercontent.com/1850968/62409411-4c675980-b5f4-11e9-8cdc-4728636ab6da.png)

## Other information:
Go to https://ngrx.io/api/store/StoreModule
Check the description for forFeature, which seems repeated. I think it can be removed.

## I would be willing to submit a PR for the docs :heart:
I can, but didn't find the file within ngrx repo.

[

[2019-08-04 13:58] dummdidumm commented on #2012
For services (effects) it works because the modules are lazy loaded. Because of this, angular creates a new injector context, and all services which are provided in your generic module will get instantiated again. If it works with StoreModule.forFeature like this with always the same name I don't know.

There also is a stackoverflow post related to your question: https://stackoverflow.com/question

[2019-08-04 14:02] montella1507 commented on #2012
Yeah, i know IT works And why it works (checked reducer Merge logic in forFeature method)..my issues Is about missing important recipe in documentation.

I Will create MR if NGRX team Is interested.

[2019-08-04 17:43] jtcrowson commented on #2042
Yes, they are similar, but the reducer parameter in the first function is noted to be of type `ActionReducerMap | InjectionToken`, and the reducer parameter in the second function is noted to be of type `ActionReducer | InjectionToken`.

[2019-08-04 18:55] brandonroberts commented on #1982
Sure

[2019-08-04 19:50] kubk commented on #1897
Just encountered this error because of a typo. Would be nice to have it fixed.

[2019-08-04 22:05] jtcrowson commented on #1897
I'm still in favor of moving forward with this error message in development mode only.  I can note that this error is not an issue for router state.  Thoughts @brandonroberts @timdeschryver?  I think it also helps in case of the router state, since an error is already being logged without explanation.

[2019-08-04 23:23] jtcrowson commented on #1855
@brandonroberts any thoughts on the above?  A synchronous solution would be useful, IMO.

[2019-08-04 23:55] brandonroberts commented on #1897
I think there is less value in this due to https://github.com/ngrx/platform/pull/2017, but it could provide some helpfulness.

[2019-08-05 00:16] jtcrowson commented on #1897
Agreed, the typo cause should hopefully be less common.  For me, this is more about accidentally not registering the state all together but trying to access a selector.

[2019-08-05 00:29] brandonroberts commented on #1855
I still think this should remain as a stream of dispatched actions. What about an accumulated array of actions as a stream? It fits better with the other APIs as a consumer, instead of it being a strictly synchronous API.

[2019-08-05 00:29] brandonroberts commented on #1897
👍🏿

[2019-08-05 00:34] alvipeo opened #2043 "Simplify Effects"
ngrx 8.2.0, angular 8.2.0

I have these kind of effects all over the place:
[code]

They're all first emit `startWorkingProgress` action to show global _working_ UI state and then they actually do the work and emit resulting actions. But I was thinking if we could have some simplified method for it, like:
[code]

[2019-08-05 00:36] alvipeo commented on #2041
btw, you can get away with this config:
[code]
so the only unresolved option is **_strictFunctionTypes_**.

[2019-08-05 09:50] timdeschryver commented on #2041
Can you reproduce this in a github repo?

[2019-08-05 09:59] timdeschryver commented on #2043
I think this case is too specific, but we're working on it:

- https://github.com/ngrx/platform/issues/1224
- https://github.com/ngrx/platform/issues/1826

That being said, you can write your own higher order effect to handle state selectors and pre-processing.

[2019-08-05 09:59] #2043 closed

[2019-08-05 10:49] alvipeo commented on #2041
yes, today or tomorrow

[2019-08-06 02:34] damienwebdev opened #2044 "bug(store): StoreModule.forRoot({}) and provideMockStore cross-test state bleeding"
## Minimal reproduction of the bug/regression with instructions:
https://stackblitz.com/edit/angular-wgwg9m

https://angular-wgwg9m.stackblitz.io/?seed=96859 //success
https://angular-wgwg9m.stackblitz.io/?seed=64919 //failure

## Expected behavior:
Tests are run independently.

## Actual Behavior
Tests are order dependent.

## Versions of NgRx, Angular, Node, affected browser(s) and operating sys

[2019-08-06 05:40] jtcrowson commented on #2044
Yep, discussed this with @timdeschryver and @brandonroberts offline.  This is happening because mock selectors aren't able to reset themselves in the current implementation.  Best approach forward is to call this out in the docs, and do a `afterAll(() => this.mockStore.resetSelectors())` in tests that use mock selectors.

[2019-08-06 06:11] timdeschryver commented on #2042
See @jtcrowson answer.

[2019-08-06 06:11] #2042 closed

[2019-08-06 11:39] Ketec commented on #2041
Seems I got something similar:
[code]

when using `pipe(take(1))` on store select.

[2019-08-06 20:29] evgenyfedorenko commented on #2027
@timdeschryver is it actually possible to set a different url for API endpoint when using @ngrx/data? B/c right now it seems like DefaultDataServiceConfig::root only accepts relative path.

[2019-08-07 09:03] Kimserey opened #2047 "State is not initialized when using spread operator in AOT"
## Minimal reproduction of the bug/regression with instructions:

When reducers are provided to `StoreModule.forRoot` via spread operator, the state is not initialized in AOT.

[code]

https://github.com/Kimserey/ngrx-reducer-test/blob/8371798a5038d880fe4adb5c8cfd1efb76ffe908/src/app/app.module.ts#L21

Serve with AOT `ng serve --aot` and observe the browser error:

[code]

Without spread operator,

[2019-08-07 14:00] timdeschryver commented on #2047
What's the reason you want to use the spread operator here?
I think this is out of our (NgRx's) hands.

[2019-08-07 15:10] smorandi commented on #1888
Hi, I don't think this issue really solved.
Either that, or it is a regression.

With the current version of ngrx 8.2.0, still get the same problem when doign a --prod build.
it works if using the --optimization=false flag though

[2019-08-07 16:46] smorandi opened #2048 "ngrx/data DataServices not called when doing --prod build"
## Minimal reproduction of the bug/regression with instructions:
a custom collection-service...
[code]
and a custom data-service...
[code]
and registering the data-service...
[code]

It all works perfectly fine when I then call load() on the data-service. however, once i test for production:
`ng serve --prod`
the data-service will not get called anymore, also any default data-services are not call

[2019-08-07 16:59] BioPhoton opened #2049 "Component: Problem with extending onChanges hook"
## Minimal reproduction of the bug/regression with instructions:

Normally live cycle hooks are extended by overwriting the Component_Definitions

[code]

Unfortunately, the `onChanges` feature is different than the rest and it is not possible to extend it in a normal way. The `onChanges` feature is created over [wrapOnChanges](https://github.com/angular/angular/blob/e688e02ee442658c754d813e84a990

[2019-08-07 17:36] Kimserey commented on #2047
I was using the spread operator to combine the router reducer with my current reducers without really thinking whether that was a good idea or not.

[code]

I didn't expect the spread operator to yield this behaviour when building with AOT and couldn't find any explanation.

Would you know the reason, and/or the correlation, with the state not being initialised?

Within an injection token factory

[2019-08-07 18:15] BioPhoton opened #2050 "RFC: Component: Evaluation of using angular's internal `ɵdetectChanges` method"
## Minimal reproduction of the bug/regression with instructions:

At the moment the `puah$` pipe relies on `detectChanges` or `markForCheck` from the `ChangeDetectorRef` [injected over the pipes constructor](https://github.com/ngrx/platform/blob/ngrx-component-setup/modules/component/src/push%24/push%24.pipe.ts#L34)

Here my question:
I have a [detectChanges](https://github.com/ngrx/platform/blob/

[2019-08-07 18:30] SerkanSipahi commented on #2048
I can confirm this!

[2019-08-07 18:30] BioPhoton opened #2051 "RFC: Component: `ngrxLet` and `embeddedView`"
## Minimal reproduction of the bug/regression with instructions:

When setting up a context variable in a structural directive we have to work with `viewContainerRef`.
There is a `createEmbeddedView` and a `clear` method on this object.

My question here is should we.
a) mutate the viewContext object (done atm) and clear on `ngOnDestroy`
b) `clear` and call `createEmbeddedView` again on every chan

[2019-08-07 19:41] BioPhoton opened #2052 "RFC: Component: Proposal for a new package `component`"
# RFC: Component: Proposal for a new package `component`
Reactive primitives for components

# https://github.com/ngrx/platform/pull/2046
---

- Start Date: 2019-08-07
- RFC: Component: Proposal for a new package `component`

---
Table of Content
---

- Summary
- Motivation
- Overview
  * Input Decorator
  * Output Decorator
  * HostListener Decorator
  * HostBinding Decorator
  * Input Binding

[2019-08-08 03:22] evgenyfedorenko commented on #2052
Is this going to be extending angular component implementation? Not completely follow.

[2019-08-08 06:58] itayod opened #2053 "Store: Proposal: Add Higher Order Component decorator"
## Summary

Since in most of the cases, each `containerComponent` has its own `reducer` function and `actions` file we could create a `store` for a specific container component. We can do achieve that with by adding a Higher Order Component decorator, with store configuration for "container components", which will create a store for the specific component.

## Advantages

Creating Hoc for componen

[2019-08-08 12:37] brandonroberts commented on #2053
Thanks for the proposal @itayod! We are looking at ways of accomplishing this with Ivy, so I'd like us to take a step back and not just think "How can I do this with a decorator".

[2019-08-08 12:38] Tibing commented on #2052
Thanks for sharing this RFC, I really like your ideas 😄

[2019-08-08 12:50] itayod commented on #2053
Thanks, @brandonroberts,
Sure, the Ivy release is the reason I opened this issue :)

I have recently played with HOC's in Ivy

For example, I created an [auto-unsubscribe](https://ivy.ng-run.com/edit/2jqY7nJ528JJD1uxduZS?open=app%2Fchild%2Fchild.component.ts&layout=1&aot=false
)

Anyway, I am happy to hear that you are working on a way to accomplish that :)

[2019-08-08 15:44] chriswininger opened #2054 "Props not passed to createAction for setScores Action"
## Other information:
On the `https://ngrx.io/guide/store/reducers` page there is an example which appears to be missing some necessary code.

setScores is defined as:

[code]

Then the reducer for this action has the following definition:

[code]

As is typescript is confused by `{ game }`. The problem appears to be resolved, by supply createAction with props

[code]

I would be willing to create

[2019-08-08 18:09] timdeschryver commented on #2054
Great catch!
For our docs, you can edit them via the pencil icon on the top of the page:

![image](https://user-images.githubusercontent.com/28659384/62726577-df026100-ba17-11e9-9322-43293131b0f9.png)

You can edit the docs for this issue at https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/guide/store/reducers.md

Do you want to create a Pull Request for this?
To get up and ru

[2019-08-08 21:53] BioPhoton commented on #2052
@Tibing what exactly? Is there a feature that is missing?

[2019-08-08 22:55] Tibing commented on #2052
I mean I like your idea to make Angular *truly reactive*. I still didn't get too deep to the RFC, whereas from the first sight, I have the following questions:

- **@HostBinding**. You stated that reactive approach as TBD, but, do you have currently any ideas on how to do it? I mean, maybe you already have some drafts but don't want to share them? :smile:
- **@hook$** I don't like the idea of havi

[2019-08-09 05:30] suhasdeshpande commented on #316
I am having the same issue. Is there a workaround? I have same structure as @MikeRyanDev proposed I think*.

[code]

This is my ngBootstrap
[code]

**This is my sample effect**
[code]

As soon as I inject ```@Inject('AngularJSService') private angularJSService: any,``` I get

![Screen Shot 2019-08-08 at 10 22 57 PM](https://user-images.githubusercontent.com/606167/62756047-2514f000-ba2b-11e9-96ff-

[2019-08-09 07:27] pobrienms commented on #316
The solution that I generally use to workaround this is to lazy initialize the Injectable that I need.  This only works if the effect that you're using the Injectable runs after AngularJS bootstraps, but for the most part this is working well enough for my purposes.

[code]

[code]

In this example, the AngularJS injector is only used when the block inside mergeMap runs.  Effects classes are const

[2019-08-09 09:18] Kamshak commented on #2052
This is a really great idea! These things would make it frictionless to work with Observables properly in Angular, it's always a pain to write so much boilerplate when it would be so natural to use observables (@Input(), ngOnChanges practically screams Observable value to me).

Some previous discussion on the input topic can be found here as well: https://github.com/angular/angular/issues/5689

[2019-08-09 09:30] anno1985 opened #2056 "Auxiliary verb missing on Getting Started page"
An auxiliary verb (`is`) seems to be missing on the Getting Started page about [here](https://ngrx.io/guide/store#key-concepts):

(All other items in the list use the simple present, so having the simple past here makes me anticipate another verb in the sentence, which never appears, and thus trips me up while reading. On its own, the sentence makes a perfectly good list item...)

## Other informa

[2019-08-09 10:54] timdeschryver commented on #2056
You can edit our docs via the pencil icon on the top of the page:

![image](https://user-images.githubusercontent.com/28659384/62726577-df026100-ba17-11e9-9322-43293131b0f9.png)

There is also a guide to contribute on our [contributing page](https://ngrx.io/contributing).

[2019-08-10 00:16] #1981 closed

[2019-08-10 00:22] #2054 closed

[2019-08-10 00:26] wesleygrimes commented on #1981
Nice work @jordanpowell88!

[2019-08-10 09:23] ShevaDavid commented on #1127
I suspect there is some memory leak in the example app, because my CPU became crazy when I opened Stackblitz

[2019-08-10 11:27] jordanpowell88 commented on #1981
Thanks @wesleygrimes

[2019-08-10 13:47] lVlyke commented on #2052
+1, these are great ideas that definitely make reactive programming easier with Angular.

Since it's highly related, I also want to give a shout-out to my own library [@lithiumjs/angular](https://github.com/lVlyke/lithium-angular) that implements many of these ideas through new decorators that can be applied to component properties, inputs, outputs, host listeners, lifecycle events, etc.

[2019-08-10 17:57] only2dhir commented on #2052
A great idea indeed!

[2019-08-10 19:50] bryanrideshark commented on #2052
What if you just start with the directives? I feel like multiple packages might be better than a single, large package containing everything.

We actually forgo ngOnChanges entirely now - at my workplace we use the following directives to hook up @Input() to a BehaviorSubject:

[code]

The decorator essentially adds a getter / setter which allow reading / writing to the underlying BehaviorSubject.

[2019-08-10 21:04] BioPhoton commented on #2052
@Tibing

No ATM I didn't investigate in int.

I also like the idea of having one decorator per hook.

We may need lifecycle hooks in addition to observable input bindings

The goal here is to get observables from the view. Button clicks, inputs, any dom events, any angular event binding i.e. `(click)`

[2019-08-10 21:11] BioPhoton commented on #2052
@bryanrideshark

The package contains only stuff for components/directives

Actually all lifacycles hooks are considered under section "Component and Directive Life Cycle Hooks"

[code]

2 things I can say here:
A) you should use a `ReplaySubject(1)` instead of a `BehaviorSubject(initValue)`.
You don't need an initial, but just the latest value.
B) pulling out a value form an `Observable` over `.v

[2019-08-10 22:34] CreativeSlave commented on #1026
Any word on this?

[2019-08-11 02:47] brandonroberts commented on #1026
Can you provide updated repro steps with the latest release?

[2019-08-11 13:01] BioPhoton commented on #2052
I would be interested in feedback on 2 extensions:
- `push` pipe
- `*ngrxLet` directive

Here a review of the suggested features, as well as general feedback, would be nice. :)

[2019-08-11 22:08] LayZeeDK commented on #2052
I know that the NgRx team will agree that we should not add additional decorators. Angular uses decorators heavily, but they are removed at compile time, since they are only used to instruct the compiler, create injectors, and so on.

Several of the use cases you suggest should be doable using [Ivy _features_](https://blog.nrwl.io/metaprogramming-higher-order-components-and-mixins-with-angular-ivy

[2019-08-11 22:15] LayZeeDK commented on #2052
@BioPhoton For the push pipe, you should make sure not to trigger/queue multiple change detection cycles from the same change detection cycle. Ivy's `markForCheck` does this.

Meaning, if two components depend on the same observable and a new value is emitted, only a single change detection cycle should occur right after the value emission as a result of the push pipe.

This could be done by calli

[2019-08-11 22:54] VPashkov commented on #2052
@BioPhoton in the "Output Decorator" section do you mean `btnClick.next($event)` instead of
`clickEmitter.next($event)`?

[2019-08-11 23:15] marcinmajkowski opened #2059 "@ngrx/data optimisticUpdate does not work with custom selectId"
## Minimal reproduction of the bug/regression with instructions:
https://stackblitz.com/edit/angular-4lxmjk

Use `@ngrx/data` and define entity with following properties:

- `entityDispatcherOptions.optimisticUpdate` set to `true`
- `selectId` selecting property other than `id` (it is `_id` in my case).

Extend `EntityCollectionServiceBase` and call its `update` method (click "Update Foo name" but

[2019-08-12 00:26] JiaLiPassion commented on #2059
@marcinmajkowski, yeah, I think you are right, should use `mustBeUpdate`.

[2019-08-12 02:49] #2056 closed

[2019-08-12 02:52] brandonroberts commented on #2059
Thanks @marcinmajkowski, it's yours to fix if you want it.

[2019-08-12 08:25] maxime1992 opened #2061 "Update and upsert functions are not taking into account removed properties"
## Minimal reproduction of the bug/regression with instructions:

I have an object that has some optional fields.
Let say that the interface looks like the following:

[code]

If at a given point in time the object is set in the store with both properties and I want to remove the optional one later, I can (using update or upsert).

CF this line: https://github.com/ngrx/platform/blob/4e4c50f1a010a7

[2019-08-12 13:28] SerkanSipahi commented on #2047
@Kimserey i think your issue is related to Angular Ivy, see: https://github.com/angular/angular/issues/29835#issuecomment-488641027

[2019-08-12 14:22] MikeRyanDev commented on #2052
@LayZeeDK This would only be for Ivy applications and it would be using `markForCheck` under the hood. We should be getting batching/scheduling for free as a result.

[2019-08-12 14:23] MikeRyanDev commented on #2052
A high level constraint I'd like to place on the RFC: we should avoid decorators as much as possible. You can't type check them and they break lazy loading. If we have to use decorators for some of these APIs then we should take a similar approach to the AOT compiler or ngx-template-streams: apply code transforms to de-sugar them and strip the decorators.

[2019-08-12 14:30] krisjobs commented on #2059
I'm heaving a similar issue with a call to mustBeUpdates()

EntityAction guard for "[...] @ngrx/data/entity-cache/save-entities": payload , item 1, has a missing or invalid entity key (id)

Even though the type checker yields no errors.

[2019-08-12 15:42] marcinmajkowski commented on #2059
@krisjobs you most likely shared wrong stackblitz since url is same as mine.

[2019-08-12 16:23] krisjobs commented on #2059
Sorry -> https://stackblitz.com/edit/angular-4lxmjk-gbpd1g

[2019-08-12 20:18] wesleygrimes commented on #1981
@jordanpowell88 what app did you use to build this diagram? Could you share the template / original source file for the diagram?

[2019-08-12 20:41] jordanpowell88 commented on #1981
@wesleygrimes I did it on Photoshop. You would need a licensed copy of it to make edits. Do you still want me to post it?

[2019-08-12 20:56] manklu commented on #2061
see https://github.com/ngrx/platform/issues/1604

[2019-08-12 20:58] wesleygrimes commented on #1981
That would be great! Thanks

[2019-08-13 09:03] twittwer opened #2062 "Router selectors are only selecting route params of last child"
## Minimal reproduction of the bug/regression with instructions:

https://stackblitz.com/edit/ngrx-router-aggregated-params

## Expected behavior:

The router selector should aggregate the route params when there are embedded routes with multiple router outlets.

Working:
[code]

Not Working:
[code]

## Other Informations

Current Code: https://github.com/ngrx/platform/blob/master/modules/router-s

[2019-08-13 12:13] mehrad-rafigh commented on #101
How would one solve this with the new creators syntax? Could not find any updated infos on that. Much appreciated

[2019-08-13 16:49] manklu commented on #2061
@maxime1992 Issue https://github.com/ngrx/platform/issues/1604 contains the answer for upsert, work as designed.

[2019-08-13 16:53] kevinbeal commented on #1951
`Date` is serialize-able in other contexts (e.g. as JSON and `toString`). For what reason does NGRX impose additional limits on an object's ability to be serialized?

Maybe there are some properties which are computed and return different values at different times? That would make more sense here, but the restriction is also being set on any instance of a class (it seems).

[2019-08-13 17:11] kevinbeal opened #2063 "strict serializability check for actions should happen *after* the action creator is ran"
I'm using the `createAction` overload which allows for a function as the second parameter. In that function, I'm making a currently unserializable object serializable. This is too late however as the check happens before this function is ran.

If this function is not supposed to be used to normalize, format, modify in some way data before it's sent to the reducer, then what is it for?

## Describe

[2019-08-13 19:12] whisher commented on #1179
Hi there,
considering that I didn't find any example,
I post this simple one
`import { combineReducers } from '@ngrx/store';

import {
  userAddressesReducer,
  UserAddressesState,
  initialUserAddressesState
} from './user-addresses.reducer';
import { userProfileReducer, UserProfileState, initialUserProfileState } from './user-profile.reducer';

export interface UserState {
  addresses: UserAddre

[2019-08-13 20:20] maxime1992 commented on #2061
Indeed. Feels like passing an option to the method might be a good think rather than having to set all the fields to remove to null or undefined though.

[2019-08-14 03:26] Hernan12345 opened #2064 "MyCounterComponent is missing in app.module.ts"
MyCounterComponent should be imported like this?? (see below)
declarations: [AppComponent, MyCounterComponent],

[2019-08-14 04:28] agugan commented on #2063
Hi @kevinbeal
Do you currently have a stackblitz demo that reproduces this?Or if not can you post one?

[2019-08-14 07:26] nisargjoshi16 commented on #1466
Thank you @timdeschryver . Good help.

[2019-08-14 07:54] smorandi commented on #2048
OK, seems this is related to the following: https://github.com/ng-packagr/ng-packagr/issues/1307

So, it is highly unlikely this to be a NGRX issue. To verify this, i have built with es5 as the target (in tsconfig.json).
Then, doing a --prod build without any flags, it all worked as expected.

[2019-08-14 10:50] krisjobs commented on #2059
@marcinmajkowski can I have a look on your branch?

[2019-08-14 17:09] KrzysztofKarol commented on #1993
Setting `runtimeChecks` to
[code]
"solves" the problem.

[2019-08-14 22:13] montella1507 commented on #931
@brandonroberts  why is it closed? I think, ngrx is breaking "angular rules" :-(

[2019-08-15 07:01] smorandi commented on #2048
This issue can be closed. With the latest version of @angular-devkit/build-optimizer (0.802.2)
(https://github.com/angular/angular-cli/releases)

Builds now work again as expected, also for es2015 targets.

[2019-08-15 10:29] jordanpowell88 commented on #2064
@Hernan12345 Unless I am misunderstanding your issue it appears to already be there.

<img width="732" alt="Screen Shot 2019-08-15 at 6 28 16 AM" src="https://user-images.githubusercontent.com/3605268/63089462-f1076680-bf25-11e9-971e-394ef1a2c265.png">

[2019-08-15 13:22] talohana opened #2068 "RFC: Effects: Dispatch multiple actions at OnInitEffects lifecycle"
## Describe any alternatives/workarounds you're currently using
In case I need to dispatch multiple actions at `OnEffectsInit`, I create a general `initAction`,
create an effect with `ofType(initAction)` and dispatch the multiple actions I need with `mergeMapTo`.

For example:

[code]

## If accepted, I would be willing to submit a PR for this feature

[x] Yes (Assistance is provided if you need h

[2019-08-15 18:54] #2048 closed

[2019-08-15 19:32] marcinmajkowski commented on #2059
@krisjobs I am not sure which branch do you mean. This is where I have implemented a fix (one line changed): https://github.com/marcinmajkowski/platform/tree/2059 .

[2019-08-15 19:49] marcinmajkowski commented on #2059
@krisjobs I was able to update multiple entities at once using following code:
[code]
There was no need for accessing dispatcher directly and no error occured.

I was also able to dispatch your `changeSet` by adding `id` property to `changes` object.

[2019-08-16 03:05] BBlackwo commented on #1546
It's quite annoying to have to add the `fixture.destroy();`. I've never had to do this for anything else as a fresh one is always created in each `beforeEach`. Why is this necessary?

[2019-08-16 04:16] JiaLiPassion commented on #2059
@marcinmajkowski , you can call `updateManyInCache` if the data is only updated in `frontend` and will not be send to backend, but in the normal case, we need to use `dispatcher` to dispatch action for update both `backend` and `frontend`.
And also add `id` property is not recommended in this case because the `model` doesn't have `id` property, to be consistent, app and `ngrx/data` should all use

[2019-08-16 05:54] krisjobs commented on #2059
Please refer to my updated stackblitz @ https://stackblitz.com/edit/angular-4lxmjk-gbpd1g -> example.component.ts

[2019-08-16 10:39] TheRisa commented on #1054
I've found the same problem.
Avoiding the use of "this.state.getValue()" was the cleaner solution, but removing "import { StoreDevtoolsModule } from '@ngrx/store-devtools';" worked as well.
There may be a conflict between .getValue() and this dependency

[2019-08-16 11:02] JiaLiPassion commented on #2059
@krisjobs, yeah, maybe `upsert` has the same issue.

[2019-08-16 11:11] krisjobs commented on #2059
@JiaLiPassion I've just tested it and it turns out dispatcher->upsert works properly, as it expects T[] and not Update<T>[] as argument.

It's just dispatcher->update that isn't working

[2019-08-16 12:19] JiaLiPassion commented on #2059
@krisjobs , thanks for the clarification!

[2019-08-16 14:35] krisjobs commented on #2059
I've found the bug but have no time for a pull request.
Please update -> https://github.com/ngrx/platform/blob/master/modules/data/src/actions/entity-action-guard.ts#L93

`_this.selectId(changes)` returns undefined, because it could have no id (is of type `Partial<T>` and does not necassarily need to include id)

type Update hase {id, changes}, not the changes themselves.

[2019-08-16 15:48] macjohnny opened #2070 "Improve the type safety of select()"
It would be nice if
[code]
would throw a compile error if `someProperty` does not exist in the state defined.
Currently, it always falls back to this signature
https://github.com/ngrx/platform/blob/214e7dc3080ec81afff29140882a695db22cc129/modules/store/src/store.ts#L178-L185

## If accepted, I would be willing to submit a PR for this feature

[x] Yes (Assistance is provided if you need help submit

[2019-08-16 18:10] chikakow commented on #1054
Hi this was happening to my dev enviroment with Angular core 8.2.2.  In my case, I was not injecting State and I also removed StoreDevToolsModule but it was still happening.  I just updated the code from v7 to v8 a couple of days ago and I still have lots of v7 style way of actions, reducers, and effects.  But this was only happening to the effect with a new v8 syntax createEffect(() => this.actio

[2019-08-16 18:56] aleksandar-petrovic commented on #1490
This problem occurs in my project.
I tried updating project to angular 8 and ngrx to 8 but it didn't help, it is the same, actions are not injected in service
Any advice?

[2019-08-16 18:57] mxdmedia opened #2071 "@ngrx/data docs- Clarify what the 'root' parameter means in DefaultDataServiceConfig class docs"
IMO, the DefaultDataServiceConfig class docs are not very clear.  In particular, I spent way too much time trying to figure out how to hit an API that was not local.  The 'root' parameter is listed as:

As there is no indication here regarding the domain and port, I was under the assumption that this value was simply the root path portion of the URL- i.e.- the common path *after* the address and p

[2019-08-16 19:31] dwasyluk opened #2072 "Effect with two actions results in invalid action error?"
I'm trying to emit two events from my effect and I keep getting an invalid action error. If I remove the array return and only return a single action it works fine. Appreciate any advice or help here.

Working:
[code]
Not Working (invalid action):
[code]

What am I missing here?

[2019-08-16 21:51] manklu commented on #2072
Try mergeMapTo instead of switchMap

[2019-08-16 22:07] dwasyluk commented on #2072
@manklu thanks for the help. mergeMapTo I don't think will work as the payload of the action changes based on the results of some operations. The sample i posted is a bit simplified.

I tried mergeMap and getting same error:

[code]

[2019-08-17 08:14] manklu commented on #2072
Sorry, wrong direction.

You must return an Observable and then it works also with switchMap.

[code]

[2019-08-17 09:09] #2072 closed

[2019-08-17 09:30] timdeschryver commented on #2064
It's unclear what the question is, but it seems as @jordanpowell88 already provided an answer.
Please feel free to re-open the issue, but with more information if the answer provided wasn't what you were looking fore.

[2019-08-17 09:30] #2064 closed

[2019-08-17 09:50] timdeschryver commented on #2063
The serializability check happens when the action is dispatched to the store, not when you call `createAction`.

My guess is that the action is not serializable, feel free to re-open the issue with a reproduction/the dispatched action.

[2019-08-17 09:50] #2063 closed

[2019-08-17 10:27] timdeschryver commented on #2071
If you want, you can create a PR @mxdmedia

[2019-08-17 11:14] timdeschryver commented on #2070
Do you want to create a PR for this @macjohnny ?

[2019-08-17 11:40] timdeschryver commented on #2068
Dispatching multiple actions at once is considered an anti-pattern.

The action dispatched would be a `Feature B Loaded`, and multiple effects can listen for this action to process a side effect.

[2019-08-17 11:40] #2068 closed

[2019-08-17 11:45] timdeschryver commented on #2015
I think this isn't something that we're looking to create (for now?).
Nicholas Jamieson is working on a RxJS devtools, which is what you're looking for if I'm not mistaken - https://twitter.com/ncjamieson/status/1159095787319463936?s=20

[2019-08-17 11:45] #2015 closed

[2019-08-17 11:57] #2010 closed

[2019-08-17 12:12] timdeschryver commented on #1863
FWIW, @adrianfaciu created a [PR](https://github.com/ngrx/platform/pull/1845/files) with examples for effects based on other streams.

I think having a recipe / examples about this topic in the docs might be helpful 👍

[2019-08-17 21:17] krisjobs commented on #2059
I just found my problem was related to the fact, that `update.changes` should contain the id as well (even though it is already available as `update.id`.

as explained [here](https://ngrx.io/guide/data/entity-dataservice):

This is due to the fact update objects get flattened: `updates.map(u => u.changes)` in the DefaultDataService

[2019-08-17 22:00] macjohnny commented on #2070
@timdeschryver i will try to investigate this and find a solution

[2019-08-18 00:25] garrappachc commented on #2000
I'm sorry, but I don't know why this was closed. Tests included in the repo by @pburkindine still don't pass, even after setting new state, as described by @timdeschryver. I'm having exactly same issue with my unit tests in my projects.

[2019-08-18 00:27] garrappachc commented on #1978
The `MockStore.setState()` method doesn't do anything as far as mocked selectors are concerned.

[2019-08-18 09:23] EnricoVogt commented on #2027
This seems related to #2071

[2019-08-19 02:06] wesleygrimes commented on #2012
@montella1507 you should look into the work that Jon Rista is doing with NgRx auto entity. He’s using tokens to provide and over specific library level effects and reducers.

[2019-08-19 02:25] wesleygrimes commented on #2052
Nice work @BioPhoton! Just had sometime to read through this.

I am sure more thoughts will come to me as time goes on and I digest more, but the first thought I am having is that I would love to see a take on the lifecycle hooks that doesn’t require a decorator.

For example, a more functional solution like:

‘onInit(()=>{...});’ etc...

These could be wired up in the constructor of the component

[2019-08-19 14:11] brandonroberts commented on #2070
Will you add some context as to why you are using string selectors instead of selector functions?

[2019-08-19 14:49] macjohnny commented on #2070
@brandonroberts sometimes it is handy to just select a single property with
[code]
without needing to declare a selector function for every single, possibly nested property of the state.
the function signatures
https://github.com/ngrx/platform/blob/214e7dc3080ec81afff29140882a695db22cc129/modules/store/src/store.ts#L122-L177
allow do to that, but unfortunately, the compiler will fall back to
https

[2019-08-19 15:51] timdeschryver commented on #2070
For me, string selectors are the "worst" selectors there are.
I encourage selectors, but for small project this might be an overkill and I would fallback to:

[code]

[2019-08-19 16:08] macjohnny commented on #2070
@timdeschryver so do you want me to close the issue and PR?

[2019-08-19 16:42] brandonroberts commented on #2070
I agree with @timdeschryver, that's why I asked for more context. I'd recommend using selector functions even for "simple" selections.

[2019-08-19 16:48] timdeschryver commented on #2070
Imho, if we support strings as selectors, the correct typings should be provided (if possible).

[2019-08-19 16:55] macjohnny commented on #2070
@timdeschryver I agree that the correct typings should be provided, as the function accepts string selectors.
Feel free to reopen this issue/PR

[2019-08-19 20:52] BioPhoton commented on #2052
@wesleygrimes, as far as I know, it is possible. However, setting up everything al the time in the CTOR is something repetitive that I try to avoid.

I guess we should investigate in the suggestion from @MikeRyanDev [here](https://github.com/ngrx/platform/issues/2052#issuecomment-520446006)

@MikeRyanDev regarding the change-detection, It should have a flag to detach CD and trigger it manually (zo

[2019-08-19 21:08] wesleygrimes commented on #2052
Agreed on the CTOR part, could just be a class field initialized with `onInit$ = onInit(() => {...})`

[2019-08-19 22:55] BovineEnthusiast commented on #1054
I've had a similar case to @chikakow. I changed just one of my effects to the old style:

[code]

from

[code]

and it only fires once now.

[2019-08-20 05:18] jrista commented on #2012
As @wesleygrimes mentioned, I have used NgRx in a library I've created called NgRx Auto-Entity. In this library, I automatically register reducers (specifically, meta-reducers, which are a more viable approach in a library), as well as effects (although the functions I am using are not really documented, so we should either get them documented properly and make them official, or create another/bet

[2019-08-20 13:41] mxdmedia opened #2077 "@ngrx/data DefaultDataService, add config option for trailing slashes."
While normally considered bad practice, there are APIs out there that require a trailing slash on endpoints, and as a front-end dev, we don't always have the ability to change this.  I have been unable to use @ngrx/data with a particular API due to this, and looking through the `HttpUrlGenerator` code, it doesn't appear possible with the current version of @ngrx/data.

~~I have working code which

[2019-08-20 16:35] mxdmedia commented on #2077
Thinking about this a little more, I believe there is a more flexible way to do this.  I went through a list of APIs I commonly use, and see the following requirement sets:

1. No trailing slashes at all.  E.g.:  `api/heroes`, `api/heroes/{heroId}`.
2. Trailing slashes on collections but not singe entities.  E.g.: `api/heroes/`, `api/heroes/{heroId}`.  This appears to be the current default behavi

[2019-08-21 15:54] sagunpandey opened #2079 "How to we update additional entity properties?"
## Other information:

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[x] No

I have a reducer where I am updating an entity state by using addAll(). While adding I need to set some other custom entity properties too. I tried checking the [docs](https://ngrx.io/guide/entity/adapter) but couldn't find anything o

[2019-08-21 17:19] manklu commented on #2079
@sagunpandey
I would say it depends on what updates you need. Setting some attributes to (nearly) fixed values or complex logic?

And who is the source of the action? GUI? An Effect? Other?

[2019-08-21 17:26] timdeschryver commented on #2079
We have this on a recipe's page: [Additional state properties](https://ngrx.io/guide/entity/recipes/additional-state-properties).

Feel free to re-open this issue if it's missing something.

[2019-08-21 17:26] #2079 closed

[2019-08-21 18:15] Zarepheth commented on #2018
I'm having the same problem, but with a different path.
How do we work around the use of a non-default source path?

[2019-08-21 18:25] Zarepheth commented on #2018
By using a relative path, I can specify the `--module` location.
[code]
Unfortunately, this doesn't work for the `--statePath` option when specifying the desired location of the generated files.

[2019-08-21 20:46] BovineEnthusiast commented on #1054
@brandonroberts I have this issue even when `StoreDevtoolsModule.instrument()` is disabled. I also just had the issue where an effect that doesn't dispatch anything didn't just fire twice but looped (and sent me 3000 emails 😨 ). Should I open a new issue? I'm pretty sure the effects are written correctly:

[code]

Should I open a new issue?

[2019-08-21 21:13] manklu commented on #1054
@BovineEnthusiast https://ngrx.io/guide/effects/lifecycle#non-dispatching-effects

[2019-08-22 00:37] BovineEnthusiast commented on #1054
Ahh @manklu thanks!

Here were my issues:

1. After upgrading to ngrx 8, I didn't remove the `@Effect()` decorators from the effects I've transitioned to `createEffect`.

2. I removed `{dispatch: false}` from the effects (now using `createEffect`) instead of placing them as the second argument, after the arrow function.

Everything works now.

[2019-08-22 03:20] #2071 closed

[2019-08-22 03:22] #2059 closed

[2019-08-23 09:04] wilgert opened #2080 "Bug: @ngrx/effects { dispatch: false } does not work when running unit tests"
## Minimal reproduction of the bug/regression with instructions:
Because the bug only occurs when running unit tests we have created a GitHub repo instead of a StackBlitz.

https://github.com/NavaraBV/ngrx-dispatch-false-bug

## Expected behavior:
`{ dispatch: false }` stops the effect from emitting any actions when running unit tests using `provideMockActions`.

## Actual behavior:
When running u

[2019-08-23 17:36] walrus95 opened #2082 "Failing action unit test without creators from NgRx schematic"
When I use the action schematic to generate an action unit test with creators, I get a passing unit test. However, when I use the action schematic to generate an action unit test without creators, I get a failing unit test.

##Minimal reproduction of the bug/regression with instructions:

You get a failing spec when not using creators:
[code]

However, you get a passing spec when using creators:

[2019-08-24 15:51] timdeschryver commented on #2080
An effect will always emit a next value.
The difference is that `dispatch: false`, does not dispatch the emitted action.

https://github.com/ngrx/platform/blob/master/modules/effects/src/effects_resolver.ts#L37

[2019-08-24 15:51] #2080 closed

[2019-08-25 06:16] wilgert commented on #2080
I believe this is still a bug. I pushed an update to the reproduction repo. It now logs the value that was emitted in the subscriber. You can clearly see that what was emitted is in fact the Action.

<img width="437" alt="Screenshot 2019-08-25 at 08 15 54" src="https://user-images.githubusercontent.com/503813/63646293-9e416200-c710-11e9-9fa8-e043575dd0d7.png">
<img width="274" alt="Screenshot 2019

[2019-08-25 11:16] timdeschryver commented on #2080
Yes, the effect will always emit a value (an action, or another object).
The difference is that `dispatch: false` does not dispatch the emitted value, whereas `dispatch: true` will dispatch the value (an action, or another object).

[2019-08-25 11:17] timdeschryver commented on #2080
To clarify, dispatch false does not change the effect's stream. It only prevents the emitted value to be dispatched.

[2019-08-25 16:17] wilgert commented on #2080
Ah I get it, so my test is wrong. How can I design a test that catches when
{ dispatch: false } is removed?

On Sun, Aug 25, 2019, 13:17 Tim Deschryver <notifications@github.com> wrote:

[2019-08-26 03:10] debuggerpk commented on #2077
This will be useful. especially when your backend is based on django-rest-framework

[2019-08-26 12:06] TheILPlace commented on #931
ngrx-data also breaks the rules, and runs before aPP_INITIALIZER finishes !
please re-open

[2019-08-26 16:03] walrus95 opened #2088 "example app does not work on StackBlitz"
## Minimal reproduction of the bug/regression with instructions:

I click the link under, "try the example-app on StackBlitz." I don't see the example app run on StackBlitz.

## Expected behavior:

The example app runs on StackBlitz after clicking the link.

## I would be willing to submit a PR to fix this issue

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[x] No

[2019-08-26 16:24] manklu commented on #2088
Works for me.

[2019-08-26 18:01] #2088 closed, assigned to nobody

[2019-08-27 20:41] fxck commented on #2051
Would this retain the type so the language service would pick up the properties? Is it even possible?

[2019-08-27 22:03] pcurrivan opened #2093 "ng update errors have no line numbers"
Currently an error during automatic migration looks like this:

Not very helpful.  It should be more like this error message from @angular/core:

[2019-08-28 00:05] alvipeo commented on #2041
sorry, it took me so long... there's a big project going on.

anyway, here's the app and the repo - [https://github.com/alvipeo/typestrict](url)

[2019-08-28 06:31] huineng commented on #1951
I got on question..  when i'm using angular (8) and don't compile with aot i have this error, when i do compile with aot, i don't have these errors. So these checks only work when not using aot.

[2019-08-28 06:50] manklu commented on #1951
@huineng AFAIK they are only active in dev mode.

[2019-08-28 11:03] timdeschryver commented on #1951
Correct, the runtime checks are disabled in a production build.

[2019-08-28 11:21] SerkanSipahi commented on #1951
@stemda im using ngrx v8 and have no trouble when dispatching a moment object! @timdeschryver any thoughts?

[2019-08-28 12:42] flaviuse commented on #1546
Really annoying it's breaking our verification system, even with fixture.destroy() it randomly fail. We have git pre hooks that run test on push ...

[2019-08-28 17:48] timdeschryver commented on #2093
It's a different error, the Angular error is an error on "your side" that you can fix to be able to run the migration correctly.

The `Cannot read property 'filter' of undefined` is a problem on "our side", and I believe I found the culprit.

Do you import the store somewhere in your project as follows

[code]

If so, you can fix this issue by import the store imports via named imports until we re

[2019-08-28 17:49] cmdickson opened #2094 "Error when using META_REDUCERS token to inject meta-reducers"
## Minimal reproduction of the bug/regression with instructions:
When attempting to inject meta reducers using the `META_REDUCERS` injection token as described here:
https://ngrx.io/guide/store/recipes/injecting#injecting-meta-reducers

The application fails to initialize and the following error appears in the console:
[code]

Based on seed: https://stackblitz.com/edit/ngrx-seed-ptkzce
Minimal rep

[2019-08-28 18:58] timdeschryver commented on #2094
The docs are a bit wrong here, with the change that it's become a `multi` token,
we expect the factory function to return a reducer, see https://stackblitz.com/edit/angular-ifqdmm?file=src/app/app.module.ts

[2019-08-28 19:20] timdeschryver commented on #2041
The problem here isn't the selector, but how the selector is used.

Import the `AppState` from `../state/event-details.reducer` (`import { getSelectedEvent, AppState } from "../state/event-details.reducer";` to be complete) in `event-details-impl.service` and you will be able to build the project.

[2019-08-28 19:20] #2041 closed

[2019-08-28 20:02] Odonno commented on #1826
What about array deconstruction? I thought of that now and it can be an interesting idea. And from my previous post, here is what it can look like:

[code]

With new functions that have this definition:

[code]

[2019-08-28 21:52] alvipeo commented on #2041
oh, thank you! stupid me... )

[2019-08-29 02:36] #2093 closed

[2019-08-29 03:18] vthinkxie opened #2096 "createReducer should support intercept default return value"
I try to implement an undo-redo app with meta-reducer, in previous ngrx version, we could write a reducer like
[code]
and we could not do it with new createReducer api, since there is no way to intercept the default state.

## Describe any alternatives/workarounds you're currently using

## Other information:

## If accepted, I would be willing to submit a PR for this feature

[ ] Yes (Assistance

[2019-08-29 10:43] de-juve opened #2097 "ngrx/data Hot to add custom selector?"
I have additional field "selectedId" in entityMetadata->additionalCollectionState
How to add selector for get selectedEntity? Like
`const selectEntity = createSelector(selectEntities, selectSelectedId, (entities, id) => entities && id ? entities[id] : null)`?

[2019-08-29 15:35] cport1 commented on #1546
Does it fail on a different component each run?

[2019-08-29 16:46] dcanning commented on #646
@alex-okrushko are those versions tied to @angular/core version, or can ngrx 8 be used with angular 6?

[2019-08-29 17:51] pcurrivan commented on #1951
Huh? A Date is not serializable?  Serialize with toJSON, deserialize with the constructor.  Is there a reason we can't have NgRx automatically (de)serialize Dates and other objects so we don't have to manually do these conversions all throughout our app?

[2019-08-30 13:17] alex-okrushko commented on #646
@dcanning My understanding is that NgRx 8 would have to be used with angular 8+.

[2019-08-30 13:25] Odonno opened #2098 "Collection reducer"
We often write collection reducers. By collection reducer, I mean pure reducers to add, update or remove an element inside an array.

Source:

[code]

Usage:

[code]

And we can of course make it even simpler with the feature pattern.

Source:

[code]

Usage:

[code]

I know there are packages `@ngrx/entity`/`@ngrx/data` that deal with that stuff but the goal of this function is to be that simple.

[2019-08-30 16:23] timdeschryver commented on #1546
Does anyone have a small reproduction of this behavior?

[2019-08-30 16:23] NavruzbekNoraliev commented on #2079
on(OrderActions.retActive, (state, { data }) => {
     return adapter.addAll(data, state)
  }),
is not updating my state
i'm using ngrx8, ngrx-entity

[2019-08-30 16:25] NavruzbekNoraliev commented on #2079
![image](https://user-images.githubusercontent.com/44977644/64036447-a6fcc280-cb6c-11e9-9c3b-4f3623f2cb3b.png)

[2019-08-30 19:27] zhaosiyang commented on #1956
I also ran into this problem today.
I want to share my usage case and think maybe it's better to allow duplicate actions.
Basically I was trying to create a higher order reducer to enhance a base reducer to globally handle some loading logic (loading/success/error)
[code]
const userReducer = withLoadable({
  loadAction: getUerAction,
  successAction: getUserSuccessAction,
  errorAction: getUserErr

[2019-08-31 10:36] Odonno commented on #2098
And why not meta collection reducer with:

* collection entities (like the standard collection reducer)
* collection keys (keys of all entities loaded)
* collection loading status (loading ALL entities, loading entity X, loading entities [X, Y, Z])
  * maybe with the 3 different action types: `REQUEST` | `SUCCESS` | `FAILED`

And then provide some meta collection selectors:

* `areAllEntitiesLoade

[2019-08-31 11:39] Odonno commented on #1826
I thought about reducing code of async effect today. Here is my idea, following my previous post.

Imagine you already applied the `createAsyncActionsFactory`. I also made an alternative to `createAsyncActions` with generics:

[code]

Of course, we can still provide the definition with a config object as second parameter.

And then, here we simplify effects:

#### Define actions

[code]

#### Defi

[2019-08-31 14:14] REPLicated opened #2100 "Memoized selectors: Inconsistent behavior when projection fails"
## Description

The current behavior of memoization as implemented in `defaultMemoize`
can be very surprising in the case of a failed evaluation of the projection.

An error may be thrown in a projector either due to a bug in the projector logic itself (unanticipated cases when the projector is very complex) or when a precondition for the projector is not fulfilled (i.e. inconsistent store state d

[2019-09-01 15:22] walrus95 opened #2102 "unused count parameter of selectLastStateTransitions"
## Other information:

I visit the docs located at https://ngrx.io/guide/store/selectors

Under "Advanced Example: Select the last {n} state transitions" there is a function called selectLastStateTransitions in the select-last-state-transition.ts file.

The count parameter is not being used. It looks like the concept of the number three is just hard-coded into the function.

The same problem is in

[2019-09-02 10:07] nadavsinai opened #2104 "RFC: feat(selectors): SelectorFactoryWithCache - allow to re-use selectors for props"
Memoized Selectors are a powerful way to wrap computed state logic in a simple yet performant functional casing. We love them.
Selectors with props solve the problem of computing (perhaps expensive) state that relies on runtime supplied values, Howvever when put to test one finds (and can be confused by) the fact that props are checked for referential equality, if the prop type is not scalar (eg o

[2019-09-02 10:09] nadavsinai commented on #2104
@itayod I finally got to write the issue RFC I told you about in Angular-UP...I Would be happy for your input.

[2019-09-02 17:32] timdeschryver commented on #2097
That seems good to me, have you tried it?

Support questions should be asked on [stackoverflow (with a ngrx tag)](https://stackoverflow.com/questions/tagged/ngrx) or the [gitter channel](https://gitter.im/ngrx/platform).

[2019-09-02 17:32] #2097 closed

[2019-09-02 18:13] timdeschryver commented on #2098
What's the difference or the benefits in comparison to ngrx/entity?

[2019-09-02 18:24] timdeschryver commented on #2104
I'm interested in the use case described.
Is the caching needed because you're using the selector at multiple places at the same time in your app (for example in componentOne and componentTwo)?
Or do you want to have a cache if a user goes back to the previous result (layout 1, layout 2, layout 1 loaded from cache)?

[2019-09-02 18:29] timdeschryver commented on #2096
I want to mention that using the switch-case reducers is still a valid way to create your reducers, and in my opinion the preferred way to create meta-reducers.

[2019-09-03 01:33] vthinkxie commented on #2096
yes, switch-case is ok, but the switch-case has been removed from the official doc, it would better to add some operators like 'on' to handle this

[2019-09-03 08:29] itayod commented on #2104
@timdeschryver If I got it right, the use case here is for caching selectors with params, similar to the memoized selectors and save computation (e.g when the user toggles between layout).
@nadavsinai IMHO it does make sense :) just for curiosity how long does this kind of computation could last in your application?

[2019-09-03 14:56] nadavsinai commented on #2104
yes, the selector factory created is used in multiple places in the application - components, services (effects etc) - since it caches the results of calls with params it can eliminate the work when called again with same param.
it is very simply shown in the following [test](https://github.com/Algotec/platform/commit/f729e69d1971e2127915d40a63801bb2e39a203f#diff-69b177942a9edbb9600be514ce5d53bcR6

[2019-09-03 14:57] nadavsinai commented on #2104
should I open a PR?

[2019-09-03 18:13] REPLicated commented on #2104
@nadavsinai : If not just the single result for the last supplied state and props were to be cached, but the results for all different props ever evaluated given that same state: How do you intend to prevent unbounded memory consumption? You would need some kind of cache management.

By the way, what you suggest sounds pretty much like https://github.com/toomuchdesign/re-reselect in the redux/reac

[2019-09-03 18:30] timdeschryver commented on #1546
Closing this in favor of #2044, because I think it's a duplicate.
If it's not the case feel free to create a reproduction and create a new issue.

[2019-09-03 18:30] #1546 closed

[2019-09-03 18:36] bryanrideshark commented on #2052
I've come back to this because I wanted the `*let` structural directive to exist, but alas, it does not at this time.

I still feel like there are a lot of wins to be had, just by releasing things piecemeal.

Is there an initial proof of concept for the *let directive? If there is, I wouldn't mind being able to see it.

[2019-09-03 18:36] timdeschryver commented on #2104
If you want to use the selector at different locations you can use a selector with props. The only difference with your implementation if that it loses its cache if the `entityID` is changed.

https://gist.github.com/timdeschryver/e300c5dba06f3951ada7a5772dc867c7

[2019-09-03 19:13] BioPhoton commented on #2052
Hi @bryanrideshark

The let directive is more or less ready. We have to clarity some open questions etc..

The poc is in the component branch.

Let's me know what you think about the context infos of the stream (error, complete)

[2019-09-04 13:40] evgenyfedorenko commented on #2027
@timdeschryver still need to hear your opinion.

[2019-09-04 13:41] k-schneider opened #2106 "Lazy loaded effect initialized multiple times if used in multiple routes"
## Expected behavior:

I have a lazy loaded module that imports EffectsModule.forFeature(...) and is accessible from multiple routes within the application.  In other words loadChildren is defined for this module multiple times in the app-routing.module.ts file:

/a/b/feature
/c/d/feature

When configured like this ngrxOnInitEffects is triggered multiple times when visiting each route. I would hav

[2019-09-04 13:45] timdeschryver commented on #2027
Sorry, I missed this @evgenyfedorenko .

Seems like this is resolved in https://github.com/ngrx/platform/pull/2075 right?

[2019-09-04 19:39] smzelek opened #2107 "Dev-tools: Import feature flag is not enough to enable importing"
## Minimal reproduction of the bug/regression with instructions:
The devtools config for NGRX does not work as expected with the features flags. Specifically, the `import` feature seems to be disabled by some other state being set by the `logOnly` flag even if `import` is set as true in the config. This is a bug because the "Import" button still shows up in the NgRX chrome plugin, but always fails

[2019-09-04 19:49] zachpappalau commented on #1026
I just had the same issue but found that my Global @Angular\CLI had to be updated.
I ran **npm install -g @angular/cli**.

Then I tried to make a dumpy project just to see if things were working and it gave me this error,
`You are running version v8.9.4 of Node.js, which is not supported by Angular CLI 8.0+.
The official Node.js version that is supported is 10.9 or greater.

Please visit https://n

[2019-09-05 12:12] sod commented on #1521
@yorraksahb you can also use `hostReplacementPaths` option of the `AngularCompilerPlugin`.

[2019-09-05 13:04] nadavsinai commented on #2104
Hi, thanks for your comments.
@timdeschryver I know that the normal SelectorWithProps passes all but that failing test which is exactly the one I pointed out to show the difference in behavior.
@itayod in our application the cached selectors made a difference : when switching layout it was a change that eliminated 2-3 seconds of scripting.
@REPLicated I was not aware of re-reselect, it solved the

[2019-09-05 13:07] nadavsinai commented on #2104
both are right. selectors are defined in thier own file and used across the application, but we use createSelectorFactoryWithCache specifically in places where the props are changing (yet in a bounded set of values - eg layout modes)

[2019-09-05 16:48] timdeschryver commented on #2104
Got it, thanks for elaborating @nadavsinai 👍

[2019-09-06 13:14] ashteya commented on #1490
@aleksandar-petrovic Having the same problem here, did you manage to get it working?

[2019-09-06 13:21] aleksandar-petrovic commented on #1490
Yes I did.
I had index.ts which was exporting Effects from effects.ts file. And then used that export as import in Effects.forFeature
After changing to direct import without index.ts it worked.

[2019-09-06 22:29] Robbie106gti opened #2109 "Core.js:5760 ERROR TypeError: Cannot assign to read only property 'tView' of object '[object Object]'"
## Minimal reproduction of the bug/regression with instructions:
I came across a compatibility issue with NgRx and Angular Version 9 Router

step 1: created a new CLI () project and add NgRx store, effects, entity, router-store, store, store-devtools
"@angular/cli": "^9.0.0-next.3"
"@angular/compiler-cli": "^9.0.0-next.5"

step 2: Make sure to use Ivy renderer
https://fireship.io/snippets/angular-

[2019-09-06 22:33] Robbie106gti commented on #2109
Wanted to add that having all 4 properties there also fixes the issue

        strictStateImmutability: true,
        strictActionImmutability: true,
        strictStateSerializability: true,
        strictActionSerializability: true,

[2019-09-07 19:03] #2100 closed

[2019-09-07 20:54] mj-meyer commented on #2102
Can I grab this? Haven't contributed to open source yet... so would love to break the ice. Will submit a PR tomorrow morning if that's alright?

[2019-09-08 06:55] onwd commented on #1981
Hi @jordanpowell88. Shouldn't the currently published diagram still indicate that actions are processed by reducers first and then processed by effects? Just like you did here: https://github.com/ngrx/platform/issues/1981#issuecomment-507684244.

[2019-09-08 12:33] Odonno commented on #2098
It seems I needed to play with ngrx/entity package. I know now how to use it with `createAdapter` and `getSelectors` function.

Maybe the only missing part would be to have a state/adapter for loadable entities because I believe ngrx/data is too much specialized on this subject.

[2019-09-08 12:33] #2098 closed

[2019-09-08 14:42] #2094 closed

[2019-09-08 16:39] mj-meyer commented on #2102
I'm not sure how the stackblitz example is updated?

[2019-09-08 16:49] timdeschryver commented on #2102
The stackblitz is created by the contributor who provided the docs.
To make it maintainable we should move the code to the [examples](https://github.com/ngrx/platform/tree/master/projects/ngrx.io/content/examples), but I think we can just remove the link to the stackblitz for now.

[2019-09-08 17:06] manklu commented on #2102
@mj-meyer You can fork the stackblitz sample and then modify it

[2019-09-08 18:23] mj-meyer commented on #2102
@timdeschryver so I didn't remove the stackblitz example on my PR. Should I remove it before we continue?

[2019-09-08 18:28] timdeschryver commented on #2102
See my comment on the PR.

[2019-09-08 19:47] #2082 closed

[2019-09-08 19:49] #2102 closed

[2019-09-09 02:22] #2044 closed

[2019-09-09 07:10] ashteya commented on #1490
@aleksandar-petrovic Thanks! That fixed it for me.

[2019-09-09 12:34] kapik opened #2112 "[@ngrx/data] Set HttpClient Request options for credentials"
Hi ! 👋

I'm looking for a way to make a request with credentials (`withCredentials: true`).
Here I can't make a request to my backend because the request doesn't contain cookies header.

Of course, I would like to continue using the `EntityCollectionServiceBase` to process default requests (e.g. `getAll`).

I couldn't find an option for that. 😕
Thanks for your help

[2019-09-09 18:27] timdeschryver commented on #2109
Hmmm, it's weird that if you have all the checks turned on it doesn't occur.
Do you got/can create a reproduction of this behavior?

[2019-09-09 19:06] evgenyfedorenko commented on #2027
on nice, let's close this one then?

[2019-09-09 19:09] #2027 closed

[2019-09-10 02:25] bjornharvold opened #2113 "Detected unserializable action at "payload.routerState.root.paramMap""
## Minimal reproduction of the bug/regression with instructions:

## Reproduction
[ngrx-seed.zip](https://github.com/ngrx/platform/files/3593356/ngrx-seed.zip)
StackBlitz didn't want to fork for me so attaching a zip ball

Very simple way to replicate error:
1. Add ngrx-router to AppModule
2. Add runtimeChecks to StoreModule
[code]
Error displays in console

## Expected behavior:
No errors

## Ver

[2019-09-10 02:52] vitorfleal opened #2114 "Problems multiples request"
Hi!

 I am invoking a method on my component that loads the address information through the postalcode entered in the input.
First I am invoking the method that loads the information into the getAddress$ variable, then subscribe to it to get the data and assign it to form inputs.
On the first page load, it only executes one call in the api, but as I inform another postalcode, my subscribe will add

[2019-09-10 03:16] brandonroberts commented on #2113
See about using the `RouterState.Minimal` option if you don't need the extra properties https://ngrx.io/guide/router-store/configuration#routerstateminimal

[2019-09-10 03:16] #2113 closed

[2019-09-10 06:30] timdeschryver commented on #2114
Support questions should be asked on [stackoverflow (with a ngrx tag)](https://stackoverflow.com/questions/tagged/ngrx) or the [gitter channel](https://gitter.im/ngrx/platform).

[2019-09-10 06:30] #2114 closed

[2019-09-10 08:37] sebitsi commented on #858
Hi  @MikeRyanDev.

Is there any progress on this issue ?
Any new and aditional informations will be desirable. Roadmap ?

What do you mean by that ?

Thanks for advance.

[2019-09-10 11:18] kapik commented on #2112
Of course, an alternative is to use an Interceptor:

[code]

Is it the best practice ?

[2019-09-10 13:51] Halt001 commented on #1897
Is there any way to suppress this warning specific for the router state? Having warnings that one should always ignore is not good practice imho.

[2019-09-10 15:13] kievsash commented on #1740
If you want testing lib which uses TestScheduler.run functionality - take a look at rxjs-marbles: https://github.com/cartant/rxjs-marbles

[2019-09-11 11:46] luchsamapparat commented on #2068
@timdeschryver could you provide an explanation for why this is regarded as an anti-pattern?

It's basically prevents the Splitter pattern from the *Enterprise Integration Patterns* book (https://blog.nrwl.io/ngrx-patterns-and-techniques-f46126e2b1e5#cdd3) - so I'm not quite convinced that this should be seen as an anti-pattern.

[2019-09-11 12:17] Edouardbozon commented on #2068
@luchsamapparat [here is a talk](https://www.youtube.com/watch?v=JmnsEvoy-gY) from Mike Ryan that provides explanations about why this is an anti-pattern.

[2019-09-11 13:46] Halt001 commented on #1897
Our unit test output is now littered with lots of this warning complaining about the undefined router in the state. This totally wrecks our unit test output.

![image](https://user-images.githubusercontent.com/9273697/64702639-311d2300-d4ab-11e9-944b-03ba47b91595.png)

[2019-09-11 16:07] timdeschryver commented on #1897
@Halt001 could you create a  new issue please?

[2019-09-12 05:43] Halt001 opened #2116 "New warning about unprovided feature state wrecks unit test output"
We have unit tests where we use the state without mocking. With the new warning about undefined feature state, that is given while it shouldn't in case of the router state, our unit test are now littered with this warning. Also it shows up in the debugger console when we run the app.

Warning:

Also see the discussion here: [Issue 1897](https://github.com/ngrx/platform/issues/1897)

![image](https

[2019-09-12 13:10] harishajdarevic opened #2117 "How to use isDevMode() core function for metaReducers"
Hello,

This is my app.module.ts

[code]

And for metaReducer I've part of code:

[code]

During AOT build I'm getting the following error:

I tried to wrap isDevMode() into another function etc but nothing works.

I don't want to use environment.production flag from environment files, because I want to be able dynamically to change this and to have hardcoded in an environment file and that's why

[2019-09-13 11:52] Edouardbozon commented on #2117
Something like this should work:

[code]

However `ngrx-store-freeze` package is deprecated in favor of [runtime checks](https://ngrx.io/guide/store/configuration/runtime-checks) that already do this logic for you.

[2019-09-13 12:36] redwolfgang24 commented on #646
@brandonroberts it really works, thank you soo much.

[2019-09-13 12:39] timdeschryver commented on #2117
See @Edouardbozon 's answer.

[2019-09-13 12:39] #2117 closed

[2019-09-13 12:46] timdeschryver commented on #2109
You must use the `minimal` flag if you want the checks enabled, see https://ngrx.io/guide/router-store/configuration for more info.

[2019-09-13 12:46] #2109 closed

[2019-09-13 14:17] WojciechSlyp opened #2118 "Access createAction props type"
Hi,

I recently migrated from using class based Actions to `createAction` approach.
I use facade pattern and to reduce imports and overall complexity, I use the following a lot:
[code]

How would I go about accessing payload (or rather `props`) type without declaring additional interfaces / types etc from actions created with `createAction`?

[2019-09-13 17:20] timdeschryver commented on #2118
We see this is an anti-pattern, we encourage [good action hygiene](https://www.youtube.com/watch?v=JmnsEvoy-gY).

Therefor we encourage to use a generic dispatch in the facade.

[2019-09-13 17:20] #2118 closed

[2019-09-13 19:25] momoadeli commented on #931
Not sure why this issue was closed as it hasn't been resolved (even in #174 (comment). We are of course experiencing the same issue. However, I do have a couple of short questions (and I'm cognizant this is a regression)
1. Since the store ngrx store effects play a part in this, why not populate a store slice with configs and have services subscribe to them instead of injecting a service?
2. Speak

[2019-09-13 21:49] manklu commented on #2118
@WojciechSlyp If you really need the payload type of an action, you can use the following:

[code]
http://www.typescriptlang.org/docs/handbook/advanced-types.html

[2019-09-14 09:37] dummdidumm commented on #2052
I think the concept is great. The only thing I don't understand: Why make this part of ngrx? I feel this is something that is not related to ngrx in any way apart from "they both use rxjs heavily". On the other hand I understand that in this repo you will find more feedback/activity/attention.

[2019-09-14 10:52] wesleygrimes commented on #2052
Hi @dummdidumm, from the start NgRx has always been about more than just state management. We are a platform for reactive technologies. Ng = Angular + Rx = Reactive. With this new addition we are continuing with that trend to expand our platform even more. We want to provide reactive ways for angular applications to be constructed.

[2019-09-15 13:29] nadavsinai commented on #2104
HI, @itayod @timdeschryver 	@REPLicated
I've done some work on that idea, I've added a new API which works with
store.select(selector,props) API and also added cache options.
I’ll be happy to hear your input, I think about ditching the original API I proposed for the sake of the simpler newer one, let me know if you see any downsides.
Also I want to hear if you have any ideas how to make this bett

[2019-09-15 16:34] SerkanSipahi commented on #2112
@kapik currently is this (CustomInterceptor) the best practice! I would recommend to place and register your CustomInterceptor where your EntityCollectionServiceBase is located and to make sure to set the credentials on particular url when they is a requirement!

An alternate way would be to use a Custom DataService (https://ngrx.io/guide/data/entity-dataservice#custom-entitydataservice). With tha

[2019-09-15 17:41] SerkanSipahi commented on #2077
@mxdmedia
You should write your own `HttpUrlGenerator` or extend from it and add your wish feature (@ngrx/data fully extensible and customizable). When you extend from it, you just to hook into https://github.com/ngrx/platform/blob/0e9c4f4a20ca92a71ee331889109c7861708725f/modules/data/src/dataservices/http-url-generator.ts#L78 or as i said your write your own UrlGenerator (should be simple)

Modif

[2019-09-15 18:14] WojciechSlyp commented on #2118
You're actually very right. Thanks for this!

[2019-09-16 13:08] timdeschryver commented on #2104
Thanks for putting in the time by creating a PR.

I would suggest to wait now before we take the next steps to make sure this is a good addition to add in `@ngrx/store`.

[2019-09-16 19:20] timdeschryver opened #2121 "Re-triggering mock selectors"
## Minimal reproduction of the bug/regression with instructions:

If we override the selector's result during a test, we have to use `mockStore.setState({ random: 'data'})` (maybe we could add this into `MockStore`, @tomastrajan coined `mockStore.triggerSelectors()`?). Because of this we get a new state reference and our selectors will re-execute.

It seems like component only gets the new data if

[2019-09-16 19:41] tomastrajan commented on #2121
Yes, this would be very nice as currently, when using override selector in component tests, I usualy override them in every test instead of in before each and then just using `setResult()` because as tim described that would not work.

The idea was that as `fixture` has `detectChanges()` the mock store could also provide standardized well-known method to push new values to mocked selector.

The be

[2019-09-16 20:04] sagunpandey commented on #1350
@glennverschooren @blackholegalaxy Facing the same issue. Any solution?

[2019-09-17 04:16] jtcrowson commented on #2116
Could you push up a basic code sample where this is happening?  I can try to work around this, possibly by excluding tests, possibly by excluding router state.

[2019-09-17 07:47] harishajdarevic opened #2122 "Conditional import Store dev tools for the same envioronment which can build with AOT true or false"
I've already different build environments for my angular application.

What I'm looking for is how to implement conditional import of StoreDevTools based on that are we in development mode or not.

The important thing is to notice that for the same environment we want to able to serve it in development mode and have StoreDevTools included in that case and on the other hand to be able to build/depl

[2019-09-17 16:32] timdeschryver commented on #2122
AFAIK this isn't possible due to the fact how Angular compiles.
The easiest way to accomplish this is to add a [target-specific file replacement](https://angular.io/guide/build#configure-target-specific-file-replacements).

See https://ngrx.io/guide/store-devtools/recipes/exclude for an example.

[2019-09-17 16:32] #2122 closed

[2019-09-17 20:23] Halt001 commented on #2116
Working on it. May take some time as I can't share our code and it isn't obvious to me when the warning is triggered.

[2019-09-17 20:24] jtcrowson commented on #2116
I appreciate your help, thanks!

[2019-09-17 20:29] aSmakov commented on #898
Hello! I am using NGRX with Entity. Now I have to sort my entities, but I can not find a single example. Can you give a working example to do this?

[2019-09-18 18:33] Halt001 commented on #2116
Sorry for the delay. I've created a repo with an app that generates the warning multiple times after running the unit tests with `npm test`.

Also when running the app with `npm start` you can observe the warning in the browsers debugger console.

[The repo](https://github.com/Halt001/ngrx-warning)

[2019-09-18 18:53] timdeschryver commented on #2116
I haven't taken an in-depth but it I believe you should also import the router and router-store. In your component you're using a router selector, but no (router) state is provided.

[2019-09-19 06:06] harishajdarevic commented on #2122
@timdeschryver Unfortunately it is not possible to achieve following that link.

As I said above I want to be able to use one environment file for both production/development and determine in which mode are we by calling isDevMode().

So basically if I do it by following the link that you pasted I will still need to have production property into environment file which is not what I want.

[2019-09-19 06:14] timdeschryver commented on #2122
Then I think the only way would be to override the `REDUX_DEVTOOLS_EXTENSION` token - https://github.com/ngrx/platform/blob/master/modules/store-devtools/src/instrument.ts#L72 but I'm not sure if I can recommend it ...

[2019-09-19 06:46] Halt001 commented on #2116
I've added actual routing to the app. It now doesn't display the warning in the browser debugger console anymore (but our production app does) but the example still shows the warnings in the unit tests. Hope this may save you some work.

[2019-09-20 14:16] DenisSlaschilinDevPro commented on #2118
@manklu I see you are good in TypeScript typings. Maybe you can help with the related question:
https://stackoverflow.com/questions/58028504/correct-type-declaration-for-method-with-ngrx-actioncreator-as-parameter

[2019-09-22 06:35] stupidawesome commented on #2052
I created [NgObservable](https://github.com/zodiac-team/zodiac-ui/tree/master/libs/ng-observable) as a way to tackle most of these issues within with current compiler constraints.

The suggestions I make below however also include hypothetical APIs that would require changes to Angular itself.

### Input Decorator

Inputs should not be turned into observables. It's better to use the `ngOnChanges`

[2019-09-22 14:29] BioPhoton commented on #2052
Hi @stupidawesome!

Thanks, soo much for your feedback!

**Input Decorator vs ngChanges:**

In the section "selectChanges RxJS Operator" it is mentioned that this would be similar to input.
I proposed separate, very specific things because of 2 reasons:
- easier to use for beginners
- smaller production code as the rest can be tree-shaked away

The above document is here to speed up an old discuss

[2019-09-22 17:23] peterbsmith2 opened #2124 "@ngrx/data : documenting selectors"
###  Other information:
My Scenario:

Existing large codebase with multiple entities

Currently combining multiple pieces of state with selectors like:
[code]

I'd like to use @ngrx/data with Owners and keep everything else the same.  That means replacing the existing `selectOwnersEntities` selector (provided by @ngrx/entity) with similar from @ngrx/data.

So I found the elegant solution provided

[2019-09-22 19:33] peterbsmith2 opened #2126 "@ngrx/data: documenting customizing reducers"
## Other information:
I have am trying to replace @ngrx/entity with @ngrx/data for a `Owner` entity. On @ngrx/data I need to include a `selectedId` property on state to keep reference to which Id of that entity is selected in the app. My `entity-metadata.ts` looks like:

[code]
The [ngrx/data docs on Entity Reducer architecture](https://ngrx.io/guide/data/entity-reducer) are inaccurate. There are

[2019-09-22 19:39] peterbsmith2 commented on #2126
I opened PR #2127 to make the appropriate updates.

[2019-09-24 11:33] davidalvarezr opened #2129 "Injecting a service inside a meta reducer does not work (META_REDUCERS)"
## Minimal reproduction of the bug/regression with instructions:

[minimal reproduction on StackBlitz](https://stackblitz.com/github/davidalvarezr/minimalGallereddit)

## Expected behavior:

The app initialize corretly (the bug prevent the store to initialize)

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

- **NgRx:** 8.3.0
- **Ionic:**
[code]
- **package.json**

[2019-09-24 13:01] brandonroberts commented on #2104
@nadavsinai thanks for your work on this. I think its an interesting idea, but I also don't know if there is enough value to adding another API for creating selectors. Why wouldn't this just be a guide on creating a cache for selectors with props? We haven't seen enough people with this issue to consider adding this to the API yet.

[2019-09-24 13:14] jotatoledo commented on #2129
The root of this issue is the fact that ATM the doc section for injecting meta reducers is misleading. Every to-be-injected meta-reducer needs to be provided individually, and not through a single factory-method that returns a `MetaReducer` array as stated.

This is exemplified in the [current code base](https://github.com/ngrx/platform/blob/8.3.0/modules/store/src/runtime_checks.ts#L85).

[2019-09-24 22:00] ravishivt commented on #1098
My suggestion is not to use `map` to convert the `bookEntity` to an action.  The following would be more clear IMO:

[code]

[2019-09-25 14:37] meanstack-perficient commented on #1897
actually this error produces the undefined message stated above

and takes out the ngrx store itself

so this breaks ngrx in my case

i remodeled my feature state and selectors... blue in the face

cant shake it

can someone escalate this

[2019-09-25 14:45] meanstack-perficient commented on #2116
actually this error produces the undefined message stated above
yes I am receiving the type error

and takes out the ngrx store itself

so this breaks ngrx feature state (just a spinner) in my case

i remodeled my feature state and selectors... blue in the face

cant shake it

can someone escalate this, reopen or provide workaround

/vendor.js:197218 The feature name "feature" does not exist in th

[2019-09-25 14:49] meanstack-perficient commented on #2116
feature-state.ts
[code]
feature-selector.ts
[code]

feature-module.ts
[code]

any clarification/assistance for workaround appreciated

[2019-09-25 16:51] meanstack-perficient commented on #2116
Im not seeing any pattern enforcement in loading modules and scenarios for CORE or FEATURE or CORE/FEATURE modules... as they pertain to AppModule

then factor in ionic tabs which pushes things out another dimenison

and we have opened the door to race conditions like the wild wild west

My boot spinner hangs more than shows/hides in my AppComponent due to refactoring

im seeing alot of race condi

[2019-09-25 16:57] manklu commented on #2116
@meanstack-perficient

Your Problem has nothing to do with this ticket. This ticket is about suppressing the warning when it is known that the state is not yet initialized.

Initialize your feature state.

Not initialized when creating the feature selector.

Still not initialized when used for the first time.

[2019-09-25 17:00] manklu commented on #1897
@meanstack-perficient See https://github.com/ngrx/platform/issues/2116#issuecomment-535114908

[2019-09-25 19:18] dolanmiu commented on #2052
I'm a little late to the party, but how about an API like this:

https://github.com/dolanmiu/sewers/blob/master/src/app/card/card.component.ts#L5-L8

Source: https://github.com/dolanmiu/sewers/blob/master/projects/sewers/src/lib/sink.decorator.ts

Based on this talk by @MikeRyanDev:
https://github.com/MikeRyanDev/rethinking-reactivity-angularconnect2019

[2019-09-25 22:55] adyngom commented on #1485
Hello sorry to comment on a closed issue but I'm still having the exact same one and am totally blocked on an Angular 8 upgrade at this point from 7.
This code below does not work anymore:
[code]

and gives the error below

[code]
I'm not seeing how intuitively I would apply the example in the link provided by @timdeschryver

Any firther help will be highly appreciated. Thank you

[2019-09-26 03:58] jtcrowson commented on #1897
@meanstack-perficient This error doesn't provide any different behavior for NgRx, all it does is produce a warning if your state hasn't been initialized.  Are you sure this warning isn't correctly alerting you to a problem where your state isn't provided?

[2019-09-26 04:23] jtcrowson commented on #2116
@timdeschryver what do we want to do here?  The point of this was to save headaches, not create them.  Only approach I've found was to string match on the state key for router.

[2019-09-26 17:39] timdeschryver commented on #2129
There are two problems here.

The first problem being the factory function for `META_REDUCERS`, it has to return exactly one meta-reducer, not an array of meta reducers.

[code]

The second one is that you've created a circular dependency. The logger service needs the store, but the store needs the logger service in its reducer.

[2019-09-26 17:39] #2129 closed

[2019-09-26 19:43] meanstack-perficient commented on #1897
thanks jt

what i have been seeing in the field are angular component developers are creating components that are bloated and case logic is excessive to the point where managing an aggressive angular project becomes unmanagable and unresponsive to velocity.

so I am boilerplating all my talks to service layer in ngrx

which means alot of modules

what I also observed in the field, these angular co

[2019-09-26 19:49] meanstack-perficient commented on #2116
well the error is telling me something is wrong...better than none
Im pushing this framework to the max

for instance if you forget to add an index route ' ' in one of your router modules you will get this

`typeerror cannot read property ‘split’ of undefined at defaultUrlMatcher `

which doent tell much about what to do or where to go except guess that url/router might be the cause... that one he

[2019-09-27 07:51] aahmyu commented on #1897
Can you please provide a way to disable this "feature". The console in the dev tools is full of these warnings and it makes my life harder.

[2019-09-27 08:31] dummdidumm commented on #2052
While I like that the decorator-approach is more natural for mixins, I feel that the concrete implementation is a little too verbose and one doesn't know whats going on if he does not know the conventions.

I think, with how Angular internally works (needing the LifeCycleHooks as methods on the class, not able to add them later on or tell the compiler to call it because we know it's there), the be

[2019-09-27 13:55] bryanrideshark commented on #2052
@BioPhoton thanks for the tip about the ReplaySubject. I'll certainly look into doing that.

[2019-09-27 15:07] SerkanSipahi commented on #2124
Thank you for your contribution. Im also working to improve the documentation of ngrx/data. If you want we can work together on this branch https://github.com/ngrx/platform/pull/2086

I guess it is easer for @wardbell to code-review everything at once.

[2019-09-27 15:08] SerkanSipahi commented on #2126
Thank you for your contribution. Im also working to improve the documentation of ngrx/data. If you want we can work together on this branch https://github.com/ngrx/platform/pull/2086

I guess it is easer for @wardbell to code-review everything at once.

[2019-09-27 17:34] timdeschryver commented on #2116
@jtcrowson I have mixed feelings here, the same you are expressing.

I don't see any solution neither, besides doing a string match.

I'd like to know if it's only the router store that's causing these warnings.
We haven't upgraded to 8.3.0 yet at work, but I'll try to push this to next week - just to see the behavior here.

[2019-09-27 18:42] meanstack-perficient commented on #2116
From my perspective

My router store is functioning and running fine
and
this message it has to do with any store in general

and I eluded to race conditions associated with the way developers are cobbling together their lazy loaded and eager loaded modules as they are setting up at bootstrap according to their route tree

I am ironing out my router tree now

in some cases ngrx is ok and gets past

[2019-09-27 18:43] meanstack-perficient commented on #2116
try lazyloading everything in your appmodule and that will flush it out
with a few ngrx stores
core/feature/shared/biz

[2019-09-28 10:12] timdeschryver commented on #2116
Thanks for the info @meanstack-perficient

[2019-09-29 00:00] evgenyfedorenko opened #2137 "RFC: Migrations support for updating class type actions to use 'createAction' syntax"
I've updated the ngrx to v8 finally and it was a lot of monotonous work. I wonder if adding support for automatic actions syntax upgrade via schematics would be something worth pursuing - given that is it actually feasible. Reducers and effect I feel like would be even harder to update.

Thoughts?

## If accepted, I would be willing to submit a PR for this feature

[X] Yes (Assistance is provided

[2019-09-30 12:05] OlaviSau commented on #2052
Hello :) I took a little peek into the angular compiler - components are core to angular functionality, it would take significant effort to create an alternative component. The current compiled data structure does not support bindings as inputs.

**Information available about directives after compilation**
[code]
Inputs are expressed as key value pairs - the key represents the property name on the

[2019-09-30 17:42] aquark commented on #2116
We're having a similar issue with many user-defined feature modules where the state is intentionally `undefined` until some event changes the state. We can work around the issue by initializing the state to `null` instead of `undefined`, but would rather not. I don't suppose there's a way to use `hasOwnProperty` to check if a key is present in the store, whether or not its value is `undefined`?

[2019-09-30 18:08] timdeschryver commented on #2116
I like that idea @aquark 👍!
From what I can think atm, that would fix these problems and it will also provide a helpful message.
Thoughts @jtcrowson ?

[2019-09-30 18:19] timdeschryver commented on #2137
I was thinking about it, but from what I could see at the time it really wasn't straightforward to do. You can see a lot of different flavors of actions in the wild.
To be able to fully make use of reducers (with type-safety) you more or less need the actions migrated first.
I'm open for suggestions tho.

[2019-09-30 22:26] BioPhoton commented on #2052
Hi @OlaviSau.

Thanks for the answer!
Regarding your "who?" section,

actually

@robwormald is handling this. He is also in the ngrx core team.

[2019-10-01 14:10] evgenyfedorenko commented on #2137
I was thinking to add this functionality as a part of 'ng update' command. What flavors of actions you are talking about except those which are created this way?

export const SOME_ACTION_TYPE = 'SOME_ACTION_TYPE';
export class SomeAction implements Action {
  readonly type = SOME_ACTION_TYPE;
}
export type All = SomeAction;

[2019-10-01 19:56] timdeschryver commented on #2137
That's an easy action but it becomes tricky if you add a payload, constructor, some logic, enums, static readonly types, etc.

[2019-10-01 21:37] ChuckIrvine opened #2138 "Feature Request: Something similar to a sNgRx Tour of Heroes step by step tutorial."
I am having trouble understanding NgRx sufficiently to convert my existing Angular app to use NgRx. I've looked around for sample apps and tutorials but so far none have been effective in getting me over the hump. What would really be helpful is something similar to the official Angular Tour of Heroes tutorial that uses NgRx. I feel confident that lots of folks would really like to see something l

[2019-10-01 23:31] brandonroberts commented on #2138
Thanks for the suggestion Chuck! We are looking at additional ways to make the on-boarding process easier for new developers.

[2019-10-01 23:31] #2138 closed

[2019-10-01 23:35] brandonroberts commented on #2137
I think if we want to achieve this, it should only support certain scenarios. Using creators should be an addition, not a refactoring task for your existing codebase. I would suggest supporting the idiomatic approach of converting "standard usage " of enums, action classes, and unions. The constructor would be ported over as is to props, enclosed in a `payload` object if that's what previously exi

[2019-10-01 23:38] brandonroberts commented on #2121
A `MockStore.refreshState()` seems reasonable to me. Wouldn't we just be able to store the current state and spread it into a new object internally to set a new reference?

[2019-10-01 23:40] brandonroberts commented on #2047
Closing as not a bug with NgRx

[2019-10-01 23:40] #2047 closed

[2019-10-01 23:53] brandonroberts commented on #2137
This would not be part of `ng update`, but a migration you can generate.

[2019-10-02 06:11] timdeschryver commented on #2121
Sounds good!

[2019-10-02 07:12] perixx1234 opened #2139 "misprint"
/guide/entity/adapter => user.reducer.ts => on(UserActions.upsertUsers, (state, { users }) => {
    return adapter.upsertUsers(users, state);
  }),

"adapter.upsertUsers(users, state)" should be "adapter.upsertMany(users, state)" ???

[2019-10-02 07:41] timdeschryver commented on #2139
Yes, you're right - thanks!
Do you want to create a Pull Request for this?

[2019-10-02 07:47] perixx1234 commented on #2139
No, thanks)

[2019-10-02 08:55] santoshyadav198613 commented on #2107
Hi @timdeschryver ,
I am looking into it.

[2019-10-02 12:24] tashoecraft commented on #2139
line 157 for projects/ngrx.io/content/guide/entity/adapter.md on master reads
[code]
Am I missing something? Or was this resolved in the past 5 hours without reference?

[2019-10-02 12:57] santoshyadav198613 commented on #2107
So I was able to reproduce it, looking into code.

[2019-10-02 13:05] timdeschryver commented on #2139
My bad, this was already resolved in #2105, but the website has not been released.

[2019-10-02 13:05] #2139 closed

[2019-10-02 13:26] santoshyadav198613 commented on #2107
Hi @timdeschryver ,
Just to confirm as per code if user passed the feature action it takes precedence above logOnly, so in this case import button should be visible.

[2019-10-02 13:43] evgenyfedorenko commented on #2137
@brandonroberts

Here you mean migrations script should not refactor all actions to new use new creator syntax? Sorry, not clear what would be the purpose of this effort then.

As far as I understood migrations are run as a part of 'ng update' command. Not true? I was planning to create another migration and that would be executed via 'ng update' (based on my prior schematics debugging experience)

[2019-10-02 13:50] brandonroberts commented on #2137
I'm saying the new syntax is opt-in. You don't _have_ to refactor your entire codebase if you want to use the new syntax.

It's not part of `ng update` because it's not a breaking change that requires you to change your existing code.

[2019-10-02 13:58] evgenyfedorenko commented on #2137
ok I see, what schematics command would be used then to run this refactoring if they decide they need it?

[2019-10-02 14:00] evgenyfedorenko commented on #2137
The reason I assumed migrations are run as a part of ng update is b/c of this
[code]

[2019-10-02 14:06] brandonroberts commented on #2137
It would something like `ng g create-action-migration` and `ng g create-reducer-migration` if we're doing it in a multi-stage approach.

[2019-10-02 14:07] timdeschryver commented on #2137
I believe it would be something similar to https://github.com/ngrx/platform/pull/2136

[2019-10-02 14:28] evgenyfedorenko commented on #2137
thanks @brandonroberts and @timdeschryver. createEffect is already done, great!
Will take a look.

[2019-10-02 16:22] brandonroberts opened #2140 "Schematics: Generate selectors file as part of feature schematic"
It's common practice to have a separate `{feature-name}.selectors.ts` file alongside your actions, reducers, etc. The `feature` schematic would add a flag to generate this file and it's tests in addition to the current set, and eventually become the default.

We could optionally do this for the `entity` schematic also.

At a minimum, the selectors file would:

- Import the usual `createSelector` f

[2019-10-02 19:08] santoshyadav198613 commented on #2107
Need some help here, I can see the test case is passing and even it works when we set  import to 'custom' but as per doc it have true/false value.

[2019-10-02 19:46] hmendezm opened #2141 "Selector keeps calling not stop."
## Minimal reproduction of the bug/regression with instructions:

The selector have logic that returns a value that is not the state value. The state value is using for reproducing an extra value. In this case, I cast the object to a specific class.

## Expected behavior:
I have the following selector
[code]
The selector is in looping and never finished so the app crash. However, if I have  the se

[2019-10-03 02:02] brandonroberts commented on #2141
Support issues should be asked in the [gitter channel](https://gitter.im/ngrx/platform).

[2019-10-03 02:02] #2141 closed

[2019-10-03 02:07] #1956 closed

[2019-10-03 07:51] svdeveloper1 opened #2142 "Selector naming convention"
In the example app, I have noticed that the selectors are sometime starting with `select` and sometimes starting with `get`. And in this file we find a mix of both:

https://github.com/ngrx/platform/blob/master/projects/example-app/src/app/auth/reducers/index.ts

So what is the way going forward, can you point me to a documentation for it, or reasonings for starting with `get` over `select` or vic

[2019-10-03 08:12] Klaster1 commented on #1897
@aahmyu https://stackoverflow.com/q/58214913/333777

[2019-10-03 14:53] twittwer commented on #2062
@timdeschryver Would this change be accepted? Then I would submit a PR, other ways I can save the effort.

[2019-10-03 17:39] timdeschryver commented on #2062
I see a problem with this and I'm not sure if we should move on with this or not.
If a user would use the same key in a route, one would override the other, e.g. `/feature/{id}/child/{id}`.

@brandonroberts what are your thoughts here?

[2019-10-03 17:45] timdeschryver commented on #2107
Let's take this conversation away from the issue thread, you can expect a message from me later @santoshyadav198613 and we'll go over it.

[2019-10-03 18:05] andrewevans0102 commented on #1807
I talked to @brandonroberts today on twitter, and he was good with me taking this one over.  I'm going to work on this and should have a PR ready in the near future.

[2019-10-03 18:33] timdeschryver opened #2144 "docs(store): document new bevahior of `on`"
## Other information:

With #2103 merged, we have to change the documentation.

Before the behavior was that if an action was registered twice via the `on` function in `createReducer`, the last one would override the previous ones.

The new behavior allows multiple `on` functions for the same action, in the same `createReducer`.

I could only find one occurrence of it at: https://github.com/ngrx/p

[2019-10-04 06:55] ceyhunn opened #2147 "SSE (SERVER SENT EVENTS) support"
## Describe any alternatives/workarounds you're currently using
I can't find any implemention for sse with ngrx. Please add this feature.
## Other information:

## If accepted, I would be willing to submit a PR for this feature

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-10-04 15:01] ChuckIrvine commented on #2138
I have a fairly large Angular app. (www.izedor.com). Managing state has become a living hell, so I'm sure I'll benefit from NgRx. Finding a good example that is well done and up-to-date has proved to be impossible. I'm struggling through it and making some progress. It bet one of you NgRx guru's could put together an NgRx Tour of Heroes in no time. (https://angular.io/tutorial). Thanks

[2019-10-04 15:04] Kleinhummel commented on #1707
Would you perhaps supply a short example of how this is done before the recipe exists in the documentation? This issue now exists since april and a small explanation on how to solve this problem would help me a lot. At the moment I have an "Add-Action" for every entity whicht I call in a Effect.
Example of how I solve this so far:

- Dispatch Action: LoadPosts
- Effect (LoadPosts): Fetches posts f

[2019-10-05 08:00] wKoza opened #2149 "[Schematics]: generate action doesn't work"
## Minimal reproduction of the bug/regression with instructions:

On a new project, just run these commands:

[code]

The last command fails and displays:

[code]

## Expected behavior:

@ngrx/schematics generates my store

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):
[code]

and @ngrx/... 8.3.0

## Other information:

## I would be willing to submit a PR to fix

[2019-10-05 08:06] #2149 closed

[2019-10-05 12:23] timdeschryver commented on #2147
This is something NgRx that isn't baked into the platform.

But you can leverage `@ngrx/effects` to listen to the websocket and dispatch actions to the NgRx Store.

You can take a look at an example [here](https://github.com/avatsaev/angular-contacts-app-example/blob/master/src/app/views/contacts/store/contacts-effects.ts#L91-L104).

[2019-10-05 12:23] #2147 closed

[2019-10-05 13:57] santoshyadav198613 commented on #2107
This is reproducible in redux dev tools as well raised https://github.com/zalmoxisus/redux-devtools-extension/issues/691.

[2019-10-05 17:42] #2144 closed

[2019-10-05 21:56] BenceUszkai commented on #645
U saved my life man 👍

[2019-10-06 07:53] #2121 closed

[2019-10-06 17:26] berkelmas commented on #513
you can set it up like
[code]

[2019-10-06 21:30] mwootendev opened #2152 "[@ngrx/data] Consider Making PersistenceResultHandler Return an Observable<Action>"
At present, the current implementation assumes that there will be a single response from a data service and it will result in a single Action. I would like to be able to support situations where more than one response can be returned (such as from a WebSocket connection or a polling HTTP service) and more than one Action may result from the response. For instance, when loading from Firebase, the q

[2019-10-07 01:04] gaborszekely commented on #1054
Can confirm, removing the @Effect() decorator from the new Angular 8 "createEffect()" syntax fixed the issue for me.

[2019-10-07 17:12] sheikalthaf opened #2153 "router-store: firstchild of undefined with custom serializer"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## What is the current behavior?
![image](https://user-images.githubusercontent.com/22526247/66332471-7883bb80-e952-11e9-9c56-e17867be10d2.png)

above is my route state with custom serializer (sa

[2019-10-07 17:22] timdeschryver commented on #2153
The router selectors only work for the built-in serializer as mentioned in the [docs](https://ngrx.io/guide/router-store/selectors).

[2019-10-07 17:22] #2153 closed

[2019-10-07 17:49] sheikalthaf commented on #2153
@timdeschryver thanks for clarification

[2019-10-07 19:46] brandonroberts opened #2154 "Docs: add docs and example for MockStore.refreshState method"
With `MockStore.refreshState()` you can force your selectors to recompute during testing.

See #2148

[2019-10-07 21:12] ChuckIrvine commented on #2138
I thought I would refine my suggestion for future reference.

The suggestion is to clone the finished tutorial referenced at (https://angular.io/tutorial). Then modify it to use NgRx. This would be a good tutorial since lots of Angular developers are likely to be familiar with the Tour of Heroes tutorial.

[2019-10-08 00:57] brandonroberts commented on #2138
If you want to see a version of Angular tutorial using NgRx, check out https://github.com/nrwl/ngrx-workshop-app

[2019-10-08 12:36] timdeschryver commented on #2140
If no-one is currently working on this or is planning to work on this feature, I could grab this up.

[2019-10-08 14:07] owen26 opened #2156 "@ngrx/entity adaptor created selectors cause internal exception in a lazy loaded module"
## Minimal reproduction of the bug/regression with instructions:

https://stackblitz.com/edit/angular-nrqkr4

Visit `LazyB` before `LazyA` causes the exception.

I'm aware it's a bad practice to have lazy-loaded module access states in another lazy-loaded module. But the library shouldn't stop people using bad practice by throwing an internal error on it with no choice to do a workaround.

## Expe

[2019-10-08 15:02] zakhenry commented on #2156
👍, but I'm not actually convinced it is bad practice. A lazy module might actually want to access data from another lazy module _if it has been loaded_.

I'd expect the correct behavior be that selector just returns null for unloaded parts of the state.

[2019-10-08 19:17] brandonroberts commented on #2156
This is already handled by `createFeatureSelector`, which is what you should use when composing feature selectors for `@ngrx/entity`

[2019-10-08 19:17] #2156 closed

[2019-10-08 19:22] zakhenry commented on #2156
@brandonroberts the example does use `createFeatureSelector`?

[2019-10-08 19:41] brandonroberts commented on #2156
It does. I don't think we should return a null value for something that isn't defined in this case.

[2019-10-08 20:38] zakhenry commented on #2156
@brandonroberts the problem still remains that a lazy loaded module will cause an error to be thrown from within `createFeatureSelector`.

Would it be correct to wrap this to guard against the error? Something along the lines of

[code]

[2019-10-08 22:05] ChuckIrvine commented on #2138
Well, it turns out that lots of folks have converted the Tour of Heroes tutorial to use NgRx. This one is the best that I have found: https://github.com/webmasterdevlin/heroes-ngrx. The heroes component uses NgRx 7 and the villains uses NgRx 8.

[2019-10-09 07:12] Kleinhummel opened #2158 "Quick explanation of how to normalize data from backend"
I know that there is already an issue for normalizing state, but I am still unclear about how to normalize the state from my backend.
Is this the preferred workflow?:
Component ----(A)GetPosts----> GetPostsEffect (Fetches Posts from backend and normalizes them with normalizr) ----(A)GetPostsSuccess----> PostsReducer|CommentsReducer (Update their state)

So should the PostsReducer and the CommentsR

[2019-10-09 12:38] #2142 closed

[2019-10-09 13:12] JiaLiPassion commented on #2152
@mwootendev, I am not sure I understand your motivation to change the `persistentResultHandler` to return `Observable`, could you show some sample code to explain it ? Thanks!

[2019-10-09 17:15] timdeschryver commented on #2156
I'm not in favor of adding a guard here. If state is accessed, it should be there.

If we would add a guard here, there should be more guards in NgRx (I believe) but also in the application itself. Every part of the application that touches something of this state would need to be wrapped with a guard, I don't see added value here.

That being said you can create a custom `createFeatureSelector`,

[2019-10-09 17:16] zakhenry commented on #2156
Thanks @timdeschryver the use of `createLazyFeatureSelector` is the strategy we opted for.

[2019-10-09 18:13] dsebastien commented on #859
Can you share more details about this?
It the idea to denormalize data when taking it out of the store using selectors?

[2019-10-10 03:15] #2124 closed

[2019-10-10 11:29] sergey-karlo opened #2159 "@ngrx/data - Passing QueryParams in getByKey"
Sometimes it's necessary to pass additional Passing QueryParams in getByKey.
It's impossible to make workaround using getWithQuery, because it has different route (plural route).

## If accepted, I would be willing to submit a PR for this feature

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[X] No

[2019-10-10 14:15] timdeschryver opened #2161 "docs(schematics): typo, action should be effect"
## Other information:

There's a typo on the page https://ngrx.io/guide/schematics/effect

[code]

Should become

[code]

[2019-10-10 16:52] timdeschryver commented on #1978
In `8.4.0` we release `MockStore.refreshState()` to solve this issue.

Closing in favor of #2154 (to add it to our docs)

[2019-10-10 16:52] #1978 closed

[2019-10-11 12:28] #2161 closed

[2019-10-11 14:02] dummdidumm commented on #2049
On a broader note: Calling it like `originalHook && originalHook.call(component, args);` is wrong, it should be `originalHook && originalHook.call(this, args);`. This also wrong in the current state of the ngrx-components-branch.

[2019-10-11 15:08] haydenbr commented on #2062
Came across this issue because of a similar use case.

Would it be possible to return params nested by the outlet they're in? So in this case, something like

[code]

[2019-10-11 15:13] twittwer commented on #2062
Another possibility would be to provide different selectors so the developer can decide which one is needed.
e.g. `selectRouteParams` and `selectComposedRouteParams`

[2019-10-11 15:29] haydenbr commented on #2062
The problem I'm experiencing is I have two router outlets at the same level, named 'primary' (default) and 'secondary'. My solution is to provide a custom serializer. In my case, to include params from 'secondary' routes, I have to recursively check all of the children starting from the top, instead of just `firstChild`, which is also susceptible to the same problem @timdeschryver called out, but

[2019-10-11 18:57] defernan commented on #1897
Agreed please provide a way to suppress these messages, our app relies on dynamic reducers via store.addReducer, since we can have x number of sources at any time. Plus unit test litter is no bueno

[2019-10-11 20:42] Gunyon commented on #2116
try to select the router slice of state with a simple function

`export const selectRouter = (state: State) => state.router;`

because createFeatureSelector, hence the name, is used for selecting a slice of state added
in a FEATURE module

`StoreModule.forFeature('feature1', reducers)`

in this case you should use createFeatureSelector

[code]

[2019-10-12 06:21] Halt001 commented on #1897
Work is already being done, see here:
https://github.com/ngrx/platform/pull/2163

[2019-10-13 13:06] mikezks commented on #2158
Yes, you should go for the latter one,
Why? Because it is better reuseably, better traceable and leads to a better encapsulated architecture.

So use the following:

- Actions
  - `loadPosts`
  - `loadPostsSuccess`
  - `upsertPosts`
  - `upsertComments`
- Reducers
  - `upsertPosts`
  - `upsertComments`
- Effects
  - `loadPosts` (triggering data access service)
  - `normalizePosts` (triggered by lo

[2019-10-13 13:07] mikezks commented on #2158
...and use Selectors if you need nested data in your components.

[2019-10-13 13:09] mikezks commented on #2052
Thanks to @BioPhoton, @MikeRyanDev and all the others for contributing to this great RFC that has high potential to guide Angular & ngrx in the right direction.

For anyone new to this who aims to bring in helpful ideas please look at [@MikeRyanDev's slides on this topic](https://github.com/MikeRyanDev/ngrome2019-ngrx-component/blob/master/ngRome-2019.pdf).

I will share my ideas and a small PoC l

[2019-10-13 13:57] BioPhoton commented on #2052
Hi @mikezks!
Thanks for your feedback.

As there is also component state you want to combine with the global state a selector in the template is nothing i would support.

Compostion needs to happen in component or component local provided services.

However, feel free to suggest all your ideas!

[2019-10-13 14:33] mikezks commented on #2052
Hi @BioPhoton,

Yes, I agree with your argument.

I have been using the mentioned library internally for a while, but it has definitely not that broad scope for reactive development compared to the concepts discussed in this RFC, but can be used for Smart Components which are mainly getting their data out of the store and update it via Actions.

So I think this RFC's concept will lead to a more ge

[2019-10-13 15:49] BioPhoton commented on #2052
Hi @mikezks,

Definitely share your thoughts.! Even if i created the RFC and IMHO have a big picture, there might be things that are not covered in the RFC.

I.e. Manage component state, which I excluded from this RFC. I should post it I guess. This is the place where all the tiny problems come together...

[2019-10-13 17:47] BioPhoton commented on #2052
@mikezks one more thing.

You mentioned the talk of @MikeRyanDev at angular connect, which is really a nice piece of information!

But the solutions are avoiding reactive programming because they subscribe and assign the value to a class property.

Class properties can't get composed further.

**At the time we subscribe we end reactive programming**

So (nearly) every solution that contains `.subs

[2019-10-13 18:10] mikezks commented on #2052
@BioPhoton, yes I agree with that.

Nevertheless if @MikeRyanDev is planning to promote and implement this approach, we should definitly discuss this here as well. Chances are low, that several ideas will be published within the official @ngrx library.

Moreover IMO your concepts are not that far away. As @MikeRyanDev is [directly referring to this RFC](https://github.com/ngrx/platform/issues/2052

[2019-10-13 19:47] evgenyfedorenko commented on #2137
@timdeschryver I've messed with your 'create-effect-migration' quite a bit and wanted to start working on createAction one. I am not familiar with the way I can run the built schematics locally. For example once I add new schematics how do I test it in ngrx context ? Thanks!

[2019-10-13 19:56] BioPhoton commented on #2052
Hi again @mikezks.

I and @MikeRyanDev are in the same chat. So yes, we do talk to each other a lot  ;).
I also meet him often and I really like him and his content. (Just to make this clear because your comment sounds as we weren't friends or communicate with each other...).
Everybody in the chat has the same goal. => **Making Angular more reactive**

What the RFC here is focusing on is the primi

[2019-10-13 21:05] mwootendev commented on #2152
The specific case I am looking at is mapping @angular/fire FireStore stateChanges to a LOAD operation. The call to the FireStore will return an array of `DocumentChangeAction` results.

[code]

That single data service response can be mapped to individual `EntityOp.ADD_ONE`, `EntityOp.REMOVE_ONE`, and `EntityOp.UPDATE_ONE` operations. The issue is that PerisistenceResultHandler must map the entire

[2019-10-14 02:24] #2116 closed

[2019-10-14 07:10] Kleinhummel commented on #2158
But in this [talk](https://www.youtube.com/watch?v=JmnsEvoy-gY) Mike Ryan highlighted that reusing actions is bad! So don't you think that the first version might be more meaningful?

[2019-10-14 07:43] mikezks commented on #2158
The first version would lead to a completely different (means more complex) payload signature. I understand @MikeRyanDev 's talk about reusing Actions, that you get benefits by using different Action types, so that you know which part of the application dispatched the Actions. Nevertheless the payload stays the same and therefor also the reducer logic on how to process the state change.

[2019-10-14 07:48] mikezks commented on #2158
But to make this clear: using new Actions types makes is necessary to define a new Action, but nevertheless they can share the same payload type and therefor you do not need to implement similar or same Reducer logic twice.

[2019-10-14 08:12] Kleinhummel commented on #2158
Ahh, ok. Now I understand. So maybe a good approach would be to use different Actions for different  events but to use the same reducer "case", right?

[2019-10-14 08:17] mikezks commented on #2158
Yes, right - I would do it that way.

Also look at the [fabulous blog post](https://blog.nrwl.io/ngrx-patterns-and-techniques-f46126e2b1e5) by @vsavkin. Read it once, read it twice, read it several times - I did the same and it is really beneficial to get into ngrx advanced patterns.

[2019-10-14 08:27] Kleinhummel commented on #2158
Thank you very much. I will read the post!

[2019-10-14 08:52] timdeschryver commented on #2152
So it the change wouldn't be to allow an `Observable<Action>` but an array of actions as in `Action[]` ?

[2019-10-14 09:47] timdeschryver commented on #2096
We discussed this and decided we will not add this feature.
The reason is that we don't have a good use-case for it.
We might re-evaluate later.

[2019-10-14 09:47] #2096 closed

[2019-10-14 09:51] timdeschryver commented on #2137
I always start with the unit tests, these will cover 90% of all the cases.
After this step you can build the repo with `npm run build` (this requires bazel). The build output of the schematics will be found in `.\dist\bin\modules\schematics\npm_package`.
Now you should be able to install the package with `npm install path/to/npm_package` and run the schematics local.

[2019-10-14 14:23] dummdidumm commented on #2052
I agree with @mikezks that the `connect`-Method of @MikeRyanDev mentioned in his talk is equal to the `push` pipe. You don't manually (un)subscribe to anything, you just call the method. The added advantage is that you can also use the current state inside method calls if you like and don't have to pass it from the template back to the invoked methods. But I also agree with @BioPhoton in the sense

[2019-10-14 15:27] #2070 closed

[2019-10-14 20:07] mjh5153 commented on #1827
Is there a working example of this? The ngrx overrideSelector stackblitz isn't working for multiple overrides in a single component. Any help is great thanks.

[2019-10-15 15:07] jtcrowson commented on #1827
Yes, checkout the example app included in this repository.  The unit tests mostly use this setup.
🔗:
[Example-App](https://github.com/ngrx/platform/tree/master/projects/example-app)
[File using selectors + MockStoreConfig](https://github.com/ngrx/platform/blob/master/projects/example-app/src/app/auth/containers/login-page.component.spec.ts)

[2019-10-15 15:10] jtcrowson commented on #2154
Hey @brandonroberts, great work on `refreshState`!  Would love to get a feel for it, so I'll pick this up.

[2019-10-16 23:19] jordanpowell88 commented on #2159
@sergey-karlo Can you provide some more context to your issue? What is it you are trying to accomplish exactly?

[2019-10-17 02:19] jpduckwo commented on #2104
When using selectors with object props I'm getting situations where the selector emits multiple times over with actions that don't even modify the selectors states.

Everything seems to go back to normal when I put the selector into a factory function as recommended in the docs to improve memoization with selectors that are used with different props.

However what I'm seeing is something unexpecte

[2019-10-17 03:05] #2140 closed

[2019-10-17 08:37] peterreisz commented on #2023
@alex-okrushko Your welcome, but be aware the fix was removed because of some ci issue. It will be fixed in #2165

[2019-10-17 12:55] alex-okrushko commented on #2023
@peterreisz yes, I'm aware 😃

[2019-10-17 14:27] Stephenradams commented on #1843
Hi, is this still open? @santoshyadav198613 are you still planning on working on this? It seems like a good first PR, I would be interested in looking at this if you haven't started it?

[2019-10-17 15:09] adrianbenjuya commented on #1964
@rickvandermey Hi, did you find a solution? I'm facing a very similar problem with an interceptor that handles 401 errors and retries the requests after refreshing the token. When more than one unauthorized request is queued the effect makes the interceptor reach the `finalize` callback, therefore the requests won't retry

[2019-10-17 16:47] adrianbenjuya commented on #1964
Great thanks, anyway, my concern is a little bit deeper, is this the common behavior for effects? is it a bug?, I'm afraid I could come with it in another situation.

[2019-10-17 18:50] adrianbenjuya commented on #1964
@rickvandermey I've got an answer from Gitter, it's not a bug, you just need to replace `switchMap` for a non blocking map operator like `concatMap` or `mergeMap`

[2019-10-18 14:00] peterreisz opened #2171 "Cannot override mockstore selector during testing"
Once a select stream is created it cannot be overwritten during tests with the `mockStore.overrideSelector`

## Minimal reproduction of the bug/regression with instructions:

I have the following component:

[code]

Which I would like to test:

[code]

## Expected behavior:

The above test should pass, the `mockStore.overrideSelector` should update the select stream.

## Versions of NgRx, Angular,

[2019-10-18 17:03] manklu commented on #2171
IMHO the documentation contains all that's needed to support your use case.

https://next.ngrx.io/guide/store/testing#using-mock-selectors

[2019-10-18 17:38] timdeschryver commented on #2171
You can use the new `mockStore.refreshState()` method, which isn't documented yet (https://github.com/ngrx/platform/issues/2154).

You can take  a look at https://github.com/ngrx/platform/pull/2148 for an example.

[2019-10-18 17:38] #2171 closed

[2019-10-18 19:33] mwootendev commented on #2152
@timdeschryver I tend to think of the approaches as pretty much equal. I had imagined the `Action` -> `Observable<Action>` solution because then `EntityEffects` could just change the RXJS `map` operation to a `mergeMap`.

[2019-10-19 07:21] peterreisz commented on #2171
@manklu @timdeschryver

`store.pipe(select(mySelector))` can be mocked during tests, but you have no tests mocking `store.select(mySelector)`. If you be kind and look at [the code I've linked](https://github.com/ngrx/platform/blob/master/modules/store/testing/src/mock_store.ts#L114) you can see, it's directly returning a new Subject which won't be refeshed with `mockStore.refresState()`

[2019-10-19 07:58] timdeschryver commented on #2171
@peterreisz could create a reproducable example with it?
We have a test to verify `store.select` should work - https://github.com/ngrx/platform/blob/master/modules/store/testing/spec/mock_store.spec.ts#L336-L345

[2019-10-19 19:09] brandonroberts commented on #2062
What we currently have fits most scenarios without issue, so I don't think we should modify the existing behavior. We could expose the `selectRouterState` selector that gives you the top-level router state so you can build your own selectors to get at the data you need.

[2019-10-19 19:13] brandonroberts commented on #1843
Don't start on this. We are evaluating whether to reboot the docs app with a simpler infrastructure for easier maintenance.

[2019-10-21 08:28] Hagith opened #2173 "[devtools] time travel duplicates actions"
## Minimal reproduction of the bug/regression with instructions:

- Start official [example-app](https://github.com/ngrx/platform/tree/master/projects/example-app)
- Navigate through application
- Use time travel in Redux DevTools extension

Bug screencast: https://youtu.be/6TycwZjqxcs

## Expected behavior:

Time traveling should not dispatch new/duplicated actions.

## Versions of NgRx, Angular,

[2019-10-21 13:44] leonardochaia commented on #994
@MattiJarvinen interesting thooughts. Appreciate it.

I'm about to dig into this topic and any updated guidance is appreciated.
I've also seen [a comment](https://github.com/ngrx/store/issues/385#issuecomment-293751423) from @MikeRyanDev, was there any advancements on this topic?

Thank you guys. 🙏

[2019-10-22 09:22] shprink commented on #931
@brandonroberts workaround worked for me => https://github.com/brandonroberts/effects-issue-example/blob/master/src/app/app.module.ts

It also works with AOT.

Thanks a lot

[2019-10-22 14:55] timdeschryver commented on #2062
I agree with @brandonroberts , it would be hard to cover all cases.
What about creating a router recipe on how to write your own router selectors if that would be helpful.

[2019-10-22 18:37] raoufchebri commented on #1104
I had the same problem. The problem occurred because of MatSort.
The error disappeared once I moved the mat-table to a new child component ;

[2019-10-22 18:59] mjh5153 commented on #467
Know this is an issue from 2 years ago and withLatestFrom worked for me. Wondering why we wouldn't use forkJoin though as we only care about the last value and the observables only emit one value?

[2019-10-23 10:49] dummdidumm commented on #2173
I'm not really sure if this is intended behaviour or not. I guess these are actions triggered from effects. Either way, as a workaround you can click on "lock changes" to prevent such things.

[2019-10-23 11:44] mistic100 opened #2176 "[@ngrx/store/testing] overrideSelector with props"
Currently we can override selectors in the MockStore with the `overrideSelector` method. This method treats `MemoizedSelector` and `MemoizedSelectorWithProps` exactly the same way : by providing an hardcoded return value.

It would be really is usefull to be able to provide a callback for `MemoizedSelectorWithProps` in order to return different values depending on the props.

## Describe any alter

[2019-10-23 17:48] timdeschryver commented on #2173
This is indeed the effects that dispatch the actions.
If I remember correctly we mentioned you should lock the changes, as @dummdidumm said.

[2019-10-24 01:19] dalu opened #2177 "data: document default http request structure"
## Other information:

I found https://slides.com/jiali/deck-5#/18 however it doesn't seem right.
PUT is idempotent, which effectively means it needs an url parameter, as well as does DELETE.

How is one supposed to write a compatible http api when it's not documented?

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull req

[2019-10-24 08:26] timdeschryver commented on #2177
I just verified that it does have a query param:

[code]

[2019-10-24 08:50] FallenRiteMonk commented on #2032
@rickvandermey I have a similar meta reducer as you with the same problem. How did you solve the problem in the end?

[2019-10-24 09:25] rickvandermey commented on #2032
@FallenRiteMonk a bit sketchy perhaps but instead of calling the initialState in the actionCreator `on()`, we duplicate the initialState:

Example:

[code]

[2019-10-24 09:26] FallenRiteMonk commented on #2032
@rickvandermey okey thank you

[2019-10-24 09:40] ekhmoi commented on #646
@brandonroberts thank you, it works.
But how do you test these effects? As it doesn't return `new AdvertActions.StartAdFailed(err)` anymore and dispatches it to store
What is the recommended approach? To spy on `store.dispatch`? I don't like this to be honest.
Any tips?

[2019-10-24 10:11] ekhmoi commented on #646
@brandonroberts regarding catching errors inside switchMap, how do you get around having multiple switchMaps which might possibly throw an error?
What I want to do is:
`
  createUser$ = createEffect(() =>
    this.actions$.pipe(
      ofType(userActions.createUser),
      switchMap(item => this.createAPIUser(item).pipe(
        catchError(error => of(userActions.createUserFailure({ error })))

[2019-10-24 11:34] OlaviSau commented on #2052
Proof of concept with a fixed subject name, using dynamic updates.
You can convert inline to dynamic by using a spread for the values.
[code]

[2019-10-24 12:32] brandonroberts opened #2179 "Docs: Add example of testing effects using RxJS run method"
As an alternative to creating an Effect factory with parameters just for testing, we should provide an example of testing Effects inside the RxJS run method that replaces the TestScheduler for you.

https://rxjs.dev/guide/testing/marble-testing#api

[2019-10-24 16:14] elvisun opened #2180 "Throw early on duplicate action type string"
## Describe any alternatives/workarounds you're currently using
Currently if you mistakenly use the same type string, there's no warning or error. Code would compile fine but the wrong action would be triggered, usually result in very obscure bugs e.g. an infinite loop.

For example the following mistake would result in an infinite loop:
[code]

Would be nice to throw an error at much earlier in r

[2019-10-24 17:28] timdeschryver commented on #2180
You can accomplish this with a linter.
For now, you can use [ngrx-tslint-rules](https://github.com/timdeschryver/ngrx-tslint-rules) because this isn't included into the platform.

[2019-10-25 06:10] dmytro-gokun opened #2181 "[@ngrx/entity] Use ReadonlyArray<T> instead of mutable arrays"
For example, EntityStateAdapter<T> has methods like:

[code]

Would not it make sense to change these to:

[code]

This looks like a backward-compatible change which support immutable/functional style.

Same for EntitySelectors:

[code]

should become:

[code]

This is a breaking change though.

Thoughts?

[2019-10-25 17:14] dalu commented on #2177
thank you and sorry for no PR, my head is exploding in multiple dimensions rn

[2019-10-25 17:25] timdeschryver commented on #2177
No problem @dalu , thanks for raising an issue - this change will be helpful for others

[2019-10-25 18:34] alex-okrushko commented on #646
@ekhmoi You'll nest it within the outer switchMap.

[code]

[2019-10-26 14:33] timdeschryver commented on #2181
If we would use the `ReadOnly` types we should take a broader look, e.g. also add it to reducers and selectors.
This can also help for #1824.

[2019-10-26 14:41] dmytro-gokun commented on #2181
@timdeschryver You are right, this should not be limited to @ngrx/entity only. The reason i've labeled the issue in that way was that EntityStateAdapter methods were we I run into warning while refactoring one of my projects to use ReadonlyArray-s. Practically, that was the only source of warnings. That, however, might be different for different projects.

In any case, if ReadonlyArray-s are to be

[2019-10-27 14:25] norato opened #2184 "[bug] - Integration test fails intermittently"
## Minimal reproduction of the bug/regression with instructions:
The test for [integration](https://github.com/ngrx/platform/blob/43048658591b5c3fe944720c248ea54e15c6d5b4/modules/store/spec/integration.spec.ts) intermittently fails.
I tried to run it several times and it failed a few times.

![image](https://user-images.githubusercontent.com/395588/67635877-dcdad080-f8a9-11e9-9995-8d25885e2ea7.png

[2019-10-28 12:42] brandonroberts opened #2185 "Docs: Remove GitHub link from top nav"
We have a GitHub link and icon in the top nav.

[2019-10-28 12:45] brandonroberts opened #2186 "Example: Remove dispatching of 2 actions in AppComponent"
In the example app, we dispatching 2 actions when the logout nav item is clicked, one to close the sidenav and one to display the logout confirmation. This should be done with one action, with the layout reducer listening for the logout confirmation action.

https://github.com/ngrx/platform/blob/master/projects/example-app/src/app/core/containers/app.component.ts#L65

https://github.com/ngrx/platf

[2019-10-28 12:49] #2179 closed

[2019-10-29 01:06] BioPhoton opened #2187 "RFC: Component State - New service in package @ngrx/component"
# Reactive Component State

Here my research on ephemeral-state-management.

- [💾 Reactive Ephemeral State](https://dev.to/rxjs/research-on-reactive-ephemeral-state-in-component-oriented-frameworks-38lk) In: Dev.to, Michael Hladky
- [💾 Design Doc - State Service](https://hackmd.io/wVkWRc3XQWmtM6YcktRTrA) In: HackMd, Michael Hladky.
-  [📦 NPM package - ngx-rx/rxjs-state](https://www.npmjs.com/packa

[2019-10-29 06:07] DanielKucal commented on #781
Was it solved? Because I'm still experiencing the issue:
![image](https://user-images.githubusercontent.com/8938562/67741901-c902ac00-fa1a-11e9-89cf-b94ae9af9526.png)

[2019-10-29 10:24] andrsbrbs commented on #508
This should really be upvoted more. Wasted like 4 hours refactoring and writing my app from zero again, until I found your answer.

[2019-10-29 17:49] jtcrowson commented on #2000
Hey @brianguppy, also checkout #2148 and the documentation for it in #2182.

[2019-10-29 18:06] timdeschryver commented on #781
@DanielKucal feel free to open an issue with a reproduction if you're experiencing issues.
AFAIK, this is resolved.

[2019-10-30 03:15] alex-okrushko opened #2192 "Improve typings of createEffect, help debugging"
## Describe any alternatives/workarounds you're currently using

Currently it's very hard to debug any issues (wrong type, missing imports or anything else really) that are happening within `createEffect` callback.

e.g.
<img width="714" alt="Screen Shot 2019-10-29 at 5 36 29 PM" src="https://user-images.githubusercontent.com/2830407/67825970-6c969f80-faa1-11e9-9dd9-fb7b2de46235.png">

Here we hav

[2019-10-30 03:59] kadung commented on #2159
@jordanpowell88 I think I have same problem with @sergey-karlo.
When I try to call getgetAll() method then the request API is domain/posts
But I use getByKey(1) method then  the request API is domain/post/1 (I think it should be domain/posts/1)

You take a look at https://stackblitz.com/edit/angular-bbgfje

[2019-10-30 09:39] petrikas opened #2193 "Cannot reference reducer by FeatureKey when using AOT"
## Minimal reproduction of the bug/regression with instructions:
https://stackblitz.com/edit/ngrx-seed-pgzkpn

`ng serve --aot`
or
`ng build --aot`

throws

[code]
## Expected behavior:
It should be possible to reference raducers by using featureKeys using the AOT compiler.

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

NGRX 8.0.0
Angular 7.0.0
Node 10.16.0
OS W

[2019-10-30 13:28] alex-okrushko commented on #2193
@petrikas Please add features with `StoreModule.forFeature(counterFeatureKey, counterReducer)`;

[2019-10-30 13:43] petrikas commented on #2193
@alex-okrushko but how do I add multiple reducers then?

[2019-10-30 22:25] alex-okrushko commented on #2193
Instead of `counterReducer` you can provide another function that returns `combineReducers` call: https://github.com/ngrx/platform/blob/master/projects/example-app/src/app/books/reducers/index.ts#L27

[2019-10-30 22:34] alex-okrushko commented on #2192
After looking into and making a number of other improvements, I don't see you this could be solved, for a few reasons:
- we chain operators from observable without enclosing it with `{return obs}`.
- we still want to be strict on what it returns (has to be `Observable<Action>`).

Based on that, here are the workarounds:
- temporarily add `{dispatch: false}`. The type becomes less string and other

[2019-10-31 00:27] paubereng opened #2196 "NgRx store returning undefined on APP_INITIALIZER"
I have a init service called with `APP_INITIALIZER`. This service call some endpoints that I need before runing app.
When I build the app without `--prod` flag, works fine, but with flag store returns undefined.
Some idea what happens? Thanks.

[2019-10-31 09:35] ekhmoi commented on #646
@alex-okrushko, thank you for the response.
I ended up using mergeMap with one outter catchError. Seems working so far.

However I still don't like this nested hell just to catch error. Wish there was a better way

[2019-10-31 11:33] alex-okrushko commented on #646
Even in the example that I gave you you can drop the inner catchError - depends if you want to differentiate how your app handles it or not.
If you drop the inner catchError then you don't need to nest.

[2019-10-31 12:22] sergey-karlo commented on #2159
@jordanpowell88 my case is I have entity with several large (BLOB like) properties. Usually I don't need that large property values when I query data from server, but in some cases I do. So I would use some additional QueryParams in getByKey to specify whether I need the BLOB values or not

[2019-10-31 21:08] brandonroberts commented on #2196
Support questions should be asked in the [gitter channel](https://gitter.im/ngrx/platform)

[2019-10-31 21:08] #2196 closed

[2019-10-31 21:17] #2154 closed

[2019-10-31 21:18] #2177 closed

[2019-10-31 21:25] #2126 closed

[2019-10-31 21:35] brandonroberts commented on #2192
I think the second option is an easy win. We can update the schematics to do this also.

[2019-11-01 11:20] alex-okrushko commented on #2192
Yes, I agree. Schematics and snippets 🙂

[2019-11-01 12:59] brandonroberts opened #2205 "Store: Types are not inferred in projector function when using props"
## Minimal reproduction of the bug/regression with instructions:

GitHub Repo: https://github.com/brandonroberts/ngrx-props-bug

- Clone repo
- Run `yarn`
- Go to the `src/app/state/users/users.selectors.ts` file
- Note the `selectUserWithoutProps` types are inferred in the projector
- Note the `selectUserWithProps` types are not inferred in the projector

## Expected behavior:

The types still ge

[2019-11-01 14:29] SerkanSipahi commented on #2205
@brandonroberts @timdeschryver Can i take this Issue?

[2019-11-01 15:10] brandonroberts commented on #2205
@SerkanSipahi yep, just request Tim or Alex for review

[2019-11-02 17:30] timdeschryver commented on #2192
I was excited for this change, as I've had also looked into it and came to the same conclusion.

This is an error that I see frequently and I didn't know how to make it more clear on what the actual problem is. Thanks for providing a workaround 👍

[2019-11-04 07:39] timdeschryver opened #2206 "feat(router): router actions as ActionCreators"
If we're using the creator functions for reducers and effects we aren't able to use the router actions.
I'm suggesting that we'd also create these router actions as `ActionCreators`, for example:

[code]

## Describe any alternatives/workarounds you're currently using

We can create the `ActionCreators` in our project.

## Other information:

## If accepted, I would be willing to submit a PR for t

[2019-11-04 10:28] dinhlambcs commented on #1567
@bbonczek  I read your article and have some questions, so can you help answer me ?
- How and when dispatch continuePolling action?
- Does your article support ngrx version 6.5 to up?
Thanks

[2019-11-04 14:17] petrikas commented on #2193
@alex-okrushko Thank you for your help.

[2019-11-04 14:17] #2193 closed

[2019-11-04 15:07] maartentibau commented on #2206
OK, I will have a look on this tonight (if I don't forget), but I'm happy to help out on this one!

[2019-11-05 00:14] pjc2007 commented on #1649
I wanted to use an async meta reducer to save/restore state from Ionic storage, (ie SQLite) and these operations are async.

[2019-11-05 09:22] danday74 commented on #1649
This is the biggest failing of the otherwise superb ngrx lib IMO.

[2019-11-05 09:25] danday74 commented on #1649
@pjc2007 as @brandonroberts pointed out you can use ngrx Effects to achieve this but it adds a lot of boilerplate.

[2019-11-05 10:56] pjc2007 commented on #1649
@danday74  yes I spent most of the day removing the meta reducer once I realised it can't possibly work with async calls to a database.

I put the loading of the `states`  via an `effect` in response to an action to "hydrate". The saving I put in a `select` rather than an `effect`, as I want to save it out after the reducers have run, and the word was not to dispatch actions from the reducers.

A

[2019-11-05 11:02] bbonczek commented on #1567
@dinhlambcs - there is no continuePolling action - there are only StartPolling and StopPolling actions. ContinuePolling$ effect is called on GetSubnetDevicesSucceded/Failed actions. I've pasted a part of an article below:

[code]

[2019-11-05 11:03] bbonczek commented on #1567
And I think that since this article was written some time ago, it may not be newest version of NGRX.

[2019-11-05 11:33] dinhlambcs commented on #1567
@bbonczek: Need I dispatch startPolling action ? I try to dispatch StartPolling action but api only call once time. I'm using rxjs 6.5 with angular 7, ngrx 7

[2019-11-05 15:39] harm-less commented on #2205
Hey @SerkanSipahi, @brandonroberts,
Besides the issue described here there's another issue that I believed is contained in the same part of the code.

When combining parameterized selectors it doesn't take all the props into account as can be seen in this example:
![image](https://user-images.githubusercontent.com/6368074/68221240-6ea0b700-ffe9-11e9-9f57-93f426fc2f19.png)

The TS error says that p

[2019-11-05 17:34] manklu commented on #1649
@pjc2007

I bet it's possible but you have to do it yourself.

[2019-11-05 17:39] manklu commented on #1649
@danday74

With a factory you can get rid of most of the boilerplate code. And you can made it in a way that the creator of the action doesn't have to know the url.

[2019-11-05 22:13] #2186 closed

[2019-11-05 22:15] #2185 closed

[2019-11-05 22:22] #2184 closed

[2019-11-05 22:40] brandonroberts opened #2210 "Schematics: update creators to the default"
Set all the `creators` options to `true` for schematics for actions, reducers, and effects.

[2019-11-05 22:41] brandonroberts opened #2211 "Build: Update to Angular 9 RC"
Update the build to use the latest Angular RC in prep for the next major release

[2019-11-05 22:43] brandonroberts opened #2212 "Docs: create archive site for 8.x docs"
Just a reminder to create the archived docs set for V8 when its time for V9.

[2019-11-05 22:46] brandonroberts opened #2213 "Docs: add release information page"
- Information about our release process and schedule.
- Add note about using later versions of NgRx with earlier versions of Angular
  - Possible, but not officially supported by us

[2019-11-05 22:48] brandonroberts opened #2214 "Blog: Write blog post for version 9 release"
For future reference. Will be published at https://medium.com/ngrx

[2019-11-05 22:50] brandonroberts opened #2215 "Docs: update example dependencies to version 9"
The dependencies for the generated examples need to be updated with the upcoming release. The `package.json` file is located in the `projects/ngrx.io/tools/examples/shared` folder.

- [ ] Update the Angular dependencies to latest
- [ ] Update the NgRx dependences to latest
- [ ] Run yarn in the `shared` folder to update the `yarn.lock` file

[2019-11-05 22:51] brandonroberts opened #2216 "Docs: add migration guide for version 9 release"
Documents

- [ ] CLI Update instructions
- [ ] New Features/Breaking Changes
- [ ] Provided Migrations
- [ ] Latest dependencies

[2019-11-05 22:53] brandonroberts opened #2217 "Store: enable immutability checks by default"
- [ ] Enable the immutability runtime checks for the StoreModule config.
- [ ] Update/remove the console warning message
- [ ] Update schematics

[2019-11-06 02:10] evgenyfedorenko commented on #2217
I can take this one if that is ok

[2019-11-06 03:26] brandonroberts commented on #2217
Yep

[2019-11-06 05:38] maxisam opened #2218 "generate ROOT_EFFECTS_INIT through createAction"
Currently ROOT_EFFECTS_INIT is defined from
https://github.com/ngrx/platform/blob/2bac73cb33c5e05874e4dd7962c6d75496d009b8/modules/effects/src/effects_root_module.ts#L12

However, it doesn't work with `createReducer` or `createEffect`

Should we create this action through createAction?

[2019-11-06 15:37] craigsnyders commented on #476
This caused some false-positives in our application recently, where we had forgotten to call `cd.detectChanges()` the view should not have been updated; but because of this bug it worked fine all during development

[2019-11-06 17:24] timdeschryver commented on #2218
Can be done, the same way as pointed out in https://github.com/ngrx/platform/issues/2206

[2019-11-06 17:24] timdeschryver commented on #2218
Do you want to create a PR with these changes @maxisam ?

[2019-11-06 17:29] timdeschryver commented on #2210
Just in case we don't forget: this also applies for entities and features.

[2019-11-06 21:15] maxisam commented on #2218
@timdeschryver I just tried to make a pull request but I don't know where I messed up

[2019-11-06 23:33] jhcao23 opened #2220 "HttpClientModule should come with @ngrx/data"
## Minimal reproduction of the bug/regression with instructions:
A basic cli series:
[code]
## Expected behavior:

It should run!

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):
ng: 8.2.13
ngrx: 8.4.0
node: 12.12.0
os: macOS Catalina

## Actual Result:
the main page has nothing and the `<app-root></app-root>` doesn't compile.

## Workaround:
Add `HttpClientModule`

[2019-11-07 02:32] brandonroberts commented on #2220
`HttpClientModule` is an implicit dependency that may not be included in the module where you import the `EntityDataModule`. We can add a note to the docs that `@ngrx/data` assumes you already have it imported into your application. Would you like to submit a PR for this?

[2019-11-07 02:35] brandonroberts opened #2221 "Docs: Observable is missing the type in Effects overview"
The `Observable` is missing the type from the Effects example https://ngrx.io/guide/effects#comparison-with-component-based-side-effects

The code snippet is correct, but the `<` and `>` need to be changed to the equivalent HTML entities.

The file to edit is here: https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/guide/effects/index.md

[2019-11-07 03:33] brandonroberts opened #2222 "RFC: Change behavior of ofType in Effects to be more consistent when combining observables"
There are two predominant things you do when listening to an action after using the `ofType` operator:

[code]
and
[code]

These have two different behaviors as far as effects are concerned. The first one doesn't do anything until the action is dispatched, which is what it should do.

The second one immediately subscribes to the `withLatestFrom` whether the action is dispatched yet or not. If that

[2019-11-07 03:40] brandonroberts opened #2223 "Build: add package for @ngrx/component"
Create initial package and setup to produce nightly builds of `@ngrx/component`.

Checklist

- [x] Add build setup to modules folder
- [x] Setup github repo for night builds
- [x] Create doc for installation and usage

[2019-11-07 03:45] brandonroberts opened #2224 "Build: add package for @ngrx/schematics-core"
We are currently copying the `schematics-core` into each one of the packages as a sub-folder. This effort will make `@ngrx/schematics-core` a distributed NPM package that the other packages depend on. We could also look at cleaning up these APIs in case other people want to use them.

Checklist

- [ ] Add build setup to modules folder
- [ ] Setup GitHub repo for night builds
- [ ] Add package as a

[2019-11-07 13:30] brandonroberts opened #2225 "Router Store: make minimal router state serializer the default"
This provides the minimal set of router state that is fully immutable and serializable. Will have to do some coordination with libraries such as Nx that use the full router state for the navigation effects.

[2019-11-07 13:51] brandonroberts opened #2226 "Schematics: update Effect schematics to unwrap and return actions stream"
A follow-up to #2192

Today we generate effects that use an arrow function with an implicit return to return the observable stream:

[code]

This is prone to be harder to debug in the case of missing imported operators in the observable pipeline. Unwrapping the function and returning the actions/observable stream will give the developer better debugging information as to what's wrong inside the fu

[2019-11-07 13:53] brandonroberts opened #2227 "Schematics: generate selectors by default when generating state features"
We introduced generated selectors with 8.5.0. They should be generated by default

[2019-11-07 14:00] jordanpowell88 commented on #2215
@brandonroberts Thanks for clarifying v9. I read this yesterday and was a little confused. I can work on this

[2019-11-07 14:29] timdeschryver commented on #2211
I can get the ball rolling on this one, might need some help with bazel tho.

[2019-11-07 15:28] #2218 closed

[2019-11-07 17:44] maxisam commented on #2226
I was just trying to do the same thing.

https://gist.github.com/maxisam/12da6721d2ed6ea9dc30ffe4fef0eb78

My case is a bit different because I have my own action creator before. So anyone wanna try it need to modify it first.

[2019-11-07 21:53] evgenyfedorenko opened #2228 "store-devtools: actionsBlocklist issue with regex-like strings"
## Minimal reproduction of the bug/regression with instructions:
[code]
StackBlitz example to create a reproduction:
https://stackblitz.com/edit/ngrx-seed-qtqp9m

## Expected behavior:
I expect that counter increment action should not be visible and tracked in the store devtools Chrome extension. But it is not filtered.

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(

[2019-11-07 21:59] PsychoPflanze commented on #1432
@j-thebault Hey, i know this is old for quite some time, but have you found a solution for this? Otherwise i would have to create another issue for this, because i need this :D

[2019-11-07 23:54] hehaijin commented on #2226
May I work on this issue?

[2019-11-08 00:46] brandonroberts commented on #2226
@hehaijin Sure. Let us know if you need any assistance

[2019-11-08 08:04] Mutantmannen commented on #1054
This must be a bug in v8. Have a new project written from scratch with Angular v 8.2.5 and ngrx v 8.3.0.

Using v8 createEffect(), no use of state nor @Effect() decorator.

Effect fires twice, regardles of StoreDevtoolsModule.instrument enabled or not.

[2019-11-08 10:40] leon-marzahn opened #2232 "RFC: Accept InjectionToken in EffectsModule.forFeature"
It is currently not possible to register effects (`EffectsModule.forFeature`) with an `InjectionToken` like it's possible in `StoreModule.forFeature`. Adding this feature could open some possiblities of reducing boilerplate in applications.
Pull Request #2231 (Help needed for how to document and test)

## Describe any alternatives/workarounds you're currently using

An alternative is using `Inject

[2019-11-08 11:45] Mutantmannen commented on #1054
`saveSalesRepresentative$ = createEffect(
    () =>
      this.actions$.pipe(
        ofType(SalesRepresentativesActions.salesRepresentativeUpdated),
        concatMap(action =>
          this.salesRepresentativesDataService.patch(
            action.update.id,
            action.update.changes
          )
        )
      ),
    { dispatch: false }
  );`

This is my effect. Call to dataservice fir

[2019-11-08 14:41] acb14js opened #2233 "Docs: Missing "props" import on scoreboard-page.actions.ts example"
I think there is a missing import in the scoreboard-page.actions.ts example from the Reducers tutorial page (https://ngrx.io/guide/store/reducers)

I think the imports should change from:

`import { createAction } from '@ngrx/store';`
To this:
`import { createAction, props } from '@ngrx/store';`

Because the props method is used on the line
`export const setScores = createAction('[Scoreboard Page]

[2019-11-08 18:41] timdeschryver commented on #2233
You're totally right @abinp !

Feel free to create a PR with the proposed change 👍

[2019-11-08 18:50] timdeschryver commented on #2228
This is because we're creating using the strings as a RegExp - https://github.com/ngrx/platform/blob/master/modules/store-devtools/src/utils.ts#L168-L171

As a workaround you can do:

[code]

[2019-11-08 19:00] timdeschryver commented on #1054
@Mutantmannen can you create a new issue with a reproduction?

[2019-11-08 19:08] brandonroberts commented on #2232
What's your use case? Reducing boilerplate is not a use case 😉

[2019-11-08 19:12] evgenyfedorenko commented on #2228
Right, but don't we want to fix it? Escape the string before passing it into match method? I was confused by it not working, I can imagine others may be too.

[2019-11-08 19:28] jordanpowell88 commented on #2233
If @acb14js  doesn't want to I can

[2019-11-08 19:39] timdeschryver commented on #2233
Let's give @acb14js the time to answer @jordanpowell88

[2019-11-08 19:39] timdeschryver commented on #2228
A fix would be great!
Was just pointing out how one could use it for now.

[2019-11-08 20:04] brandonroberts opened #2236 "Docs: add docs on performing tasks based on dispatched actions within an active component"
There is a common use case of wanting to perform some task inside a component based on actions that have been dispatched outside the component, normally with Effects. There are some common patterns to achieve this:

Use the Effects APIs to listen to dispatched actions:

[code]

Set some property in your state slice that gets updated, and listen for when that piece of state is updated.

[code]

We

[2019-11-08 20:20] PsychoPflanze commented on #2232
@brandonroberts My specific use case is to reduce boilerplate. I want to create a library that makes it possible to create actions, reducers, effects and selectors via a single class. And because this already works in `StoreModule.forFeature`, it would make sense to also have it in `EffectsModule.forFeature`

[2019-11-08 21:51] alaboudi opened #2237 "Remove Angular & @ngrx/store Dependency from @ngrx/entity"
I really like ngrx's entity module that I decided to use it with my react application. Unfortunately, it is coupled with Angular and ngrx/store. I think it would be a great idea to remove these dependencies and have it as a standalone package that is consumable by any application that wants to manage entity collections. What do you think?

## Support Requests should not be opened as issues and sho

[2019-11-08 23:06] jhcao23 commented on #2220
I'm not good at schematics so I only updated the docs on the main page of the @ngrx/data section.
I created a [PR 2238](https://github.com/ngrx/platform/pull/2238).
Thanks!

[2019-11-09 01:21] #2220 closed

[2019-11-09 07:07] AlbinLijo commented on #949
StoreModule.forRoot([ ])

[2019-11-11 12:41] brandonroberts commented on #2237
Thanks @alaboudi. We don't have any plans to remove these dependencies from `@ngrx/entity`.

[2019-11-11 12:41] #2237 closed

[2019-11-11 13:19] brandonroberts opened #2240 "Platform: Update usage of TestBed.get to TestBed.inject"
`TestBed.inject` replaces `TestBed.get<Type>`. We need to clean up:

- [ ] Library code
- [ ] Docs
- [ ] Schematics

Blocked by #2234

[2019-11-11 13:30] brandonroberts opened #2241 "Schematics: add support for exported createReducer and Ivy"
With Ivy, we can use the reducers generated by `createReducer` directly.

[code]

We should add support for this in the docs and schematics:

- [ ] Note that the exported reducer is required for View Engine in the docs
- [x] Add support to schematics to export the generated reducer and not include the exported function.
- [ ] Update the AOT metadata errors link to https://angular.io/guide/aot-meta

[2019-11-11 16:25] krasnyuk commented on #858
Simple local state component implementation (not tested):
`export abstract class LocalStateComponent<T = any> implements OnInit {
  protected abstract initialState: T;
  private stateSource = new BehaviorSubject<T>(null);
  private state: Observable<T> = this.stateSource.asObservable().pipe(filter(Boolean));

  ngOnInit(): void {
    this.setState(this.initialState);
  }

  protected selectFromSta

[2019-11-11 17:13] sumitparakh commented on #2240
Hey, I wanna do this.

[2019-11-11 19:12] brandonroberts commented on #2240
@sumitparakh It's yours. Let us know if you need any assistance

[2019-11-11 19:37] timdeschryver opened #2242 "Schematics: use `skipTests` instead of `spec`"
With the new version of the Angular CLI, the `spec` option from the schematics has been removed. Instead, a `skipTests` option has been added.

We would like to keep our schematics in line with the Angular CLI schematics.

This change includes:

- [ ] Modifying the schematic options
- [ ] Update the schematics code
- [ ] Uppdate the docs

For ref: angular/angular-cli@e92c46a

[2019-11-12 05:48] jorgjanke opened #2243 "Effect in library - TS4029 Public property .. of exported class has or is using name 'CreateEffectMetadata' from external module"
ERROR: projects/my-lib/src/lib/animal.effects.ts(13,3):
**error TS4029: Public property 'loadAnimals$' of exported class has or is using name 'CreateEffectMetadata' from external module** "/Users/jorg/Documents/Test/vLatest/node_modules/@ngrx/effects/src/effect_creator" but cannot be named.

## Minimal reproduction of the bug/regression with instructions:

ng generate library MyLib --prefix ml
ng

[2019-11-12 06:50] GreedyA1 commented on #1934
@JiaLiPassion Is there any workaround or updates on nested data?

Could you recommend how to deal with sitaution, where we have nested data from server?

[2019-11-12 08:10] timdeschryver commented on #2243
Is it possible to share the repo @jorgjanke ?

[2019-11-12 08:21] peterreisz opened #2244 "Mockstore selector override with undefined value"
## Minimal reproduction of the bug/regression with instructions:

[code]

## Expected behavior:

User should be able to override selector result with `undefined` too, at this moment [`undefined`](https://github.com/ngrx/platform/blob/2bac73cb33c5e05874e4dd7962c6d75496d009b8/modules/store/src/selector.ts#L84) value is indicating that the selector result is not overwritten, thus mockstore will try t

[2019-11-12 08:23] peterreisz commented on #2171
@timdeschryver I've just got back to this issue and it's working now, thanks for the help.
Meanwhile I've found a connected minor issue: #2244

[2019-11-12 09:30] alex-okrushko commented on #2243
I might've not added `CreateEffectMetadata` to the exported public api.

[2019-11-12 10:17] stupidawesome commented on #2052
Expanding on my earlier submission, I've taken some inspiration from Svelte and React to create a more ergonomic API for reactive state variables.

[See this gist](https://gist.github.com/stupidawesome/139bc5eb5fd0606087dc53ff90ed80c4) for a reference implementation.

How I use it:

[code]

[2019-11-12 11:28] dmitry-urenev opened #2246 "routerReducer doesn't handle ROUTER_NAVIGATED action"
Hey guys, during refactoring of one project in our company I noticed that `routerReducer` doesn't handle `ROUTER_NAVIGATED` action:

https://github.com/ngrx/platform/blob/90d06020d794034d326f01dbecef440be62cf7ce/modules/router-store/src/reducer.ts#L18-L36

I don't think that it is so on purpose. In our app we are interested in the router state only when navigation is finished - when we pass all gu

[2019-11-12 11:44] #2243 closed

[2019-11-12 12:14] dummdidumm commented on #2052
I like that you get around the "wait for `ngOnInit`"-problem by using a promise, although I don't know if this is stable enough. Is it ensured that angular will always do the initialization synchronous?
I think the API is a little confusing, especially when knowing react's hooks already, because it works different (`useState` called multiple times, no `[state, setState]`) but looks very similar. F

[2019-11-12 12:37] #2226 closed

[2019-11-12 15:08] acb14js commented on #2233
@timdeschryver just added the pull request

[2019-11-12 15:22] timdeschryver commented on #2233
@acb14js I think you still have to create the pull request at https://github.com/ngrx/platform/pulls by clicking on "New pull request" (green button at the top right).

[2019-11-12 15:36] acb14js commented on #2233
@timdeschryver Thanks for your patience, Its my first time creating a pull request. I think I've setup the pull request correctly now.

[2019-11-12 17:01] Jefiozie commented on #2242
I would like to work on it, if that is fine by you @timdeschryver

[2019-11-12 17:12] timdeschryver commented on #2233
Super! Thanks @acb14js

[2019-11-12 17:21] timdeschryver commented on #2242
Sure, go ahead @Jefiozie.
Feel free to ping us if needed.

[2019-11-12 17:25] timdeschryver opened #2248 "Schematics: replace `styleExt` with `style`"
With the new version of the Angular CLI, the `styleExt` option from the schematics has been removed. Instead, a `style` option has been added.

We would like to keep our schematics in line with the Angular CLI schematics.

This change includes:

- [ ] Modifying the schematic options
- [ ] Update the schematics code
- [ ] Uppdate the docs

For ref: angular/angular-cli@e92c46a

[2019-11-12 18:01] Jefiozie commented on #2242
@timdeschryver thanks, I also see a change around style. Do you want me to change this I'm this issue/PR?

[2019-11-12 18:59] aolson58 opened #2249 "Docs: Documentation on Mocking Selectors with Parameters"
I'll try and make this an easy ask,

If i have a selector that takes in a parameter and i override that selector, the overrided selector is never called and the mockstore continues to call the real selector implementation.

ex i have a selector called

export const getHeroesById  = id =>
   createSelector(
       getAllHeroes,
       heroes => { return heroes.filter( hero => hero.id ===id);}
);

a

[2019-11-12 22:12] #2233 closed

[2019-11-12 22:45] brandonroberts opened #2250 "Store: Use minimal option by default for ng add"
Change minimal to be `true` by default, so only the `StoreModule.forRoot({})` is added to the AppModule.

The option is here: https://github.com/ngrx/platform/blob/master/modules/store/schematics/ng-add/schema.json#L41

[2019-11-12 22:47] brandonroberts opened #2251 "Effects: Use minimal option by default for ng add"
Change minimal to be `true` by default, so only the `Effects.forRoot([])` is added to the AppModule.

The option is here: https://github.com/ngrx/platform/blob/master/modules/effects/schematics/ng-add/schema.json#L52

[2019-11-13 07:17] SenthilKumaranC commented on #1326
I am introducing add state management layer in my official angular project  , I want to show a demo to team how we can replay actions by importing jsons , but facing the same issue.

I am planning to add deffered actions queue in root metareducer and execute those actions on lazy module load. But is there anyway to check those actions are already added to store or not. Do we have any  action colle

[2019-11-13 07:38] Jefiozie commented on #2248
@timdeschryver  going to do this one as well if you don't mind.

[2019-11-13 07:55] Jefiozie commented on #2250
Hey @brandonroberts, I would like to pick this one up. Next to changing the property do you expect anything else?

[2019-11-13 07:57] timdeschryver commented on #2242
Seems like I'm too late to answer 😅

[2019-11-13 08:00] Jefiozie commented on #2242
haha, yeah I thought it would be fine so made the PR 👍

[2019-11-13 08:01] timdeschryver commented on #2242
Yes, ofcourse - thanks!

[2019-11-13 08:59] OlaviSau commented on #2052
If you want a working solution now it's trivial. You can use store just by combining it with input or you can even replace the input - it's very simple once it's in the user land as an observable.

[code]

Please don't over engineer :)

[2019-11-13 10:37] JakobKadosh opened #2256 "ngrx reducer"
Trying to build state management with multiple states.
in the app.state.ts :
import { ActionReducerMap } from '@ngrx/store';
import * as bookStore from './state managment'

export interface AppState{
    user:bookStore.UserState;
    book:bookStore.BookState;
    wishlist:bookStore.WishlistState;
}

export const initialState:AppState={
    user:bookStore.userInitState,
    book:bookStore.bookInitS

[2019-11-13 12:37] dummdidumm commented on #1326
There is a "update reducers" action I think, which is called everytime a new reducer is added. If you load the app with devtools open you should see these actions. But this would be only a workaround on your side. To really fix this, we need to finish what was started in #955 .

[2019-11-13 14:24] timdeschryver commented on #2256
Support questions should be asked on [stackoverflow (with a ngrx tag)](https://stackoverflow.com/questions/tagged/ngrx) or the [gitter channel](https://gitter.im/ngrx/platform).

[2019-11-13 14:24] #2256 closed

[2019-11-13 14:28] brandonroberts commented on #2250
The docs on the installation page may need updating also

[2019-11-13 18:28] sumitparakh commented on #2240
Hi @brandonroberts , This update requires angular 9 and i see that currently ngrx is not upgraded to Angular 9..

Is there any other issue regarding Angular upgrade or should i upgrade to Angular 9 in this PR itself?

[2019-11-13 18:45] santoshyadav198613 commented on #2240
Angular 9 update is in progress @timdeschryver is already on it.

[2019-11-13 18:54] sumitparakh commented on #2240
Alright. So I'll wait for that update and then continue with this PR

[2019-11-13 22:26] stupidawesome commented on #2052
@dummdidumm Thanks for the feedback, it helped a lot.

I realised that I shouldn't blindly trigger change detection whenever a value changes. So I removed change detection from the consuming side and moved it to the producing side. The value producers should call `markDirty()` where appropriate to update the view.

You're point about `useState` not being in line with your expectations is valid. I

[2019-11-14 11:49] PavelSkopik commented on #1826
I think that this use case can be more generic. Instead of handling async actions/effects start, success or failure, it would be useful to have a well defined action life-cycle which NGRX tracks (e.g. dispatched, error, cancel etc.) . Then you could ask NGRX what state a certain action has and use that where needed.

[2019-11-14 14:29] Jefiozie commented on #2227
I can have a look at this however is it not already enabled [here](https://github.com/ngrx/platform/blob/master/modules/schematics/src/feature/index.ts#L48)

[2019-11-14 14:31] vilius571 commented on #2249
Check your imports. It was the case for me as one of my import was relative and another one absolute.

[2019-11-14 14:45] andrsbrbs commented on #1993
How do I handle it via NgRx? I'm using @ngrx/data with a custom API url, and got the same error until I added the catchError operator to the service's request.

[2019-11-14 16:59] PavelSkopik commented on #1826
I was thinking of taking this even a bit further where the life-cycle is “baked” into NGRX itself and the library manages that out of the box. You can just query the state (e.g. via an operator).

[2019-11-14 17:45] jonrimmer commented on #1826
Yeah, that makes sense as well, so you could also do:

[code]
And the reducer state would be something like:

[code]

And `selectors` would be `{ getState, getResult, getError }`.

Although I think you'd still want to make the underlying actions and effect available, in case people wanted to customise the reducer logic, or use them to trigger additional effects.

[2019-11-14 19:09] Odonno commented on #1826
@jonrimmer Oh my. I never thought we could go one step further. Your example of `const { actions, effect } = createLifecycle(task, 'callApi');` seems really powerful.

However, I do not really understand how you will use a `LifecycleState`, with selectors and reducers. I can understand you will add a new property `lifecycles` in the root state but is that a replacement of `Effect`?

PS: And really

[2019-11-14 19:21] aolson58 commented on #2249
are you talking about your reducer imports? or which imports are you referring to

[2019-11-14 19:31] timdeschryver commented on #2249
AFAIK it isn't possible to mock a selector that takes a parameter like this.
Currently, we mock the instance of the selector, by creating a factory selector you end up with a new instance every time you create the selector.

The only way I see to make it work now, is to create the instance somewhere (e.g. in the component) and mock this instance. Or to mock the selectors it has as input, the way y

[2019-11-14 19:31] vilius571 commented on #2249
The one on the test must be the same (relative/absolute) as the one on the place it it used in.

[2019-11-14 19:34] brandonroberts opened #2260 "RC.1/IVY - export 'EffectsFeatureModule' (imported as 'i2') was not found in @ngrx/effects"
Copied from https://github.com/angular/angular/issues/33701

# 🐞 bug report

### Affected Package

After upgrading to RC1 and turning on IVY I get tons of errors from  the @ngrx/effects module.

[code]
... and so on..

Turning off IVY everything works without an issue.

This is from a production app running NG8 currently in production.
It uses @ngrx/store and effects module.

I've never had these