[2018-11-08 03:57] #1394 closed

[2018-11-08 04:44] icepeng opened #1408 "ngrx.io: Weird package.json "name" field"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## What is the current behavior?
https://github.com/ngrx/platform/blob/ccc99e9f7818ff10829876224af38e9ee5874270/projects/ngrx.io/package.json#L2

## Expected behavior:
[code]

## Minimal reproduct

[2018-11-08 05:52] goelinsights commented on #525
For anyone else who gets a type error: "Cannot invoke an expression whose type lacks a call signature", the union in the selectIds type that was changed in #533  is I believe the issue.

`export interface EntityState<T> {
  ids: string[] | number[];
  ...
}
`
I got this trying to check if the id exists in a guard.
`    return this._store.pipe(
      select(getProductIds),
      map(productIds => p

[2018-11-08 13:11] brandonroberts commented on #1408
@icepeng would you like to submit a fix? :-)

[2018-11-08 14:56] icepeng commented on #1408
@brandonroberts I'd love to, but I'm confused about how to write the commit message following the contribution guide.

[2018-11-08 15:01] brandonroberts commented on #1408
No problem. Just title the commit message "docs: update docs app name in package.json"

[2018-11-08 15:20] icepeng commented on #1408
Thank you, I submitted a pull request.

[2018-11-08 15:45] icepeng commented on #1408
Since the changed file was `package.json`, I was not sure how to choose between "docs", "fix" and even "build" type.

[2018-11-08 15:45] #1408 closed

[2018-11-08 15:46] brandonroberts commented on #1408
I see. To keep things simple for next time, just use `docs` as the prefix.

[2018-11-08 15:57] timdeschryver opened #1410 "PWA ngrx.io"
## Other information:

We'll have to update the manifest located at `\projects\ngrx.io\src\pwa-manifest.json` because this is the one from Angular. While we're at it we should also change the `theme-color` of the `index.html`.

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2018-11-08 16:06] brandonroberts opened #1411 "docs: Create community section"
## Other information:

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

We have an awesome community of people creating great content, libraries, and talks. We need a place to promote and provide visibility.

[2018-11-08 19:32] jdjuan opened #1412 "Entity schematics should update the state with a plural instead of a singular"
## Minimal reproduction of the bug/regression with instructions:

1. Create a new Angular project (V7)
2. Generate the intial state management:
[code]
3. Generate a new entity:
[code]

Check [this repository](https://github.com/jdjuan/ngrx-plural-bug/blob/master/src/app/store/index.ts#L11-L17) for the generated files. But here is the interesting part:

[code]

## Expected behavior:

According to t

[2018-11-09 09:56] erdongritian opened #1413 "no store to brower."
when i use ng build ,and put dist to tomcat ,it can find local storage in brower,but when i use ng build -prod,and put dist to tomcat,and then login ,there is no local storage,why？
from package.json:
<pre>
`   "@angular-devkit/core": "^0.5.7",
    "@angular/animations": "^5.0.0",
    "@angular/common": "^5.0.0",
    "@angular/compiler": "^5.0.0",
    "@angular/core": "^5.0.0",
    "@angular/forms"

[2018-11-09 11:59] timdeschryver commented on #1412
I think this would indeed be better.
Let us know if you want to create a PR for this.

[2018-11-09 12:01] timdeschryver commented on #1413
Support questions should be asked on [stackoverflow (with a ngrx tag)](https://stackoverflow.com/questions/tagged/ngrx) or the [gitter channel](https://gitter.im/ngrx/platform).

I'm not sure if this is NgRx "its problem".
From the code snippets provided I also don't see something of `localStorage`.
You could check if the environment config is correct for a prod build.

[2018-11-09 12:01] #1413 closed

[2018-11-09 16:10] brandonroberts commented on #1412
@jdjuan I agree with this fix.

[2018-11-09 20:31] timdeschryver commented on #1411
I should be able to get this one started if that would be OK.
I was thinking of adding a menu item in the header, between docs and GitHub.

[2018-11-09 20:50] brandonroberts commented on #1411
👍

[2018-11-09 21:43] LMFinney commented on #1411
A co-worker and I created this library to use Java-style enums to defined actions: [ngrx-enums](https://www.npmjs.com/package/ngrx-enums)

[2018-11-11 07:59] saleemmalikraja commented on #1026
Even if you get this error in angular try with

ng g module **--name** module-name
ng g component **--name** component-name

[2018-11-11 15:04] itayod opened #1414 "support meta reducer factory for feature"
## If accepted, I would be willing to submit a PR for this feature

[x ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2018-11-11 21:57] Silvest89 opened #1415 "[7.0.0-beta0] CreateSelector not memoizing with arguments"
## I'm submitting a...
[code]
## What is the current behavior?
I have created 4 selectors for test purposes. The props and factory (second and third) projector runs everytime I enter the page in question.
[code]

## Expected behaviour:
The projector fn should not be called every time.

 ## Version of affected browser(s),operating system(s), npm, node and ngrx:
Chrome 70
OS X Mojave
npm 6.4.1
node

[2018-11-12 02:38] brandonroberts commented on #1414
Will you explain further what you're asking for?

[2018-11-12 06:35] timdeschryver commented on #1415
Could you create a working repro for this, or share your component code where you use these selectors?

I think this behavior is normal:

The `getEmployeeByIdThird` projector runs everytime you enter the page because it's creating a new selector every time, thus re-executing the projector because the selector hasn't build up its cache.

The `getEmployeeByIdSecond` projector runs multiple times bec

[2018-11-12 10:05] Silvest89 commented on #1415
Here you go :)

[2018-11-12 10:30] timdeschryver commented on #1415
Yea, as I said in my previous comment - this is the correct behavior.

The second gets re-executed because it's a factory function.
The third gets re-executed because its props reference is changed. if you would, for example, pass a simple primitive to the selector instead of an object, it will only execute once:

[code]

[2018-11-12 10:30] #1415 closed

[2018-11-12 19:08] timdeschryver commented on #1411
Resources are added at https://github.com/ngrx/platform/pull/1418

[2018-11-12 19:52] #1411 closed

[2018-11-13 15:02] brandonroberts opened #1423 "docs: add github previews for PRs"
## Other information:

## I would be willing to submit a PR for the docs :heart:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

Similar to what Angular does when PRs are opened that change the docs. We should build the PR branch, and post a GitHub comment with a link to see the preview.

[2018-11-13 18:04] #1410 closed

[2018-11-14 15:52] ryanwong113 commented on #931
I don't think the workaround works. My effects are not getting called..

[2018-11-14 18:58] #1423 closed

[2018-11-15 07:31] timdeschryver commented on #1414
As a workaround you could use:

[code]

[2018-11-15 13:22] YuKimura45z opened #1430 "Why "EntityAdapter" methods (e.g. addOne) do not require "id" for an argument?"
Now, "EntityAdapter" require "selectId" for option in the creation.
It find its id by calling "selectId" and then register to a dictionary called "entities" in "EntityState."

Why "EntityAdapter" methods (e.g. addOne) do not require "id" for an argument?
Let entities to hold their id is redundant.
It is striking problem because I'm using firebase firestore.

Thanks

[2018-11-15 14:03] artem-galas commented on #915
@brandonroberts Thanks for your solution. But probably It'll be update.

Because `MemoizedSelectorWithProps ` is not imported and `selector.setResult()` -> `selector.release()` I suppose.

[2018-11-15 16:00] timdeschryver commented on #1430
Hi, correct me if I'm wrong but I think this is mainly done for the following reasons:

- you only define the key property once, instead of in every CRUD action
- within the sorted state adapter, it's used to sort the entities after every CRUD action

[2018-11-16 15:08] j-thebault opened #1432 "Allow EffectModule.forFeature() to accept angular injection token"
Hello

I'm trying to create a reusable effect. This effect use some constant and a service :

[code]

The problem is that TreeService is an abstract class and i would like to provide an implementation provided directly by my module... However, even if my module provide something like this :

[code]

The instanciation of the TreeNodeEffects fail on injection of the abstract service, angular is not

[2018-11-17 19:38] Kunepro opened #1433 "Impossible to update config name with Universal other than static string"
## Minimal reproduction of the bug/regression with instructions:

In a project that uses both NgRx and Universal, starting the project with server side pre-rendering, I want the Store DevTools to have a random name to identify multiple opened instance.

In the module where I import the Store DevTools I use:
[code]

## Expected behavior:

When opening Redux DevTools I expect the name to be a random

[2018-11-18 03:44] roopkt opened #1434 "Example App Prod artifacts are not working with Http-Server"
## Minimal reproduction of the bug/regression with instructions:
`npm run example:build:prod`
then run
`http-server C:\Users\rupesh\projects\platform\projects\example-app\dist -o`
![image](https://user-images.githubusercontent.com/330383/48668348-25461780-eab9-11e8-80c7-1d4322dfd2b0.png)
Base Url is not correct
![image](https://user-images.githubusercontent.com/330383/48668361-4575d680-eab9-11e8-8

[2018-11-18 09:11] itayod commented on #1414
What I am trying to do is saving parts of the store to the server.
Therefor I wanted to create a configurable meta reducer, pass him the keys that we want to save from the store and inject it the angular http client service and use it in every feature store.
In order to do so I need to be able to create a meta reducer with factory and provide it the http service and the keys.

right now this is my

[2018-11-19 16:32] jdjuan commented on #1412
Hey! Sorry for the late reply! Sure, I'd love to! ⭐️
But to be honest I tried to find the file responsible unsuccessfully.
I would appreciate some guidance on how to fix this PR. It should be straightforward 🙏

Once I have it, I'd do it right away!

[2018-11-19 17:13] timdeschryver commented on #1412
Awesome!

The schematics module is located at `./modules/schematics`.
For the entity project, the main file is `./modules/schematics/src/entity/index.ts`. Inside this file you can find the code to read the command options and also the code to scaffold new files, using the files inside `./modules/schematics/src/entity/files` as template (this is the `const templateSource = ...` code).

The next pie

[2018-11-19 19:02] timdeschryver commented on #1433
I think this is just how the compiler works, you can wrap the config within a function to prevent this.

[code]

[2018-11-19 19:02] #1433 closed

[2018-11-19 19:39] peterbsmith2 commented on #1412
Having `user` singular instead of `plural` has benefits...

Consider using @ngrx/Entity:

1. `user.entities` and `user.ids` are highly readable, `users.entities` and `users.ids` is double plural.
2. common additional states, like `isLoading` read very well in singular too. `user.isLoading` refers to the singular piece of state where user data is loading or not loading.

[2018-11-20 15:20] jayoungers commented on #1373
Is there any custom router logic outside of the `RouterStore`?

We just upgraded to Angular 7, using only `@ngrx/store@6.1.2` and `@ngrx/effects@6.1.2`

With this code:
[code]

I'm seeing this in the console:
[code]

Does that mean dispatching is not synchronous while routing is occurring, even if we aren't using the `router-module`?

[2018-11-20 15:57] mdarefull opened #1437 "Pass the root state as an optional argument to the reducers."
## Describe any alternatives/workarounds you're currently using
Is it possible for a feature reducer to require data from outside its slice of state.
The most common scenario that I have encountered is to access 'global properties' like configurations stored on the application state.

This can be achieved by passing the root state as the last parameter for the reducer function invocation. It shoul

[2018-11-20 17:44] alexesca opened #1438 "preloadingStrategy: PreloadAllModules dispatches @ngrx/store/update-reducers twice"
## Minimal reproduction of the bug/regression with instructions:

I do not have a live example, but I will try to reproduce it with my own code.

1.  Here is my module with preloading:
`export const routes: Routes = [
    { path: 'estimator', loadChildren: 'src/app/features/estimate/estimate.module#EstimateModule'},
    { path: 'new-lead', loadChildren: 'src/app/features/leads/new-leads.module#New

[2018-11-20 18:38] timdeschryver commented on #1438
Hi, I'm a bit confused with the issue description, could you elaborate a bit more on

My wild guess is:

- You're using the NgRx Redux DevTools, this causes a second dispatch of `update-reducers`
- Somewhere inside an effect an error is thrown, which will complete the observable stream. Thus also all actions are ignored.

[2018-11-20 18:46] timdeschryver commented on #1437
I think this is something we don't want to add, because
- this is against the redux principle (`(state, action) => state`)
- it allows you to modify the global state from every reducer, making it harder to wrap your head around

The [Redux docs - FAQ Reducers](https://redux.js.org/faq/reducers#reducers-share-state) offers some insight on how you could tackle this.

If you need some help or want to

[2018-11-20 19:19] mdarefull commented on #1437
@timdeschryver I'm sorry but I have to disagree with you. The (most popular, IMO) solution using redux is to create your own version of combineReducer (or top level reducer) to be able to share that state.

Also, as of my understanding, the redux principle states that a reducer is a pure function. This doesn't make a reducer impure and, on the other side, by definition, a reducer takes the state a

[2018-11-20 19:53] timdeschryver commented on #1437
While I agree with your points, I'm afraid this will be confusing and will often be miss-used.

The suggestions to solve this, are more or less the same with the Redux docs:

- add the settings to actions
- override the default `combineReducers` method with the `reducerFactory` configuration option
- create one "big" reducer containing multiple case reducers or wrap it inside a meta reducer

I'll

[2018-11-20 19:58] roopkt commented on #1437
Hi @RobertMonks,
I completely agree and understand what your need. And I also share the @timdeschryver concern that we should not inject root state into feature reducer otherwise we lost the authority part and any one can update root state directly.

However, in order to solve global appsettings concerns there are various options to solve it. In our project we did something like this. When APP is

[2018-11-20 20:00] mdarefull commented on #1437
@timdeschryver  Thanks for reopening it 👍

- I haven't thought about that. Although it won't cover every scenario in which a reducer will need to query (only read) a property from another part of the state. And I think that can lead to over complicated scenarios too in which I have to delegate the responsibility of accessing the required portion of the state to the components/effect.

- As far as

[2018-11-20 20:02] mdarefull commented on #1437
@roopkt What about feature reducers part of feature modules that might not be loaded at the time that action is dispatched?

[2018-11-20 20:12] mdarefull commented on #1437
Finally, I do agree with all of you that are worried about

My fear is that from all the workaround I've seen on the web, they end being more dangerous, like using a meta reducer, or re-dispatching actions when they are not actually required or moving that responsibility to effects/components to properly populate actions.

In my own mind. If by definition a reducer takes a part of the state, and r

[2018-11-20 20:34] brianmcd commented on #1437
It sounds like you're trying to make a decision in your feature reducer based on the global app settings.  Instead of making the decision in the reducer, can you push that decision off to a selector that combines your feature state with the global app settings?

[2018-11-20 22:19] mdarefull commented on #1437
@brianmcd

I think we are suggesting workarounds and the issue with a workaround is that it usually solves a particular instance of a scenario but does not addresses the root cause of it, meaning that, in the future, more instances appear and tweaks need to be done to the hack to cover the new case.

As of my understanding the root scenario is:
"As a reducer, I determine the new state based on the

[2018-11-20 23:39] alex-okrushko commented on #642
Apparently I'm running into this issue again :(

[2018-11-20 23:40] alexesca commented on #1438
We can close this issue. I did not realize I was setting the feature state from a different module two. Preloading strategy and Ngrx work just fin together.

[2018-11-20 23:40] #1438 closed

[2018-11-21 07:41] itayod commented on #1414
Thanks for the reply,

as you can see my solution is not perfect yet because I still can't use angular's http service and currently I am using the browser's fetch Api.

Either way I see why you think it could be impossible to bind the meta reducer to the right feature with the way it works right now...

I will try look up to a solution in the code and make a PR if I find one :)

[2018-11-21 13:47] jdjuan commented on #1412
@timdeschryver thanks for the heads-up! This certainly clarifies how to start! 👏👏👏
I've got only one more question:

1. Once I've made the change, how can I try it out to see if it works? Should I build it and create a symlink to test it in a project? Or is there a better way I am missing?

[2018-11-21 18:30] timdeschryver commented on #1412
@peterbsmith2 you make valid points, but when would one use `user(s).entities`? Personally, I think I haven't used this syntax because I'm using "lots of" selectors.

Also database wise, the convention is also to pluralize the table names.

[2018-11-21 18:42] #1434 closed

[2018-11-21 18:59] timdeschryver opened #1441 "RFC: Adding meta reducers with injection tokens"
This RFC is based on the plugin system of NGXS, where you can import plugins (meta reducers). An example of this is the following:

[code]

This was from what I have seen, well received by the people using NGXS.
So I was thinking of adding this into NgRx, eg:

[code]

## Describe any alternatives/workarounds you're currently using
Currently, it's possible to provide meta reducers by using the conf

[2018-11-22 10:09] itayod commented on #1414
I think I made a working solution...
but I think I will need permissions in order to add my branch.

[2018-11-22 11:54] amitcdubey opened #1442 "Getting Executed 0 of 0 ERROR."
Test case not executed
while am using my effects in side providers and effects = TestBed.get(sampledataeffects); ng test case not getting executed and also skipping all test,in console  getting Executed 0 of 0 ERROR.

if i remove the  sampledataeffects from provider and TestBed.get(sampledataeffects) then rest all test case work .

describe('My Effects', () => {
    let actions: Observable<any>;

[2018-11-22 12:17] amitcdubey commented on #973
this is my code for effects.spec.ts
 beforeEach(() => {
        TestBed.configureTestingModule({
         imports: [
            EffectsModule.forRoot([sampledataeffects]),
         ],
         providers: [AuthService,SampleDataService,provideMockActions(() => actions)]

        });
   effects = TestBed.get(sampledataeffects);//line 8
       // userService = TestBed.get(SampleDataService);
am gett

[2018-11-22 14:59] timdeschryver commented on #1442
Support questions should be asked on [stackoverflow (with a ngrx tag)](https://stackoverflow.com/questions/tagged/ngrx) or the [gitter channel](https://gitter.im/ngrx/platform).

Also, with the provided info it's hard to know what's going on - a working reproduction would help.

[2018-11-22 14:59] #1442 closed

[2018-11-22 19:32] timdeschryver commented on #1414
@itayod you can't push your branch into the ngrx repo.
You'll have to fork the ngrx repo, clone this repo, create a feature branch on your personal repo, push commits to this branch. For some help you can take a look at the [contributing](https://github.com/ngrx/platform/blob/master/CONTRIBUTING.md) file.

[2018-11-23 16:04] simply10w opened #1443 "Effects: Issue with effects instantiating multiple times creates multiple same handlers"
## Minimal reproduction of the bug/regression with instructions:

https://stackblitz.com/edit/ngrx-seed-ljumtv

## Expected behavior:

Not sure what is considered expected behavior in this case, but I think this is a breaking change. The issue is caused in 7.0.0-beta.0 after the addition of a new feature that allows instantiating the same effect class multiple times.

It should be change from this

[2018-11-23 19:34] alaboudi opened #1444 "Event-driven actions"
The online guide seems to be encouraging capturing actions in more of an event-driven style by stating the following:

Yet, it seems like the action examples are more command style like `IncrementHome`, `IncrementAway`, `Login`. Is this a bit of a contradiction? Was the guide potentially unclear or eluding to something else?

Funny enough, the strings they represent are more event focused (`Home S

[2018-11-24 11:47] timdeschryver commented on #1443
You make a valid point here, forgot about this use case when accepting the referenced PR.

If we want to support both cases, I think we should give the option to the user to add an identifier while manually adding effects.

The first thing that comes to mind is doing something like the following:

[code]

This would have the same behavior as previous versions of NgRx, but gives the opportunity to

[2018-11-25 10:30] dummdidumm commented on #1443
You are right, each service method is only called once, but you may and up with multiple instances of the same service: https://angular.io/guide/singleton-services#forroot "If a module provides both providers and declarations (components, directives, pipes) then loading it in a child injector such as a route, would duplicate the provider instances. The duplication of providers would cause issues a

[2018-11-26 16:58] alaboudi commented on #1444
@brandonroberts ?

[2018-11-26 17:16] brandonroberts commented on #1444
It could be clearer

[2018-11-27 11:45] manklu commented on #1443
@dummdidumm

AFAIK Only if they have a state that should be shared by all clients. Otherwise, it's just a waste of memory but anything work as expected.

[2018-11-27 13:44] brandonroberts commented on #1441
I like the idea of making it easier to register third-party meta reducers. One thing to think about is keeping the order intact because of the behavior difference in import priority with SomePluginModule versus SomePluginModule.forRoot(). If you spread these meta reducers out across feature modules, it could introduce inconsistency. Meta-reducers are composed from right to left.

[2018-11-27 17:02] timdeschryver opened #1447 "UpdateEffects during prod build not behaving as intended"
## Minimal reproduction of the bug/regression with instructions:

The following snippet works while working in dev mode, but fails in prod mode.
This is because constructor names are mangled by the CLI during a build, thus the check `action.effects.includes('SomeEffectsClass')` would always fail.

[code]

## Expected behavior:

In order to get this working we should dispatch the `UPDATE_EFFECTS` a

[2018-11-27 19:09] timdeschryver commented on #1447
The downside of this would be that the action payload would be an effect resulting in a big payload. E.g. the `AuthEffects` from the example app would have a 125K lines payload.

[2018-11-27 19:10] timdeschryver commented on #1447
Another approach would be to use something as mentioned in https://github.com/ngrx/platform/issues/683#issuecomment-370300048:

[code]

[2018-11-27 19:14] timdeschryver commented on #1447
Or adding a `initAction` property in the effect self, which will be used to dispatch the init action:

[code]

[2018-11-27 22:56] damienwebdev commented on #1383
@brandonroberts do you need help with this one? We're refactoring our tests over in graycoreio/daffodil and one of our packages depends heavily on ngrx. I'd imagine with the new `MockStore`, you need docs covering this new feature and it's usage.

I'd be happy to chip in here if that would be useful.

[2018-11-28 06:19] zbarbuto opened #1449 "Cannot read property 'whitelist' of undefined in new version of redux devtools"
*EDIT* So it's pretty clear that the issue here lies with redux-devtools-extension - specifically https://github.com/zalmoxisus/redux-devtools-extension/issues/588 - however I'm going to leave this open for now so it's visible to anyone who happens to be looking for the error in this repo until the plugin issue gets resolved.

All of my applications that use `@ngrx/store-devtools` currently get th

[2018-11-28 06:37] jhenrich commented on #1449
Getting the same error suddenly

[2018-11-28 06:42] timurkin commented on #1449
It's because of https://github.com/zalmoxisus/redux-devtools-extension/issues/587

[2018-11-28 08:19] tirlipinpon commented on #1449
No matching version found for @ngrx/store-devtools@2.1.5

[2018-11-28 08:21] timdeschryver commented on #1449
@tirlipinpon you have to downgrade the browser extension (not `@ngrx/store-devtools`).

[2018-11-28 08:34] timurkin commented on #1449
@tirlipinpon check here: https://github.com/zalmoxisus/redux-devtools-extension/issues/588#issuecomment-442311474

[2018-11-28 12:33] MattiJarvinen-BA commented on #1449
Seems like last automatic chrome update broke it, here's the changelog:

https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/2.16

- Deprecating window.devToolsExtension 220
- ~~Proper support for Blacklisted actions and dynamic maxAge~~ (removed for now as it's not allowed to be called "while reducer is executing") 316
- Improve performance for Chrome devpanel 580
- Workaround for

[2018-11-28 14:04] brandonroberts commented on #1383
@damienwebdev Yes, that would be great!

[2018-11-28 14:32] brandonroberts commented on #1449
A fix has been released https://github.com/zalmoxisus/redux-devtools-extension/releases/tag/2.16.2

[2018-11-28 21:13] #1449 closed

[2018-11-28 22:52] sadsa commented on #930
@brandonroberts - As above, please can you fix your stackblitz example?

[2018-11-29 14:22] brandonroberts commented on #1444
@alaboudi would you like to submit a PR with clearer action types?

[2018-11-29 19:36] huantaoliu commented on #664
use {...object}

[2018-11-30 15:01] bharathmuppa commented on #208
I wonder why it is closed as it is not fixed yet ? (even in #211)

[2018-11-30 17:33] gregjacobs commented on #951
Hey guys,

We're running into the same issue after generating a 'feature' from schematics and trying to add multiple reducers into the same feature state.

I think it has to do with the fact that Actions are grouped together in an `enum`:

[code]

where our combined reducer is defined as:

[code]

This produces the following error with "strictFunctionTypes":

[code]

If we change the `enum` from t

[2018-11-30 18:19] ohjames commented on #951
@gregjacobs there is a huge drawback to defining your action types like this. The compiler will no longer be able to validate the `type` field of your actions afterwards, as now it'll be defined as `string` instead of your actual set of actions (i.e. `"action1" | "action2" | ...`).
You would be much better of using the `any` hack discussed above.

[2018-11-30 18:35] gregjacobs commented on #951
@ohjames err, unless you're explicitly re-casting it in your XyzAction classes?

[code]

?

[2018-11-30 19:00] ohjames commented on #951
I'll look into fixing this issue, it may well be possible with TypeScript 3.1 but I also fear that we may need partial generic inference to do it. That was scheduled for TypeScript 3.2 but something changed and it is now scheduled for a future release

[2018-11-30 19:04] ohjames commented on #951
@gregjacobs Yeah I'm definitely correct about that. I also forgot to mention it but yeah you noticed it, without the discriminated union on the type property (i.e. if it's defined as string) the transpiler can no longer do type inference based on the type. I'd actually advise you use "action creators" to create your actions rather than this enum business, it leads to much more concise and easy to

[2018-11-30 19:37] gregjacobs commented on #951
@ohjames Thanks for the suggestions! Yes it would be great if this can be fixed. And I'd also love to reduce the amount of boilerplate with actions :) Will look into those two libraries - thx!

[2018-12-01 07:38] simonh1000 commented on #1383
Could I suggest that you add an installation guide for the library as a whole, with schematics etc. I'm relying upon stuff on the internet but never know whether that is best practise

[2018-12-01 18:56] timdeschryver commented on #1373
I couldn't reproduce it, feel free to open up a new issue with a reproduction.

[2018-12-03 09:30] manklu commented on #208
@bharathmuppa

Instead of commenting old issues you should open a new one with a description and a reproduction.

[2018-12-04 13:19] #1443 closed

[2018-12-04 13:56] brandonroberts commented on #1447
We're going into lifecycle madness with all these hooks 😂 . Are there other options are there to reasonably getting the Effects class name in prod? I'm hesitant to introduce another stream for "Effects Events" as init would be the only one.

[2018-12-05 09:38] fmflame opened #1453 "In Angular production mode using Adapter.addMany on module initialization calls useDevMode before platform setup is complete"
## Minimal reproduction of the bug/regression with instructions:

When in a reducer i do:
[code]
In angular production mode using the adapter.addMany on module initialization I get an error: "Error: cannot enable prod mode after platform setup."

## Expected behavior:

The adapter should not be using the isDevMode, using that before the application bootstrap is complete gives this error.

## Versi

[2018-12-05 16:54] timdeschryver commented on #1453
Hi, do you got a reproduction of this behavior?

[2018-12-05 17:38] sahrmann commented on #400
@Lycidas0815 Thanks for your post. It is interesting that you say everything works fine with a lazy loaded module. I currently have an application with the exact same situation as in your minimal example. Except that lazy loading the module causes the "No provider for BackendService" error. Do you have a project set up where the lazy loading works?

[2018-12-06 01:04] fmflame commented on #1453
What do you mean by reproduction ? If you mean stackblitz or something, no sorry. If you want that I can provide it in a few days, but it's pretty easy to test...

[2018-12-06 05:10] alaboudi commented on #1444
Sure. I'll put a PR soon

[2018-12-06 08:56] timdeschryver commented on #1453
Yes, a stacklitz would be ideal.
It would be great if you could provide it.

[2018-12-06 15:44] rajeev-john commented on #1397
@brandonroberts when can we expect an official release ngrx/platform to support Angular 7 with out peer dependency warning. Recently I migrated my project to Angular 7.1.1 and now I am not able to update the ngrx/platform 6.1.0 -> 6.1.2 due to the same warning issues.

[2018-12-06 22:01] michael-lang commented on #1221
This issue has been closed for a while. I've waited to reopen until I used it more in production. Now that I have used it for a full-lifecycle, I'd like to revisit. Do you mind re-opening for a bit for some discussion, @MikeRyanDev, @brandonroberts, @robwormald ? I'd like to at least have a clearer picture of how it does not meet all of the project team's goals.

This code can be a bit misundersto

[2018-12-07 14:19] seekheart opened #1454 "Documentation doesn't mention how to install packages"
Currently on ngrx.io there is no mention of what to install in the `Getting Started` section or any other section and in addition no information is provided on how to setup ng schematics.

Lastly as a suggestion: In the sections following `Getting Started` I would suggest keeping the code blocks the same, i.e. having a file heading like the `Getting Started` section to help orient the reader.

##

[2018-12-07 15:02] rafa-as opened #1455 "Schematics: Support --project flag to specify apps or libs"
## Describe any alternatives/workarounds you're currently using

Now it's impossible to generate a feature, store, reducer, entity, action and effect  in a specific app or lib. To do this very common task we should create it in the default app and move it to the correct app.

Only container, because generates a component, supports the project flag.

## Other information:

Angular CLI accepts this

[2018-12-07 16:18] DmitriyIvanko opened #1456 "Freeze chrome"
## Minimal reproduction of the bug/regression with instructions:
Next code freeze chrome:
@Effect() public breakMe$ = this.actions$.pipe();
No errors, no warnings;

## Expected behavior:
No freeze;

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):
@ngrx/effects": "6.1.2"
@angular/core": "7.1.0",
Google Chrome: 70.0.3538.110
## Other information:

## I would be willi

[2018-12-07 16:21] brandonroberts commented on #1456
This is not a bug. https://github.com/ngrx/platform/blob/master/docs/effects/api.md#non-dispatching-effects

This should be added to the website though

[2018-12-08 11:40] homj opened #1457 "@ngrx/router-store: StoreRouterConfig should use generics to better support custom serializer"
Replacing the built in serializer with a custom one results in a type warning, when using a selector in the StoreRouterConfig:

[code]

results in the warning:

[code]

The proposed change would be to use generics on `StateKeyOrSelector` and `StoreRouterConfig`:

[code]

## Describe any alternatives/workarounds you're currently using

Currently, the only way to prevent this issue is not typing the

[2018-12-08 11:42] homj commented on #1300
I think the SoreRouterConfig (and the Selector proposed here) should be generic to prevent type warnings when using custom serializers (see #1457)

[2018-12-09 18:07] duard commented on #1455
I need the same thing

[2018-12-09 20:00] brandonroberts commented on #1455
Sounds good to me. The workaround today is to change the `defaultProject` in your `angular.json` file before running the generate commands.

[2018-12-09 20:40] FelipeTaiarol opened #1458 "Store.dispatch stops working when exception is thrown"
## Minimal reproduction of the bug/regression with instructions:
Hit the plus button five times while you check the console. When the counter gets to number 5 the reducers will throw an exception. After that if you dispatch an action to the store it will not be sent to the reducers and the state will not change.

https://stackblitz.com/edit/ngrx-seed-nihcey

## Expected behavior:
How can I get the

[2018-12-10 07:08] timdeschryver commented on #1458
Throwing an error makes the reducer impure, because of this I would strongly discourage the use of it inside your reducers.

That being said if you want to catch these errors, you could create a meta-reducer that wraps your reducers inside a `try catch` block.

If you need some guidance feel free to hop into the [gitter channel](https://gitter.im/ngrx/platform).

[2018-12-10 07:08] #1458 closed

[2018-12-10 08:40] FelipeTaiarol commented on #1458
Well, if the reducers throw an exception for whatever reason the app completely stops to work, I'm trying to find a way to avoid that.

It would be also nice to know whether the action I just dispatched caused the reducers to throw an exception or not.

I'll check the meta-reducers, thanks.

[2018-12-10 10:15] FelipeTaiarol commented on #1458
I found a way to achieve what I wanted using a meta-reducer and an angular service. I'll add the [stackoverflow link](https://stackoverflow.com/questions/51774582/ngrx-store-dispatch-stops-working-after-reducer-throws-exception/53703462#53703462) here for people with the same problem in the future.

[2018-12-10 12:01] timdeschryver commented on #1456
@brandonroberts would it be sufficient to copy the current docs until we've rewritten the effects documentation?

[2018-12-10 13:51] rafa-as commented on #1455
@brandonroberts the workaround make sense but doesn't works for me with Angular/CLI 7. I had already tried before post the issue.

I will work on it this week to make the PR. Some tip to work on it?

[2018-12-10 15:32] timdeschryver commented on #1454
Hi, I agree with you that we need an installation section in the docs. Could you create a proposition and submit a PR?

Could you elaborate a bit more on what you mean with the second suggestion about the code blocks?

[2018-12-10 15:56] brandonroberts commented on #1456
@timdeschryver Yes, just copy them into sections in the overview page and we'll separate them into a different page later.

[2018-12-10 16:05] Tha1n opened #1459 "Lazy loaded modules receive action but undefined value"
Hello all,

I am struggled for few days with a scenario that I cannot explain with ngrx/store.

I have a simple app divided in multiple lazy modules. My root module (app.module) init a simple store with current language for the application. Then I load a lazy module (e.g. : home-module) where we add features to the initial store and extends the AppState.
The point is: whenever language is updated

[2018-12-10 16:12] brandonroberts commented on #1455
Thanks for working on this! Each schematic has a schema that is represented through JSON and TypeScript. I'll use the container as an example, because the other schematics will follow the same structure.

Container schema JSON:
https://github.com/ngrx/platform/blob/master/modules/schematics/src/container/schema.json

Container schema TypeScript
https://github.com/ngrx/platform/blob/master/modules/

[2018-12-10 16:55] timdeschryver commented on #1456
I'll mark this as Acceptating PRs. If it isn't picked up next week, I can move it :)

For clarifications, we want the current API effect page at  https://github.com/ngrx/platform/blob/master/docs/effects/api.md to also exist on the ngrx.io website.

To do so, copy the file to https://github.com/ngrx/platform/tree/master/projects/ngrx.io/content/guide/effects and add a new navigation item inside ht

[2018-12-10 20:09] timdeschryver opened #1461 "Example: refactor effects ofType"
We're currently using the "old" `ofType` operator syntax within the effects of the example app.
We can refactor these using the new `ofType` typed operator.

For example, the Auth effects this would become:

Before:

[code]

After:

[code]

## If accepted, I would be willing to submit a PR for this feature

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2018-12-10 21:32] brandonroberts opened #1463 "Docs: Add events to top bar navigation"
## Describe any alternatives/workarounds you're currently using

## Other information:

## If accepted, I would be willing to submit a PR for this feature

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

Lot's of people give talks at meetups and conferences. The events page is currently buried in the footer. We should put events there from anyone talking about N

[2018-12-11 02:45] icepeng commented on #1325
#1240 covers multiple features registering together, but there are issue about registering same feature multiple times. I have two lazy loaded modules, and `update-reducers` is called about 10 time when the module is loaded. It is causing a very serious impact on performance for me.

[2018-12-11 03:00] icepeng commented on #1325
Never mind, it was issue with Redux Devtool.
For someone searching for this issue, remove StoreDevtoolsModule and test again.

[2018-12-11 16:17] csaszika opened #1464 "Ngrx/entity and metaReducers with localStorageSync"
Hi Everyone,

I just would like to ask that it is possible to use ngrx/entity with localStorageSync?

My experience is that everything is working with normal states but with entity states no.

This is an example how I would like to register my entity state into local storage.
[code]

Thanks for any advice

[2018-12-11 17:55] timdeschryver commented on #1454
Ah I see, thanks! The parts that are rewritten all have to the layout with the purple label. I'm not sure if it's worth it to rework the older snippets, or if it would be better to wait until the docs are written (since the setup is a bit different).

@brandonroberts was it intended to style the new code snippets the way they look now? Or would it be OK to remove the header and line numbers in the

[2018-12-11 17:56] timdeschryver commented on #1454
@seekheart the documentation files for ngrx.io can be found at https://github.com/ngrx/platform/tree/master/docs. If there is something feel free to reach out.

[2018-12-11 18:37] timdeschryver commented on #1464
Are you sure this is a ngrx/entity problem, if so, what makes you think this?
A bit more info then a simple "no" could point us in the right direction (is it throwing exceptions, does the state not get saved, or hydrated) ?

I'm not using the ngrx-local-storage library myself but it seems like it has problems with feature states?
https://github.com/btroncone/ngrx-store-localstorage/issues?utf8=%E2

[2018-12-12 02:35] brandonroberts commented on #1461
Fixed via #1462

[2018-12-12 02:35] #1461 closed

[2018-12-12 02:37] #1457 closed

[2018-12-12 09:12] csaszika commented on #1464
Some more information:
1. I get no errors.
2. with redux devtools I see my feature state and I can update it with actions
3. everything is working except the local storage integration

my initializing:
[code]

[2018-12-12 21:24] ReaperTech opened #1465 "Cannot read property 'postSentenceError' of undefined"

[2018-12-13 01:27] nisargjoshi16 opened #1466 "Central @ngrx/store for self-contained web components developed using angular elements"
We are building enterprise level application where individual product team is building their app and bundling it as web component (using angular elements). All these apps are going to be hosted in shell container. This shell container will act as central store for all applications.

How can this apps as elements can communicate with store?

[2018-12-13 11:26] #1465 closed, assigned to nobody

[2018-12-13 13:52] Teamop commented on #1456
Just ran into this issue, so open a PR #1468 as @timdeschryver suggested.

[2018-12-13 15:36] brandonroberts commented on #1454
@timdeschryver @seekheart yes, the intended style is for those code snippets to have headers, because they are referencing files you can follow along with. The other snippets aren't currently part of a complete example app inside the docs set and are just inlined at the moment.

You can wrap the code snippets in `<code-example></code-example>` tags and they will look the same as the others.

[2018-12-13 19:33] timdeschryver commented on #1464
Since everything is working, I would say this is issue should be handled by the local storage library instead of NgRx? Or is it NgRx that is causing this issue?

[2018-12-14 12:48] seekheart commented on #1454
@timdeschryver I might just be blind, but I looked in the path you specified in the docs and they don't seem to look like what is displayed in **ngrx.io**.

[2018-12-14 19:18] seekheart commented on #1454
@timdeschryver one last question: how to test locally what the site looks like?

[2018-12-15 01:32] ttestman4 opened #1470 "Can StoreDevtoolsModule export provider INITIAL_OPTIONS for better consumption?"
StoreDevtoolsModule need way to inject option when the entire structure is part of reusable library for large scale project.  Please find the attached sample where, logOnly option needs to flow from application to library to pass to the StoreDevtoolModule.  My understanding is INITIAL_OPTIONS provider should be exported on the lines of META_REDUCERS

Reproduction project sample:
https://github.com

[2018-12-15 15:32] timdeschryver commented on #1454
@seekheart The instructions are explained in https://github.com/ngrx/platform/blob/master/projects/ngrx.io/README.md.
(But be sure to navigate to the ngrx.io directory first, before running these commands)

[2018-12-16 03:15] seekheart commented on #1454
hey @timdeschryver could you take a look at PR #1469 I haven't gotten chance to completely finish up yet, also need to figure how to tie the new section in with the docs. Guessing there maybe a json or something that makes links?

[2018-12-16 08:43] timdeschryver commented on #1454
The navigation is indeed a JSON and can be found at https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/navigation.json.

@seekheart

[2018-12-16 08:44] timdeschryver commented on #1463
The navigation can be modified at https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/navigation.json.

[2018-12-16 19:37] Valindo commented on #994
Hey is there any update on this? Can we expect this soon?

[2018-12-16 22:20] tomasznastaly commented on #915
@brandonroberts
I checked the 7.0.0-beta.1 version, and i do not see Store.overrideSelector method which you presented few comments above.
I see only such class:
`export declare class MockStore<T> extends Store<T> {
    private state$;
    private initialState;
    scannedActions$: Observable<Action>;
    constructor(state$: MockState<T>, actionsObserver: ActionsSubject, reducerManager: ReducerMan

[2018-12-16 23:52] nasreddineskandrani commented on #915
@tomasznastaly
it's not in. They need time
please read here brandon comment: https://github.com/ngrx/platform/pull/1027#issuecomment-433054427

[2018-12-17 09:29] anth-git opened #1473 "No import option in Redux DevTools"
I can export state but there is no button to import it.

For react-redux application it is possible to import state, but not for Angular/@ngrx:
http://zalmoxisus.github.io/examples/counter/

![import](https://user-images.githubusercontent.com/6680915/50078187-9aa32600-01e6-11e9-8516-a9738520c46a.png)

[2018-12-17 09:50] timdeschryver commented on #1473
Have you tried refreshing the page?
I'm currently seeing the import button on the example page:

![image](https://user-images.githubusercontent.com/28659384/50079282-7eed4f00-01e9-11e9-88b8-a2f9b9b66721.png)

[2018-12-17 11:02] anth-git commented on #1473
@timdeschryver I've reinstalled Redux DevTools and and it started working…
So, please close this issue.

[2018-12-17 11:17] timdeschryver commented on #1473
Glad you got it resolved!

[2018-12-17 11:17] #1473 closed

[2018-12-17 12:38] hlovdal commented on #1239
Any progress on this issue?

[2018-12-17 14:05] abogdan0505 commented on #1352
I have the same issue. Can you please also provide the answer in here?

[2018-12-17 18:53] timdeschryver commented on #1239
@hlovdal I believe we haven't picked this one up yet.
Are you struggling with something and need some help?

[2018-12-17 18:54] timdeschryver commented on #1466
I think this isn't supported yet.

[2018-12-17 22:35] #1456 closed

[2018-12-18 02:16] #1454 closed

[2018-12-18 03:25] Li-Mark opened #1475 "@ngrx/entity@7.0.0-beta1 Adds multiple ids before I upsert a new object"
## Minimal reproduction of the bug/regression with instructions:
After my page loads the data from API,  the data will be listed in the UI.
I checked the entity state like this:
[code]

Then the UI gets a new data from API
Before the adapter.upsertOne() executed, the state changed like this
[code]
There are 3 duplicate **4a81b21c-6c36-4f66-bf5f-d6801506ff77** in the id array, and the entities don'

[2018-12-18 18:33] timdeschryver commented on #1453
I've taken a look into this, the solution is to invoke the initial state function from inside the reducer instead of calling it immediately.

The code would look like:

[code]

[2018-12-18 18:33] #1453 closed

[2018-12-18 19:57] #1463 closed

[2018-12-19 08:30] fmflame commented on #1453
Sorry for the delay for the stackblitz example, end of the year is tough, was just about to do it today, but I saw you wrote. Thanks for the solution. I workaround it almost the same but my code was in the reducer body, yours is more elegant.
Still, do you think working around the issue this way is best ?

[2018-12-19 14:19] rafa-as commented on #1455
@brandonroberts PR done! :)

[2018-12-19 16:47] brandonroberts commented on #930
The test sample has been updated

[2018-12-20 00:35] gubo commented on #645
also make sure the createFeatureSelector name matches the StoreModule.forRoot name

[2018-12-20 09:08] timdeschryver commented on #1453
I think this isn't an issue but is intended this way.
Also I don't know where `answeredQuestions` comes from, if it's from local storage it would be better to do this in a meta-reducer - where you won't encounter the issue, initial state should be pure imho.

[2018-12-20 12:31] #1447 closed

[2018-12-20 12:32] #1455 closed

[2018-12-20 14:16] brandonroberts opened #1479 "Router Store: Add ng-add schematic"
## Describe any alternatives/workarounds you're currently using

## Other information:

## If accepted, I would be willing to submit a PR for this feature

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

Would finish all the necessary packages to close out #920

[2018-12-20 14:30] brandonroberts opened #1480 "RFC: Add action creator factory to Store"
We encourage users to create many unique actions to describe application events. We should make creating and using these actions easier without abstractions.

**Goals:**

* Should be type-safe
* Implements a function that returns an Action
* Optional usage with schematics

This would also make mapping within observable operators easier if no changes are required for the payload.

## Describe any a

[2018-12-20 14:44] brandonroberts commented on #819
This issue should be fixed. Reopen if its not the case.

[2018-12-20 14:44] #819 closed

[2018-12-20 14:48] brandonroberts opened #1481 "Example: Remove @ngrx/db"
Its not being maintained and there are better solutions for persisting state across page loads.

## Describe any alternatives/workarounds you're currently using

## Other information:

## If accepted, I would be willing to submit a PR for this feature

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2018-12-20 14:50] brandonroberts opened #1482 "Docs: Move example app into docs"
Create a page for the example app describing what it is and its important parts. Move the stanadlone application into the docs example applications. From there we can generate a live StackBlitz example.

## Other information:

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2018-12-20 15:18] bossqone commented on #1480
TIP: There is a project called typescript-fsa (https://github.com/aikoven/typescript-fsa) which does something similar.

[2018-12-20 17:22] mhamel06 commented on #861
I think the actions could be simplified and boilerplate reduced if they are refactored like Martin Hochel did this Redux blog post: https://medium.com/@martin_hotell/improved-redux-type-safety-with-typescript-2-8-2c11a8062575

I don't know if action type enums should be used, but this solution works with or without them and also maintains type safety across reducers and effects.

Ex. From:
[code]

[2018-12-20 17:30] Dutchboy commented on #856
.... When is this going to be implemented? :-( Wasn't it for 7.0?? (today....)

[2018-12-20 18:21] whyboris commented on #1239
It looks like the `breaking changes` section under version 7 has incorrect information:
https://github.com/ngrx/platform/blob/master/CHANGELOG.md#700-beta0-2018-11-03

`import { ofType } from '@ngrx/store';`
should be
`import { ofType } from '@ngrx/effects';`

Right?

[2018-12-20 18:57] timdeschryver commented on #1239
@whyboris you're right.
This is due to the commit message, I'm not sure if we safely edit this commit message.

PS: see [the docs](https://next.ngrx.io/guide/migration/v7) where it is correct

[2018-12-20 20:11] whyboris commented on #1239
Thank you @timdeschryver - I also found this good resource:
https://github.com/ngrx/platform/tree/master/docs/effects#example

[2018-12-21 07:12] DigiBanks99 commented on #1285
I got the same error. The problem was that my state did not have an ids field and this was due to me not setting up my initialState properly.

[2018-12-22 05:59] MichaelWarneke commented on #1480
What about Martin's proposal?
It seems straight forward and would be quite easy to add to the action.ts.
[(https://medium.com/@martin_hotell/improved-redux-type-safety-with-typescript-2-8-2c11a8062575)]

Also the syntax is very good for schematics to add actions.

[2018-12-24 00:20] Nuurek commented on #1453
@timdeschryver I've encountered this case in my project and I've solved it the same way you provided. However, I'm interested in the idea with meta-reducer. Could you point me to some tutorial explaining loading `initialState` using meta-reducer?

[2018-12-24 09:10] agalazis commented on #1481
any ideas? is 3k downloads per month my project does not currently depend on it but any recommendations appreciated

[2018-12-24 20:12] nivle commented on #784
makes sense

![image](https://user-images.githubusercontent.com/16451772/50406148-66b89980-07c0-11e9-8648-e8e7a666610e.png)

[2018-12-25 10:12] ofirrifo opened #1485 "Upgrade to ngrx 7.0.0 typescript error"
after I upgrade to ngrx 7.0.0 I get typescript error

ERROR in src/app/store/app.reducers.ts(29,30): error TS2344: Type 'RouterState' does not satisfy the constraint 'BaseRouterStoreState'.
  Property 'url' is missing in type 'RouterState'.

I did the upgrade by this instruction https://ngrx.io/guide/migration/v7

here is my code

[code]
to what sould I change from RouterState ?

[2018-12-25 18:30] naordah69 opened #1486 "Subscribe only to slice of array"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## What is the current behavior?

Using selectors and entities, trying to subscribe only the slice of the entities array, but no matter what changed in the array the selector is firing (after upse

[2018-12-26 00:40] dereklin commented on #898
Was reading what akita and found this: https://netbasal.gitbook.io/akita/entity-store/entity-query/sort-by

[code]
Seems like they have thought about this.

From what I can tell, Akita uses services heavily and basically move actions and reducers inside services; which reminds me of what ngrx-data does for entities.  With the integration between ngrx-data and nrgx, will we see a bigger role for se

[2018-12-26 02:41] Li-Mark commented on #1475
@timdeschryver
The issue has gone.
This issue is caused by our code, I will close this issue.
Thanks

[2018-12-26 02:41] #1475 closed

[2018-12-27 08:36] timdeschryver commented on #898
@dereklin if you want to use services with NgRx, take a look at the Facades pattern.
Thomas Burleson wrote  [NgRx + Facades: Better State Management](https://medium.com/@thomasburleson_11450/ngrx-facades-better-state-management-82a04b9a1e39) about this.

[2018-12-27 08:39] timdeschryver commented on #1485
Are you using a [custom router serializer](https://ngrx.io/guide/router-store/configuration#custom-router-state-serializer)?

[2018-12-27 08:51] timdeschryver commented on #1486
This is the intended behavior.
The selector gets executed when one of the input parameters change, if you create/update/delete a user this selector will get executed.

See the [docs](https://ngrx.io/guide/store/selectors):

[2018-12-27 08:51] #1486 closed

[2018-12-27 09:43] alexkoretzki opened #1488 "have error : ERROR in node_modules/@ngrx/store/src/store.d.ts(30,31): error TS2304: Cannot find name 'Extract'."
this is my dependencies

{
  "name": "ngrx-test",
  "version": "0.0.0",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"
  },
  "private": true,
  "dependencies": {
    "@angular/animations": "^6.0.2",
    "@angular/common": "^6.0.2",
    "@angular/compiler": "^6.0.2",
    "@angular/core": "^6.0.2",

[2018-12-27 13:31] MikeRyanDev commented on #898
@dereklin Something to keep in mind about NgRx Entity's sortComparer interface is that by having it be immutable we can optimize operations like `addOne` and `updateOne` to change the target entity's position in the sorted list without having to resort the entire collection.

If we passed `state` as a third parameter and the sorting method changed based on the state then it would be difficult for

[2018-12-27 13:51] brandonroberts opened #1489 "Schematics: Bump platform version for ng-add schematics"
## Minimal reproduction of the bug/regression with instructions:

## Expected behavior:

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

## Other information:

## I would be willing to submit a PR to fix this issue

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

Our platformVersion is still locked to `^6.0.0` and should be `^7.

[2018-12-27 15:24] l3ender opened #1490 "Effects in Angular library not receiving injected actions on prod build (aot=true)"
## Minimal reproduction of the bug/regression with instructions:

Clone https://github.com/l3ender/ngrx-aot. Running app without AOT works (`npm run start`). Running with AOT  (`npm run start:prod`) causes bootstrap to fail. It appears that items (action and service) are not injected into the `Effect`.

Firefox error:

Chrome error:

## Expected behavior:

App behavior would be the same with or wi

[2018-12-27 18:57] nasreddineskandrani commented on #1383
@damienwebdev are you going to add doc for MockStore?

I'll open a PR to update the example-app with MockStore as stated in this comment
https://github.com/ngrx/platform/pull/1027#issuecomment-434728683

[2018-12-28 06:55] abdulkareemnalband opened #1491 "Entity custom merge operator/statergy"
## Describe any alternatives/workarounds you're currently using
If we want to `update` entity with nested objects , first we have to fetch and merge existing with new entity, then we have to dispatch merged object to store for update.

it is easy to handle one entity with `updateOne` , but updating  many using `updateMany` it becomes too complicated

## Solution

Provide third property `mergeFunct

[2018-12-28 11:55] timdeschryver commented on #1491
I think that it is unlikely to add this functionality in ngrx.
One of the best practices in a redux application is to keep your state normalized. If its only intention is to make mutations on nested objects easier, we fully discard this best practice.

That being said, NgRx 7 introduced the `adapter.map` function, which could make this easier, e.g.:

[code]

Personally, I also recommend taking a l

[2018-12-28 11:55] #1491 closed

[2018-12-28 13:21] JurajMlich opened #1492 "Init feature module action"
In commit e9cc9ae, UPDATE_EFFECTS action is removed and we are left with no solution to dispatching actions after feature module is loaded.

Please, provide us with a different way to do so.

[2018-12-28 21:58] JurajMlich commented on #1492
Sorry, I must have overlooked that.

[2018-12-28 22:05] timdeschryver commented on #1490
The problem was caused by a barrel import, https://github.com/l3ender/ngrx-aot/pull/1 contains a fix.

[2018-12-28 22:05] #1490 closed

[2018-12-29 00:03] TheILPlace opened #1493 "Schematics:feature does not register the effect in the related module"
## Expected behavior:

after running:
ng generate @ngrx/schematics:feature data  --reducers index.ts --flat false --spec false

the new feature is created, but in the module the registration of the newly created effect is missing

i expect the following like to be added to the containing module:

    EffectsModule.forFeature([DataEffects])

## Versions of NgRx, Angular, Node, affected browser(s) a

[2018-12-29 02:17] TheILPlace commented on #1493
i've first created a feature store
ng generate @ngrx/schematics:store Customers  --module customers.module.ts --statePath store

then went ahead to create a new feature set inside that, with the command listed above.

i tried your suggesting, adding the module, that worked ok , besides one thing,
ng generate @ngrx/schematics:feature data  --reducers index.ts  --module ../customers.modulets --flat

[2018-12-29 10:07] timosadchiy commented on #468
FYI syntax suggested by @brandonroberts `[Action1, Action2].forEach(store.dispatch);` gave me an error `TypeError: Cannot read property 'actionsObserver' of undefined`. I believe that is due to the `dispatch` method is not applied to `store` with that syntax. A minor change works well for me though:

    [Action1, Action2].forEach(a => store.dispatch(a));

Here is a helper function that I added to

[2018-12-30 01:57] emulvihill commented on #976
I've just encountered this... not sure how this can be considered anything but a horrid bug, and I will have to rip entity out of my code.

[2018-12-30 09:41] ofirrifo commented on #1485
@timdeschryver ok thanks

[2018-12-30 09:41] #1485 closed

[2018-12-31 02:30] #1479 closed

[2018-12-31 06:00] realiceman commented on #508
Hi everyone!! Actually there is no bug. Most of the "no store...." issue, it is because  "StoreDevtoolsModule.instrument()" is place before the "StoreModule" in the imports section of the app.module.ts file ==> so the devtool is loaded before the store, so it just can't watch the store...

[2018-12-31 13:46] timdeschryver commented on #1488
`Extract` is introduced in [Typescript 2.8](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-8.html). Which explains the errors.

Upgrade TypeScript (I think you should also upgrade Angular in order to get it fully working) and it should be fine.

If not you can re-open this issue.

[2018-12-31 13:46] #1488 closed

[2018-12-31 14:52] nasreddineskandrani commented on #508
@realiceman which ngrx version are you using? the problem of the order is present in the v6+?

[2018-12-31 15:05] nheinbaugh commented on #931
We had to add a `ready` property to our config service that we are injecting. It feels gross and I look forward to ngrx honoring the app initializer.

Is there any ETA on this? Or any appetite to fix it (since there is a workaround)?

[2018-12-31 16:03] realiceman commented on #508
Iam using the version 7.
Ok for the bug in the previous version.

[2018-12-31 18:38] eloiqs opened #1495 "Consider changing MockStore<T> source type to MockState<T>"
## Describe any alternatives/workarounds you're currently using

Hello!  I previously had developed my own MockStore. Without going to much into details, in addition to `setState`, I also had a method which allowed me to effectively test my container's subscriptions with marbles. In this method I subscribed to a given marbles observable and attached the next, complete and error callbacks to the st

[2019-01-01 16:47] Teebo opened #1496 "Could not resolve @angular/core relative to [object Object]."
## Minimal reproduction of the bug/regression with instructions:

Run Angular v7.1.4 and @ngrx/store@6.1.0
## Expected behavior:
 Running `ng build --prod` to completely build project.

Build the Angular app for production
## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):
Angular v7.1.4
@ngrx/store@6.1.0
Node v10

`
    "@angular/animations": "7.1.4",
    "@angular/c

[2019-01-02 16:56] timdeschryver commented on #1496
Hi, could you create a reproduction? Based on the description provided it's hard to tell what goes wrong.

[2019-01-02 17:24] Teebo commented on #1496
Hi @timdeschryver I tried to research on how I can build an app on StackBlitz that can be build by ng build --prod, I am not sure how to do it, is it possible? How can I do the reproduction for production build, please assist.

[2019-01-02 17:42] timdeschryver commented on #1496
A github repo would be fine, so I can build it myself.

[2019-01-02 17:59] timdeschryver commented on #1495
I'm not sure how your tests look like, but I would discourage using the store's `source` property.
Instead, use the `store` stream, or take a look at [jasmine marbles](https://github.com/synapse-wireless-labs/jasmine-marbles) - which you already did since you're mentioning marbles? but why would you need to access `next`, `complete` and `error`?

Is it in fact even possible to type `source`, becau

[2019-01-02 18:30] timdeschryver commented on #1464
Possibly because of https://github.com/ngrx/platform/pull/1445#issuecomment-450661597
@itayod do you want to pick this one up?

[2019-01-02 18:48] itayod commented on #1464
sure, I would be happy to :)

[2019-01-02 19:54] kronus commented on #1488
I have updated to the latest, but I am still receiving the same error:
tsc --version
Version 3.2.2

ERROR in node_modules/@ngrx/store/src/store.d.ts(30,31): error TS2304: Cannot find name 'Extract'.

[2019-01-02 20:19] timdeschryver commented on #1488
The `tsc --version` is probably the global typescript version. The typescript in the Angular project should be updated.

[2019-01-02 21:15] SerkanSipahi commented on #51
@maxisam is little bit to late but maybe it can help you and others when loading from backend respectively `asynchronous` into `ngrx/store` => https://medium.com/whozapp/use-indexeddb-with-ngrx-for-fast-angular-bootstrap-d9900f0cbc1b

[2019-01-02 22:03] itayod commented on #1464
@timdeschryver from a brief look at the code, I think I might have found the bug...

I reproduced it made some changes and it looks like it is working fine :).

I will make some more tests and open a pr this weekend

[2019-01-02 23:18] kronus commented on #1488
@timdeschryver sorry, I am still a newbie at all of this. How do I found what the version is for my project.

Also, Happy New Year to you and yours

[2019-01-03 06:50] timdeschryver commented on #1488
@kronus by running `ng --version` like you did previously, typescript is listed as `typescript 2.7.2` in your previous comment.

[2019-01-03 11:10] Teebo commented on #1496
Hi @timdeschryver after some attempts on reproducing the error with no success, I have found a solution to the issue by specifying in the `tsconfig.app.json` the path to the node_modules, the build with the `--prod` now works. The change I have made is as follows in the compiler options
[code]
Thanks, but I just wonder if this could maybe be fixed in `@ngrx/store`? Or it is something specific to a

[2019-01-03 11:11] #1496 closed

[2019-01-03 20:50] eloiqs commented on #1495
Yes, I could effectively just create my own MockStore class, extending the official one, just for the purpose of redeclaring source as the `MockState<T>` type. This works:
[code]
The store observable source is `state$: StateObservable`, which happens to be `MockState<T>` in `MockStore<T>`
See: https://github.com/ngrx/platform/blob/6b7306081be367509a9ea996a840524975f30aba/modules/store/testing/src/

[2019-01-03 20:52] eloiqs commented on #1495
Isn't using `source.next()` directly, the same as calling `setState` since source _is_ state$?
https://github.com/ngrx/platform/blob/6b7306081be367509a9ea996a840524975f30aba/modules/store/testing/src/mock_store.ts#L27-L29

[2019-01-03 21:55] eloiqs commented on #1495
I am using https://github.com/cartant/rxjs-marbles and jest.

I like the way testing effects and services can be done with marbles, and I'd like to test containers the same way.
[code]

[2019-01-04 15:03] #1414 closed

[2019-01-04 16:48] nijat12 commented on #537
I implemented the serializer but still DevTool Crashes.

Angular: 6.1.10
ngrx/store: 6.1.0
ngrx/router-store: 6.1.0
Chrome Version 71.0.3578.98 (Official Build) (64-bit)

[2019-01-04 18:00] defernan opened #1501 "CreateSelectorFactory returns entire state when provided an empty array of selectors"
## Explanation
Providing createSelectorFactory n selectors yields inconsistent results between v6 and v7.

In version 6 if createSelectorFactory was provided an array of empty selectors, the projectorFunction would be supplied an empty array.

In version 7 the projectorFunction is supplied an array of the entire state.

## Minimal reproduction of the bug/regression with instructions:
Refer to cons

[2019-01-04 19:50] JGhignatti opened #1502 "Effects instantiated services on app start and not when module is initialised"
[code]

Hi, I'm going through a problem that was already discussed, but I was not able to quite understand and work the answers to fit my needs.
I have a huge application and just a couple of features are using NgRx.
Those features are inside a module that is only initialised when I navigate after the user login, they have `Effects` classes that have `services` injected. Those services are being i

[2019-01-04 19:51] asyncoder commented on #770
I'm looking also to how to use ReducerManager to add feature dynamically. Can anybody help with an example? Thanks!

[2019-01-04 22:47] timdeschryver commented on #1501
I think that the current implementation is correct, but also that the previous implementation was correct. The reasoning behind it is the following:

- When you don't have any selectors/getters defined, it should invoke the projector function. This causes the behavior in your v7 example to return the state.
- A `createSelector` without a selector/getter wasn't possible in v6. The only reason why i

[2019-01-05 08:13] jsonberry commented on #866
I know this isn't a very active issue, perhaps it's backlogged for adding to an examples section. Was just passing through and thought I'd add some thoughts for those looking for help on this scenario. I'm down to write up a real example if there's a good place to do such a thing.

---

I handle this scenario with using `adapter.upsertX`, type guards, and a `BaseDTO` interface that gets extended f

[2019-01-05 10:41] timdeschryver commented on #1502
So if I understand correctly, the service is the problem and not NgRx Effect listening for actions?

If this is the case, it's probably nothing NgRx related. An NgRx Effects class gets the services injected by [Angular's Dependency Injection](https://angular.io/guide/dependency-injection).
Verify that the services you need are provided inside the feature's module, and not in another module or not

[2019-01-05 12:35] timdeschryver commented on #1495
What about making the `state` property public?

[code]

[2019-01-06 00:31] eloiqs commented on #1495
@timblakely Can you clarify a little bit? Do you mean making the `MockStore`'s `state$` property public? Your example's `mockState` variable is confusing me 😄

If I understood correctly though, then yes, I _guess_ that making the state variable property public is better than playing with the observable's source.

I went ahead and changed my tests with what I thought you meant, and the tests still

[2019-01-06 14:41] nasreddineskandrani opened #1504 "Add mocking selectors to MockStore"
Following my comment [here](https://github.com/ngrx/platform/issues/1383#issuecomment-450210264)

#1027 (comment)
I start working on it tomorow.

I added a first component spec update for the `example-app` in this fork [commit](https://github.com/nasreddineskandrani/platform/commit/79b0b1b34a2d181cac35a05d4e6126a0c50d849c).
Based on the current `MockStore` version and after experiencing it, i can

[2019-01-06 21:17] eloiqs commented on #1495
@timdeschryver Yes, I think you are right. I only added these callbacks because in theory it would be possible to model these events with marbles. But, yeah, in practice I don't think the store's state observable should ever be in one of those states 😄 .

[2019-01-07 03:36] laptrc opened #1505 "URL not change when reset state"
Hello! I have a service to reset state. My code:
[code]
and my meta reducer
[code]
It works well in @angular/router@7.0.0 & @ngrx/store@6.1.0, but not working well after I upgrade @angular/router@7.1.0 & @ngrx/store@7.0.0 because URL not change when jumpToState (state have changed but URL haven't). In @angular/router@7.0.0 & @ngrx/store@6.1.0, URL have changed.

My old package.json
[code]
My new p

[2019-01-07 10:07] MarkJAmes1217 commented on #1488
try to check the typescript version dependencies of your project by running npm ls typescript

npm -i typescript@{{ highest typescript version on your project }} --save

[2019-01-07 18:44] timdeschryver commented on #1495
Then I would rather keep it as it is.
In your case: instead of the source cast, you could use `store.setState(val)`.

[2019-01-07 19:14] #920 closed

[2019-01-07 19:17] brandonroberts commented on #1495
I agree with keeping it as is for now.

[2019-01-07 20:45] defernan commented on #1501
Thank you for you response and solution, the guard works for what I need.

Interesting, makes sense. It begs the question should the user have to guard against 'empty selectors' or should the projector function even be called if there are no props as you proposed above? I'm all for type safety; however, I feel at this point it is almost like tribal knowledge that the projector function will be cal

[2019-01-08 00:17] kronus commented on #1488
@MarkJAmes1217 - thank you for replying.

I ran npm ls typescript and the following is the result:
MacBook-Pro:oshop tam3$ npm ls typescript
oshop@0.0.0 /Applications/MAMP/htdocs/oshop
├─┬ @angular-devkit/build-angular@0.7.5
│ └─┬ @angular-devkit/build-optimizer@0.7.5
│   └── typescript@2.9.2
├─┬ @angular/cli@6.1.5
│ └─┬ @schematics/angular@0.7.5
│   └── typescript@2.7.2  deduped
├─┬ @ng-bootstrap

[2019-01-08 01:03] defernan commented on #1501
Update I don't think the suggested solution will actually be viable because the projector function is firing for every single store update. It looks like i need to guard passing empty selectors period.

[2019-01-08 09:06] amitcdubey opened #1507 "ofType not supporting verion 7"
ngrx/effects verion 7 not supporting ofType !!!!!

[2019-01-08 10:35] tja4472 commented on #1507
This has been removed.

https://github.com/ngrx/platform/blob/master/CHANGELOG.md#700-beta0-2018-11-03

BEFORE:

AFTER:

...
this.action.pipe(ofType('INCREMENT'))

[2019-01-08 18:02] manklu commented on #1444
IMO Event-Driven Actions versus Imperative-Actions depends on the point of view.

For the GUI, Event-Actions are perfect since they decouple interactions and state changes.

On the other side having to change and test the reducers to implement a new event sounds not nice. Here are Imperative Actions better which describes the changes and are easily reusable.

Leaving room for someone in the middle

[2019-01-08 19:48] timdeschryver commented on #1507
Like @tja4472 said, this is removed in NgRx 7.

Would you mind trying out [ngrx-tslint](https://github.com/timdeschryver/ngrx-tslint) and give some feedback? Be sure that you've committed your changes before running the command.

This is a migration tool that should update your `ofType` methods, I just haven't had the chance to test it out on a real project 😅.

[2019-01-08 20:50] TheILPlace commented on #476
hi, this thing also happened to me, with a 3rd party javascript library.
the thing is, because this is not predicted, you will not encounter this during your development, but only in other environments (qa, pre-prod) etc IF the users of that platform do NOT have the devtools enabled (which we usually DO enable in QA for example in order to capture the state in case of errors)

[2019-01-09 19:38] #1495 closed

[2019-01-10 05:09] markgoho commented on #1377
For those using the Nx ngrx schematic to add state, as Brandon mentions, you'll have to remove the ` { initialState: coursesInitialState }` from the boilerplate that they set up. In my case I made a store called Courses, but yours may be different:

[code]

should be:
[code]

[2019-01-10 19:10] sbkpilot1 commented on #1407
I noticed that the payload in `ROUTER_NAVIGATED ` does not have the router state but only the event.  I need to query the Router State to obtain data associated with the route.  Any info on why this was omitted?

[2019-01-10 20:13] sbkpilot1 opened #1509 "Add Router state to RouterNavigatedPayload"
## Describe any alternatives/workarounds you're currently using

I had written this code to simulate the navigated action with v6, I want to switch to using the Router Navigated action now that it is supported in v7 router-store.  However, my action handler requires access to the router state to query data associated with the activated route.

[code]

## Other information:

## If accepted, I would

[2019-01-12 13:17] #1507 closed

[2019-01-13 13:53] AlejandroPeralTaboada opened #1510 "Custom Serializer params with nested routes"
## Other information:

Using the NgRx Router-Store with the provided custom serializer in the doc:
https://ngrx.io/guide/router-store/configuration#custom-router-state-serializer

I realised the url params are only saved for the last route.

Given this router configuration:

[code]
If EditComponent does something like
[code]

Where getUrlParams is

[code]
It will never reach the switch map because

[2019-01-13 17:47] timdeschryver commented on #1505
Possibly referred to #1509?

[2019-01-14 04:07] laptrc commented on #1505
I'm not sure.

[2019-01-14 08:31] emilio-martinez opened #1512 "Schematics fails to attach to modules outside of apps dir"
## Minimal reproduction of the bug/regression with instructions:

Bumped into this issue in a project following the [Nrwl Nx Schematics](https://github.com/nrwl/nx) project structure. The project contains a lib "my-lib", and when running ngrx schematics with the "module" param I get the following output.

[code]

The schematics seem to be only pointing to the first project in the `angular.json`. I

[2019-01-14 18:21] timdeschryver commented on #1512
Have you tried using the `--project` flag?
It should be available via https://github.com/ngrx/platform/pull/1477.

[2019-01-16 14:32] vishaldhole opened #1513 "I have upgrade angular 6 to angular 7. But i noticed that angular 7 is much slower than angular 6 and it also takes more memory in build and compile time. Can you please help to increase performance of angular 7?"
## Support Requests should not be opened as issues and should be handled in the following ways:

### On [StackOverflow](https://stackoverflow.com/questions/tagged/ngrx) using the `ngrx` tag

### In our gitter support channel at https://gitter.im/ngrx/platform

[2019-01-16 14:46] amitcdubey opened #1514 ".next is not working"
.next is not working after updating ngrx and angular

[2019-01-16 14:49] brandonroberts commented on #1513
You should file this issue over at https://github.com/angular/angular

[2019-01-16 14:49] #1513 closed

[2019-01-16 16:53] timdeschryver commented on #1514
Some more context is needed here.
- What's the previous and current version
- Where are you calling `next`?
- What are you doing?
- ...

[2019-01-17 09:48] amitcdubey commented on #1514
am working on effects unit test case while am using

it('should work also', () => {
    actions = new ReplaySubject(1);

    actions.next(SomeAction);

    effects.someSource$.subscribe(result => {
      expect(result).toEqual(AnotherAction);
    });
  });
});

here .next is not working ,

is there any other way to write this ?

[2019-01-17 12:18] ghaithAqidi commented on #646
@brandonroberts you saved my ass thanks!

[2019-01-17 15:36] Wildhammer commented on #1086
"... it's stupid, the reducer of the missing property had no default case for the actions, so it was returning undefined."
had the same issue, saved me a lot of headache!

[2019-01-17 18:20] timdeschryver commented on #1514
This is explained in our [docs](https://ngrx.io/guide/effects/testing#testing).

[2019-01-17 18:20] #1514 closed

[2019-01-18 05:45] geo242 commented on #1509
Yes please!

[2019-01-18 06:57] amitcdubey commented on #1514
as per doc while am creating effects test am getting below error

Property 'next' does not exist on type 'Observable<any>'.
Could you please let me know why this is happening .

my Angular version is 7 and also ngrx 7

[2019-01-18 11:46] EnricoVogt commented on #1514
As I understand it, you have the possibility to do the tests via jasmine-marbles ( it('should work' ) or manually ( it('should work also' ). it seems like you prefer the manual way, then you have to change the Type of the action variable in your test from `let actions: Observable<any>` to `let actions: ReplaySubject<any>`. Please correct me if im wrong.

[2019-01-18 16:54] #1464 closed

[2019-01-20 00:50] emilio-martinez commented on #1512
I hadn't. Although it's kind of hard to know it's there because it doesn't appear via `--help`:

[code]

Seems like the [schema declaration](https://github.com/ngrx/platform/blob/7.0.0/modules/schematics/src/reducer/schema.json#L24) has it set to be invisible? Is there any reason for that?

[2019-01-20 02:37] #1512 closed

[2019-01-20 02:47] #1501 closed

[2019-01-21 14:06] brandonroberts opened #1519 "docs: Add new extension options for Store Devtools"
## Other information:

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

Store Devtools now supports persisting, locking, pausing, along with whitelisting and blacklisting of actions. These should be added to the Instrumentation docs.

[2019-01-21 14:33] #1509 closed

[2019-01-21 15:23] amitcdubey commented on #1514
am doing this by jasmine-marbles only but its not working ,getting below error
Property 'next' does not exist on type 'Observable'.

am not understanding the explanation of docs.below code as per doc

  it('should work also', () => {
    actions = new ReplaySubject(1);

    actions.next(SomeAction);

    effects.someSource$.subscribe(result => {
      expect(result).toEqual(AnotherAction);
    });

[2019-01-21 17:38] timdeschryver commented on #1505
Could you try this out with NgRx 7.1?
If it doesn't work, you can re-open this issue.

[2019-01-21 17:38] #1505 closed

[2019-01-21 17:56] laptrc commented on #1505
Thank you. Let me try.

[2019-01-21 18:03] timdeschryver commented on #1514
You'll have to cast `actions` as a `ReplaySubject`

[code]

[2019-01-21 18:14] timdeschryver commented on #1510
The snippet seems right.

I think you have to watch out when you use the same parameter names in a URL, if Angular supports this. I haven't tried this but I assume the last would override the first ones e.g. `customers/:id/orders/:id` where the `orderId` would override the `customerId`.

[2019-01-21 18:14] #1510 closed

[2019-01-22 03:35] laptrc commented on #1505
Unfortunately! It still doesn't work.

[2019-01-23 08:48] MattiJarvinen-BA opened #1521 "[Store-DevTools] Documentation: Example on excluding store-devtools in production build"
I followed examples in old repository issues to remove store-devtools from production build. When inspecting stats.json with webpack-bundle-inspector I noticed that it was still compiled in the main bundle.

ngrx.io or store-devtools README could include instructions on how to exclude module import in production. It's quite trivial and more related to angular itself but it's not obvious before you

[2019-01-23 10:45] gabrielgeorge commented on #1482
Hey @brandonroberts, I would love to help creating PR for docs

[2019-01-23 15:14] MarkoSulamagi opened #1522 "StoreDevToolsModule predicate throws 'state' undefined error"
## Minimal reproduction of the bug/regression with instructions:

`predicate` configuration in `StoreDevtoolsModule` is throwing an exception `core.js:15714 ERROR TypeError: Cannot read property 'state' of undefined`

[The complete stacktrace](https://pastebin.com/1mJSQ6N1)

I was unable to replicate this in StackBlitz, but I added a code with minimal requirements:
https://github.com/MarkoSulamagi

[2019-01-23 16:20] wesleygrimes commented on #1522
Hi @MarkoSulamagi I just cloned your project and ran `npm ci` and `ng serve` and I am able to run with no errors in the Chrome Dev console. One thing to note is that I am not using `node` `v11.6.9` but rather an LTS version of `node` `v10.13.0`.

[2019-01-23 16:50] MarkoSulamagi commented on #1522
Hi @wesleygrimes . Thanks for checking it out :)

I tested with v10.13.0 as well and the result is the same. So it doesn't look like an node version issue.

Do you have Redux extension added to Chrome (the problem doesn't show up if it isn't installed)?
I'm using Chrome with redux dev tools (in Ubuntu 18.04).

The problem also happens with my coworker's computer (running iOS).

[2019-01-23 17:28] timdeschryver commented on #1522
I can reproduce it, @wesleygrimes make sure you open the redux devtools window.

[2019-01-23 17:35] timdeschryver commented on #1522
At first sight I think it's because of the following:

[code]

Where `currentStateIndex` is out of the `computedStates` range because we don't add every state change to `computedStates`? (Because of the predicate)

[2019-01-23 17:41] wesleygrimes commented on #1522
Ah that’s what it was, I have them installed but not open.

[2019-01-23 18:56] wesleygrimes commented on #1522
@timdeschryver perhaps it's overkill but maybe something like this will resolve the nasty `undefined` error. Will returning a `null` state cause issues?

[code]

[2019-01-24 02:02] adamduren opened #1524 "Effects generated by Schematics cause 100% CPU / Frozen tab"
## Minimal reproduction of the bug/regression with instructions:

1. Run ng generate @ngrx/schematics:feature
1. Start the server
1. Open page
1. Observe browser freeze

This is because in the generated module the generated action is dispatched. The effects listen for that dispatched action however does not filter the action so it gets dispatched as a result of passing through the effects.

## Exp

[2019-01-24 11:57] timdeschryver commented on #1522
@wesleygrimes that could be a fix, I'm not sure. I was thinking more of keeping the states and indices in sync if that's possible.

[2019-01-24 12:06] wesleygrimes commented on #1522
Agreed...it makes sense to prevent the issue in the first place.

[2019-01-24 18:46] wesleygrimes commented on #1524
Hi @adamduren I am attempting to recreate this issue and so far haven't had any luck. Here's what I have done.

1. Generated new app with `ng new test-app`
2. Installed ngrx dependencies
3. Setup schematics
4. Ran `ng generate @ngrx/schematics:store State --root --module app.module.ts`
5. Ran ` ng generate feature User --group --reducers reducers/index.ts`
6. Injected the store into the `app.compo

[2019-01-24 18:56] timdeschryver commented on #1524
My guess is that the schematic generates the effect:

[code]

Which causes the famous infinite loop ☠️ .

In order to fix this I think we can:

1) create the effect as `@Effect({dispatch:false})`
2) don't generate the effect
3) add some more logic to the effect

But I think all these options make it more complicated for our users 🤔

[2019-01-24 19:00] wesleygrimes commented on #1524
Can confirm.... Adding `UserEffects` to the `EffectsModule.forRoot([])` causes the behavior described.

I vote for creating the effect class with the constructor and then leaving off the `loadUsers$` line. Devs can then define and implement new effects as needed.

[2019-01-24 19:16] adamduren commented on #1524
I used the `@Effect{dispatch: false}` method.

An alternative is to add a second action `FooLoaded` and have the effect `mapTo(new FooLoaded())` to show that the all the feature components are registered and working.

However, I'm open for whatever is clear and fixes the behavior.

[2019-01-24 19:17] adamduren commented on #1524
It's got me a few times and I'm always initially stumped for why my tab gets the spinner of doom.

[2019-01-25 04:06] #1489 closed

[2019-01-25 04:19] brandonroberts opened #1529 "Schematics: add common success/failure actions to feature schematic"
When a feature schematic is run, we scaffold out `[Something] Load Something`. In lots of cases you end up with, `[Something] Load Something`, `[Something] Load Something Success`, `[Something] Load Something Failure`.

We should provide some type of option that adds the success/error actions to the action/reducer/effect when generating a feature. The piece that's unknown is what to put in the *Ma

[2019-01-25 10:22] bene-starzengruber commented on #724
This is amazing!
It should definitely be included into the NgRx docs with examples:
https://ngrx.io/guide/store/selectors

[2019-01-25 15:38] alyalin commented on #1524
After upgrading to 7.x (from 6.x) , I have exactly the same problem

[2019-01-25 16:15] RyanLynnWood commented on #295
I had the same problem, we are writing a library that creates feature Store and Effects.

I was able to solve this by setting the paths in my `tsconfig.appjson` in the In the **consuming** app.

[code]

[2019-01-25 16:42] wesleygrimes commented on #1529
If you're accepting PRs, I will give this one a shot.

[2019-01-28 14:59] brandonroberts commented on #1524
How was this not the case in 6.x? Generating a feature does not dispatch the newly created action, and if you dispatch that action before doing anything with the effect you will get caught in a loop.

[2019-01-28 19:31] #1524 closed

[2019-01-28 19:31] #1529 closed

[2019-01-28 20:13] #1522 closed

[2019-01-28 20:13] #1519 closed

[2019-01-29 06:49] FilipLaurentiu opened #1534 "An implementation cannot be declared in ambient contexts."
## Minimal reproduction of the bug/regression with instructions:
Error recive when build the project:
**ERROR in node_modules/@ngrx/effects/src/actions.d.ts(4,64): error TS1183: An implementation cannot be declared in ambient contexts.**

## Expected behavior:
Compile without error

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):
node: v8.12.0
ngrx/effects: 7.1.0

[2019-01-29 07:16] FilipLaurentiu commented on #1534
No, i don't have a repository for this.
This happen after the update from version 6 to 7.1.0

`
[code]
`

[2019-01-29 07:17] timdeschryver commented on #1534
And what version are the NgRx packages?

[2019-01-29 07:31] FilipLaurentiu commented on #1534
After a clean install seems that error did not occur anymore. Thank you for your time :)

[2019-01-29 07:31] #1534 closed

[2019-01-29 16:21] joseluisq commented on #187
Just as a notice for newcomers: https://ngrx.io/guide/effects

[2019-01-30 02:03] rolandoldengarm opened #1535 "When calling updateMany, the types of objects is being changed."
## Minimal reproduction of the bug/regression with instructions:
Using ngrx entity.

When using updateMany with certain Typescript objects as the "changes", the resulting state are plain JavaScript objects; they are no longer the objects I've originally put in.

Pseudo code:
[code]
## Expected behavior:
I expect that an updateMany does not change the types of object in my store.

I've spent some t

[2019-01-30 09:23] mihailkuritsyn commented on #295
@RyanLynnWood you is my hero!
I'm implementing project with ngrx and import another project with ngrx as dependency. Your solution works for me.

[2019-01-30 11:54] michahell commented on #1383
To make sure that my request (making sure there is a part about `completing` and `erroring out` killing the observable, effectively) is not forgotten:
https://github.com/ngrx/platform/issues/1364

See also explanation in this article:
https://blog.angularindepth.com/5-tips-to-improve-user-experience-of-your-angular-app-with-ngrx-6e849ca99529

[2019-01-30 13:37] brandonroberts commented on #1383
Thanks @michahell. There is a specific section in the effects guide that covers this https://ngrx.io/guide/effects#handling-errors

[2019-01-30 15:27] michahell commented on #1383
ah nice, I see :) okay moot point then! great :)

[2019-01-30 21:58] victorbadila commented on #133
this still happens with devtools thus it poses a problem when debugging during development. then the second init is fired the previous actions get completely wiped. I think this needs to be reopened

[2019-01-31 09:25] omarperezm opened #1536 "Content overflows in docs home page in mobile screen"
It's just a little style-related issue and I'm sure it doesn't happen in every mobile screen size/resolution. In my case, I'm experiencing this behaviour in a 5 inches screen with a 960 x 540 pixels resolution. Some of the text overflows to the right. This is only while the viewport is vertically, not in landscape.

[2019-01-31 09:42] j00y opened #1537 "Using @ngrx/Effect an effect is not being triggered by an Action"
I expect that the Effect that I created should be triggered by dispatching an action, but it is not happening. The action is being dispatched correctly, but the effect seems that is not properly watching this. I created this effect:

[code]
This effect expect to be triggered once the Action GetPoliciesAction is being dispatch. This is not happening so I am not able to do the HTTP request to get my

[2019-01-31 11:39] jonrimmer commented on #103
The problem with `defer()` is that while it delays *creation* of the observable until it is subscribed, the created observable will still push its value immediately. This will happen while NgRx is still in the process of subscribing to the defined effects, and before later effects have been subscribed to. This is why people are getting different results depending on the order they have defined the

[2019-01-31 11:59] olefrank commented on #1036
I can't get this to work... Any news on this?

Am I doing it wrong in `angular.json`?

[code]

[2019-01-31 12:08] timdeschryver commented on #1537
You have to register `PoliciesEffect` via `EffectsModule.forRoot([])`:

[code]

[2019-01-31 12:08] #1537 closed

[2019-01-31 12:11] timdeschryver commented on #1536
Hi, I think you've created the issue in the wrong repo, that's why I'm closing this issue.

[2019-01-31 12:11] #1536 closed

[2019-01-31 20:18] brandonroberts opened #1538 "Schematics: Add ng-add support with prompt for making our schematics default"
`ng add @ngrx/schematics`

Requirements:

- [ ] Should prompt the user to set `@ngrx/schematics` as the default collection. If the user accepts, it should do the equivalent of https://ngrx.io/guide/schematics#default-schematics-collection
- [ ] Docs
- [ ] Tests

[2019-02-02 02:32] mohyeid commented on #284
You may needed to add some more details, so this issue may not close. Did you find a fix anyway? I am facing the same issue.

[2019-02-04 14:42] argygkou opened #1540 "Action types, too many references."
hi, I'm building a large application for my company with many actions etc. After a while actions types have too many references resulting VS code to struggle fetching them quickly and to stuck every time I open *.action.ts file. Here is an example

![test-action](https://user-images.githubusercontent.com/22211468/52214932-9bc60a80-289b-11e9-8204-beae69221496.jpg)

Is this my fault, or it has somet

[2019-02-04 16:36] clundberg1 commented on #1342
This is an ng-packagr bug, you can get around it by importing the type instead of letting it be implied by the return statement.

[2019-02-04 17:44] timdeschryver commented on #1540
This isn't no one's fault, it refers to the `type` property from the `Action` interface.
In your application, this `type` property is used 1530 times.

[2019-02-04 17:44] #1540 closed

[2019-02-04 20:39] kronus commented on #1488
@MarkJAmes1217 , thanks for your help. I had to run sudo npm i --unsafe-perm --verbose to avoid all the EACCES errors

ng --verison:
`   / \   _ __   __ _ _   _| | __ _ _ __     / ___| |   |_ _|
   / △ \ | '_ \ / _` | | | | |/ _` | '__|   | |   | |    | |
  / ___ \| | | | (_| | |_| | | (_| | |      | |___| |___ | |
 /_/   \_\_| |_|\__, |\__,_|_|\__,_|_|       \____|_____|___|
                |___/

[2019-02-05 09:16] jnorkus commented on #1224
Our app is heavily relying on effects for all the business logic. That's why a global error handler is critical because any exception stops the actions stream. Here is my solution.

effects.service.ts
[code]

home.effects.ts
[code]

This will handle any unhandled exceptions and continue the actions stream.

[2019-02-05 10:15] dummdidumm commented on #1224
Regarding the requirement "I want unhandled errors not to completely break my action stream": I wonder why this is not part of the effects library itself? Wouldn't a appended `catchError` to all `@Effect()`-streams work?

[2019-02-05 10:57] dummdidumm opened #1541 "RFC: Add CorrelationId Utilities to ngrx/effects"
Currently, `@ngrx/effects` does not have any support for the correlation id pattern. It would be great if there were utilities that help streamline the code.

## Scenario

Inside our app, it's often necessary to dispatch an action, wait for another action in response and then continue with follow-up logic.

Example:
1. Dispatch actionA
2. Wait for actionB
3. Continue and decide what to do based on

[2019-02-05 11:50] jnorkus commented on #1224
@dummdidumm actually there is a `catchError` in the effects library. It calls the error handler and then completes. In my sample I return the `source` parameter which allows the stream to continue instead of completing. I wonder if that would actually make sense to include in the lib.

[2019-02-05 11:51] RichardMisiak opened #1542 "Calling done() in tests does not work correctly when subscribing to effects"
## Minimal reproduction of the bug/regression with instructions:

Jest and Jasmine examples found in [this repo](https://github.com/RichardMisiak/effects-test)
Run `npm install` and `npm test` in each folder. The test is found in `src/app/example.spec.ts`

Invoking the async callback in a Jasmine or Jest test does not appear to work if you do it inside the subscribe block of an effect.

E.g. in th

[2019-02-05 12:47] dummdidumm commented on #1224
Maybe (if they don't want it to be the default) there could be a new property to turn it on.

[code]

[2019-02-05 13:51] papiliond commented on #951
Let's see the definitions for ActionReducerMap and ActionReducer:

[code]
and
[code]

According to the [documentation](https://ngrx.io/guide/store/reducers), your _fromLayout.reducer_ function could return a LayoutState type. Then you pass it to the _reducers_ constants. But if you do so, the types LayoutState and ActionReducer<LayoutState, Action> just don't match. So I solved this by creating an

[2019-02-05 17:33] alex-okrushko commented on #1224
@dummdidumm

No, it [wouldn't work](https://blog.angularindepth.com/5-tips-to-improve-user-experience-of-your-angular-app-with-ngrx-6e849ca99529#74d3). It needs to be handled on the Observable before it's flattened into the main stream.

[2019-02-05 18:43] dummdidumm commented on #1224
I imagine something like this
https://stackblitz.com/edit/rxjs-e1jvlk
Could `@ngrx/effects` not wrap all effects in such a way inside the [effects_resolver](https://github.com/ngrx/platform/blob/master/modules/effects/src/effects_resolver.ts) before merging it back into the main stream? Is there anything I'm missing?

[2019-02-06 10:19] dummdidumm commented on #1480
Could you elaborate more on the requirements?
- Should reducers written in switch-case-style get type inference/safety?
- Should reducers written in if-style get type inference/safety?
- Should there be a related reducer-factory package that works well together with the action-creator-factory? (similar to typescript-fsa-reducers on top of typescript-fsa)
- How much flexibility should the API have?

[2019-02-06 10:36] MaciejCaputa commented on #632
It looks like the `{Map, Set}#toJSON` method has been rejected by TC39 and removed from core-js in v3.0.0.
Shouldn't the extension handle displaying maps and sets itself?

[2019-02-06 10:49] glennverschooren commented on #1350
@blackholegalaxy what is the solution to this problem?

[2019-02-07 12:53] frontr-uk commented on #498
[code]
issue is source and empty() both are deprecated :(

[2019-02-07 21:16] swseverance commented on #1542
I am seeing this behavior as well

[2019-02-08 03:12] brandonroberts commented on #1480
The requirements are only dealing with action creators. I think something similar to what @MichaelWarneke mentioned is what I'd like to see. Reducer factories and AoT don't mix, as you end up having to wrap it in another function. At a minimum there is a generic `actionCreator<T extends Action>` function that implements a function that returns `T`.

[2019-02-08 10:22] JulianBiermann opened #1543 "Strange behavior on Actions observer injection when using normal constructor assignment"
## Minimal reproduction of the bug/regression with instructions:

There is a strange behavior when trying to inject the Actions observable into a constructor.

For this effect the Actions observable is injected and I can use it normally across my application.

[code]
However if I choose to do the following style of constructor call the Actions observable is not injected and the effect throws an er

[2019-02-08 10:51] tja4472 commented on #1480
Something like?
[code]

[2019-02-08 12:55] dummdidumm commented on #1480
I would like to have an API sort of like this

[code]

Maybe this can be combined with the ideas above.

[2019-02-08 15:15] brandonroberts opened #1544 "Schematics: add support for generating new workspace/application/lib with initial setup"
Make it easier to scaffold out a new workspace/project/library

Generates a new workspace/application/library
Includes all ngrx dependencies
Sets up Store/Effects/Store Devtools/Router Store

Also supports generating a new application with the above. Should be broken down into new schematics.

`workspace` - new workspace from scratch (May have to include global install of `@ngrx/schematics`)

[cod

[2019-02-08 15:42] brandonroberts opened #1545 "CI: add build to test NgRx with Ivy/ngtsc"
We should start thinking about potential impact of users wanting to try out Angular version 8 betas, and NgRx with Ivy/ngtsc.

I tested a [sample repro](https://github.com/brandonroberts/ngrx-ivy-beta-3) and the application compiled successfully, but failed at runtime. Let's create a separate job in CI to run the example app against version 8 and Ivy to validate.

[2019-02-08 18:23] timdeschryver commented on #1543
This is related to TS.

The following also fails:

[code]

As work around you could use a factory function as:

[code]

[2019-02-08 18:23] #1543 closed

[2019-02-08 18:44] timdeschryver commented on #1542
I believe this is because you're using the marbles syntax, the following does work.

[code]

I'm not 100% sure, but I think if you're using the marble syntax you should also use `.toBeObservable()` to test the stream - `expect(effects.someSource$).toBeObservable(expected);`.

See the [docs](https://ngrx.io/guide/effects/testing#providemockactions) for more info.

[2019-02-08 20:34] cport1 opened #1546 "Unit Tests Breaking : Uncaught TypeError: Cannot read property 'entities' of undefined"
I am getting this error randomly on different unit tests. It breaks on a different unit test each time tests are ran. However, sometimes all tests pass successfully.

Angular Version: 7.2.4
@ngrx Version: 7.0.0

[2019-02-08 20:36] cport1 commented on #1546
Oh, I think upgrading ngrx to 7.2.0 fixed the issue

[2019-02-08 21:02] cport1 commented on #1546
I think what ultimately fixes the issue is destroying the feature after create component

[code]

[2019-02-08 21:15] timdeschryver commented on #1368
To allow 'effects as functions testing strategy' as @babeal is asking about, I would propose the following typings:

[code]

I have been trying to implement this and came up with [@wip/effects](https://github.com/ngrx/platform/tree/wip/effects), allthough I'm not sure if this is how you had in mind @MikeRyanDev, and if this would be compliant with the Closure compiler.

[2019-02-09 17:16] kammanageswararao opened #1547 "ERROR TypeError: Cannot read property 'firstname' of undefined"
Component.ts:

  public nagesh($scope) {
    const employees = [{ firstname: 'kamma', lastname: 'nageswararao', gender: 'Male', salary: 57000 },
    { firstname: 'ram', lastname: 'Daniel', gender: 'Male', salary: 87000 },
    { firstname: 'Arun', name: 'A', gender: 'Male', salary: 95000 },
    {
      firstname: 'kumar', lastname: 'balara', gender: 'Male', salary: 95000
    }
    ];
    $scope.emp

[2019-02-09 22:20] arleta-jedrzejczak commented on #245
I had the same issue and I found the solution that works for me: it's important to set your StoreDevtoolsModule AFTER StoreModule.forRoot

[2019-02-10 02:34] SebasG22 commented on #103
@jonrimmer Thanks, works as expected.

[2019-02-10 12:28] MattiJarvinen opened #1548 "ngrx.io add gitter.im chat addon?"
[Scala exercises](https://www.scala-exercises.org/std_lib/asserts) got this nice chat addon in their study material, I was wondering if adding similar functionality to the documentation site would add any value?

![image](https://user-images.githubusercontent.com/12794435/52533634-3b254a80-2d3f-11e9-82cf-bcdb74d82b02.png)

I do get that the gitter link is in the footer but maybe it should be more

[2019-02-11 13:09] timdeschryver commented on #1547
Hi, I'm going to close this issue because I think this isn't NgRx related.
It seems more like an AngularJS question, please feel free to re-open if I'm wrong.

[2019-02-11 13:09] #1547 closed

[2019-02-11 22:40] nukec commented on #931
so this still not resolved? great.

[2019-02-12 00:11] nukec commented on #1037
This is still not working.

[2019-02-12 00:16] russelltrafford commented on #931
Wow this feels like years later and still not addressed? I've moved into a
new project with backbone.js now lol

On Mon., Feb. 11, 2019, 14:41 Amel Salibašić <notifications@github.com
wrote:

[2019-02-12 09:40] aochagavia commented on #858
What is the status of this issue? The description in DropboxPaper seems to address the issue quite well and there is even an experimental branch for it (https://github.com/ngrx/platform/tree/local-state). Is there anything I could do to help push this forward?

[2019-02-12 13:59] ngohungphuc opened #1549 ".pipe is not a function"
I have this error

What I trying to achieved is I 2 page 1 user list page 1 user detail. When load list users save list of user in store then if I go to detail page I don't need to make api call if user list already exist in store else I will make API call

Service
[code]

Effect
[code]
I will get error at  this.userInfoService.getUserInfo(action.payload).pipe(

Is there anything I have done wrong

[2019-02-12 15:35] timdeschryver commented on #1549
The service should return an observable (in most of the cases the http request stream).

See the [example-app](https://github.com/ngrx/platform/blob/master/projects/example-app/src/app/core/services/google-books.service.ts#L17) for an example.

[2019-02-12 15:35] #1549 closed

[2019-02-12 15:40] ngohungphuc commented on #1549
Hi @timdeschryver so what you suggest about scenario I need to get data from the store. That it's not a http request
Thank you

[2019-02-12 15:59] timdeschryver commented on #1549
I would not integrate the store into services, imho they should just make requests to a web api.

For your case I would prefer to solve it via ngrx/effects - see [Start using ngrx/effects for this](https://blog.angularindepth.com/start-using-ngrx-effects-for-this-e0b2bd9da165), there should be an example in there.

[2019-02-13 14:47] Vallerious commented on #1488
Angular 6 uses typescript from 2.7.2 until 2.8.0, ngrx 7 uses 2.8.0 and above, so there is a conflict here. I fixed the problem by downgrading ngrx to version 6. I could have updated angular to version 7 but that would be more time consuming.

[2019-02-13 20:02] itayod commented on #1538
@brandonroberts if you'r accepting pr I can give it a try :)

[2019-02-13 20:32] schuchard commented on #1538
Hey @brandonroberts, we're taking a look at this as well at Briebug. Curious how you test schematics in the repo outside of unit tests? Do you have any patterns for locally testing? I like to use a sandbox approach to develop and test with https://www.kevinschuchard.com/blog/2018-11-20-schematic-sandbox/

Thanks

[2019-02-13 23:59] nukec commented on #174
never resolved.. wow

[2019-02-14 07:41] timdeschryver commented on #1538
I haven't used the sandbox approach but it seems nice!
I've used [verdaccio](https://github.com/verdaccio/verdaccio) in the past to host a private npm registry.

[2019-02-14 07:41] timdeschryver commented on #1538
To avoid working on this issue with multiple devs simultaneously, perhaps it would be better to assign someone to this issue?

[2019-02-14 10:45] testpossessed opened #1551 "ng-add not found in collection @ngrx/schematics"
## Minimal reproduction of the bug/regression with instructions:

1. Create new Angular app using 'ng new ngrx-play'
2. Change to new project folder
3. Execute 'ng add @ngrx/store' - no errors
4. Execute 'ng add @ngrx/effects' - no errors
5. Execute 'ng add @ngrx/schematics' - error below

Schematic "ng-add" not found in collection "@ngrx/schematics".
Error: Schematic "ng-add" not found in collect

[2019-02-14 10:50] testpossessed commented on #1551
Reading the documentation again it seems ng add is not supported for @ngrx/schematics.  It seemed an obvious thing to do given the way you setup other ngrx packages.  Closing issue.

[2019-02-14 10:50] #1551 closed

[2019-02-14 15:11] timdeschryver commented on #1551
We got an open issue to support this https://github.com/ngrx/platform/issues/1538

[2019-02-14 16:55] schuchard commented on #1538
I agree. @itayod claimed it first so I'm happy to step back or provided assistance if needed.

[2019-02-14 17:20] dellekappa commented on #931
@russelltrafford can you provide some details of your solution with Subject + APP_INITIALIZER?
Anyone found some alternative way to have an "all case working" solution?
A tried also to move all the effects and their dependecies in a module loaded lazily on the promise callback.
It works but anyway it forces the developer to keep in mind this issue and makes the app harder to configure.
Maybe there

[2019-02-14 17:26] russelltrafford commented on #931
Sorry it was a long time ago and Im no longer at that company and project,
so don't have access to the code anymore. I gave a rough explanation at the
time, if there's specifics that I wrote that you have confusion about I'll
try and help if I remember.

On Thu., Feb. 14, 2019, 09:20 Giulio Ruggeri <notifications@github.com
wrote:

[2019-02-14 17:47] brandonroberts commented on #1538
@schuchard its pretty manual right now. I've mostly used the nightly builds and test projects to validate, but something more automated such as sandboxing would be helpful. Its kinda meta, but I think a standalone library to do integration testing would be nice. This is similar to what you're doing already.

You use a clean CLI project
Run your schematic against it
Use the schematics CLI to read f

[2019-02-15 13:24] klinki commented on #358
I agree with @fredgate, using resolvers seems to be much better option to retrieve data. @brandonroberts  why is it considered anti-pattern (and not supported by library)?

I just hit this limitation and it gives me a lot of trouble :(

[2019-02-15 14:06] brandonroberts opened #1553 "Docs: create archive site for 7.x docs"
Just a reminder to create the archived docs set for V7 when its time for V8.

[2019-02-15 14:21] brandonroberts opened #1554 "Build: add package for ngrx/data"
Create initial package and setup to produce nightly builds of `@ngrx/data` from John Papa and Ward Bell as an official package.

Source: https://github.com/johnpapa/angular-ngrx-data

Checklist

- [ ] Add build setup to modules folder
- [x] Setup github repo for night builds
- [ ] Create doc for installation and usage

[2019-02-15 14:27] brandonroberts opened #1555 "Build: add release automation"
Releases are done manually. The build infrastructure is there, so we should automate releases. When we push up a release tag, it should start a CI job.

Release checklist

- [ ] Publish to NPM with latest and next labels
- [ ] Build and release docs to stable

Notes

- [ ] Document release process
- [ ] Be aware of when we start tagging for 8.x.

[2019-02-15 14:28] brandonroberts opened #1556 "Example: add cypress testing for example app"
We've already talked about this, but had no official issue to track.

[2019-02-15 15:12] brandonroberts opened #1557 "Store Devtools: Rename actionBlacklist / actionsWhitelist options"
Change to actionsSafelist / actionsBlocklist. Not up for discussion.

[2019-02-15 15:21] michalvankodev opened #1558 "Single createSelector function doesn't get state passed in."
Hello,
This took me some time to find but I've ran into this issue.
When I have only simple selector
[code]
It will not get the state passed in.

I've found that this PR: #1515 has introduced this issue.
Not very sure why the function is not called with state as an argument but it broke my application immediately.

## Minimal reproduction of the bug/regression with instructions:

## Expected behav

[2019-02-15 15:24] timdeschryver commented on #1556
Current status: Cypress tests are available at [/wip/example-cypress](https://github.com/ngrx/platform/tree/wip/example-cypress) but the bazel build is failing because the build files aren't formatted - https://circleci.com/gh/ngrx/platform/5064.

[2019-02-15 15:25] brandonroberts commented on #1556
I'll take another look over the weekend

[2019-02-15 23:28] DaSilvaBrunoTexas commented on #1026
I removed an old node_module from my C: and ran ng new again it worked just fine

[2019-02-16 17:26] tja4472 opened #1559 "watch:tests script does not work with Windows"
## Minimal reproduction of the bug/regression with instructions:
[code]

## Expected behavior:
[code]

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

## Other information:
Script should be
[code]
## I would be willing to submit a PR to fix this issue

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-02-17 07:09] thefliik commented on #976
Just created a PR (#1561) to call out this (arbitrary?) limitation of entity state adapter in the docs. It doesn't appear to be mentioned anywhere and was very annoying and unexpected. Like @emulvihill, I'm going through and removing the dependency on ngrx/entity from my code.

[2019-02-17 14:03] anth-git commented on #976
@thefliik
After working with **ngrx** and **entity** for several months I still consider this behavior as nothing else than arbitrary limitation. I already had several bugs because of this (I expected getter or function on the object but it wasn't there). As a solution I decided to project collections on the selectors level:

[code]
I guess, nice side effect of this is that I double ensure that st

[2019-02-17 19:44] dolanmiu opened #1562 "ngrx/effects 7.2.0 does not work with rxjs-compat"
When I upgraded my version of ngrx/effects to `7.2.0`, it broke my project.

I use rxjs-compat to use the traditional way of using observables

Namely the 'ofType' broke:

[code]
<img width="889" alt="screenshot 2019-02-17 at 19 42 16" src="https://user-images.githubusercontent.com/2917613/52918192-5fa79680-32ec-11e9-8e0b-f690491f20f9.png">

[2019-02-17 19:56] brandonroberts commented on #1562
See the [V7 migration guide](https://ngrx.io/guide/migration/v7) about the removal of the ofType instance operator.

[2019-02-17 19:56] #1562 closed

[2019-02-17 20:02] dolanmiu commented on #1562
I use the previous way of using obervables with rxjs, not the `pipe` way e.g.

[code]

`rxjs` has kindly made an `rxjs-compat` library to address this issue.

Will ngrx introduce a `ngrx-compat` in future?

[2019-02-18 04:46] brandonroberts commented on #1559
Fixed via #1560

[2019-02-18 04:46] #1559 closed

[2019-02-18 05:25] brandonroberts commented on #1556
You should be unblocked now. I rebased the branch on master, added a fix, and force pushed the changes.

[2019-02-18 15:46] brandonroberts commented on #1548
Maybe. I don't know how many people from the chatroom would access it from the docs page as opposed to just having a "Chat" link in the top bar.

[2019-02-18 15:52] brandonroberts opened #1563 "Schematics: implement E2E testing"
Original discussion: https://github.com/ngrx/platform/issues/1538#issuecomment-463356946

We don't currently have an automated way to "sandbox" test our schematics. This effort would create an integration test suite that installs and runs our schematics against a clean Angular project to verify they are applied correctly.

[2019-02-18 16:05] brandonroberts commented on #1521
This seems reasonable to me a recipe for Store Devtools

[2019-02-18 16:11] brandonroberts commented on #1480
@dummdidumm I don't see that as part of this implementation. Something similar to what @tja4472 posted is where we want to start.

[2019-02-18 16:17] #1430 closed

[2019-02-18 16:17] #1400 closed

[2019-02-18 16:18] brandonroberts commented on #1239
I believe this is covered

[2019-02-18 16:18] #1239 closed

[2019-02-18 16:24] brandonroberts commented on #1563
cc @schuchard

[2019-02-18 16:28] brandonroberts commented on #1437
I agree with @timdeschryver's explanations that this would cause more complexity than value.

[2019-02-18 16:28] #1437 closed

[2019-02-18 16:29] brandonroberts commented on #1412
Circling back on this @jdjuan. If you're still interested in making this change, what do you need to move forward?

[2019-02-18 16:31] dummdidumm commented on #1480
Well, at least some form of match-utility would be nice, it would make the action's type inference self-contained and not dependent on `SomeActionsUnion`-tricks that are needed for reducers and `ofType` (which kind of enforces the [ducks-pattern](https://github.com/erikras/ducks-modular-redux))

[2019-02-18 17:46] brandonroberts opened #1564 "Schematics: use defaultProject if project is not provided"
Currently we use the first project in the list if the project is not provided.

https://github.com/ngrx/platform/blob/master/modules/schematics-core/utility/project.ts#L16

Instead, we should use the workspace `defaultProject` property as a first choice, then fallback to the first project.

[2019-02-18 20:40] wardbell commented on #1554
Let's DO IT

[2019-02-19 04:35] schuchard commented on #1563
I'll put some time into this when I can. I think having a sandbox to test and develop against would be very helpful.

[2019-02-19 10:42] jdjuan commented on #1412
@brandonroberts @timdeschryver I'm truly sorry I didn't finish this 😢
I won't be able to work on this any time soon, so I'd rather let any of you finish it

[2019-02-19 11:00] sgronblo commented on #1383
Any plan to document `State` as part of this?

[2019-02-19 12:52] parabolabam commented on #295
@haldunatar
Your solution works well with a little difference for me:
i use in my feature module like following:
[code]

[2019-02-19 13:11] brandonroberts commented on #1383
@sgronblo what do you mean? Document the API?

[2019-02-19 13:17] brandonroberts commented on #1412
@jdjuan no problem. Sorry we didn't get back to you sooner.

[2019-02-19 16:09] brandonroberts opened #1566 "Schematics: rename template files to avoid compilation"
Our schematics template files end with `.ts`, which you have to explicitly ignore or they will be compiled.
Renaming them to `.ts.template` follows the convention used in the Angular schematics.

For reference: https://github.com/angular/angular-bazel-example/issues/286

[2019-02-19 16:18] E1ena opened #1567 "NGRX Effects polling"
## Is there best practices for polling?

Hi, I'm trying to polling backend using effects.
The problem is I want to re-rendere my app only if server response data changed (so I'm trying to avoid unnecessary state update).
Is it possible? As I know every effect must return action, which triggers reducer, which returns new state. So it either updates state or failes.

effects:

    @Effect() solution

[2019-02-19 16:23] bossqone commented on #1567
In our project we created `NoOpAction` which is than fired and it's not handled by any reducer.

[2019-02-19 16:34] E1ena commented on #1567
Thanks for answer! That is NoOpAction? Can't find it in docs

[2019-02-19 16:38] bossqone commented on #1567
You need to create custom one, it's not the part of NgRx.
Something like:
[code]

[2019-02-19 17:01] E1ena commented on #1567
I've tried this way. But after { type: SomeActionTypes.NoOp } comes, my reducer updates state. It's ever

       case SomeActionTypes.NoOp: {
			return {...state};
     }

or
      default:
			return state;

And then all my client side 'jumpes'

[2019-02-19 17:13] bossqone commented on #1567
Well, you shouldn't handle this action at all, so it will fall into `default` case in all reducers.

[2019-02-19 17:31] #1567 closed

[2019-02-19 17:36] timdeschryver commented on #1558
I think this was an undesired outcome, made by implementing selector with props (more specifically to allow the [createSelector with only a props selector](https://github.com/ngrx/platform/blob/master/modules/store/spec/selector.spec.ts#L242).
If you take a look at an example from v6.0.x, the state within the selector is also
`undefined` - [repro](https://stackblitz.com/edit/ngrx-seed-za3pw9?file=

[2019-02-19 21:19] timdeschryver commented on #1558
With the knowledge gained, I think it wasn't a great idea to allow these selectors with props working directly with the projection function without the need of a selector.

Concrete this means that the following won't be possible anymore

[code]

But would need to be written as:
[code]

This would also be in line with the reduxjs/reselect library which has as [API](https://github.com/reduxjs/resel

[2019-02-19 21:55] karptonite opened #1568 "Entity: Loosen type restrictions on selectId and sortComparer"
The types  for `createEntityAdapter` are currently defined as
[code]

This is somewhat restrictive for the types on selectId and sortComparer. It means that if you have something like:
[code]
where CompoundId requires both type and id to identify an item, you can't (I think) make a general `selectId` function that works on any type that extends `CompoundId`. You'd need a separate `selectId` functi

[2019-02-20 03:05] #1538 closed

[2019-02-20 13:21] sgronblo commented on #1383
Hmm, I must have not been looking close enough yesterday. I was able to find `State` now. At least in the API section. There doesn't seem to be any mention about it in the "normal" documentation pages on ngrx.io though.

[2019-02-20 14:04] timdeschryver commented on #1383
Do you mean [this page](https://github.com/ngrx/platform/blob/master/docs/store/api.md) @sgronblo ? If so, which part?

[2019-02-20 17:12] timdeschryver commented on #1568
I'm not sure if this is something we would want to add.

If we do implement this, we also would have to add a `isKeyTheSame()` (with probably a better suited name) method. Because `{ id: '47', type: 'foo' } === { id: '47', type: 'bar' }` always results to `false`.

[2019-02-20 18:33] karptonite commented on #1568
@timdeschryver I'm not sure I understand your objection. The only change I'm talking about is changing the type signature of `createEntityAdapter`. The example was only motivational, and the intention was that `selectId` would continue to return a string or number, as usual, with the implementation left to the user. for example selectId for a `CompoundId` might return, for example,
`type + '_' + i

[2019-02-20 19:29] amitcdubey opened #1572 "How to share state between two reducers"
Hi am working on ngrx,and currently am trying to share state between two reducers ,one is my login reducers and other is userdetails ,while am using login reducers its working fine but after login when am using userdetails reducers am not getting any state ,all the time am getting blank in tree,kindly let me know how to share state between two reducers

[2019-02-20 19:34] fmalcher opened #1573 "Schematics: Default effect leads to an endless loop"
The command `ng generate feature` does create an effects class with the following effect (example):

[code]
(see https://github.com/ngrx/platform/blob/master/modules/schematics/src/effect/files/__name%40dasherize%40if-flat__/__name%40dasherize__.effects.ts#L24)

If left untouched, this will lead to a [loop of death](https://angular.schule/blog/2018-06-5-useful-effects-without-actions#5-loop-of-dea

[2019-02-20 19:40] timdeschryver commented on #1568
Sorry, I misunderstood you.

I think the following does what you're asking?

[code]

[2019-02-20 19:49] timdeschryver commented on #1573
We recently merged PR #530 which resolves this issue 😅 .
It will become available in the next version.

[2019-02-20 19:50] brandonroberts commented on #1573
#1530 was released with `7.2.0` 👋

[2019-02-20 19:52] karptonite commented on #1568
Yes, you are right, something like that will work as well. But, to me, it wasn't an obvious solution. Do you think that explicitly changing the types in `createEntityAdapter` makes sense, or is it better for this to be on the user to write selectId to have a generic type?

[2019-02-20 19:53] timdeschryver commented on #1573
The docs aren't reflecting these changes, would it be OK to open up a new issue to add the `api` flag introduced in the PR?

[2019-02-20 20:02] timdeschryver commented on #1572
Make sure every reducer is returning state (the `default` case in the `switch` statement), you can take a look at the [docs](https://ngrx.io/guide/store/reducers#creating-the-reducer-function) or our [example-app](https://github.com/ngrx/platform/tree/master/projects/example-app) for some examples.

For more information, you can always join our [gitter channel](https://gitter.im/ngrx/platform) or

[2019-02-20 20:02] #1572 closed

[2019-02-20 20:05] timdeschryver commented on #1568
Yes, I think you should always type the `createEntityAdapter`. Otherwise, it would lead to compilation errors?

[code]

[2019-02-20 20:18] karptonite commented on #1568
@timdeschryver I'm not suggesting that users shouldn't type the `createEntityAdapter`. I'm suggesting that the types allow for the primary type to extend other types that are used by `selectId` and `sortComparer`. While the user can accomplish the same thing by using a generic type for their `selectId`, if we used the proposed signature above, then the user `selectId` function could look like:
[co

[2019-02-20 20:52] fmalcher commented on #1573
Thanks for the quick reply!
However, I'm not sure https://github.com/ngrx/platform/pull/1530 actually fixes this.

With `ng g feature foobar --api` I actually get a "harmless" effect – but `ng g feature foobar` still produces this one:

[code]

[2019-02-20 21:14] timdeschryver commented on #1568
Yes, I think the generic `selectId` is the best solution, we can re-evaluate later if needed.

[2019-02-20 21:14] #1568 closed

[2019-02-20 21:17] timdeschryver opened #1574 "docs(Schematics): add --api"
## Other information:
Add the new `api` flag introduced in #1530 to the docs at https://ngrx.io/guide/schematics/feature.

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-02-20 21:32] brandonroberts commented on #1573
It's easier to delete the code than to write it from scratch. I think we should at least add a note in the docs that the generated effect must be updated to return a new action.

I don't usually dispatch the action until the effects are wired up but I can see how it causes an issue.

[2019-02-20 21:34] timdeschryver commented on #1573
You're right @fmalcher.

We discussed the possible solutions in the issues thread, 	https://github.com/ngrx/platform/issues/1524#issuecomment-457450857.

With @fmalcher's proposed solutions in mind, should we re-open this issue or leave this as is. If we re-open the issue do we still agree that commenting out the effect is the best solution?

[2019-02-20 21:44] brandonroberts commented on #1573
I want to put developers on the path of continuing with minor modifications. I'd recommend we do something similar to the `--api` and `concatMap` to an EMPTY observable by default.

[2019-02-20 22:01] fmalcher commented on #1573
Ah I see! Haven't seen this before, sorry...

Sounds good to me! I could live with both ways:

(1) concatMap to EMPTY

[code]

(2) comment out

[code]

----------

As I find (1) a sensible solution, should I submit a PR for this?
@brandonroberts @timdeschryver

[2019-02-20 22:18] fmalcher commented on #1573
Slightly related:
`ng g feature foobar --api` injects `Actions` with the new way:

[code]

while `ng g feature foobar` still uses the old way where we need to type `ofType` explicitly:

[code]

Am I right assuming that this is not intended and should be changed as well? 😅

[2019-02-21 02:56] deli6z commented on #1574
Hi. I am probably writing in the wrong place anyhow - I am using the store for about two years and wanted to give back. I am new to open source world. I went over the contribution guidelines - just need some simple task/bug to start off. You guys need help ?

[2019-02-21 06:54] sgronblo commented on #1383
Not sure if this documentation feedback should go somewhere else, but here goes.

I was writing a service that needed to get a value from the Store. Realized that Store is an Observable and got worried that this could cause a problem where my service would not be able to get the required value from the Store until that value changes the next time. Lots of frantic googling finds a mix of different

[2019-02-21 19:09] timdeschryver commented on #1574
Hi @deli6z, great to hear that!
You can take a look at some specific tags as [Good first issue](https://github.com/ngrx/platform/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22Good+First+Issue%22) and [Accepting PRs](https://github.com/ngrx/platform/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc++label%3A%22Accepting+PRs%22+) - if you want to pick up something leave

[2019-02-21 19:14] timdeschryver commented on #1573
I would also prefer option one 😄

The reason why `ng g feature foobar` doesn't use the new way, is because we don't need to infer the payload of the action. But perhaps it would be better to still type the actions? 🤔 .

[2019-02-21 19:31] brandonroberts commented on #1573
It should still be typed when generating a feature because we have an actions union.

[2019-02-21 19:45] brandonroberts commented on #1558
@timdeschryver I'm fine with the breaking change to make the usage more consistent.

[2019-02-21 20:10] timdeschryver commented on #1558
👍 I will submit a PR

[2019-02-21 21:02] tallmorgan commented on #1562
A monkey patch might look like:
[code]
Of course, actually updating each instance is a better solution for typing and tree shaking reasons.

[2019-02-21 22:32] feeloor commented on #1574
Hi!
I'd like to take a shot at this. Assuming no one else have started working on this?

[2019-02-22 00:41] dolanmiu commented on #1562
@tallmorgan Yes tree-shaking would be a bonus, but I am developing an electron desktop app, and tree-shaking and bundle size isn't really a concern.

Dot-chaining is far superior in terms of readability and syntactical conciseness. I really want `ngrx-compat` to be a real thing

[2019-02-22 12:26] EugeneSnihovsky commented on #414
Probably it make sense to add [this](https://github.com/ngrx/platform/issues/414#issuecomment-393540332) or other acceptable solution to compiled module and add documentation for it. I spent 2 hours to write simple unit test for effect with `withLatestFrom(this._store)`

[2019-02-22 16:01] Max101 commented on #876
@brandonroberts could you explain why is this "consistent" with RxJs and why does it need to be consistent?
It makes no sense really to have this kind of consistency at the expense of cleaner code.
RxJs introduced pipes for one main purpose, tree-shaking. There is 99.9% no need for tree-shaking of the select method in NgRx. (There are other reasons yes for RxJs to do piping but they are not part o

[2019-02-22 18:55] timdeschryver commented on #876
@Max101 we un-deprecated `select`, see #1382.

[2019-02-22 18:57] timdeschryver commented on #414
@EugeneSnihovsky NgRx 7.0 introduced a `MockStore` implementation but isn't documented yet. See #1027.

[2019-02-22 18:59] timdeschryver commented on #1574
@feeloor Awesome! Feel free to take this one 😄

[2019-02-24 18:19] SerkanSipahi commented on #1482
I would like to create the description for the example app. I have some questions:
1.) Where should be the description located? Maybe here: https://github.com/ngrx/platform/blob/master/projects/example-app/README.md
2.) Do you have any branch name convention? maybe pr/description-example-app ?

[2019-02-25 01:50] awerlang commented on #1224
@jnorkus you're using a loose definition of "works" here.

`catchError((error, source) => source)` doesn't continue the original stream. Instead, it completes and restarts. In order to ignore the error (like `ignoreElements`, but for errors) and continue, pipe a `catchError()` to the origin stream like @alex-okrushko explained. Restarting the observable in combination with a few operators (`distin

[2019-02-25 10:49] MattiJarvinen-BA commented on #1521
I'll try to get this done within 2 weeks.

[2019-02-25 13:46] amitcdubey opened #1578 "Reloading the data"
Hi am using selector for get state below is my code

 ngOnInit(): void {
    this.test$ = this.store.select<SampledataModel[]>(fromStore.getDataDetails,);
    this.store.dispatch(new LoadData(this.loaddata));
    this.getSampleData();
  }
  getSampleData(): void {
    this.test$.subscribe(
      (res: any) => {
        this.data = res.content;
        this.Items = res.Items;
        this.dataTable

[2019-02-25 16:48] timdeschryver commented on #1578
Support questions should be asked on [stackoverflow (with a ngrx tag)](https://stackoverflow.com/questions/tagged/ngrx) or the [gitter channel](https://gitter.im/ngrx/platform).

Some pointers:
- on a create/update/delete you have to update the store state
- I would encourage using the `async` pipe instead of using the `subscribe` function- @tomastrajan has written an article about it at https://b

[2019-02-25 16:48] #1578 closed

[2019-02-25 17:37] #1556 closed

[2019-02-25 20:40] #1574 closed

[2019-02-26 09:34] Hainesy commented on #468
I need something similar to what ngrx-batch-action-reducer offers, but a solution that also triggers effects for the individual actions.

It's definitely desirable to be able to batch together a bunch of actions from the point of view of reducers, such that selectors are not triggered after each action; but in such a way that the effects are for each action are still honoured.

[2019-02-26 13:34] #1573 closed

[2019-02-26 18:22] santoshyadav198613 commented on #1566
Can i take this.

[2019-02-26 18:26] timdeschryver commented on #1566
You sure can @santoshyadav198613 !

[2019-02-26 20:37] santoshyadav198613 commented on #1566
Hi @timdeschryver ,

I can see some test cases referring to /src/app/foo/foo.actions.ts but such file does not exists in code, due to which some tests are getting failed, can you guide me to if i am missing something.

[2019-02-26 21:05] LordMidi opened #1581 "variable typing not correct in example"
https://github.com/ngrx/platform/blob/master/docs/effects/testing.md - first code example

line 12
`let actions: Observable<any>;` - typed Observable

line 34
`actions = hot('--a-', { a: action });` - typed TestHotObservable

line 41
`actions = new ReplaySubject(1);` - typed ReplaySubject

using these three types doesn't work - at least for correct TypeScript linting.

[2019-02-27 00:49] brandonroberts commented on #1581
There's a PR to fix the this #1571

[2019-02-27 07:27] LordMidi commented on #1581
Haha Nice. The same guy I talked to an Stackoverflow abot this problem. Thanks

[2019-02-27 11:22] johnpapa commented on #1554
let's get this party started!

[2019-02-27 14:44] brandonroberts opened #1583 "Docs: Add page for contributing"
Add a page to the website about contributing that's easier to understand than sifting through a markdown file.

Should include:

- [ ] Complete setup instructions
- [ ] Contributing docs vs code
- [ ] Where to look in the codebase
- [ ] Instructions for submitting a PR
- [ ] Frequently Asked Questions

[2019-02-27 15:55] initplatform commented on #784
if you just do `npm i ngrx` it will install version 2.0.1
you need to do `npm i ngrx/store`

[2019-02-27 16:47] brandonroberts commented on #784
Yes, you would install using `@ngrx/store`. For more installation instructions, see the installation page https://ngrx.io/guide/store/install

[2019-02-27 18:02] manklu commented on #468
@Hainesy Something like this should work.

[code]

[2019-02-27 21:17] santoshyadav198613 commented on #1566
Hi @timdeschryver / @brandonroberts ,
Can you review once, all check are success, i have used the new method to handle the templates.

[2019-02-27 21:23] santoshyadav198613 commented on #1564
Hey @brandonroberts ,

should i take this as well, just opened the PR for earlier changes.

[2019-02-28 14:03] wizardnet972 opened #1587 "createFeatureSelector should return root store or feature state?"
I think there is a confusion in example app or maybe possible bug..

according to the comment the `createFeatureSelector` should return only the piece of state from the store right? And in practice the `createFeatureSelector` return the `Store` object.

[index.ts](https://stackblitz.com/edit/ngrx-example-app-1-talkz4?file=example-app%2Fapp%2Fbooks%2Freducers%2Findex.ts):

[code]

[code]
![image](h

[2019-02-28 14:12] brandonroberts opened #1588 "Docs: add missing icon for NgModules"
The https://ngrx.io/api page is missing styles for NgModules in the type dropdown and list.

Styles for API labels are here: https://github.com/ngrx/platform/blob/master/projects/ngrx.io/src/styles/_constants.scss#L60

Original styles for reference:
https://github.com/angular/angular/blob/master/aio/src/styles/_constants.scss#L60

[2019-02-28 15:24] CassiusHorvath commented on #951
I got a similar situation, and after a lot of time, checking my code, I found a missing property return in the switch case actions in the reducer.
Make sure you load your previous state with spread operator `{...state, property: action.payload}` and then set what you want. In my case on of my actions was missing, no error there, but got the exact same error as you.

Hope it helps!

[2019-02-28 15:25] timdeschryver commented on #1587
The `createSelector` example in your example is behaving as intended.
The 2nd parameter (`state => state`) is just a second selector, it isn't relying on the output of the first one (`getBooksState`) and thus receives the full state object.

The `getBookEntitiesStat` select is composed of multiple selectors:
- the first gets as input the full state and retrieves the `books` from the state
- the se

[2019-02-28 15:25] #1587 closed

[2019-02-28 21:12] santoshyadav198613 commented on #1412
@brandonroberts let me take care of this, also can i merge https://github.com/ngrx/platform/issues/1564
with this.

[2019-02-28 21:20] brandonroberts commented on #1412
@santoshyadav198613 Sure! But keep them as separate PRs.

[2019-02-28 21:34] #1566 closed

[2019-02-28 21:50] #1588 closed

[2019-03-01 11:19] tja4472 opened #1592 "example-app: vscode reports Typescript problems"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## What is the current behavior?

![image](https://user-images.githubusercontent.com/18631456/53634823-2a1b7b00-3c13-11e9-9646-0bbf54d2192f.png)

## Expected behavior:

No problems

## Minimal rep

[2019-03-01 11:57] brunano21 commented on #414
Hey lads, I'm having some difficulties in unit testing an effect which uses `withLatestFrom(this.store.pipe(select(getFoo)))`. Does anyone have a hint about?

[2019-03-01 16:26] akmjenkins commented on #646
@metasong

Your is the solution I was looking for. Continually having to go inside each switchMap to catch errors brings back the often despised callback hell that people have spent significant effort to avoid. Not sure why people have deemed it acceptable when it comes to rxjs (or is it ngrx? I'm new to observables in general, so please take it easy on me!).

Anyway, thanks for your solution! It

[2019-03-01 17:48] Ariesdesire commented on #645
I had this issue my variable was getting cAlled before it was initialized  when my component was loaded. was able to track it down with the timeline debugging. My problem was in my component I used my components state when I initialized the store once I initialized with the root store problems went away

[2019-03-01 18:02] timdeschryver commented on #1592
Thanks for filling the issue, would you want to submit a PR @tja4472 ?
(We already got a `tsconfig.app.json` for the `example-app`.)

[2019-03-01 18:04] timdeschryver commented on #1564
Sure, go for it @santoshyadav198613 .
But as Brandon already has mentioned, submit them as separate PRs.

[2019-03-01 18:15] tja4472 commented on #1592
Will do.

We can't just copy `tsconfig.app.json` as the excluded files causes problems with the `*.spec.ts` files within vscode.

[2019-03-01 19:16] santoshyadav198613 commented on #1412
Hi @brandonroberts ,

To achieve this we have to use plural function the changes are required at schematics-core/utility/ngrx-utils line no 93.

We are using regex as of now, for plural got 2 options
1. regex : [/([^aeiou])y$/,/()fe?$/,/([^aeiou]o|[sxz]|[cs]h)$/].map((c,i)=>s=s.replace(c,`$1${'iv'[i]||''}e`))&&s+'s'

2. https://github.com/blakeembrey/pluralize

I tried with both and it works fine.

[2019-03-01 20:01] bbonczek commented on #1567
Hi, I've recently wrote an article on polling using ngrx effect. If anyone needs help here is the link: https://bbonczek.github.io/jekyll/update/2018/03/01/polling-with-ngrx.html

[2019-03-01 21:54] michael-lang commented on #931
Our workaround is to delay load of the application until the configuration is loaded within main.ts. We do this to toggle Rest API urls and OAuth client id settings between different deployed environments.

replace this:
`platformBrowserDynamic().bootstrapModule(AppModule)`

with this:
[code]

This means the code loading the configuration cannot rely on Angular's HttpClient.

[code]

A sample conf

[2019-03-02 12:22] isaelblais opened #1594 "Type 'MemoizedSelector<AppState, Post>' is missing the following properties from type 'Post': Title, Content, Views, TagsId, and 3 more. [2740]"
[ ] Regression
[X] Bug report
[ ] Feature request
[X] Documentation issue or request

Hi, I know there is other issue here on github about this topic. But im really stuck with this.

Here is all my code:

Post class:
[code]

Posts State Class:

[code]

Component Class:
[code]
How can I get the right type from my custom selector ?  I really don't get it.... Thanks in advance for your help.

[2019-03-02 12:37] timdeschryver commented on #1594
`fromPosts.getPostById` is a function, so you have to invoke it `fromPosts.getPostById(5)`.

[2019-03-02 12:37] #1594 closed

[2019-03-02 12:53] isaelblais commented on #1594
This didn't solve the issue

[2019-03-02 13:03] isaelblais opened #1595 "Argument of type 'MemoizedSelector<AppState, Post>' is not assignable to parameter of type 'string'."
[ ] Regression
[X] Bug report
[ ] Feature request
[X] Documentation issue or request

Hi, I know there is other issue here on github about this topic. But im really stuck with this.

Here is all my code:

Post class:
[code]

Posts State Class:

[code]

Component Class:
[code]
How can I get the right type from my custom selector ?  I really don't get it.... Thanks in advance for your help.

[2019-03-02 13:03] timdeschryver commented on #1594
If you can reproduce this issue in a StackBlitz or in a GitHub repository, I can take a look.

[2019-03-02 22:25] manklu commented on #1595
You should provide a **complete** sample in a StackBlitz or in a GitHub repository,

[2019-03-03 11:00] timdeschryver commented on #1595
Hi, as @manklu says and mentioned in #1594, we need a sample reproduction (on StackBlitz, or GitHub) where this occurs.

[2019-03-03 16:47] santoshyadav198613 commented on #1564
HI @timdeschryver and @brandonroberts ,

Can you let me know how i can run code coverage on my local i am using windows, every time i run i get

----------|----------|----------|----------|----------|----------------|
File      |  % Stmts | % Branch |  % Funcs |  % Lines |Uncovered Lines |
----------|----------|----------|----------|----------|----------------|
All files |  Unknown |  Unknown |  U

[2019-03-03 17:50] nukec commented on #931
There is no need of usage of APP_INITIALIZER here. Just use redux to load config.json in app.component.ts.  You dispatch action on init, and then effect should take care of loading config.json with httpclient, and dispatch another action which then stores config into state.

`this.store.dispatch(new LoadConfig());`

[code]

that's it. you take care about payload assignation in reducer.

[2019-03-03 21:27] timdeschryver commented on #1564
I'm also on a Windows, and I do see the coverage with `yarn test`.
Which script are you running?

[2019-03-03 21:39] michael-lang commented on #931
@nukec If you have multiple Effects that all depend on service configuration, this can get really tedious to copy this code around. It really is better to have the configuration loaded earlier.

[2019-03-04 05:12] jsonberry commented on #857
Just a note here to bring this up to the surface, the `DataPersistence.navigation` lib from `@nrwl/nx` does not play nice with the suggested custom serializer for the `@ngrx/router-store`, see https://github.com/nrwl/nx/issues/191#issuecomment-448312694

It's just important to keep custom serialization and store dev tool replacer configuration open for customization, but I don't think there's any

[2019-03-04 08:30] santoshyadav198613 commented on #1564
I am using the same command , i am getting below message when i run it, does this pending step has something to do with it?

Pending:

1) integration spec should support preventing navigation
  Temporarily disabled with xit

407 specs, 0 failures, 1 pending spec
Finished in 108.42 seconds

----------|----------|----------|----------|----------|----------------|
File      |  % Stmts | % Branch |  %

[2019-03-04 16:26] tbnovaes opened #1599 "Allow to prepend item"
It would be good to have a way to add an item to the top of the array, instead of the end.

## Describe any alternatives/workarounds you're currently using
using sortComparer to sort it by the property you want on the top

## Other information:

The workaround works fine when you want to sort by some property that follows a sequence (name, id, created_at, updated_at, etc)

However, using as exampl

[2019-03-04 17:01] SerkanSipahi opened #1600 "Strange behavior: adapter.getSelectors() behaves different on different apps"
I've been struggling with a problem since yesterday. I don't know if it's a bug or if I'm doing something wrong. Here is my code and to the end my findings. My code is the same from ngrx-example-app (structure etc) and the only difference is that my state is not loaded lazy . Furthermore im using the latest ngrx version v7.3.

### Code:
#### vehicleClasses.reducer (the same exists for modelSeries.

[2019-03-04 17:47] #1185 closed

[2019-03-04 17:53] SerkanSipahi commented on #1600
Can it be that adapter.getSelectors behaves differently with lazy loaded modules?  So that it passes the global state object?

[2019-03-04 17:56] manklu commented on #1600
@SerkanSipahi IMO the best way to get help is via a complete sample in a StackBlitz or in a GitHub repository,

[2019-03-04 18:08] brandonroberts commented on #1600
Thanks @manklu. We already talked to @SerkanSipahi about opening this issue without a full repro yet.

[2019-03-04 20:05] timdeschryver commented on #1600
Hmmm, I don't see it directly...

Just to be sure, you did register ngrx/store with `StoreModule.forRoot` in the `AppModule` right?

(I've updated the question to add some TS formatting)

[2019-03-04 20:12] timdeschryver commented on #1599
I'm not sure if this would be for the best.
What about adding a sort property on the items that are retrieved?

[2019-03-04 20:14] SerkanSipahi commented on #1600
@timdeschryver sure.
[code]

[2019-03-04 20:40] Ariesdesire commented on #1600
Im having this same issue i Know its not a bug but im missing something in my understanding of working with ngrx enity

[2019-03-04 20:50] brandonroberts commented on #1600
Will you show how you are using the selector also? `store.pipe(select...))`

[2019-03-04 21:04] SerkanSipahi commented on #1600
[code]

But do you it has something to do with the store selector?

[2019-03-04 21:10] brandonroberts opened #1601 "RFC: add blog section to ngrx.io"
Instead of posting to Medium, we could integrate a section for blog posts into the ngrx.io app.

Pros:

- Infrastructure is already in place to generate pages from markdown
- Integrated code examples we could generate StackBlitz examples from
- More control over content analytics
- Allows for contributors/guest posts as PRs
- Take advantage of GitHub for peer reviews

Cons:

- We have to release t

[2019-03-04 21:18] brandonroberts commented on #1600
Yep. The lines that jump out to me are

[code]

Your `selectAll` is filtering down twice from root -> vehicleFinder -> vehicleFinder. Your selector should look something like

[code]

OR

[code]

[2019-03-04 21:23] brandonroberts commented on #1600
When you pass a function to the `adapter#getSelectors`, you're saying "I'm providing you a selector to get to my entities". The `selectAll` is just a function that returns your `ids` mapped to your `entities`. You don't need an additional selector to use.

When you don't pass a function to `getSelectors()`, you're saying "Just give me a function I will use to compose with another selector"

[2019-03-04 21:34] SerkanSipahi commented on #1600
Thank you, it looks good, the previous mistake will not become more. but now i have an other error:
[code]
and a compiler error in `vehicleClasses$: Observable<VehicleClass[]> = this.store.select(selectAllVehicleClasses);`
[code]

I had this `map` error yesterday (i think i was on a good track but then throw it later because it not working proper for me).

[2019-03-04 21:37] brandonroberts commented on #1600
Try this

[code]

[2019-03-04 21:48] SerkanSipahi commented on #1600
Yes, its works (renders correct values, no runtime error). Thank you so much. I am infinitely grateful. Now i have to process (brain) the whole thing first :) That was really a lot in the last 2 days for me. Had a lot of pain!

Last think, i get a compiler error for `vehicleClasses$: Observable<VehicleClass[]> = this.store.select(selectAllVehicleClasses);` compiler error ==> selectAllVehicleClasse

[2019-03-04 22:22] SerkanSipahi commented on #1600
@brandonroberts I think we can close this issue ticket because my last thread has nothing to do with with the initial error (i guess).

Thank you again.

[2019-03-04 22:31] brandonroberts commented on #1600
Cool. Yea, I think the other error was due to the old selector. Glad it got sorted out.

[2019-03-04 22:31] #1600 closed

[2019-03-05 14:32] brandonroberts opened #1602 "Docs: Add Angular Checklist link and description to resources page"
## Describe any alternatives/workarounds you're currently using

Angular Checklist has a good checklist of items when building with NgRx.
Add an entry under `Example Projects` in the resources file with the following format:

[code]

The resources file to update is here.

https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/marketing/resources.json

[2019-03-05 15:25] vlapenkov opened #1603 "subscription in component vs in service"
I'm newbee in Redux (ngrx). I have simple app:  FilterComponent, ListComponent and one AppStore.
[code]
When user change one of filters on form, FilterComponent notifies store that filters changed.
`this.store.dispatch(new SetFilterAction(  newFilter));`
 Than i need to make http get request to get resultset and make dispatch: `this.store.dispatch(new LoadCarItemsAction(list))`.
The question is :

[2019-03-05 17:38] timdeschryver commented on #1602
The URL to point to is https://angular-checklist.io/, right?

[2019-03-05 17:45] #1592 closed

[2019-03-05 18:13] timdeschryver commented on #1603
Hi, this is where most of the NgRx users are using [@ngrx/effects](https://ngrx.io/guide/effects) for. An effect handles all of the side effects within an application using NgRx, and can be triggered when you dispatch an action.

In your case the effect will call the service when it receives the `SetFilterAction` (or `LoadCarItemsAction`?) action. When the service returns data, the effect will dis

[2019-03-05 18:13] #1603 closed

[2019-03-05 18:16] timdeschryver commented on #1601
Would losing Medium's platform to reach people (who have subscribed to NgRx) also be considered a con?

[2019-03-05 19:31] santoshyadav198613 commented on #1602
Will do it guys.

[2019-03-05 20:11] brandonroberts commented on #1602
Yep. @santoshyadav198613 let someone else take this one. You're not a first timer anymore 😄

[2019-03-05 20:13] brandonroberts commented on #1601
Maybe so.There are 300+ people subscribed right now

[2019-03-05 22:40] thiagogjt commented on #1601
Could the documentation have a life cycle of its own?

[2019-03-06 08:54] tkglaser opened #1604 "UpsertOne does not clear missing optional fields"
## Minimal reproduction of the bug/regression with instructions:

https://stackblitz.com/edit/ngrx-seed-eichyx

Press the buttons in the order of WITHOUT OPTIONAL -> WITH OPTIONAL -> WITHOUT OPTIONAL. Notice, that once the optional field is set, it is never unset.

## Expected behavior:

I would expect that upsertOne() replaces the object in the store with the object I've passed in. Instead it see

[2019-03-07 13:32] swapnil0545 commented on #414
Yes, this kind of documentation is indeed needed that too along with new Mockstore implementation

[2019-03-07 16:24] fwoelffel commented on #931
Thanks to @brandonroberts for his workaround. However, when `provideBootstrapEffects` was called multiple times, effects ended up shadowed and not all of them where injected.

Here is what we came up with:
[code]

[2019-03-07 18:36] timdeschryver commented on #1604
At first, I was thinking that this isn't a bug. But after giving it some thought I do agree because it has the `entity: T, state: R` signature, thus it should just replace the entity in the store. Would you agree with this @brandonroberts ?

Indeed, the two objects are being merged - [./modules/entity/src/unsorted_state_adapter.ts#L100](https://github.com/ngrx/platform/blob/master/modules/entity/s

[2019-03-07 21:08] #1602 closed

[2019-03-07 21:11] #1581 closed

[2019-03-07 21:43] brandonroberts commented on #1604
Its not a bug, but I think it is a preference. To me an `upsert` should be a non-destructive update (unless you make fields null/undefined) or insert if not present. Its currently geared towards partial updates, which I think is correct.

[2019-03-07 21:47] brandonroberts opened #1608 "Docs: add contributors page"
Powered By The Community ™️

We should create a page that list our community of contributors. We should be able to get this data from GitHub to generate data for the page. Maybe break down contributors per major release?

[2019-03-07 21:51] timdeschryver commented on #1604
Those were my initial thoughts 😄

I think we can close this issue?

[2019-03-07 22:01] brandonroberts commented on #1604
Yep

[2019-03-07 22:01] #1604 closed

[2019-03-07 22:30] tkglaser commented on #1604
I see what you're saying and I agree it's a matter of preference. To me, intuitively, an `upsert` should be a full replace otherwise it's the same as an `update`. However, the workaround is straightforward, so it's not that big of a deal. Ngrx is a great package and I'd just like to take a moment to thank you guys for maintaining it and doing such a great job in general! 🙂

[2019-03-08 12:48] #1564 closed

[2019-03-08 13:34] batousik opened #1610 "Please update example app to use v7"
## Support Requests should not be opened as issues and should be handled in the following ways:

### On [StackOverflow](https://stackoverflow.com/questions/tagged/ngrx) using the `ngrx` tag

### In our gitter support channel at https://gitter.im/ngrx/platform

[2019-03-08 15:43] bala1074 opened #1611 "ngrx/store reducer component store subscribe method is calling incrementally"
I'm subscribing to ngrx/store reducer in my angular component, whenever the store changes the subscribe method is getting call incrementally.

 this.store.select(state => state.dashboard.keyval).subscribe(keyval => {
      console.log('hi');
    });
hi
store change
hi
hi
store change
hi
hi
hi
store change
4 times console 'hi'
and so on...
every time store changes, all subscibe methods are getting

[2019-03-08 19:16] timdeschryver commented on #1611
I think you just created a memory leak, make sure you clean up the Observable stream by using the `unsubscribe` method when you use `subscribe`.

[2019-03-08 19:16] #1611 closed

[2019-03-08 19:19] timdeschryver commented on #1610
Hi, can you point us to some places where we haven't or create a PR?

[2019-03-08 19:27] timdeschryver commented on #1608
Yes! 😄

[2019-03-10 16:07] antonyRoberts commented on #1604
@tkglaser The generally accepted term for upsert is to **insert** a new entry if none exists, **update** the entry if it does.

[2019-03-10 16:11] santoshyadav198613 commented on #1544
Hi @brandonroberts ,

Can i help here, i am already learning schematics, will be helpful for me.

[2019-03-11 00:00] tkglaser commented on #1604
@antonyRoberts I know. It's the signature of the function that threw me. As Tim pointed out above, it takes a `T` and not a `Partial<T>` which led me to believe, the whole thing gets replaced. From a semantic point of view it should really be `T | Partial<T>`, which is of course a type definition that doesn't make much sense because `T` is already a `Partial<T>`. As I said above, nevermind, the so

[2019-03-11 16:34] brandonroberts opened #1614 "Schematics: Remove deprecated defaultProject"
## Describe any alternatives/workarounds you're currently using

More context here https://github.com/angular/angular-cli/pull/12394, but `defaultProject` is being deprecated as the CLI will use the current working directory to determine where to generate files.

[2019-03-11 16:54] brandonroberts opened #1615 "Docs: Update events page with upcoming events"
Past events are listed in upcoming events. Some upcoming events are missing also

- Angular Connect
- Angular Denver
- Component.tech
- NG-MY
- ngRome
- ngVikings
- NG-MY
- Open Source 101
- Refactr.Tech

Other people speaking about NgRx at some event are welcome to add theirs also.

[2019-03-11 18:54] santoshyadav198613 commented on #1614
Hey @brandonroberts ,

Is this is the same change wee added last week, let me know i can roll it back, and what project to take by default.

[2019-03-11 18:55] santoshyadav198613 commented on #1615
Hi @brandonroberts ,
Let me know i can take it.

[2019-03-11 19:30] brandonroberts commented on #1614
Yes, we will revert that change. I'll see about further impact, so don't change anything else yet.

[2019-03-12 13:03] #1412 closed

[2019-03-12 14:26] lufonius commented on #189
It doesn't seem like this is fixed. I read about a workaround with `Object.assign(token, reducers)` before initialising the module, but that also did not work for me. I made a [reproduction](https://stackblitz.com/edit/angular-jp8ygm), just download it, install deps and run it with `ng serve` and then `ng serve --aot`. In my case, the reducer completely vanishes in aot mode (see store devtools or

[2019-03-12 18:01] timdeschryver commented on #189
@lufonius move the feature module to its own separate file and it should work.

[2019-03-12 19:56] itayod commented on #1615
[Angular Up](https://angular-up.com/)

[2019-03-12 19:56] itayod commented on #1615
[Angular Up](https://angular-up.com/)

[2019-03-12 19:56] itayod commented on #1615
[Angular Up](https://angular-up.com/)

[2019-03-12 20:37] lufonius commented on #189
@timdeschryver hi, yes it's working now. Thanks a lot! I did not move it to a separate file as I had the same problem with a project at work, but the feature used to be in a separate file there. not quite sure now, what the problem is ... having a look at it :)

[2019-03-12 20:47] vkvarma commented on #348
Can we provide the StoreModule.forRoot({}) at platform level in angular 6/7 and ngrx 4 when two different angular app/elements on the same page ?

[2019-03-13 00:38] kstack-au commented on #548
what did you do to get this to work for root state?

[2019-03-14 07:31] filipkappa opened #1618 "Please consider adding Angular-Bootstrap-Boilerplate to /resources"
Please consider adding the [Angular Bootstrap Boilerplate](https://github.com/mdbootstrap/Angular-Bootstrap-Boilerplate) to https://ngrx.io/resources
It's an open sourced Angular CRUD application starter with NgRx state management and Firebase backend.

[2019-03-14 07:56] abbasogaji commented on #31
@jotatoledo
CORRECT SOLUTION:
replace
`export type SettingActions
    = ListSettingAction
    | ListSettingSuccessAction
    | ListSettingFailureAction
    | OpenDrawerAction
    | CloseDrawerAction
    | UpdateSettingAction
    | UpdateSettingSuccessAction
    | UpdateSettingFailureAction;`

with:
`export type SettingActions
    = ListSettingAction
    & ListSettingSuccessAction
    & ListSetting

[2019-03-14 08:07] abbasogaji commented on #31
@jotatoledo
**CORRECT SOLUTION:**

**REPLACE:**
[code]

**WITH:**
[code]

You just need to use "&" operator instead of  "|"

[2019-03-14 12:47] brandonroberts commented on #1618
If someone wants to submit a PR, the file is here https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/marketing/resources.json

[2019-03-14 12:51] johnpapa commented on #1554
Is there an update on this or estimated time to be merged?

[2019-03-14 12:55] brandonroberts opened #1620 "CI: add script to cleanup previews on preview repo"
We generate a preview on each PR commit on the preview repo. We should clean up these previews once the PR is closed.

[2019-03-14 18:52] timdeschryver commented on #31
@abbasogaji I would strongly advice against using `&`, this will create an Action type that has all of the action's properties. Instead, type the action's property within the reducer and type the injected actions inside effects.

You can take a look at the [example app](https://github.com/ngrx/platform/blob/master/projects/example-app/src/app) for an example.

[2019-03-14 19:22] timdeschryver commented on #1481
What about `localStorage`, that we could also wrap in a meta-reducer?

[2019-03-14 19:26] brandonroberts commented on #1481
That's what I had in mind

[2019-03-14 19:49] hollygood commented on #1077
@maxisam hey, do u have the example for using the store in library?

[2019-03-14 20:25] brandonroberts opened #1621 "Docs: Add recipe guide for using Store with custom elements"
People have asked how you use a single Store across multiple custom elements.

Requirements:

- A guide that shows how to set it up.
- A downloadable live example under `projects/ngrx.io/examples` that is referenced in the guide.

[2019-03-14 20:27] brandonroberts opened #1622 "Docs: Add recipe for NgRx and server-side rendering"
We will have an official serialization and hydration API, but we still need a guide for the current setup as described in https://github.com/ngrx/platform/issues/101

Requirements:

- A guide that shows how to set it up.
- A downloadable live example under `projects/ngrx.io/examples` that is referenced in the guide.

[2019-03-14 22:01] #1618 closed

[2019-03-15 10:56] chirag-vashisht opened #1624 "Issue with pre-compiled module"
I am working a pre-compiled module that has a feature state with angular 7.2.0 and ngrx version 7.3.0. But I keep getting following error when I imported the module into another repository.

Below is the code for compiled module
[code]
Could someone help me here?

[2019-03-15 13:58] adrianzaorski opened #1625 "Issue with compose function of @ngrx/store"
## Minimal reproduction of the bug/regression with instructions:
When running an app with `production: true` I receive an error, however this error occurs only if I am trying to reach any route like `example.com/admin`, `example.com` works, also when `production: false` everything is working fine.

Error is:
[code]
![image](https://user-images.githubusercontent.com/40486935/54435980-fe7bb300-4731-

[2019-03-15 14:09] maxisam commented on #1077
@hollygood not in public library. sorry. But it is nothing new, just treat it like a feature store.

[2019-03-15 16:21] darnautov commented on #931
I’ve faced an issue with this workaround.
Based on docs all callbacks provided via APP_BOOTSTRAP_LISTENER will be called for every component that is bootstrapped. Hence root effects are registered after AppComponent initialized, so when I dispatch an action inside ngOnInit there is no effect yet.
Is there any way to register root effects after APP_INITIALIZER has been resolved and before AppCompon

[2019-03-15 16:54] darnautov commented on #931
I implemented ngrxOnInitEffects for effects, listen for init action and map to the action I was originally dispatching inside of ngOnInit of my AppComponent, but not sure it's a good idea.

[2019-03-15 17:44] timdeschryver commented on #1625
Do you got a reproduction of this?
A wild guess would be that there is something wrong with the reducers.

[2019-03-15 19:10] #1615 closed

[2019-03-15 19:36] brandonroberts opened #1626 "Docs: run unit tests for docs app"
We aren't currently running the suite of unit tests for the docs app because of changes made after the initial port.

This effort would:

- [ ] Run existing suite
- [ ] Fix necessary test and disable unnecessary ones
- [ ] Re-enable the docs tests in CI

[2019-03-16 04:05] brandonroberts commented on #1624
A GitHub repo with a small reproduction of the issue would help us diagnosis if its a problem on our end. We haven't changed any behavior about registering reducers with a token.

[2019-03-16 10:11] santoshyadav198613 commented on #1621
Hey @brandonroberts ,
I can start with this, can you tell me how should i get started,if you can guide me to any examples or demo.

[2019-03-16 10:11] santoshyadav198613 commented on #1622
Hey @brandonroberts ,
I can start with this, can you tell me how should i get started,if you can guide me to any examples or demo.

[2019-03-16 13:48] sidyes opened #1628 "Best practice for accessing root store from feature module"
Hey,

I am facing a "design" problem at the moment - what is best practice to access the root store inside of feature module that has its own store?

My root store (index.ts) is defined like this:
[code]

Then I have a feature store:
[code]
The related `menu.component.ts` needs the current URL from the router-store.
At the moment I have solved the problem like this:
[code]

Is it okay to inject th

[2019-03-16 16:00] adrianzaorski commented on #1625
I can't share this project, however you guessed right and thank you very much for that :D

[code]
line with `!environment.production ? storeFreeze : null` was causing this error.

[2019-03-16 18:07] timdeschryver commented on #1625
Alright! Glad we sorted it out 😄

[2019-03-16 18:07] #1625 closed

[2019-03-16 19:19] vasyliv opened #1629 "Sharing one state for multiple reducers"
## Minimal reproduction of the bug/regression with instructions:
https://github.com/vasyliv/ngrx-demo
go to repo
`npm run start`
click on button **get 1 item** (you will get 1 item per one click)
click on the link within an item from the list
go to the status page
change the status click submit
click on button **get 1 item** (you won't get 1 item per one click)

the problem is that reducer (`itemR

[2019-03-16 20:23] timdeschryver commented on #1629
I can't seem to run your example on stackblitz, but you have to provide an initial state (different from `undefined` and `null`) in the `itemStatusReducer`.

[2019-03-16 20:23] #1629 closed

[2019-03-16 22:19] vasyliv commented on #1629
@timdeschryver I've created the example on the stackblitz https://stackblitz.com/edit/angular-kgfaa6, however I guess the problem doesn't relate to state, the problem is that itemReducer doesn't work after initializing itemStatusReducer, it looks like itemReducer overrides after initialization itemStatusReducer feature module.

[2019-03-16 22:19] viqashussain opened #1631 "combineLatest not working with store.select"
## Minimal reproduction of the bug/regression with instructions:

https://stackblitz.com/edit/angular-3n5gfm

Add a new footballer to the list (name and club). The list should update with the new filtered list of footballers, but it only updates when you change the filter drop down list.

## Expected behavior:

footballers$ in items-list.component.ts to be updated when the state in the store chang

[2019-03-17 11:57] timdeschryver commented on #1629
I see.
What you're trying to do isn't possible, you can only have one reducer for each sub-state, e.g.

[code]

You can't have two reducers for a single sub-state.

[2019-03-17 12:02] timdeschryver commented on #1631
The problem is that the state is modified in an impure way, so it keeps the same reference. Because the check if the state is modified or not is a quick reference check `===`, the change doesn't trigger a state modification.

In your example, you should use the following the add a footballer

[code]

[2019-03-17 12:02] #1631 closed

[2019-03-17 12:17] timdeschryver commented on #1628
There is only one store, injecting stores as shown in the snippet will result in the same store getting injected twice.

[code]

You can indeed extend your feature state with the root state as shown in our [example app](https://github.com/ngrx/platform/blob/master/projects/example-app/src/app/auth/reducers/index.ts#L16).

For some more info you can take a look at [Sharing data between modules is p

[2019-03-17 12:17] #1628 closed

[2019-03-17 12:46] viqashussain commented on #1631
Of course, you need to make a deep copy, not a shallow one! Thank you so much!!!

[2019-03-17 12:48] timdeschryver commented on #1631
Glad we could help 😄

[2019-03-17 13:21] vasyliv commented on #1629
@timdeschryver thank you!

[2019-03-18 07:24] chirag-vashisht commented on #1624
Thanks for your time, I think the issue was with angular build, I set `preserveSymlinks` to `true`. And it started working.

[2019-03-18 17:19] alex-okrushko opened #1634 "Store: improve action creators"
## Problem
1) _Actions_ are consumed by **STRING** or **ENUM** types, however created by **class/function** which makes them **hard to track through IDEs** or other search tools. At some point our team resorted to creating the visualizer to try to tackle that problem. "Good action hygiene" helps, but only in devtools.

[code]

There has been a number of takes on this already (https://github.com/ng

[2019-03-18 20:07] timdeschryver commented on #1624
👍 As this is resolved, I will close the issue.

[2019-03-18 20:07] #1624 closed

[2019-03-19 13:43] brandonroberts opened #1636 "Example: Change search filter for E2E tests"
We have implemented visual testing, which works as designed, but the Google Books search doesn't return the same results consistently. We are currently searching for books containing `The Alchemist`. This should be updated to something more specific so we get more stable results.

[2019-03-19 13:44] brandonroberts commented on #1636
The line to change is here https://github.com/ngrx/platform/blob/master/projects/example-app-cypress/integration/round-trip.spec.ts#L40

[2019-03-19 15:41] brandonroberts opened #1638 "Example: Move E2E test suite into example-app folder"
File structure is changing for Angular CLI V8 so that the e2e tests are no longer a separate project. Example app should be updated to reflect this.

https://github.com/angular/angular-cli/commit/026ae8cefc450038ff87338066fe9929570dfb6f

[2019-03-19 17:22] ycbayrak opened #1639 "[Store || Effect] Lazily loaded modules uses different store object."
Versions

`@angular/*: 7.2.3`
`@ngrx/effects: 7.3.0`
`@ngrx/store: 7.3.0`

Hello there. Why are lazy-loaded modules using different State objects? What I'm trying to do, but I'm not successful, is that I have to dispatch actions in the newly installed module using the values in the root store object.

Suppose, we have defined a reducer in `AppModule` with `StoreModule.forRoot(reducer)` and the ini

[2019-03-19 19:02] #1626 closed

[2019-03-19 23:55] mtaran-google opened #1641 "[entity] updateOne, updateAll and map methods on EntityStore clear entity prototypes"
## Minimal reproduction of the bug/regression with instructions:
1. Put class instances as entities inside an ngrx/entity store
2. Try to use the above EntityAdapter operations on them
3. The operations work, but the objects turn into plain objects (prototype is just Object)

## Expected behavior:
The prototype chain on the entities is preserved.

## Versions of NgRx, Angular, Node, affected brows

[2019-03-20 04:42] barryajones commented on #1466
@nisargjoshi16 take a look at this medium article from the guys at [nrwl.io](https://blog.nrwl.io/5-reasons-to-use-angular-elements-390c9a629f89). It doesn't get into specific code samples but hopefully will answer some questions your team has.

[2019-03-20 12:28] cold-gin commented on #450
@brandonroberts Thank you for this link. But one scenario that is extremely difficult to mock is when you use a selector inside of an effect (especially more than ONE selector). The selector can be unit tested individually as you have shown, but really if one wants to just *override* the selector within an effect to return a mock so that the rest of the logic inside of an effect can proceed to be

[2019-03-20 14:36] tadamczak commented on #102
Bump. Is there any official solution to use effects inside web workers? Or general integration with ngrx?

[2019-03-20 15:27] dummdidumm commented on #1639
What you tell ngrx by importing `StoreModule.forFeature("lazy", reducer)` is "please add a new reducer with root path 'lazy'", so your state becomes:
[code]
If you just want to use the root state, then you don't have to use that import statement, just use the selectors/actions from your root.

[2019-03-20 15:48] jtcrowson commented on #1636
What do you mean that the Google Dooks search doesn't return the same results consistently?  Ordering is different?  Do we want a search that only yields one result?

[2019-03-20 16:30] trinhvanhuy commented on #858
HI @MikeRyanDev do we have any alternatives to LocalState for now ? I really want to use this pattern in my project

[2019-03-20 17:09] brandonroberts commented on #1641
@mtaran-google this is intentional. More context is provided here https://github.com/ngrx/platform/issues/1376#issuecomment-431691078

[2019-03-20 17:36] timdeschryver commented on #450
@cold-gin `MockStore` was added in NgRx 7.

[2019-03-20 18:19] timdeschryver commented on #1639
This is by design and is explained in our [docs](https://ngrx.io/guide/store/reducers).
I'm going to close this issue, but if something is unclear feel free to respond.

[2019-03-20 18:19] #1639 closed

[2019-03-20 18:36] timdeschryver opened #1642 "Docs(RouterStore): add DefaultRouterStateSerializer"
Add documentation for the default router serializer - https://github.com/ngrx/platform/blob/master/modules/router-store/src/serializer.ts to ngrx.io.
This should be a page under [Router Store](https://ngrx.io/guide/router-store)

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2019-03-20 19:08] #1441 closed

[2019-03-20 21:50] mtaran-google commented on #1641
I was aware that it's a best practice to use plain objects with ngrx/redux, but also that most things generally work fine/as expected if you don't.

Is this constraint documented somewhere on https://ngrx.io/docs? If not, this bug can be refocused on just spelling out that this isn't a well-supported use case.

[2019-03-21 01:47] brandonroberts commented on #1641
It is documented here currently https://ngrx.io/guide/entity#entity-and-class-instances

We can add more if it's not explicit enough

[2019-03-21 18:58] timdeschryver commented on #1636
I think the biggest problem would be location?

The API is documented at:
https://developers.google.com/books/docs/v1/reference/volumes/list

[2019-03-21 19:03] brandonroberts commented on #1636
Just something more predictable. May just need an additional `orderBy` filter so the most recent ones are always shown for that search, which should change less frequently.

[2019-03-21 19:05] JanisOzolins opened #1644 "Property 'forRoot' does not exist on type 'typeof EffectsModule'"
I'm trying to wire up effects to my app (Angular CLI: 7.3.6, Node: 10.10.0OS: Angular: 7.2.10).

But when trying to add `EffectsModule.forRoot([ MyEffects ])` to my app.module.ts file, I keep getting the `Property 'forRoot' does not exist on type 'typeof EffectsModule'`

Any ideas what might be causing this?

[2019-03-21 19:11] timdeschryver opened #1645 "Docs: Point to ngrx.io"
The example app refers to the documentation in the github repository, but should point to the https://ngrx.io website.

The line:
https://github.com/ngrx/platform/blob/master/projects/example-app/src/app/app.module.ts#L67

Should point to:
https://ngrx.io/guide/effects#registering-root-effects

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need h

[2019-03-21 19:13] timdeschryver commented on #1644
You should upgrade the ngrx packages (and possibly remove @ngrx/core).

See https://github.com/ngrx/platform/issues/784.

[2019-03-21 19:13] #1644 closed

[2019-03-22 11:40] #1645 closed

[2019-03-22 14:49] #1620 closed

[2019-03-22 22:08] mtaran-google commented on #1641
I see. That is detailed, though it's not actually accurate. You only run into problems when you use the three helpers listed -- otherwise the objects are kept as they are. In fact if other helpers started messing with our objects, that would be a significant breaking change and our project would have a hard time dealing with it, and I suspect the same is true for others. It would be nice if this w

[2019-03-24 20:37] timdeschryver commented on #1554
I had some time and started the migration at https://github.com/ngrx/platform/tree/ngrx-data.
Seems like the CI got some problems while running the tests 😅

[2019-03-25 12:47] abbasogaji commented on #31
@timdeschryver  ok thanks bro. i will take a look at ngrx effects, but is there any other suitable alternative without using ngrx effects?

[2019-03-25 14:24] timdeschryver commented on #31
I'm not sure what you're asking with

How to define action (and action unions) and how to use them within reducers has no dependency on ngrx effects.

[2019-03-25 17:00] alex-okrushko commented on #1634
Further discussion lead to the advantage of the single `createAction` function that resembles `createSelector`.

The action creator could be further simplified to

[code]

and the usage would be
[code]

The implementation would be heavily inspired ({read: copied with minor adjustments}) from the `ts-actions` library by @cartant

[2019-03-25 17:51] timdeschryver commented on #1634
👍👍

I would also like the following to be possible - https://github.com/cartant/ts-action#creator

[code]

I think it would also be possible to allow an `ofType` like this, right?

[code]

[2019-03-25 18:12] alex-okrushko commented on #1634
Yes, I plan to leave the options of `creator function`, `props()` and `payload()`.
`empty()` and `fsa()` aren't needed.

`ts-actions` has `isType(myAction)` and `guard(myAction)`.
I think we can adjust the `ofType` to handle these actions created with `createAction`, so that `.type` is no longer necessary - that would be similar to what `guard` is doing now.

[2019-03-25 18:30] tja4472 commented on #1634
Have ended up with an example app which shows ngrx using classes, action creators & ts-action.
https://github.com/tja4472/ngrx-ts-action

[2019-03-25 19:24] abbasogaji commented on #31
sorry i did'nt get that earlier but is this what you meant?:
For Example:
[code]
if this is what you meant, Yes i did that before, and in my AuthActions i exported a **_union type_ "AuthActions"** but it didn't work, it could only recognize "type" action property (within my reducer function)

see the following snippet:

**1. my custom ngrx action (auth.action.ts)**

[code]
**2. my reducer (auth.re

[2019-03-25 19:33] timdeschryver commented on #31
See #951 @abbasogaji - more specific https://github.com/ngrx/platform/issues/951#issuecomment-425190274

[2019-03-25 19:38] alex-okrushko commented on #1634
We also discussed to drop `payload()` function.

**Why?** Payload was serving as a **container object** to be passed constructor, so that property names had to be explicitly specified, e.g.
[code]

However, accessing properties through payload is a bit cumbersome. `action.payload.prop1`.

`props<T>()` function solves both of these problems.

Note, that if one still wishes to continue using `payloa

[2019-03-25 20:43] danday74 opened #1649 "Asynchronous meta reducer support"
Meta reducers seemingly don't support async operations. Therefore, I have to create multiple actions to overcome this limitation. You should be able to perform an async operation within a meta reducer that will allow, for example, the payload to be adjusted based on the response of an HTTP request. Such an approach would remove the boilerplate required to have multiple actions and effects to handl

[2019-03-25 21:52] alex-okrushko commented on #1641
@mtaran-google Yes, we ran into this issue as well (due to the generated classes).
I think we could provide custom clone function (instead of `Object.assign({}, original, update.changes)` which looses getters and setters)  that would solve the problem.

The current solution is to serialize the class before passing it to those entity methods.

[2019-03-25 21:53] abbasogaji commented on #31
@timdeschryver thankssss for the link....it worked like a charm.
I also tried debugging my previous code in the above comment,  and i surprisingly figured out the problem at last

The problem was actually in my code. I was defining the type of action's "type" property in my CustomActions classes, i was only supposed to assign values to it since its a property of the Interface "Action".
In a nut sh

[2019-03-26 07:06] musou1500 opened #1650 "docs(Schematics): example in "Default Schematics Collection" section is not working"
I tried config bellow(it is [documented here](https://ngrx.io/guide/schematics#default-schematics-collection)), but `ng g container` generates component with **css** file.

[code]

I tried `@ngrx/schematics:container` instead, it works.
Should I fix the document?

## I would be willing to submit a PR for the docs :heart:

[ x ] Yes (Assistance is provided if you need help submitting a pull request

[2019-03-26 08:30] adrianfaciu commented on #1650
Not sure I understand the problem, you have a config for `component` but generate a `container`.

Make sure you have NgRx set as the default collection:
`ng config cli.defaultCollection @ngrx/schematics`
This should add this property to angular.json:
`"defaultCollection": "@ngrx/schematics"`

Having this, you can generate a component and it will use the settings specified under NgRx in schematics.

[2019-03-26 08:45] timdeschryver commented on #1650
As @adrianfaciu pointed out, you're generating a container.
Have you tried the following?

[code]

[2019-03-26 08:52] musou1500 commented on #1650
@adrianfaciu

I apologize that I had misunderstood the document. I had thought the config is also applied when generating a container....
I confirmed that `ng g component` generates component with scss properly. documented config is correct.

@timdeschryver
thank you. I tried it.

I understood documented config is correct.
Do you have plan to document how to generate a **container** with scss?

[2019-03-26 08:55] timdeschryver commented on #1650
Awesome! 👍

We can definitely add it to the docs.
Do you want to submit a Pull Request with these changes?

[2019-03-26 09:05] musou1500 commented on #1650
@timdeschryver
Yes. I want to submit a Pull Request.
I am thinking that where to document it....
How about the adding the descriptions to "Examples" section in "Container" page ?

[2019-03-26 09:19] timdeschryver commented on #1650
Yea, I think it can have its place there.
Let's wait on some feedback of @brandonroberts before you start 😄

[2019-03-26 09:42] maimArt opened #1651 "Errors occurring in effects are not caught right"
## Other information:

## I would be willing to submit a PR for the docs :heart:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

In the documentation of how to implement effects, you prefer to catch the error within the inner pipe:

[code]

If it is used like this, you just catch errors occurring during mapping the movies to a new 'Loaded Success' action within

[2019-03-26 10:17] timdeschryver commented on #1651
This isn't true. You want to catch the errors caused by `this.moviesService.getAll()`.
If you don't catch the errors on the inner pipe the whole stream will be destroyed. This means that if you would dispatch another `Load` action, `getAll` won't be executed because the Effect itself is destroyed.

[2019-03-26 10:17] #1651 closed

[2019-03-26 12:57] brandonroberts commented on #1650
Go for it 👍

[2019-03-26 15:45] maimArt commented on #1651
Sorry, but you are wrong. Please at least bother to write a simple unit test for the code of the current documentation where the service throws an error. You will see.

[2019-03-26 16:58] timdeschryver commented on #1651
This is exactly what the snippet in the docs is doing @maimArt, it catches thrown errors of the service.

See https://stackblitz.com/edit/ngrx-effects-catcherror-inner-stream for an example.

[2019-03-26 18:15] #1650 closed

[2019-03-26 18:57] wesleygrimes commented on #1621
@santoshyadav198613 In theory, it shouldn't be much different than implementing NgRx in a regular scenario. Custom elements can have services (injectables) injected into the constructor just like regular components.

My recommendation would be to create a GitHub repository that:

* Implements a simple NgRx Store with a Counter (number)
* Has a custom element that includes a button to dispatches an

[2019-03-26 19:34] itayod commented on #1634
What about adding factory for async flow that will create success, falied (and pending) actions?

I think it would reduce the boilerplate of create async flow, and will help to create standard conventions for async actions.

Suggestions of how the api will be:

[code]
Hope you like the idea, will be happy to help with PR. 😃

[2019-03-26 21:57] alex-okrushko commented on #1634
@itayod that would violate Good Action Hygiene™️  -  actions types should include the source in their type.

[2019-03-27 02:56] alex-okrushko commented on #1651
@maimArt `catchError` in the inner pipe is there **not** to catch error of action mapping, but to catch errors from the inner **Observable** generated by the service call **before** that observable is flattened into the main stream of actions with `mergeMap`(the outer pipe).

[2019-03-27 13:15] #1649 closed

[2019-03-27 14:40] King-i commented on #1481
Hi all,

I have a few days worth of spare time that I can devote to this and I think it is about time I cut my teeth on returning something back to the community, removing the `@ngrx/db` dependencies from the example app and updating the tests is simple enough, as for a replacement, If you can point me in the direction of how you envision that working?

Single action to store away state slices as

[2019-03-27 16:12] itayod commented on #1634
@alex-okrushko so just to make things clear, what you mean is that it will violate the Good Action Hygiene™️ because the action types for `success` and `failure` are created by the function?

If so, I got your point, It could also effect the `reducer` typing because the actions will not be included in the `FeatureActionTypes` enum.

However, I think the value here in terms of **naming standards**

[2019-03-27 19:40] timdeschryver commented on #1481
Hi @King-i, we're glad to hear that!

If I'm not mistaken, the only place where `ngrx/db` is used would be in [collection.effects](https://github.com/ngrx/platform/blob/master/projects/example-app/src/app/books/effects/collection.effects.ts).

The first step of the migration to `localStorage` would be to replace the `db` with `localStorage`. You can use the current setup and you won't need to crea

[2019-03-27 19:44] King-i commented on #1481
Wicked, Ill get right on that, it'll be my first public PR so i may need a little hand holding at the end :)

[2019-03-27 19:45] timdeschryver commented on #1481
Awesome! Feel free to ping us whenever you have questions 😄

One more thing 😅
You also might have to update some tests, and also your e2e test (with cypress) at https://github.com/ngrx/platform/blob/master/projects/example-app-cypress/integration/round-trip.spec.ts#L8.

[2019-03-28 04:51] santoshyadav198613 commented on #1621
Thanks @wesleygrimes ,

Will start working on the app.

Regards,
Santosh

[2019-03-28 10:34] danday74 commented on #1649
Why has this been closed? This is a feature request.

In reference to you comment ... "As the answer stated" ... this is a workaround and not an answer, you will notice that the answer was provided by me to my own question.

There are benefits of meta reducers being asynchronous. For example, in the scenario given in the Stack Overflow issue, use of an asynchronous meta reducer would remove the bo

[2019-03-28 21:13] yorraksahb commented on #1521
How can we do it using custom webpack configuration and not using angular-cli.

[2019-03-29 02:02] #1480 closed

[2019-03-29 03:30] brandonroberts opened #1657 "Store: Clean up public API"
Remove internal tokens, functions (ones starting with _) from public API exports

[2019-03-29 04:38] brandonroberts opened #1658 "Refactor: Remove ReflectiveInjector from tests"
We should be using the `Injector` instead of the old `ReflectiveInjector` for manual injector creation.

https://github.com/ngrx/platform/blob/master/modules/effects/spec/actions.spec.ts#L40
https://github.com/ngrx/platform/blob/master/modules/store/spec/store.spec.ts#L1

[2019-03-29 10:05] WuglyakBolgoink opened #1659 "Schematics-Store: lastIndexOf"
I try to check result and forgot write a store name:

[code]

**Result:**
[code]
![image](https://user-images.githubusercontent.com/2271337/55225159-4b6f8700-5212-11e9-8265-d41d670f5d63.png)

there is no check if [options.path exist](https://github.com/ngrx/platform/blob/master/modules/schematics/src/store/index.ts#L136)

[2019-03-29 12:22] brandonroberts opened #1661 "Docs: Add Spartacus to resources page"
## Describe any alternatives/workarounds you're currently using

Spartacus is a storefront app built with Angular and NgRx.
https://github.com/SAP/cloud-commerce-spartacus-storefront
Add an entry under `Example Projects` in the resources file with the following format:

[code]

The resources file to update is here.

https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/marketing/re

[2019-03-29 12:36] #1658 closed

[2019-03-29 13:12] brandonroberts opened #1662 "Router Store: Make usage of forRoot required"
You can currently register `@ngrx/router-store` in two ways.

[code]

and

[code]

This change would only make the `forRoot()` option available and removes the default providers from the `NgModule` metadata below.

https://github.com/ngrx/platform/blob/master/modules/router-store/src/router_store_module.ts#L134

Also replaces usage examples to use `forRoot()`

https://github.com/ngrx/platform/blob

[2019-03-29 15:21] musou1500 commented on #1661
I want to working on this. Is it OK to create a Pull request?

[2019-03-29 15:31] brandonroberts commented on #1661
This one is specifically for first-time contributors.

[2019-03-29 15:35] musou1500 commented on #1661
Certainly. Thank you.

[2019-03-29 16:07] King-i commented on #1481
Hi,
I managed to get a cypress up and running locally, this is the behaviour that is happening, im not sure if cypress clears down localStorage in between test cases?  (Note the collection is added into local store but is then removed, you have to catch it as its really fast)

![Peek 2019-03-29 16-03](https://user-images.githubusercontent.com/9218006/55246263-c64d9780-523c-11e9-89d5-a6630328b132.g

[2019-03-30 10:32] timdeschryver commented on #1634
Closed via #1654

[2019-03-30 10:32] #1634 closed

[2019-03-30 17:22] Fallenstedt opened #1668 "Testing an effect that uses withLatestFrom"
## Minimal reproduction of the bug/regression with instructions:

This issue is regarding tests. You can clone this simple example here: https://github.com/Fallenstedt/users-ngrx
1. npm install
2. ng test screens

## Expected behavior:

The effect uses `withLatestFrom` to pipe off the store and obtain data in the store.

Removing or adding `withLatestFrom` in the effect will make the test pass or

[2019-03-30 17:48] King-i commented on #1668
I dont think this is an issue with NGRX or your test setup,
In the example you have provided https://github.com/Fallenstedt/users-ngrx
You have defined your state as:
`{ user: UsersState }`
but you are loading in your feature state as `export const USERS_FEATURE_KEY = 'users';`

changing either your feature state to `users` or your state interface to `user` will solve your issue?

[2019-03-30 17:59] Fallenstedt commented on #1668
@King-i I cannot thank you enough. Last night I was so confused as to why I could not get my effects to to run properly. A single missing character led to so much confusion. I need to use my `USERS_FEATURE_KEY` liberally.

This is a classic "D'oh!" moment.

[2019-03-30 18:04] #1668 closed

[2019-03-31 05:57] tomNjerry opened #1669 "subscribe to dispatcher when a action is being dispatched."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x ] Feature request
[ ] Documentation issue or request
</code></pre>

## What is the current behavior?

## Expected behavior:

## Minimal reproduction of the problem with instructions:

## Version of affected browser(s),operating system(s), npm, node and ngrx:

##

[2019-03-31 13:49] timdeschryver commented on #1669
What is the underlying case you want to solve with this?
I think this is something we don't want to add, see #877.

[2019-03-31 19:14] brandonroberts opened #1670 "Schematics: Add schematics for action creators"
Follow up to #1480

1. Adds an `actionCreators` option to the `action`, `feature`, `entity` schematics that uses the new action creator functions instead of classes
2. The actionCreators flag will use a different set of files for scaffolding. This keeps our current structure with `files` intact.
3. Adds tests to verify the behavior of the previously mentioned schematics

[2019-03-31 19:20] brandonroberts opened #1671 "Docs: add docs for action creators"
Follow up to #1480

1. Updates the existing documentation to use new action creators feature
2. Adds a section for current usage of action classes

[2019-03-31 19:53] brandonroberts opened #1673 "Build: Update to latest Angular, TypeScript, Node dependencies"
As we move towards version 8, we need to bump these to the latest dependencies and fix any relevant errors.

- Angular: Latest Beta
- TypeScript: 3.3333... or 3.4?
- Node: 11

[2019-03-31 19:54] brandonroberts opened #1674 "Test: Update Jest test suite"
Update Jest to latest version, and update snapshots if necessary.

[2019-04-01 02:04] #1636 closed

[2019-04-01 06:12] mtaran-google commented on #1641
That would be nice! For now we're just avoiding those methods, which is not too terrible, but still not the best.

[2019-04-01 07:59] EnricoVogt commented on #1521
@yorraksahb i would try it with the CopyWebpackPlugin
https://webpack.js.org/plugins/copy-webpack-plugin/

[2019-04-01 09:38] DmitriyIvanko opened #1677 ""Const enum" for action generation"
It is better to generate "const enum MyActionTypes" instead of "enum MyActionTypes" (for default settings). This will reduce the size of the bundle.

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ + ] No

[2019-04-01 09:56] Odonno opened #1678 "Add NavigationExtras in the router request action"
My current objective is to be able to get the list of routes in the application. For now, I can listen to back/forward move with the following:

[code]

But I miss one case with the `replaceUrl` of `NavigationExtras` from `@angular/router` package https://angular.io/api/router/NavigationExtras

## If accepted, I would be willing to submit a PR for this feature

[x] Yes (Assistance is provided if y

[2019-04-01 10:41] alex-okrushko commented on #1641
@mtaran-google  I sent you the link with the serialization workaround - not sure if you saw it before it was deleted. Ping me if you missed it :)

[2019-04-01 12:49] #857 closed

[2019-04-01 13:38] #1368 closed

[2019-04-01 13:40] #1557 closed

[2019-04-01 13:42] #1558 closed

[2019-04-01 13:45] brandonroberts opened #1681 "Docs: Add docs for effect creators"
Follow-up to #1667

1. Document usage of `createEffect`
2. Keep reference of `@Effect` decorator for current users

[2019-04-01 13:50] brandonroberts opened #1682 "Schematics: Add schematics for effect creators"
Follow up to #1667

1. Adds an `effectCreators` option to the `effect`, and `feature` schematics that uses the new effect creator function instead of decorators
2. The `effectCreators` flag will use a different set of files for scaffolding. This keeps our current structure with `files` intact.
3. Adds tests to verify the behavior of the previously mentioned schematics

[2019-04-01 14:02] #1662 closed

[2019-04-01 14:20] timdeschryver opened #1683 "Example: enable immutability checks"
With #1613 merged, we have to enable the `strictImmutability` check by providing `runtimeChecks` at https://github.com/ngrx/platform/blob/master/projects/example-app/src/app/app.module.ts#L38

This will act as a replacement of ngrx-store-freeze, which is already removed from the example-app.

If you start with this issue, please leave a comment.

[2019-04-01 14:27] #1610 closed

[2019-04-01 14:28] #1595 closed

[2019-04-01 14:30] #1481 closed

[2019-04-01 14:32] brandonroberts commented on #1470
Seems reasonable to me if you're still willing to submit a PR.