[2021-07-20 12:35] #3073 closed

[2021-07-20 19:43] owl-from-hogvarts commented on #3073
Thanks for reply.

Sorry, my english is quite poor)

I mean what will store do when updater return:
1. partial state with values which are already in store
2. empty opject (`{}`)

These thing are not documented in `componentStore`.

[2021-07-20 21:30] #101 closed

[2021-07-20 21:30] #102 closed

[2021-07-20 21:31] #856 closed

[2021-07-21 01:48] #859 closed

[2021-07-21 01:49] #1826 closed

[2021-07-21 01:51] #2283 closed

[2021-07-21 01:53] #2908 closed

[2021-07-21 02:11] brandonroberts commented on #3021
If the app is torn down, the store should be torn down with it using the destroy hooks.

[2021-07-21 02:11] #3021 closed

[2021-07-21 02:12] #2942 closed

[2021-07-21 02:12] #2881 closed

[2021-07-21 02:13] #2785 closed

[2021-07-21 02:13] #2746 closed

[2021-07-21 02:14] #2622 closed

[2021-07-21 02:14] #2781 closed

[2021-07-21 02:15] #2340 closed

[2021-07-21 02:16] #2333 closed

[2021-07-21 02:17] #2730 closed

[2021-07-21 02:19] #2790 closed

[2021-07-21 02:20] #994 closed

[2021-07-21 02:21] #1734 closed

[2021-07-21 02:22] #1828 closed

[2021-07-21 02:23] #2012 closed

[2021-07-21 02:24] #2077 closed

[2021-07-21 02:27] brandonroberts commented on #3004
I'm on board with bringing over the tour of heroes app

[2021-07-21 02:31] #1934 closed

[2021-07-21 02:32] #2434 closed

[2021-07-21 02:35] #2509 closed

[2021-07-21 02:37] #1946 closed

[2021-07-21 02:38] #2317 closed

[2021-07-21 03:00] brandonroberts commented on #2978
Closing as duplicate

[2021-07-21 03:00] #2978 closed

[2021-07-21 03:02] #1622 closed

[2021-07-21 03:05] #2838 closed

[2021-07-21 03:06] #2495 closed

[2021-07-21 03:10] brandonroberts commented on #3067
This is a preference, and putting selectors in the `index.ts` is fine also.

[2021-07-21 03:10] #3067 closed

[2021-07-21 04:42] yharaskrik commented on #3004
Sweet. I can try and do that this weekend. Do we want to replace the example app I had in there then with the tour of heroes one?

[2021-07-21 07:19] timdeschryver commented on #3004
I'm in favor of replacing the existing example app with the tour of heroes.

[2021-07-21 12:01] owl-from-hogvarts commented on #3073
@timdeschryver Pls check my previous comment) Thanks in advance.

[2021-07-21 12:33] #3065 closed

[2021-07-21 14:13] yharaskrik commented on #3004
Good idea, I think that's the best course of action. Will update this thread when I get it done.

[2021-07-21 19:54] lhbruneton commented on #2980
I agree some more documentation would be helpful.
In my case, I'm using `provideMockStore` in my unit tests, and since switching to factory selectors, my code builds and runs fine, but my tests are returning with this error: "Cannot read property 'ids' of undefined"

before
[code]

after
[code]

If these factories worked in my unit tests, this would be a huge improvement, as I would now be able to

[2021-07-25 01:54] pubkey commented on #2830
You can set the peer deps before running the `ng add` command.

[code]

Then you can run ```ng add @ngrx/store```

[2021-07-26 12:13] cannujBarfu0negjiz commented on #3070
# ****

[2021-07-26 12:47] cannujBarfu0negjiz commented on #3070
No seleccionar ningún cambio

[2021-07-28 15:44] maxime1992 opened #3100 "ngrxPush pipe is swallowing errors silently"
## Minimal reproduction of the bug/regression with instructions:

https://stackblitz.com/edit/angular-ivy-qvtpja?file=src/app/app.component.ts

- Install `@ngrx/component`
- Create an observable that emits a value (just so that we know we've correctly subscribed to it) and then which errors after some time
- Subscribe to it from the view twice:
  - With the `async` pipe: It will report the error c

[2021-07-28 17:23] timdeschryver commented on #2921
This is up for grabs if someone wants to create a Pull Request for it.

[2021-07-28 17:24] timdeschryver commented on #2944
Is this still the case @beeman ?

[2021-07-28 21:23] #3100 closed

[2021-08-04 15:12] nbhat000 commented on #683
Late to the game, but if anyone stumbles upon this, NgRx Effects now has an OnInitEffects lifecycle hook that can be used in the effect to accomplish this functionality: https://ngrx.io/api/effects/OnInitEffects

[2021-08-04 19:59] dmitryr117 opened #3107 "Mocking NGRX Factory Selectors"
Currently there seems to be no explanation on how to mock factory selectors. Now that selectors with props are going
deprecated - being able to mock factory selectors will be a lot more main stream. Current store.overrideSelector way
does not seem to work with factory selectors of the form:
[code]

[2021-08-04 20:39] markostanimirovic commented on #3107
Try this:

[code]

**Note:** If you're using Jasmine, set `"module": "commonjs"` in `tsconfig.spec.json`.

[code]

[2021-08-04 21:50] dmitryr117 commented on #3107
Yeah. This was pretty close, although I am using jest, so I had to modify the code a little. I am testing an angular resolver that has to select stuff from ngrx store. Also the mocked selector factory function output requires a **MemoizedSelector** output type. so I had to create a fake selector there. I am also using **@ngneat/spectator/jest**. That's where the **spectator** variable comes from.

[2021-08-04 23:31] preda7or opened #3108 "Incorrect change tracking of entity updates where ID got changed"
## Minimal reproduction of the bug/regression with instructions:

- Execute entity update where the `changes` contains a different id than the updated id
- Try to undo the update
- Profit

https://ngrx-seed-lejy6r.stackblitz.io

## Expected behavior:

- change tracking should work even with updates where the id changes
(use case: entities are files, id is the path, renaming the file changes the pa

[2021-08-05 02:57] kylecordes commented on #3059
@qortex Can you explain any further about the depth of RxJS 7 issues? In the comment above you link back to this same issue.

[2021-08-05 07:41] qortex commented on #3059
Woops sorry, bad copy/paste. Here is the link I was referring to: https://github.com/angular/angular/issues/41897#issuecomment-848018116

[2021-08-05 12:12] timdeschryver commented on #3108
Have you tried this in NgRx v12?

[2021-08-05 12:46] Legiew commented on #3059
The last angular version 12.2 supports both rxjs 6.x and 7.x so maybe we can open this issue again?

My question would also be what can we do to also make ngrx compatible to both versions?

We have a NX workspace with both angular and nest and we can't update to latest nest version (which is 8) because it requires rxjs 7.x.

[2021-08-05 13:18] dc-p8 commented on #2691
same for me. In VScode the typing is good but webstorm fail with the "as" syntax (but the "let" syntax has the good typing in webstorm).

[2021-08-05 15:58] timdeschryver commented on #2980
To test factory selectors, you can take a look at https://github.com/ngrx/platform/issues/3107#issuecomment-892958699

[2021-08-05 23:36] preda7or commented on #3108
Update the stackblitz to 12.3.0, still the same:
https://stackblitz.com/edit/ngrx-seed-lejy6r

[2021-08-06 18:24] lhbruneton commented on #3107
Thanks ! This solved most of my issues. Still, when I use multiple times the same selector factory with different arguments in the same effect, I keep getting `"error": [TypeError: Cannot read property 'ids' of undefined]`.
Do you have any idea why ?

[2021-08-07 20:04] dmitryr117 commented on #3107
I wonder if you are using NGRX Entities. EntityState has this **ids** field. Maybe at some point your entity becomes undefined during testing. Because if you mocked your selector - it should just keep returning the same thing unless it gets altered somewhere.

[2021-08-09 03:52] yzhe554 opened #3110 "Can we consider not removing selector with props?"
Dear NGRX maintainers,

I have seen the recent changes for deprecating props from selector. https://github.com/ngrx/platform/issues/2980
The very first question is: do we need to write a factory selector when we want an argument? In another word, is props the same to arguments?
My understanding is No.
https://github.com/reduxjs/reselect/tree/v4.0.0#accessing-react-props-in-selectors
If you only di

[2021-08-09 06:34] Kosmonaft commented on #3107
Is there a different way of mocking the factory selector without changing the `compilerOptions` for Jasmine?

[2021-08-09 06:44] yzhe554 commented on #3110
This will also break backwards compatibility to all projects have used reselect and rereselect with NGRX.
As an open source project, we probably should to reconsider the change.
But if this has been deeply discussed within NGRX team, can we please make this publicly announced or documented into roadmap.

[2021-08-09 07:09] Klaster1 commented on #3107
@Kosmonaft [memoize the factory](https://github.com/ngrx/platform/issues/2980#issuecomment-857197468) and use return values with `overrideSelector`. This works because memorized factory always returns a reference to the same selector for the same arguments.

[2021-08-09 12:56] timdeschryver commented on #3108
If I understand correctly, you're updating the `id` of an entity.
I find that a weird thing to do, and I'm not sure if this should be supported by NgRx Data.
In the example you give, I would expect a specific id field to be used instead of the path of the file.

[2021-08-09 23:06] preda7or commented on #3108
Yes, this is bit of an edge case, as people do not often change the id,
but in my case (and in case of all file systems) the file path works very well as an id.
I saw that the update response may override the id too, so I was thinking why couldn't the update itself do that already (I mean with correct change tracking).

(ps. if I used UIDs on the backend I need to access a database, with the path

[2021-08-10 00:11] joanferns00 commented on #931
@brandonroberts  This worked for me! Thanks!

[2021-08-10 19:19] lhbruneton commented on #3107
@dmitryr117 You're right, I am using NgRX Entities. But I already have several tests that work fine with your solution.
Now, as I said before, the only tests that are failing are those when I use multiple times the same selector factory with different arguments in the same effect.
I don't know how the **ids** field could become undefined, this is an internal property, we're not supposed to alter i

[2021-08-10 22:25] dmitryr117 commented on #3107
@lhbruneton I guess I you might have to post the code of what you are doing with an effect and the test because it is a bit unclear what is causing it. May have to do something with mocked function returning exactly the same output every time. I was unable to reproduce this issue in my environment.

[2021-08-11 21:01] moniuch opened #3112 "More explanation on reducers DI?"
## Other information:

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[x] No

With some previous intermediate experience in ngrx.io, I find this page:
https://ngrx.io/guide/store/recipes/injecting

not really helpful in explaining *WHY* one would use DI for registering reducers, as opposed to the commonly known

[2021-08-11 21:07] moniuch opened #3113 "Doc page about ngrx vs SSR"
## Other information:

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[x] No

I would personally find it very useful to see a page about ngrx vs SSR.

It might not be super obvious to all what sort of considerations (and if there are any) need to be made when using an ngrx app with SSR. An explanation on the st

[2021-08-12 07:20] mathudak commented on #3107
@dmitryr117

Is there some hidden catch in this mock? I'm using the same combo (Jest + Spectator) and when testing a component that uses factory selector, it fails as if the selector has returned `undefined`:

[code]
This is the mock implementation I tried

[code]

 And the usage in the component
[code]

Throws error
`TypeError: Cannot destructure property 'value' of 'undefined' as it is undefined

[2021-08-12 18:05] timdeschryver commented on #3110
Hi @yzhe554 I didn't think of reselect and re-reselect.
As someone who doesn't use both libraries, am I wrong to assume that you don't use `createSelector` from the NgRx package, but that you're the `createSelector` method from `reselect`?

If that's the case, then how does this deprecation affect this?
If it's not the case, then I'm curious how you integrate both libraries with NgRx selectors.

[2021-08-12 18:15] timdeschryver commented on #3113
I think this can be closed in favor of https://github.com/ngrx/platform/discussions/3078.
Feel free to re-open if that's not the case.

[2021-08-12 18:15] #3113 closed

[2021-08-12 18:21] timdeschryver commented on #3112
You can use it to dynamically create a root or feature reducer.
I haven't used it in my projects, but I believe a use case would to be to an add or remove a reducer based on the application's configuration, or based on the authenticated user.

[2021-08-12 21:17] yzhe554 commented on #3110
@timdeschryver thanks for replying. You don’t need to do anything but just use createSelector from reselect lib. I’m sure ngrx createSelector is inspired from reselect. They key thing is select function can purely just expect a memoized selector and it doesn’t need to know its implementation details or it’s decoupled from createSelector function. At least it was setup like this in day one or from

[2021-08-13 14:47] ocsurfnut opened #3114 "ngrxPush not working with strictTemplate checks"
## Minimal reproduction of the bug/regression with instructions:

Use the ` | ngrxPush` pipe with an observable typed differently than the `@Input()`.

## Expected behavior:

Error `Type 'X' is not assignable to type 'Y'.`

## Actual behavior:

No type error in IDE or from `ng build`.

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

Versions 11 and 12, not OS-spec

[2021-08-13 16:11] markostanimirovic commented on #3114
Generic parameter [here](https://github.com/ngrx/platform/blob/master/modules/component/src/push/push.pipe.ts#L57) seems like a surplus to me too.

[Reproduction with `ngrxPush`](https://stackblitz.com/edit/angular-ivy-ytb3lo?file=src/app/app.component.ts)

[2021-08-13 19:43] moniuch commented on #3113
@timdeschryver While #3078 indeed mentions SSR, what I had in mind was a primer, recipe-like doc page describing the flow, building blocks, limitations, etc. of using ngrx store with SSR. Not sure if this ticket should be seen as duplicate. I believe this sort of manual could help even before the aforementioned API gets created. Usually API documentation doesn't really help to understand the conce

[2021-08-15 10:22] hemangsk opened #3116 "[schematics/feature] Prefix option is not used when generating effects and reducers"
This happens when we create a new Store for feature with the feature schematic.

The generation command:

[code]
with the following settings:

[code]
This generates actions.ts with "custom prefix". But effects and reducers.ts still use the default "load" prefix. Related to (https://github.com/ngrx/platform/issues/3012)

## Minimal reproduction of the bug/regression with instructions:

- Repo with

[2021-08-17 03:45] vespertilian commented on #3107
@dmitryr117 solution worked for me in my effect for anyone else ending up here.

[2021-08-17 10:55] timdeschryver commented on #3110
I see, thanks for the elaboration.
If I understand correctly, it will "just" be the types for the NgRx `select` method that will be broken.

[2021-08-17 12:43] yzhe554 commented on #3110
Yes, the only other thing is, you don't have to always use selector factory. For example, I have a todo list and in the page, I have header and content both only display the the todo with id 1.
[code]
Firstly, if we run it twice, one in header and one in content components, we are holding two references while it's only one for props. Secondly, if I need to compose selectors, this will make all sel

[2021-08-20 06:23] lhbruneton commented on #3107
@dmitryr117  Sorry for the late reply. Here is an isolated faulty commit
https://github.com/lhbruneton/taormina/pull/58/commits/1ca9a3f9733cde4f4957e614a97c28f463d80b2d
As you can see, previous commits worked just fine.

So this is my new factory selector:
[code]

Here is my new effect:
[code]

And finally here is my new effect test:
[code]

And here is the resulting failing test
https://github.co

[2021-08-22 10:25] EmpeRoar opened #3122 "Walkthrough Documentation needs to be updated"
I was trying to follow the walkthrough provided in ngrx website but the documentation seems to be outdated.

like for example this lines of codes.

[code]

while in appstate
[code]

and the pipe is not correct also.
[code]

## Other information:

## I would be willing to submit a PR for the docs :heart:

[ /] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2021-08-23 04:54] Harpush opened #3123 "Entity update operation to avoid state changes when possible"
Currently when I call:
`adapter.updateOne({id: 'a', changes: {test: 'v'}}, state)` when the `a` entity state currently is `{test: 'v'}` the reference will still change. A better approach is to check if there was any change between the changed keys old value and new value and only then apply the changes for the changed keys only. The check will be reference equal with maybe specific case for `[]` a

[2021-08-23 18:32] timdeschryver commented on #3122
Hi @EmpeRoar , thanks for opening this issue
If you want, feel free to open a PR with the appropriate changes.

[2021-08-23 18:35] timdeschryver commented on #3116
I think that we can add this.
Feel free to create a PR with the changes @hemangsk

[2021-08-25 15:44] xianshenglu commented on #2692
So, I guess dynamically adding a component store to the global state, so we can still enable the functionality of redux like devtool, time travel, bug tracking?

[2021-08-26 12:37] xchimera opened #3125 "Documentation does not reflect angular strict mode by default"
## Other information:

The documentation does not reflect strict mode. As an example in the Entity/Adapter documentation, the selectCurrentUser selector would give a null type error as userId is nullable.

## I would be willing to submit a PR for the docs :heart:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2021-08-27 12:48] martinsson opened #3126 "The store walkthrough cannot be launched locally"
I could use some help to understand how to make the walkthrough run

## Steps to reproduce

- Start a live example as stated in the docs https://ngrx.io/guide/store
- Fix the angular.json that has an extra closing curly bracket just before "defaultProject"
- Download the project
- npm install
- npm run start

I get the following error
[code]

the content of angular-errors.log

[code]

node version

[2021-08-27 18:04] timdeschryver opened #3128 "Store Walkthrough missing types"
This one comes from a [StackOverflow question](https://stackoverflow.com/questions/68914356/what-does-props-book-mean-in-ngrx-angular). It seems like our [walkthrough](https://ngrx.io/guide/store/walkthrough) is missing some type definitions for some [book actions](https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/examples/testing-store/src/app/state/books.actions.ts).

This sh

[2021-08-29 19:05] #3126 closed

[2021-08-30 04:23] yharaskrik commented on #3004
PR opened.

[2021-08-30 06:13] xchimera commented on #3125
In the reducer.ts file, it has a nullable selectedUserId. I have copied the State directly from https://ngrx.io/guide/entity/adapter:

[code]

And in the index.ts, the following selectors is created:

[code]
where selectCurrentUserId can be nullable, unless i am missing something.

I made a user feature by almost copy pasting from the docs, and got an error that userId was nullable.

[2021-08-30 08:27] timdeschryver commented on #3125
Oh yikes, it seems like I had the cached version of the docs.
Thanks for the extra info.

After giving it a second look, it seems like you're completely right.
Feel free to create a PR to get this resolved.

[2021-08-30 15:29] rafaelss95 opened #3132 "Update the stackblitz link on issue template"
Stackblitz on [issue template](https://github.com/ngrx/platform/blob/master/.github/ISSUE_TEMPLATE/bug-report.md) is a bit outdated. It uses the version 10 and doesn't use `createAction` and `createReducer` yet, for example.

## Other information:

## I would be willing to submit a PR for the docs :heart:

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2021-08-30 17:31] timdeschryver commented on #3132
Should be upgraded now, thanks for letting us know 👍

[2021-08-30 17:31] #3132 closed

[2021-08-30 18:02] dobromyslov commented on #3059
@Legiew totally agree. We use NX + Nest + Angular too and experiencing same issues. Angular 12.2 builds and runs fine but I can't say same thing about NgRx. It would be nice if RxJs gets RxJS 7+ support.

[2021-08-31 02:12] rafaelss95 commented on #3132
@timdeschryver Thanks! Would it be asking too much to enable strict mode + Ivy by default? 😍

[2021-08-31 04:16] Denhai commented on #3110
#2104 ?

[2021-08-31 16:50] timdeschryver commented on #3132
@rafaelss95 there you go 😉

[2021-09-01 10:21] maxpontreau commented on #2980
Hello,

About discussion between @mmulhearn & @wrslatz about the overrideSelector function.
Indeed it can't be used anymore with those new functions.

But I am still facing issues to mock it with jasmine, maybe because I'm working with angular strict mode.

When I want to mock a selector function like this one below:
[code]

well I can't because to mock this function, Angular strict mode is waitin

[2021-09-01 12:19] yzhe554 commented on #3110
Please take a look at my codes, it has `(state, props) => props.id,` which makes props(object) to return a string/number which is serializable. If you will only display one item in the UI, then you don't need a selector factory.

[2021-09-01 12:29] yzhe554 commented on #3110
@Denhai yeh. We can also see people mentioned re-reselect in that issue.

[2021-09-02 06:09] yzhe554 opened #3134 "Looks like selector projector is run more number of times comparing to reselect"
## Minimal reproduction of the bug/regression with instructions:
I forked a project on stackblitz and played it with ngrx/createSelector and reselect/createSelector but I am getting a different result.
https://stackblitz.com/edit/ngrx-selector-effeciency-zrxpxh?file=src%2Fapp%2Fmy-counters%2Fcounter.reducer.ts
projectors in ngrx/createSelector is executed more times comparing with reselect/createS

[2021-09-02 09:14] timdeschryver commented on #3134
Seems like a duplicate of https://github.com/ngrx/platform/issues/2862
If that's not the case, feel free to re-open.

[2021-09-02 09:14] #3134 closed

[2021-09-02 09:31] e-oz opened #3135 "distinctUntilChanged() usage in ngrxLet"
Just want to highlight the fact that `distinctUntilChanged()` only compares objects by reference, so if something has been changed inside - it will not be emitted.

https://github.com/ngrx/platform/blob/83bb8a9e4c6492470e5a13e0a93949f0a1acbe79/modules/component/src/core/cd-aware/cd-aware_creator.ts#L73

[2021-09-02 10:06] #3135 closed

[2021-09-02 10:19] e-oz commented on #3135
Ok, but I think it will be good to note this somewhere in the docs :) People will try to use it as a drop-in replacement of the “ngIf={} as ctx” trick.

[2021-09-02 13:41] mauromattos00 commented on #3128
Hi @timdeschryver! Can I get this one, please?

[2021-09-02 15:33] timdeschryver commented on #3128
@mauromattos00 sure, thanks for the PR!

[2021-09-02 16:03] yzhe554 commented on #3134
@timdeschryver the key point is reselect won’t run multiple calls. Should we consider the reason behind the implementation details? https://github.com/reduxjs/reselect/blob/master/src/index.js

[2021-09-02 23:07] yzhe554 commented on #3134
@timdeschryver I just updated the implementation to remove props but it still run more calls comparing with `reselect`

[2021-09-03 09:11] kwhjvdkamp opened #3137 "NgRx Version 12.4.0 no method *.addAll available anymore on AdapterEntity"
## Support Requests should not be opened as issues and should be handled in the following ways:

### On [StackOverflow](https://stackoverflow.com/questions/tagged/ngrx) using the `ngrx` tag

### In our gitter support channel at https://gitter.im/ngrx/platform

Learning NgRx seems, as many leading figures are trying to let me believe in, it seems pretty straight forward to learn. Many people are co

[2021-09-03 11:25] kwhjvdkamp commented on #3137
...searching for information in previous versions of NgRx. Deep down in the NgRx branch Version 10.1.x I found this piece of comment
  **/** @deprecated addAll has been renamed. Use setAll instead. */

[2021-09-03 13:02] timdeschryver commented on #3137
All of our migrations are added to the [migrations on ngrx.io](https://ngrx.io/guide/migration/v11#removed-addall-in-favor-of-setall).

[2021-09-03 13:02] #3137 closed

[2021-09-03 13:32] timdeschryver commented on #3135
Sorry, it was unclear what you meant with the issue.
Feel free to open a Pull Request to mention that `ngrxLet` uses `distinctUntilChanged`.

[2021-09-03 14:20] kwhjvdkamp commented on #3137
...I missed that piece of info, thanks

[2021-09-03 17:39] CoderboyPB commented on #2980
Don't remove it, maybe offer an alternative solution, but don't force the developers to use a much more complicated system over an easy to use system.

[2021-09-03 18:10] kwhjvdkamp commented on #3137
...I missed those docs! Thanks Tim!

[2021-09-04 10:13] timdeschryver commented on #3134
I'm going to keep this issue closed because it's related to #3110

[2021-09-04 10:16] timdeschryver commented on #3110
We're still in favor of removing selectors with props.
In the meantime, I'm going to convert this issue to a discussion.

[2021-09-04 10:16] #3110 closed

[2021-09-06 10:36] TomaszCz opened #3140 "router selectors - strict type"
When using
[code]
taken directly from:
https://ngrx.io/guide/router-store/selectors

I am getting an error for object-destructuring rule ( I am still on tslint )

## Describe any alternatives/workarounds you're currently using
My workaround is to disable the type for this line:
// tslint:disable-next-line:typedef

## If accepted, I would be willing to submit a PR for this feature

[X] Yes (Assista

[2021-09-06 11:59] bpanteleev opened #3141 "Broken typing for 'on' in reducer"
## Minimal reproduction of the bug/regression with instructions:

I have a reducer in my project:
const globalStateReducer = createReducer<IAppGlobalState>(...

And 'on's:

on(setTenor, (state, action) => ({
    ...state,
    notExistingProperty: 23,
  })),

And there is no typescript error for this 'notExistingProperty'.

See details by in StackBlitz https://stackblitz.com/edit/ngrx-seed-yli3pt?f

[2021-09-06 15:52] Babeetlebum commented on #2171
@ChuckkNorris I had the same issue, I added `.refreshState()` and it ended up working. I don't really like how it looks but at least it works
[code]

[2021-09-06 16:24] timdeschryver commented on #3141
Duplicate of #2412.
See [On Function Explicit Return Type (from the NgRx Linter)](https://github.com/timdeschryver/eslint-plugin-ngrx/blob/main/docs/rules/on-function-explicit-return-type.md) for more info.

[2021-09-06 16:24] #3141 closed

[2021-09-06 16:40] timdeschryver commented on #3140
I'm going to close this issue, because this is a popular pattern (and is also used across our docs).
As a fix, you can do

[code]

[2021-09-06 16:40] #3140 closed

[2021-09-07 09:37] maxpontreau commented on #3107
This solution isn't working with Angular strict mode. Do you have any for strict mode ?

[2021-09-07 18:21] Rybadour commented on #1868
@brandonroberts

Why was this closed? I don't see any resolutions to the problem and as of the 12.4.0 I still can't access the trace tab.

[2021-09-08 00:17] markostanimirovic commented on #3107
@maxpontreau

You can cast fake selector:

[code]

Or create a helper function:

[code]

Usage:

[code]

[2021-09-08 06:15] TomaszCz commented on #3140
Thank you! It works

[2021-09-08 09:11] pjc2007 commented on #646
Thankyou, I had this problem as well

[2021-09-08 19:09] samuelfernandez opened #3142 "Async pipe for store subscriptions with better typing"
Both Angular's async pipe and ngrxPush are designed for generic observable subscriptions. Since it is possible that the source observable doesn't emit on subscription, both provide an initial default value according to its type definition:

- `async`: default `null` (`transform<T>(obs: Observable<T>): T | null`)
- `ngrxPush`: default `undefined` (`transform<T>(obs: Observable<T>): T | undefined`)

[2021-09-09 10:53] #3128 closed

[2021-09-10 11:34] iuliust opened #3143 "link to StoreDevtoolsConfig leads to a pornographic ad site"
Hi,
I was looking for [StoreDevtoolsConfig's documentation in the API section of the site](https://ngrx.io/api/store-devtools/StoreDevtoolsConfig), and as its documentation doesn't help a lot, I clicked on the link that was supposed to lead me to more in-depth doc about that interface. Unfortunately, `extension.remotedev.io` domain's ownership was not renewed and the link now leads to a rather ter

[2021-09-10 12:19] markostanimirovic commented on #3143
😂 🤦‍♂️

Thanks for reporting this! Do you want to create a PR with fixed links?

[2021-09-10 12:20] brandonroberts commented on #3143
Yikes. Thanks @iuliust. We may need to file this upstream also

[2021-09-10 13:19] iuliust commented on #3143
Sure.
@markostanimirovic What should be the updated link ?

[2021-09-10 13:26] brandonroberts commented on #3143
@iuliust let's just remove it for now

[2021-09-12 21:20] nicearma commented on #3143
You can find the problem here
zalmoxisus/redux-devtools-extension#810

and the official repo (I found two)
(from the store chrome) https://github.com/reduxjs/redux-devtools/tree/master/extension
(from the store firefox) https://github.com/zalmoxisus/redux-devtools-extension

[2021-09-14 12:34] #3143 closed

[2021-09-14 20:29] alex-vg commented on #1868
@brandonroberts
Is there a fix for this issue coming?
Seeing such an important feature closed without a resolution seems odd.

[2021-09-15 07:23] Harpush commented on #3123
Can I submit a PR? Is it accepted?

[2021-09-15 13:01] brandonroberts commented on #3142
Thanks @samuelfernandez. We've discussed this previously and decided it's not something we want to add to the core, as you still have to inject the Store to dispatch actions, and to potentially combine external observables, which adds more complexity to figuring out where things are coming from.

[2021-09-15 13:01] #3142 closed

[2021-09-17 10:41] timdeschryver commented on #3123
I don't know if this is something that we want.
If we would accept this, I think we need to investigate the impact of the added check(s) first, because in most cases an update is desired.

As a work around, you can check if you need to invoke an entity method in your reducer, or you could create your own entity adapter. The latter could just be a wrapper around the existing adapters.

[2021-09-17 10:52] Harpush commented on #3123
@timdeschryver Concerning the performance impact - it depends on the implementation but i dont believe it can have much impact as its just an added check before cloning.  The current combineReducers implementation does this check already for example.
I can create a wrapper but i believe it should be part of the core functionality. An update in this case can create a chain of selectors and even rer

[2021-09-20 14:27] #1608 closed

[2021-09-23 18:15] #3116 closed

[2021-09-23 22:32] yalunqin commented on #2862
I'm trying to understand the advantage of factory selector over selector with props and came to this thread. @Akxe @timdeschryver what is the issue in the example code? Which function is called multiple times? How is the factory called in the component?

[2021-09-24 05:33] timdeschryver commented on #2862
@yalunqin  see #2980

[2021-09-24 05:48] yalunqin commented on #2862
@timdeschryver I read through that thread already. That's how I found this thread because this is linked from there.

"One of the big benefits of using selectors is that a selector is memoized, but with selectors with props it's very easy to "break" this. Most of the problems/questions I see is because selector with props aren't used correctly, resulting in selectors that are executed multiple tim

[2021-09-24 17:21] timdeschryver commented on #2862
@simply-alliv please take a look at the demo in the RFC.
There you can see how many times a selector is invoked.

[2021-09-25 15:39] JeremiasAragon commented on #2924
Downgrading to "@ngrx/store": "^10.1.2" solved ii but i also had to Downgrade the complementary libraries to "^8.0.1".
"@ngrx/effects": "^8.0.1",
"@ngrx/router-store": "^8.0.1",
"@ngrx/store": "^10.1.2",
"@ngrx/store-devtools": "^8.0.1",

[2021-09-25 20:52] tomalaforge opened #3152 "loading/error as default state in component store"
Hello ngrx team.

Please find below, one small feature request which can be a nice addon to the component store.

In componentStore, you often have to deal with loading indicator and error status, and you end up adding it in many of your componentState.
Would it be nice to have it already set in the store, and automatically handle in the store effect function ?

I have done a small stackblitz appl

[2021-09-26 10:56] CrazyFlasher commented on #2262
This is bad, that I couldn't mark private property with decorator.
What if I would like to inject this property, but shouldn't give possibility to access it like public?
[code]

[2021-09-27 19:53] nowconsulting opened #3153 "book-list walkthrough error in books.reducer.ts"
Hi,

I am new to NgRx.  I was going through the Walkthrough section of the NgRx web site, and I am getting a compile error when following the sample code.  So my application does not build.  Looking at the code in your StackBlitz implementation, I see the same bug I am getting.  However, the StackBlitz version runs without any problem.  I even downloaded the ZIP file with the code an tried to buil

[2021-09-27 20:58] timdeschryver commented on #3153
We're sorry for this inconvenience, the correct version is  fixed in [this PR](https://github.com/ngrx/platform/pull/3151) but it needs to be released.

[2021-09-27 20:58] #3153 closed

[2021-09-27 21:51] markostanimirovic commented on #3152
Moving this issue to Discussions (💡 Ideas category).

[2021-09-27 21:52] #3152 closed

[2021-09-29 12:44] Klapik commented on #2991
Any news?

[2021-09-30 07:02] MartinMa commented on #2780
I'm sorry I have to comment on this closed issue. But the problem persists for me.

I'm using **Angular 12.2.5** and **NgRx (Store) 12.4.0**.

My component constructor currently has the following argument: `private readonly store: Store<AppState>` and eslint gives me the warning `eslint(ngrx/no-typed-global-store)`.

If I remove the type `<AppState>` from the argument, I later get errors like this

[2021-09-30 12:38] #3122 closed

[2021-09-30 15:45] MartinMa commented on #2780
I'm making this follow-up comment, because I sort of made it work and then ran into the next problem.

Nevertheless, I think this will help others, that run into the same problem. The following code is an example how I used to define my selectors. But this way I get compiler **errors** like the one mentioned earlier.
[code]
This is the first thing you read in the documentation about selectors on h

[2021-09-30 16:34] CamilaEBF commented on #2780
I am running into the same problem as MartinMa described above.

I am also using Angular 12.2.5 and NgRx (Store) .

I tried disabling strict mode but the error persists

[code]

My selectors:

[code]
I also tried without declaring the partial state on createFeatureSelector, and it does not work either.

And the error is in this line in my feature component:
[code]

store$ is injected as:` protecte

[2021-10-01 00:05] david-shortman commented on #2780
@MartinMa [Try using `createFeature` to create your base feature selectors instead](https://ngrx.io/api/store/createFeature).

I do think the lint settings you're using are a bit harsh. Having to explicitly declare the types of everything is a real pain when type inference is so useful.

[code]

[2021-10-01 23:32] inorganik opened #3159 "Guard for forgetting to include { dispatch: false } in createEffect"
Currently, when writing effects, If your effect doesn't emit an action, and you forget to pass the second argument with `{ dispatch: false }`, the consequences are bad.

For instance, you might have:
[code]

I've done this by accident several times and here's what happens:
- the app freezes 🥶
- no console errors/output 😶
- memory ramps up RAPIDLY to 3-4 GB, and within 30 seconds the tab crashes. 💀

[2021-10-02 01:36] brandonroberts commented on #3159
Thanks @inorganik. We've discussed this many times before and there isn't a good way to do this without accidentally impacting valid use cases. We recommend using the ESLint rules to guard against this behavior.

https://github.com/timdeschryver/eslint-plugin-ngrx/tree/main/docs%2Frules%2Favoid-cyclic-effects.md

We add the ESLint rules to new projects when using `ng add @ngrx/store`. We could add

[2021-10-02 10:02] van4elo opened #3161 "//Usages : int dp_first = 25; int dp_second = 15; int dp_third = 29; int dp_fourth = 41; Activity activity = MainActivity.this; textview.setText("Hello, i am codify..."); textview.setText(textview.getText()+- ""+-dp_first+- "dp = "+- getPixelsFromDPs(activity,dp_first) +- "pixels"+-dp_second+- "dp = "+- getPixelsFromDPs(activity,dp_second) +- "pixels"+-dp_third+- "dp = "+- getPixelsFromDPs(activity,dp_third) +- "pixels"+-dp_fourth+- "dp = "+- getPixelsFromDPs(activity,dp_fourth) +- "pixels"); //code by PlaySketch StudiO Inc //Class Method : public static int getPixelsFromDPs(Activity activity, int dps){ android.content.res.Resources r = activity.getResources(); int px = (int) (android.util.TypedValue.applyDimension(android.util.TypedValue.COMPLEX_UNIT_DIP, dps, r.getDisplayMetrics())); return px; }"
## Support Requests should not be opened as issues and should be handled in the following ways:

### On [StackOverflow](https://stackoverflow.com/questions/tagged/ngrx) using the `ngrx` tag

### In our gitter support channel at https://gitter.im/ngrx/platform

[2021-10-02 11:57] boradakash commented on #2921
Hey @timdeschryver, Can I grab this up?

I am thinking of using rxjs `skip` operator to prevent emitting the latest value upon initial subscription, Do you think that's the correct solution?

[2021-10-02 12:26] #3161 closed

[2021-10-02 19:57] windbeneathyourwings opened #3162 "Library of alternate data services"
Currently data supports basic REST out the box. I was wondering if there is any interest or library already available of alternate data services pre-built. For example, I'm currently saving documents to aws s3 as json. This is done through a lambda running on aws. I have plans to convert that to a completely serverless model. Instead of using the lambda replace that with client-side signed url/coo

[2021-10-02 20:48] TomaszCz opened #3163 "createSelector - how to assign correct type"
Hi!

Entire NGRX library is very well written, sometimes quite complex piece of art. I really enjoy using it everyday.

I searched docs and also looked up https://github.com/ngrx/platform/blob/master/modules/store/src/selector.ts#L125 but i cannot see the answer. I would like to correctly enforce strict typing on my selectors, so that when my interfaces changes, i get a compilation error. In parti

[2021-10-03 01:38] windbeneathyourwings commented on #3162
Another example of something that would be useful is saving to local, client data stores like RxDB.

[2021-10-03 11:53] gauravsoni119 commented on #3125
I would also like to contribute if no one is working on this. I think the fix should be updating the docs to have (_userId && userEntities[userId]_),
[code]

[2021-10-03 12:41] alex-okrushko commented on #3163
Hi @TomaszCz

We keep GitHub issues for reporting problems with code. Questions are better to be asked at discord.gg/ngrx

You can enforce the type by specifying the return type of the projector function:

[code]

When return the object you can have even more concise form:

[code]

Please ask further questions at the discord.

[2021-10-03 12:41] #3163 closed

[2021-10-03 13:39] danielkleebinder commented on #3159
I also ran into the same issue a couple of times. Especially while learning about `ngrx` and developing my first applications using this platform. A lot of modern programming languages (like Kotlin for example) set a hard limit to the call stack depth to limit the amount of recursion possible. The reason behind this is, that a call stack growing rapidly in size certainly indicates some error (even

[2021-10-04 13:10] Evexis opened #3165 "`getWithQuery` method should set `loaded` property to true"
I want to fetch the data in route resolver, using `getWithQuery` method, but it does not set `loaded` property to true. query-many/success action set only loading to false.

## getAll action - set both loading and loaded roperties
![getAll action](https://user-images.githubusercontent.com/26208171/135856256-808fbf04-2bee-4d43-abfc-fe5bfe44663e.PNG)

## getWithQuery action - set only loading, loade

[2021-10-04 15:13] inorganik commented on #3159
Thanks @brandonroberts. Are you saying there is a valid use case where you do not emit an action in your effect and you do not include `{dispatch: false}`, and this does not cause the issue I described?

[2021-10-05 07:01] MatthiasvB opened #3167 "Missing example reducer for effects documentation"
I'm just getting started with the `ngrx/store` and `effects` in particular, and I cannot find any *full* documentation on how to set this up. I'm following the example on [the docs page](https://ngrx.io/guide/effects), which is great to the point where it leaves off saying that <q>The action is dispatched to the Store where it can be handled by reducers when a state change is needed</q>. I'm not a

[2021-10-05 11:24] #3125 closed

[2021-10-06 06:37] jwedel opened #3168 "component-store: select with multiple properties fires even when unrelated properties are changed"
## Minimal reproduction of the bug/regression with instructions:

*Note: Stackblitz is giving me some errors, so I'm pasting an example jest test*

[code]

Both combined selects select on `foo` and `baz`. When foo is updated, both subscribe blocks are executed. When bar is updated, `combined$` subscribe is fired, `combined2$` is not.

## Expected behavior:

When bar is updated, `combined$` and  `c

[2021-10-06 09:41] argadenil opened #3169 "issue in one example"
hello..i m not sure if this is an issue or not [but i think it is].In ngRx documentation in '**Walkthrough**' section there is error/issue in two files

- books.reducer.ts & app.component.ts.

- Here 'Books' property giving me error
- attatching screenshots of stackBlitz
<img width="1411" alt="Screenshot 2021-10-06 at 3 17 28 PM" src="https://user-images.githubusercontent.com/58566009/136180333-61

[2021-10-06 10:35] #3169 closed

[2021-10-06 11:16] markostanimirovic commented on #3168
Reported behavior is actually expected. `ComponentStore.select` uses `distinctUntilChanged` without comparator under the hood, which means that in case of `this.select(({ foo, bar }) => ({ foo, bar }))`, it compares returned objects by reference -> When the state is changed, it will always return new object `{ foo, bar }`, whose reference differs from the previous one.

You can do the following:

[2021-10-06 11:16] #3168 closed

[2021-10-06 18:43] #3167 closed

[2021-10-10 21:46] dil-btarkovacs opened #3172 "Make it possible to use MockStore's overrideSelector method against selectors given by entityAdapter.getSelectors()"
Currently **if** a selector (`booksSelector` in this example) is created in the following way (using entityAdapter's `getSelectors` method):
[code]
**then** it's impossible to use the overrideSelector method in a unit test, eg.:
[code]
Because the `overrideSelector` expects a `Selector` as its first parameter.

I think this makes us writing unnecessary workarounds in unit tests.
3 solutions seem p

[2021-10-15 13:45] nicholas-ochoa opened #3173 "Potential breaking change in `@ngrx/store` 12.5.0"
It appears that a small [change was made](https://github.com/ngrx/platform/commit/605fd02efa232a5c63856c3ff2798f63fd9b4ce4#diff-afddf3064502385d641f69739f74ad0ac202db642b0ed0a7eef0eb8f5e75d17b) based on pull request #3158 that changes the behavior from the previous version (12.4) with the `store.select()` types. There was no mention of this change in the CHANGELOG.md file for 12.5, however my appl

[2021-10-15 16:31] kurtisblaine opened #3174 "NGRX Schematics does not Support Angular JSON Standalone Configuration"
## Minimal reproduction of the bug/regression with instructions:
1. Use standalone configs for each project in monorepo.

{
  "version": 2,
  "projects": {
    "test-app": "apps/test-app/",
  }
}

2. Run @ngrx/schematics:store with these arguments.
{
        name: app,
        statePath: 'state',
        module: '/app.module.ts',
        root: true,
        path: `/apps/test-app/src/app`,

[2021-10-15 16:41] kurtisblaine commented on #3174
Here is the pull request: https://github.com/ngrx/platform/pull/3175. Not supplying the app name to the schematic and instead supplying the path will work.

[2021-10-15 20:07] timdeschryver commented on #3173
It seems like StackBlitz is acting weird, but I can't reproduce it.
Here's what I tried locally and via [TS Playground](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBDAnmApnA3nAyjaaC+cAZlBCHAOQACAdgOZQAeA9AM65QoUBQoksGOAGNOAQxgoAYinEBXTlhQAbFEI4AaYWImKVa6HEIkylWgxbs8Pbikb94wGhKhFRQtNLmcAghm5wEYBgVAC44dihHOm58bhs7aAcnFBc3DxkYeRQAIT8AoQhZJzCaWRAAIxSYuNt7OEdnV3dsGHE0dH9iDKzvMM9Mn06ibs5svpGc6

[2021-10-16 12:43] timdeschryver commented on #3173
@bryantlikes thanks. I was able to reproduce this now.
But the same issue arises when I'm reverting back to v12.4

[2021-10-16 17:21] timdeschryver opened #3178 "Add Recipe Page for NgRx ESLint Plugin"
What is it, why should it be used, how to install and configure.

[2021-10-16 17:32] timdeschryver opened #3179 "Deprecate the `RootState` generic of `createFeatureSelector`"
## Describe any alternatives/workarounds you're currently using

Deprecate the `State` generic of `createFeatureSelector`  because it's causing type issues with `Store`.
For this, we can also add an automatic migration.

BEFORE:

[code]

AFTER:

[code]

## If accepted, I would be willing to submit a PR for this feature

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[

[2021-10-16 17:40] santoshyadavdev commented on #3179
Hey @timdeschryver is this open, can I take this one .

[2021-10-16 18:22] Flachdachs opened #3180 "Clicking a link to open a sub menu sends you to the start page"
Every time when clicking a menu point that has sub menu items the sub menu will open but this also sends you to the start page.

[2021-10-16 19:11] brandonroberts commented on #3180
This has already been resolved by https://github.com/ngrx/platform/pull/3176 and will get deployed

[2021-10-16 19:11] #3180 closed

[2021-10-16 21:25] momoadeli opened #3181 "[ng/ngrx 12.x] StoreModule.forRoot Exception: StoreModule.forRoot in lazy module (other than app.module.ts) throws StoreModule.forRoot called twice exception"
## Minimal reproduction of the bug/regression with instructions:
BUG in ng/ngrx 12.x:  https://stackblitz.com/edit/angular-ivy-oes5ve?file=README.md (throws StoreModule.forRoot called twice exception)
WORKS in ng/ngrx 8x: https://stackblitz.com/edit/ngrx-lazy-loading-wa21lc?file=README.md

## Expected behavior:
should load store and feature in LazyModule just like it did in ng/ngrx 8x.

should loa

[2021-10-17 03:47] #3181 closed

[2021-10-17 09:25] Armenvardanyan95 commented on #3178
Hey, I know a thing or two about this 😁

Maybe I can take on this

[2021-10-17 11:06] cuni0716 opened #3182 "Add selectOnce method to Store class"
## Describe any alternatives/workarounds you're currently using

would be useful if the `Store` class could have a `selectOnce` method that is just a shortcut for a `pipe(take(1))`

[code]

## If accepted, I would be willing to submit a PR for this feature

[x] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2021-10-17 13:58] brandonroberts commented on #3182
As discussed in previous issues we won't be adding a method to take a snapshot of the Store. Closing as a duplicate.

[2021-10-17 14:05] momoadeli commented on #3181
@brandonroberts I don't understand which two checks? I have only ONE forRoot call. Please advise

[2021-10-17 14:11] brandonroberts commented on #3181
In your version 12 StackBlitz you have StoreModule.forRoot in the AppModule and in the LazyLoadedModule. This will try to load the providers twice, resulting in the error.

If you remove it from the AppModule it should work as you expect.

If you need further assistance, join the Discord https://discord.gg/ngrx

[2021-10-17 17:52] markostanimirovic opened #3183 "Add guide for feature creator"
Add guide for the `createFeature` function:

- What is NgRx feature?
- Example
- Advantages
- Restrictions

[2021-10-18 01:49] brandonroberts opened #3185 "Docs: Create archive site for 12.x docs"
## Other information:

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2021-10-18 01:49] brandonroberts opened #3186 "Docs: update example dependencies to latest Angular version 13 release"
## Other information:

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2021-10-18 01:50] brandonroberts opened #3187 "Docs: Add migration guide for version 13 release"
## Other information:

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2021-10-18 01:51] brandonroberts opened #3188 "Docs: Write/publish blog post for version 13 release"
## Other information:

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2021-10-18 01:52] brandonroberts opened #3189 "Build: Update to latest Angular v13 RC"
## Describe any alternatives/workarounds you're currently using

## Other information:

## If accepted, I would be willing to submit a PR for this feature

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2021-10-19 09:51] lukashlobil opened #3191 "Docs: left menu items keeps redirecting to ngrx.io"
https://ngrx.io/docs

Clicking a collapsible menu item redirects to ngrx.io homepage. Should expand, but not redirect.
Makes reading docs unusable.

![image](https://user-images.githubusercontent.com/9610365/137886085-00629c0d-ba07-4d63-9e7c-0664ef509cc4.png)

clicking any of the highlighted items redirects.

Steps to reproduce:

1. go to https://ngrx.io/docs
2. click on State in left menu
3. You

[2021-10-19 10:46] #3191 closed

[2021-10-19 11:27] brandonroberts opened #3192 "Docs: Remove references to wrapped reducer function"
## Other information:

In the docs we have reducers wrapped in an exported function

[code]

This is not required with Ivy, which is the default now. Change these reducers to be directly exported

[code]
## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need help submitting a pull request)
[ ] No

[2021-10-20 11:08] #3179 closed, assigned to nobody

[2021-10-21 14:57] Stephane-Peyroutet opened #3194 "@ngrx/data Entity Dataservice vs @ngrx/entity Entity Adapter"
I was wondering why the default @ngrx/data Entity Dataservice (DefaultDataService) only provides single add/delete/update.

Indeed, it uses @ngrx/entity under the hood and the Entity Adapter provides both single and **many** add/delete/update.

If there is a technical reason, then it should be mentioned.
If this is just not implemented yet or this will be not implemented at all, it should be menti

[2021-10-22 07:46] MaximSagan opened #3196 "`createSelector` should return `MemoizedSelector<State, Result, ProjectorFn>` with fully-typed `ProjectorFn` to assist in unit-testing selectors"
The `projector` argument (last argument) of `createSelector` is a pure function that uses the resultant values of the other selectors passed to define the result of a the new selector. It is available as the `MemoizedSelector`'s project member, and this should be ideal for unit-testing selectors.

However, in all current signatures of `createSelector`, the `ProjectorFn` type argument of the return

[2021-10-22 11:14] #3196 closed, assigned to nobody

[2021-10-22 15:42] santoshyadavdev opened #3197 "Seems like createFeature should also be updated to not use this version of createFeatureSelector?"
Seems like createFeature should also be updated to not use this version of createFeatureSelector?

https://github.com/ngrx/platform/blob/a6fe92df3134b7a589a2e95abe0aea183b411f03/modules/store/src/feature_creator.ts#L101

_Originally posted by @bryantlikes in https://github.com/ngrx/platform/issues/3179#issuecomment-949738675_

Ahh my bad, let me raise a PR. or if you want to take it let me know

[2021-10-23 09:25] #3194 closed, assigned to nobody

[2021-10-23 16:14] #3197 closed, assigned to nobody

[2021-10-25 11:08] #3192 closed, assigned to AleenaSA

[2021-10-25 18:38] markostanimirovic opened #3203 "Add Missing Types to the Store Walkthrough Section"
Add missing types to the [Store Walkthrough](https://ngrx.io/guide/store/walkthrough) section:

![1](https://user-images.githubusercontent.com/17877290/138750523-91e0a1f2-4c2a-4b4f-839d-3f46394a5496.PNG)

Change underlined code to:

[code]

![2](https://user-images.githubusercontent.com/17877290/138750900-6379a295-6901-41ec-bbc4-3e9217303f67.PNG)

Change underlined code to:

[code]

![3](https://u

[2021-10-26 05:51] artfulsage opened #3204 "ComponentStore: Deep partial update"
## Other information:

Hey! What do you think about providing a possibility for deep partial update? I think it's a kinda common case when you have some nested props inside the state, e.g. a list state with a paginator state and some other query params. And it's very possible that you will update these nested props separately, e.g. page number, page size and so on. But now it's not possible.

## I

[2021-10-26 06:03] artfulsage opened #3205 "ComponentStore: Method for getting default initial state"
## Other information:

Hey! What do you think about providing a method for getting default initial state which can be used with lazy initialization? Here is the case. Suppose we have some state which can be updated via URL params, but we can't be sure if there are all required params in the URL. And it would be wrong to set the state with some default value before patching it with these URL params

[2021-10-26 13:54] #3203 closed, assigned to muhammadawaisshaikh

[2021-10-27 06:15] anton-marchenko opened #3209 "[docs][ngrx.io] Walkthrough code sample not working"
Walkthrough example not working with Angilar 12 + strict templates + typescript 4.3.5 + strict mode.

@ngrx/store ~12.4.0 or 12.5.1 (both of them)

I am getting errors with Walkthrough example.

File `src/app/state/books.selectors.ts`

![image](https://user-images.githubusercontent.com/45929621/139008951-664a80d5-70c6-4e98-83e9-0a0181243614.png)

[code]

![image](https://user-images.githubusercont

[2021-10-28 14:33] RahulBadenkal opened #3211 "The dom is not reflective of the actual value wen using onPush strategy with ngrx store subscription"
I thought when onPush is set, the template will re-render if the variable reference is changed. And since redux store is immutable that is always supposed to happen (confirmed by logging in the console). But still the value in the UI is not in sync wiith the component value ie. component value = "loaded" but value in ui = "loading". Why is it so?

component.ts
[code]

html:

`{{ initDataLoadState.

[2021-10-28 16:59] montella1507 opened #3212 "Wrong typing from ngrxLet - incorrectly unwrapped generic type parameter?"
Directive  ngIf (and ngutils/ngLet) support creating object to eliminate tons of ng-containers (one ng-container for one observable).

ngIf / ngLet directives work:
`<ng-container *ngIf="{ a: a$ | ngrxPush } as context">`

ngrxLet - compilation error:
`<ng-container *ngrxLet="{ a: a$ | ngrxPush } as context">`
`<ng-container *ngrxLet="{ a: a$ | async } as context">`

[code]

I thought ngrxLet shou

[2021-10-28 17:32] #3211 closed, assigned to nobody

[2021-10-29 12:33] damianbeles opened #3213 "RFC: feat(store) Deprecate select operator"
Can we deprecate `select()` operator?

Let's say we have the following state:
[code]

And we have two ways of selecting the apple feature:
[code]

We subscribe to them in:
[code]

Imagine we have two actions, `throwApple`, `throwPear`, each one increasing the state number for that fruit.

We'll make two functions for testing when those `console.log()` are printed:
[code]

Now:
- throwing apples pr

[2021-10-29 18:51] markostanimirovic commented on #3205
Hey @artfulsage

What do you mean by lazy getting of initial state?

Can you please provide an example (with code)?

[2021-10-29 20:37] markostanimirovic commented on #3212
@montella1507

`*ngrxLet` expects [`ObservableInput`](https://github.com/ReactiveX/rxjs/blob/master/src/internal/types.ts#L90) as input, so error that you reported in first comment is expected. You can use `*ngIf` for that.

Regarding your second comment: it seems that your IDE cannot correctly infer the unwrapped type. Check [this example](https://stackblitz.com/edit/ngrx-let-strict-templates?fil

[2021-10-29 20:37] #3212 closed

[2021-10-29 20:43] #3209 closed

[2021-10-29 21:33] montella1507 commented on #3212
@markostanimirovic  you were right.

https://youtrack.jetbrains.com/issue/WEB-52068

Thank you.

[2021-10-31 13:17] BizzyBob opened #3215 "ComponentStore: Updater method does not warn about assigning to nonexistent properties"
## Description
When creating an updater method, it's possible to pass in a function that returns a type different from the defined `State` type.

I've run into this a few times now where I make a typo with the property name or later on rename one of the State properties;

When this happens, no errors or warnings appear at design time.  At run time, the updater seems to just silently fail  (*obviou

[2021-10-31 13:19] BizzyBob commented on #3215
Just noticed existing closed issue: https://github.com/ngrx/platform/issues/2851

[2021-10-31 13:20] #3215 closed

[2021-11-01 01:48] Pingear commented on #3209
Hey)
As far as I can see, this code looks different from the website. - https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/examples/store-walkthrough/src/app/state/books.selectors.ts
However, this code does not generate such errors. Is there a reason why there is a code on the site that generates an error in my IDE?

[2021-11-01 06:57] anton-marchenko commented on #3209
@Pingear
Hi

I had same issue with code above and I fixed this code recently but seems like the updated code is not in the web site yet. Maybe ngrx-team will update it in next release (I don't know clearly)

[2021-11-01 10:36] evanfuture opened #3216 "metaReducers don't work in forFeature module when using createFeature"
## Minimal reproduction of the bug/regression with instructions:

https://stackblitz.com/edit/ngrx-seed-rh3wya?devtoolsheight=33&file=src/app/app.module.ts

## Expected behavior:

When using `createFeature`, metaReducers stop working.

[code]

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):
Angular 12.x
NgRx 12.4.x

## Other information:

## I would be willing to s

[2021-11-01 12:20] timdeschryver commented on #3209
These changes aren't released yet.

[2021-11-01 14:06] timdeschryver commented on #3216
I think this is how we intended it to work, but I could be wrong though.
If that's the case, then we should fix the argument types of `forFeature()`.

[2021-11-01 15:04] #3178 closed

[2021-11-01 15:30] brandonroberts commented on #3213
This is not on our roadmap to remove. Using `store.pipe(tap())` before `select()` works as intended as you'll get every state update. We do recommend using `store.select())` but we will keep things backwards compatible for existing apps.

[2021-11-01 15:30] #3213 closed

[2021-11-01 15:31] brandonroberts commented on #3209
Updated docs have been deployed

[2021-11-01 17:11] kylecannon opened #3217 "Component Store typings lose inference on tap operator"
## Minimal reproduction of the bug/regression with instructions:

https://stackblitz.com/edit/angular-ivy-eg5tt2?file=src%2Fapp%2Ftest-store.service.ts

Open up stackblitz, go to `src/app/test-store.service.ts` to see examples where Obervable types return as `Observable<unknown>`

## Expected behavior:

Typings should work.

## Versions of NgRx, Angular, Node, affected browser(s) and operating sys

[2021-11-02 02:01] markostanimirovic commented on #3217
@kylecannon

I noticed this issue before, but only in non-strict TS mode 👀

The type is correctly inferred in strict mode: [example](https://stackblitz.com/edit/angular-ivy-xnjfhh?file=src/app/test-store.service.ts).

[2021-11-02 03:01] kylecannon commented on #3217
@markostanimirovic I have strict mode in the project that I am facing this issue with. Here is from my tsconfig.base.json:
[code]

Also, opening your stackblitz url i am given the following error:

![Screen Shot 2021-11-01 at 7 58 08 PM](https://user-images.githubusercontent.com/867978/139779677-3cce5a01-9f90-409a-ab30-c33ab47683de.png)

Removing the xyz, I do see that it's still showing as unknow

[2021-11-02 07:42] Armenvardanyan95 commented on #2616
If this is still relevant, I can write a section on this

[2021-11-02 10:12] markostanimirovic commented on #3217
@kylecannon

Yes, the error indicates that `r` is typed as expected: `Omit<State, "user"> & { username: string; }` (line 47).

This seems like IntelliSense issue. Because if the `r` is of type `unknown`, then the previous compilation error will be different.

Btw, I checked with your configuration:

[code]

The type of `r` becomes `unknown` when `strictFunctionTypes` is set to `false`.

If you rem

[2021-11-02 10:53] #3183 closed

[2021-11-02 11:02] #2892 closed

[2021-11-02 11:04] #3114 closed

[2021-11-02 11:09] #3007 closed

[2021-11-02 11:14] brandonroberts commented on #2616
Thanks @Armenvardanyan95, I'm still planning to take this one

[2021-11-02 11:15] brandonroberts commented on #3216
Yea, that's the case. If you need to add additional config, use the expanded form

[2021-11-02 13:02] markostanimirovic opened #3220 "Fix typo in `createFeature` docs"
There is one typo in `createFeature` docs:

![create-feature-api](https://user-images.githubusercontent.com/17877290/139851314-e8c69f95-356b-43f9-bc8f-b759f53dc2f1.PNG)

Underlined text "a the selector" should be replaced with "and a selector".

[2021-11-02 13:03] kylecannon commented on #3217
@markostanimirovic,

Thank you for your help and the investigation effort on your end. This does appear to fix the issue. Are there plans to try and address this or should we try to add this to the ngrx docs? Once again, thank you so much.

[2021-11-02 13:13] artfulsage commented on #3205
@markostanimirovic first of all I'm sure any changes made were reasonable. And I don't pretend on the right solution and I can be wrong, but still looking at the code I wonder if we can call some user provided function which will return the default state instead of throwing a `new Error(this.notInitializedErrorMessage)` and then execute the rest code.

[2021-11-02 15:19] #2944 closed

[2021-11-02 15:31] timdeschryver commented on #3205
We want the component store to behave consistently, and that's why the initial state is required upon initialization.
If we remove that constraint, other parts (e.g. selectors) will become harder and it could introduce bugs that are harder to detect.

I could have misinterpreted the issue, but you can access the route data in the component and set the initial state accordingly.

[2021-11-02 16:05] snutij commented on #3220
Hi, @markostanimirovic I can handle it if it's OK for you :+1:

[2021-11-02 16:19] markostanimirovic commented on #3220
sure @snutij 👍

[2021-11-03 01:41] #3220 closed

[2021-11-03 01:50] #3216 closed

[2021-11-03 06:23] artfulsage commented on #3205
@timdeschryver yeah, I guess, these changes can bring some complexity. But still I think that patching shouldn't lead to errors if initiating hasn't been done yet. I think patching could be frozen for a while in that case. But I understand that for the usage in components it's not relevant in most cases, and so let it stays as it is. Please close this issue if you agree. And also thank all of you

[2021-11-03 23:59] Pingear opened #3222 "@ngrx example application not working in strictmode"
Hey)
In the example https://github.com/ngrx/platform/tree/master/projects/example-app
I'm getting errors like - Type 'boolean | null 'is not assignable to type' boolean '. Type 'null' is not assignable to type 'boolean'
I understand that this is due to strictmode, but I cannot figure out how to get rid of them.
Is there an updated version of this example that works correctly with strictmode?
By th

[2021-11-04 14:37] kekel87 commented on #2767
Hi, I'm using **component-store** for the first time. Everything is going well, I'm now getting to the unit tests.

The component is good, but I would like to have an example with marble to test the store.

Do you think it's possible ?

[2021-11-04 15:26] kekel87 commented on #2767
Okay, I managed to test my blind.

I'll share my code with you, if it helps or if you have any feedback:

[code]

[code]

[2021-11-06 18:03] #3205 closed

[2021-11-06 18:03] mansourcodes commented on #571
Does this bug solved ?
because  updateOne still change the  ids state

[2021-11-09 07:44] mansourcodes opened #3224 "updateOne change state ids array sorting"
## Minimal reproduction of the bug/regression with instructions:
I have an index of Invoices loaded from API to the NGRX Store, When the user enters a single Invoice it updates the full details from the API.

the Issue is that the index order changed when I user Ngrx updateOne I find that the ids array moves the entity to the front when updating it.

This issue is known and should be solved on old

[2021-11-09 08:06] AdditionAddict commented on #3224
Offending line is
https://github.com/ngrx/platform/blob/01dbce00ac6cf9287eed301b2aa3f801479bf8ed/modules/entity/src/sorted_state_adapter.ts#L124

[2021-11-09 08:31] Flachdachs opened #3225 "Wrong link on page Entity Adapter"
On page https://ngrx.io/guide/entity/adapter in the section of `createEntityAdapter<T>`:

In the description of `selectId` the word `method` is linked to an unrelated destination.

[2021-11-09 09:12] mansourcodes commented on #3224
solved

https://stackoverflow.com/questions/69894401/ngrx-updateone-change-ids-array-sorting/69895465#69895465

[2021-11-09 09:12] #3224 closed

[2021-11-09 16:12] Vlad00b opened #3226 "Cannot read property 'start' of undefined at new EffectsRootModule"
I have an ionic project for Angular 11.2.0. The project uses ngrx. I need to implement server side rendering.
I use "@nguniversal / express-engine" for this.
![image](https://user-images.githubusercontent.com/48056663/140810539-c5428704-c706-4b94-832b-27c93551a0e1.png)
When trying to import EffectsModule
![image](https://user-images.githubusercontent.com/48056663/140810827-f3aa5426-fec7-416f-bccb-

[2021-11-09 17:55] timdeschryver commented on #3186
Thanks @jordanpowell88 , feel free to take this.
Though maybe it would be better to wait on #3184.

[2021-11-09 17:58] timdeschryver commented on #3187
I'll take this one.

[2021-11-09 17:58] jordanpowell88 commented on #3186
Sounds great. I'll wait on #3184 first

[2021-11-09 18:07] timdeschryver commented on #3222
Thanks for opening this issue @Pingear .

See the [Angular docs](https://angular.io/guide/template-typecheck#strict-null-checks) for more info.
I think we should follow the docs and add a bang operator to the async pipe.

Do you want to create a Pull Request with these changes @Pingear ?

[2021-11-09 18:18] timdeschryver commented on #3226
I noticed that the Angular and NgRx versions are different, have you tried to keep the Agular and NgRx versions compatible on v11 or v12?

[2021-11-09 18:37] timdeschryver commented on #3225
Thanks for openening this issue Flachdachs, if you want feel free to update our docs at https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/guide/entity/adapter.md and remove the backticks around `method` - this should fix this issue.

[2021-11-09 19:53] Vlad00b commented on #3226
Yes, I used ngrx 11.1.1 with angular 11.2.0, but the error remained.
It turned out to be much simpler. I just needed to provide the exact versions of the dependencies. Now my package.json looks like this and it working.
![image](https://user-images.githubusercontent.com/48056663/140994790-91dd99d6-3962-4a2e-882a-bebc5b3ef35d.png)

[2021-11-09 19:53] #3226 closed

[2021-11-10 12:04] brandonroberts commented on #3174
This was an Nx configuration issue

[2021-11-10 12:04] #3174 closed

[2021-11-10 12:05] brandonroberts commented on #3165
If this is breaking and we want to get this into v13, now's the time.

[2021-11-10 12:50] Flachdachs commented on #3225
The process of changing two backticks is much simpler for someone who is already involved in the project than for others that have to do a whole chain of actions starting with a fork.

[2021-11-10 13:30] #3189 closed

[2021-11-10 17:55] Evexis commented on #3165
@markostanimirovic What do you mean? Shall I contribute and resolve this issue?

[2021-11-10 18:05] markostanimirovic commented on #3165
@Evexis Yes, if you want of course.

[2021-11-10 18:12] Evexis commented on #3165
@markostanimirovic I will try 😄

[2021-11-10 19:58] Evexis commented on #3165
@markostanimirovic [PR](https://github.com/ngrx/platform/pull/3227) I have an issue with tests failing, there are errors thrown from files not affected by my change. Could you help me?

[2021-11-10 20:14] markostanimirovic commented on #3165
Thanks for the PR! Sure, I'll take a look 👍

[2021-11-10 20:27] marko-jobcloud commented on #3165
@Evexis  can you rebase to `master` branch (not `angular-v13-rc`)?

[2021-11-10 20:39] Evexis commented on #3165
@marko-jobcloud done

[2021-11-10 20:45] markostanimirovic commented on #3165
@Evexis  but keep only your commit:

![ngrx-data](https://user-images.githubusercontent.com/17877290/141190479-6eb318cb-0752-4e39-a297-d8cbbf889ce1.PNG)

[2021-11-10 20:51] Evexis commented on #3165
@markostanimirovic Sorry for doing the mess, it's the first time I'm contributing - I've opened a new [PR](https://github.com/ngrx/platform/pull/3228) and have closed the first one

[2021-11-10 21:33] #3165 closed

[2021-11-11 12:09] monkeycatdog commented on #2991
I have the same issue
Seems like the initialisations is async. weird.

[2021-11-11 12:33] #2715 closed

[2021-11-11 14:26] david-shortman commented on #2839
I can look at this. I'm thinking the simplest implementation is creating a selector under-the-hood when multiple selectors are passed to `select`:

[code]

[2021-11-11 14:37] brandonroberts commented on #2839
I disagree with adding this as I think it muddies up the separation between selectors and the store

[2021-11-11 14:42] david-shortman commented on #2839
Ah, fair point

[2021-11-11 14:47] david-shortman commented on #2839
This could be implemented without using `createSelector` so the divisions could remain in place.

[2021-11-12 00:52] Pingear commented on #3222
Hi @timdeschryver !
Yes I can)
https://github.com/ngrx/platform/pull/3230

[2021-11-12 12:29] david-shortman commented on #2839
Since this is already supported, I can see why store.select doesn't need this feature:

[code]

However, this requires a dependence on createSelector.

This anonymous method is also harder to unit test, so it's likely that the anonymous selector should be extracted into its own named selector.

But, that creates more boilerplate.

My assessment is:

Pros to store.select supporting multiple selecto

[2021-11-12 12:34] david-shortman commented on #2839
To be clear, I am not recommending the API from the original issue post, which does look like the createSelector api with a series of selectors and a projector.

I'm suggesting `select` is able to take in a variadic number of map functions only.

[code]

[2021-11-12 21:57] Pingear commented on #3222
@markostanimirovic
@timdeschryver

Hey)
Unfortunately, I cannot resolve all conflicts on my own, so I am revoking my pull request. In the process of correcting, we had disagreements, the solutions of which I would like to shift onto the shoulders of the authors of the library)
I have collected all conflicting cases -

  1) https://github.com/ngrx/platform/blob/master/projects/example-app/src/app/a

[2021-11-12 22:11] gr4vitonn commented on #2080
I ran into the same issue.

One of the devs put { dispatch: false } on an effect which is supposed to dispatch the returned action.
The unit test can't prevent that, since the effect stream is not changed by { dispatch: false }, so in this case we can also expect what the returned action is.

The mistake was catched during manual testing, but I thinkit would be good to be able to catch such a mist

[2021-11-13 09:41] PJozeph commented on #951
Show how this problem solved?

[2021-11-13 11:12] Sagato opened #3233 "On ngrx/Schematics execution > Cannot read property 'Loose' of undefined"
Hi,

when I add ngrx to my Angular 13 Project (13.0.0) I am unable to create via schematics:
`ng generate @ngrx/Schematics:entity user -m app.module.ts`

the error says: `Cannot read property 'Loose' of undefined`

What I already did to resolve:

Remove all packages, do a clean install. Delete Package-lock, did a clean Install.
Downgraded to Version 12.4.0 in order to see if the error persists.

I

[2021-11-13 16:15] brandonroberts commented on #3233
This is because there was a breaking change in the Angular Devkit that removed the JSON parser from schematics. This is fixed in NgRx 13. As a workaround you could try only bumping the @ngrx/schematics package to the 13.x RC.

[2021-11-13 16:18] snutij commented on #3225
I can open a PR if it's ok for you @timdeschryver 👍

[2021-11-13 16:19] timdeschryver commented on #3225
It's all yours @snutij

[2021-11-13 19:03] #3225 closed

[2021-11-13 21:18] timdeschryver commented on #3159
Closing this issue because we have added docs for the ESLint plugin.

Also fwiw, you can unit test that dispatch is set to false.

[code]
[code]

[2021-11-13 21:18] #3159 closed

[2021-11-13 23:10] Sagato commented on #3233
okay I see, thx for the fast reply. Is there any estimate on the release of NgRx 13? Greets

[2021-11-15 11:52] cesco69 opened #3238 "Angular 13: Publish full Ivy library"
From angular 13 cli console:

[code]

[2021-11-15 11:57] brandonroberts commented on #3238
We are already publishing Ivy libraries with the V13 RC

[2021-11-15 11:57] #3238 closed

[2021-11-15 12:20] Khanji opened #3239 "ng add fails with Angular v13"
## Minimal reproduction of the bug/regression with instructions:
[code]
## Expected behavior:

Successfully install @ngrx/store@latest

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):
ngrx: v12.5.1
angular: v13
node: v16.10.0
npm: 7.24.0
os: Windows 11 Home version: 21H2 build: 22000.346

[2021-11-15 12:44] timdeschryver commented on #3239
Can you try the next version of NgRx `ng add @ngrx/store@next`.
If that doesn't resolve this, feel free to reopen the issue.

[2021-11-15 12:44] #3239 closed

[2021-11-15 22:48] JayAhn2 commented on #3233
After updating all ngrx dependency to `13.0.0-rc.0`, I got the below error.

[code]

[2021-11-16 02:35] brandonroberts commented on #3233
I got this error also when using just the reducer schematic. It seems that removing the comments from the `tsconfig.app.json` fixes the issue. This seems like a build issue, as when I checked the schematics, it still contained Ivy checks, which checks the `tsconfig.app.json`. This will be resolved in the v13 release build.

[2021-11-16 02:35] #3233 closed

[2021-11-17 00:25] #3187 closed

[2021-11-17 09:04] ffadikhan commented on #3233
@brandonroberts I am facing same issue **Cannot read property 'Loose' of undefined** when try to create reducer in cli.
Below is my `tsconfig.app.json` file.

`{
  "extends": "./tsconfig.json",
  "compilerOptions": {
    "outDir": "./out-tsc/app",
    "types": []
  },
  "files": [
    "src/main.ts",
    "src/polyfills.ts"
  ],
  "include": [
    "src/**/*.d.ts"
  ]
}
`
I am using latest ngrx packa

[2021-11-17 11:24] gkamperis opened #3242 "createFeatureSelector - featureName is not type checked"
## Minimal reproduction of the bug/regression with instructions:

https://github.com/ngrx/platform/blob/4e9d52f252e965db06477d4591dccccda6fbff19/modules/store/src/selector.ts#L618

currently `createFeatureSelector` is defined as

[code]

This allows for any random string to be passed as a `featureName` and TS cannot type-check for non existent fields

## Expected behavior:

I would expect that the

[2021-11-18 11:36] cedricduffournet opened #3243 "Error when executing test with jest and jest-circus as testRunner"
## Minimal reproduction of the bug/regression with instructions:

I am not sure than this issue is related to ngrx, angular or jest package. My apologize if I am in the wrong place

1. Clone this repo: github.com:cedricduffournet/test-ngrx-error.git
2. Install dependencies
[code]
3. Run jest test

[code]

The following error occur in all tests with provideMockStore added to providers
[code]

If i

[2021-11-18 12:14] brandonroberts commented on #3243
This is not an NgRx issue, as we don't control testing configuration. From the GitHub repo, I don't see where your Jest config is setup properly. Check the examples here https://github.com/thymikee/jest-preset-angular/tree/main/examples

[2021-11-18 12:23] cedricduffournet commented on #3243
ok, actually i did check the example, this error occur only when I add `provideMockStore` to `providers` in `configureTestingModule`  so I thought it was NgRx issue. I don't think it comes from `jest-preset-config`. I'm going to check if it comes from jest or angular package

[2021-11-18 13:54] cedricduffournet commented on #3243
I posted an issue in jest-preset-angular repo (https://github.com/thymikee/jest-preset-angular/issues/1187). My config seems to be ok.

[2021-11-18 14:08] cedricduffournet commented on #3243
if I disable `destroyAfterEach` in `configureTestingModule` all test pass https://github.com/cedricduffournet/test-ngrx-error/blob/master/src/app/books/containers/collection-page.component.spec.ts#L40 successfully

[2021-11-18 15:13] ffadikhan commented on #3233
@Sagato and @JayAhn2 NGRX version 13 is now available and my issue has been fixed.

[2021-11-18 16:36] cedricduffournet commented on #3243
@brandonroberts I think this is a NgRx package issue.

In angular V13 `destroyAfterEach` is activated by default (https://dev.to/this-is-angular/improving-angular-tests-by-enabling-angular-testing-module-teardown-38kh)

In `mock_store.ts` file, `resetSelectors` is executed in `afterEach` (https://github.com/ngrx/platform/blob/master/modules/store/testing/src/mock_store.ts#L21), but because TestBed

[2021-11-18 19:10] timdeschryver commented on #3243
Sorry, but I'm a bit confused.
How's this related to jest?
I tried the reproduction, but it's running karma (with a bad config).

[2021-11-18 19:23] cedricduffournet commented on #3243
Sorry I made a mistake in mu description, to run jest :

`yarn jest`

[2021-11-19 10:37] cedricduffournet opened #3244 "Docs: dns error with v12 documentation"
## Minimal reproduction of the bug/regression with instructions:
 - navigate to https://v12.ngrx.io

it seems that v12 subdmain has not been configurated

## Expected behavior:
Documentation should be displayed

## Other information:
Mayby related to this issue ? https://github.com/ngrx/platform/issues/3185

[2021-11-19 12:31] guisperandio commented on #3243
I was facing the same problem and figured out that it was related to the destroyAfterEach property. My questions here are:
1) Does having this set truly make a performance impact?
2) Should the provideMockStore works with this set to true?

@cedricduffournet @brandonroberts

[2021-11-19 12:48] cedricduffournet commented on #3243
I think it should be fixed as `destroyAfterEach` is this is the default value in angular 13, and` jest-circus` is default testRunner in `jest`.

Or maybe it should be mentionned in NgRx doc that `destroyAfterEach` should be disabled in test using `mockProviderStore`.

[2021-11-19 12:51] timdeschryver commented on #3244
It's working now, I think.
If it doesn't work, please at a comment to # #3185.

![image](https://user-images.githubusercontent.com/28659384/142625639-9d6a0451-09c7-4f55-8575-2caf30df1ec3.png)

[2021-11-19 12:51] #3244 closed

[2021-11-19 12:53] brandonroberts commented on #3243
Yes I think we should support this without explicitly disabling the cleanup. It looks like from the example above it can be detected whether to do it.

[2021-11-19 12:54] minijus commented on #3243
I can confirm this. Just migrated semi-sized (~350 projects) Nrwl monorepo to version 13 and got bunch of failing tests.
Majority of them (those that I've managed to look at) use `provideMockStore`. Adding `teardown`property with `destroyAfterEach: false` seems to solve the issue. However, it would be nice not to add overrides for Angular defaults when using NgRx.

[2021-11-19 12:56] cedricduffournet commented on #3243
@brandonroberts  I can do a PR if you'd like based on this ? https://github.com/ngrx/platform/issues/3243#issuecomment-973153702 ?

[2021-11-19 13:05] brandonroberts commented on #3243
@cedricduffournet yep. We'll need a test to verify this also.

Here is an article from @LayZeeDK about the performance impact of the teardown https://dev.to/this-is-angular/improving-angular-tests-by-enabling-angular-testing-module-teardown-38kh

[2021-11-19 13:29] cedricduffournet commented on #3243
@brandonroberts there is no error in NgRx repo because it use `jest-jamine2` as testRunner.
Maybe we can use `jest-circus` in `example-app` to check if testing `shouldTearDownTestingModule` fix this issue (I already did the migration from `jest-jasmine2` to jest-circus in this repo https://github.com/cedricduffournet/test-ngrx-error) ?

[2021-11-19 13:41] brandonroberts commented on #3243
Yea, if we're using any jasmine-specific APIs for testing the example-app, those would have be migrated but that seems reasonable to me.

[2021-11-19 14:08] LayZeeDK commented on #3243
The table towards the end of the article tries to sum up the settings and reads that Angular testing module teardown is opt-out as of Angular 13.0:
![image](https://user-images.githubusercontent.com/6364586/142635792-d4ac6e5a-4d9d-4b65-94e3-a32dc40c3e84.png)

[2021-11-19 14:09] brandonroberts commented on #3188
https://medium.com/ngrx/announcing-ngrx-version-13-ivy-builds-feature-creators-improved-selectors-and-more-6a1a4c52c824

[2021-11-19 14:09] #3188 closed

[2021-11-19 14:10] brandonroberts commented on #3185
https://v12.ngrx.io

[2021-11-19 14:10] #3185 closed

[2021-11-19 19:44] e-davidson opened #3246 "*ngrxLet causes ASSERTION ERROR: Reached the max number of directives [Expected=> 1 != 1 <=Actual]"
The issue seems to be when the observable emits while angular is still constructing the template.

## Minimal reproduction of the bug/regression with instructions:

Here's an example to reproduce

https://github.com/e-davidson/angular-issue-reproduction-2021

## Expected behavior:

The component should render with no errors.

## Versions of NgRx, Angular, Node, affected browser(s) and operating sy

[2021-11-20 16:36] boufenzi opened #3247 "Ngrx Data showing a weird error with Angular 12"
Hello guys, i'm having an error using ngrx Data that i don't understand. I followed the documentation of ngrx Data and everything works fine i'm getting data but in my html the result don't show and i'm having this error in the console :
[code]
do someone knows why am i having this error ?

[2021-11-21 18:58] markostanimirovic commented on #3247
@boufenzi

It's difficult to conclude what is happening in your app based on the console error you provided. Can you share your project on Github or create a reproduction via [StackBlitz](https://stackblitz.com/)?

[2021-11-21 19:52] markostanimirovic commented on #3246
Good catch @e-davidson ! 👍  The proposed solution seems good to me.

[2021-11-22 08:47] boufenzi commented on #3247
Hello, thanks for your response. Here is my stackBlitz, i just followed what ngrx data documentation said and i'm having this weird error that i don't know where she's coming from https://github-pp6u2q.stackblitz.io

[2021-11-22 12:05] #3247 closed

[2021-11-22 22:01] ahnpnl opened #3248 "[Bug]: `package.json` of `@ngrx/store/testing` is incorrect"
## Minimal reproduction of the bug/regression with instructions:

- Checkout https://github.com/ahnpnl/jest-preset-angular/tree/example-wrong-lib-format (branch **example-wrong-lib-format**)
- Run `yarn install` to install project dependencies
- Navigate to `e2e/partial-ivy-lib`
- Run `yarn install`
- Open `e2e/partial-ivy-lib/node_modules/@ngrx/store/testing/package.json`
- Observe that a few lin

[2021-11-23 08:44] timdeschryver commented on #3248
Thanks for the detailed report @ahnpnl

[2021-11-23 12:38] #3248 closed

[2021-11-23 18:52] dean-g opened #3252 "V13 upgrade got into too many errors"
I am getting too many errors while upgrading ngrx v13.

I am not sure why migration schematics doesn't update my selectors/reducers and other updates.

Is that something I have to manually update in my entire project?

[2021-11-23 18:56] brandonroberts commented on #3252
Hello @dean-g, if you need support, join the Discord at https://discord.gg/ngrx

[2021-11-23 18:56] #3252 closed

[2021-11-24 08:18] kklocker opened #3253 "Mismatch with ng 13 rxjs - dependency?"
I am slightly confused with the NgRx homepage, which states that the minimum version of RxJs should be 7.4.
![image](https://user-images.githubusercontent.com/25065744/143200005-fb119583-8b3f-4a17-a10b-99dd0741e83e.png)

I find this a bit weird, since angular13 relies on `rxjs ^6.6.7` and there has been introduced breaking changes in rxjs 6->7.4.
I guess my question/issue really is: When migrating

[2021-11-24 10:58] markostanimirovic commented on #3253
@kklocker

No, you can keep RxJS `6.5.3` or higher.

Angular `13.0` allows RxJS `^6.5.3` or `^7.4.0` as peer dependency, the same is for `@ngrx/store` ([package.json](https://github.com/ngrx/platform/blob/master/modules/store/package.json#L25)). Feel free to open the PR with the fix in migration guide :)

[2021-11-25 13:09] antonymaia commented on #2924
solved my problem, tks
BR: Essa solução resolveu o meu problema

[2021-11-26 14:03] #3253 closed

[2021-11-26 14:11] brandonroberts commented on #3242
We recommend using the single interface for the top-level selector.

[2021-11-26 14:11] #3242 closed

[2021-11-26 15:13] gkamperis commented on #3242
@brandonroberts thanks for the reply but I did not understand what the alternative is...
is there a simple example you can point me to?

[2021-11-29 15:48] LukasMachetanz commented on #3107
Any updates on this? I would really like to know how this can be done as simple as before.

[2021-12-03 02:16] ThangLeQuoc commented on #31
For my case, the error occurs if the `type` definition is a string is concatenated (this is the behavior of my IDE setting called hard wrap to auto break if the line is too long).
You will need to make sure the `type` is a concrete one single const string.

**Not working**
[code]

**Working**
[code]

[2021-12-03 03:25] david-shortman commented on #3107
Export your selectors in an object:

[code]

Then spying is trivial:

[code]

[2021-12-05 13:50] tomastrajan opened #3260 "[@ngrx/schematics] Optionally generate entity pattern (introduce -e / --entity flag) when generating NgRx feature"
Currently the `ng g feature path/to/feature/state/<state-name> -a -c --module path/to/feature` is great to scaffold whole state features in the consistent fashion across many features / projects.

The issue is that when used, the generated reducer is "vanilla" eg not implementing entity pattern.

It would be great to introduce additional `-e` or `--entity` flag which would

- generate reducer with

[2021-12-06 14:55] cedricduffournet opened #3261 "Stackblitz links are outdated"
The following stackblitz links are outdated:
 - ~https://stackblitz.com/edit/ngrx-seed (contribution - v12)~
 - ~all examples in docs (v12)~ (closed by https://github.com/ngrx/platform/pull/3269)
 -  https://stackblitz.com/edit/ngrx-router-store-selectors (doc - v11)

[2021-12-06 15:21] markostanimirovic commented on #3261
@cedricduffournet

There is already an open issue for examples: https://github.com/ngrx/platform/issues/3186

[2021-12-06 18:55] timdeschryver commented on #3261
Does stackblitz work with Angular 13?

I'm getting the following error.
I also tried creating a new project (defaults to angular 12), and after upgrading it to v13 I also get this error.

[code]

[2021-12-06 18:58] #3246 closed

[2021-12-06 19:06] timdeschryver commented on #3217
I think this (setting `strictFuctionTypes` to `false`) is very specific.
We'll keep our eyes and ears open, if it happens again we can add it to the docs.
For now, I'm closing this issue.
Thanks @markostanimirovic for the investigation.

[2021-12-06 19:06] #3217 closed

[2021-12-06 19:10] timdeschryver commented on #3108
Closing this issue because it's an edge case, and I consider that IDs can't be changed.
We might re-evaluate this when it pops up again.

[2021-12-06 19:10] #3108 closed

[2021-12-06 19:10] #3112 closed

[2021-12-06 22:23] cedricduffournet commented on #3261
Code example in angular doc seems to use "WebContainer".  On stackblitz dashboard you can create `Node.js` project (this is a beta version).
I created an example with ngrx : https://stackblitz.com/edit/node-v7anuw

[2021-12-07 13:17] #3243 closed

[2021-12-07 13:44] timdeschryver commented on #3261
Oh neat, thanks for the info @cedricduffournet, I did not know that 👍

[2021-12-08 11:29] cedricduffournet commented on #3222
@timdeschryver  can I take this one ? I already checked the review that has been made on this PR : https://github.com/ngrx/platform/pull/3230

[2021-12-09 00:36] RogelioCamargo commented on #508
This worked for me, thanks a ton!

[2021-12-09 12:37] prewk commented on #835
Perhaps related?

When we lazy-load routes - and store features - we end up with a situation where the router-store state  is undefined long enough for our selectors to crash. Yet `getSelectors().selectUrl()` is typed with `string`? It seems that type cannot be trusted. It evidently is `undefined` sometimes. Should it be changed?

[2021-12-11 22:02] light9 commented on #835
Эх авч Бирме жюри  иыя г  и где ссмь

[2021-12-13 11:01] progtarek commented on #2980
[code]

I was wondering how to update the selector that takes other multiple selectors as an argument, @theefer @mistic100 @brandonroberts @mmulhearn @Klaster1 @timdeschryver

[2021-12-13 11:35] Klaster1 commented on #2980
@progtarek your example selectors do not use props and should work with `overrideSelector`. What's the issue?

[2021-12-13 11:45] progtarek commented on #2980
@Klaster1
I am getting this error on starting the app after the upgrade
**error TS2769: No overload matches this call.**
![image](https://user-images.githubusercontent.com/18407645/145806461-0c27d98e-f6e9-4d36-9759-8136c9228cfe.png)
![image](https://user-images.githubusercontent.com/18407645/145806625-7a82b83f-24f9-493c-a398-0a16f0165dd0.png)

[2021-12-13 21:48] sixmo opened #3263 "Cypress/Webpack builds fail after updating to v13"
After updating from an NG12 app to NG13, the application is building and behaving correctly, but the Cypress tests don't work anymore. Webpack seems to have a problem finding @angular/core:
`Error: Webpack Compilation Error
./node_modules/@ngrx/store/fesm2015/ngrx-store.mjs
Module not found: Error: Can't resolve '@angular/core' in 'C:\projects\[...]\node_modules\@ngrx\store\fesm2015'
resolve '@ang

[2021-12-14 11:46] timdeschryver commented on #3263
Do you have a reproduction of this @sixmo ?

[2021-12-15 16:28] sixmo commented on #3263
@timdeschryver I tried setting it up with the ngrx-seed repo, but I wasn't successful yet.

On the other hand, I'm not sure if it's a NgRX issue, looking at this [issue](https://github.com/cypress-io/cypress/issues/19066)

[2021-12-15 16:51] sixmo commented on #3263
Puting the solution in place, as proposed in the comments of the above issue, returns me to the imports used in NgRX:
[code]

[2021-12-16 23:08] markostanimirovic commented on #3263
@sixmo Can you reproduce the issue without StackBlitz and push the project with reproduction on GitHub?

[2021-12-17 16:20] LukasMachetanz opened #3264 "Sporadically failing specs with version 13.0.2 instead of version 13.0.1"
Hey everyone!

Using version `13.0.2` instead of `13.0.1` results in sporadically failing specs within an Nrwl/Nx/Angular project using Karma/Jasmine.

[code]

Following artefacts are used within the test suite:

[code]

Error:

Has anyone an idea what could be the reason for the shown error? Are any similar problems known using the mentioned version? The described problem occurs within our projec

[2021-12-17 16:33] LukasMachetanz commented on #3264
I had a look at the changes done from 13.0.1 to 13.0.2: https://github.com/ngrx/platform/compare/13.0.1...13.0.2

Could the commit https://github.com/ngrx/platform/commit/06400850512843febea562f7509f018734defc21 be the reason for my experienced problems?

Maybe we are doing something wrong which was previously corrected by NGRX itself?

[2021-12-17 16:41] timdeschryver commented on #3264
See [docs](https://ngrx.io/guide/store/testing#using-mock-selectors).

Have you added `resetSelectors` to your test files?
This was previously handled by NgRx, but due to the new behavior of the Angular TestBed (with teardown), NgRx isn't able to do that for you anymore.

[code]

[2021-12-17 18:40] mwamufiya opened #3265 "Documentation for factory selectors and how they can be nested to construct final desired state"
having checked the ngrx SO, where there are a few outstanding questions on this topic with no answer, as well as a outstanding question in gitter on this topic. there seems to either be some missing documentation on this topic, of this feature is something that the community is using in an unintended way.

since selectors with props were deprecated & the recommended way of dealing with properties

[2021-12-18 15:11] patelvimal commented on #2004
@Jefiozie  @samuelfernandez this issue is still opened. I will be more than happy to submit a PR as you have suggested above.

[2021-12-18 16:02] samuelfernandez commented on #2004
Just noticed that this issue is accepting PRs, will try to submit it and see how it goes

[2021-12-18 16:40] patelvimal commented on #3186
@timdeschryver Does this issue still relevant? I guess required changes has been done in #3184.

[2021-12-20 12:46] LukasMachetanz commented on #3264
@timdeschryver Thank you for the response. The proposed solution fixes our sporadically failing specs. I guess there is no other option than adding the `afterEach` hook with the proposed implementation within each test-suite, right?

[2021-12-20 13:58] knikolos commented on #3264
You can add this in `test.ts`
[code]

[2021-12-20 17:24] LukasMachetanz commented on #3264
@knikolos Thank you for this suggestion. With this final input the issue is resolved for me. Thanks for the support. :)

[2021-12-20 17:24] #3264 closed

[2021-12-20 22:24] kjelko opened #3266 "ComponentStore updater errors are not catchable"
## Minimal reproduction of the bug/regression with instructions:

https://stackblitz.com/edit/angular-ivy-tgtbh9?devtoolsheight=33&file=src/app/hello.component.ts

## Expected behavior:

I expect the try/catch block to catch the error that is thrown in the ComponentStore updater.

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

This should all be captured in Stack

[2021-12-21 14:13] samuelfernandez commented on #2004
@patelvimal I won't have much time for this soon

[2021-12-21 14:21] patelvimal commented on #2004
No issues, I will be happy to raise a PR for this.

[2021-12-21 15:53] jboeijenga opened #3268 "Type inference for createSelector is broken since changing to variadic tuple types"
## Minimal reproduction of the bug/regression with instructions:

[code]

As of v13 above code will give a compile error saying: Object is of type 'unknown'.

## Expected behavior:

Expected that createSelector would be able to infer the return type for `selector` correctly to `{first : string}`

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

NgRx 13

[2021-12-21 17:20] david-shortman commented on #3268
Contextual inference for the projector's return value based on its arguments fails when it's variadic. Not sure of the solution yet.

Here's a reproduction that shows the inference works when explicitly declaring a creator function which only takes in "one slice" of state vs one that takes in a variadic number of slices: [playground](https://www.typescriptlang.org/play?jsx=0&ssl=15&ssc=52&pln=1&pc

[2021-12-21 17:22] david-shortman commented on #3268
Note that the inference works fine when providing the function plainly without generics:

[code]

[2021-12-21 17:23] david-shortman commented on #3268
Finding the mechanism by which `T` is unable to be inferred in `getData` (hence becoming `unknown`) will resolve this issue.

[2021-12-21 17:48] david-shortman commented on #3268
Shooting my shot on SO 😅- https://stackoverflow.com/questions/70439616/why-does-contextual-inference-fail-for-the-return-type-of-previously-declared-fu

[2021-12-21 18:47] markostanimirovic commented on #3265
@mwamufiya

Factory selector from your example can be called as follows:

[code]

However, this is not the right way how selectors should be used. If you want to move the calculation logic from the selector's projector, you can do so by creating a plain TS function instead of calling another selector from the selector's projector.

Feel free to join our [Discord](https://discord.gg/8GRHc2Z3) serve

[2021-12-21 18:47] #3265 closed

[2021-12-21 19:52] timdeschryver commented on #3222
@cedricduffournet sorry for my late answer, but yes of course you can 👍

[2021-12-21 19:55] timdeschryver commented on #3186
@patelvimal yes it's still required. #3184 has updated the main repo with its libraries to v13, but we also have to update our examples on ngrx.io, which can be found [here](https://github.com/ngrx/platform/blob/master/projects/ngrx.io/tools/examples/shared/package.json).

[2021-12-22 04:47] patelvimal commented on #3186
@timdeschryver thanks for the update. I can take this one and raise the PR.

[2021-12-22 08:28] timdeschryver commented on #3186
Please check with @jordanpowell88 first.

[2021-12-22 13:02] patelvimal commented on #3186
@jordanpowell88 I can see you have already made the required changes in your [commit](https://github.com/jordanpowell88/platform/commit/b8f3a36473ba9ff1a29496eeac094def41f21625).
Is there anything pending on that? Let me know if I can contribute in some way.

[2021-12-22 13:04] jordanpowell88 commented on #3186
Hey fellas, I was waiting for Nx to get updated, let me work on finishing this up. I'll reach out if I need any help @patelvimal !

[2021-12-22 13:05] jordanpowell88 commented on #3186
Can you assign to me @timdeschryver?

[2021-12-22 18:09] timdeschryver commented on #3186
Sure, thanks @jordanpowell88

[2021-12-22 19:51] timdeschryver commented on #3261
Fyi, I've updated the ngrx-seed to v13.
For the example app, we'll have to verify that a web container project supports TS paths.

[2021-12-23 12:18] PixelatedFigure opened #3270 "[@ngrx/schematics] Add Feature Selector and pass it to getSelectors when generating entity"
## Minimal reproduction of the bug/regression with instructions:

When using ngrx schematics to generate an entity, you can provide a module to register the state as a feature in that module, and it generates a feature key to be added to an action reducer map, but one thing missing that developers must always do when generating this creates a feature selector and pass it to the "getSelectors" meth

[2021-12-23 12:41] cedricduffournet commented on #3261
@timdeschryver thank you for the ngrx-seed update.
I checked and web container supports paths configured in tsconfig.json (I think that's why this [issue](https://github.com/stackblitz/core/issues/220) has been closed).
Quick example here : https://stackblitz.com/edit/node-l7ijlh?file=src%2Fmain.ts

[2021-12-24 07:44] timdeschryver commented on #3264
Correct but that solution works until the auto teardown option is enabled.

[2021-12-24 23:05] david-shortman commented on #3268
Filed an issue in TS: https://github.com/microsoft/TypeScript/issues/47226

Not sure if the issue by design. But we may need to implement overload signatures again to patch this regression, as recommended in https://stackoverflow.com/a/70469205/11087018

[2021-12-29 16:05] brandonroberts commented on #2859
Closed via #3277

[2021-12-29 16:05] #2859 closed

[2021-12-29 16:13] brandonroberts commented on #3263
I don't see why this would be related to NgRx as we don't control Cypress tests

[2021-12-29 16:13] #3263 closed

[2021-12-29 16:14] #2591 closed

[2021-12-30 12:33] hraybould commented on #31
I managed resolve my issue by keeping the `types `as `const`s.

**DISCLAIMER:**
In my case, I am exporting all my types in one default object (to avoid using `import * as types from "./types"`, which I personally find cumbersome and unclean)

As a result the export process converted all my [redux] types to `string`, and I would lose associated payload types...

### The Issue:
[code]
`allTypes` bec

[2021-12-30 18:37] Jefiozie commented on #2004
@patelvimal  be my guest to pick this one up :)

[2022-01-04 09:50] maldago commented on #3264
Hello @timdeschryver ,

I know this is closed but is there somewhere we can track the auto teardown option release?

Thanks

[2022-01-04 17:19] timdeschryver commented on #3264
@maldago https://blog.angular.io/angular-v13-is-now-available-cce66f7bc296#1cd7

[2022-01-04 19:46] petrot opened #3278 "undefined Actions in createEffect"
## Minimal reproduction of the bug/regression with instructions:

We have featureStores with some featureEffects. The effects are defined based on the documentation:

[code]

We don't know why, our code started to fail with the following error:
`TypeError: Cannot read properties of undefined (reading 'pipe')`

because `this._actions$` is undefined.

I found an [old issue](https://github.com/ngrx/p

[2022-01-04 19:57] petrot commented on #3278
Solved: we had to change our tsconfig:
wrong: `"target": "esnext"`
fixed: `"target": "es2015"`

[2022-01-05 13:23] #3278 closed

[2022-01-06 03:10] zizifn commented on #2986
Not trying to be rude here, but why ngrx prefer gitter for questions, gitter and discord may blocked by the company proxy and maybe not be searchable.

[2022-01-06 07:32] #3186 closed

[2022-01-06 12:57] brandonroberts commented on #2986
@zizifn no worries. That may be true, but issues are for bugs(reproducible) and feature requests. You'll get better support from people in those places.

[2022-01-06 17:30] timdeschryver commented on #3107
Moving this to a discussion because this isn't a bug.

[2022-01-07 06:06] zigiprimo commented on #1641
voting to re-open as well - would like an option to allow developer to choose if entity should preserve type.

[2022-01-08 13:02] #3222 closed

[2022-01-10 08:24] c-goldschmidt commented on #3268
For anyone running into this issue: `13.0.0-beta.0` works with angular 13 and does not contain the changes to the interfaces.

[2022-01-10 13:29] myflowpl commented on #3263
@sixmo I have the same problem and the same error, did you found solution to it ?

[2022-01-11 10:34] Laktik228 opened #3282 "Wrong type either in the documentation or in the type definition"
Greetings! I have a following issue: In the docs its clearly said that the upsertOne or upsertMany entity adapter has a partial update support:

upsertOne: Add or Update one entity in the collection. Supports partial updates.
upsertMany: Add or Update multiple entities in the collection. Supports partial updates.

While in the code it seems that the type does not support it:
<img width="394" alt="

[2022-01-11 10:49] daniel-sc commented on #3264
This issue/solution resolved some bad headaches on my side 🥇
It should be documented as a "breaking change" in the change log here (IMHO).

[2022-01-11 15:15] piacentero opened #3283 "Problems with HttpClient requests"
Hi.
I have a problem in an Angular project with all the http requests.
After I installed ngrx/store, ngrx/effects and ngrx/store-devtools every http request doesn't complete unless I force completion with take(1) operator.

I am currently using Angular v10.1.6, rxjs v6.6.0 and ngrx v10.1.2.

Thanks! (ˉ﹃ˉ)

[2022-01-11 15:18] kellywoo opened #3284 "Module with Featured store imported into 2 parent modules gets destroyed even only one parent module gets destroyed."
## Minimal reproduction of the bug/regression with instructions:

I have  'GirlModule' and 'BoyModule' both import 'ChildModule'
Each has own featured store and the problem is if I destroy BoyModule, the store of ChildModule gets disappeared even GirlModule should be with childmodule store.
Here's the code and steps.

1. toggle to lazy-load BoyModule and check the string represents the store state

[2022-01-11 21:21] markostanimirovic commented on #3283
Hi @piacentero 👋

We are trying to keep GitHub issues for bugs and feature requests. For questions, feel free to join our [Discord server](https://discord.com/invite/ngrx) or start a new [Q&A Discussion](https://github.com/ngrx/platform/discussions/new?category=q-a) on GitHub.

Regarding this question, it would be great if you can create a reproduction on [Stackblitz](https://stackblitz.com/edit/n

[2022-01-11 21:21] #3283 closed

[2022-01-12 00:06] markostanimirovic opened #3288 "ngrx.io: update footer year to 2022 🎄"
Update year in [footer.component.html](https://github.com/ngrx/platform/blob/master/projects/ngrx.io/src/app/layout/footer/footer.component.html#L20) file to 2022.

[2022-01-12 04:35] SarveshLimaye commented on #3288
@markostanimirovic can I work on this issue?

[2022-01-12 14:30] RedAlex12 opened #3290 "NgRx Data service .update() removes object prototype instead of updating the changed fields"
Minimal reproduction of the bug/regression with instructions: Create an Entity Data Service with that contains initialized objects of a certain type (using .getAll() and a map operator to pipe the incoming json into an initialized object). Then update them using the .update() method. The update will remove the object type from the updated object.

Expected behavior: Only update the changed values,

[2022-01-12 17:33] timdeschryver commented on #3288
Sorry @SarveshLimaye, this is already added in #3289

[2022-01-12 18:30] #3288 closed

[2022-01-12 18:30] #3290 closed

[2022-01-12 19:01] timdeschryver commented on #3282
The types are correct here, we want to enforce that a full-fledged object instance is passed to `upsert`. For more info see https://github.com/ngrx/platform/pull/912

Do you want to update the docs @Laktik228 ?

[2022-01-13 13:27] Laktik228 commented on #3282
@timdeschryver I proposed the change
https://github.com/ngrx/platform/commit/b517d18a37acfd6242115a53c9806935fd3e5a8b

[2022-01-14 17:26] thompsonap09 commented on #1868
Has anybody figured out how to handle this? It looks like @adrianfaciu was working on it at one point and @alex-vg  seems to have figured out how to at least make it work a bit

[2022-01-14 20:19] dedwardstst opened #3292 "[@ngrx/component]: ngrxLet throws an error when used in a lazily loaded module"
## Minimal reproduction of the bug/regression with instructions:
If I use ngrxLet from ReactiveComponentModule in component that is not lazily loaded, I don't see any errors and things work fine. When I use ngrxLet from a lazily loaded component, I see the error "can't bind to ngrxLet since its not a known property of ng-container".

Here is the stackblitz with a minimal reproduction.
[https://sta

[2022-01-14 23:15] dedwardstst commented on #3292
Ah, it helps if you put your component in your module declarations. Apologies.

Closing this. 🤦

[2022-01-14 23:15] #3292 closed

[2022-01-16 00:01] AmebaBrain commented on #3268
This is actually a madness of a new type definition. With a mix of a new `createFeature` approach I burnt 3 hours before got into this issue opened.

`Offtopic`: With addition of new 'createFeature` function with single reducer definition this release is kind of strange. When you have nested objects in your feature object you still have to pack everything into a single reducer function. Just fo th

[2022-01-16 21:59] markostanimirovic commented on #3284
@kellywoo

The reported behavior is actually expected (see the source code [here](https://github.com/ngrx/platform/blob/master/modules/store/src/store_module.ts#L103)).

We could prevent the feature reducer from being removed by adding a flag to the configuration, like this:

[code]

Thoughts?

[2022-01-16 22:07] #3282 closed

[2022-01-17 04:34] kellywoo commented on #3284
Thank you for your kind reply.
I was hoping there would be a way to count modules and if all count goes to zero, destroy store.....
but preserveOnDestroy sounds reasonable too.
Especially with associating effects & selectors..
That would be real helpful :) ❤️

[2022-01-17 15:36] brandonroberts commented on #3284
I think this is more of an edge case, that if you are dynamically creating and destroying modules, that you should load the store feature separately if you want it to outlive the lifecycle of the module.

[2022-01-17 17:06] timdeschryver commented on #3268
We're sorry to hear that - how can we improve this? If it's related to `createFeature`, please open a new discussion or issue.

To be clear, the `createFeature` function has nothing to do with the introduction of variadic tuple types for selectors.

[2022-01-17 17:08] timdeschryver commented on #3264
That's a good idea @daniel-sc , do you want to add this new behavior to the [migration guide](https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/guide/migration/v13.md)?

[2022-01-17 17:46] vladtheimpala commented on #2591
We get a lot of trouble on my app regarding root effects instantiated before APP_INITIALIZER. @brandonroberts is there and what is the recommended way to solve my issue ? thanks for support

[2022-01-17 18:22] timdeschryver commented on #3270
The preferred way to consume entity selectors is how it's added to the schematics.

[code]

[2022-01-17 18:22] #3270 closed

[2022-01-17 18:35] timdeschryver commented on #3261
@cedricduffournet Good to know!
Do you want investigate this further so that our example app also targets a webcontainer project?
Seems like it's [documented](https://developer.stackblitz.com/docs/platform/project-config), and that the Angular team already ported over their examples in [this commit](https://github.com/angular/angular/commit/8020457ce213de2675daf58be2f972e8284a7670#diff-5908ae50532

[2022-01-17 18:49] cedricduffournet commented on #3261
@timdeschryver yes of course !

[2022-01-17 19:03] timdeschryver commented on #3261
Thanks @cedricduffournet !

[2022-01-17 19:43] PixelatedFigure commented on #3270
Yes, this is what is generated by the schematics when generating an "entity"
But the purpose of this issue is to add a feature selector to the generated reducer and pass it to the adapter.getSelectors method as this is a feature state we're talking about that is registered within a feature module and is part of a root state, and we need a feature selector to specify the state we're using for those

[2022-01-18 01:30] kellywoo commented on #3284
I agree what you are saying in some points, but in a way, I disagree with the comment that this is out about outliving the lifecycle of the module.
This is about managing common resources, most big apps which runs on spa use dynamic-loading,
and I wonder how many people aware of this.
that's why I posted the issue here.

But I think it's true that this is an edge case, only few apps needing switch

[2022-01-18 14:47] mejakm opened #3293 "Map object is not supported in redux devtools"
## Minimal reproduction of the bug/regression with instructions:

My state with a Map inside:

![image](https://user-images.githubusercontent.com/14975302/149959152-388d454f-27c5-4f7f-bbee-909815fae78b.png)

After dispatching the action and getting the response in my devtools it shows that my state is empty while in fact it's not.

![image](https://user-images.githubusercontent.com/14975302/149959

[2022-01-18 17:48] timdeschryver commented on #3293
AFAIK The Redux DevTools only support types that can be JSON serialized/deserialized.
`Map` is serialized as a normal object (`{}`), hence this behavior.
That's also why we recommend to keep the state and the actions JSON serializable.

If you really want this fixed, creating an issue in the Redux DevTools repo would be better.

[2022-01-18 17:48] #3293 closed

[2022-01-18 17:55] timdeschryver commented on #3270
@PixelatedFigure Could you share what the expected output would be please?

[2022-01-18 22:08] PixelatedFigure commented on #3270
In the reducer file of a generated schematic using entity command "ng g entity"

[code]

[2022-01-19 23:42] #3284 closed

[2022-01-20 22:23] bluebaroncanada opened #3295 "Error in live example on StackBlitz"
https://ngrx.io/generated/live-examples/store-walkthrough/stackblitz.html

Error in src/app/app.component.ts (17:17)
Property 'store' is used before its initialization.

[2022-01-20 23:01] brandonroberts opened #3296 "Example: Bump RxJS/jasmine-marbles in examples package.json files"
jasmine-marbles should be 0.9.1 to go along with RxJS 7 for the generated examples.

https://github.com/ngrx/platform/blob/master/projects/ngrx.io/tools/examples/shared/boilerplate/cli/package.json
https://github.com/ngrx/platform/blob/master/projects/ngrx.io/tools/examples/shared/package.json

## Describe any alternatives/workarounds you're currently using

## Other information:

## If accepted,

[2022-01-24 13:19] #3295 closed

[2022-01-25 00:47] moniuch opened #3300 "feature schematics: Provide param to create a store-grouping subdirectory"
I find it very cumbersome to achieve desired structure when creating a new feature using `@ngrx/schematics:feature`
I like my store to be enclosed in a directory named `_store`. Therefore my desired outcome of the schematics would be the following

[code]

**Strategy 1:**
If I try it with `--path=libs/admin/src/lib` (ie. without targeting the subfolder), the module is found, dryRun runs clean, but

[2022-01-25 09:42] PixelatedFigure commented on #3270
I believe this should be reopened and reconsidered, please check the provided pull request, the change is minimal and intuitive.

[2022-01-25 14:43] moniuch opened #3301 "Schematics: --path does not necessarily have to hold the --module"
A thing related to #3300

I went to create a slice of state, using:

[code]

I wanted it to be created at the `--path` specified , as a sibling of the `_store/user` slice:

![image 2022-01-25 15-36-34](https://user-images.githubusercontent.com/681956/150997152-a9dd0890-fbfc-4cfd-83d5-05597110a5e4.png)

[code]

Unfortunately, the schematics also rejected the `--path`, complaining that
`Specified mo

[2022-01-25 19:00] timdeschryver commented on #3301
`path` can contain a relative path, so you can go to the parent directory:

[code]

[2022-01-25 19:04] #3301 closed

[2022-01-25 19:12] timdeschryver commented on #3300
This should work, if that's not the case feel free to reopen.

[code]

[2022-01-25 19:12] #3300 closed

[2022-01-25 22:19] moniuch commented on #3301
@timdeschryver Thanks for help! I think I am grasping the thing now. TBH I was lost in my own interpretation of the terminology - _slice_ vs _feature_. The term _feature_ in ngrx understanding is a complete set of reducers/effects/selectors/actions. You run a feature schematics so that you don't have to run them individually. To me, _feature_ was a term more related to a feature module, a concept/

[2022-01-26 15:38] moniuch opened #3302 "Schematics to create a main feature reducer file"
I would like to ask you to consider providing a schematic which I don't believe exists yet, but which to me seems like the missing bit in the puzzle.

The artifact of the schematic would be a main feature reducer file (say, `[name].feature-reducer.ts`) holding an empty state interface, and an empty reducer map.
This would be the home for the slices to come, this would be the file which you would r

[2022-01-26 17:31] moniuch commented on #3302
Just wanted to share with you my PoC results and thus maybe convince this schematic would be helpful:

With the `admin.feature-reducer.ts` file created manually, containing the following skeleton code,

**admin.feature.reducer.ts**

[code]

I ran `ng generate @ngrx/schematics:feature --reducers admin.feature-reducer.ts` 3x to create 3 slices: and the result is quite pleasing (although still requir

[2022-01-28 11:37] sod commented on #3179
Doesn't this make the generic of `Store` useless, because it's not validated anymore anyway?

[2022-01-29 15:33] gauravsoni119 commented on #3296
I would like to contribute. But I am not sure angular will allow using `rxjs@7` with `angular@12`. Probably there will be a bunch of warnings.

[2022-02-01 11:22] vugar005 opened #3308 "Documentation about independent NgRx/Store instances"
**Request**:
Documentation about achieving independent store like in https://redux.js.org/usage/isolating-redux-sub-apps
**Problem**:
Assume you have Shell and remote(MFE1) project which both import StoreModule.forRoot.
When MFE1 is initialized, it overwrites Shell NgRx/Store.
In other words, how can we achieve indepdendent NgRx/Store instance without Monorepo?
Repo: https://github.com/vugar005/mo

[2022-02-01 14:07] vugar005 commented on #1466
Hi guys, when we import StoreModule.forRoot in element and in Shell app. The elements store will override Shell Store state. How can we achivee independent state instance? See: https://github.com/ngrx/platform/issues/3308

[2022-02-01 14:09] vugar005 commented on #1621
Hi guys, when we import StoreModule.forRoot in element and in Shell app. The elements store will override Shell Store state. How can we achivee independent state instance? See:  #3308

[2022-02-01 21:26] vugar005 commented on #3308
Sorry disregard, I see remote StoreModule does not override shell StoreModule since seperate injector is created on lazy/dynamic module load. But I guess it would be better also to have seperate section for micro frontend.

[2022-02-02 16:12] Rlcolli4 opened #3310 "Unit Testing Effects without Test Bed does not work as expected"
When I write a unit test for my effects without using a test bed following the [documentation](https://ngrx.io/guide/effects/testing#setup-without-testbed) I get the following error:
`Expected $[0].notification to be a kind of Object, but was Notification({ kind: 'N', value: LoadPeopleSuccess({ payload: [...], type: '[Sales] Load Workforce People Success' }), error: undefined, hasValue: true }).`

[2022-02-02 20:52] brandonroberts commented on #3310
You most likely need to update `jasmine-marbles` to `0.9.1` if you're using RxJS 7.x

[2022-02-04 14:21] brandonroberts commented on #3296
The examples are updated to Angular v13, so RxJS 7 would work fine there.

[2022-02-04 16:17] Rlcolli4 commented on #3310
Upgrading the jasmine-marbles did not work, it's still broken with all forms of testing I have tried.

[2022-02-05 11:09] gauravsoni119 commented on #3296
I will create PR with `RXJS` 7 and `jasmine-marble` 0.9.1.

[2022-02-05 14:04] gauravsoni119 commented on #3296
Should we need to bump up `RXJS` version in [ngrx.io](https://github.com/ngrx/platform/blob/master/projects/ngrx.io/package.json#L90) app as well?

[2022-02-07 12:13] brandonroberts commented on #3310
I took another look at your StackBlitz example and saw that you're trying to create new instances for the actions.

[code]

Action creators are just functions you call, so the `new` isn't required. Here is a GitHub repo with a working example based on yours.

https://github.com/brandonroberts/ngrx-stunning-eureka

You can close the repo, run `yarn`, and then `ng test` to see the tests run.

[2022-02-07 12:13] #3310 closed

[2022-02-07 13:45] Yohandah commented on #2780
@timdeschryver I'm so sorry to bring this closed issue as well but how am I supposed to make this work; I'm confused after all the threads I've read at eslint-plugin-ngrx and here.

I have the following

**login.selector.ts**
[code]

**login.component.ts**
[code]

And I have the following error :

[2022-02-07 18:50] timdeschryver commented on #2780
@Yohandah is there a reason why everything is explicitly typed?
And have you tried to remove those types?

[code]

[2022-02-07 19:16] Yohandah commented on #2780
@timdeschryver
My project has an ESLint rule that forces explicit typing for everything in the project and forbid any for consistency.

I have tried to remove the types after I saw comments here and there, but my IDE was still showing the error unfortunately. I will try again tomorrow and then restart WebStorm maybe? If it works I will tweak my ESLint to deactivate this rule in *.selector.ts files

[2022-02-07 22:58] david-shortman commented on #2780
For some reason, with the new function signature for `createSelector`, explicit type arguments cause Typescript to think the selector is a SelectorWithProps.
We'll need to resolve either by https://github.com/ngrx/platform/issues/3268#issuecomment-1000944525 or a solution to the TS error causing improper inference (issue also referenced in link).

[2022-02-08 08:37] Yohandah commented on #2780
@timdeschryver This is not working when I remove the type :
![Sans titre](https://user-images.githubusercontent.com/15921402/152948993-3cf692a1-a899-49d0-b503-e3fe12532df2.png)

This is my tsconfig with strict mode :

[code]

[2022-02-08 16:43] timdeschryver commented on #2780
@Yohandah from the screenshot, I can see that the types are still there.
If you could create a small reproduction, we can help figure out what's going on, and if needed create a new ticket to track the bug.

[2022-02-08 16:49] Yohandah commented on #2780
@timdeschryver @markostanimirovic Nice it's working after typing them with object then completely removed the types and disabled @typescript-eslint/typedef rule for .selector.ts files ! Thanks a lot !

[2022-02-10 04:07] brandonroberts commented on #3296
Shouldn't hurt to bump it also

[2022-02-11 00:34] markostanimirovic opened #3313 "Replace deprecated `observable$.subscribe` usages"
The `observable$.subscribe(next, error, complete)` signature is deprecated in RxJS 7 and should be replaced with `observable$.subscribe({ next, error, complete })`.

## Other information:

Deprecated `subscribe` signature is used in the following files:

- [`entity-collection-service.spec`](https://github.com/ngrx/platform/blob/master/modules/data/spec/entity-services/entity-collection-service.spe

[2022-02-11 05:44] wiksien commented on #3313
I will do that.

[2022-02-11 05:44] RishiKumarRay commented on #3313
do we have to run tests too?

[2022-02-11 12:57] markostanimirovic commented on #3313
Sorry @RishiKumarRay, PR for this issue is already created (#3314).

I'll let you know when I find another "good first issue". 🙂

[2022-02-12 13:39] timdeschryver commented on #3313
Maybe we should add the RxJS ESLint plugin (or just for a while), because it has fixers for some deprecations.

[2022-02-15 13:19] Platonn opened #3316 "Effect registered on the same observable 2 times throws an error in SSR (Node)"
## Minimal reproduction of the bug/regression with instructions:
1. Register an effect on the observable `EMPTY`
[code]
2. Run 2 requests to render an application in SSR.
3. 💥 It will throw the following error in SSR on the 2nd SSR request:
<img width="710" alt="image" src="https://user-images.githubusercontent.com/4001059/154058964-c3c49a6f-427b-45a9-b3de-c14fa253e7df.png">

## Expected behavior:

[2022-02-15 13:31] markostanimirovic commented on #3316
@Platonn

The same issue was opened some time ago: #3052

As a workaround, you can replace `createEffect(() => EMPTY)` with `createEffect(() => () => EMPTY)`.

[2022-02-16 11:41] #3313 closed

[2022-02-16 11:42] #3296 closed

[2022-02-16 11:47] brandonroberts commented on #3316
Closing as a duplicate

[2022-02-16 11:47] #3316 closed

[2022-02-17 17:59] rfe-css opened #3319 "Type errors on all effects when returning an action (not a creator)"
![image](https://user-images.githubusercontent.com/42568214/154541309-5b30045a-f65a-40cc-b04c-2b02c115cdf6.png)

Argument type () => Observable<TypedAction<"[Insurance Page Container] Load Health Insurance">> is not assignable to parameter type () => (Observable<TypedAction<"[Insurance Page Container] Load Health Insurance">> & ConditionallyDisallowActionCreator<DispatchType<EffectConfig>, Observa

[2022-02-18 10:10] jeremywib7 commented on #664
for me, also set strictStateImmutability to false

[2022-02-18 13:53] markostanimirovic commented on #3319
@rfe-css

Feel free to reopen this issue with provided reproduction.

For further questions, you can [join our Discord server](https://discord.com/invite/ngrx) or [start a Github discussion](https://github.com/ngrx/platform/discussions/new?category=q-a).

[2022-02-18 13:53] #3319 closed

[2022-02-20 02:59] toureholder opened #3325 "Make Getting started guide compliant with ngrx eslint-plugin-ngrx recommended configuration"
Code examples in the [Getting started](https://ngrx.io/guide/store) cause lint errors with ngrx eslint-plugin-ngrx recommended configuration. (It's worth noting that `yarn add @ngrx/store` enables the recommended configuration in the ESLint configuration file by default.)

These lines of code from the guide:

[code]
surface the errors:
- `Store` should not be typed, use `Store` (without generic) i

[2022-02-20 19:51] brandonroberts commented on #3325
Closed as won't fix. Reference https://github.com/ngrx/platform/pull/3326#issuecomment-1046308255

[2022-02-20 19:51] #3325 closed

[2022-02-21 15:13] rfe-css commented on #3319
Stackblitz is here: https://stackblitz.com/edit/ngrx-seed-1smrme?file=src%2Fapp%2Freducers%2Fcounter.effects.ts

But I can't reproduce the error there.
So it must be related to Webstorm's Typescript Service.
It seems like a restart and or recompile of the Typescript Service solves the issue temporarily.

[2022-02-22 01:05] #3261 closed

[2022-02-22 13:40] smnbbrv commented on #2830
As an addition to the solution from @pubkey : if you do not want this behavior globally, just create a file `.npmrc` next to your package.json with content

[code]

This is just the same, but done for this particular project only

[2022-02-23 16:02] SebastianPodgajny opened #3327 "Push pipe calls detectChanges before setting value"
## Minimal reproduction of the bug/regression with instructions:
https://stackblitz.com/edit/angular-ivy-ubkqrk?file=src%2Fapp%2Fapp.component.ts

## Expected behavior:
First detect changes should be called after value is set

## Versions of NgRx, Angular, Node, affected browser(s) and operating system(s):

## Other information:

## I would be willing to submit a PR to fix this issue

[ ] Yes (Ass

[2022-02-27 18:20] Raushan-Ranjan opened #3329 "Has no exported member 'ɵɵFactoryDeclaration"
I had followed the same step as given in documentation. But still I am getting this issue.

"node_modules/@ngrx/store/src/actions_subject.d.ts:11:21 - error TS2694: Namespace '"C:/Users/raushan.ranjan/OneDrive - Zycus/Documents/work/start-test/node_modules/@angular/core/core"' has no exported member 'ɵɵFactoryDeclaration'.

     static ɵfac: i0.ɵɵFactoryDeclaration<ActionsSubject, never>"

This is

[2022-02-27 19:05] brandonroberts commented on #3329
Join the Discord for support https://discord.gg/ngrx. We'll need more information to help you

[2022-02-27 19:05] #3329 closed

[2022-03-02 11:50] phihochzwei opened #3330 "Make the usage of ErrorHandler optional in ReduxDevtools"
Currently, when in DevMode I cannot provide my ErrorHandler (which also wants to access Store) since it will cause a CD with the redux devtools

![image](https://user-images.githubusercontent.com/10193885/156356270-7dd4da61-c727-46b8-bee5-baaf8f389c51.png)

It would be great if you could make the usage of the ErrorHandler optional so that this doesnt happen

## If accepted, I would be willing to s

[2022-03-03 16:36] hugo-azevedo commented on #2980
@timdeschryver now that selector with props has been deprecated, could you please provide some guidance as to how one is supposed to check the correct arguments are passed to a selector?

Before, this was possible:

[code]

Now, when this is updated to match the new selector syntax

[code]
we get the test failure message:
`Expected [ Function ] to equal [ Function ].`

Thanks

[2022-03-03 18:28] dcanning commented on #1178
Not sure if this is the same link referenced above, but it's discussing action creators:
https://ngrx.io/api/data/EntityActionFactory#create

[2022-03-03 21:10] naticaceres commented on #931
:( none of the workarounds work for me other than **michael-lang** 's
but even his is cumbersome for my situation, as the project I am working on has 5 different apps, and the request of the appconfig needs to be repeated for each of their `main.ts` files, and remembered for any new app that requires the same mechanics.

**Brandon**'s looks nice, but it simply isn't clean enough for a large scale

[2022-03-04 17:50] timdeschryver commented on #3330
Could you provide a reproduction please?
AFAIK, you should be able to inject to the Store into a custom errorhandler.

[2022-03-04 19:16] timdeschryver commented on #3302
I think that the [reducers schematics](https://ngrx.io/guide/schematics/reducer) do exactly what you're looking for.

[code]

[2022-03-06 00:53] smfukaya commented on #3329
Did you manage to solve it? I'm having the same problem.

[code]

package.json
[code]

[2022-03-06 01:35] brandonroberts commented on #3329
The version of NgRx shouldn't be higher than the version of Angular.

If you're on Angular version 11.x, you should be on NgRx package versions <= 11.x.

[2022-03-06 02:02] brandonroberts commented on #931
@naticaceres I would suggest opening a new GitHub discussion to document solutions for those who want to bootstrap effects with the App Initializer. We could also add a recipe page to the docs for it later.

[2022-03-06 04:15] brandonroberts opened #3336 "[Feat] Add title to RouterStore selectors for Angular v14"
## Describe any alternatives/workarounds you're currently using

In Angular v14, the Angular Router adds a `title` property to the route metadata that includes a page title/page title resolver. We should have a selector that returns this value.

## Other information:

## If accepted, I would be willing to submit a PR for this feature

[ ] Yes (Assistance is provided if you need help submitting a p

[2022-03-06 07:34] santoshyadavdev commented on #3336
I will take this once angular 14 is released 🙏

[2022-03-06 08:34] moniuch commented on #3302
In this command, you are adding the generated reducer to `--reducers index.ts` so you have this file ready. My ticket is about providing a way to create this sort of index file for a feature module which is expected to contain multiple slices.

May I know how do create index.ts within a feature module which you know will host multiple slices?
Please let me know where I can be clearer, maybe it's b

[2022-03-06 13:05] labeled commented on #931
@naticaceres I agree with you. We have 15 apps and each one has to do the same thing. We created custom app generators so that every app is generated with the correct setup. I did a lot of research on this issue and got the "working as intended" answer many times.

[2022-03-06 13:06] smfukaya commented on #3329
Thank you very much @brandonroberts! It's working now with @ngrx/store 11.1.1!

[2022-03-08 18:24] timdeschryver commented on #3302
@moniuch Thanks for the clarification, I got confused with the comment because it seemed like you wanted to add reducers to the action reducer map.

I think that an additional schematic isn't required, what do you think if we would re-use the `--reducers` flag? Currently it only adds the new reducer to the feature, but we could extend it so it can also create the initial state interface and action

[2022-03-08 18:54] mattlewis92 commented on #3268
Hey there, we just ran into this issue when upgrading our application to v13, given that the problem doesn't seem possible to solve with the version of typescript angular v13 is currently on, I guess there's no other option but to revert the variadic tuple types? Happy to assist with this, would it be possible to land it in a 13.x version of ngrx or would it need to wait for v14?

[2022-03-08 20:46] moniuch commented on #3302
@timdeschryver Good we are on the same page now :) I will be glad to see any sort of solution, be it a new schematic or a new flag to the existing schematic that will just create a minimal reducer as in the first snippet. We can refer to it as `--minimal` or `--bare`

[2022-03-09 10:25] zoechi commented on #931
Same here. I was surprised NgRx is initialized using `APP_INITIALIZER` and therefore it's not possible to load a config file before NgRx calls `ngrxOnInitEffects`.
https://offering.solutions/blog/articles/2021/11/11/loading-configuration-before-your-angular-app-starts/#using-the-fetch-api is probably the better approach then

[2022-03-09 15:50] markostanimirovic opened #3340 "@ngrx/component: Add suspense template as input of `LetDirective`"
Add new input to the `LetDirective` that accepts suspense template:

[code]

The suspense template should be displayed when passed Observable is in a suspense state.

[2022-03-09 15:56] markostanimirovic opened #3341 "@ngrx/component: Separate modules for `LetDirective` and `PushPipe`"
Add separate modules for better tree shaking:
- `LetModule` for `LetDirective`
- `PushModule` for `PushPipe`

**An additional change to consider:** Deprecate `ReactiveComponentModule`.

[2022-03-09 16:17] markostanimirovic opened #3342 "@ngrx/component: Use "global" rendering strategy in zoneless mode"
`@ngrx/component` uses `changeDetectorRef.detectChanges` in zoneless mode. This method will synchronously run change detection which can cause performance issues.

For example, the following component will be rerendered 3 times when "Emit new value" button is clicked:

[code]

because the `changeDetectorRef.detectChanges` will be called 3 times under the hood.

As a solution, we can use the `θmark

[2022-03-09 16:42] markostanimirovic opened #3343 "@ngrx/component: Add the `$error` as a value to the `LetDirective`'s context"
The type of `$error` property from `LetDirective`'s context is `boolean`. It would be better to add the error as a value, so it can be used in the template:

[code]

[2022-03-09 17:29] markostanimirovic opened #3344 "@ngrx/component: Better typing for `LetDirective` and `PushPipe`"
- `LetDirective`: when `null` or `undefined` is passed, the type of value is `any`.
- `PushPipe`: there is no signature of `transform` method that can accept union `Observable<...> | null` or `Observable<...> | undefined`.

[2022-03-09 17:42] markostanimirovic opened #3345 "@ngrx/component: Add ability to pass "non-Observable" values"
It can be useful to have aliases in the template for nested properties. For example, the `LetDirective` could be used as follows:

[code]

The input type will be `ObservableInput<T> | T` which will also solve the typing issues mentioned in #3344.

**Additional change to consider:** Treat arrays as "non-Observable" values.

Current behavior:

[code]

Behavior with proposed change:

[code]

[2022-03-09 18:17] timdeschryver commented on #3302
@moniuch do you want to create a PR for this?
To start simple I would not introduce any new flags and create an empty state/reducer where we currently do nothing (https://github.com/ngrx/platform/blob/master/modules/schematics/schematics-core/utility/ngrx-utils.ts#L89).
If needed we can add that later.

[2022-03-09 18:40] timdeschryver commented on #3268
@david-shortman we could provide both options, right? Keep the tuple for most of the selectors (and allow X amount of child selectors), but re-add the removed selectors as a fallback option?

[2022-03-10 19:58] moniuch commented on #3302
@timdeschryver Ekhm... WIth my zero experience in writing schematics this could take a while, but I'm gonna try anyway.

[2022-03-11 01:28] david-shortman commented on #3268
Yeah. I was hoping to see more activity on https://github.com/microsoft/TypeScript/issues/47226, but it's only been marked as "Needs Investigation".

I'll author a PR.

[2022-03-11 01:59] david-shortman commented on #3268
However, I'm not sure transitioning back is worth it. Here's the two broken scenarios I see, and why they have a small impact:

1. The example in this issue only applies to generic projectors with no constraints declared for reusability outside of an invocation of `createSelector`. Most selectors are declared with unique projectors written directly as an argument to `createSelector`. If a function

[2022-03-11 11:44] markostanimirovic commented on #3330
@phihochzwei

Feel free to reopen this issue with provided reproduction.

[2022-03-11 11:44] #3330 closed

[2022-03-11 12:16] mattlewis92 commented on #3268
This bug actually causes 528 type errors on our application. Mostly because we have a lot of legacy selectors that followed the very old ngrx style guide that recommended separating `createSelector` from the projector function (so that unit testing was possible, as it was before we had `.projector`).

We can and will get rid of these usages but given that this breakage wasn't intended, documented

[2022-03-11 13:20] david-shortman commented on #3268
I believe those errors fall into bucket #2. If we get rid of selectors with props, then those selectors will not be incorrectly inferred as selector with props.

Still, since that's not on the horizon that I'm aware of, it sounds like there's enough motivation to put back the explicit overloads.

[2022-03-11 17:49] timdeschryver commented on #3268
@david-shortman we did just discuss this, and if you want you can re-add the removed selector types.
This way we don't break existing codebases, and we still provide the option to have more selectors than before.
We can remove the typed selectors in a next release as a breaking change.

[2022-03-15 14:42] vistiyos opened #3350 "Jest does not find @ngrx/component-store module"
## Other information:

I'm integrating ComponentStore in my angular library project because we want to provide isolated state between components. Currently I'm facing problems trying to run the test. My test looks like this:

[code]

The error message I'm getting right now is the following:

`Cannot find module '@ngrx/component-store' from 'src/lib/store/configuration.store.ts'`

I have tried to a

[2022-03-23 13:08] brandonroberts commented on #3350
Can you provide a GitHub repo that shows a minimal reproduction of the issue?

[2022-03-23 13:09] brandonroberts commented on #3268
Second what Tim said. We'll cut a release after that PR lands

[2022-03-24 11:14] brandonroberts opened #3352 "Docs: remove extra exported function from reducer file in Getting Started"
The exported function is no longer needed with Ivy. We can export the reducer from `createReducer` directly.

BEFORE:

[code]

The counter file is located here:

https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/examples/store/src/app/counter.reducer.ts

## Other information:

## I would be willing to submit a PR for the docs :heart:

[ ] Yes (Assistance is provided if you need

[2022-03-24 13:51] Gopans commented on #3352
@brandonroberts  I  would like to contribute on this issue

[2022-03-24 13:53] saiprasad2595 commented on #3352
I can work on it.

[2022-03-24 13:58] brandonroberts commented on #3352
Thanks @Gopans! Let us know if you need any help

[2022-03-24 13:58] brandonroberts commented on #3352
@saiprasad2595 we'll have more items to pick up here soon. I put this one in while it was on my mind :-)

[2022-03-25 10:25] guilhermetod opened #3355 "@ngrx/schematics: actions generated with plural"
Currently, generating actions with the schematics results in a file containing an initial action that follows the structure `<prefix><actionName>s`.

In a more pratical example, this is probably to result in things like `loadBooks`. However, this makes an assumption that states are always created with singular names and that the action refers to something that will be containing multiple items.

H

[2022-03-25 15:17] timdeschryver commented on #3355
Thanks for raising this issue @guilhermetod , could you please share the schematic commands that you've used.

[2022-03-25 22:28] david-shortman commented on #2839
Here's another possible solution and convenience.

Today, components may select many values like so:

[code]

This could be simplified:

[code]

In the template, the result could be used:

[code]

This proposed API for a "selectMany" function:
- creates independent observables for each piece of data, keeping them decoupled
- reduces boilerplate (reduces variable declarations and invocations of `se

[2022-03-25 22:44] david-shortman commented on #2812
The [existing docs](https://ngrx.io/guide/router-store/configuration) already mention that the Store Devtools are likely to suffer with the default serializer, offer to use the [MinimalRouterStateSerializer](https://ngrx.io/api/router-store/MinimalRouterStateSerializer#minimalrouterstateserializer), and explain how to implement a custom serializer.

I don't think additional documentation is necess

[2022-03-26 15:08] #3268 closed

[2022-03-26 18:03] arabgaul opened #3359 "ngrx data - error - add single entity"
dears,
I get this error when trying to add()
ngrx-data.mjs:4531 Error: test EntityAction guard for "[test] @ngrx/data/save/add-one/success": payload should have a single entity.

here's the "test" interface / entity config

export interface test {num: number; name: string, _id?: string, __v?: number}
function getTestId(st: test): number {
    return st.num
}

const entityMetadata: EntityMetadataMa

[2022-03-26 18:14] timdeschryver commented on #3359
Hi, we're trying to keep GitHub issues for bug reports and feature requests.
Support questions should be asked on the [NgRx Discord Server](https://discord.com/invite/ngrx), or on [stackoverflow (with a ngrx tag)](https://stackoverflow.com/questions/tagged/ngrx).

[2022-03-26 18:14] #3359 closed

[2022-03-27 15:04] david-shortman commented on #3070
This issue appears to be resolved by some suggested consumer implementation changes. @ngrx/data does not appear to be breaking HTTP conventions as-is.

[2022-03-28 00:01] Milldrew opened #3362 "Too many ways to do the same thing and lack of useful resources and examples."
Hello,

NGRX has several ways to make a store and a reducer as well as actions etc. It also uses rxjs which is esoteric to angular.

The documentation of ngrx is sparse. The learning materials outside of the documentation are mostly outdated.

in redux you can make a reducer imperatively or you can use the redux/toolkit. And each method of creating an in memory store is distinguished and well docu

[2022-03-28 02:00] david-shortman commented on #3362
Does the page on reducers o the NgRx doc site not contain a complete example and explanation of declaring and implementing a reducer? https://ngrx.io/guide/store/reducers

It demonstrates the recommended way to create a reducer. In addition, it mentions that reducers can be implemented manually, but it is not the idiomatic or recommended approach.

[2022-03-28 02:02] david-shortman commented on #3362
Action creation and use are also detailed here: https://ngrx.io/guide/store/reducers

[2022-03-28 02:05] david-shortman commented on #3362
Like the official Angular docs, the NgRx docs do not focus at length on how to compose different types of Observables. Instead, the best source of truth and guidance for RxJs comes from rxjs.dev and learnrxjs.io.

[2022-03-28 02:07] david-shortman commented on #3362
The NgRx Resources page does look due for an update: https://ngrx.io/guide/store/reducers

I like the way the redux ones are constructed.

[2022-03-28 15:14] brandonroberts commented on #3362
Thanks @Milldrew

[2022-03-28 15:14] #3362 closed

[2022-03-29 19:23] santoshyadavdev commented on #3302
Hi @moniuch,

Are you working on it? I can take this if its available.

[2022-03-29 20:45] pablomaurer commented on #2412
@brandonroberts still seeing this in 13.0.2

[2022-03-30 07:52] ben-barbier commented on #816
The problem is now managed with this native feature : https://ngrx.io/guide/router-store/configuration#navigation-action-timing 🚀

[2022-03-30 13:38] etiennecrb commented on #3350
Hello @vistiyos ,
I had the same issue with `@ngrx/component` and while trying to create a repo that show a minimal reproduction of the issue, I noticed that I was using `@ngrx/component` v13 but my app is still using Angular 12. Adjusting ngrx version to 12 fixed my problem.

[2022-03-30 15:31] timdeschryver commented on #3350
Thanks for the feedback @etiennecrb .
I'm closing this issue, if you have a reproduction feel free to reopen the issue.

[2022-03-30 15:31] #3350 closed

[2022-03-30 18:43] moniuch commented on #3302
Hi @santoshyadavdev

Please do. Thank you.

[2022-03-30 19:28] santoshyadavdev commented on #3302
@timdeschryver can you assign this to me

[2022-04-01 20:13] blackholegalaxy opened #3363 "@ngrx/effects: Using a function to handle error in observable stream breaks typing"
### Minimal reproduction of the bug/regression with instructions

https://stackblitz.com/edit/ngrx-seed-8b1zsk?file=src%2Fapp%2Feffects%2Fcounter.effect.ts

As you can see the typing is crazy when we use a method to render the catchError block. Writing directly the catchError block seems to write just fine.

Please note the usage of such method worked a long time ago when using @effect() decorator

[2022-04-02 02:09] david-shortman commented on #3363
This is an error caused by Typescript failing to correctly contextually infer one of the generic types of `catchError`. It does not relate to the implementation of effects.

This error can be replicated using only rxjs: https://codesandbox.io/s/broken-star-z4l859?file=/src/index.ts

[2022-04-04 11:53] markostanimirovic commented on #3363
Thanks @david-shortman!

@blackholegalaxy

To make the `handleError` method strongly typed, you can do the following:

[code]

[2022-04-04 11:53] #3363 closed

[2022-04-04 12:06] blackholegalaxy commented on #3363
Thanks that should do the trick. Thanks for your help to you both.

[2022-04-05 06:20] a-p-z commented on #2867
Hi, I recently implemented a tool that does more or less what you need. It is similar to the already linked ngrx-vis and ngrx-visualizer.
Here is the link https://github.com/a-p-z/ngrx-graphviz

[2022-04-08 11:38] timdeschryver commented on #2812
The runtime checks were added after the original router-store implementation.
With the added runtime checks, we had to come up with a solution to serialize the router state, and so came `MinimalRouterStateSerializer` to live. And, if I remember correctly, in earlier versions of Angular this wasn't a concern, but with a change (Ivy ?) the router's state became mutable (I could be wrong here). Route

[2022-04-11 10:15] willyou commented on #646
I prefer to handle promises in this way.
Check the [code](https://github.com/Alex-911/angular-pwa-master-class/blob/main/src/app/modules/todo/store/effects/update-todo.effects.ts)

Although it's not very pretty for some developers, however, it's easier to understand and avoid tricky `CatchError`.

[2022-04-12 04:54] timdeschryver opened #3372 "Migrate the NgRx ESLint Plugin into ngrx/platform"
### Information

Todo:

- [ ] Move https://github.com/timdeschryver/eslint-plugin-ngrx to modules/eslint-plugin
- [ ] Update docs at https://ngrx.io/guide/eslint-plugin
- [ ] Add a migration to rename rules `ngrx` becomes `@ngrx`
- [ ] Deprecate https://github.com/timdeschryver/eslint-plugin-ngrx
- [ ] Update (and decide when to run) scripts to update rules README and configs

### Describe any alt

[2022-04-12 04:54] timdeschryver commented on #3372
@Armenvardanyan95 do you want to do the docs part?

[2022-04-12 14:32] markostanimirovic opened #3374 "@ngrx/component: fix typo in `PushPipe` docs"
### Information

"render_creator" should be replaced with "render" in the `PushPipe` description: [L30](https://github.com/ngrx/platform/blob/master/modules/component/src/push/push.pipe.ts#L30), [L39](https://github.com/ngrx/platform/blob/master/modules/component/src/push/push.pipe.ts#L39)

### Documentation page

https://ngrx.io/api/component/PushPipe#description

### I would be willing to submit

[2022-04-12 17:45] Armenvardanyan95 commented on #3372
@timdeschryver sure, will be happy to take on the docs part!

Where can I read what exactly needs to be done?

[2022-04-12 17:47] timdeschryver commented on #3372
@Armenvardanyan95 I'll provide some more info later.
The idea is to migrate the plugin into this repository, so the guide on how to install the ESLint plugin needs to be changed. I think that you created these docs, so that's why I pinged you here, don't feel obligated to do pick this up though.

[2022-04-12 17:50] Armenvardanyan95 commented on #3372
No, I haven't done anything open source for a while, I really want to pick up this one. Feel free to ping me with more details any time, I'll be happy to help 😊

[2022-04-12 20:00] edytatar commented on #3374
Can I pick this up?

[2022-04-12 20:04] timdeschryver commented on #3374
Go for it @edytatar

[2022-04-13 23:32] edytatar commented on #3374
@timdeschryver I have submitted a pull request.

[2022-04-14 00:37] #3374 closed

[2022-04-19 16:19] timdeschryver opened #3383 "use `schematicCollections` instead of `defaultCollection`"
### Information

In Angular 14, the `defaultCollection` is deprecated in favor of `schematicCollections`, which supports an array of schematics (instead of a single one).
We should update the NgRx schematics to add the ngrx schematics to the collection, instead of overwriting the `defaultCollection` option.

See https://github.com/angular/angular-cli/pull/22860 for more info.

The code that does t

[2022-04-22 08:30] timdeschryver opened #3384 "ComponentStore effect without parameters"
### Information

A question that I frequently see on various channels, is how to implement an effect without parameters.
Because this seems to be the number one question, I propose to add an example to the docs.

### Documentation page

https://ngrx.io/guide/component-store/effect

### I would be willing to submit a PR to fix this issue

- [X] Yes
- [ ] No

[2022-04-22 09:03] LayZeeDK commented on #3384
Building on the existing documentation example here. Might not be 100% accurate as I'm writing the code from memory.

# Using pipe
[code]

# Using trigger$
[code]

Credits to @nartc for the standalone `pipe` technique.

[2022-04-22 09:07] LayZeeDK commented on #3384
See [RFC: Add "ngrxOnInitStore" lifecycle method to ComponentStore (#3335)](https://github.com/ngrx/platform/discussions/3335) for a library hook proposal.

[2022-04-22 09:20] LayZeeDK commented on #3384
@timdeschryver I suggest you mention ComponentStore in the title of this issue to avoid confusion with NgRx Effects.

[2022-04-22 10:33] sod opened #3385 "Please un-deprecate `createFeatureSelector<GlobalState, SubState>()`"
### Information

PR https://github.com/ngrx/platform/issues/3179 deprecated `createFeatureSelector<State, State['foo']>` and says to use `createFeatureSelector<State['foo']>` instead. But that breaks the typecheck between `Store` & selector. Then the generic on Store is kinda useless, as selectors aren't checking it anymore.

Given this example:

[code]

With `createFeatureSelector<State, State['f

[2022-04-22 11:28] sod commented on #3385
Optionally could also bake the `Pick` into the method signature to avoid more boilerplate, like this `selectKey` method:

[code]

[2022-04-22 12:29] brandonroberts commented on #3385
Thanks, @sod, but we think it's better to let the types flow through the createSelector without the additional root state than to type the Store with a generic, the generic exists for backward compatibility with existing apps.

[2022-04-22 12:29] #3385 closed

[2022-04-22 12:31] sod commented on #3385
Will deprecate the generic on `Store<Generic>` as well? Or does that stay?

[2022-04-22 12:40] sod commented on #3385
If you think I talk nonsense, nvm mind then. Seems I'm incapable of explaining what my issue is. We just gonna override the types for us. Thank you for replying so fast 👍 .

[2022-04-23 05:25] e-oz commented on #3384
I use this for effects without params:
[code]
and this for effects with params:
[code]

## Full examples

#### Without params:
[code]
call:
[code]

#### With param:
[code]
call:
[code]

[2022-04-23 06:26] timdeschryver commented on #3384
Thanks for summing up all the different ways @LayZeeDK and @e-oz .
Instead of mentioning all of them, I think that we should try to standardize one of these.
Does one of these have a clear benefit over the others, or is this more a matter of preference?

As a side note, I don't think the new hook will create a new technique, but it introduces a way to do something (in most of the cases invoke an e

[2022-04-23 10:00] LayZeeDK commented on #3384
Personally, I see the biggest potential in the standalone pipe technique since it is extractable to a separate constant or ES module (file) which allows us to test the observable chain in isolation.

The standalone pipe also supports the point-free style, removing the need for an intermediary variable with an arbitrary name (`trigger$`/`source$`/`whatever$`).

[2022-04-23 21:30] brandonroberts opened #3387 "Effects: Add example of effects without actions"
### Information

We have a note in the docs about how effects support observable streams other than an observable of actions. We should add a more concrete example to the docs like using router events observable, observable browser events, and more.

### Documentation page

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-04-25 12:15] Marcel0024 opened #3388 "[NGRX.IO] Style guide page not working/mpty"
### Information

https://ngrx.io/guide/style-guide page has an empty response.

![image](https://user-images.githubusercontent.com/14852157/165086737-4d27fc81-3562-4da1-a44e-c5424592a953.png)

No errors in console screen or requests as far as i could see.

### Documentation page

https://ngrx.io/guide/style-guide

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [X] No

[2022-04-25 17:19] timdeschryver commented on #3388
That empty page is normal, because there is [no content](https://github.com/ngrx/platform/blob/master/projects/ngrx.io/content/guide/style-guide.md) yet.

Was there a link in the docs that pointed to that page?

[2022-04-25 17:19] #3388 closed

[2022-04-27 00:15] Madgvox opened #3389 "@ngrx/component-store: Clarify "additional selectors" portion of diagram under "File Structure""
### Information

The documentation has a diagram and text description indicating that you can define "additional selectors" in other files by creating a "`ComponentStore<object>` that won't be managing state and would contain a number of selectors".

What does this look like in practice? My use case is a sub-component that wants to select for a portion of the overall store, but I'd like for that s

[2022-04-27 07:23] spierala commented on #3384
I have a related question: Is the generic type for `effect` always required?
Effects without parameters require then the generic type `void`?

I made a small example here: https://stackblitz.com/edit/angular-ivy-jsnxmn?file=src%2Fapp%2Fstate.service.ts

The typings of effect (https://github.com/ngrx/platform/blob/13.1.0/modules/component-store/src/component-store.ts#L279) give the impression that

[2022-04-27 10:39] LayZeeDK commented on #3384
The standalone pipe technique additionally works well for parameterized effects. I agree that consistency is worth considering but maybe the current suggestion is not *the best*.

That's an interesting point. But how is it different than having `trigger$.pipe(singleOperation())`? `trigger$` isn't needed at all for most effects yet `.pipe` is also needed even for a single operation when using `trig

[2022-04-27 10:40] LayZeeDK commented on #3384
If we leave out the generic, the default parameter type is `unknown`.

[2022-04-27 13:44] nartc commented on #3384
If you use `trigger$`, then the type is inferred from the type of `trigger$`

[code]

Not sure why NgRx folks go with the route of typing with `Observable` rather than using the Generic. Using generic does not require you to import `Observable` symbol as well as faster/shorter to type.

With the standalone-pipe, there is nothing to infer so the Generic is required.

[2022-04-27 19:22] LayZeeDK commented on #3384
To me, `this.effect(mergeMap(v => doSomeStuff))` is closer to `this.effect(pipe(mergeMap(v => doSomeStuff)))` than `this.effect(trigger$ => trigger$.pipe(mergeMap(v => doSomeStuff)))`.

Except for leaving room for additional operations, both `trigger$.pipe` and `pipe` are useless for single operations.

[2022-04-28 13:36] sonukapoor opened #3392 "queryParams is fired twice (before component is destroyed)"
### Minimal reproduction of the bug/regression with instructions

I have noticed that `queryParams` fires twice, once it receives an emission and the second time before the component is destroyed.

Here is a reproducible to see the issue.
https://stackblitz.com/edit/angular-ivy-2qhdju?file=src%2Fapp%2Fapp.module.ts

- The App component contains two router links.
- One point to `foo` and the other

[2022-04-30 18:25] Harpush opened #3393 "Add a refCount config flag to select in component store"
### Information

Currently component store select method always pass to `shareReplay` the flag `refCount` as true. That means that any async pipe to a selector inside ngIf will reevaluate the selector projector.
A specialized memoize can be implemented or even setting `refCount` to false by default (There is take until destroy so what's the point having it as true?).

### Describe any alternatives

[2022-04-30 21:15] JoDarma opened #3394 "NgRx does an weird redirect to HTTP before go to HTTPS that's cause an CORS ERROR"
### Information

I want to do a request to a route named : https://xxx.xxxxxx.localhost/operations This route normally send me my list of operations with standard usage with angular service.

But with NgRx Data module when I called this route I have an CORS ERROR.

NgRx Configuration :

Import and config to my custom endpoint adress in app.module.ts :

[code]

entityConfig.ts :

[code]

My operati

[2022-05-02 14:31] timdeschryver commented on #3394
Hi, we're trying to keep GitHub issues for bug reports and feature requests.
Support questions should be asked on the [NgRx Discord Server](https://discord.com/invite/ngrx), or on [stackoverflow (with a ngrx tag)](https://stackoverflow.com/questions/tagged/ngrx).

[2022-05-02 14:31] #3394 closed

[2022-05-02 15:16] banderberg commented on #3387
Can you provide an example?  I read @timdeschryver 's [article](https://timdeschryver.dev/blog/start-using-ngrx-effects-for-this#external-sources) and the syntax does not work for me.  I get an error "function(): Observable<number>
Argument of type '() => Observable<number>' is not assignable to parameter of type '() => EffectResult<Action>'."

[2022-05-02 16:44] timdeschryver commented on #3392
This is the way it's intended to work.
For example, you need this information while using a selector in a guard.
As a workaround, you shouldn't manually subscribe to the selector in the constructor.
Instead, refactor the code so the selector is being subscribed to in the template (with the `async` pipe).

[2022-05-02 16:44] #3392 closed

[2022-05-02 17:50] sonukapoor commented on #3392
@timdeschryver, what if I need to subscribe to do something else (like make an api call or open a modal)? I don't need the data in my template.

[2022-05-02 18:00] timdeschryver commented on #3392
It also works if you subscribe to the stream inside the `ngOnInit` hook.

[2022-05-02 19:38] brandonroberts commented on #400
@directcuteo this is in our docs already right above here https://ngrx.io/guide/effects#registering-feature-effects

[2022-05-03 07:03] Armenvardanyan95 commented on #3387
I can take this one, do you think this needs to go into the Effects doc itself?

[2022-05-03 18:27] tomastrajan opened #3397 "RFC: Deprecate `Action`s and introduce `Event`s (everything would stay the same just the naming)"
### Information

One of the most important NgRx best practices is to implement actions as `events` instead of `command`

For example the well known "[good action hygiene](https://github.com/timdeschryver/eslint-plugin-ngrx/blob/main/docs/rules/good-action-hygiene.md)" speaks about

Wouldn't it be beneficial to let go of Redux naming convention and improve NgRx for the future?

### Describe any alt

[2022-05-04 12:25] ashwanikmar opened #3400 "routerReducer should update the store on ROUTER_NAVIGATED action"
### Information

I think  routerReducer should update the store on ROUTER_NAVIGATED action as well. Because we can not get data from resolve guard.

Although, I can change the time of ROUTER_NAVIGATION action and after this, I can get data from the angular guard.

[code]
But, then I can not get transition from  ROUTER_NAVIGATION to ROUTER_NAVIGATED

### Describe any alternatives/workarounds you're

[2022-05-04 13:24] freikim opened #3401 "ngrx/data: DataServiceError not returned correctly when using RxJs@6.6.2"
### Minimal reproduction of the bug/regression with instructions

When an API returns an error the DataServiceError is not returned correctly when using RxJs@6.6.2 (most likely other 6.6.x versions as well). To reproduce open the stackblitz below, open the console and see that the content of the DataServiceError is just a function reference and null fields:

Returned Server Error:
DataServiceError

[2022-05-04 13:42] freikim commented on #3401
BTW I traced the error to come from:

https://github.com/ngrx/platform/blob/35fad8cd4c32bb149acdd096147b3d3e10933485/modules/data/src/dataservices/default-data.service.ts#L177

Where the returned function never seems to be called .

[2022-05-04 17:15] timdeschryver opened #3402 "replace String.prototype.substr() with String.prototype.substring()"
### Information

[String.prototype.substr()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/substr) is deprecated and should be replaced with [String.prototype.substring()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/substring).

This issue is to find all occurrences of `substr` and replace it with `substring`.
Si

[2022-05-04 22:32] billyjov commented on #3402
@timdeschryver I'm working on this one

[2022-05-04 23:42] Coopersamjohn opened #3404 "your website doesn't navigate in chrome, brave"
### Minimal reproduction of the bug/regression with instructions

Just go to the site and try to navigate. It will sometimes navigate but then return to home when clicking something else in the menu.

### Minimal reproduction of the bug/regression with instructions

actually navigating like a website should

### Versions of NgRx, Angular, Node, affected browser(s) and operating system(s)

Chrome,

[2022-05-05 15:55] Coopersamjohn commented on #3404
Its working today.

[2022-05-05 15:55] #3404 closed

[2022-05-05 16:47] timdeschryver commented on #3404
Thanks for opening this issue @Coopersamjohn , it seems like this was an issue on Netlify's side.
https://www.netlifystatus.com/

[2022-05-07 20:50] brandonroberts commented on #3401
@freikim the returned function should be called here by `catchError` https://github.com/ngrx/platform/blob/35fad8cd4c32bb149acdd096147b3d3e10933485/modules/data/src/dataservices/default-data.service.ts#L174

[2022-05-10 07:56] Armenvardanyan95 commented on #3387
Submitted a PR for this: #3408

[2022-05-10 16:10] jon9090 opened #3409 "How to know when the effect is done within effect in ngrx component store (rxjs flow)?"
I'm currently implementing a feature that "open a dialog"(effect), after the dialog open the user hit save and then I want to close the dialog.

I made fake dialog and flow for the example.

I also split the flow into two effects: `openDialogEffect` and `saveEffect` to avoid "operator-hell" and code more readable.
this works fine. until I want to close the dialog AFTER the save is successful.

The

[2022-05-13 00:25] #3327 closed

[2022-05-14 14:22] Harpush commented on #2847
@alex-okrushko Saw this issue after looking for a way to set it globally. I understand why its not default. But I think allowing it as an injection token for those who know what they are doing is still correct. It can even work well as it is a constructor argument with `@Inject` allowing to pass it by calling super in the constructor for specific store configuration.

[2022-05-15 06:50] bobwatcherx opened #3414 "add Docs for @ngrx-store add payload in state"
### Information

I can't find a way to add a payload so that the initial state is added to the payload

example initial state= 5

this.store.dispatch({payload:2})

the state should now be 7

and other examples
initial state = "school"

payload = "new"
become now a "school new"

### Documentation page

https://ngrx.io/guide/store

### I would be willing to submit a PR to fix this issue

- [X] Yes
-

[2022-05-15 06:55] bobwatcherx opened #3415 "@ngrx-store work on chrome , but not work in firefox"
### Minimal reproduction of the bug/regression with instructions

I tried this state management in chrome and it worked and I tried it on another browser, namely firefox, but when the dispatch function on the button is called, the value doesn't change

### Minimal reproduction of the bug/regression with instructions

I tried this state management in chrome and it worked and I tried it on another b

[2022-05-15 13:19] suke commented on #3383
May I work on this issue?

[2022-05-16 11:01] brandonroberts commented on #3415
The `@ngrx/devtools` should not be used with the latest 13.x NgRx package. Also, try in incognito mode to see if you have any other extensions that may be causing an issue.

[2022-05-16 11:01] #3415 closed

[2022-05-16 11:03] brandonroberts commented on #3414
Action creators are the primary way to dispatch actions, with props used to define additional metadata. We don't encourage using a payload property

https://ngrx.io/guide/store/actions

[2022-05-16 11:03] #3414 closed

[2022-05-16 15:06] markostanimirovic commented on #3383
@suke Sure!

[2022-05-16 16:16] timdeschryver commented on #3372
@Armenvardanyan95 this should be good to go now to add the installation page.
The installation remains the same, but the package name is now `@ngrx/eslint-plugin`.
If you don't have the time/energy to add the page that's fine to, then I'll add it later this week.

[2022-05-16 16:18] timdeschryver opened #3416 "Rename `MinimalRouterStateSerializer ` to `DefaultRouterStateSerializer`"
### Information

- Rename `MinimalRouterStateSerializer ` to `DefaultRouterStateSerializer`
- Rename `DefaultRouterStateSerializer` to `FullRouterStateSerializer`

For more info see https://github.com/ngrx/platform/issues/2812#issuecomment-1079495725

### Describe any alternatives/workarounds you're currently using

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes

[2022-05-16 16:18] timdeschryver commented on #2812
Closing this in favor of #3416

[2022-05-16 16:18] #2812 closed

[2022-05-16 16:26] timdeschryver opened #3417 "Update Angular dependencies to latest Angular version 14"
### Information

Update Angular dependencies to latest Angular version 14.

### Describe any alternatives/workarounds you're currently using

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-05-16 16:26] timdeschryver opened #3418 "Docs: Add migration guide for version 14 release"
### Information

Docs: Add migration guide for version 14 release

### Documentation page

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-05-16 16:26] timdeschryver opened #3419 "Docs: update example dependencies to latest Angular version"
### Information

Docs: Update example dependencies to latest Angular version 14 release

### Documentation page

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-05-16 16:26] timdeschryver opened #3420 "Docs: write/publish blog post for version 14 release"
### Information

Docs: write/publish blog post for version 14 release

### Documentation page

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-05-16 17:46] timdeschryver commented on #3384
I agree with @LayZeeDK.

The most common variant that I've used and seen is the snippet using the variable, e.g. `trigger$` in combination with a `pipe` to execute an effect.
I think that if you're familiar with the syntax, you can use just `pipe` or `xMap`, but the friendliest one is the one using `source$.pipe`.

[code]

I'm ok with using a similar snippet like the one that was used to illustrat

[2022-05-16 17:47] timdeschryver commented on #3400
Hi @ashwanikmar what are you trying to do?
Without knowing a lot of your use case, I would argue that within an NgRx example you don't need the resolved data, instead you would store the data in the store, and read the stored state in the component.

[2022-05-16 17:50] cedricduffournet commented on #3419
@timdeschryver I can work on this one

[2022-05-16 17:51] timdeschryver commented on #3419
@cedricduffournet thanks! I think we first need to upgrade the main packages first, when that's done I'll ping you here.

[2022-05-16 18:58] markostanimirovic commented on #3409
Hi @jon9090 👋

We are trying to keep Github issues for bug reports and feature requests. For further questions, you can join our [Discord server](https://discord.com/invite/ngrx).

[2022-05-16 18:58] #3409 closed

[2022-05-16 19:09] david-shortman commented on #3416
Feel free to assign to me- I'll take on the migrating schematic as well.

[2022-05-17 01:53] suke commented on #3383
OK! I will work on it when Angular v14 is released!

[2022-05-17 07:04] mak092001 opened #3421 "Home page gets bugged"
### Minimal reproduction of the bug/regression with instructions

![Screenshot (14)](https://user-images.githubusercontent.com/85216108/168742648-4ecdf953-606d-42f7-b7bf-d273276731a7.png)
)

### Minimal reproduction of the bug/regression with instructions

By default it came

### Versions of NgRx, Angular, Node, affected browser(s) and operating system(s)

Browser : Microsoft edge
os : windows

##

[2022-05-18 07:11] Armenvardanyan95 commented on #3372
@timdeschryver I will do this today and send a PR

[2022-05-18 08:50] Armenvardanyan95 commented on #3372
@timdeschryver  I am creating an installation page similar to other install guides, does the `ng add` command has specific schematics? Like adding the rules? If so, in which thread can I read about those additions so I can include them in the install guide?

[2022-05-18 11:22] #3340 closed

[2022-05-19 12:28] timdeschryver commented on #3372
@Armenvardanyan95 correct. It also has an `ng-add` command, and it will ask you what config to use.
You can find the config [here(https://github.com/ngrx/platform/blob/master/modules/eslint-plugin/schematics/ng-add/schema.json).

[2022-05-20 01:50] #3343 closed

[2022-05-20 03:12] mak092001 commented on #3421
@timdeschryver sure i'll do

[2022-05-20 06:30] sambathbims opened #3423 "IE support"
### Information

Hi Team, does ngrx supports internet explorer? If supports, what are the versions.

### Documentation page

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [X] No

[2022-05-20 06:33] timdeschryver commented on #3423
We follow the same [browser support as Angular](https://angular.io/guide/browser-support).

[2022-05-20 06:33] #3423 closed

[2022-05-20 06:55] sambathbims commented on #3423
Thank you!

[2022-05-20 12:14] Armenvardanyan95 commented on #3372
Thanks, I've created a PR and added the table of configs, but I think some descriptions may need rewording https://github.com/ngrx/platform/pull/3424

[2022-05-21 16:48] #3387 closed

[2022-05-23 11:10] #3342 closed

[2022-05-24 19:07] #3417 closed

[2022-05-25 11:36] maxime1992 opened #3431 "`tapResponse` swallowing errors happening inside the `tapResponse`"
### Minimal reproduction of the bug/regression with instructions

[code]

That error :point_up: is silently caught which was painful to debug in my case. Here's a live repro on stackblitz

https://stackblitz.com/edit/angular-ivy-7jhxew?file=src%2Fapp%2Fapp.component.ts

### Minimal reproduction of the bug/regression with instructions

To have an error thrown correctly.

### Versions of NgRx, Angul

[2022-05-25 11:52] maxime1992 commented on #3431
Not sure what's best here between
- not handling an error that'd happen in the `tapResponse` `next` callback so that it's broadcasted all the way up
- handle the error happening within the `tapResponse` `next` callback within the catch error of that custom operator

[2022-05-25 22:15] markostanimirovic commented on #3431
@maxime1992

The `tapResponse` is used to keep the effect active if an error is thrown. Because of that, `tapResponse` swallows the thrown error. The `error` callback is not executed, because the error that is thrown within the `next` callback of `tap` operator will not be caught by its `error` callback:

[code]

The solution could be to move the `error` callback execution from `tap` to `catchErro

[2022-05-26 11:46] brandonroberts commented on #3419
@cedricduffournet the main packages are updated

[2022-05-26 14:18] cedricduffournet commented on #3419
@brandonroberts did the `14.0.0-beta.0` has been released ?

[2022-05-26 16:02] timdeschryver opened #3434 "Installation docs"
### Information

All of the docs have installation instructions for `npm`, `yarn`, and `ng add`.
Currently, `ng-add` is added lastly and we have the following guide for it:

[code]

I would propose to move `ng-add` to the top because some `ng add` commands have some useful stuff included, and it's also a common command now. We can also rephrase the text, for example we can remove "If your project

[2022-05-26 16:34] timdeschryver commented on #3418
Thanks @david-shortman

[2022-05-26 16:40] timdeschryver commented on #3431
I would find that weird. For me, or how I think about it, the `error` callback is to handle errors that are thrown while doing the request, not for errors in `next`.

What about adding a config, similar to the [EffectConfig](https://github.com/ngrx/platform/blob/master/modules/effects/src/models.ts#L13) to bypass the default behavior?

[2022-05-26 16:42] timdeschryver commented on #3383
@suke We've updated the repo to use Angular 14, feel free to work on this.

[2022-05-26 16:45] timdeschryver opened #3435 "Docs: update docs to latest Angular version"
### Information

Docs: Update docs dependencies to latest Angular version 14 release

### Documentation page

_No response_

### I would be willing to submit a PR to fix this issue

- [ ] Yes
- [ ] No

[2022-05-26 16:46] timdeschryver commented on #3336
@santoshyadavdev if you still want, the NgRx repo is updated to Angular 14

[2022-05-26 17:01] santoshyadavdev commented on #3336
Awesome will open the PR

[2022-05-26 17:36] cedricduffournet commented on #3419
@timdeschryver so I think I have to wait for the release to update dependencies ?

[2022-05-26 22:07] santoshyadavdev commented on #3336
The PR is open now, let me know if any changes are needed

[2022-05-27 11:31] suke commented on #3383
@timdeschryver I would like to discuss a specification.
Should I remove the properties in schema.json and automatically add  ngrx schematics  to the schematicCollections?

https://github.com/ngrx/platform/blob/master/modules/schematics/src/ng-add/schema.json#L6

[2022-05-27 13:51] #3419 closed

[2022-05-27 14:00] mauromattos00 commented on #3434
Hi @timdeschryver, I can work on this one if it's ok. 😀

[2022-05-27 17:57] timdeschryver commented on #3434
@mauromattos00 , I would like to hear @markostanimirovic and/or @brandonroberts opinion too before making this change 😅

[2022-05-27 17:58] brandonroberts commented on #3434
I think it's a good change 👍🏿

[2022-05-27 18:01] timdeschryver commented on #3383
Yes, that's a good idea!
I think we could also log an error if `schematicCollections` is not defined within the workspace.

[2022-05-27 18:01] timdeschryver commented on #3434
@mauromattos00 there you go 😉
Feel free to take this.

[2022-05-27 19:37] mauromattos00 commented on #3434
Also, would it be a good tweak to show the optional flags for `ng add` in a table?
I thought about something similar to the Angular docs.

What do you think @brandonroberts @timdeschryver @markostanimirovic?

![image](https://user-images.githubusercontent.com/13375865/170778620-4bf0267d-5923-48e6-a5dc-e71d171fb9e6.png)

### Angular docs

![image](https://user-images.githubusercontent.com/13375865/

[2022-05-27 21:01] brandonroberts commented on #3434
Also a great idea 😄

[2022-05-28 06:38] suke commented on #3383
If `schematicCollections ` is not defined, I can create them automatically, but would you prefer to log an error?

[2022-05-28 07:50] timdeschryver commented on #3383
I think throwing would be better, it probably means that the user didn't upgrade Angular.

[2022-05-28 13:30] suke commented on #3383
I understand.
I'll make it a spec to throw exception!

[2022-05-28 17:10] #3344 closed

[2022-05-29 19:09] brandonroberts commented on #3345
Closed via https://github.com/ngrx/platform/pull/3440

[2022-05-29 19:09] #3345 closed

[2022-05-30 15:22] #3435 closed

[2022-05-30 16:24] #3434 closed

[2022-05-31 07:19] MykolaDiachok commented on #2692
so for auto work, only need to add this
`@Injectable()
export class DashboardStore extends ComponentStore<DashboardState> {
  constructor(private globalStore: Store) {
    super(initialState);
    linkToGlobalState(this.state$, 'DashboardStore', this.globalStore);
  }`

[2022-06-01 21:54] markostanimirovic opened #3445 "Migrate `data-example-app` project to Angular strict mode"
1. Add `angularCompilerOptions` to `projects/data-example-app/tsconfig.app.json`:

[code]

2. Fix compilation error in `projects/data-example-app/src/board/board.component.html`.

[2022-06-02 21:12] mauromattos00 commented on #3445
Hi @markostanimirovic! Can I work on this?

[2022-06-03 06:11] Neewd commented on #1915
Sorry to up the topic, but did you find any solution or workaround for your problem?

[2022-06-03 10:30] ywarezk opened #3446 "RFC: zone-less / zone-full directives"
### Information

When working in **zone-less** mode, a lot of libraries will not function properly.
Example of an open issue in `@angular/material`: https://github.com/angular/components/issues/9169

if you still want to use the vast angular libraries out there, it might be more realistic to work in an hybrid zone-less mode and not completely zone-less.
In this mode you do not remove **Zone.js**,

[2022-06-05 14:34] danielkleebinder commented on #3341
I would recommend delaying this feature until standalone components, directives and pipes are stable in Angular. In Angular 14.0.0, this feature was already introduced as developer preview (for reference: [Angular v14 is now available!](https://blog.angular.io/angular-v14-is-now-available-391a6db736af)). Making the `LetDirective` and the `PushPipe` standalone is probably the cleaner solution and m

[2022-06-06 12:40] #3383 closed

[2022-06-06 12:48] #3416 closed

[2022-06-07 05:24] #3336 closed

[2022-06-07 08:10] maxime1992 commented on #3431
I don't think this would be good enough. Unless this is pretty much the first thing first first thing in the documentation, someone could miss it and the frustration to understand what's going on with a silently swallowed error can be really high. I do believe there's a need for a default behavior where you can handle this. I can't think of a case where someone would let its stream error without b

[2022-06-08 02:00] brandonroberts commented on #3446
Thanks @ywarezk. I don't fully see why this directive would exist inside @ngrx/component though instead of in userland code

I don't know of many people running zoneless applications in practice and those that do are more aware of the implications of it not working as seamlessly because it's not fully supported by the framework itself.

[2022-06-08 02:01] #3401 closed

[2022-06-08 03:29] ywarezk commented on #3446
@brandonroberts
this is from the `@ngrx/component` docs (first line: https://ngrx.io/guide/component)
[code]

In addition `@ngrx/component` already contains `ngrxPush` so it makes sense to me

[2022-06-08 08:32] #3341 closed

[2022-06-14 16:47] sambathbims opened #3455 "Remove Reducers"
### Minimal reproduction of the bug/regression with instructions

I am calling remove reducers method on ngOnDestroy, but still the state is available.

`ngOnDestroy(): void {
    this.subs?.unsubscribe();
    this.reducers.removeReducers(['createAuction', 'userInfo']);
  }`

![image](https://user-images.githubusercontent.com/32589151/173631327-ba636ec3-423b-44ef-b8d9-87254c0d2580.png)

State as b

[2022-06-14 17:00] #3445 closed

[2022-06-15 15:57] blackholegalaxy opened #3457 "Factory selector won't change using overrideselector and setResult on tests"
### Minimal reproduction of the bug/regression with instructions

https://stackblitz.com/edit/angular-bbsczu-qiwqy3?file=src%2Fapp%2Fapp.component.spec.ts

### Minimal reproduction of the bug/regression with instructions

Using factory selectors, we expect to be able to use overrideSelector and setResult to change the result of the selector. For example to update a template in test context.

As yo

[2022-06-15 17:32] david-shortman commented on #3457
Every time you call your factory selector, a new selector is created with a new reference.

Therefor, you cannot use `overrideSelector` to override the result of the factor selector, because it will have a different reference.

Here's an answer I provided to a similar thread: https://github.com/ngrx/platform/discussions/3279#discussioncomment-1920144. There's also other information + suggestions t

[2022-06-15 17:33] david-shortman commented on #3457
In the reply to this question https://github.com/ngrx/platform/discussions/3279#discussioncomment-2175881 I wrote a more detailed explanation of the problem.

[2022-06-15 17:39] blackholegalaxy commented on #3457
If we cannot use overrideSelector, we would need a reliable and documented way to achieve this behavior in a reproductible way. Using initial mockStore argument is not something that will work in most cases where things changes a lot within a component as an example.

[2022-06-15 20:29] spierala opened #3458 "ComponentStore effect: type of emitted value is unknown"
### Minimal reproduction of the bug/regression with instructions

Creating an effect like this:

[code]
TS does not know that `v` is of type `string`.

https://stackblitz.com/edit/angular-ivy-vcygbf?file=src/app/a-store.service.ts

It happens when **not** using tsconfig compilerOptions `"strict": true`.

At least `"strictFunctionTypes": true` is required in the compilerOptions to let the typing wo

[2022-06-15 21:40] spierala commented on #3431
Probably a super naive solution, still I want to share it:

Try catch around the nextFn...

[code]

[2022-06-16 15:33] timdeschryver commented on #3457
As mentioned in the discussion, you can mock the factory method to return a selector (or selector like) that returns the expected result.

You're right that this should be in the docs, if you want you can create a PR for this.

[2022-06-16 15:34] timdeschryver commented on #3458
Duplicate of #3217

[2022-06-16 15:34] #3458 closed

[2022-06-16 17:36] spierala commented on #3217
There is something special with the `tap` operator.
I do not see the issue with e.g. `map` or `switchMap`...

[2022-06-17 05:40] sambathbims commented on #3455
Hi Timdeschryver, if you don't mind can you please share the above code snippet. It would be helpful for me.

[2022-06-17 06:17] cedbesafilm commented on #3455
maybe it's a trivial question but the component implements OnDestroy?

[code]

[2022-06-17 15:48] Harpush opened #3459 "component-store: Allow passing any selector (observable) to the get function"
### Information

Currently component store `select` has two overloads - one for direct state select and second to combine selectors. Those selectors are memoized.
On the other hand - the `get` function only accepts a function for direct state select. The feature request is allowing passing a selector to it.
For example:
A selector I have:
[code]
If I wanted the same result in `get` I would need to

[2022-06-20 11:48] timdeschryver commented on #3457
We're all ears if you have a solution @blackholegalaxy

[2022-06-20 13:08] blackholegalaxy commented on #3457
Yeah, we'll look into this on our side and hope to come with an exportable solution.

[2022-06-20 13:31] brandonroberts commented on #3459
Thanks @Harpush. The `get` function is meant to be a single-purpose snapshot of the state. I wouldn't recommend using snapshots of the state as a common practice. The `get` method is more for convenience internally to the component store.

[2022-06-20 13:31] #3459 closed

[2022-06-20 13:34] brandonroberts commented on #3446
@ywarezk that's correct, but I think introducing this directive could be more constraining than helpful. @markostanimirovic has been working on the component package, so I'll defer to him on whether this should be added. We'll revisit sometime after the v14 release, but will leave it open for now.

[2022-06-20 13:36] brandonroberts commented on #3400
I agree with @timdeschryver on this about resolved data. Resolvers are render-blocking and should be used sparingly in my opinion.

[2022-06-20 13:36] #3400 closed

[2022-06-20 14:09] Harpush commented on #3459
I agree. It's just that we sometimes need access to a selector result as snapshot and not just the state itself. Currently it will require to rewrite the selector logic. I never meant for it to be outside the component store.

[2022-06-21 17:16] timdeschryver commented on #3420
https://dev.to/ngrx/announcing-ngrx-v14-action-groups-componentstore-lifecycle-hooks-eslint-package-revamped-ngrx-component-and-more-18ck

[2022-06-21 17:16] #3420 closed

[2022-06-21 19:52] Harpush opened #3462 "component-store: An effect declared with type void does not accept a void observable"
### Minimal reproduction of the bug/regression with instructions

An effect with void type argument cannot accept observables as opposed t other types.
![image](https://user-images.githubusercontent.com/30085989/174886005-185537ca-dc81-4d03-a87f-6ef0c0216e4a.png)
![image](https://user-images.githubusercontent.com/30085989/174886021-1654464e-a19d-42a2-b78b-b49709b4d47a.png)

### Minimal reproductio

[2022-06-21 20:25] Harpush commented on #3393
@alex-okrushko @brandonroberts Another possible solution (and maybe even with better performance) is introducing the same projector memoization from ngrx store createSelector to component store selectors. That way refCount as false become irrelevant.

[2022-06-22 05:50] timdeschryver commented on #3462
After some time thinking about this, I realized that (almost) all Observables have a return value.
So, to make this "fix" useful this this would also imply that all types should be accepted as argument?

For now, a workaround would be to create an `unknown` effect.

[code]

The more I think about it, the more I think that this is desired:
- `void` => used for effects without arguments,  `effect()`

[2022-06-22 05:58] Harpush commented on #3462
@timdeschryver  Isn't it a bit misleading though? The unknown value will never be used but the effect will accept anything (number, string, etc...). Concerning void - if the argument will be optional wouldn't it solve both? You can pass nothing or an observable compared to number which require a number or observable of numbers.

If there is an observable the returns a number but the effect has no

[2022-06-22 12:01] kapilSoni101 opened #3463 "TypeError: Converting circular structure to JSON --> starting at object with constructor 'TView' in Angular 12?"
### Minimal reproduction of the bug/regression with instructions

Hi Team,
I am working on angular 12 and hit post API but suddenly its got error in the console i don't use JSON.stringify in my function for calling POST API below.same thing  is working on the angular 8 version but why got error in the 12 version?
 i have shared all details regarding to above error?

    --> starting at object with

[2022-06-22 12:06] yusijs opened #3464 "Component store fails to compile after upgrading to Angular 14"
### Minimal reproduction of the bug/regression with instructions

Error from running ng serve:

[code]

component-store does indeed try to import take from rxjs, but take was not exported from rxjs toplevel prior to >7.

Works fine when downgrading component-store to ^13 again

### Minimal reproduction of the bug/regression with instructions

Would expect component-store@^14.0.0 to just work ™️ wi

[2022-06-22 15:06] timdeschryver commented on #3463
Please define more info.

- How's this related to NgRx?
- What NgRx version are you using?
- Create a reproduction to help us help you

[2022-06-22 15:23] yusijs commented on #3464
I'm on 6.6.7 now. Peer dep from component-store claims to need above 6.5, so should be good there I think. It might be an rxjs issue, but again - component-store *does* try to import take from rxjs (root), so it very much seems like this is something off with component-store.

At the same time, I would expect tests to fail then when I think about it now, so it might be an issue with my dependency

[2022-06-22 15:59] #3464 closed

[2022-06-22 17:58] kapil26021994 commented on #3463
@timdeschryver no sir it's not related to NgRx .can you tell me what I do dor that for fix?

[2022-06-23 01:11] david-shortman commented on #3457
Given that we can use `createSelector` to create memoized functions, the we can create memoized factories:

[code]

If the selector in the issue was declared as so:

[code]

Then this would since `selectBookById('thirdId')` would always return the same selector:

[code]

[2022-06-23 03:51] kapilSoni101 commented on #3463
@timdeschryver i am not asking a question its a issue that is exist in my case

[2022-06-23 15:02] n19htz commented on #1948
getting TypeError: this.defaultDataServiceFactory.create is not a function at EntityDataService.getService with this approach. Any ideas?

[2022-06-23 16:13] blackholegalaxy commented on #3457
This solution seems to work as intended. Is there any drawback writing factory selectors this way?

[2022-06-23 17:18] david-shortman commented on #3457
- Is more verbose
- Is a little bit of an abuse of `createSelector` since we are using it to create a memoized function that returns a selector
- The input must be a single parameter, so you cannot create a factory with multiple parameters (instead, you would have to pass in multiple properties in a single object to the factory)

Idk if the approach should be recommended. But, given some mechanism

[2022-06-24 13:54] alex-vg commented on #2980
There should be a clear alternative given in the deprecation notice.
Currently it's just _"Selectors with props are deprecated, for more info see [[this issue]](https://github.com/ngrx/platform/issues/2980)"._

[2022-06-24 23:00] rovshenn commented on #2991
Same issue here, using component store in a modal, requires us to provide the store in root, which raises above error.

[2022-06-25 07:22] ashikjs commented on #508
U save my day.

[2022-06-26 07:21] fmalcher opened #3468 "schematics(ng-add): cannot add collection when section is not yet available in angular.json"
### Minimal reproduction of the bug/regression with instructions

When installing the NgRx schematics with `defaultCollection` set, adding to `schematicCollections` fails when the section is missing in `angular.json`.

**Expected:**
The script should create the section automatically if it's not there yet. [`@angular-eslint/schematics` implements it like this.](https://github.com/angular-eslint/ang

[2022-06-26 07:37] fmalcher opened #3469 "schematics: 'path' option is using deprecated behavior"
### Minimal reproduction of the bug/regression with instructions

When using the schematics, this kind of warnings will be printed:

[code]

This seems to apply for all generate schematics as well as for `ng-add` of `@ngrx/store`. Haven't thoroughly checked the others.

### Minimal reproduction of the bug/regression with instructions

[code]

### Versions of NgRx, Angular, Node, affected browser(s

[2022-06-27 17:05] timdeschryver commented on #3468
Thanks @fmalcher , I didn't expect that to happen

[2022-06-28 10:23] wawyed commented on #2016
Sorry to bring up an old post but I'm using the [MinimalRouterStateSerializer](https://ngrx.io/api/router-store/MinimalRouterStateSerializer) but I'm still getting CannotFreeze error from strictStateImmutability. Is this a regresion?

[2022-06-28 12:12] rybsonPL opened #3471 "Incorrect reducer test result"
### Information

In line 34 instead of ` expect(state).not.toBe(newState);` it should be ` expect(state).not.toBe(initialState);`

### Documentation page

https://ngrx.io/guide/store/testing#testing-reducers

### I would be willing to submit a PR to fix this issue

- [x] Yes
- [ ] No

[2022-06-28 16:11] timdeschryver commented on #3471
Hi @rybsonPL thanks for raising this issue.
You're right, and I would even suggest to remove that expectation.
Do you want to create a Pull Request for this?

[2022-06-28 16:35] rybsonPL commented on #3471
@timdeschryver  I will.

[2022-06-28 20:51] #3462 closed

[2022-06-29 06:39] #3471 closed

[2022-06-29 06:40] rybsonPL commented on #3471
Problem solved. https://github.com/ngrx/platform/pull/3474

[2022-06-29 17:59] fabioaccetta commented on #3401
It seems that this line is the source of the error:

https://github.com/ngrx/platform/blob/47afba598d13ec0cc50744d0bc6bd47e71afe2d0/modules/data/src/dataservices/persistence-result-handler.service.ts#L61

because, debugging my project, I see that the `if` part of this instruction is always false:

[code]

It appens because `err` is an arrow function of kind `() => error` and not an error instance,

[2022-06-30 13:31] yurakhomitsky commented on #2991
Having the same issue in the `tap` setLoadingStatus

[code]

[code]

[2022-06-30 16:53] elham-sedighi commented on #184
still getting the error `NullInjectorError: No provider for Actions!`
I did what is discussed above but didn't work.
I'm trying to access actions inside a component in the client module. I've set up a shared Store between host and clients (micro-frontend)

[2022-07-02 14:03] markostanimirovic commented on #3446
Hi @ywarezk,

I'm not sure this would be a safe solution for partial exclusion of `zone.js` because declarables that behave differently in zone-full and zone-less mode (such as `LetDirective`, `PushPipe`, or declarables from other libraries) usually check if `zone.js` is present or not by checking the instance of `NgZone` service. With `*ngrxZoneLess` we could not provide `NoopNgZone` to its child

[2022-07-02 16:18] ywarezk commented on #3446
Thanks @markostanimirovic

I do think that the `ngrxPush` can do the same job that it is doing by examining `Zone.current.name !== 'angular'` and not examining the instance of `NgZone` to be `NoopNgZone`.
In the case of examining for `NoopNgZone` the `ngrxPush` will not work properly on cases where you supply your own custom `NgZone`.
[code]

as for the second point it should be well written in th

[2022-07-02 22:32] markostanimirovic commented on #3446
That would be great! You can also create additional helpers for hybrid mode such as registering event listeners outside of the `NgZone` ([more info](https://indepth.dev/posts/1434/running-event-listeners-outside-of-the-ngzone)).

Can't wait to try out your library! 🙂

Btw, I'll convert this issue to discussion. Feel free to share your library in the comment.

[2022-07-05 04:33] erYasar commented on #2767
@timdeschryver / @alex-okrushko / @ngfelixl

How to mock component store effects ? any samples in github?

[2022-07-05 11:43] tkitv commented on #3165
As far as I see it, this behavior was intentional and should never have been changed. Now, the store never knows if all entities have been loaded or not, as the property gets set to true after the first successful call.
The only information you get now from this property is, that something has been loaded at some point.

[2022-07-05 11:51] WojciechKasprzyk commented on #3165
@tkitv Where were you when I was "fixing" it? xD

[2022-07-06 12:25] yurakhomitsky commented on #2991
I was getting the same issue

I fixed it like this
![image](https://user-images.githubusercontent.com/54478076/177549530-f9bd0851-9c84-4021-8891-eb3c724d5bba.png)

[2022-07-07 21:16] spierala commented on #3431
Fixed it with try catch in MiniRx :) https://github.com/spierala/mini-rx-store/pull/117/files

[2022-07-08 03:17] david-shortman commented on #2839
Your suggested API is nice for creating a single observable. My intention for recommending separate streams was for potentially extreme/unnecessary performance concerns. Whenever any of the values changes, a new "view model" object will be created (presumably from using `combineLatest`), potentially causing more areas of the template to be re-evaluated than needed.

[2022-07-08 16:01] MarcManhart commented on #395
This topic is exactly what's on my mind right now!
In my application, various Angular modules should be able to be added or removed, all of which can work on the same data.

I'm hoping for an example here too. Please give us feedback!

[2022-07-08 18:50] moniuch opened #3481 "adapter.getInitialState() - offer selectors for custom EntityState properties"
### Information

I have just double-checked on Stackblitz with `@ngrx/entity@14.0.1` and seems like the following is a missing and valid feature to ask for.

[code]

Stackblitz screenshot:

![image 2022-07-08 20-41-09](https://user-images.githubusercontent.com/681956/178051609-a50b48a7-e4de-4e90-9c92-bd01e34f2c4a.png)

I assume it is also possible to infer and feed to template literals, as you guy